<style>
.deliverables {
  /* padding: 80px 0 65px; */
  /* background-image: url(../img/bg-03.jpg); */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
padding: 85px 0 80px;
background: #00a3c8;
}

.deliverables .deliverables-top h4 {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
}

.deliverables .deliverables-top h4:before {
  position: absolute;
  content: '';
  background: #fff;
  width: 70px;
  height: 1px;
  bottom: 0;
  left: 45%;
  margin-left: -35px;
  margin-bottom: -18px;
}

.deliverables .deliverables-top h4:after {
  position: absolute;
  content: '';
  background: #fff;
  width: 70px;
  height: 1px;
  bottom: 0;
  right: 45%;
  margin-right: -33px;
  margin-bottom: -18px;
}

.deliverables .deliverables-top img {
  margin-bottom: 5px;
}
.deliverables .deliverables-top i {

  color: #fff;
font-size: 22px;
}

.deliverables .deliverables-top p {
  font-size: 16px;
  color: #fff;
  max-width: 550px;
  margin: auto;
  line-height: 28px;
  margin-bottom: 75px;
}

.deliverables .nav {
  padding-left: 15px;
}

.deliverables .nav a.nav-link {
  width: 50%;
  height: 150px;
  text-align: center;

  
  padding-top: 18px;
}
.deliverables .nav a.dlvr-box1 {
 background:#88cc00;
}
.deliverables .nav a.dlvr-box2 {
 background:#00aeef;
}
.deliverables .nav a.dlvr-box3 {
 background:#3a6ee8;
}
.deliverables .nav a.dlvr-box4 {
 background:#7c4ddb;
}
.deliverables .nav a.dlvr-box5 {
 background:#f26522;
}
.deliverables .nav a.dlvr-box6 {
 background:#ffca00;
}
.deliverables .nav a.dlvr-box7 {
 background:#005d58;
}
.deliverables .nav a.dlvr-box8 {
 background:#b62432;
}

.deliverables .nav a.nav-link img {
	max-width: 45px;
	margin-bottom: 10px;
	margin-top: 13px;
}
.deliverables .nav a.nav-link h3 {
	margin-top: 0px;
	color: #fff;
	font-weight: 600;
	font-size: 65px;
}

.deliverables .nav a.nav-link p span {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
}
.deliverables .nav a.nav-link p {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.deliverables .nav a.active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.deliverables .nav a.active p ,.deliverables .nav a.active p span{
  color: #000000;
}

.deliverables .tab-content .tab-pane {
	padding: 18px 25px 22px;
	background: #ffffff;
	min-height: 600px;
}

.deliverables .tab-content .tab-pane .box-heading h4 {
  color: #222222;
  font-weight: 600;
  margin-bottom: 12px;
}

.deliverables .tab-content .tab-pane .content-box p {
  font-size: 12px;
  line-height: 25px;
}

.deliverables .tab-content .tab-pane .content-box p span {
  display: block;
  font-size: 15px;
  color: #969696;
  margin-top: 10px;
}

.deliverables .tab-content .tab-pane .content-box ul li {
  font-size: 15px;
  color: #969696;
  margin-bottom: 12px;
}

.deliverables .tab-content .tab-pane .content-box ul li i {
  color: #00a3c8;
  margin-right: 8px;
}

.deliverables .tab-content .tab-pane .image-box img {
  margin-top: 10px;
  margin-bottom: 20px;
}

.deliverables .tab-content .tab-pane .image-box a {
  font-size: 16px;
  color: #00a3c8;
  font-weight: 600;
  padding: 8px 30px;
  border: 1px solid #00a3c8;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  float: right;
}

.deliverables .tab-content .tab-pane .image-box a:hover {
  background: #00a3c8;
  color: #fff;
}

.deliverables-two {
	padding: 0px 0 0px;
}
.deliverables-two .clibox1{background:#f26522;}
.deliverables-two .clibox2{background:#ffc71f;}
.deliverables-two .clibox3{background:#32c5d2;}
.deliverables-two .clibox4{background:#3a6ee8;}
.deliverables-two .clibox5{background:#7c4ddb;}
.deliverables-two .clibox6{background:#f26d7d;}
.deliverables-two .deliverables2-top h4 {
  color: #222222;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
}

.deliverables-two .deliverables2-top h4:before {
  position: absolute;
  content: '';
  background: #00a3c8;
  width: 30px;
  height: 3px;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  margin-bottom: -23px;
}

.deliverables-two .deliverables-top h4:after {
  position: absolute;
  content: '';
  background: #00a3c8;
  width: 30px;
  height: 3px;
  bottom: 0;
  right: 50%;
  margin-right: -33px;
  margin-bottom: -23px;
}

.deliverables-two .deliverables-top img {
  margin-bottom: 5px;
}

.deliverables-two .deliverables-top p {
  font-size: 16px;
  color: #969696;
  max-width: 550px;
  margin: auto;
  line-height: 28px;
  margin-bottom: 75px;
}

.deliverables-two .nav {
  padding-left: 15px;
  /* margin-bottom: 30px; */
}

.deliverables-two .nav a.nav-link {
 
  height: 160px;
  text-align: center;
  padding: 23px !important;
}

.deliverables-two .nav a.nav-link img {
  max-width: 42px;
  margin-bottom: 10px;
}
.deliverables-two a.nav-link i{
 
color:#ffffff;font-size:38px;

}

.deliverables-two .nav a.nav-link p {
  font-size: 15px;
  color: #fff;
  text-transform:uppercase;
 
}
.deliverables-two .nav a.nav-link h3 {
  margin-top:10px;
  color: #fff;
  font-weight:600;
 
}



.deliverables-two .nav a.active p {
  color: #00a3c8;
}
.nav-tabs--vertical {
        border-bottom: none;
        border-right: 1px solid #ddd;
        display: flex;
        flex-flow: column nowrap;
    }

    .about_sideicon {
        width: 30px;
    }

    .nav-item {
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav-item a {
        color: #000;
    }

    .nav-tabs--left {
        margin: 0 15px;
    }

    .nav-tabs--left .nav-item+.nav-item {
        margin-top: .25rem;
    }

    .nav-tabs--left .nav-link {
        transition: border-color .125s ease-in;
        white-space: nowrap;
    }

    .nav-tabs--left .nav-link:hover {
        background-color: #f7f7f7;
        border-color: transparent;
    }

    .nav-tabs--left .nav-link.active {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
        margin-right: -1px;
        background: #BC2535;
        color: #fff;
        padding: 20px 40px;
    }
</style>
<section class="product_sec">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title"><b>About BBI</b></h3>
        </div>
    </section>

    <!-- footer -->
    

    <!-- Delivery Mods -->
    <section class="deliverables">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 nav p-0">
                            <a data-target="#server" class="nav-link active dlvr-box1" data-toggle="pill">
                                <img src="/assets/images/about_icon1.png" alt="servers">
                                <p>Hoarding</p>
                            </a>
                            <a data-target="#pc" class="nav-link dlvr-box2" data-toggle="pill">
                                <img src="/assets/images/about_icon2.png" alt="computer">
                                <p>Unipole</p>
                            </a>
                            <a data-target="#usb" class="nav-link dlvr-box3" data-toggle="pill">
                                <img src="/assets/images/about_icon3.png" alt="usb">
                                <p>Transit</p>
                            </a>
                            <a data-target="#dvd" class="nav-link dlvr-box4" data-toggle="pill">
                                <img src="/assets/images/about_icon4.png" alt="compact-disc">
                                <p>Airport</p>
                            </a>
                            <a data-target="#tablet" class="nav-link dlvr-box5" data-toggle="pill">
                                <img src="/assets/images/about_icon5.png" alt="tablet">
                                <p>Bus Shelter</p>
                            </a>
                            <a data-target="#thinclient" class="nav-link dlvr-box6" data-toggle="pill">
                                <img src="/assets/images/about_icon6.png" alt="thinclient">
                                <p>Digital</p>
                            </a>
                            <a data-target="#rails" class="nav-link dlvr-box7" data-toggle="pill">
                                <img src="/assets/images/about_icon7.png" alt="thinclient">
                                <p>Rail</p>
                            </a>
                            <a data-target="#retails" class="nav-link dlvr-box8" data-toggle="pill">
                                <img src="/assets/images/about_icon8.png" alt="thinclient">
                                <p>Retail</p>
                            </a>
                           
                        </div>
                        <div class="col-md-9 tab-content p-0">
                            <div class="tab-pane fade show active" id="server" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Hoarding</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_1.png" alt="server-c" class="img-thumbnail img-fluid">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pc" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Unipole</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                       
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_2.png" alt="pc" class="img-thumbnail img-fluid">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="usb" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Transit</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check"></i> <b>Prerequisite:</b> USB port.</li>
                                           
                                        </ul>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_3.png" alt="usb-drive" class="img-thumbnail img-fluid">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dvd" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Airport</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check"></i><b>Prerequisite:</b> DVD ROM to play the disk.</li>
                                          
                                        </ul>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_4.png" alt="dvd" class="img-thumbnail img-fluid">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tablet" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Bus Shelter</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_1.png" alt="tablet" class="img-thumbnail img-fluid">
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="thinclient" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Digital</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_2.png" alt="header-thinclients" class="img-thumbnail img-fluid">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rails" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Rail</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_3.png" alt="header-thinclients" class="img-thumbnail img-fluid">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="retails" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12 box-heading">
                                        <h4>Retail</h4>
                                    </div>
                                    <div class="col-md-7 content-box">
                                        <p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
                                            areas such as alongside busy roads. Billboards present large advertisements to passing
                                            pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
                                            visuals, billboards are highly visible in the top designated market areas.</p>
                                        <p>The largest standard-size billboards, known as Bulletins, are located primarily on major
                                            highways, expressways or principal arterials, and command high-density consumer exposure(mostly
                                            to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
                                            because they allow creative "customizing" through extensions and embellishments.</p>
                                        <p>Posters are the other common form of billboard advertising, located mostly along primary and
                                            secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                                            principally byresidents and commuter traffic, with some pedestrian exposure.</p>
                                    </div>
                                    <div class="col-md-5 image-box">
                                        <img src="/assets/images/carousel_4.png" alt="header-thinclients" class="img-thumbnail img-fluid">
                                       
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Delivery Products -->
