<div class="bbi__about contbg">
    <section class="product_sec">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title mb-5 heading_3"><b class="first_word"><span class="first_letter">A</span>bout BBI</b></h3>
            <div class="">
                <p class="paragraph _para">This is a platform that results in extensive industry research and executive team’s vast experience in media and advertising, marketing and information technology.</p>
                <p class="paragraph _para">Billboards India presents a streamlined interface for ‘Clients’ that allows to shortlist and ad-space, create campaigns, request proposals from multiple vendors and negotiate pricing in real-time. With just a few clicks of a mouse customers can share their campaign info and apply for discounted billboards. Geo- tagging of ad-spaces in an innovative format in maps which can be easy to access, find hoardings location.</p>
                <p class="paragraph _para">Billboards India provides instant contact with local, regional and national media buyers and advertising agencies for ‘Owners (vendors)’. Media Vendors have complete control over their inventory and can achieve optimal pricing by negotiating rates in a real-time. To the agencies there will be given a Dashboard that allows them to check all their hoardings, booked and un-booked hoardings and a notification tray that allows them to get notified about client’s payment dues and campaign end period and also it notifies to clients and it notifies about new customers who requested for their ad-space.</p>
                <p class="paragraph _para">Advertising agencies benefit from consolidating an entire campaign planning process using the platform’s continually updated database. Administrative tasks of locating, negotiating and booking outdoor ads, and date & time requirements associated with this process are streamlined and optimized considerably.</p>
                <p class="paragraph _para">Our service takes an active role in broadcasting information for our clients, and make strategies to inform their target audiences about the products, services and related activities, through various outdoor media, such as Hoardings, Billboards, Unipoles, Flyover Spans, Center median, Retail.</p>
            </div>
            <h5 class="mt-5 mb-2 heading_3"><b style="color:#BC2535;">Goal:</b></h5>
            <div class="">
                <p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
                    secondary arterial roads. Posters are a smaller format than bulletins and are viewed
                    principally byresidents and commuter traffic, with some pedestrian exposure.</p>
            </div>
        </div>
    </section>

    <!-- blog -->
    <section class="blog_mob-temsls py-5" id="blog">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <!-- blog grid -->
                <div class="col-lg-4 col-md-4">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Team_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">Our Team
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="#/ourteam" class="btn btn-danger button_about">Our Team</md-button>                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //blog grid -->
                <!-- blog grid -->
                <div class="col-lg-4 col-md-4 mt-lg-0 mt-md-0 mt-2">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Careers_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">Careers
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="#/joincareers" class="btn btn-danger button_about">Join Team</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //blog grid -->
                <!-- blog grid -->
                <div class="col-lg-4 col-md-4 mt-lg-0 mt-md-0 mt-2">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Services_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">
                                    Services
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="#/fullservices" class="btn btn-danger button_about">Full Services</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //blog grid -->
            </div>
        </div>
    </section>
    <!-- //blog -->
</div>