<div class="bbi__about contbg">
    <section class="product_sec">
        <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title mb-5 heading_3"><b class="first_word"><span class="first_letter">A</span>bout BBI</b></h3>
            <div class="">
                <p class="paragraph _para">Billboards India, since its inception in 2017 has taken huge strides in revolutionizing the advertising industry in India. Our activities span Out of Home Advertising (OOH) including Billboards, Unipoles, Bus Shelter etc., to Digital Mediums in Transit like India's first Digital Screens inside Hyderabad Metro Trains. Billboards India is the official partner of L&T Hyderabad Metro for this one-of-a-kind digital medium and boasts clientele across Hyderabad.</p>
                <p class="paragraph _para">As Billboards India sets sights on even more ambitious goals, we remain inspired and guided by the story and philosophy of our CEO,<br> Mr. Chanikya Varma who followed his dream to change India's advertising climate using technology. An all-around Application for easy management of OOH campaigns and technologically ahead-of-the-curve Metro Screen mediums make sure that Billboards India fully automates the process and gives control to the client as it should be.</p>
                <p class="paragraph _para">Our ultimate aim has always been – and will always be – to touch the lives of people in a positive way.</p>
            </div>
            <h5 class="mt-5 mb-2 heading_3"><b style="color:#BC2535;">Goal:</b></h5>
            <div class="">
                <p class="paragraph _para">Our first and foremost goal is stellar-customer experience and providing our clients to manage their campaigns at the touch of a button i.e. making sure the client is in control as it should be with the help of cutting-edge technology.</p>
            </div>
        </div>
    </section>

    <!-- blog -->
    <!-- <section class="blog_mob-temsls py-5" id="blog">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Team_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">Our Team
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="#/ourteam" class="btn btn-danger button_about">Our Team</md-button>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-lg-0 mt-md-0 mt-2">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Careers_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">Careers
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="#/joincareers" class="btn btn-danger button_about">Join Team</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-lg-0 mt-md-0 mt-2">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="#">
                                <img class="card-img-bottom" src="/assets/images/Services_1.png" alt="image">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <div class="mb-3">
                                <h5 class="text-center blog-title card-title font-weight-bold m-0">
                                    Services
                                </h5>
                            </div>
                            <p class="text-center">Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                            <div id="wrapper" class="text-center">
                                <md-button type="" ng-href="#/fullservices" class="btn btn-danger button_about">Full Services</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>