<div ng-cloak style="padding-top:100px;" ng-controller="campaiginController">
  <md-content class="md-padding" layout="column" layout-sm="column" layout-xs="column">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Running Campaigns">
        <div class="inputDiv">
          <md-icon></md-icon>
          <input ng-model="user.Search" class="search" type="text" placeholder="Search Campaning Name/Date">
        </div>
        <div class="header" style="height:90px;background-color:#488edf"></div>
        <div layout="row" style="margin-top:-3%">
          <div flex="30" flex-offset="15">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <img src="assets/images/icons/004-sign.png" />
                </md-card-avatar>
              </md-card-header>
              <md-card-title-text>
                <span class="md-title">Clent Details</span>
              </md-card-title-text>

              <md-card-content>

                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                  Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>              
            </md-card>
          </div>
          <div flex="30">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <img src="assets/images/icons/004-sign.png" />
                </md-card-avatar>
              </md-card-header>
              <md-card-title-text>
                <span class="md-title">Campaign Summary</span>
              </md-card-title-text>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                  Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <div layout="row">
          <div flex="30" flex-offset="15">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <img src="assets/images/icons/004-sign.png" />
                </md-card-avatar>
              </md-card-header>
              <md-card-title-text>
                <span class="md-title">Payment Details</span>
              </md-card-title-text>

              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                  Greene's musical language: feel it. It's a simple request, as well...
                </p>

              </md-card-content>
            </md-card>
          </div>
          <div flex="30">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <img src="assets/images/icons/004-sign.png" />
                </md-card-avatar>
              </md-card-header>
              <md-card-title-text>
                <span class="md-title">Recently Updated Payments</span>
              </md-card-title-text>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                  Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <md-button class="md-raised md-primary updated_paymentbtn" ng-click="showPaymentdailog()">Update Payment</md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <!-- <md-content class="md-padding">
        <md-button class="md-primary md-raised" ng-click="showPaymentdailog()"> Prompt Dialog</md-button>
        </md-content> -->
      </md-tab>
      <!-- first tab closed -->

      <md-tab label="Planned">
        <md-content class="md-padding">
          <div class="inputDiv">
            <md-icon></md-icon>
            <input ng-model="user.Search" class="search" type="text" placeholder="Search Campaning Name/Date">
          </div>
          <div class="header" style="height:90px;background-color:#488edf"></div>
          <div layout="row" style="margin-top:-3%">
            <div flex="30" flex-offset="15">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>

                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
              </md-card>
            </div>
            <div flex="30">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
              </md-card>
            </div>
          </div>
          <div layout="row">
            <div flex="30" flex-offset="15">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>

                </md-card-content>
              </md-card>
            </div>
            <div flex="30">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Closed">
        <md-content class="md-padding">
          <div class="inputDiv">
            <md-icon></md-icon>
            <input ng-model="user.Search" class="search" type="text" placeholder="Search Campaning Name/Date">
          </div>
          <div class="header" style="height:90px;background-color:#488edf"></div>
          <div layout="row" style="margin-top:-3%">
            <div flex="30" flex-offset="15">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>

                </md-card-content>
              </md-card>
            </div>
            <div flex="30">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
              </md-card>
            </div>
          </div>
           <div layout="row">
            <div flex="30" flex-offset="15">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
              </md-card>
            </div>
            <div flex="30">
              <md-card>
                <md-card-header>
                  <md-card-avatar>
                    <img src="assets/images/icons/004-sign.png" />
                  </md-card-avatar>
                </md-card-header>
                <md-card-title-text>
                  <span class="md-title">Clent Details</span>
                </md-card-title-text>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>