<md-dialog flex-xs="100" flex="100" show-xs  hide-gt-xs style="height:100%;border-radius:0px;" ng-controller="GmapCtrl">


<md-dialog-content>
<div layout="column" layout-sm="column" layout-xs="column" class="contbg" show-xs show-sm hide-gt-sm>
    <div layout="row" class="top-toolbar">
        <div class="filters-inner">
            <md-button ng-click="close()" class="md-icon-button">
                <md-icon style="color: #fff;"><i class="material-icons">keyboard_backspace</i></md-icon>
            </md-button>
        </div>
        <div class="filters-text">Filters</div>
        
    </div>
    <!-- filters html start-->
        <div layout="column" layout-padding class="side-navpadding" layout-fill flex style="padding:0px">

            <div layout="column" style="padding:0px">
               <div class="" id="filterscrollbar-style">
                <!-- dateselection html end-->
                <div layout="column" layout-padding>
                    <div class="md-subhead">Area</div>
                    <!-- pincode,area,tab id section start-->
                    <form class="filter-form">
                    <md-input-container class="pstcde" style="width:100%">
                        <!-- <label for="testInput">Postcode,Area Name,Tab ID</label> -->

                        <input vs-google-autocomplete type="text" id="testInput" md-autofocus ng-model="address.name" vs-place="address.place" vs-place-id="address.components.placeId"
                        vs-street-number="address.components.streetNumber" vs-street="address.components.street" vs-city="address.components.city"
                        vs-state="address.components.state" vs-country-short="address.components.countryCode" vs-country="address.components.country"
                        vs-post-code="address.components.postCode" vs-district="address.components.district" vs-latitude="address.components.location.lat"
                        vs-longitude="address.components.location.lng" type="text" name="address" aria-label="google-autocomplete"
                        ng-change="setNewAddress()">
                    </md-input-container>
                    </form>
                    <!-- pincode,area,tab id section end-->
                    <!--slider html start -->

                    <div layout="row" class="">
                    <div class="range md-body-1" flex="20">Range</div>
                    <div flex class="slider-range">
                        <md-slider md-discrete ng-model="circleRadius" min="0" max="100" gap="0" aria-label="rating" id="red-slider" ng-change="updateCircle()"></md-slider>
                    </div>
                    <div class="rnge md-body-1" flex="20">KMS</div>
                    </div>

                    <!--slider html end -->
                    <div>
                    <md-divider></md-divider>
                    <div layout="column" layout-margin>
                        <div class="md-body-1">Select Multiple Locations</div>
                    </div>

                    <md-divider></md-divider>
                    <div layout="row" layout-margin>
                        <div flex="50" class="armrgn">
                        <md-input-container>
                            <label>Select Country </label>
                            <md-select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="selectedCountry" ng-change="setCountry()">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-repeat="country in countries | filter:searchTerm" value="{{country.id}}">{{country.name}}</md-option>
                            </md-select required>

                        </md-input-container>
                        </div>
                        <div flex="50" class="armrgn">
                        <md-input-container>
                            <label> Select State</label>
                            <md-select ng-model="selectedStates" class="select-value" ng-disabled="!selectedCountry" md-on-close="clearSearchTerm()"
                            data-md-container-class="selectdemoSelectHeader" ng-change="setStates()" multiple>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search for a state.." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="states">
                                <md-option ng-value="state.id" ng-repeat="state in states | filter:searchTerm">{{state.name}}</md-option>
                            </md-optgroup>
                            </md-select>
                        </md-input-container>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-margin>
                        <div flex="50" class="armrgn">
                        <md-input-container style="width:100%">
                            <label>Select City</label>
                            <md-select ng-model="selectedcitys" ng-disabled="!selectedStates" ng-change="setCities()" md-on-close="clearSearchTerm()"
                            data-md-container-class="selectdemoSelectHeader" multiple>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search for a city.." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="citys">
                                <md-option ng-value="city.id" ng-repeat="city in cities | filter:searchTerm">{{city.name}}</md-option>
                            </md-optgroup>
                            </md-select>
                        </md-input-container>
                        </div>
                        <div flex="50" class="armrgn">
                        <md-input-container style="width:100%">
                            <label>Select Areas</label>
                            <md-select ng-model="selectedAreas" ng-change="setareas()" ng-disabled="!selectedcitys" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                            multiple>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search for a area.." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="areas">
                                <md-option ng-value="area.id" ng-repeat="area in areas | filter:searchTerm">{{area.name}}</md-option>
                            </md-optgroup>
                            </md-select>
                        </md-input-container>
                        </div>
                    </div>
                    </div>
                </div>
                </div> 
                  <md-divider></md-divider>
            <div layout="row" layout-align="center center" style="margin: 25px 0px 0 0;">
              <md-button class="md-raised md-primary" type="submit" ng-click="applyFilter()">APPLY</md-button>
              <md-button class="md-warn " type="reset" value="Reset"><span class="md-body-1" ng-click="resetFilters()">Cancel</span> </md-button>
            </div>
            </div>
         
          
        </div>
        <!-- filters html end-->
    <md-divider layout-fill></md-divider>
</div>

<div layout="row" class="" show-xs hide-gt-xs  layout-align="space-around center" >
    <div layout="column" class="formats-types">
      <div ng-repeat="formatGroup in formatGrid">
        <div layout="row" layout-align="space-around center">
          <div ng-repeat="format in formatGroup track by $index">
            <div layout="column" class="digital-board">
              <div ng-cloak style="border-right:1px solid #ccc">
                <md-button class="md-grid-item-content" ng-click="toggleFormatSelection(format.id)" ng-class="{'red' : isFormatSelected(format.id)}" ng-if="format">
                
                  <img ng-src="{{serverUrl + format.image}}" class="img-size">
                  <div class="md-caption">{{format.name}}</div>
                </md-button>
                <md-button class="md-grid-item-content" style="padding:36px 0px;" disabled ng-if="!format">
              </div>
            </div>
            <md-divider></md-divider>
          </div>
        </div>
        <md-divider></md-divider>
      </div>
    </div>

  </div> 
</md-dialog-content>
</md-dialog>