<style>
  .red{
    color:#f00;
  }
</style>
<div layout="column" layout-sm="column" layout-xs="column" class="bbsco contbg">
  <div layout="column" layout-align="center center" class="pricing-head" style="margin-top:20px;color:#980000">
    <div class="md-display-1 pricing-inner ">Different Type of OOH Advertising</div>
  </div>
  <div class="">
    <div layout="column" class="" flex-offset-gt-md="5" flex="90" flex-xs="100" flex-sm="100" flex-md="100" style="margin-top: 30px">
      <div flex layout="row" class="md-whiteframe-2dp contbg">

        <md-list flex layout="row">
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
                <span><md-icon md-svg-icon="/assets/images/icons/001-shop.svg"></md-icon></span>
                <div class="md-body-2"> HOARDING </div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 1}" ng-click="selectedFormatIndex = 1">
                <span><md-icon md-svg-icon="assets/images/icons/004-sign.svg"></md-icon></span>
                <div class="md-body-2"> Unipole</div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 2}" ng-click="selectedFormatIndex = 2">
                <span><md-icon md-svg-icon="assets/images/icons/003-bus.svg"></md-icon></span>
                <div class="md-body-2"> TRANSIT </div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 3}"  ng-click="selectedFormatIndex = 3">
                <span><md-icon md-svg-icon="assets/images/icons/002-airplane.svg"></md-icon></span>
                <div class="md-body-2">airport </div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 4}" ng-click="selectedFormatIndex = 4">
                <span><md-icon md-svg-icon="assets/images/icons/001-bus-stop.svg"></md-icon></span>
                <div class="md-body-2"> bus shelter</div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 5}" ng-click="selectedFormatIndex = 5">
                <span><md-icon md-svg-icon="assets/images/icons/003-billboard.svg"></md-icon></span>
                <div class="md-body-2"> digital </div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 6}" ng-click="selectedFormatIndex = 6">
                <span><md-icon md-svg-icon="assets/images/icons/002-train.svg"></md-icon></span>
                <div class="md-body-2"> rail </div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item style="padding:5px">
            <div>
              <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 7}" ng-click="selectedFormatIndex = 7">
                <span><md-icon md-svg-icon="assets/images/icons/001-shop.svg"></md-icon></span>
                <div class="md-body-2"> retail</div>
              </md-button>
            </div>
          </md-list-item>

        </md-list> 
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 0">
        <div class="md-display-2 frt-head">Billboards</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <!-- <div>
          <img src="assets/images/formats/Hoardings.jpg" alt="images" width="100%">
        </div> -->
        <!--new slider-->
         <section class="assets-section">
            <div class="section-bg"></div>
            <div class="assets-container p-0">
                <div class="carousel-container pb-4">
                    <div id="roomsCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/Hoardings.jpg);">
                                <p style="">Hillside King Room</p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/Roadside.jpg);">
                                <p style="">Hillside Double King Room</p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/Airport.jpg);">
                                <p style="display: none;">Riverside King Room</p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/BusShelter.jpg);">
                                <p style="display: none;">Double King Room</p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/Digital.jpg);">
                                <p style="display: none;">Junior Suite </p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/Retail.jpg);">
                                <p style="display: none;">Riverside Suite</p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover" style="background-image: url(../assets/images/formats/Roadside.jpg);">
                                <p style="display: none;">Deluxe Hillside Suite</p>
                            </div>
                            
                            <div class="rooms-image-asbg carousel-item bg-cover active" style="background-image: url(../assets/images/formats/Roadside.jpg);">
                                <p style="display: none;">Deluxe Riverside Suite</p>
                            </div>
                            
                            <a class="control-prev" href="#roomsCarousel" role="button" ng-non-bindable data-slide="prev">   
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="control-next" href="#roomsCarousel" role="button" ng-non-bindable data-slide="next">   
                                <i class="fa fa-angle-right" aria-hidden="true"></i>                    
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <h5 class="room-caption-copy">Billboards</h5>
                        <div class="tt-region" >
                          <div class="tt-region_ped">
                            <a href="javascript:void(0);" title="Book now" class="yellow-btn" show-booking-widget="">Book now</a>
                          </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </section> 
        <!--new slider end -->

      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 1">
        <div class="md-display-2 frt-head">unipole</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
         <img src="assets/images/formats/Roadside.jpg" alt="images" width="100%">
        </div>
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 2">
        <div class="md-display-2 frt-head">transit</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
          <img src="assets/images/formats/Transit.jpg" alt="images" width="100%">
        </div>
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 3">
        <div class="md-display-2 frt-head">airport</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
          <img src="assets/images/formats/Airport.jpg" alt="images" width="100%">
        </div>
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 4">
        <div class="md-display-2 frt-head">bus shelter</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
          <img src="assets/images/formats/BusShelter.jpg" alt="images" width="100%">
        </div>
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 5">
        <div class="md-display-2 frt-head">digital</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
          <img src="assets/images/formats/Digital.jpg" alt="images" width="100%">
        </div>
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 6">
        <div class="md-display-2 frt-head">rail</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
          <img src="assets/images/formats/Rail.jpg" alt="images" width="100%">
        </div>
      </div>

      <div layout="column" class="formats-page md-whiteframe-3dp" layout-align="space-between" ng-show="selectedFormatIndex == 7">
        <div class="md-display-2 frt-head">retail</div>
        <div class="frt-text">
          A billboard is a large outdoor structure (a billing board), typically found in high-traffic areas such as alongside busy
          roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing large, seemingly
          amusing slogans, and distinctive visuals, billboards are highly visible in the top designated market areas.
        </div>
        <div class="frt-text">
          The largest standard-size billboards, known as Bulletins, are located primarily on major highways, expressways or principal
          arterials, and command high-density consumer exposure (mostly to vehicular traffic). Bulletins afford greatest
          visibility due not only to their size, but because they allow creative "customizing" through extensions and embellishments.
        </div>
        <div class="frt-text">
          Posters are the other common form of billboard advertising, located mostly along primary and secondary arterial roads. Posters
          are a smaller format than bulletins and are viewed principally by residents and commuter traffic, with some pedestrian
          exposure.
        </div>
        <div>
          <img src="assets/images/formats/Retail.jpg" alt="images" width="100%">
        </div>
      </div>

    </div>
    <!-- <div class="fab-dail">
			<md-button aria-label="Facebook" class="md-fab md-raised " ng-click="showContact($event)" style="background:#488edf">
				<md-icon aria-label="Facebook"><i class="material-icons" style="color: #fff;">call</i></md-icon>
			</md-button>
		</div> -->
  </div>


  

</div>