<div layout="column">
	<!-- banner html start-->
	<div layout="column" class="banner">
		<img src="assets/images/product/banner@2x.png" />
		<div class="banner-text11">
			<div hide-xs>
				<span class="md-headline">Our Clients Are Our Frist priority</span></br>
				</span>
				<span class="md-display-2" style="font-weight:900"> WELCOME TO BILLBOARD</span>
			</div>
			<div layout="row">
				<md-button class="md-primary watch-btn" ng-click="showVideo($event)">WATCH VIDEO</md-button>
				<md-button class="md-raised md-primary getstart-btn ">GET STARTED NOW</md-button>
			</div>
		</div>

		<div class="fab-dail">
			<!-- <div class="lock-size" layout="row" layout-align="center center">
				<md-fab-speed-dial md-direction="up" class="md-fling">
					<md-fab-trigger>
						<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
							<md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
						</md-button>
					</md-fab-trigger>
					<md-fab-actions>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)">
							<md-icon aria-label="Facebook"><i class="material-icons">call</i></md-icon>
						</md-button>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
							<md-icon aria-label="Facebook"><i class="material-icons">chat</i></md-icon>
						</md-button>

					</md-fab-actions>
				</md-fab-speed-dial>
			</div> -->
			<md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)" style="background:#488edf">
				<md-icon aria-label="Facebook"><i class="material-icons" style="color: #fff;">call</i></md-icon>
			</md-button>
		</div>

	</div>
	<!-- banner html end-->

	<!-- what we do html start-->

	<div class="whtwedo contbg" id="code">
		<div layout=" column" layout-align="center center" layout-margin layout-padding ng-animate="'animate'">
			<h2 class="md-headline">WHAT WE DO</h2>
			<p class="md-subhead whatwetext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut. Integer
				mattis mauris vel ante maximus, eget scelerisque dolor semper.</p>
		</div>
		<div layout="row" layout-padding flex-offset-gt-sm="10" flex="80" flex-xs="100" flex-sm="100">
			<div layout="row" flex="33" layout-margin>
				<div>
					<!-- <md-icon md-svg-icon="assets/images/icon/gouge.svg" id="left"> </md-icon> -->
					<img src="assets/images/icons/gouge.png" alt="text" class="mrgn-top" />
				</div>
				<div class="">
					<span class="md-subhead fnt-weight">Point of Interest</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>
			<div layout="row" flex="33" layout-margin>
				<div><img src="assets/images/icons/chat.png" alt="text" class="mrgn-top" /></div>
				<div class="">
					<span class="md-subhead fnt-weight">Check Availability</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>
			<div layout="row" flex="33" layout-margin>
				<div><img src="assets/images/icons/phone.png" alt="text" style="margin-top:10px" /></div>
				<div class="">
					<span class="md-subhead fnt-weight">Shortlist</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>
		</div>
		<div layout="row" layout-padding flex-offset-gt-sm="10" flex="80" flex-xs="100" flex-sm="100">

			<div layout="row" flex="33" layout-margin>
				<div>
					<!-- <md-icon md-svg-icon="assets/images/icon/gouge.svg" id="left"> </md-icon> -->
					<img src="assets/images/icons/adjustments.png" alt="text" class="mrgn-top" />
				</div>
				<div class="">
					<span class="md-subhead fnt-weight">Save Campaings</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>


			<div layout="row" flex="33" layout-margin>
				<div><img src="assets/images/icons/cart.png" alt="text" class="mrgn-top" /></div>
				<div class="">
					<span class="md-subhead fnt-weight"> Request Proposal</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>

			<!-- chart png image -->
			<div layout="row" flex="33" layout-margin>
				<div><img src="assets/images/icons/chart.png" alt="text" class="mrgn-top" /></div>
				<div class="">
					<span class="md-subhead fnt-weight">Excute Campaings</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>

			<!-- end here  -->
		</div>
	</div>
	<!-- search html start-->

	<div layout="column" layout-sm="column" layout-xs="column" class="bbsco">
		<div layout="row" layout-xs="column" layout-margin layout-padding>
			<div layout="column" flex="50" flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100">
				<div class="bbscb">Search every Billboard in india</div>
				<div class="bbscl">India's No. 1 search site for billboards </div>
			</div>
			<form name="signin" method="post" ng-submit="userSignin()" novalidate="novalidate" layout="row" layout-xs="column" flex="50"
			 flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100">
				<div layout-fill="layout-fill" layout-fill="$mdMedia('gt-sm')" class="bbsct">
					<md-input-container class="md-block">
						<label>Area Name (or) Postcode</label>
						<input ng-model="RCBack" type="text" />
					</md-input-container>
				</div>
				<div class="bbscont">
					<md-button aria-label="submitRCB" class="md-raised md-primary newbbsub">Browse Billboards</md-button>
				</div>
			</form>
		</div>
	</div>
	<!-- search html end-->

	<!-- India's No 1 Outdoor Advertising Company html start-->
	<div layout="column" class="nocompany">

		<img src="assets/images/product/bannertwo.png" />
		<div class="banner-two">
			<md-button class=" md-primary adplace-btn">PLACE YOUR AD HERE</md-button>
		</div>

	</div>
	<!-- Slider start here html start-->
	<slick class="slider main-slider" settings="slickConfig2" ng-if="slickConfig2Loaded">

		<div class="item item-home md-whiteframe-1dp" layout-margin>

			<div class=" caption"><a href="#/formats">billboards</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-margin>
			<div class="caption"><a href="#/formats">unipole</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-3dp" layout-margin>
			<div class="caption"><a href="#/formats">digital</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-3dp" layout-margin>
			<div class="caption"><a href="#/formats">retail</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-3dp" layout-margin>
			<div class="caption"><a href="#/formats">transit</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-3dp" layout-margin>
			<div class="caption"><a href="#/formats">airport</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-3dp" layout-margin>
			<div class="caption"><a href="#/formats">bus</a> </div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-3dp" layout-margin>
			<div class="caption"><a href="#/formats">rail</a></div>
			<div class="md-body-1">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>

	</slick>
	<!-- Slider start html end-->
	<!--We Make Outdoor Advertising Easy html start -->
	<div layout-xs="column" layout-gt-xs="column" flex-gt-xs="100" flex-xs="100" class="wemake-outdoor" layout-margin layout-padding>
		<div class="md-headline">We Make <span class="theme-text">Outdoor Advertising</span> Easy</div>
		<div class="md-subhead" style="opacity:.5">
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
			and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
			typesetting, remaining essentially unchanged.
		</div>

		<div layout="row" layout-gt-xs="row" layout-xs="column" layout-align=" center center" layout-margin layout-padding>
			<div>
				<span class="theme-text md-headline border"> 01</span><span class="md-headline">CONTACT</span>
			</div>
			<div>
				<span class="theme-text md-headline border"> 01</span><span class="md-headline">BOOKING</span>
			</div>
		</div>
		<div class="md-headline">Every Billboards in <span class="theme-text">India Wide</span> </div>

	</div>

	<!-- -->
	<div layout="column" layout-gt-xs="column" class="out-media">
		<div layout="row" layout-gt-xs="row" layout-xs="column">
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" class="part-one">
				<div layout="column" layout-margin layout-align="center center">
					<div class="md-display-1">Outdoor Media Insight</div>
					<div class="md-display-3" style="color:#eee">75 <span class="theme-text">%</span></div>
					<div class="md-display-1">Of consumers see Billboards </div>
					<div class="md-display-1 theme-text">Everyday</div>
				</div>
			</div>
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" class="part-two" layout-align="center center">
				<img ng-src="assets/images/product/Group-30.png" alt="Banner one" class="md-card-image" />
			</div>
		</div>
		<div layout="row" layout-gt-xs="row" layout-xs="column">
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" class="part-three" layout-align="center center">
				<img ng-src="assets/images/product/Group-36.png" alt="Banner one" class="md-card-image" />
			</div>
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" class="part-four">
				<div layout="column" layout-margin layout-align="center center">
					<div class="md-display-1">Outdoor Media </div>
					<div><img src="assets/images/product/Group-35.png"></div>
					<div class="md-display-1">Is the <span class="theme-text">biggest driver</span> of web traffic </div>
					<div class="md-display-1"> for your <span class="theme-text">people</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- weekly showcase Section start-->
	<div layout="column" class="weekly-case">

		<div layout="row" layout-gt-xs="row" layout-xs="column">

			<div layout="column" class="" flex="40" layout-padding>
				<div layout="column" layout-margin>
					<div class="md-headline" style="color:#95989A">Weekly Site</div>
					<div class="md-headline theme-text">Showcase</div>
					<div class="md-subhead"><span style="font-weight:900">Format Size:</span> <span>90*30</span></div>
					<div class="md-subhead"><span style="font-weight:900">Matter:</span> <span>Jubilee Hills check post</span></div>
					<div class="md-subhead">More than <span class="md-display-1 theme-text">75,000</span> vehicles pass through this check post. The billboard is
						situated right above the bharath petroleum and has the best view to the people who pass through this check post.
					</div>
				</div>

				<md-list flex layout="row" layout-align="end center">
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span><md-icon><i class="material-icons">file_download</i></md-icon></span>
								<div class="md-caption"> DOWNLOAD SITE CARD</div>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span><md-icon><i class="material-icons">speaker_notes</i></md-icon></span>
								<div class="md-caption"> REQUESTPROPOSAL </div>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span><md-icon><i class="material-icons">share</i></md-icon></span>
								<div class="md-caption"> share </div>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
			</div>
			<div layout="column" class="" flex="60">
				<div class="image-contaienr-new">

					<img ng-src="assets/images/product/image-5.png" alt="Banner one" class="md-card-image" style="width: 100%" /></div>
			</div>

		</div>
	</div>

	<!-- keep in touch-->
	<div layout="column" layout-xs="column" class="conts">

		<div layout="column" layout-margin layout-align="center center">
			<div class="md-display-1">KEEP IN TOUCH</div>
			<div class="md-body-1">Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.</div>
		</div>
		<div layout="row" style="padding-top:50px;">
			<div layout="column" flex="50" flex-sm="50" flex-xs="100" class="contsl">
				<div layout="column" flex-offset-gt-sm="50" class="contst" layout-margin>
					
					<div class="theme-text md-title">Our Address</div>
					<div class="contsm">
						<address class="md-subhead">RamaKrishna Towers <br/>#108,Beside Image Hospital<br/>Ameerpet, Hyderabad - 50073</address>
					</div>

					
					<div class="theme-text  md-title" >Contact Us</div>
					<div class="md-subhead">+91 9666662263</div>
					<div class="theme-text  md-title">Email Us </div>
					<div class="md-subhead">reach@billboardsindia.com</div>
				
				</div>
				
			</div>
			<div layout="column" layout-sm="column" flex="50" flex-sm="50" flex-xs="100" class=" contsr" layout-matgin layout-padding>

				<div layout="column" layout-sm="column" class="confor">
					<form>
						<md-input-container class="md-block">
							<label>Name</label>
							<input ng-model="name" />
						</md-input-container>
						<md-input-container class="md-block">
							<label> Email</label>
							<input ng-model="email" />
						</md-input-container>
						<md-input-container class="md-block">
							<label>Company Name</label>
							<input ng-model="companyName" />
						</md-input-container>
						<md-input-container class="md-block">
							<label>Message</label>
							<input ng-model="message" />
						</md-input-container>

						<div class="forsubmCon">
							<md-button class="md-raised md-primary forsubm">Send Massage</md-button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<!-- new letter-->
	<div class="newletter">
		<div layout="column">
			<div><img ng-src="assets/images/product/map.png" alt="map" width="100%"></div>
		</div>
		<div layout="column" class="news-inner" style="background: #000" layout-padding flex-offset-gt-sm="10" flex="80" flex-xs="100"
		 flex-sm="100">
			<div layout="row" layout-margin layout-padding>
				<div layout="column" flex="33" class="theme-txt">
					<div class="md-display-1 line-bi">Billboard</div>
					<div class="md-subhead line-text">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
				<div layout="column" flex="33" class="theme-txt">
					<div class="md-headline line-sub">Subscribe to Newsletter</div>
					<div>
						<form name="signin" novalidate="novalidate">
							<md-input-container class="md-block">
								<label style="color: #eee">Email Address</label>
								<input ng-model="user.email" name="email" type="email" minlength="10" maxlength="30" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
								/ style="outline: 1px solid #fff;border: none">
							</md-input-container>
						</form>
					</div>
					<div class="md-subhead line-text">eusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				</div>
				<div layout="column" flex="33">
					<div class="md-headline theme-txt line-sub">Explore</div>
					<div layout="row">
						<div ayout="column" flex="50" class="theme-txt md-body-1 line-text">
							<div class="">Envato</div>
							<div class=" ">Themecurve</div>
							<div class="">Kreativeshowcase</div>
							<div class="">Freebiescurve</div>

						</div>
						<div ayout="column" flex="50" class="theme-txt md-body-1 line-text">
							<div class="">Themeforest</div>
							<div class="">Microsoft</div>
							<div class="">Google</div>
							<div class="">Freebiescurve</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- slider-->
</div>