<div layout="column">
	<!-- banner html start-->
	<div layout="column" class="banner">
		 <img src="assets/images/product/banner@2x.png" /> 
		<!-- <img src="assets/images/product/bb-banner-2.png" /> -->
		 <div class="banner-text11">
			<div hide-xs>
				<span class=" md-title">Our Clients Are Our Frist priority</span></br>
				</span>
				<span class="md-display-2"> WELCOME TO BILLBOARD</span>
			</div>
			<div layout="row">
				<md-button class="md-raised md-primary">WATCH VIDEO</md-button>
				<md-button class="md-raised md-warn">GET STARTED NOW</md-button>
			</div>
		</div> 

		<div class="fab-dail">
			<!-- <div class="lock-size" layout="row" layout-align="center center">
				<md-fab-speed-dial md-direction="up" class="md-fling">
					<md-fab-trigger>
						<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
							<md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
						</md-button>
					</md-fab-trigger>
					<md-fab-actions>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)">
							<md-icon aria-label="Facebook"><i class="material-icons">call</i></md-icon>
						</md-button>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
							<md-icon aria-label="Facebook"><i class="material-icons">chat</i></md-icon>
						</md-button>

					</md-fab-actions>
				</md-fab-speed-dial>
			</div> -->
			<md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)">
							<md-icon aria-label="Facebook"><i class="material-icons">call</i></md-icon>
						</md-button>
		</div>

	</div>
	<!-- banner html end-->

	<!-- what we do html start-->

	<div class="whtwedo contbg" id="code">
		<div layout=" column" layout-align="center center" layout-margin layout-padding ng-animate="'animate'">
			<h2 class="md-headline">WHAT WE DO</h2>
			<p class="md-subheadv whatwetext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut. Integer
				mattis mauris vel ante maximus, eget scelerisque dolor semper.</p>
		</div>
		<div layout="row" layout-margin layout-padding flex-offset-gt-sm="10" flex="80" flex-xs="100" flex-sm="100">
			<div layout="row" flex="33">
				<div>
					<!-- <md-icon md-svg-icon="assets/images/icon/gouge.svg" id="left"> </md-icon> -->
					<img src="assets/images/icons/gouge.png" alt="text" />
				</div>
				<div class="margin-left">
					<span class="md-subhead">Point of Interest</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>
			<div layout="row" flex="33">
				<div><img src="assets/images/icons/chat.png" alt="text" /></div>
				<div class="margin-left">
					<span class="md-subhead">Check Availability</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>
			<div layout="row" flex="33">
				<div><img src="assets/images/icons/phone.png" alt="text" /></div>
				<div class="margin-left">
					<span class="md-subhead">Shortlist</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>
		</div>
		<div layout="row" layout-margin layout-padding flex-offset-gt-sm="10" flex="80" flex-xs="100" flex-sm="100">

			<div layout="row" flex="33">
				<div>
					<!-- <md-icon md-svg-icon="assets/images/icon/gouge.svg" id="left"> </md-icon> -->
					<img src="assets/images/icons/adjustments.png" alt="text" />
				</div>
				<div class="margin-left">
					<span class="md-subhead">Save Campaings</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>


			<div layout="row" flex="33">
				<div><img src="assets/images/icons/cart.png" alt="text" /></div>
				<div class="margin-left">
					<span class="md-subhead"> Request Proposal</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>

			<!-- chart png image -->
			<div layout="row" flex="33">
				<div><img src="assets/images/icons/chart.png" alt="text" /></div>
				<div class="margin-left">
					<span class="md-subhead">Excute Campaings</span></br>
					<span class="md-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere libero leo, at commodo nunc venenatis ut</span>
				</div>
			</div>

			<!-- end here  -->
		</div>
	</div>
	<!-- search html start-->

	<div layout="column" layout-sm="column" layout-xs="column" class="bbsco">
		<div layout="row" layout-xs="column" layout-margin layout-padding>
			<div layout="column" flex="50" flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100">
				<div class="bbscb">Search every Billboard in india</div>
				<div class="bbscl">India's No. 1 search site for billboards </div>
			</div>
			<form name="signin" method="post" ng-submit="userSignin()" novalidate="novalidate" layout="row" layout-xs="column" flex="50"
			 flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100">
				<div layout-fill="layout-fill" layout-fill="$mdMedia('gt-sm')" class="bbsct">
					<md-input-container class="md-block">
						<label>Area Name (or) Postcode</label>
						<input ng-model="RCBack" type="text" />
					</md-input-container>
				</div>
				<div class="bbscont">
					<md-button aria-label="submitRCB" class="md-raised md-primary newbbsub">Browse Billboards</md-button>
				</div>
			</form>
		</div>
	</div>
	<!-- search html end-->

	<!-- India's No 1 Outdoor Advertising Company html start-->
	<div layout="column" class="nocompany">

		<img src="assets/images/product/bannertwo.png" />
		<div class="banner-two">
			<md-button class="md-raised md-primary">PLACE YOUR AD HERE</md-button>
		</div>

	</div>
	<!-- Slider start here html start-->
	<slick class="slider" settings="slickConfig2" ng-if="slickConfig2Loaded" style="height:273px;margin-top: -100px;">

		<div class="item item-home md-whiteframe-1dp" layout-padding>
			
			<h4><a href="#/formats">billboards</a></h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>unipole</h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>digital</h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>retail</h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>transit</h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>airport</h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>bus </h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>
		<div class="item item-home md-whiteframe-1dp" layout-padding>
			<h4>rail</h4>
			<div class="md-caption">
				Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply
				dummy text of the printing and typesetting let. Lorem Ipsum ahas been the industry Printing and typelorem Ipsum has been
				the setting let.
			</div>
		</div>

	</slick>
	<!-- Slider start html end-->

	<div layout-xs="column" layout-gt-xs="column" flex-gt-xs="100" flex-xs="100" style="text-align: center; width: 80%;margin: 125px auto;"
	 layout-margin layout-padding>
		<div class="md-headline">We Make <span class="theme-text">Outdoor Advertising</span> Easy</div>
		<div class="md-body-2">
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
			and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
			typesetting, remaining essentially unchanged.
		</div>

		<div layout="row" layout-gt-xs="row" layout-xs="column" layout-align=" center center" layout-margin layout-padding>
			<div>
				<span class="theme-text md-display-1 border"> 01</span><span class="md-headline">CONTACT</span>
			</div>
			<div>
				<span class="theme-text md-display-1 border"> 01</span><span class="md-headline">BOOKING</span>
			</div>
		</div>
		<div class="md-headline">Every Billboards in <span class="theme-text">India Wide</span> </div>

	</div>

	<!-- -->
	<div layout="column" layout-gt-xs="column">
		<div layout="row" layout-gt-xs="row" layout-xs="column">
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" style="background: #fff;" layout-align="center center">
				<div class="md-display-2">Outdoor Media Insight</div>
				<div class="md-display-3">75 <span class="theme-text">%</span></div>
				<div class="md-display-2">Of consumers see Billboards </div>
				<div class="md-display-2 theme-text">Everyday</div>
			</div>
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" style="background: #eeeeee;" layout-align="center center">
				<img ng-src="assets/images/product/Group-30.png" alt="Banner one" class="md-card-image" />
			</div>
		</div>
		<div layout="row" layout-gt-xs="row" layout-xs="column">
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" style="background: #eeeeee;" layout-align="center center">
				<img ng-src="assets/images/product/Group-36.png" alt="Banner one" class="md-card-image" />
			</div>
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" style="background: #fff;" layout-align="center center">
				<div class="md-display-2">Outdoor Media </div>
				<div><img src="assets/images/product/Group-35.png"></div>
				<div class="md-display-2">Is the <span class="theme-text">biggest driver</span> of web traffic </div>
				<div class="md-display-2"> for your <span class="theme-text">people</span></div>
			</div>
		</div>
	</div>

	<!-- weekly showcase Section start-->
	<div layout="column" style="margin-top: 50px">

		<div layout="row" layout-gt-xs="row" layout-xs="column">

			<div layout="column" class="" flex="40" layout-padding>
				<div class="md-headline">Weekly Site</div>
				<div class="md-headline">Showcase</div>
				<div><span>Format Size:</span> <span>90*30</span></div>
				<div><span>Matter:</span> <span>Jubilee Hills check post</span></div>
				<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis ex ac lacus mollis, nec lacinia diam tincidunt.
					Nulla maximus vulputate imperdiet. Sed sit amet urna ac tellus pellentesque lacinia id at mauris. Nulla pulvinar risus
					velit. Sed eget dapibus tellus. Phasellus ut tellus sed diam aliquam dapibus a at nisi.</div>
				<div layout="row" layout-align="space-around center">
					<div>
						<img src="assets/images/icons/004-sign.png">
						<div>ROADSIDE</div>
					</div>
					<div>
						<img src="assets/images/icons/003-bus.png">
						<div>TRANSIT</div>
					</div>
					<div>
						<img src="assets/images/icons/002-airplane.png">
						<div>AIRPORT</div>
					</div>
				</div>
			</div>
			<div layout="column" class="" flex="60">
				<div class="image-contaienr-new">

					<img ng-src="assets/images/product/image-5.png" alt="Banner one" class="md-card-image" style="width: 100%" /></div>
			</div>

		</div>
	</div>

	<!-- keep in touch-->
	<div layout="row" layout-xs="column" class="conts">
		<div layout="column" flex="50" flex-sm="50" flex-xs="100" class=" contsl">
			<div class="contst">
				<h2>Our Address</h2>
				<div class="contsm">
					<address style="color:#000;opacity: 0.6;line-height:25px;font-size:18px;font-weight:bold;">RamaKrishna Towers <br/>#108,Beside Image Hospital<br/>Ameerpet, Hyderabad - 50073</address>
				</div>

			</div>

			<div class="cont" style="color:#000;opacity: 0.6;font-size:18px;"><b>Contact Us</b><br/>+91 9550224488</div>
			<div class="emai" style="color:#000;opacity: 0.6;font-size:18px;"><b>Email Us</b><br/>reach@billboardsindia.com </div>
		</div>
		<div layout="column" layout-sm="column" flex="50" flex-sm="50" flex-xs="100" class=" contsr" layout-matgin layout-padding>

			<div layout="column" layout-sm="column" class="confor">
				<form>
					<md-input-container class="md-block">
						<label>Name</label>
						<input ng-model="name" />
					</md-input-container>
					<md-input-container class="md-block">
						<label> Email</label>
						<input ng-model="email" />
					</md-input-container>
					<md-input-container class="md-block">
						<label>Company Name</label>
						<input ng-model="companyName" />
					</md-input-container>
					<md-input-container class="md-block">
						<label>Message</label>
						<input ng-model="message" />
					</md-input-container>

					<div class="forsubmCon">
						<md-button class="md-raised md-primary forsubm">Send Massage</md-button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- new letter-->
	<div class="newletter">
		<div layout="column">
			<div><img ng-src="assets/images/product/map.png" alt="map" width="100%"></div>
		</div>
		<div layout="column" class="news-inner" style="background: #000" layout-padding flex-offset-gt-sm="10" flex="80" flex-xs="100"
		 flex-sm="100">
			<div layout="row" layout-margin layout-padding>
				<div layout="column" flex="33" class="theme-txt">
					<div class="md-display-1 line-bi">Billboard</div>
					<div class="md-subhead line-text">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
				<div layout="column" flex="33" class="theme-txt">
					<div class="md-headline line-sub">Subscribe to Newsletter</div>
					<div>
						<form name="signin" novalidate="novalidate">
							<md-input-container class="md-block">
								<label style="color: #eee">Email Address</label>
								<input ng-model="user.email" name="email" type="email" minlength="10" maxlength="30" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
								/ style="outline: 1px solid #fff;border: none">
							</md-input-container>
						</form>
					</div>
					<div class="md-subhead line-text">eusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				</div>
				<div layout="column" flex="33">
					<div class="md-headline theme-txt line-sub">Explore</div>
					<div layout="row">
						<div ayout="column" flex="50" class="theme-txt md-body-1 line-text">
							<div class="">Envato</div>
							<div class=" ">Themecurve</div>
							<div class="">Kreativeshowcase</div>
							<div class="">Freebiescurve</div>

						</div>
						<div ayout="column" flex="50" class="theme-txt md-body-1 line-text">
							<div class="">Themeforest</div>
							<div class="">Microsoft</div>
							<div class="">Google</div>
							<div class="">Freebiescurve</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>