<section class="">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title mb-5"><b class="first_word"><span class="first_letter">M</span>etro</b></h3>
            <h2 class="mt-5 mb-2"><b>Transporting Hyderabad to the Future</b></h2>
            <div class="">
                <p>Over 7 lakh passengers travel through the well-connected network of metro trains. These trains move in the heart of Hyderabad connecting all the areas within the city.There will be all types of commuters traveling through this metro trains.</p>
                <p>Digital signage inside the metro trains is the most engaging medium for entertainment and advertising.
                    These 24’ Inch screens will entertain the audience in all sorts of ways from providing daily news, entertainment etc. </p>
                <p>Each brand can promote their advertisements to have the best attention of their target audience.</p>
            </div>
        </div>
    </section>

<section class="">
    <div class="container py-lg-3 py-md-3 py-sm-3 py-3">
            <h3 class="text-center">3 Lakh* Metro commuters per day</h3>
            <h3 class="text-center mb-5">Metro train run time 16 hours per day</h3>
        <div class="row">
            <div class="offset-lg-3 col-12 col-sm-9 col-md-6 col-lg-3">
                <div class="back_red">
                    <h5 class="text-white">Corridor - I</h5>
                    <h3 class="text-white">Miyapur to LB Nagar</h3>
                        <hr style="padding:1px;background-color: #fff;">
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Total Trains - 18</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Distance covered - 29km</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> No of Stations covered - 27</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad duration - 30 sec</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> 12 screens per train</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad spots per day / per train 576</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Each train round trips 13 times per day</p>
                        <hr style="padding:1px;background-color: #fff;">
                                
                        <p class="text-center text-white">Per Train Per Month</p>
                        <p class="text-center btn_red">Rs.1,00,800</p>
                </div>
                <p class="text-right">* GST Applicable</p>
            </div>
            <div class="col-12 col-sm-9 col-md-6 col-lg-3">
                <div class="back_blue">
                    <h5 class="text-white">Corridor - III</h5>
                    <h3 class="text-white">Nagole to Shilparamam</h3>
                        <hr style="padding:1px;background-color: #fff;">
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Total Trains - 17</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Distance covered - 26.5 Km</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> No of Stations covered - 23</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad duration - 30 sec</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> 12 screens per train</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad spots per day / per train 576</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Each train round trips 13 times per day</p>
                        <hr style="padding:1px;background-color: #fff;">
                                
                        <p class="text-center text-white">Per Train Per Month</p>
                        <p class="text-center btn_blue">Rs.1,00,800</p>
                </div>
                <p class="text-right">* GST Applicable</p>
            </div>
        </div> 
    </div>
</section>
    
    
    
            
    

    
    
    
<script>
    var count = 1;
        var countEl = document.getElementById("count");
        function plus(){
                count++;
                countEl.value = count;
        }
        function minus(){
            if (count > 1) {
                count--;
                countEl.value = count;
            }  
        }
</script>
    
    
    
    
    