<style>
.tabs-info {
    background-color: #33b5e5!important;
}
.main-tabs-docs{
    border: 2px solid#33b5e5!important;
}
.main-tabs-docs .nav-mtd {
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
}
.main-tabs-docs .nav-mtd li:first-child {
    margin-left: 56px;
}
.main-tabs-docs .nav-mtd li a.active {
    border-bottom: 3px solid #BC2535;
    color: #fff;
}
.main-tabs-docs .nav-mtd li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 500;
    border-bottom: 3px solid #33b5e5;
}
.tab-content {
    padding: 1rem;
    padding-top: 2rem;
}
h5.text-name-pop.mt-4 {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    color: #d84315;
}
.modal-header {
    background: #F7F7F7;
    color: #688a7e;
}
    </style>
<section class="">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title mb-5"><b class="first_word"><span class="first_letter">M</span>etro</b></h3>
            <h2 class="mt-5 mb-2"><b>Transporting Hyderabad to the Future</b></h2>
            <div class="">
                <p>Over 7 lakh passengers travel through the well-connected network of metro trains. These trains move in the heart of Hyderabad connecting all the areas within the city.There will be all types of commuters traveling through this metro trains.</p>
                <p>Digital signage inside the metro trains is the most engaging medium for entertainment and advertising.
                    These 24’ Inch screens will entertain the audience in all sorts of ways from providing daily news, entertainment etc. </p>
                <p>Each brand can promote their advertisements to have the best attention of their target audience.</p>
            </div>
        </div>
    </section>

<section class="">
    <div class="container py-lg-3 py-md-3 py-sm-3 py-3">
            <h3 class="text-center">3 Lakh* Metro commuters per day</h3>
            <h3 class="text-center mb-5">Metro train run time 16 hours per day</h3>
        <div class="row">
            <div class="offset-lg-3 col-12 col-sm-9 col-md-6 col-lg-3">
                <div class="back_red">
                    <h5 class="text-white">Corridor - I</h5>
                    <h3 class="text-white">Miyapur to LB Nagar</h3>
                        <hr style="padding:1px;background-color: #fff;">
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Total Trains - 18</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Distance covered - 29km</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> No of Stations covered - 27</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad duration - 30 sec</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> 12 screens per train</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad spots per day / per train 576</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Each train round trips 13 times per day</p>
                        <hr style="padding:1px;background-color: #fff;">

                        <p class="text-center text-white">Per Train Per Month</p>
                        <p class="text-center btn_red">Rs.1,00,800</p>
                        <p class="text-center btn_red">Book Now</p>
                </div>
                <p class="text-right">* GST Applicable</p>
            </div>
            <div class="col-12 col-sm-9 col-md-6 col-lg-3">
                <div class="back_blue">
                    <h5 class="text-white">Corridor - III</h5>
                    <h3 class="text-white">Nagole to Shilparamam</h3>
                        <hr style="padding:1px;background-color: #fff;">
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Total Trains - 17</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Distance covered - 26.5 Km</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> No of Stations covered - 23</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad duration - 30 sec</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> 12 screens per train</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ad spots per day / per train 576</p>
                        <p class="text-white"><i class="fa fa-check-square-o" aria-hidden="true"></i> Each train round trips 13 times per day</p>
                        <hr style="padding:1px;background-color: #fff;">

                        <p class="text-center text-white">Per Train Per Month</p>
                        <p class="text-center btn_blue">Rs.1,00,800</p>
                        <p class="text-center btn_blue">Book Now</p>
                </div>
                <p class="text-right">* GST Applicable</p>
            </div>
        </div>
    </div>
</section>


<div class="container mt-2">
    <div class="main-tabs-docs">
        <ul class="nav nav-mtd tabs-info z-depth-1" role="tablist">
            <li class="nav-item">
                <a id="docs-tab-overview" class="nav-link waves-light active waves-effect waves-light" data-toggle="tab" data-target="#docsTabsOverview" role="tab">Images</a>
            </li>
            <li class="nav-item">
                <a id="docs-tab-gettingstarted" class="nav-link waves-light waves-effect waves-light" data-toggle="tab" data-target="#docsTabsAPI" role="tab">Videos</a>
            </li>
        </ul>

    <div class="tab-content">
        <div class="tab-pane fade in show active" id="docsTabsOverview" role="tabpanel">
            <div class="gallery" id="gallery">
                    <div class="container">
                        <div class="gal-pop-style pt-xl-4">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="blog-agile" data-aos="zoom-in">
                                        <a data-toggle="modal" data-target="#gal1" class="blog-link1">
                                            <figure><img src="/assets/images/carousel_1.png" alt="" class="img-responsive img-thumbnail"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="blog-agile" data-aos="zoom-in">
                                        <a data-toggle="modal" data-target="#gal2" class="blog-link1">
                                            <figure><img src="/assets/images/carousel_2.png" alt="" class="img-responsive img-thumbnail"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="blog-agile" data-aos="zoom-in">
                                        <a data-toggle="modal" data-target="#gal3" class="blog-link1">
                                            <figure><img src="/assets/images/carousel_3.png" alt="" class="img-responsive img-thumbnail"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="blog-agile" data-aos="zoom-in">
                                        <a data-toggle="modal" data-target="#gal4" class="blog-link1">
                                            <figure><img src="/assets/images/carousel_4.png" alt="" class="img-responsive img-thumbnail"></figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup-->
                <div class="modal fade in" id="gal1" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="false">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/assets/images/carousel_1.png" alt="Popup Image" class="img-fluid img-thumbnail" />
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                    <h5 class="text-name-pop mt-4">Be Clinic</h5>
                                                    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade in" id="gal2" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="false">
                    <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                <img src="/assets/images/carousel_2.png" alt="Popup Image" class="img-fluid img-thumbnail" />
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                                <h5 class="text-name-pop mt-4">Be Clinic</h5>
                                                <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade in" id="gal3" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="false">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/assets/images/carousel_3.png" alt="Popup Image" class="img-fluid img-thumbnail" />
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                    <h5 class="text-name-pop mt-4">Clinic</h5>
                                                    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                    </div>
                </div><div class="modal fade in" id="gal4" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="false">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <img src="/assets/images/carousel_4.png" alt="Popup Image" class="img-fluid img-thumbnail" />
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                    <h5 class="text-name-pop mt-4">Be</h5>
                                                    <p class="mt-3">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab-pane fade in show" id="docsTabsAPI" role="tabpanel">
            <div class="container">
                <div class="gal-pop-style pt-xl-4">
                    <div class="row">
                        <div class="col-md-4 gal-img">
                            <video controls>
                                <source src="mov_bbb.mp4" type="video/mp4">
                                <source src="mov_bbb.ogg" type="video/ogg">
                            </video>
                        </div>
                        <div class="col-md-4 gal-img">
                            <video controls>
                                <source src="mov_bbb.mp4" type="video/mp4">
                                <source src="mov_bbb.ogg" type="video/ogg">
                            </video>
                        </div>
                        <div class="col-md-4 gal-img">
                            <video controls>
                                <source src="mov_bbb.mp4" type="video/mp4">
                                <source src="mov_bbb.ogg" type="video/ogg">
                            </video>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-4 gal-img">
                                <video controls>
                                    <source src="mov_bbb.mp4" type="video/mp4">
                                    <source src="mov_bbb.ogg" type="video/ogg">
                                </video>
                            </div>
                            <div class="col-md-4 gal-img">
                                <video controls>
                                    <source src="mov_bbb.mp4" type="video/mp4">
                                    <source src="mov_bbb.ogg" type="video/ogg">
                                </video>
                            </div>
                            <div class="col-md-4 gal-img">
                                <video controls>
                                    <source src="mov_bbb.mp4" type="video/mp4">
                                    <source src="mov_bbb.ogg" type="video/ogg">
                                </video>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
