<style>
	md-card {
		margin: auto;
		left: 0;
		right: 0;
		margin-bottom: 20px;
	} 
</style>
<div layout="column">
	<!-- banner html start-->
	
	<div layout="column" class="banner" id="homeCarousel">
		 <img src="assets/images/banner1-1920.png" hide-sm hide-md/> 
		 <img src="assets/images/banner-today1.png" hide-lg hide-md hide-gt-lg hide-xs alt="sm"/> 
		 <img src="assets/images/banner1(1280).png" hide-sm hide-lg hide-gt-lg hide-xs alt="md"/>  
		<!-- slider-->
		<!-- <img src="assets/images/new-banner.png" hide-sm hide-md/> -->
		 <div class="banner-text11">
			 <div hide-xs>
				<div class="md-headline bannertet-top" style="color:#3c3a3b">Our Clients Are Our First priority</div>
			
				<div class="md-display-1 bannertet-bottm" style="font-weight:900;color:#980000"> WELCOME TO BILLBOARDS INDIA</div>
			</div> 
			<div layout="row">
				<md-button class="md-raised md-primary getstart-btn " ng-href="#/location" style="margin-left:0px" >START SEARCHING...</md-button>
			</div>
		</div> 

		<div class="fab-dail">
			<!--<div class="lock-size" layout="row" layout-align="center center">
				<md-fab-speed-dial md-direction="up" class="md-fling">
					<md-fab-trigger>
						<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
							<md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
						</md-button>
					</md-fab-trigger>
					<md-fab-actions>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)">
							<md-icon aria-label="Facebook"><i class="material-icons">call</i></md-icon>
						</md-button>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
							<md-icon aria-label="Facebook"><i class="material-icons">chat</i></md-icon>
						</md-button>

					</md-fab-actions>
				</md-fab-speed-dial>
			</div>-->
			<md-button aria-label="Facebook" class="md-fab md-raised md-mini call-btn" ng-click="showContact($event)">
				<md-icon aria-label="Facebook"><i class="material-icons" style="color: #fff;">call</i></md-icon>
			</md-button>
		</div>

	</div>
	<!-- banner html end-->

	<!-- what we do html start-->
	<div class="bbsco" id="code">
		<div class="whtwedo">
			<div layout=" column" layout-align="center center" layout-margin layout-padding ng-animate="'animate'">
			<h2 class="md-headline whatwe-do">WHAT WE DO</h2>
			<p class="md-title whatwetext campagin-name">Billboards india specializes in outdoor advertising , accessing every outdoor billboard sites from urban ,metropolitan & towns.</p>
		</div>
		<div layout="row" layout-sm="column" layout-padding flex-offset-gt-md="10" flex-md="100" flex="80" flex-xs="100" flex-sm="100">
			<div layout="row" flex="33" flex-sm="100"layout-margin>
				<div>
					<!-- <md-icon md-svg-icon="assets/images/icon/gouge.svg" id="left"> </md-icon> -->
					<img src="assets/images/icons/gouge.png" alt="text" class="mrgn-top" />
				</div>
				<div class="safari-whtwedo">
					<span class="md-subhead fnt-weight">Point of Interest</span></br>
					<span class="md-caption campagin-name">Choose from the showcase of various (OOH) advertising formats that help drive your brand reach its audience.</span>
				</div>
			</div>
			<div layout="row" flex="33" flex-sm="100" layout-margin>
				<div><img src="assets/images/icons/chat.png" alt="text" class="mrgn-top" /></div>
				<div class="safari-whtwedo">
					<span class="md-subhead fnt-weight">Check Availability</span></br>
					<span class="md-caption campagin-name">These components helps you interpret the result of availability check, In case already the hoarding is booked it will reflect in the booking status within the time period with this you can quickly process your campaign.</span>
				</div>
			</div>
			<div layout="row" flex="33" flex-sm="100" layout-margin>
				<div><img src="assets/images/icons/phone.png" alt="text" style="margin-top:10px" /></div>
				<div class="safari-whtwedo">
					<span class="md-subhead fnt-weight">Shortlist</span></br>
					<span class="md-caption campagin-name">Pick the best advertising formats by using various options that filter according to your preferences and shortlist them for your campaign.</span>
				</div>
			</div>
		</div>
		<div layout="row" layout-sm="column" layout-padding flex-offset-gt-md="10" flex-md="100" flex="80" flex-xs="100" flex-sm="100">

			<div layout="row" flex="33" flex-sm="100" layout-margin>
				<div>
					<!-- <md-icon md-svg-icon="assets/images/icon/gouge.svg" id="left"> </md-icon> -->
					<img src="assets/images/icons/adjustments.png" alt="text" class="mrgn-top" />
				</div>
				<div class="safari-whtwedo">
					<span class="md-subhead fnt-weight">Save Campaings</span></br>
					<span class="md-caption campagin-name">Save your shortlisted items with a campaign name</span>
				</div>
			</div>


			<div layout="row" flex="33" flex-sm="100" layout-margin>
				<div><img src="assets/images/icons/cart.png" alt="text" class="mrgn-top" /></div>
				<div class=" safari-whtwedo">
					<span class="md-subhead fnt-weight"> Request Proposal</span></br>
					<span class="md-caption campagin-name">Request a proposal for your campaign, we will get back with a quote.During the exchanging of quotations, you can negotiate the prices.we speak to the vendors on your behalf</span>
				</div>
			</div>

			<!-- chart png image -->
			<div layout="row" flex="33" flex-sm="100" layout-margin>
				<div><img src="assets/images/icons/chart.png" alt="text" class="mrgn-top" /></div>
				<div class="safari-whtwedo">
					<span class="md-subhead fnt-weight">Excute Campaings</span></br>
					<span class="md-caption campagin-name">A proper guidance will be provided for better outcomes so that execution of campain is expidicted</span>
				</div>
			</div>

			<!-- end here  -->
		</div>
		</div>
		
	</div>
	<!-- what we do html end-->
	<!-- search html start-->
	<div layout="column" layout-sm="column" layout-xs="column" class="contbg" style="border-bottom:2px solid #eee;">
		<div layout="row" layout-xs="column" layout-sm="column" layout-margin layout-padding>
			<div layout="column" flex="50" flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100" class="outdoormedia">
				<div class="bbscb">Search every Billboard in india</div>
				<div class="bbscl">India's No. 1 search site for billboards </div>
			</div>
			<form novalidate="novalidate" layout="row" layout-xs="column" flex="50"
			 flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100" style="margin-top: 55px;">
				<div layout-fill="layout-fill" layout-fill="$mdMedia('gt-sm')" class="bbsct">
					<!-- <md-input-container class="md-block"> -->
						<!-- <label>Area Name (or) Postcode</label> -->
						<md-autocomplete                      
							md-input-minlength="2"
							md-selected-item = "selectedArea"
							md-selected-item-change="selectedAreaChanged(item)"
							md-search-text="searchText"
							md-items="item in autoCompleteArea(searchText)"
							md-item-text="item.name"           
							md-floating-label="area search"
							style="width:100%;color:#fff">
							<md-item-template>
								<span md-highlight-text="searchText">{{item.name}}, ({{item.pincode}})</span>
							</md-item-template>                    
						</md-autocomplete>
					<!-- </md-input-container> -->
				</div>
				<div class="bbscont">
					<md-button aria-label="submitRCB" class="md-raised md-primary newbbsub" ng-href="#/location" ng-disabled="!selectedArea">Browse Billboards</md-button>
				</div>
			</form>
		</div>
	</div>
	<!-- search html end-->

	<!-- Formats  html start-->
	<!-- <div layout="column" class="nocompany">

		<img src="assets/images/Bi_PPT_new.png" />
		<div class="slider-section">
			<slick class="slider main-slider" settings="slickConfig2" ng-if="slickConfig2Loaded">

			<div class="item item-home item-7" layout-margin>

				<div class="caption fontfamily">billboards</div>
				<div class="md-body-1 slider-text ">
					There’s no doubt that Billboard Advertising demands attention. While other media is fragmenting, and people spend more and more time outside, the Billboard audience continues to grow. Billboards are also a great compliment to your other media channels, helping to extend your campaign’s reach. We cover all type of Billboard Advertising formats
				</div>
			</div>
			<div class="item item-home item-6" layout-margin>
				<div class="caption fontfamily">digital</div>
				<div class="md-body-1 slider-text ">
					Digital Billboards are computer-controlled electronic displays with technological capabilities that are taking out-of-home advertising to a new level. With Billboards India digital technology, the possibilities are endless.
				</div>
			</div>
			<div class="item item-home item-7" layout-margin>
				<div class="caption fontfamily">retail</div>
				<div class="md-body-1 slider-text ">
					With over 500 shopping centres in India, retail advertising can deliver on multiple marketing objectives and retail proximity requirements. From Supermarkets to Department Stores, Homemaker Centres, Finance to Fashion, Telcos to Pharmacies we can identify locations to target specific demographics perfect for your brand.
				</div>
			</div>
			<div class="item item-home item-6" layout-margin>
				<div class="caption fontfamily">Bus Shelter</div>
				<div class="md-body-1 slider-text ">
					Bus Shelter Ads - With over 16,000 panels, the bus shelter comes in many different formats, flexible to suit any type of campaign. These tried, tested and loved solutions deliver you high reach & frequency, plus they are economical, whilst still being one of the most effective forms of outdoor advertising.
				</div>
			</div>
			<div class="item item-home item-7" layout-margin>
				<div class="caption fontfamily">airport</div>
				<div class="md-body-1 slider-text ">
					Airports’ advertisers and airport partners receive the best of both worlds: high-quality, targeted advertising and premium, personalized customer service. Our airports' travelers originate from every major media market in India. When you advertise with Billboards India Airports, you're also strategically placing your message in front of our 100+ million travelers each year.
				</div>
			</div>
			<div class="item item-home item-6" layout-margin>
				<div class="caption fontfamily">bus </div>
				<div class="md-body-1 slider-text ">
					Circulating in the busiest areas of major metropolitan cities, bus advertising offers exposure to local commuters, drivers and pedestrians. These ‘moving billboards’ are typically displayed on the bus exterior and come in a variety of sizes and high-impact formats to reach your audience
				</div>
			</div>
			<div class="item item-home item-7" layout-margin>
				<div class="caption fontfamily">rail</div>
				<div class="md-body-1 slider-text">
					Train station advertising opportunities exist across many stations throughout India. Rail advertising delivers high engagement, and high impact advertising. From complete station domination, to the rail platform advertising, in and out of train, rail offers excellent advertising ROI.
				</div>
			</div>

			</slick>
		</div>
	</div> -->
	<!-- Formats html end-->

	<!-- Our servies hrml start-->

	<!-- Recent Activities Block Starts-->
		<div class="recent-activities">
			<div class="container">
				<h1>Our Services</h1>
				<div id="recentActivities" class="carousel slide" data-ride="carousel">
   			    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">				    	
				      	<div class="carousel-item active">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Billboard</h2>
				      				<p class="p-tag">
				             			There’s no doubt that Billboard Advertising demands attention. While other media is fragmenting, and people spend more and more time outside, the Billboard audience continues to grow. Billboards are also a great compliment to your other media channels, helping to extend your campaign’s reach. We cover all type of Billboard Advertising formats.
				      				</p>
				      				
									<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-click="setSelectedFormat(0)">Read More...</md-button>
				      			</div>					
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Roadside.jpg" alt="images" width="100%">
				      			</div>
				      							      			
				      		</div>					          				
				      	</div>
				      	<div class="carousel-item ">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Digital</h2>
				      				<p class="p-tag">
										Digital Billboards are computer-controlled electronic displays with technological capabilities that are taking out-of-home advertising to a new level. With Billboards India digital technology, the possibilities are endless.
				             			
				      				</p>
				      				<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-click="setSelectedFormat(1)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Digital.jpg" alt="images" width="100%">
				      			</div>
				      						      			
				      		</div>					          				
				      	</div>
				      	<div class="carousel-item">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Retail</h2>
				      				<p class="p-tag">
				             			With over 500 shopping centres in India, retail advertising can deliver on multiple marketing objectives and retail proximity requirements. From Supermarkets to Department Stores, Homemaker Centres, Finance to Fashion, Telcos to Pharmacies we can identify locations to target specific demographics perfect for your brand.
				      				</p>
				      				<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-class="showbus()"  ng-click="setSelectedFormat(2)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Retail.jpg" alt="images" width="100%">
				      			</div>
				      						      			
				      		</div>					          				
						</div>
						<div class="carousel-item">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Bus Shelter</h2>
				      				<p class="p-tag">
				             			Bus Shelter Ads - With over 16,000 panels, the bus shelter comes in many different formats, flexible to suit any type of campaign. These tried, tested and loved solutions deliver you high reach & frequency, plus they are economical, whilst still being one of the most effective forms of outdoor advertising.
				      				</p>
				      				<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-click="setSelectedFormat(3)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/BusShelter.jpg" alt="images" width="100%">
				      			</div>
				      						      			
				      		</div>					          				
						</div>	
						<div class="carousel-item">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Airport</h2>
				      				<p class="p-tag">
				             			Airports’ advertisers and airport partners receive the best of both worlds: high-quality, targeted advertising and premium, personalized customer service. Our airports' travelers originate from every major media market in India. When you advertise with Billboards India Airports, you're also strategically placing your message in front of our 100+ million travelers each year.
				      				</p>
				      				<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-click="setSelectedFormat(4)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Airport.jpg" alt="images" width="100%">
				      			</div>
				      						      			
				      		</div>					          				
						</div>
						<div class="carousel-item">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Transit</h2>
				      				<p class="p-tag">
				             			Circulating in the busiest areas of major metropolitan cities, bus advertising offers exposure to local commuters, drivers and pedestrians. These ‘moving billboards’ are typically displayed on the bus exterior and come in a variety of sizes and high-impact formats to reach your audience
				      				</p>
				      				<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-click="setSelectedFormat(5)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Transit.jpg" alt="images" width="100%">
				      			</div>
				      						      			
				      		</div>					          				
						</div>
						<div class="carousel-item">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Railway Station</h2>
				      				<p class="p-tag">
				             			Train station advertising opportunities exist across many stations throughout India. Rail advertising delivers high engagement, and high impact advertising. From complete station domination, to the rail platform advertising, in and out of train, rail offers excellent advertising ROI.
				      				</p>
				      				<md-button class="md-raised md-primary view-more " ng-href="#/formats" ng-click="setSelectedFormat(6)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Railway.jpg" width="100%" alt="image">
				      			</div>
				      						      			
				      		</div>					          				
						</div>
						<div class="carousel-item">
				      		<div class="row">
								<div class="col-lg-1"></div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-text">
				      				<h2>Metro Station&Train</h2>
				      				<p class="p-tag">
				             			Train station advertising opportunities exist across many stations throughout India. Rail advertising delivers high engagement, and high impact advertising. From complete station domination, to the rail platform advertising, in and out of train, rail offers excellent advertising ROI.
				      				</p>
				      				<md-button class="md-raised md-primary view-more" ng-href="#/formats" ng-click="setSelectedFormat(7)">Read More...</md-button>
									<!-- <a class="view-more md-raised md-primary" href="#">View More</a> -->
				      			</div>	
				      			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 recent-img">
				      				<img src="assets/images/formats/Rail.jpg" alt="images" width="100%">
				      			</div>
				      						      			
				      		</div>					          				
						</div>
				    </div>
				    <!-- Left and right controls -->
					<a class="carousel-control-prev" href="#recentActivities" ng-non-bindable data-slide="prev">
						<i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i>
					</a>
					<a class="carousel-control-next" href="#recentActivities" ng-non-bindable data-slide="next">
						<i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>   
					</a>
				</div>
			</div>				
		</div>
	<!-- Recent Activities Block Ends -->
	
	<!-- Formats  html end-->
	<!--We Make Outdoor Advertising Easy html start -->
	<div class="" style="background:#fff;">
		<div layout-xs="column" layout-gt-xs="column" flex-gt-xs="100" flex-xs="100" class="wemake-outdoor" layout-margin layout-padding>
			<div class="md-headline wemake-text">We Make <span class="theme-text">Outdoor Advertising</span> Easy</div>
			<div class="md-title wemake-inner-text" >
				Whether you are looking for Billboards, Rail, Airport, Bus Shelter, Retail, Transit Advertising, Billboards india can assist
				with all your OOH campaign needs. We provide complete coverage in all area.
			</div>

			<div layout="row" layout-gt-xs="row" layout-xs="column" layout-align=" center center" layout-margin layout-padding>
				<div class="border one_content">
					<span class="theme-text md-title "> 01</span><span class="md-title" style="font-weight:normal">CONTACT</span>
				</div>
				<div class="border one_booking">
					<span class="theme-text md-title"> 01</span><span class="md-title" style="font-weight:normal">BOOKING</span>
				</div>
			</div>
			<div class="md-headline">Every Billboards in <span class="theme-text">India Wide</span> </div>

		</div>
	</div>
	

	<!-- outdoor media -->
	<div layout="column" layout-gt-xs="column" class="out-media">
		<div layout="row" layout-gt-xs="row" layout-xs="column" layout-sm="column">
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" flex-sm="100" class="part-one outdoormedia">
				<div layout="column" layout-margin layout-align="center center">
					<div class="md-display-1 outdoor-text">Outdoor Media Insight</div>
					<div class="md-display-3 outdoor-inner theme-text">75 <span class="theme-text">%</span></div>
					<div class="md-display-1 outdoor-text">Of consumers see Billboards </div>
					<div class="md-display-1 outdoor-text theme-text">Everyday</div>
				</div>
			</div>
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" flex-sm="100" class="part-two outdoormedia" layout-align="center center">
				<img ng-src="assets/images/product/Group 26.png" alt="Banner one" class="md-card-image" />
			</div>
		</div>
		<div layout="row" layout-gt-xs="row" layout-xs="column" layout-sm="column">
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" flex-sm="100" flex-order-sm="2" class="part-three outdoormedia" layout-align="center center">
				<img ng-src="assets/images/product/Group 72.png" alt="Banner one" class="md-card-image" />
			</div>
			<div layout="column" flex="50" flex-gt-xs="50" flex-xs="100" flex-sm="100" flex-order-sm="1" class="part-four outdoormedia">
				<div layout="column" layout-margin layout-align="center center">
					<div class="md-display-1 outdoor-text">Outdoor Media </div>
					<div><img src="assets/images/product/Group-35.png"></div>
					<div class="md-display-1 outdoor-text">Is the <span class="theme-text">biggest driver </span>of traffic</div>
					<div class="md-display-1 outdoor-text"> for your <span class="theme-text">business</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- weekly showcase Section start-->
	<!--<div layout="column" class="weekly-case">

		<div layout="row" layout-gt-xs="row" layout-xs="column">

			<div layout="column" class="" flex="40" layout-padding>
				<div layout="column" layout-margin>
					<div class="md-headline" style="color:#95989A">Weekly Site</div>
					<div class="md-headline theme-text">Showcase</div>
					<div class="md-subhead"><span style="font-weight:900">Format Size:</span> <span>90*30</span></div>
					<div class="md-subhead"><span style="font-weight:900">Matter:</span> <span>Jubilee Hills check post</span></div>
					<div class="md-subhead">More than <span class="md-display-1 theme-text">75,000</span> vehicles pass through this check post. The billboard is
						situated right above the bharath petroleum and has the best view to the people who pass through this check post.
					</div>
				</div>

				<md-list flex layout="row" layout-align="end center">
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span><md-icon><i class="material-icons">file_download</i></md-icon></span>
								<div class="md-caption"> DOWNLOAD SITE CARD</div>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span><md-icon><i class="material-icons">speaker_notes</i></md-icon></span>
								<div class="md-caption"> REQUESTPROPOSAL </div>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content" ng-click="shareForm(ev)">
								<span><md-icon><i class="material-icons">share</i></md-icon></span>
								<div class="md-caption"> share </div>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
			</div>
			<div layout="column" class="" flex="60">
				<div class="image-contaienr-new">

					<img ng-src="assets/images/product/image-5.png" alt="Banner one" class="md-card-image" style="width: 100%" /></div>
			</div>

		</div>
	</div>-->

	<!-- keep in touch-->
	<div layout="column" layout-xs="column" class="conts">

		<div layout="column" layout-margin layout-align="center center">
			<div class="md-display-1 keepin-main">KEEP IN TOUCH</div>

			<div class="md-subhead keepin-text">Send us your brief from the contact form, or feel free to give us a call. We look forward to working on your next advertising campaign together.</div>
		</div>
		<div layout="row" layout-xs="column"  layout-sm="column" style="padding-top:50px;">
			<div layout="column" flex="50" flex-sm="100" flex-xs="100" class="contsl" layout-align-sm="center">
				<div layout="column"  flex-offset-gt-sm="25" flex-offset-sm="10" 
				class="contstS md-whiteframe-2dp" layout-margin >
					
					<div class="theme-text md-title"><md-icon><i class="material-icons theme-text">location_on</i></md-icon> Address</div>
					<div class="contsm">
						<div class="md-title">BBI Advertising Pvt Ltd.</div>
						<address class="md-subhead"> 
							People tech group building,<br/>
							Plot No.1, Whitefields <br/>
							Hitech City Road, Kondapur,<br/> 
							Hyderabad,Telangana 500084
						</address>
					</div>

					<div class="theme-text  md-title" ><md-icon><i class="material-icons theme-text">phone</i></md-icon>Contact Us</div>
					<div class="md-subhead">+91 9676107913</div>
					<div class="theme-text  md-title"> <md-icon><i class="material-icons theme-text">email</i></md-icon>Email Us </div>
					<div class="md-subhead">reach@billboardsindia.com</div>

				</div>

			</div>
			<div layout="column" layout-sm="column" flex="50" flex-sm="100" flex-xs="100" class="contsr" layout-margin layout-padding>
				<div layout="column" layout-sm="column" class="confor md-whiteframe-2dp">
					<form name="forms.sendQueryForm" novalidate>
						<input type="hidden" ng-model="query.type" ng-init="query.type = 3;" />
						<md-input-container class="md-block">
							<label>Name</label>
							<input ng-model="query.name" name="queryname" required="required" minlength="5" maxlength="30" id="query_name"/>
							<div ng-messages="forms.sendQueryForm.queryname.$error">
								<div class="alret alert-danger" ng-message="required">Name is required.</div>
								<div ng-message="maxlength">Name shouldn't exceed 30 characters. </div>
								<div ng-message="minlength">Name should contain atleast 5 charecters. </div>
							</div>

						</md-input-container>
						<md-input-container class="md-block">
							<label> Email</label>
							<!-- <input ng-model="query.email" required="required"  /> -->
							<input id="query_email" ng-model="query.email" name="queryemail" type="email" maxlength="30" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
							/>
							<div ng-messages="forms.sendQueryForm.queryemail.$error">
							  <div class="alret alert-danger" ng-message="required">Email is required.</div>
							  <div ng-message="maxlength">username shouldn't exceed 30 characters. </div>
							  <div ng-message="pattern">Enter a valid email</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Company Name</label>
							<input ng-model="query.companyName" id="query_company_name"/>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Message</label>
							<input ng-model="query.message" name="querymsg" minlength="10" maxlength="150" required="required" id="query_message"/>
							<div ng-messages="forms.sendQueryForm.querymsg.$error">
								<div class="alret alert-danger" ng-message="required">message is required.</div>
								<div ng-message="maxlength">message shouldn't exceed 150 characters. </div>
								<div ng-message="minlength">message should be 10 characters</div>
							  </div>
						</md-input-container>
						<div class="registeredEmailErrors" ng-if ="sendQueryErrors && !sendQueryErrors.length == 0">
								<ul>
									<li ng-repeat="error in sendQueryErrors">
										{{error}}
									</li>
								</ul>
							</div>
						<div class="forsubmCon">
							<md-button class="md-raised md-primary forsubm" ng-disabled="forms.sendQueryForm.$invalid" ng-click="sendQuery()">Send Message</md-button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- new letter-->
	<div class="newletter">
		<div layout="column">
			<div><img ng-src="assets/images/product/map.png" alt="map" width="100%"></div>
		</div>
		<div layout="column"layout-padding  flex="100" flex-xs="100"
		 flex-sm="100" flex-md="100" style="background:#000">
			<div layout="row" layout-sm="column" layout-margin layout-padding style="width:85%;margin:0 auto;">
				<div layout="column" flex="50" flex-xs="100" flex-sm="100" class="theme-txt outdoormedia">
					<div class="md-display-1 line-bi">Billboards India<span class="theme-text">.</span></div>
					<div class="md-caption line-text" style="text-align: justify;">
						Billboards India is an online advertising portal where users can campaign their advertisements in minutes. 
						This application provides all the details about OOH, Digital, Transit, Retail etc. 
						in the country and user can shortlist the billboards required, 
						and our company helps users to guide and suggest about campaigns. 
					</div>
				</div>
				<div layout="column" flex="40" flex-xs="100" flex-sm="100" class="theme-txt outdoormedia">
					<div class="md-headline line-sub">Subscribe</div>
					<div class="subscribe-form">
						<form name="forms.sendSubscriberForm" >
							<input type="hidden" ng-model = "subscriberData.type" ng-init = "subscriberData.type = 1;" />
							<input type= "email" ng-model = "subscriberData.email" placeholder = "Enter Your Email Address" id = "subscribers_email" name = "subscriber_email" required>
							<button ng-click="subscribe()">GO</button>
						</form>
					</div>
				</div>
			
			</div>
		</div>
	</div>

	

</div>
<!--<script>
  var height = $(window).height();
  $('#homeCarousel').height(height - 97);
</script>-->



