<!-- //////////// show image start \\\\\\\\\\\\\\\\\\\\ -->
<md-dialog flex="50"  flex-lg="50" flex-md="60" flex-xs="100" flex-sm="70" style="border-radius: 0;" ng-class="{'layout-fill':mdMedia('xs')  }">

	<div layout="row" layout-padding>
		<span  class="md-display-1 md-title text_color">Product Image</span>
		<span flex="flex"></span>
		<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeMdDialog()">
			<md-tooltip>Close</md-tooltip>
			<md-icon class="md-default-theme">
				<i class="material-icons">close</i>
			</md-icon>
		</md-button>
	</div>
	<md-dialog-content>
		<div layout="column">
			<div class="map-image">
					<img ng-src="{{img_src}}" alt="image" style="width: 100%;height: auto;padding:0px 10px 10px 10px">
			</div>
		</div>
	</md-dialog-content>
</md-dialog>

<!-- //////////// share shortlist end \\\\\\\\\\\\\\\\\\\\ -->
