<div id="id01" class="sign_bgcolor">
    <!-- <div><span onclick="document.getElementById('id01').style.display='none'" 
    class="w3-button w3-display-topright md-whiteframe-z3" style="float: right;padding: 20px;margin: 20px;color:#fff;">X</span></div> -->
<md-dialog class="mx-auto form_width" flex-xs="100" flex="35" flex-md="40" flex-sm="60">
  <md-dialog-content>
      <h1 style="font-size: 2em; padding: 15px; color: red;">You are in offline! please check your internet connection! </h1>
      <image src="../assets/images/offline.jpg" style="height: 25em;padding-left: 7em;"/>
    </md-dialog-content>
</md-dialog>
</div>