  <div layout="column" style="position:relative;height:800px;margin-top:60px;">
  <ng-map center="{{address.name}}" zoom="10" style="width:100%;height:100%;">
    <custom-control id="traffic-toggle" position="TOP_RIGHT" index="1" ng-click="toggleTraffic()" style="margin-top:10px;margin-right:10px;">
      <div style="background-color: white; color:#000;cursor:pointer; padding:10px;">Show Traffic</div>
    </custom-control>
  </ng-map>
  <div layout="column" style="top:8%;z-index:1;position:absolute;width:350px;">
    <!-- search html start-->
    <div layout="row" layout-padding class="search-filed">
      <md-input-container md-theme="input" flex style="background:#fff;padding:0px;">
        <label>&nbsp;</label>
        <input ng-model="search.who" placeholder="Search Billboards" style="height: 40px !important">
      </md-input-container>
      <span class="search-icon"><md-icon><i class="material-icons">search</i></md-icon></span>
      <!-- <span class="search-icon locate-me"><i class="material-icons">location_searching</i></span> -->
      <md-button class="md-icon-button  locate-me" aria-label="More">
        <md-icon><i class="material-icons">my_location</i></md-icon>
      </md-button>
    </div>
    <!-- search html start-->
  </div>
  <div layout="column" style="top:20%;z-index:1;position:absolute;">

    <!-- filters html start-->
    <div layout="column" layout-padding>
      <md-content class=" md-padding" layout="column" style="width:350px;background:rgba(0, 0, 0, 0.7)">
        <!-- <div layout="row" ng-init="open = false" ng-click="open = !open"> -->
        <div layout="row" ng-click="filters()">
          <div class="md-body-1"><span><img src="assets/images/icons/filter.png"></span><span class="theme-txt">FILTERS</span></div>
          <div flex></div>
          <div>
            <md-icon ng-hide="open"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
            <md-icon ng-show="open"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
          </div>
        </div>
      </md-content>
      <div layout="column" ng-show="filter" style="background:#fff;width:350px;">

      <!-- <div layout="column" ng-show="filter" style="background:#fff;width:350px;"> -->


        <!-- <div class="md-subhead">Check Availability</div>
        <md-divider></md-divider> -->
        <!-- dateselection html start-->
        <!-- <div class="data-section" style="margin:10px 0px 0px">
          <div layout="row">
            <div class="form-group">
              <div class='input-group'>
                <input type='text' class="form-control" datepicker-popup ng-model="model.startDate" is-open="opened.start" ng-click="opened.start = !opened.start"
                  max-date='model.endDate' ng-readonly='true' placeholder="start date" />
                <span class="input-group-addon" for='start' ng-click="opened.start = !opened.start; $event.stopPropagation()">
                      <i class="glyphicon glyphicon-calendar"></i>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <div class='input-group'>
                <input type='text' class="form-control" datepicker-popup ng-model="model.endDate" is-open="opened.end" ng-click="opened.end = !opened.end"
                  min-date='model.startDate' ng-readonly='true' placeholder="end date" />
                <span class="input-group-addon" ng-click="opened.end = !opened.end;  $event.stopPropagation()">
                      <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <md-divider></md-divider> -->
        <!-- dateselection html end-->
        <div class="md-subhead">Area</div>
        <!-- pincode,area,tab id section start-->
        <form>
          <md-input-container class="pstcde" style="width:100%">
            <!-- <label for="testInput">Postcode,Area Name,Tab ID</label> -->
            
            <input vs-google-autocomplete type="text" id="testInput" md-autofocus
                 ng-model="address.name"
                 vs-place="address.place" 
                 vs-place-id="address.components.placeId"
                 vs-street-number="address.components.streetNumber" 
                 vs-street="address.components.street"
                 vs-city="address.components.city"
                 vs-state="address.components.state"
                 vs-country-short="address.components.countryCode"
                 vs-country="address.components.country"
                 vs-post-code="address.components.postCode"
                 vs-district="address.components.district"
                 vs-latitude="address.components.location.lat"
                 vs-longitude="address.components.location.lng"
                 type="text" 
                 name="address"
                 aria-label = "google-autocomplete"
                 ng-change="setNewAddress()"
                 >
          </md-input-container>
        </form>
        <!-- pincode,area,tab id section end-->
        <!--slider html start -->
        <div layout="column">
          <md-slider flex md-discrete ng-model="radius" ng-change="updateCircleRadius(radius)" min="0" max="100" gap="0" aria-label="rating" id="red-slider"></md-slider>
          <div layout="row">
            <div class="rnge">0km</div>
            <div flex></div>
            <div class="rnge">100km</div>
          </div>
        </div>
        <!--slider html end -->
        <md-divider></md-divider>
        <form name="Locations" onSubmit="savedata()">
          <div class="md-subhead">Select Multiple Locations</div>
          <md-divider></md-divider>
          <div layout="row">
            <div flex="50" class="armrgn">
              <md-input-container style="z-index:999;width:100%">
                <label>Select Country </label>
                <md-select name="repeatSelect" id="repeatSelect" ng-model="selectedCountry" ng-change="setCountry()">
                    <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="country in allcountries | filter:searchTerm" value="{{country.Id}}">{{country.Countryname}}</md-option> 
                </md-select required> 
                
              </md-input-container>
            </div>
            <div flex="50" class="armrgn">
              <md-input-container style="width:100%">
                <label> Select State</label>
                <md-select ng-model="selectedStates" ng-disabled="!selectedCountry" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-change="setStates()"
                  multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a state.." class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-optgroup label="states">
                    <md-option ng-value="{{state.Id}}" ng-repeat="state in states | filter:searchTerm">{{state.statename}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="row">
            <div flex="50" class="armrgn">
              <md-input-container style="width:100%">
                <label>Select City</label>
                <md-select ng-model="selectedcitys" ng-disabled="!selectedStates" ng-change="setcitys()" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                  multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a city.." class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-optgroup label="citys">
                    <md-option ng-value="{{city.Id}}" ng-repeat="city in citys | filter:searchTerm">{{city.cityname}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
            <div flex="50" class="armrgn">
              <md-input-container style="width:100%">
                <label>Select Areas</label>
                <md-select ng-model="selectedareas" ng-change="setareas()"  ng-disabled="!selectedcitys" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                  multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a area.." class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-optgroup label="areas">
                    <md-option ng-value="{{area}}" ng-repeat="area in areas | filter:searchTerm">{{area.areaname}}</md-option>                 
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
       
          <md-divider></md-divider>
          <div layout="row">
            <md-button class="md-raised md-primary" type="submit" >APPLY</md-button>
            <md-button class="md-warn " type="reset" value="Reset"><span class="md-body-1">Reset Feileds</span> </md-button>
          </div>
        </form>
      </div>
    </div>
    <!-- filters html end-->

    <!-- formats html start-->
    <div layout="column" layout-padding>
      <md-content class=" md-padding" layout="column" style="width:350px;background:rgba(0, 0, 0, 0.7)">
        <!-- <div layout="row" ng-init="formats = false" ng-click="formats = !formats"> -->
        <div layout="row" ng-click="formats()">


          <div class="md-body-1"><span><img src="assets/images/icons/formats.png"></span><span class="theme-txt">FORMATS</span></div>
          <div flex></div>
          <div>
            <md-icon ng-hide="formats"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
            <md-icon ng-show="formats"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
          </div>
        </div>
      </md-content>
      <div layout="column" ng-show="format" style="background:#fff">

        <div layout="row" layout-align="space-around ceeneter">

          <div layout="column" ng-init="uniploe3 = false" ng-click="uniploe3 = !uniploe3" class="digital-board">
            <div ng-cloak>
              <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                  <div>
                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                      <div class="md-grid-text"> digital </div>
                    </md-button>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div layout="row" ng-show="uniploe3" class="digital-inner md-whiteframe-2dp">
              <div ng-cloak>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="column" ng-init="uniploe4 = false" ng-click="uniploe4 = !uniploe4" class="digital-board">
            <div ng-cloak>
              <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                  <div>
                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                      <div class="md-grid-text"> digital </div>
                    </md-button>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div layout="row" ng-show="uniploe4" class="digital-inner md-whiteframe-2dp">
              <div ng-cloak>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="column" ng-init="uniploe5 = false" ng-click="uniploe5 = !uniploe5" class="digital-board">
            <div ng-cloak>
              <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                  <div>
                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                      <div class="md-grid-text"> digital </div>
                    </md-button>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div layout="row" ng-show="uniploe5" class="digital-inner md-whiteframe-2dp">
              <div ng-cloak>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
        </div>
        <md-divider></md-divider>
        <!-- more 3-->
        <div layout="row" layout-align="space-around ceeneter">

          <div layout="column" ng-init="uniploe6 = false" ng-click="uniploe6 = !uniploe6" class="digital-board">
            <div ng-cloak>
              <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                  <div>
                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                      <div class="md-grid-text"> digital </div>
                    </md-button>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div layout="row" ng-show="uniploe6" class="digital-inner md-whiteframe-2dp">
              <div ng-cloak>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="column" ng-init="uniploe7 = false" ng-click="uniploe7 = !uniploe7" class="digital-board">
            <div ng-cloak>
              <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                  <div>
                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                      <div class="md-grid-text"> digital </div>
                    </md-button>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div layout="row" ng-show="uniploe7" class="digital-inner md-whiteframe-2dp">
              <div ng-cloak>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="column" ng-init="uniploe8 = false" ng-click="uniploe8 = !uniploe8" class="digital-board">
            <div ng-cloak>
              <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                  <div>
                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                      <div class="md-grid-text"> digital </div>
                    </md-button>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div layout="row" ng-show="uniploe8" class="digital-inner md-whiteframe-2dp">
              <div ng-cloak>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <div>
                      <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
                        <div class="md-grid-text"> digital </div>
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
        </div>
        <md-divider></md-divider> -->
        <!-- <div layout="row">
          <md-button class="md-icon-button test-tooltip" aria-label="Refresh">
            <md-tooltip md-direction="bottom"style="background:#fff !importent">
              <span>
                <md-button class="md-icon-button test-tooltip" aria-label="Refresh">
            
                  <md-icon
                    md-svg-src="assets/images/icons/linkedin.svg"
                    style="width: 24px; height: 24px">
                  </md-icon>
                </md-button>
              </span>
              <span>2</span>
              <span>3</span>

            </md-tooltip>
            <md-icon md-svg-src="assets/images/icons/facebook.svg" style="width: 24px; height: 24px">
            </md-icon>
            
          </md-button>
          <span style="color:black">facebook</span>
        </div> -->

      </div>
    </div>
    <!-- formats html end-->
    <!--SHORTLIST html start -->
    <div layout="column" layout-padding>
      <md-content class=" md-padding" layout="column" style="width:350px;background:rgba(0, 0, 0, 0.7)">
        <!-- <div layout="row" ng-init="shortlist = false" ng-click="shortlist = !shortlist"> -->
        <div layout="row" ng-click="shortlistDiv()">
          <div class="md-body-1"><span><img src="assets/images/icons/shortlist.png"></span><span class="theme-txt">SHORTLIST</span></div>
          <div flex></div>
          <div>
            <md-icon ng-hide="shortlist"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
            <md-icon ng-show="shortlist"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
          </div>
        </div>
      </md-content>
      <div ng-show="shortlist" style="background:#fff;width:350px">
        <div layout="column" layout-margin>
          <div layout="row" layout-align="space-around center">
            <div class="shrtlst"><span class="shrt-pdng">03</span> <span>Billboars</span></div>
            <div class="shrtlst"><span class="shrt-pdng">33</span><span>Unipole</span></div>
            <div class="shrtlst"><span class="shrt-pdng">100</span> <span>Digital</span></div>
          </div>
          <div layout="row" layout-align="space-around center">
            <div class="shrtlst"><span class="shrt-pdng">03</span> <span>Billboars</span></div>
            <div class="shrtlst"><span class="shrt-pdng">33</span><span>Unipole</span></div>
            <div class="shrtlst"><span class="shrt-pdng">100</span> <span>Digital</span></div>
          </div>
        </div>
        <md-divider></md-divider>
        <div layout="">
          <md-list flex>
            <md-list-item class="md-3-line">
              <img ng-src="assets/images/product/person.png" class="md-avatar" alt="aa" />
              <div class="md-list-item-text" layout="column" flex>
                <h3>Kondapur</h3>
                <h4>70 Bowman St. </h4>
                <p> South Windsor, CT 06074</p>
              </div>
            </md-list-item>
          </md-list>
          <div class="md-list-item-text" layout="column" layout-align="space-between center" layout-margin>
            <md-checkbox aria-label="Disabled checkbox" ng-model="data.cb3">
            </md-checkbox>
            <md-button class="md-icon-button">
              <md-icon><i class="material-icons ">delete</i></md-icon>
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
        <div layout="">
          <md-list flex>
            <md-list-item class="md-3-line">
              <img ng-src="assets/images/product/person.png" class="md-avatar" alt="aa" />
              <div class="md-list-item-text" layout="column" flex>
                <h3>Kondapur</h3>
                <h4>70 Bowman St. </h4>
                <p> South Windsor, CT 06074</p>
              </div>
            </md-list-item>
          </md-list>
          <div class="md-list-item-text" layout="column" layout-align="space-between center" layout-margin>
            <md-checkbox aria-label="Disabled checkbox" ng-model="data.cb3">
            </md-checkbox>
            <md-button class="md-icon-button">
              <md-icon><i class="material-icons ">delete</i></md-icon>
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
          <md-button class="md-raised " ng-click="closeSideViewAll()">VIEW ALL</md-button>
          <md-button class="md-raised md-primary" ng-click="saveCampaignDetails()">SAVE CAMPAIGN</md-button>
          <md-button class="md-raised" ng-click="shareSidenav()">SHARE</md-button>
        </div>
        <div layout="row">
          <md-button class="md-raised" ng-click="closeSideSavedCampaign()">Success</md-button>
          <md-button class="md-raised" ng-click="closeSideThanksSidenav()">THANKS</md-button>
          <md-button class="md-raised" ng-click="suggestMe()">Suggest me</md-button>
        </div>
      </div>
    </div>
    <!--SHORTLIST html end -->

    <!--saved campagin html start -->
    <div layout="column" layout-padding>
      <md-content class=" md-padding" layout="column" style="width:350px;background:rgba(0, 0, 0, 0.7)">
        <div layout="row" ng-click="savedcampaignDiv()">
          <div class="md-body-1"><span><img src="assets/images/icons/savedcampagin.png"></span><span class="theme-txt">SAVE CAMPAIGNS</span></div>
          <div flex></div>
          <div>
            <md-icon ng-hide="savedcampaign"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
            <md-icon ng-show="savedcampaign"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
          </div>
        </div>
      </md-content>
      <div ng-show="savedcampaign" style="background:#fff">
        <div layout="row">
          <div>
            <div>Apple</div>
            <div>Iphone7</div>
          </div>
          <div flex></div>
          <div class="saved-date">
            <span class="saved-border">01 Aug 2017</span><span class="saved-border">15 Aug 2017</span>
          </div>
        </div>
        <div class="saved-btn" layout="row" layout-align="space-between center" flex>
          <div>
            <md-button class="md-primary" ng-click="closeSideViewAll()">
              VIEW
            </md-button>
          </div>
          <div>
            <md-button class="md-icon-button">
              <md-icon><i class="material-icons ">share</i></md-icon>
            </md-button>
          </div>
          <div>
            <md-button class="md-icon-button">
              <md-icon><i class="material-icons ">delete</i></md-icon>
            </md-button>
          </div>
        </div>
        <div layout="column" layout-align="center center">
          <md-button class="md-primary">EXPORT ALL</md-button>
        </div>

      </div>
    </div>
    <!--saved campagin html end -->
  </div>
  <!-- reommand button -->
  <div layout="column" style="top:auto;z-index:1;position:absolute;bottom:0px;right:0;width:100%">
    <div layout="row" layout-align="end center" style="right:10%">
      <md-button class="md-raised md-primary" ng-init="Recommended = false" ng-click="Recommended = !Recommended">Recommended<span>
      <md-icon ng-hide="Recommended"><i class="material-icons theme-txt"> keyboard_arrow_up</i></md-icon></span>
        <span><md-icon ng-show="Recommended"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon></span>
      </md-button>
      <md-button class="md-raised md-primary"  ng-init="Popular = false" ng-click="Popular = !Popular">Popular Mediums<span>
      <md-icon ng-hide="Popular"><i class="material-icons theme-txt"> keyboard_arrow_up</i></md-icon></span>
        <span><md-icon ng-show="Popular"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon></span>
      </md-button>
    </div>
    <div layout="row" style="bottom:0px;background:#fff;width:100%;height:150px;" ng-show="Recommended">
      <div>
        <img src="assets/images/icons/001-shop.png">

      </div>
    </div>
    <div layout="row" style="bottom:0px;background:#fff;width:100%;height:150px;" ng-show="Popular">
      <div>
        <img src="assets/images/icons/001-shop.png">

      </div>
      <div>
        <img src="assets/images/icons/001-shop.png">

      </div>
    </div>


  </div>
  
  <!-- side nav for view all-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="viewAll">
    <div layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Notifications</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideViewAll()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-padding="">


    </md-content>
  </md-sidenav>

  <!-- saved campgin-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="savedCampaign">
    <div layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Notifications</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideSavedCampaign()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-padding="">
      saved campaign
    </md-content>
  </md-sidenav>

  <!--saved view all Shortlisted -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px;" md-component-id="savedViewAll">
    <div layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Shortlisted Products</span>
        </h2>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideViewAll()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content ng-repeat="agent in agents|filter:search" layout="row">
       <md-card md-theme="default" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">BI-79784{{agent.RCustId}}</span>
            <span class="md-subhead">Small{{agent.FullName}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>View</md-button>
          <md-button>Delete</md-button>
        </md-card-actions>
      </md-card>
    </md-content>
  </md-sidenav>

  <!-- saved capaign edit -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="savedEdit">
    <div layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Notifications</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideEditList()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-padding="">
      saved campaign edit list

      <md-button class="md-primary md-raised" ng-click="closeSideSavedCampaign()">saved campagin</md-button>
    </md-content>
  </md-sidenav>

  <!-- Success message on saved campagin-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="savedSavedCampaign">
    <div layout="row">
      <div class="md-toolbar-tools">
        <!-- <h2>
          <span>Notifications</span>
        </h2> -->
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideSavedCampaign()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center">
      <img src="assets/images/core/congrats-star.png" width="100" height="100" alt="Congrats Star">
      <h3>Congratulations</h3>
      <h4>Campaingn Saved Succcessfully</h4>
      <md-button class="md-raised md-warn">REQUEST PROPOSAL</md-button>
      <md-button class="md-raised">SHARE CAMPAIGN</md-button>
    </md-content>
  </md-sidenav>

  <!-- Save campagin dialog-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px; padding:10px;" md-component-id="saveCampaignDetails">
    <div layout="row">
      <div class="md-toolbar-tools">
        <!-- <h2>
          <span>Notifications</span>
        </h2> -->
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="saveCampaignDetails()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center">

      <h3>Save Campaign</h3>
      <h4>We are excited to see your Campaign</h4>
      <h4>Let's Work Together!</h4>
    </md-content>

    <form name="saveCampaigndetails">
      <md-input-container class="md-block">
        <label>Campaign Name</label>
        <input md-maxlength="30" required md-no-asterisk name="campname" ng-model="project.campname">
        <div ng-messages="saveCampaigndetails.campname.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <div flex-gt-xs>
            <h4>Campaign Start</h4>
            <md-datepicker ng-model="ctrl.startDate" md-placeholder="Enter date"></md-datepicker>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <div flex-gt-xs>
            <h4>Campaign End</h4>
            <md-datepicker ng-model="ctrl.endDate" md-placeholder="Enter date"></md-datepicker>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Budget</label>
        <input required type="number" step="any" name="rate" ng-model="project.rate" min="800" max="4999" ng-pattern="/^1234$/" />

        <div ng-messages="saveCampaigndetails.rate.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            You've got to charge something!
          </div>

          <div ng-message="min">
            You should charge at least $800 an hour.
          </div>

          <div ng-message="pattern">
            You should charge exactly $1,234.
          </div>

          <div ng-message="max">
            {{saveCampaigndetails.rate.$viewValue | currency:"$":0}} an hour? That's a little ridiculous. I doubt even Bill Clinton could
            afford that.
          </div>
        </div>
      </md-input-container>
      <div>
        <md-button class="md-raised md-warn" ng-click="showConfirmation($event)">SAVE CAMPAIGN</md-button>

        <p>Need Suggestions?
          <md-button class="md-primary md-hue-1">Suggest Me</md-button>
        </p>
      </div>

    </form>

  </md-sidenav>

  <!-- Thanks SideNav-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="thanksCampaign">
    <div layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideThanksSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center">
      <img src="assets/images/core/congrats-star.png" width="100" height="100" alt="Congrats Star">
      <h3>Thanks</h3>
      <h4>We will work on your Campaign needs and get back soon to your registered e-mail address</h4>
    </md-content>
  </md-sidenav>

  <!-- Share Campaign SideNav-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="shareCampaign" id="popupContainer" ng-cloak>
    <div layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="shareSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center">
      <h3>Share Campaign Details..</h3>
      <form name="shareCampaignForm">
        <md-input-container class="md-block">
          <label>Recipeint's Name</label>
          <input required name="recipeintName" ng-model="project.recipeintName">
          <div ng-messages="shareCampaignForm.recipeintName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Recipeint's Email Address</label>
          <input required type="email" name="recipeintEmail" ng-model="project.recipeintEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
          />

          <div ng-messages="shareCampaignForm.recipeintEmail.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>
        <md-button class="md-raised md-warn" ng-click="showAlert($event)">SHARE CAMPAIGN</md-button>

      </form>
    </md-content>
  </md-sidenav>

  <!-- Suggest Me dialog-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px; padding:10px;" md-component-id="suggestMe">
    <div layout="row">
      <div class="md-toolbar-tools">
        <!-- <h2>
          <span>Notifications</span>
        </h2> -->
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="suggestMe()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center">
      <h3>Don't think! </h3>
      <h4>Let me help you on your Campaign Needs..</h4>
    </md-content>

    <form name="suggestMeform">
      <md-input-container class="md-block">
        <label>Organisation Name</label>
        <input md-maxlength="30" required md-no-asterisk name="orgname" ng-model="project.orgname">
        <div ng-messages="suggestMeform.orgname.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Add your Organisation URL:</label>
        <input type="url" name="homepage" required md-no-asterisk name="orgURL"  ng-model="project.orgURL" required>
        <div ng-messages="suggestMeform.orgURL.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Industry Sector</label>
        <!-- <md-select ng-model="project.selectedItem" md-selected-text="getSelectedText()">
          <md-optgroup label="items">
            <md-option ng-value="item">Item 1</md-option>
            <md-option ng-value="item">Item 2</md-option>
            <md-option ng-value="item">Item 3</md-option>
            <md-option ng-value="item">Item 4</md-option>
          </md-optgroup>
        </md-select> -->
        <md-select name="repeatSelect" id="repeatSelect" ng-model="project.selectedIndustrySector">
                  <md-option ng-repeat="x in IndustrySector " value="{{x.model}}">{{x.model}}</md-option> 
                </md-select required> 
      </md-input-container>
      <md-input-container class="md-block" aria-placeholder="months">
        <label>Estimated Budget</label>
        <input type="number" required md-no-asterisk name="estbudget" ng-model="project.estbudget">
        <div ng-messages="suggestMeform.estbudget.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Campaign Duration </label>
        <!-- <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
          <md-optgroup label="items">
            <md-option ng-value="item">Item 1</md-option>
            <md-option ng-value="item">Item 2</md-option>
            <md-option ng-value="item">Item 3</md-option>
            <md-option ng-value="item">Item 4</md-option>
          </md-optgroup>
        </md-select> -->
        <md-select name="repeatSelect" id="repeatSelect" ng-model="project.CampaignDuration">
                  <md-option ng-repeat="x in CampaignDuration " value="{{x.model}}">{{x.model}}</md-option> 
                </md-select required> 
      </md-input-container>
      </md-input-container>

      <div flex-gt-xs class="md-block">
      <label>Expected Start Date</label>
      <md-datepicker ng-model="project.myDate" md-placeholder="Enter date"></md-datepicker>
    </div>
      <div>
        <md-button class="md-raised md-warn" ng-click="suggestMeConfirm(project)">SUGGEST ME</md-button>
      </div>
    </form>
  </md-sidenav>


</div>
</div>