<style>
li a{
    color:#000;
}
.vcal-week{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        color: #6c757d!important;
    }
.vcal-week span{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-flex:0;
    -ms-flex:0 0 14.28%;
    flex:0 0 14.28%;
    font-size:19.2px;
    font-size:1.2rem;
    font-weight:700;
    max-width:14.28%;
    padding:19.2px 22.4px;
    padding:1.2rem 1.4rem;
    text-align:center;
    text-transform:uppercase;
}

.vcal-date{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
.vcal-date span{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-flex:0;
    -ms-flex:0 0 14.28%;
    flex:0 0 14.28%;
    font-size:19.2px;
    font-size:1.2rem;
    font-weight:700;
    max-width:14.28%;
    padding:19.2px 22.4px;
    padding:1.2rem 1.4rem;
    text-align:center;
    text-transform:uppercase;
}
</style>
<md-dialog flex="40"  flex-lg="50" flex-md="60" flex-xs="100" flex-sm="70" style="border-radius: 0;">
    <md-dialog-content>
        <div layout="row">
            <div class="col-md-11">
                <h5 class="font-weight-bold mt-3">BA-006  - Philadelphia</h5>
                <p><b>Note:</b> This Bulletin minimum booking is 4 weeks.</p>
            </div>
            <div class="col-md-1 text-right mt-3">
                <a class="close-btn" ng-click="toggleProductDetailSidenav()">
                <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <ul class="nav justify-content-center" style="font-size: 17px;">
            <li class="nav-item">
                <a class="nav-link" href="#!">Jan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Feb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Mar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Apr</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">May</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Jun</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Jul</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Aug</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Sep</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Oct</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Nov</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Dec</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#!">Jan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Feb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Mar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Apr</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">May</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Jun</a>
            </li> -->
        </ul>

        <div layout="row">
            <div class="offset-md-1 col-md-5">
                <h5 class="font-weight-bold mt-3 mb-1">January-19</h5>
                <div class="vcal-week" style="margin-left: -15px;">
                    <span>S</span>
                    <span>M</span>
                    <span>T</span>
                    <span>W</span>
                    <span>T</span>
                    <span>F</span>
                    <span>S</span>
                </div>
                <div class="vcal-date" style="margin-left: -15px;">
                    <span></span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                    <span>11</span>
                    <span>12</span>
                    <span>13</span>
                    <span>14</span>
                    <span>15</span>
                    <span>16</span>
                    <span>17</span>
                    <span>18</span>
                    <span>19</span>
                    <span>20</span>
                    <span>21</span>
                    <span>22</span>
                    <span>23</span>
                    <span>24</span>
                    <span>25</span>
                    <span>26</span>
                    <span>27</span>
                    <span>28</span>
                    <span>29</span>
                    <span>30</span>
                    <span>31</span>
                </div>
            </div>
            <div class="col-md-5">
                <h5 class="font-weight-bold mt-3 mb-1">February-19</h5>
                <div class="vcal-week" style="margin-left: -15px;">
                        <span>S</span>
                        <span>M</span>
                        <span>T</span>
                        <span>W</span>
                        <span>T</span>
                        <span>F</span>
                        <span>S</span>
                    </div>
                    <div class="vcal-date" style="margin-left: -15px;">
                        <span></span>
                        <span></span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                        <span>11</span>
                        <span>12</span>
                        <span>13</span>
                        <span>14</span>
                        <span>15</span>
                        <span>16</span>
                        <span>17</span>
                        <span>18</span>
                        <span>19</span>
                        <span>20</span>
                        <span>21</span>
                        <span>22</span>
                        <span>23</span>
                        <span>24</span>
                        <span>25</span>
                        <span>26</span>
                        <span>27</span>
                        <span>28</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- <hr class="ml-3 mr-3"> -->
        
        <!-- <hr class="ml-3 mr-3"> -->

        <div layout="row" class="mt-4">
            <div class="col-md-6">
                <p>No of Days Selected : <b>28 Days</b></p>
            </div>
            <div class="col-md-6">
                <h5 class="mt-3 text-right">Total Price : <b>$ 1450000</b></h5>
            </div>
        </div>
        <div layout="row" class="mb-5">
            <div class="col-md-2">
                    <p><i class="fas fa-square" style="color: #BC2535"></i> Not Available</p>
            </div>
            <div class="col-md-6">
                    <p><i class="fas fa-square" style="color: green"></i> Selected</p>
            </div>
            <div class="col-md-4 text-right">
                <md-button class="md-raised md-primary all_button" style="margin-right: 0px;" ng-click="showProductDate($event, product)">Select Dates</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>