<div layout="column" style="position:relative">
  <!-- side nav for view all-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" ng-repeat="shortlisted in shortListedProducts" style="width:500px;"
    md-component-id="viewAll" id="divExport">
    <div layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Apple -Iphone 7</span>
        </h2>
        <span flex></span>
        <a class="md-button md-primary" href="#">Edit</a>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="viewAllCampaginList()">
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div>
    <md-content>
      <div layout="column" layout-margin style="margin: 0 8px 0 8px;">
        <div layout="row">
          <div layout="column" layout-align="center start" flex="50">
            <div class="md-body-2">{{shortlisted.siteNo}}</div>
          </div>
          <div layout="row" layout-align="end center" flex="50">

            <img src="assets/images/maps/light-3030.jpg" ng-if="shortlisted.lighting == 0" />
            <img src="assets/images/maps/light-color3030.jpg" ng-if="shortlisted.lighting == 1" />
            <span class="md-subhead plane-size">{{shortlisted.panelSize}}</span>
          </div>
        </div>
        <div layout="row" style="margin: 0 8px 0 8px;">
          <div layout="column" flex="35" layout-align="center start" class="margin-con">
            <div class="md-body-2">{{shortlisted.format_name}}</div>

          </div>
          <div layout="column" flex="35" layout-align="center start">
            <div class="md-body-2">Facing</div>
          </div>
          <div layout="column" flex="30" layout-align="center end ">
            <div class="md-body-2">{{shortlisted.impressions}}</div>
          </div>
        </div>
        <div layout="row">
          <div layout="column" flex="35" layout-align="center start" class="margin-con">
            <div class="md-caption">{{shortlisted.address}}</div>
            <div class="md-caption">500001</div>
          </div>
          <div layout="column" flex="35" layout-align=" start center">

            <div class="md-caption">{{shortlisted.direction}}</div>
          </div>
          <div layout="column" flex="30" layout-align="start end ">
            <div class="md-caption">3,87,000</div>
            <div class="md-caption">week(Approx)</div>
          </div>
        </div>
        <md-card-actions layout="row" layout-align="end center" style="margin:0px">
          <md-button style="margin:0px">View</md-button>
          <md-button style="margin:0px">Delete</md-button>
        </md-card-actions>
        <md-divider></md-divider>
      </div>
      <div layout="column" layout-margin>
        <div>
          <md-button class="md-raised md-warn" layout-fill> REQUEST PROPOSAL</md-button>
        </div>
        <div>
          <md-button class="md-raised " layout-fill> SHARE CAMPAIGN</md-button>
        </div>

      </div>
    </md-content>
  </md-sidenav>

  <!--saved view all Shortlisted -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px;" md-component-id="shortlistAndSave">
    <div layout="row">
      <div class="md-toolbar-tools">

        <div class="md-title">Shortlisted Products</div>
        <div flex></div>

        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleViewAllShortlisted()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div>
    <md-content>

      <div layout="column" layout-margin ng-repeat="shortlisted in shortListedProducts" style="margin: 0 8px 0 8px;">
        <div layout="row">
          <div layout="column" layout-align="center start" flex="50">
            <div class="md-body-2">{{shortlisted.siteNo}}</div>
          </div>
          <div layout="row" layout-align="end center" flex="50">

            <img src="assets/images/maps/light-3030.jpg" ng-if="shortlisted.lighting == 0" />
            <img src="assets/images/maps/light-color3030.jpg" ng-if="shortlisted.lighting == 1" />
            <span class="md-subhead plane-size">{{shortlisted.panelSize}}</span>
          </div>
        </div>
        <div layout="row" style="margin: 0 8px 0 8px;">
          <div layout="column" flex="35" layout-align="center start" class="margin-con">
            <div class="md-body-2">{{shortlisted.format_name}}</div>

          </div>
          <div layout="column" flex="35" layout-align="center start">
            <div class="md-body-2">Facing</div>
          </div>
          <div layout="column" flex="30" layout-align="center end ">
            <div class="md-body-2">Impressions</div>
          </div>
        </div>
        <div layout="row">
          <div layout="column" flex="35" layout-align="center start" class="margin-con">
            <div class="md-caption">{{shortlisted.address}}</div>
            <div class="md-caption">500001</div>
          </div>
          <div layout="column" flex="35" layout-align=" start center">

            <div class="md-caption">{{shortlisted.direction}}</div>
          </div>
          <div layout="column" flex="30" layout-align="start end ">
            <div class="md-caption">{{shortlisted.impressions}}</div>
            <div class="md-caption">week(Approx)</div>
          </div>
        </div>
        <md-card-actions layout="row" layout-align="end center" style="margin:0px">
          <md-button style="margin:0px">View</md-button>
          <md-button style="margin:0px" ng-click="deleteShortlisted($event, shortlisted.id)">Delete</md-button>
        </md-card-actions>
        <md-divider></md-divider>
      </div>

      <div layout="column" layout-margin>
        <div>
          <md-button class="md-raised md-warn" layout-fill ng-click="toggleSaveNewCampaign()">SAVE TO CAMPAGIN</md-button>
        </div>
        <div class="suggtn"><span class="suggtn-one">Need Suggestions?</span><span class="suggtn-two"><md-butoon ng-click="toggleSuggestMeSidenav()" class="md-primary">SUGGEST ME</md-button></span></div>
      </div>
    </md-content>

  </md-sidenav>

  <!-- saved capaign edit -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="savedEdit">
    <div layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Notifications</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideEditList()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-padding="">
      saved campaign edit list

      <md-button class="md-primary md-raised" ng-click="closeSideSavedCampaign()">saved campagin</md-button>
    </md-content>
  </md-sidenav>

  <!-- Save campagin dialog-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px; padding:10px;" md-component-id="saveNewCampaign">
    <div lauout=" column">
      <div layout="row">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleSaveNewCampaign()">

            <md-icon class="md-default-theme"><i class="material-icons">arrow_back</i></md-icon>
          </md-button>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleSaveNewCampaign()">

            <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
          </md-button>
        </div>
      </div>
      <md-content layout="column" style="overflow:hidden" ng-if="!campaignSavedSuccessfully">
        <div layout="column" layout-margin>
          <div class="md-headline">Save Campaign</div>
          <div class="md-headline">We are excited to see your Campaign</div>
          <div class="md-headline">Let's Work Together!</div>
        </div>

        <form name="viewAndSaveCampaignForm">
          <div layout="row" flex="100" layout-margin>
            <md-input-container class="md-block" layout-fill>
              <label>Campaign Name</label>
              <input required md-no-asterisk name="campname" ng-model="campaign.name">
              <div ng-messages="viewAndSaveCampaignForm.campname.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" flex="100" class="saved-dates">

            <div layout="column" flex="50">
              <md-input-container>
                <md-datepicker ng-model="campaign.start_date" md-placeholder="Campaign Start "></md-datepicker>
              </md-input-container>
            </div>
            <div layout="column" flex="50">
              <md-input-container>
                <md-datepicker ng-model="campaign.end_date" md-placeholder="Campaign End"></md-datepicker>
              </md-input-container>
            </div>

          </div>
          <div layout="row" flex="100" layout-margin>
            <md-input-container class="md-block" layout-fill>
              <label> Budget</label>
              <input ng-model="campaign.est_budget" type="text" name="est_budget" required="required" />
              <div ng-messages="viewAndSaveCampaignForm.est_budget.$error">
                <div ng-message="required">estimated budget required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-margin>
            <div>
              <md-button class="md-raised md-warn" layout-fill ng-click="viewAndSaveCampaign()">SAVE CAMPAIGN</md-button>
            </div>
            <div class="suggtn"><span class="suggtn-one">Need Suggestions?</span><span class="suggtn-two"><a ng-click="toggleSuggestMeSidenav()">SUGGEST ME</a></span></div>
          </div>
        </form>
      </md-content>
      <md-content layout="column" style="margin-top:20%" ng-if="campaignSavedSuccessfully">
        <div layout="column" layout-align="center center" layout-margin>
          <img src="assets/images/core/congrats-star.png" width="150px" height="150px" alt="Congrats Star">
          <div class="md-display-1">Congratulations</div>
          <div class="md-headline">Campaingn Saved Succcessfully</div>
        </div>
        <div layout="column" layout-margin>
          <div>
            <md-button class="md-raised md-warn" layout-fill>REQUEST PROPOSAL</md-button>
          </div>
          <div>
            <md-button class="md-raised" layout-fill ng-click="shareSidenav()">SHARE CAMPAIGN</md-button>
          </div>
        </div>

      </md-content>

    </div>

  </md-sidenav>

  <!-- saved campagin dialog two start-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px; padding:10px;" md-component-id="saveCampaignName">
    <div lauout=" column">
      <div layout="row">
        <div class="md-toolbar-tools">

          <span flex></span>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="saveCampaignName()">

            <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
          </md-button>
        </div>
      </div>
      <md-content layout="column" style="overflow:hidden">
        <div layout="column" layout-margin>
          <div class="md-title">Save Campaign</div>
          <div class="md-subhead">We are excited to see your Campaign</div>
          <div class="md-subhead">Let's Work Together!</div>
        </div>

        <form name="viewAndSaveCampaignForm">
          <div layout="row" flex="100" layout-margin>
            <md-input-container class="md-block" layout-fill>
              <label>Campaign Name</label>
              <input required md-no-asterisk name="campname" ng-model="project.campname">
              <div ng-messages="viewAndSaveCampaignForm.campname.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" flex="100" class="saved-dates">

            <div layout="column" flex="50">
              <md-input-container>
                <md-datepicker ng-model="ctrl.startDate" md-placeholder="Campaign Start "></md-datepicker>
              </md-input-container>
            </div>
            <div layout="column" flex="50">
              <md-input-container>
                <md-datepicker ng-model="ctrl.endDate" md-placeholder="Campaign End"></md-datepicker>
              </md-input-container>
            </div>

          </div>
          <div layout="row" flex="100" layout-margin>
            <md-input-container class="md-block" layout-fill>
              <label> Budget</label>
              <input ng-model="user.budget" type="text" name="budget" required="required" />
              <div ng-messages="viewAndSaveCampaignForm.budget.$error">
                <div ng-message="required">estimated budget required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-margin>
            <div>
              <md-button class="md-raised md-warn" layout-fill> SAVED CAMPAGIN</md-button>
            </div>
            <div class="suggtn"><span class="suggtn-one">Need Suggestions?</span><span class="suggtn-two"><md-butoon ng-click="toggleSuggestMeSidenav()" class="md-primary">SUGGEST ME</md-button></span></div>
          </div>
        </form>
      </md-content>
      <md-content layout="column" style="margin-top:20%">
        <div layout="column" layout-align="center center" layout-margin>
          <img src="assets/images/core/congrats-star.png" width="150px" height="150px" alt="Congrats Star">
          <div class="md-display-1">Congratulations</div>
          <div class="md-title">Campaingn Saved Succcessfully</div>
        </div>
        <div layout="column" layout-margin>
          <div>
            <md-button class="md-raised md-warn" layout-fill>REQUEST PROPOSAL</md-button>
          </div>
          <div>
            <md-button class="md-raised" layout-fill ng-click="shareSidenav()">SHARE CAMPAIGN</md-button>
          </div>
        </div>

      </md-content>

    </div>

  </md-sidenav>

  <!--create campaign -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px; padding:10px;" md-component-id="createCampaignSidenav">

    <div lauout=" column">
      <div layout="row">
        <div class="md-toolbar-tools">

          <span flex></span>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleCreateCampaignSidenav()">

            <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
          </md-button>
        </div>
      </div>
      <md-content layout="column" style="overflow:hidden" ng-if="!campaignSaved">
        <div layout="column" layout-margin>
          <div class="md-title">Create Campaign</div>
          <div class="md-subhead">We are excited to see your Campaign</div>
          <div class="md-subhead">Let's Work Together!</div>
        </div>

        <form name="viewAndSaveCampaignForm">
          <div layout="row" flex="100" layout-margin>
            <md-input-container class="md-block" layout-fill>
              <label>Campaign Name</label>
              <input required md-no-asterisk name="campname" ng-model="project.campname">
              <div ng-messages="viewAndSaveCampaignForm.campname.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" flex="100" class="saved-dates">

            <div layout="column" flex="50">
              <md-input-container>
                <md-datepicker ng-model="ctrl.startDate" md-placeholder="Campaign Start "></md-datepicker>
              </md-input-container>
            </div>
            <div layout="column" flex="50">
              <md-input-container>
                <md-datepicker ng-model="ctr.endDate" md-placeholder="Campaign End"></md-datepicker>
              </md-input-container>
            </div>

          </div>
          <div layout="row" flex="100" layout-margin>
            <md-input-container class="md-block" layout-fill>
              <label> Budget</label>
              <input ng-model="user.budget" type="text" name="budget" required="required" />
              <div ng-messages="viewAndSaveCampaignForm.budget.$error">
                <div ng-message="required">estimated budget required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="column" layout-margin>
            <div>
              <md-button class="md-raised md-warn" layout-fill ng-click="createNewCampaign()">CREATE CAMPAIGN</md-button>
            </div>
            <div class="suggtn"><span class="suggtn-one">Need Suggestions?</span><span class="suggtn-two"><md-butoon ng-click="toggleSuggestMeSidenav()" class="md-primary">SUGGEST ME</md-button></span></div>
          </div>
        </form>
      </md-content>
      <md-content layout="column" style="margin-top:20%" ng-if="campaignSaved">
        <div layout="column" layout-align="center center" layout-margin>
          <img src="assets/images/core/congrats-star.png" width="150px" height="150px" alt="Congrats Star">
          <div class="md-display-1">Congratulations</div>
          <div class="md-title">Campaingn Created Succcessfully</div>
          <div class="md-title" style="color: rgb(255, 75, 78);">Add Products To This campagin</div>
        </div>
        <div layout="column" layout-margin>
          <div>
            <md-button class="md-raised md-warn" layout-fill>REQUEST PROPOSAL</md-button>
          </div>
          <div>
            <md-button class="md-raised" layout-fill ng-click="shareSidenav()">SHARE CAMPAIGN</md-button>
          </div>
        </div>

      </md-content>

    </div>

  </md-sidenav>

  <!-- map poniter click show the content SideNav-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="productDetails" style="width:500px;">
    <md-content ng-if="!hideSelectedMarkerDetail">
      <div layout="column" class="map-img">
        <img ng-src="{{product.image}}" style="width:380px;height:200px;" />
        <md-button class="md-icon-button close-btn" aria-label="Close Side Panel" ng-click="closeProductDetailSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
      <div layout="row" layout-margin>
        <div layout="column" layout-align="center start" flex="50">
          <div class="md-title">{{product.siteNo}}</div>
        </div>
        <div layout="row" layout-align="end center" flex="50">
          <img src="assets/images/maps/light-3030.jpg" ng-if="product.lighting == 0" />
          <img src="assets/images/maps/light-color3030.jpg" ng-if="product.lighting == 1" />
          <span class="md-subhead plane-size">{{product.panelSize}}</span>
        </div>
      </div>
      <div layout="row" layout-margin>
        <div layout="column" layout-align="center start" flex="50">
          <div class="md-body-2">Location</div>
        </div>
        <div layout="column" layout-align="center end " flex="50" style="text-align:right">
          <div class="md-caption">{{product.address}}</div>

        </div>
      </div>
      <div layout="row" layout-margin>
        <div layout="column" layout-align="center start" flex="50">
          <div class="md-body-2">Impressions</div>
        </div>
        <div layout="column" layout-align="center end " flex="50">
          <div class="md-body-2" style="color:#D35400">{{product.impressions}}</div>
          <div class="md-caption">Week (Approx.)</div>
        </div>
      </div>
      <div layout="row" layout-margin>
        <div layout="column" layout-align="center start" flex="50">
          <div class="md-body-2">Facing</div>
        </div>
        <div layout="column" layout-align="center end" flex="50" style="text-align:right">
          <div class="md-caption">{{product.direction}}</div>

        </div>
      </div>
      <div layout="column" layout-margin>
        <div class="md-body-2">Available Dates</div>
      </div>
      <div layout="column" layout-margin>
        <md-button layout-fill class="md-raised md-warn" ng-click="shortlistSelected()">SHORTLIST</md-button>
      </div>
      <div layout="column" layout-margin>
        <md-button layout-fill class="md-raised" ng-click="addSelectedMarkerToCampaign()">ADD TO EXISTING CAMPAIGN</md-button>
      </div>
    </md-content>

    <md-conetent layout-margin layout-padding ng-if="hideSelectedMarkerDetail">
      <div layout="column" layout-margin>
        <div class="md-headline">Add to existing Campaign</div>
        <div class="md-headline" style="opacity:.5">Let's work Together!</div>
      </div>
      <div layout="row" layout-margin>
        <div><img ng-src="{{product.image}}" width="150px" height="150px"></div>
        <div>
          <div class="md-headline">{{product.siteNo}}</div>
          <div class="md-body-1" style="opacity:.5">{{product.address}}</div>
        </div>
      </div>
      <div layout="row" layout-margin>

        <md-input-container style="z-index:999;width:100%">
          <label>Select Campaign  </label>
          <md-select ng-model=" campagin" required="required">
            <md-option value="Flipkart">Flipkart</md-option>
            <md-option value="Amezon">Amezon</md-option>
            <md-option value="LG">LG</md-option>
          </md-select>
        </md-input-container>

      </div>
      <div layout="column" layout-margin>
        <div>
          <md-button class="md-raised md-warn" layout-fill> ADD CAMPAIGN</md-button>
        </div>
        <div class="suggtn"><span class="suggtn-one">Need Suggestions?</span><span class="suggtn-two"><a ng-href="#">SUGGEST ME</a></span></div>
      </div>
    </md-conetent>
  </md-sidenav>

  <!-- Share Campaign SideNav-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px;" md-component-id="shareCampaign" id="popupContainer">
    <div layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="shareSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon>
            <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
          </md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center" layout-margin layout-padding>
      <h3 class="md-headline">Share Campaign Details</h3>
      <form name="shareCampaignForm">

        <div layout="column">

          <md-input-container class="md-block">
            <label>Campaign Name</label>
            <input ng-model="user.userName" type="text" name="uname" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/"
            />
            <div ng-messages="shareCampaignForm.uname.$error">
              <div ng-message="required">Campaign Name is required.</div>

              <div ng-message="pattern">Campaign Name should contain only Alpha Numeric and _ - . symbols.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="user.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
            />
            <div ng-messages="shareCampaignForm.email.$error">
              <div ng-message="required">Email is required.</div>

              <div ng-message="pattern">Enter a valied Email Id.</div>
            </div>
          </md-input-container>

        </div>
        <md-button class="md-raised md-warn" ng-click="showAlert($event)" layout-fill>SHARE CAMPAIGN</md-button>

      </form>
    </md-content>


  </md-sidenav>

  <!-- Suggest Me dialog-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width:500px; padding:10px;" md-component-id="suggestMe">
    <div layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleSuggestMeSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center" layout-padding ng-if="!suggestMeRequestSent">
      <h3 class="md-headline">Don't think! Let me help you on your Campaign Needs.. </h3>


      <form name="suggestMeform">
        <md-input-container class="md-block">
          <label>Organisation Name</label>
          <input required md-no-asterisk name="org_name" ng-model="suggestionRequest.org_name">
          <div ng-messages="suggestMeform.org_name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Add your Organisation URL:</label>
          <input required md-no-asterisk name="org_url" ng-model="suggestionRequest.org_url">
          <div ng-messages="suggestMeform.org_url.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Industry Sector</label>
          <md-select name="repeatSelect" id="repeatSelect" ng-model="suggestionRequest.industry_sector">
            <md-option ng-repeat="x in industrySectorList " value="{{x.name}}">{{x.name}}</md-option>
          </md-select required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Estimated Budget</label>
          <input required md-no-asterisk name="est_budget" ng-model="suggestionRequest.est_budget">
          <div ng-messages="suggestMeform.est_budget.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <div layout="row" flex="100" class="saved-dates">
          <div layout="column" flex="50">
            <md-input-container>
              <md-datepicker ng-model="suggestionRequest.expected_start_date" md-placeholder="Campaign Start "></md-datepicker>
            </md-input-container>
          </div>
          <div layout="column" flex="50">
            <md-input-container>
              <md-datepicker ng-model="suggestionRequest.expected_end_date" md-placeholder="Campaign End"></md-datepicker>
            </md-input-container>
          </div>
        </div>
        <div layout="row" layout-margin>
          <md-button class="md-raised md-warn" ng-click="sendSuggestionRequest($event)" layout-fill>SUGGEST ME</md-button>
        </div>
      </form>
    </md-content>

    <md-content layout-align="center center" layout-margin layout="column" style="top:10%" ng-if="suggestMeRequestSent">
      <img src="assets/images/core/congrats-star.png" width="150px" height="150px" alt="Congrats Star">
      <h3 class="md-display-1">Thanks !</h3>
      <h4 class="md-subhead" style="opacity:.5;text-align:center">We will work on your Campaign needs and get back soon to your registered e-mail address</h4>
    </md-content>
  </md-sidenav>

  <!-- map html start-->
  <div layout="column" style="position:relative;" id="map-container">
    <!-- <div id="gmap"></div> -->
    <ng-map center="{{address.name}}" zoom="4" style="width:100%;height:100%;" max-zoom="16" disable-default-u-i="true">
      <custom-control position="TOP_RIGHT" index="1" style="margin-top:10px;margin-right:10px;">
        <md-button class="md-button md-fab md-mini" ng-click="toggleTrafficLegends()">
          <md-icon><i class="material-icons">error_outline</i></md-icon>
        </md-button>
      </custom-control>
    </ng-map>
    <div layout="column" class="search-part">
      <!-- search html start-->
      <div layout="row" layout-padding class="search-field">
        <md-input-container flex class="search-input">
          <label>&nbsp;</label>
          <input ng-model="siteNoSearch" placeholder="Search billboards by tab id and area" class="search-bg" on-enter="searchBySiteNo()">
        </md-input-container>
      </div>
      <!-- search html start-->
    </div>
    <div layout="column" class="map-sidenav">

      <!-- filters html start-->
      <div layout="column" layout-padding class="side-navpadding">
        <md-content class="md-padding main-part" layout="column" ng-click="filters()">
          <!-- <div layout="row" ng-init="open = false" ng-click="open = !open"> -->
          <div layout="row">
            <div class="main-icon"><img src="assets/images/icons/filter.png"></div>
            <div class="md-caption theme-txt">FILTERS</div>
            <div flex></div>
            <div>
              <md-icon ng-hide="filter"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
              <md-icon ng-show="filter"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
            </div>
          </div>
        </md-content>
        <div layout="column" ng-show="filter" class="filters" style="padding:0px">
          <div class="filterscrollbar" id="filterscrollbar-style">
            <!-- dateselection html end-->
            <div layout="column" layout-padding>
              <div class="md-subhead">Area</div>
              <!-- pincode,area,tab id section start-->
              <form class="filter-form">
                <md-input-container class="pstcde" style="width:100%">
                  <!-- <label for="testInput">Postcode,Area Name,Tab ID</label> -->

                  <input vs-google-autocomplete type="text" id="testInput" md-autofocus ng-model="address.name" vs-place="address.place" vs-place-id="address.components.placeId"
                    vs-street-number="address.components.streetNumber" vs-street="address.components.street" vs-city="address.components.city"
                    vs-state="address.components.state" vs-country-short="address.components.countryCode" vs-country="address.components.country"
                    vs-post-code="address.components.postCode" vs-district="address.components.district" vs-latitude="address.components.location.lat"
                    vs-longitude="address.components.location.lng" type="text" name="address" aria-label="google-autocomplete"
                    ng-change="setNewAddress()">
                </md-input-container>
              </form>
              <!-- pincode,area,tab id section end-->
              <!--slider html start -->

              <div layout="row" class="">
                <div class="range md-body-1" flex="20">Range</div>
                <div flex class="slider-range">
                  <md-slider md-discrete ng-model="rating" min="0" max="100" gap="0" aria-label="rating" id="red-slider"></md-slider>
                </div>
                <div class="rnge md-body-1" flex="20">KMS</div>
              </div>

              <!--slider html end -->
              <div>
                <md-divider></md-divider>
                <div layout="column" layout-margin>
                  <div class="md-body-1">Select Multiple Locations</div>
                </div>

                <md-divider></md-divider>
                <div layout="row" layout-margin>
                  <div flex="50" class="armrgn">
                    <md-input-container>
                      <label>Select Country </label>
                      <md-select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="selectedCountry" ng-change="setCountry()">
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-option ng-repeat="country in countries | filter:searchTerm" value="{{country.id}}">{{country.name}}</md-option>
                      </md-select required>

                    </md-input-container>
                  </div>
                  <div flex="50" class="armrgn">
                    <md-input-container>
                      <label> Select State</label>
                      <md-select ng-model="selectedStates" class="select-value" ng-disabled="!selectedCountry" md-on-close="clearSearchTerm()"
                        data-md-container-class="selectdemoSelectHeader" ng-change="setStates()" multiple>
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm" type="search" placeholder="Search for a state.." class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="states">
                          <md-option ng-value="state.id" ng-repeat="state in states | filter:searchTerm">{{state.name}}</md-option>
                        </md-optgroup>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-margin>
                  <div flex="50" class="armrgn">
                    <md-input-container style="width:100%">
                      <label>Select City</label>
                      <md-select ng-model="selectedcitys" ng-disabled="!selectedStates" ng-change="setCities()" md-on-close="clearSearchTerm()"
                        data-md-container-class="selectdemoSelectHeader" multiple>
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm" type="search" placeholder="Search for a city.." class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="citys">
                          <md-option ng-value="city.id" ng-repeat="city in cities | filter:searchTerm">{{city.name}}</md-option>
                        </md-optgroup>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div flex="50" class="armrgn">
                    <md-input-container style="width:100%">
                      <label>Select Areas</label>
                      <md-select ng-model="selectedAreas" ng-change="setareas()" ng-disabled="!selectedcitys" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                        multiple>
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm" type="search" placeholder="Search for a area.." class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="areas">
                          <md-option ng-value="area.id" ng-repeat="area in areas | filter:searchTerm">{{area.name}}</md-option>
                        </md-optgroup>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="row">
            <md-button class="md-raised md-primary" type="submit" ng-click="applyFilter()">APPLY</md-button>
            <md-button class="md-warn " type="reset" value="Reset"><span class="md-body-1" ng-click="resetFilters()">Reset Feileds</span> </md-button>
          </div>
        </div>
      </div>
      <!-- filters html end-->
      <!-- formats html start-->
      <div layout="column" layout-padding class="side-navpadding">
        <md-content class=" md-padding main-part" layout="column" ng-click="formats()">
          <!-- <div layout="row" ng-init="formats = false" ng-click="formats = !formats"> -->
          <div layout="row">

            <div class="main-icon"><img src="assets/images/icons/formats.png"></div>
            <div class="md-caption theme-txt">FORMATS</div>
            <div flex></div>
            <div>
              <md-icon ng-hide="format"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
              <md-icon ng-show="format"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
            </div>
          </div>
        </md-content>
        <div layout="column" ng-show="format" class="formats-types">
          <div ng-repeat="formatGroup in formatGrid">
            <div layout="row" layout-align="space-around center">
              <div ng-repeat="format in formatGroup track by $index">
                <div layout="column" class="digital-board">
                  <div ng-cloak style="border-right:1px solid #ccc">
                    <md-button class="md-grid-item-content" ng-click="toggleFormatSelection(format.id)" ng-class="{'red' : isFormatSelected(format.id)}"
                      ng-if="format">
                      <!-- <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon> -->
                      <img ng-src="{{serverUrl + format.image}}" class="img-size">
                      <div class="md-caption">{{format.name}}</div>
                    </md-button>
                    <md-button class="md-grid-item-content" style="padding:36px 0px;" disabled ng-if="!format">
                  </div>
                </div>
                <md-divider></md-divider>
              </div>
            </div>
            <md-divider></md-divider>
          </div>
        </div>
      </div>
      <!-- formats html end-->
      <!--SHORTLIST html start -->
      <div layout="column" layout-padding class="side-navpadding">
        <md-content class=" md-padding main-part" layout="column" ng-click="shortlistDiv()">
          <!-- <div layout="row" ng-init="shortlist = false" ng-click="shortlist = !shortlist"> -->
          <div layout="row">
            <div class="main-icon"><img src="assets/images/icons/shortlist.png"></div>
            <div class="md-caption theme-txt">SHORTLIST</div>
            <div flex></div>
            <div>
              <md-icon ng-hide="shortlist"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
              <md-icon ng-show="shortlist"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
            </div>
          </div>
        </md-content>
        <div ng-show="shortlist" class="short-list">
          <div class="shortlistscrollbar" id="shortlistscrollbar-style">
            <!-- <div layout="column" layout-margin>
            <div layout="row" layout-align="space-around center">
              <div class="shrtlst"><span class="shrt-pdng">03</span> <span>Billboars</span></div>
              <div class="shrtlst"><span class="shrt-pdng">33</span><span>Unipole</span></div>
              <div class="shrtlst"><span class="shrt-pdng">100</span> <span>Digital</span></div>
            </div>
            <div layout="row" layout-align="space-around center">
              <div class="shrtlst"><span class="shrt-pdng">03</span> <span>Billboars</span></div>
              <div class="shrtlst"><span class="shrt-pdng">33</span><span>Unipole</span></div>
              <div class="shrtlst"><span class="shrt-pdng">100</span> <span>Digital</span></div>
            </div>
          </div>
          <md-divider></md-divider> -->
            <div layout="row" flex ng-repeat="shortlisted in shortListedProducts">
              <md-list flex style="padding:0px">
                <md-list-item class="md-3-line list-img">
                  <!-- <img ng-src="assets/images/product/person.png" class="md-avatar" alt="aa" /> -->
                  <div class="list-name">
                    <span class="md-title">{{shortlisted.format_name | PickFirstLetter}}</span>
                  </div>
                  <div class="md-list-item-text list-item-text" layout="column" flex>
                    <p>{{shortlisted.siteNo}}</p>
                    <h3 class="md-body-1">{{shortlisted.area_name}}</h3>
                    <!-- <p class="md-caption">{{shortlisted.address}}</P> -->
                  </div>
                </md-list-item>

              </md-list>
              <div class="md-list-item-text" layout="column" layout-align="space-between center" layout-margin>
                <!-- <md-checkbox class="md-secondary list-checkbox" 
                ng-checked="existsShortlistedForNewCampaign(shortlisted, selectedForNewCampaign)" 
                ng-click="toggleSelectedShortlistedForNewCampaign(shortlisted, selectedForNewCampaign)" aria-lebel ="random label" aria-labelledby="delete">
              </md-checkbox> -->
                <md-button class="md-icon-button" ng-click="deleteShortlisted($event, shortlisted.id)">
                  <md-icon><i class="material-icons ">delete</i></md-icon>
                </md-button>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div layout="row">
            <md-button class="md-raised " ng-click="toggleViewAllShortlisted()">VIEW ALL</md-button>
            <md-button class="md-raised md-primary" ng-click="saveCampaignName()">SAVE </md-button>
            <md-button class="md-raised" ng-click="shareSidenav()">SHARE</md-button>
          </div>
        </div>
      </div>
      <!--SHORTLIST html end -->
      <!--saved campagin html start -->
      <div layout="column" layout-padding class="side-navpadding">
        <md-content class=" md-padding main-part" layout="column" ng-click="savedcampaignDiv()">
          <div layout="row">
            <div class="main-icon"><img src="assets/images/icons/savedcampagin.png"></div>
            <div class="md-caption theme-txt">SAVE CAMPAIGNS</div>
            <div flex></div>
            <div>
              <md-icon ng-hide="savedcampaign"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon>
              <md-icon ng-show="savedcampaign"><i class="material-icons theme-txt">keyboard_arrow_up</i></md-icon>
            </div>
          </div>
        </md-content>
        <div class="saved-campagin" ng-if="userCampaigns.length > 0 && savedcampaign">
          <div class="savescrollbar" id="savecamp-style">
            <div layout="column" ng-repeat="userCampaign in userCampaigns">
              <div layout="row" layout-padding>
                <div flex="">
                  <!-- <div class="md-body-1">{{userCampaign.org_name}}</div> -->
                  <div class="md-body-1 campagin-name">{{userCampaign.name}}</div>
                </div>
                <!-- <div flex></div> -->
                <div class="saved-date">
                  <!-- <span class="saved-border">01 Aug 2017</span><span class="saved-border">15 Aug 2017</span> -->
                  <span class="saved-border">{{userCampaign.start_date | date:'dd-MM-yy'}}</span><span class="saved-border">{{userCampaign.end_date | date:'dd-MM-yy'}}</span>
                </div>
                <div flex-xs="5" flex-sm="5">
                  <md-menu>
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                      <md-icon><i class="material-icons">more_vert</i></md-icon>
                    </md-button>
                    <md-menu-content>
                      <md-menu-item>
                        <md-button ng-click="shareSidenav()">Share</md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="deletePlannedCampaign(userCampaign.id)">Delete</md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
              <div class="" layout="row" layout-align="space-between center" flex style="margin-top:-10px">
                <md-button class="md-primary saved-btn" ng-click="viewAllCampaginList()"> VIEW</md-button>
                <md-button class="md-primary saved-btn">Request Proposal</md-button>
              </div>
            </div>
          </div>
          <div layout="column" layout-align="center center">
            <md-button class="md-primary md-raised" ng-click="ExportToExcel()">EXPORT ALL</md-button>
          </div>
        </div>
      </div>
      <div style="background:#F1FBFD" ng-if="userCampaigns.length == 0 && savedcampaign">
        <div layout="column" layout-margin layout-align="center center">
          <img src="assets/images/product/createcampagin.png" alt="image" width="214px;height:174px">
        </div>
        <div layout="column" layout-align="center center" layout-margin>
          <md-button class="md-raised md-warn" ng-click="toggleCreateCampaignSidenav()">CREATE CAMPAIGN</md-button>
        </div>
      </div>
    </div>
  </div>
  <!-- reommand button -->
  <!-- <div layout="column" style="top:auto;z-index:1;position:absolute;bottom:0px;right:0;width:100%">
    <div layout="row" layout-align="end center" style="right:10%">
      <md-button class="md-raised md-primary remm-btn" ng-click="RecommendedDiv()">Recommended<span>
      <md-icon ng-hide="Recommended"><i class="material-icons theme-txt"> keyboard_arrow_up</i></md-icon></span>
        <span><md-icon ng-show="Recommended"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon></span>
      </md-button>
      
      <md-button class="md-raised md-primary remm-btn" ng-click="PopularDiv()">Popular Mediums<span> 
      <md-icon ng-hide="Popular"><i class="material-icons theme-txt"> keyboard_arrow_up</i></md-icon></span>
        <span><md-icon ng-show="Popular"><i class="material-icons theme-txt">keyboard_arrow_down</i></md-icon></span>
      </md-button>
    </div>
    <div layout="row" style="bottom:0px;background:#fff;width:100%;height:150px;" ng-show="Recommended">
      <div>
        <img src="assets/images/icons/001-shop.png">

      </div>
    </div>
    <div layout="row" style="bottom:0px;background:#fff;width:100%;height:150px;" ng-show="Popular">
      <div>
        <img src="assets/images/icons/001-shop.png">

      </div>
      <div>
        <img src="assets/images/icons/001-shop.png">

      </div>
    </div>
  </div> -->
  <div layout="column" style="top:auto;z-index:1;position:absolute;bottom:15px;right:3%;width:100%">

    <!-- traffic-->
    <div layout="row" layout-align="end center">
      <md-button class="md-raised md-primary remm-btn" ng-click="toggleTraffic()" id="traffic-toggle"><span ng-show="!trafficOn">Show</span><span ng-show="trafficOn">Hide</span> Live Impression</md-button>
    </div>
    <div ng-show="showTrafficLegend">
      <div layout="row" flex="20" style="background-color: white; width:100%;top:10%;z-index:1;position:absolute;right:2%;">
        <div flex="40" layout="column" layout-margin layout-align="center">
          <div class="light"></div>
          <div class="moderate"></div>
          <div class="havey"></div>
          <div class="extrem"></div>
        </div>
        <div flex="60" layout="column" layout-margin>
          <div class="md-body-2">Light Traffic</div>
          <div class="md-body-2">Moderate Traffic</div>
          <div class="md-body-2">Heavy Traffic</div>
          <div class="md-body-2">Extreme Traffic</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  var height = $(window).height();
  $('#map-container').height(height - 64);

</script>