<style>
    md-backdrop.md-sidenav-backdrop {
      z-index: -1;
    }
    .gray-blocked {
      background: #ddd;
    }
    .red-blocked {
      color: #f00 !important;
      font-weight: bold;
    }
    .addWeekColor{
      background-color: #f00;
      color:white;
    }
    .selectedWeekColor {
      background-color: green;
    }
    .addBlockedColor {
      background-color: gray;
      cursor: not-allowed !important;
    }
    .error_popup{
      width: 75%;
      position: absolute;
      bottom: 86px;
      left: 15%;
    }
    .error_popup .error_header{
      background: #44596d;
      padding: 3px;
    }
    .error_popup .error_header h3{
      color: #fff;
      font-size: 15px;
      margin-top: 5px;
      text-transform: capitalize;
    }
    .error_popup .error_body{
      background: #fff;
      padding: 5px 30px 5px 10px;
  }
  .sidenav-listview {
    width: 500px !important;
    max-width: 500px !important;
    z-index: 9 !important;
    height: 90vh;
    margin-top: 64px;
}
.md-datepicker-calendar-pane{
  width: 304px;
}
.md-datepicker-input-mask{
  width: 304px;
}
.md-datepicker-input{
  font-size: 12px;
}
.gmnoprint{
    right: 170em !important;
}
.gmnoprint .gm-style-cc{
  right: 0px !important;
}
  </style>
  <div layout="column" style="position:relative">
  
    <!-- Selected product detail sidenav-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width_map" md-component-id="productDetails"
      style="z-index:10 !important;width: 500px !important;max-width:500px !important;" >    
      <md-content class="save_r_excited">
        <div class="inner">
          <div class="row" style="margin-right:0px;">
            <div class="col-md-11">
                <h5 class="font-weight-bold ml-3 mt-3 mb-1">{{product.siteNo}} &nbsp; {{product.area_name}}</h5>
            </div>
            <div class="col-md-1 text-right mt-3">
                <a class="close-btn" ng-click="toggleProductDetailSidenav()">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
          </div>
          <div class="row" style="margin-right:0px;">
            <div class="col-md-12" style="padding-right:0px;">
                <div class="mt-2" ng-click="showProductImagePopup($event, product)">
                  <img src="{{product.image}}" style="width:100%;height: 267px !important;padding: 0px 10px 0px 10px;" />
                </div>
            </div>
          </div>
            
          <div class="row mt-2" style="margin-right:0px;">
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Type</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: {{product.type}}</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Size</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: {{product.panelSize}}</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Venue</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: {{product.venue}}</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Address</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: {{product.address}}</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Ethinicity</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: {{product.ethnicity}}</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Demographic</p>
                </div>
                <div class="col-md-7">
                  <p ng-repeat = "demoage in product.demographicsage">
                      : Age: {{demoage.fromage}} - {{demoage.toage}} : <span class="font-weight-bold">{{demoage.percentage}}%</span><br>                     
                  </p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Impressions</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: {{product.impressions || '0'}} per week</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Price</p>
                </div>
                <div class="col-md-5">
                    <p class="font-weight-bold mb-1 ml-2">: $ {{product.price}} for 28 days</p>
                </div>
                <div class="col-md-4 text-right">
                    <a herf="#" class="ml-3"><b><u>Artwork Guidlines</u></b></a>
                </div>
          </div> 
          <hr class="ml-3 mr-3">
          <ul style="list-style: disc;padding-left: 28px;" ng-repeat="strength in product.strengths">
            <li> {{strength.strname | capitalize}}</li>
          </ul>
          <hr class="ml-3 mr-3">
          <div class="row pb-3 m-2" ng-hide="ranges.selectedDateRanges.length > 0" >
            <div layout="column" class="" style="padding:8px">
                <div class="form-group mb-2 mt-2" id="hideCalenderInput">
                  <input date-range-picker ng-model="ranges.selectedDateRanges" 
                   custom-options="customOptions" class="form-control md-whiteframe-3dp date-picker"
                    placeholder="Product date" type="text" name="date" readonly options="mapProductOpts"
                    id="booking_dates_picker" style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
                  
                  <div class="input-group" style="z-index: 0;">
                    <!-- <input type="text" readonly ng-value="'Please Select booking dates: ' + ranges.selectedDateRanges.length"
                      class="form-control"> -->
                    <div class="ibtn btn-danger" id="calender-autolaod-div" ng-click="getProductUnavailableDates(product, $event);">
                      <a class="btn btn-danger">
                        Select Dates
                      </a>
                    </div>
                  </div>
                  <div ng-messages="addProductForm.date.$error" ng-if="addProductForm.date.$touched" style="color:red">
                    <div ng-message="required">Date is required.</div>
                  </div>
                </div>
            </div>    
          </div>
          <div class="Order_S pb-3" ng-if="ranges.selectedDateRanges && ranges.selectedDateRanges.length > 0">
            <h5 class="font-weight-bold ml-3 mt-3">Order Summary</h5>
            <div class="row mt-2 mb-2" style="margin-right:0px;">
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Dates Selected</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold mb-1 ml-2">: Jan 14 - Feb 12</p>
                    <div id="calender-autolaod-div" style="width: 25px; cursor: pointer;" ng-click="getProductUnavailableDates(product, $event);">
                      <i class="material-icons">edit</i>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="mb-1 ml-3">Total Price</p>
                </div>
                <div class="col-md-7">
                    <p class="mb-1 ml-2">: <span class="font-weight-bold">$ 1450000</span> ( 34 Days selected )</p>
                </div>
            </div>
              
            
            <div class="row m-0">
              <div class="col-md-6 ">
                <md-button class="md-raised md-primary all_button m-0"
                  ng-click="toggleExistingCampaignSidenav()" >
                  Book Product
                </md-button>
              </div>
            <div class=" col-md-6 text-right">
              <md-button class="md-raised md-warn Upload_font m-0"                 
                ng-click="shortlistSelected(product.id, ranges.selectedDateRanges, $event)"  ng-disabled="totalSlotAmount <= 0" style="margin-left: 45px;">
                Shortlist
              </md-button>
            </div>
            </div>
          </div>  
        </div>
        <div class="prodct_save md-whiteframe-2dp  float-right" ng-show="showSaveCampaignPopup"
          style="width:320px;position: absolute;right: 0px;margin-bottom:50px; ">
          <div layout="row">
            <div flex></div>
            <a class="md-icon-button close-btn" ng-click="toggleExistingCampaignSidenav()">
              <i class="material-icons">close</i>
            </a>
          </div>
          <form name="forms.mySaveCampaignForm">
            <div class="md-body-2 m-2 ">We are excited to see your Campaign</div>
            <div class="md-title  m-2">Let's work Together!</div>
            <div class="form-group mt-3 mr-2 ml-2">
              <input type="text" class="form-control" id="text" ng-model="campaign.name" ng-disabled="existingCampaign.id" placeholder="Campaign Name " ng-keyup = "EnableDisable()">
            </div>
            <div layout="column" class="mr-2 ml-2 mb-3">
              <md-button class="md-raised all_button" layout-fill ng-click="saveCampaignName(campaign.name,product.id,ranges.selectedDateRanges)" >
                  Launch Campaign
              </md-button>
            </div>
          </form>
          <p class="text-center md-body-2">(OR)</p>
          <div class="form-group mr-2 ml-2">
            <select class="form-control"  ng-model="existingCampaign.id" ng-disabled="campaign.name" required="required">
              <option ng-value="campaign.id" ng-repeat="campaign in activeUserCampaigns">{{campaign.name}}</option>
            </select>
          </div>
          <div layout="column" class="mr-2 ml-2 mb-3">
            <md-button class="md-raised all_button" layout-fill
              ng-click="addProductToExistingCampaign(existingCampaign.id, product.id,weeksArray)" ng-disabled="!existingCampaign.id">
              add to existing or save Campaign
            </md-button>
          </div>
        </div>
        <div class="error_popup box__shadow" ng-if="packagePopUp">
          <div class="error_header">
              <div layout="row">
                <h3>{{selectPackageAbove.head}} </h3>
                <div flex></div>
                <a class="md-icon-button close-btn" ng-click = "closeSelectedPopup()">
                  <i class="material-icons">close</i>
                </a>
              </div>
          </div>
          <div class="error_body">
              <p>{{selectPackageAbove.dsc}}</p>
          </div>
        </div>
      </md-content>
  
    </md-sidenav>



    <!-- Selected product detail sidenav ends-->

    <!--Select product detail for digital sidenav start-->
    <!-- <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width_map" md-component-id="digitalProductDetails"
      style="z-index:10 !important;width: 500px !important;max-width:500px !important;" >
      <md-content class="save_r_excited">
        <div class="inner">
          <div class="row" style="margin-right:0px;">
            <div class="col-md-8">
                <h5 class="font-weight-bold ml-3 mt-3 mb-1">{{product.siteNo}} &nbsp;-  {{ product.area_name }}</h5>
               
              </div>
              <div class="col-md-3 text-right pr-0 mt-3">
                  <a herf="#" class="ml-3"><b><u>Artwork Guidlines</u></b></a>
              </div>
            <div class="col-md-1 text-right pr-0 mt-3">
                <a class=" close-btn" ng-click="toggleProductDetailSidenav()">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6" style="margin-right: -43px;">
                    <h6 class="ml-3 mt-1"><span class="font-weight-bold">Size:</span> {{product.panelSize}}</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="ml-3 mt-1"><span class="font-weight-bold">Type:</span> {{product.type}}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left: 0px;margin-right:0px;">
            <div class="col-md-12" style="padding-left:0px;padding-right: 0px;">
                <div class="mt-2" ng-click="showProductImagePopup($event, product)">                                    
                  <img ng-src="{{product.image}}" style="width:100%;height: 267px !important;padding: 0px 10px 0px 10px;" />
                </div>
            </div>
        </div>
      
          <div class="mt-2">
              <p class="mt-3 ml-3 mb-1"><i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 12px;"></i>&nbsp;This digital bulletin minimum booking is 1 weeks.</p>
              <p class="ml-3 mb-1"><i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 12px;"></i>&nbsp;Total No of busses is 30 busses.</p>
              <p class="ml-3 mb-1"><i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 12px;"></i>&nbsp;Your 10 second ad will be shown 1 time per 70 seconds.</p>
              <p class="ml-3"><i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 12px;"></i>&nbsp;Total slots available in this digital bulletin is 7 slots.</p>
          </div> 
        
          <h5 class="font-weight-bold ml-3 mt-3 mb-3">Select Duration, Start Date & No of slots -:
              <select class="browser-default" ng-model = "numOfSlots" id="slot" placeholder="I am" ng-change = "blockSlotChange()" ng-options="slots for slots in digitalSlots" style="width: 140px; background: #e9e9e9; border:none;">
                </select>
          </h5>

          
            
               
              
          <div layout="row" id="scrollFind" class="mt-2 ml-3 mb-2 mr-3 mostly-customized-scrollbar">
            <a class="border mb-2 p-1 text-center selected_divcolor" ng-repeat = "week in weeksDigitalArray track by $index" 
             ng-disabled = "week.isBlocked && week.isBlocked == true" ng-click="selectUserDigitalWeeks(week,$index,$event)" ng-class="{addWeekColor: week.selected && week.selected == true , addBlockedColor : week.isBlocked && week.isBlocked == true}">
              <div class="md-caption setect_padding">{{week.twoWeeks}}&nbsp;Weeks</div>
              <h3 class="md-body-2 setect_paddingweek"> of {{week.startDay | dateslots }}</h3>
              <h3 class="md-body-2 setect_padbottom">${{week.price || 0}}</h3>
              <h3 class="md-body-2 selected_padbottom" style="color:rgb(109, 16, 21);font-size: 11px;" ng-if="numOfSlots && week.availableSlots > 0">{{week.availableSlots}} Available</h3>
              <h3 class="md-body-2 selected_padbottom" style="color:rgb(29, 119, 64);font-size: 11px;" ng-if="numOfSlots && !week.availableSlots && !week.isBlocked && week.isBlocked != true" >{{digitalSlots.length}} Available</h3>
            </a>
          </div>   
          <span class="mt-1 ml-3 mb-1" ng-repeat = "selectedDates in selectedSlotsdateDetails">{{selectedDates.startDate}} - {{selectedDates.endDate}} - ${{selectedDates.price}}</span>
          <div class="row pb-3" style="margin-right:0px;">
            <div class="col-md-6">
                <h5 class="font-weight-bold ml-3 mt-3">Total : ${{totalDigitalSlotAmount || 0}}</h5>
            </div>
            <div class="col-md-2" style="margin-left: 12px;">
                <md-button class="md-raised md-warn Upload_font"
                ng-click="shortlistSelected(product.id, weeksDigitalArray,product.type, $event)" ng-disabled="totalDigitalSlotAmount <= 0">Shortlist</md-button>
            </div>
            <div class="col-md-2" style="margin-left: 20px;">
                <md-button class="md-raised md-primary all_button" style="margin-left: 2px;"  ng-click="toggleExistingCampaignSidenav()" ng-disabled="totalDigitalSlotAmount <= 0">Launch Campaign</md-button>
            </div>
          </div>
        </div>
        <div class="prodct_save md-whiteframe-2dp  float-right" ng-show="showSaveCampaignPopup"
          style="width:320px;position: absolute;right: 0px;margin-bottom:50px; ">
          <div layout="row">
            <div flex></div>
            <a class="md-icon-button close-btn" ng-click="toggleExistingCampaignSidenav()">
              <i class="material-icons">close</i>
            </a>
          </div>
          <form name="forms.mySaveCampaignForm" ng-submit="saveDigitalCampaignName(campaign.name,product.id,weeksDigitalArray)">
            <div class="md-body-2 m-2 ">We are excited to see your Campaign</div>
            <div class="md-title  m-2">Let's work Together!</div>
            <div class="form-group mt-3 mr-2 ml-2">
              <input type="text" class="form-control" id="text" ng-model="campaign.name" ng-disabled="existingCampaign.id" placeholder="Campaign Name " ng-keyup = "EnableDisable()">
            </div>
            <div layout="column" class="mr-2 ml-2 mb-3">
              <md-button class="md-raised all_button" layout-fill type="submit">
                  Launch Campaign
              </md-button>
            </div>
          </form>
          <p class="text-center md-body-2">(OR)</p>
          <div class="form-group mr-2 ml-2">
            <select class="form-control"  ng-model="existingCampaign.id" ng-disabled="campaign.name" required="required">
              <option ng-value="campaign.id" ng-repeat="campaign in activeUserCampaigns">{{campaign.name}}</option>
            </select>
          </div>
          <div layout="column" class="mr-2 ml-2 mb-3">
            <md-button class="md-raised all_button" layout-fill
              ng-click="addProductToExistingCampaign(existingCampaign.id, product.id,weeksDigitalArray)" ng-disabled="!existingCampaign.id">
              add to existing or save Campaign
            </md-button>
          </div>
        </div>
        <div class="error_popup box__shadow" ng-if="packagePopUp">
          <div class="error_header">
              <div layout="row">
                <h3>{{selectPackageAbove.head}} </h3>
                <div flex></div>
                <a class="md-icon-button close-btn" ng-click = "closeSelectedPopup()">
                  <i class="material-icons">close</i>
                </a>
              </div>
          </div>
          <div class="error_body">
              <p>{{selectPackageAbove.dsc}}</p>
          </div>
        </div>
      </md-content>
  
    </md-sidenav> -->
    <!--Select product detail for digital sidenav end -->
  
    <!-- Share Campaign Sidenav -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="shareCampaign"
      id="popupContainer">
      <div layout="row">
        <div class="md-toolbar-tools">
          <h3 class="md-headline">Share Campaign Details</h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
            <md-tooltip>Close Side Panel</md-tooltip>
            <md-icon>
              <md-icon class="md-default-theme">
                <i class="material-icons">close</i>
              </md-icon>
            </md-icon>
          </md-button>
        </div>
      </div>
      <md-content layout-align="center center" layout-margin layout-padding>
  
        <form name="shareCampaignForm">
          <div layout="column">
            <md-input-container class="md-block">
              <label>Recipient Name</label>
              <input ng-model="shareCampaign.receiver_name" type="text" name="name" required="required" />
              <div ng-messages="shareCampaignForm.name.$error">
                <div ng-message="required">Recipient Name is required.</div>
                <div ng-message="pattern">Recipient Name should contain only Characters.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Email</label>
              <input ng-model="shareCampaign.email" name="email" type="email" required="required"
                ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
              <div ng-messages="shareCampaignForm.email.$error">
                <div ng-message="required">Email is required.</div>
                <div ng-message="pattern">Enter a valid Email Id.</div>
              </div>
            </md-input-container>
          </div>
          <md-button type="submit" class="md-raised md-warn" ng-click="shareCampaign($event, shareCampaign)" layout-fill>
            SHARE CAMPAIGN</md-button>
        </form>
      </md-content>
    </md-sidenav>
    <!-- Share Campaign Sidenav ends -->
  
    <!-- map html start (left side controls) -->
    <div layout="column" style="position:relative;height:100%;" id="map-container">
      <ng-map center="{{address.name}}" zoom="4" style="width:100%;height:100%;" max-zoom="16" min-zoom="5" zoom-control="true"
        disable-default-u-i="true" ng-if="mapContainerHeightSet" styles="[
        {
          elementType: 'geometry',
          stylers: [{color: '#f5f5f5'}]
        },
        {
          elementType: 'labels.icon',
          stylers: [{visibility: 'off'}]
        },
        {
          elementType: 'labels.text.fill',
          stylers: [{color: '#616161'}]
        },
        {
          elementType: 'labels.text.stroke',
          stylers: [{color: '#f5f5f5'}]
        },
        {
          featureType: 'administrative.land_parcel',
          elementType: 'labels.text.fill',
          stylers: [{color: '#bdbdbd'}]
        },
        {
          featureType: 'poi',
          elementType: 'geometry',
          stylers: [{color: '#eeeeee'}]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{color: '#757575'}]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{color: '#e5e5e5'}]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{color: '#9e9e9e'}]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [{color: '#ffffff'}]
        },
        {
          featureType: 'road.arterial',
          elementType: 'labels.text.fill',
          stylers: [{color: '#757575'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{color: '#dadada'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.fill',
          stylers: [{color: '#616161'}]
        },
        {
          featureType: 'road.local',
          elementType: 'labels.text.fill',
          stylers: [{color: '#9e9e9e'}]
        },
        {
          featureType: 'transit.line',
          elementType: 'geometry',
          stylers: [{color: '#e5e5e5'}]
        },
        {
          featureType: 'transit.station',
          elementType: 'geometry',
          stylers: [{color: '#eeeeee'}]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{color: '#c9c9c9'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{color: '#9e9e9e'}]
        }]">
      </ng-map>
      <!-- sidenave arrow btn-->
      <button class="slide-button-map-1 right-cls1" id="showLeftPush"></button>
      <!-- //sidenave arrow btn-->
      <!-- sidenav  -->
      <div id="mydiv" class="map_filters">
        <div id="mydivheader">
          <a href="" class="menu__btn">
            <md-icon><i class="material-icons menu_move">
                apps
              </i></md-icon>
          </a>
          <!-- <i class="material-icons menu__btn">
            apps
            </i> -->
          <a class="text_color md-caption pt-1" ng-click = "openRightMenu()" ng-if="ListMapView">Switch to List View</a>
          <a class="text_color md-caption pt-1" ng-click = "closedRightMenu()" ng-if="!ListMapView">Switch to Map View</a>
          <span flex></span>
          <a  class="md-caption float-right pt-1 text_a" ng-click="clearFields();">Clear Filters</a>
        </div>
        <div class="mt-2 mb-4 search_tab md-whiteframe-2dp">
          <md-autocomplete md-min-length="2" md-selected-item="selectedId"
            md-selected-item-change="selectFromTabIdSearch(items)" md-search-text="searchId"
            md-items="items in searchByTabId(searchId)" md-item-text="items.siteNo" placeholder="Search By Tab id"
            md-clear-button="true">
            <md-item-template>
              <span md-highlight-text="searchId">{{items.siteNo}}, ({{items.type}})</span>
            </md-item-template>
          </md-autocomplete>
        </div>
        <div layout="row" class="mt-2 mb-4 search_area md-whiteframe-2dp">
          <md-autocomplete md-min-length="2" md-selected-item="selectedArea"
            md-selected-item-change="selectedAreaChanged(item)" md-search-text="searchText"
            md-items="item in autoCompleteArea(searchText)" md-item-text="item.name" placeholder="Search By Area,Location"
            md-clear-button="true" style="min-width: 100% !important">
            <md-item-template>
              <span md-highlight-text="searchText">{{item.name}}, ({{item.pincode}})</span>
            </md-item-template>
          </md-autocomplete>
        </div>
        <!-- filters html start-->
        <div layout="column" class="filters md-whiteframe-2dp mb-4 mt-2" style="padding:8px;background: #fff !important;">
          <div layout="row">
            <div class="md-caption text-left">Show products available between</div>
            <div flex></div>
          </div>
  
          <div class="row ml-0 mr-0">
            <div class="col-md-6 text-center mt-2 map_cal">
              <md-datepicker class="form-control " ng-model="booked_from" md-placeholder="Start Date" ng-change = "FilterDates(booked_from,booked_to)"></md-datepicker>
            </div>
            <div class="col-md-6 text-center mt-2 map_cal ">
              <md-datepicker class="form-control " ng-model="booked_to" md-placeholder="End Date" ng-change="FilterDates(booked_from,booked_to)"></md-datepicker>
            </div>
            <!-- <div class="col-12 mt-2 text-right">
              <md-button class="md-raised md-primary all_button" ng-click="FilterDates(booked_from,booked_to)">Filter
              </md-button>
            </div> -->
          </div>
        </div>
        <!-- filters html end-->
        <!-- formats html start-->
        <div layout="column" class="formats_block md-whiteframe-2dp mt-2">
          <div class="main-part" layout="column" ng-click="formats()" style="cursor:pointer;padding: 5px 10px;">
            <div layout="row">
              <div class="md-body-1 text-white txt-mrng">Select Ad Formate</div>
              <div flex></div>
              <div>
              </div>
            </div>
          </div>
          <div layout="column" class="formats-types">
            <div ng-repeat="formatGroup in formatGrid" class="formatinnerpart">
              <div class="row" style="margin-left:0px;margin-right:0px">
                <div class="col-sm-4 col-4" style="padding-right:0px;padding-left:0px;text-align:center"
                  ng-repeat="format in formatGroup track by $index" class="formatgridpart">
  
                  <div ng-cloak style="border-right:1px solid #ccc">
                    <md-button class="md-grid-item-content mt-2 mb-2" ng-click="toggleFormatSelection(format.id)"
                      ng-class="{'red' : isFormatSelected(format.id)}" ng-if="format" style="margin:0px;padding :0px;">
                      <!-- <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon> -->
                      <img ng-src="{{serverUrl + format.image}}" class="img-size">
                      <div class="md-caption">{{format.name}}</div>
                    </md-button>
                    <md-button class="md-grid-item-content" style="padding:36px 0px;" disabled ng-if="!format">
                  </div>
  
                  <!-- <md-divider hide-xs></md-divider> -->
                </div>
              </div>
              <md-divider></md-divider>
            </div>
          </div>
        </div>
        <!-- formats html end-->
        <!--Shortlisted Product html start -->
        <div layout="column" class="saved_camp_block md-whiteframe-2dp mt-2" ng-if="currStateName != 'owner.location'" ng-hide = "shortListedProducts.length === 0 " >
          <a class=" main-part" layout="column" href="#/shortlisted-products" style="cursor:pointer;padding: 5px 10px;">
            <div layout="row">
              <div class="md-body-1 text-white txt-mrng">Shortlisted Product</div>
              <div flex></div>
              <div class="md-body-1 text-white">
                ({{shortListedProducts.length}})
              </div>
            </div>
          </a>
        </div>
        <!--Shortlisted Product html end -->
      </div>
      <!-- sidenav  -->
    </div>
    <!-- map html start (left side controls) ends -->
    <div layout="column" style="top:auto;position:absolute;bottom:15px;right:3%;">
      <div layout="row" layout-align="end center" hide-xs>
        <md-button class="md-raised remm-btn all_button" ng-click="toggleTraffic()" id="traffic-toggle">
          <span ng-show="!trafficOn">Show</span>
          <span ng-show="trafficOn">Hide</span> Live Impression</md-button>
      </div>
    </div>
  
  </div>
  
  <div class="loadProd" ng-if="!plottingDone">
    Loading Products{{elipsis}}
  </div>
  <!-- Selected product detail sidenav-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width_map" md-component-id="productDetails"
  style="z-index:1 !important">
  <md-content class="save_r_excited">
    <div class="inner">
      <div layout="row" class="">
        <div class="md-body-2 ml-3 mt-3">{{product.siteNo}}</div>
        <div flex></div>
        <a class="md-icon-button close-btn" ng-click="toggleProductDetailSidenav()">
          <i class="material-icons">close</i>
        </a>
      </div>
      <div class="mt-2" ng-click="showProductImagePopup($event, product.image)">
        
        <img ng-src="{{product.image}}" style="width:100%;height:270px;padding: 0px 10px 0px 10px;" />
      </div>
      <div class="ml-3 mt-2" layout="column">
        <div class="md-body-2"><b>{{product.address}}</b></div>
        <div class="md-caption"><b>Facing:</b>&nbsp;{{product.direction}}</div>
        <div class="md-caption"><b>Product Type:</b>&nbsp;{{product.format}}</div>
      </div>
      <div layout="row" class="mt-2 mb-2">
        <div flex="33" class="border ml-3 p-1">
          <p class="md-caption mb-0">No. of Views</p>
          <h3 class="md-body-2">{{product.impressions}}</h3>
          <div class="md-caption">Per Month</div>
        </div>
        <div flex="33" class="border ml-3 mr-3 p-1 ">
          <p class="md-caption mb-0">Lit</p>
          <h3 class="md-body-2">{{product.lighting}}</h3>
        </div>
        <div flex="33" class="border mr-3 p-1">
          <p class="md-caption mb-0">Size</p>
          <h3 class="md-body-2">{{product.panelSize}}</h3>
          <div class="md-caption"></div>
        </div>
      </div>
      <!-- <div layout="column" class=" mt-2" style="padding:8px">
        <div class="md-body-2 text-left mb-2">Product Availability</div>
        <div class="form-group mb-2 mt-2">
          <input date-range-picker ng-model="ranges.selectedDateRanges" class="form-control md-whiteframe-3dp date-picker"
          custom-options="customOptions" placeholder="Product date" type="text" name="date" readonly options="mapProductOpts"
            id="booking_dates_picker" style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
          <div class="input-group" style="z-index: 0;">
            <input type="text" readonly ng-value="'Please Select booking dates: ' + ranges.selectedDateRanges.length"
              class="form-control">
            <div class="input-group-addon" id="calender-autolaod-div">
              <a ng-click="getProductUnavailableDates(product.id, $event);">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div ng-messages="addProductForm.date.$error" ng-if="addProductForm.date.$touched" style="color:red">
            <div ng-message="required">Date is required.</div>
          </div>
        </div>
      </div> -->
      <div layout="row" class="pb-3" layout-margin layout-align="space-between end">
        <md-button layout-fill class="md-raised md-warn Upload_font" ng-disabled="ranges.selectedDateRanges.length == 0" ng-if="!alreadyShortlisted"
          ng-click="shortlistSelected(product.id, ranges.selectedDateRanges, $event)">Shortlist</md-button>
        <md-button layout-fill class="md-raised md-primary all_button" style="margin-left: 2px;" ng-disabled="ranges.selectedDateRanges.length == 0"
          ng-click="toggleExistingCampaignSidenav()">Save Campaign</md-button>
      </div>
    </div>
          <div class="prodct_save md-whiteframe-2dp  float-right" ng-show="showSaveCampaignPopup"
      style="width:320px;position: absolute;right: 0px;margin-bottom:50px; ">
      <div layout="row">
        <div flex></div>
        <a class="md-icon-button close-btn" ng-click="toggleExistingCampaignSidenav()">
          <i class="material-icons">close</i>
        </a>
      </div>
      <form name="forms.mySaveCampaignForm">
        <div class="md-body-2 m-2 ">We are excited to see your Campaign</div>
        <div class="md-title  m-2">Let's work Together!</div>
        <div class="form-group mt-3 mr-2 ml-2">
          <input type="text" class="form-control" id="text" ng-model="campaign.name" ng-disabled="existingCampaign.id" placeholder="Campaign Name " ng-keyup = "EnableDisable()">
        </div>
        <div class="form-group mt-3 mr-2 ml-2">
          <input type="text" class="form-control" id="text" ng-disabled="existingCampaign.id" ng-model="campaign.est_budget"
            placeholder="Estimated budget">
        </div>
        <div layout="column" class="mr-2 ml-2 mb-3">
          <md-button class="md-raised all_button" layout-fill ng-click="saveCampaign(product.id, ranges.selectedDateRanges)" ng-disabled="IsDisabled">
            Save Campaign
          </md-button>
        </div>
      </form>
      <p class="text-center md-body-2">(OR)</p>
      <div class="form-group mr-2 ml-2">
        <select class="form-control"  ng-model="existingCampaign.id" ng-disabled="campaign.name" required="required">
          <option ng-value="campaign.id" ng-repeat="campaign in activeUserCampaigns">{{campaign.name}}</option>
        </select>
      </div>
      <div layout="column" class="mr-2 ml-2 mb-3">
        <md-button class="md-raised all_button" layout-fill
          ng-click="addProductToExistingCampaign(existingCampaign.id, product.id,ranges.selectedDateRanges)" ng-disabled="!existingCampaign.id">
          add to existing or save Campaign
        </md-button>
      </div>
    </div>
  </md-content>

</md-sidenav>
<!-- Selected product detail sidenav ends-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-listview" md-component-id="productList">
      <div class="">
          <section class="product_list_view">
            <div class="wrapper">
              <div class="pl-0">        
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text_color">
                      <tr>
                        <th>Image</th>
                        <th>Tab ID</th>
                        <th class="">Product Details</th>
                        <th class="">Price</th>
                        <th class="">
                          <a class="close-btn" ng-click="closedRightMenu()">
                            <i class="fas fa-arrow-right"></i>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="proddetail in productmarkerslist">
                      <tr ng-click="selectFromTabIdSearch(proddetails)" ng-repeat="proddetails in proddetail.product_details | filter:tabID | filter:AreaName">
                        <td class="image_tdwidthproduct">
          
                          <img ng-src=" {{serverUrl + proddetails.image}}" alt="product image" width="77px" height="48px"
                            style="border-radius: 2px;" />
                        </td>
                        <td class="table_vertical">{{proddetails.siteNo}}<br/> <b>Type:</b>{{proddetails.type}}</td>
                        <td class="table_vertical">{{proddetails.area_name}} <br/> <b>Size</b> {{proddetails.panelSize}}</td>
                        <td class="table_vertical">{{proddetails.price}}</td>               
                        
                        <td class="text-center table_vertical">
                          <a><md-icon><i class="material-icons">remove_red_eye</i></md-icon></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          
              </div>
            </div>
          </section>
          </div>
  </md-sidenav>
  <script>
    $(document).ready(function () {
      height = $(window).height();  //getting windows height
      $('#map-container').css('height', height - 64 + 'px');   //and setting height of map container
      if ($(window).width() < 600) {
        $('#map-container').css('height', height - 100 + 'px');
      }
    });
  </script>
  
  <script>
    $("#showLeftPush").click(function () {
      if($("#showLeftPush").hasClass("right-cls1")){
      $("#showLeftPush").removeClass("right-cls1");
      $("#showLeftPush").addClass("left-cls1");			
      }else{
      $("#showLeftPush").removeClass("left-cls1");
      $("#showLeftPush").addClass("right-cls1");
      }		
    });
    $("#showLeftPush").click(function () {
      if($("#mydiv").hasClass("active_one")){
      $("#mydiv").removeClass("active_one");
      $("#mydiv").addClass("active_open");			
      }else{
      $("#mydiv").removeClass("active_open");
      $("#mydiv").addClass("active_one");
      }		
    });
  </script>
  <script>
    // $(".cal_divcolor").on("click", function() {
    //     $(this).css("background", "#BC2535");
    // }); 
    
    
    // $(".cal_divcolor").click(function () {
    //    $(this).toggleClass("color");
    // });
    </script>