<div layout="column" style="margin-top:10%">
    
	 <md-content class=" md-padding" >
            <div  layout="row" ng-init="open = false" ng-click="open = !open" >
             
                <div >
                    <div class="md-body-1">item.campaignname</div>
                    
                </div>
                <div flex></div>
                <div > 
                    <md-icon  ng-hide="open"><i class="material-icons">notifications</i>
                    </md-icon>
                    <md-icon  ng-show="open"><i class="material-icons">face</i>
                    </md-icon>
                </div>
            </div>
             
            <div  layout="column"  ng-show = "open">
               
                <div style="color:black;">
                     <div class="">item.startdateitem.enddate</div>
                    <div class="">running</div>
                    <div class="">item.price</div>
                    <div class="">item.products</div>
                </div> 
            </div>
        </md-content>
</div>