<style>
.lnt_caln{
	margin-top: 15px;}
	md-datepicker-button .md-button.md-icon-button{
display:none}
.lnt_caln .md-datepicker-input-container {
    border-bottom-color: rgb(255, 255, 255) !important;
}
.lnt_caln .md-datepicker-input-container ::placeholder {
  color: #fff !important;
}

.md-icon-button+.md-datepicker-input-container {
    margin-left:0px !important;
}
.lnt_caln .md-datepicker-button{
display:none;
}
 .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: #fff !important;
}
</style>


<md-dialog flex="50" flex-lg="60" flex-md="60" flex-sm="70" id="myDialog">
	<div layout="row" layout-margin>
		<h4 class="md-body-2">{{metroPackages[0].format}} - {{metroPackages[0].corridor}}
		</h4>
		<div flex></div>
		<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closePackagePopup()">
			<md-icon class="md-default-theme">
				<i class="material-icons">close</i>
			</md-icon>
		</md-button>
	</div>
	<md-dialog-content flex="100" >
		<div layout="row" layout-margin flex="100"  ng-repeat="gettingParentIndex in metroPackages" ng-if="$index<(metroPackages.length)/3+1">
			<div layout-margin flex="33" class="md-whiteframe-2dp" ng-repeat="metroPackage in metroPackages track by $index" ng-if="$index>=3*$parent.$index && $index <= 3*($parent.$index+1)-1">
				<div class="one_week metro_package_bg{{($index + 1) % 6}}">
					<div layout="row">
						<div class="left_side_pack">
							<p class="md-caption">
								{{metroPackage.name}}<!-- - {{metroPackage.max_slots - metroPackage.selected_slots}} Slots -->
							</p>
							<h3> Rs.{{metroPackage.price * (metroPackage.selected_slots + metroPackage.selected_trains - 1)}}</h3>
							
						</div>
						<div flex></div>
						<div class="right_side_pack">
							<div class="slect_train">
								<p class="md-caption">select trains</p>
								<input type="number" ng-model="metroPackage.selected_trains" min="1" max="{{metroPackage.max_trains}}" class="trains_nbr">
							</div>
							<div class="slect_slot">
								<!--<p class="md-caption">select slots</p>-->
								<input type="hidden" ng-model="metroPackage.selected_slots" min="1" max="{{metroPackage.max_slots}}" readonly disabled="true" class="trains_nbr">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div flex-gt-xs="" class="lnt_caln">
							<md-datepicker ng-model="metroPackage.start_date" onkeydown="return false" md-placeholder="Start date" md-min-date="newDate"></md-datepicker>
						</div>
					</div>
					<div layout="row">
						<md-button class="md-raised md-primary slect_btn" ng-disabled="isAlreadySelected(metroPackage.id)" ng-click="shortlistMetroPackage(metroPackage)">{{(isAlreadySelected(metroPackage.id)?'Selected':'select this')}}</md-button>						
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-margin>
			<div class="show_bug">
				<p class="md-caption">
					Total Estimated Budget:
				</p>
				<h2 class="text_color">
					Rs. {{getEstBudgetForSelectedPackages()}}
				</h2>
				<!--<md-button class="md-raised md-primary slect_btn" ng-disabled="select_package_var.length == 0" ng-click="shortlistMetroPackage(select_package_var)">Shortlist Campaign</md-button>	
				 <md-button class="md-raised md-primary slect_btn">Shortlist</md-button> -->
			</div>
			<div flex></div>
			<div class="logo_lnt" style="    margin-top: 50px;">
				<p class="md-caption">We are oﬃcial Partners to</p>
				<img src="assets/images/landt_logo.jpg" alt="landt_logo" />
			</div>
		</div>
	</md-dialog-content>
	<!-- <md-dialog-actions layout="row" layout-align="center center">
    
    </md-dialog-actions> -->
</md-dialog>