<style>
		.lnt_caln{
			margin-top: 15px;
			}
			md-datepicker-button .md-button.md-icon-button{display:none}
		.lnt_caln .md-datepicker-input-container {
			border-bottom-color: rgb(255, 255, 255) !important;
		}
		.lnt_caln .md-datepicker-input-container ::placeholder {
		  color: #fff !important;
		}
		.md-icon-button+.md-datepicker-input-container {
			margin-left:0px !important;
		}
		.lnt_caln .md-datepicker-button{
		display:none;
		}
		 .md-datepicker-triangle-button .md-datepicker-expand-triangle {
			border-top-color: #fff !important;
		}
		.left_side_pack	md-datepicker {   white-space: unset;}
		.font_size {
			font-size: 18px !important;
		}
	.metro_page{
		padding:0px;
		padding-left:5px;
	}
		@media screen and (min-width:768px) and (max-width:  991px){
			h3 {
				font-size: 1.50rem;
			}
			.pop_height{
				height: 680px;
				overflow: auto;
			}
		}
		@media screen and (max-width:575px){
			md-dialog md-dialog-content{
				border: 1px solid #fff;
			}
			.img_logo{
				width: 114%;
			}
		}
		</style>
		<md-dialog layout-margin flex="50" flex-lg="60" flex-md="60" flex-sm="70" flex-xs="90" id="myDialog" class="pop_height">
			<div layout="row" layout-margin>
			
				<div flex></div>
				<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closePackagePopup()">
					<md-icon class="md-default-theme">
						<i class="material-icons">close</i>
					</md-icon>
				</md-button>
			</div>
			<md-dialog-content>
					<div class="row">
							<div class="col-sm-9 col-md-7 col-lg-4" ng-repeat="metroPackage in metroPackages track by $index">
								<div style="padding:10px;border-radius:10px;" ng-style="{'background-color': colors[$index]}">
										<p class="text-white">{{metroPackage.corridor}}</p>
										<h3 class="text-white">{{metroPackage.format}}</h3>
										<hr style="padding:1px;background-color: #fff;">
										<p class="text-white" ng-repeat="desc in (metroPackage.description | customSplitString)">
											<i class="fa fa-check-square-o" aria-hidden="true" ></i> 
											{{desc}}
										</p>
									
										<hr style="padding:1px;background-color: #fff;">
										<!-- <p class="text-white">No of Trains: <input class="train_text" type="number" min="0" style="margin-left: 40px;"></p> -->
										<p class="text-white">No of Trains: 
												<span style="background:#ededed;padding:6px;margin-left: 40px;">
													<input type="number" ng-model="metroPackage.selected_trains" style="width:47%" value="1" size="8" min="1" max="{{metroPackage.max_trains}}" id="count1">
													</span></p>
										<!-- <p class="text-white">No of Months: <input type="number" min="0" style="margin-left: 27px;"></p> -->
										<p class="text-white">No of Months: 
												<span style="background:#ededed;padding:6px;margin-left: 32px;">
													<input type="number" ng-model="metroPackage.months" value="1" min="1" size="8" max="12" id="count2" style="width:47%">
													</span></p>
										<p class="text-white">Start Date: <input type="date" min="{{today1}}" ng-model="metroPackage.start_date" style="margin-left: 53px;width:52%;" ></p>
										<p class="text-white">Total: <span style="margin-left: 91px;font-size:20px;font-weight:700;">Rs. {{ metroPackage.price_new = (metroPackage.price * metroPackage.months * metroPackage.selected_trains) }}</span></p>
										<p class="text-center" ng-style="{'color': colors[$index]}" ng-if="!isAlreadySelected(metroPackage.id)" ng-click="shortlistMetroPackage(metroPackage)" style="margin: 0px 50px 0px 50px;background: #fff;padding: 5px;border-radius: 5px;font-size: 20px;font-weight: 500;">Shortlist This</p>
										<p class="text-center" ng-style="{'color': colors[$index]}" ng-if="isAlreadySelected(metroPackage.id)" ng-click="deleteShortlistedMetroPackage(metroPackage.id)" style="margin: 0px 50px 0px 50px;background: #fff;padding: 5px;border-radius: 5px;font-size: 20px;font-weight: 500;">Deselect This</p>
								</div>
							</div>
					</div>
				<div layout="row" layout-margin>
					<div class="show_bug">
						<p class="md-caption">
							Estimated Budget for {{getEstBudgetForSelectedPackages().months}} Months, {{getEstBudgetForSelectedPackages().selected_trains}} Trains
						</p>
						<h2 class="text_color">
							Rs. {{getEstBudgetForSelectedPackages().price}}
						</h2>
						<!--<md-button class="md-raised md-primary slect_btn" ng-disabled="select_package_var.length == 0" ng-click="shortlistMetroPackage(select_package_var)">Shortlist Campaign</md-button>	
						 <md-button class="md-raised md-primary slect_btn">Shortlist</md-button> -->
					</div>
					<div flex></div>
					<div class="logo_lnt">
						<p class="md-caption">We are oﬃcial Partners to</p>
						<img class="img_logo" src="assets/images/landt_logo.jpg" alt="landt_logo" />
					</div>
				</div>
			</md-dialog-content>
			<!-- <md-dialog-actions layout="row" layout-align="center center">
			
			</md-dialog-actions> -->
		</md-dialog>

	