
<div layout="column" style="position:relative;height:90vh;" id="mapContainer">
	
	<!-- <img src="assets/images/maps/Map_BG.jpg" width="100%" height="100%" alt="metro map"> -->
	<!-- <div class="metroBg"></div> -->
	<!-- <md-sidenav class="main__sidenav md-sidenav-left" md-component-id="menusideNav" md-is-locked-open="$mdMedia('gt-xs')" hide-xs>
		<div class="sidenav__ineer scrollbar__style">
			
			<div layout="column" layout-padding class="side-navpadding">
				<div class="md-padding main-part" layout="column">
					<p class="md-caption theme-txt txt-mrng" style="margin-bottom: 0px">
						L&T Metro-Digital Sinage
					</p>
				</div>
			</div>
			
			<div layout="column" layout-padding class="side-navpadding">
				<div class="main-part" layout="column" style="cursor:pointer;padding: 0px;">
					<select name="corridor" style="padding: 8px; background: #556472;border: none;color: #fff;font-size: 14px;" id="corridor" ng-model="selectedCorridor" ng-change="getMetroPackages(selectedCorridor.id)" ng-options="corr as (corr | metroCorridorsFromTo) for corr in metroCorridors" required class="selectpicker">
						
					</select>
					
				</div>
			</div>
			
			<div layout="column" layout-padding class="side-navpadding">
				<div class=" md-padding main-part" layout="column" ng-click="showPackagePopup()" style="cursor:pointer">
					<div layout="row">
						<p class="md-caption theme-txt txt-mrng" style="margin-bottom: 0px">Packages</p>
						<div flex></div>
						<div>
							<md-icon ng-hide="format">
								<i class="material-icons theme-txt">keyboard_arrow_right</i>
							</md-icon>
							<md-icon ng-show="format">
								<i class="material-icons theme-txt">keyboard_arrow_down</i>
							</md-icon>
						</div>
					</div>
				</div>
			</div>
			
			<div layout="column" layout-padding class="side-navpadding">
				<md-content class=" md-padding main-part" layout="column" ng-click="shortlistDiv()" style="cursor:pointer">
					<div layout="row">
						<div class="md-caption theme-txt txt-mrng">SHORTLIST</div>
						<div flex></div>
						<div>
							<md-icon ng-hide="shortlist">
								<i class="material-icons theme-txt">keyboard_arrow_down</i>
							</md-icon>
							<md-icon ng-show="shortlist">
								<i class="material-icons theme-txt">keyboard_arrow_up</i>
							</md-icon>
						</div>
					</div>
				</md-content>
				<div ng-show="shortlist" class="short-list">
					<div class="shortlistscrollbar" id="shortlistscrollbar-style">
						<div layout="column">
							<div layout="row" flex>
								<md-list flex style="padding:0px">
									<md-list-item class="md-3-line list-img" style="padding:0px 5px" ng-repeat="slPkg in shortlistedPackages">
										<div class="c-name">
											<span class="md-body-2">{{slPkg.name | MetroSlIcon}}</span>
										</div>
										<div class="md-list-item-text list-item-text" layout="column" flex>
											<h3 class="md-body-2">{{slPkg.name}}</h3>
											<p class="md-caption">{{slPkg.selected_trains}}Trains, {{slPkg.selected_slots}}Slots</p>
										</div>
										<div class="md-list-item-text" layout="column" layout-align="space-between center" layout-margin>
											<md-button class="md-icon-button" ng-click="deleteShortlistedMetroPackage(slPkg.package_id)">
												<md-icon>
													<i class="material-icons ">delete</i>
												</md-icon>
											</md-button>
										</div>
									</md-list-item>
								</md-list>
							</div>
							<md-divider></md-divider>
						</div>
					</div>
					<md-divider></md-divider>
					<div layout="row">
						<md-button class="md-raised " ng-click="toggleViewAllShortlisted()">VIEW ALL</md-button>
						<div flex></div>
						<md-button class="md-raised md-primary" ng-click="toggleSaveCampaignSidenavMetro()">SAVE </md-button>
					</div>
				</div>
			</div>

			<div layout="column" layout-padding class="side-navpadding">
				<md-content class=" md-padding main-part" layout="column" ng-click="savedcampaignDiv()" style="cursor:pointer">
					<div layout="row">
						<div class="md-caption theme-txt txt-mrng">SAVED CAMPAIGNS</div>
						<div flex></div>
						<div>
							<md-icon ng-hide="savedcampaign">
								<i class="material-icons theme-txt">keyboard_arrow_down</i>
							</md-icon>
							<md-icon ng-show="savedcampaign">
								<i class="material-icons theme-txt">keyboard_arrow_up</i>
							</md-icon>
						</div>
					</div>
				</md-content>
				<div class="saved-campagin" ng-if="savedcampaign">
					<div class="savescrollbar" id="savecamp-style" ng-repeat="metroCampaign in metroCampaigns">
						<div layout="column">
							<div layout="row" layout-padding>
								<p class="md-caption " flex="35" style="">{{metroCampaign.name}}</p>
								
								<div flex-xs="5" flex-sm="5" style="padding:0px">
								
								</div>
							</div>
							<div layout="row" layout-align="space-around center" style="margin-top:-10px">
								<md-button class="md-primary saved-btn" ng-href="#/metro-campaign/{{metroCampaign.id}}"> VIEW</md-button>
								<md-button class="md-primary saved-btn" ng-if="metroCampaign.status == 101" ng-click="checkoutMetroCampaign($event, metroCampaign.id)">Checkout</md-button>
								<md-button class="md-primary saved-btn" ng-if="metroCampaign.status == 121" ng-disabled="true">Payment Confirmation Pending</md-button>
								<md-button class="md-primary saved-btn" ng-if="metroCampaign.status == 131" ng-disabled="true">Campaign Ready</md-button>
								<md-button class="md-primary saved-btn" ng-if="metroCampaign.status == 141" ng-disabled="true">Running</md-button>
								<md-button class="md-primary saved-btn" ng-if="metroCampaign.status == 151" ng-disabled="true">Closed</md-button>
							</div>
							<md-divider></md-divider>
						</div>
					</div>
					<md-divider></md-divider>
				
				</div>
				<div style="background:#F1FBFD" ng-if="activeUserCampaigns.length == 0 && savedcampaign">
					<div layout="column" layout-margin layout-align="center center">
						<img src="assets/images/product/createcampagin.png" alt="image" width="214px;height:174px">
					</div>
					<div layout="column" layout-align="center center" layout-margin>
						<md-button class="md-raised md-warn" ng-click="toggleCreateEmptyCampaignSidenav()">CREATE CAMPAIGN</md-button>
					</div>
				</div>
			</div>
			>
		</div>
	</md-sidenav> -->
	<!--  metro Sidenav -->

	<div id="mydiv" class="map_filters">
		<div id="mydivheader">
		  <span class="text_color md-caption pt-1">Switch to List View</span>
		</div>
		<!-- formats html start-->
		<div layout="column" class="formats_block md-whiteframe-2dp mt-2">
		  <div class="main-part" layout="column" ng-click="formats()" style="cursor:pointer;padding: 5px 10px;">
			<div layout="row">
			  <div class="md-body-1 text-white txt-mrng">Select Ad Formate</div>
			  <div flex></div>
			  
			</div>
		  </div>
		  <div layout="column" class="formats-types">
			<div  class="formatinnerpart">
			  <div class="row" style="margin-left:0px;margin-right:0px">
				<div class="col-sm-4" style="padding-right:0px;padding-left:0px;text-align:center" 
				  class="formatgridpart">
  
				  <div ng-cloak style="border-right:1px solid #ccc">
					<md-button class="md-grid-item-content" ng-click="toggleFormatSelection(format.id)" ng-class="{'red' : isFormatSelected(format.id)}"
					   style="margin:0px;padding :0px;">
					  <img ng-src="" class="img-size">
					  <div class="md-caption">Digital Screen</div>
					</md-button>
					<md-button class="md-grid-item-content" style="padding:36px 0px;" disabled ng-if="!format">
				  </div>
  
				</div>
				<div class="col-sm-4" style="padding-right:0px;padding-left:0px;text-align:center" 
				  class="formatgridpart">
  
				  <div ng-cloak style="border-right:1px solid #ccc">
					<md-button class="md-grid-item-content" ng-click="toggleFormatSelection(format.id)" ng-class="{'red' : isFormatSelected(format.id)}"
					   style="margin:0px;padding :0px;">
					  <img ng-src="" class="img-size">
					  <div class="md-caption">Train warp </div>
					</md-button>
					<md-button class="md-grid-item-content" style="padding:36px 0px;" disabled ng-if="!format">
				  </div>
  
				</div>
				<div class="col-sm-4" style="padding-right:0px;padding-left:0px;text-align:center" 
				  class="formatgridpart">
  
				  <div ng-cloak style="border-right:1px solid #ccc">
					<md-button class="md-grid-item-content" ng-click="toggleFormatSelection(format.id)" ng-class="{'red' : isFormatSelected(format.id)}"
					   style="margin:0px;padding :0px;">
					  <img ng-src="" class="img-size">
					  <div class="md-caption">Inside Static </div>
					</md-button>
					<md-button class="md-grid-item-content" style="padding:36px 0px;" disabled ng-if="!format">
				  </div>
  
				</div>
			  </div>
			  <md-divider></md-divider>
			</div>
		  </div>
		</div>
		<!-- formats html end-->
		<!--Shortlisted Product html start -->
		<div layout="column" class="saved_camp_block md-whiteframe-2dp mt-2" >
		  <a class=" main-part" layout="column"  href="#/shortlisted-products" style="cursor:pointer;padding: 5px 10px;">
			<div layout="row">
			  <div class="md-body-1 text-white txt-mrng">Shortlisted Product</div>
			  <div flex></div>
			  <div class="md-body-1 text-white">
				({{shortListedProducts.length}})
			  </div>
			</div>
		  </a>
		</div>
		<!--Shortlisted Product html end -->
	</div>
</div>
	<!-- map html start (left side controls) ends -->

