
<div class="our__products contbg">
		<section class="product_sec">
				<div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
						<h3 class="title heading_3"><b class="first_word"><span class="first_letter">O</span>ur Products</b></h3>
						<div class="">
								<p class="paragraph _para">Different Type of OOH Advertising</p>
						</div>
				</div>
	</section>
	
	<!-- Delivery Mods -->
	<section class="deliverables">
		<div class="user_container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3 nav p-0">
							<a data-target="#hoarding" class="nav-link active dlvr-box1" data-toggle="pill">
								<img src="/assets/images/about_icon1.png" alt="servers">
								<p>Hoarding</p>
							</a>
							<a data-target="#unipole" class="nav-link dlvr-box2" data-toggle="pill">
								<img src="/assets/images/about_icon2.png" alt="computer">
								<p>Unipole</p>
							</a>
							<a data-target="#transit" class="nav-link dlvr-box3" data-toggle="pill">
								<img src="/assets/images/about_icon3.png" alt="usb">
								<p>Transit</p>
							</a>
							<a data-target="#airport" class="nav-link dlvr-box4" data-toggle="pill">
								<img src="/assets/images/about_icon4.png" alt="compact-disc">
								<p>Airport</p>
							</a>
							<a data-target="#shelter" class="nav-link dlvr-box5" data-toggle="pill">
								<img src="/assets/images/about_icon5.png" alt="tablet">
								<p>Bus Shelter</p>
							</a>
							<a data-target="#digital" class="nav-link dlvr-box6" data-toggle="pill">
								<img src="/assets/images/about_icon6.png" alt="thinclient">
								<p>Digital</p>
							</a>
							<a data-target="#rails" class="nav-link dlvr-box7" data-toggle="pill">
								<img src="/assets/images/about_icon7.png" alt="thinclient">
								<p>Rail</p>
							</a>
							<a data-target="#retails" class="nav-link dlvr-box8" data-toggle="pill">
								<img src="/assets/images/about_icon8.png" alt="thinclient">
								<p>Retail</p>
							</a>
								
						</div>
						<div class="col-md-9 tab-content p-0">
							<div class="tab-pane fade show active" id="hoarding" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Hoarding</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor advertising structure (a billing board), typically found in high-traffic areas such as alongside busy roads. Billboards present large advertisements to passing pedestrians and drivers. Typically showing witty slogans and distinctive visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">In this age of digital saturation, people are becoming desensitized to ads appearing online. As soon as an ad pops up, people close the window or wait impatiently to click the ‘skip ad’ button. Billboards, however, are different enough that they’re still eye-catching. When designed correctly, they’ll grab the attention of passersby, and it only takes a moment to absorb a marketing message high up on a billboard.</p>
										<img src="/assets/images/Indiahoarding/Billboard.png" alt="server-c" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
										<div class="text-right">
											<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
											ng-show="!isAuthenticated">Book Now</md-button>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="unipole" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Unipole</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Unipole (or monopole) sign is basically an advertising sign (usually billboard) frame structure mounted atop a single steel pole or column.</p>
										<p class="paragraph _para">The Uni-pole is a large-format billboard type placed atop a very high pole. Its effectiveness is enhanced by the fact that this billboard can be seen even from long distances. There are two options when it comes to illumination: this can either be a lightbox or front-lit for versatility.</p>
											<img src="/assets/images/Indiahoarding/unipole.png" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="transit" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Transit</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Transit advertising is advertising placed in or on modes of public transportation or in public transportation areas. Using this method of advertising, ads can be placed anywhere from on the sides of buses, trains, and taxis, to inside subway cars, inside bus stations and near train or bus platforms. The main purpose of transit advertising is to reach riders and acquaint them with your brand.</p>
											<img src="/assets/images/Indiahoarding/transit.png" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="airport" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Airport</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Digital Screens and OOH hoardings inside Airports are also a viable form of advertising. Airport’s premium image is reinforced by the top of the line OOH furniture and its digital capabilities. Unrestricted, brands can create custom eye-catching executions with unmissable messaging and flawless delivery that complements consumers’ high expectations and their shopping behavior within this high-value environment.</p>
										<p class="paragraph _para">Airport passengers are an alert, excited and receptive audience within a captive setting. The nature of the travel activity means that they are also in a positive mindset, which means that brands at the airport have a chance to reach a high concentration of people who welcome messaging and pay extra attention to it compared to in their everyday lives.</p>
											<img src="/assets/images/Indiahoarding/airport.png" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="shelter" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Bus Shelter</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Bus Shelter Ads afford eye-level contact to pedestrians and vehicular traffic. A bus stop is a designated place where buses stop for passengers to board or alight from a bus. They are an active medium for point-of-engagement.</p>
										<p class="paragraph _para">Bus shelter Front and side panels present neat showcases for advertising, erected two sides in a glass, backlit frames. They offer 24-hour visibility to vehicular and pedestrian traffic at high-circulation locations, regularly along the main roadways of city markets.</p>
											<img src="/assets/images/Indiahoarding/bus_shilter.png" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="digital" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Digital</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Digital out-of-home (DOOH) refers to dynamic media distributed across place-based networks in venues including, but not limited to: cafes, bars, restaurants, health clubs, colleges, arenas, gas stations, convenience stores, barber shops, and public spaces. DOOH can be defined by two major platforms, digital place-based networks (DPN) and digital billboards & signage (DBB); DOOH networks typically feature independently addressable screens, kiosks, jukeboxes and/or jumbotrons. DOOH media benefits location owners and advertisers alike in being able to engage customers and/or audiences and extend the reach and effectiveness of marketing messages. It is also referred to as digital signage.</p>
											<img src="/assets/images/Indiahoarding/digital.png" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="rails" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Rail</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Rail Advertising includes Digital Screens inside the Hyderabad Metro Trains owned by Billboards India in partnership with L&T Metro. This one-of-a-kind Advertising Medium combines Digital Advertising with OOH by providing a television-like experience during transit. In addition to Advertisements, Billboards India curates "Metro-Mazaa", an artistic experience for the Metro Consumers in collaboration with International Artists which exponentially increases engagement and eyeball count for the advertising brands.</p>
											<img src="/assets/images/Indiahoarding/Rail.jpg" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="retails" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Retail</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">Retail media is marketing to consumers at or near their point of purchase, or point of choice between competing brands or products. Common techniques include in-store advertising, online advertising, sampling, loyalty cards, and coupons or vouchers.</p>
										<p class="paragraph _para">The planning and use of retail media is a key component in the delivery of shopper marketing campaigns.</p>
										<p class="paragraph _para">Retail media channels have become established as important for promoting goods and services at or near or even further beyond the points of purchase and consumption.</p>
											<img src="/assets/images/Indiahoarding/Retail.jpg" alt="pc" class="ourproduct_img img-fluid mx-auto d-block img-thumbnail">
											<div class="text-right">
												<md-button class="md-raised all_button" ng-click="showSignInDialog($event)"
												ng-show="!isAuthenticated">Book Now</md-button>
											</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Delivery Products -->
</div>
	
	