
<div class="our__products contbg">
		<section class="product_sec">
				<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
						<h3 class="title heading_3"><b class="first_word"><span class="first_letter">O</span>ur Products</b></h3>
						<div class="">
								<p class="paragraph _para">Different Type of OOH Advertising</p>
						</div>
				</div>
	</section>
	
	<!-- Delivery Mods -->
	<section class="deliverables">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3 nav p-0">
							<a data-target="#hoarding" class="nav-link active dlvr-box1" data-toggle="pill">
								<img src="/assets/images/about_icon1.png" alt="servers">
								<p>Hoarding</p>
							</a>
							<a data-target="#unipole" class="nav-link dlvr-box2" data-toggle="pill">
								<img src="/assets/images/about_icon2.png" alt="computer">
								<p>Unipole</p>
							</a>
							<a data-target="#transit" class="nav-link dlvr-box3" data-toggle="pill">
								<img src="/assets/images/about_icon3.png" alt="usb">
								<p>Transit</p>
							</a>
							<a data-target="#airport" class="nav-link dlvr-box4" data-toggle="pill">
								<img src="/assets/images/about_icon4.png" alt="compact-disc">
								<p>Airport</p>
							</a>
							<a data-target="#shelter" class="nav-link dlvr-box5" data-toggle="pill">
								<img src="/assets/images/about_icon5.png" alt="tablet">
								<p>Bus Shelter</p>
							</a>
							<a data-target="#digital" class="nav-link dlvr-box6" data-toggle="pill">
								<img src="/assets/images/about_icon6.png" alt="thinclient">
								<p>Digital</p>
							</a>
							<a data-target="#rails" class="nav-link dlvr-box7" data-toggle="pill">
								<img src="/assets/images/about_icon7.png" alt="thinclient">
								<p>Rail</p>
							</a>
							<a data-target="#retails" class="nav-link dlvr-box8" data-toggle="pill">
								<img src="/assets/images/about_icon8.png" alt="thinclient">
								<p>Retail</p>
							</a>
								
						</div>
						<div class="col-md-9 tab-content p-0">
							<div class="tab-pane fade show active" id="hoarding" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Hoarding</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
										<img src="/assets/images/carousel_1.png" alt="server-c" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="unipole" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Unipole</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_2.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="transit" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Transit</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_3.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="airport" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Airport</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_4.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="shelter" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Bus Shelter</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_1.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="digital" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Digital</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_2.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="rails" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Rail</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_3.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="retails" role="tabpanel">
								<div class="row">
									<div class="col-md-12 box-heading">
										<h4 class="heading_3">Retail</h4>
									</div>
									<div class="col-md-12 content-box">
										<p class="paragraph _para">A billboard is a large outdoor structure (a billing board), typically found in high-traffic
											areas such as alongside busy roads. Billboards present large advertisements to passing
											pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
											visuals, billboards are highly visible in the top designated market areas.</p>
										<p class="paragraph _para">The largest standard-size billboards, known as Bulletins, are located primarily on major
											highways, expressways or principal arterials, and command high-density consumer exposure(mostly
											to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
											because they allow creative "customizing" through extensions and embellishments.</p>
										<p class="paragraph _para">Posters are the other common form of billboard advertising, located mostly along primary and
											secondary arterial roads. Posters are a smaller format than bulletins and are viewed
											principally byresidents and commuter traffic, with some pedestrian exposure.</p>
											<img src="/assets/images/carousel_4.png" alt="pc" class="img-fluid mx-auto d-block img-thumbnail">
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Delivery Products -->
</div>
	
	