<style>
    .nav-tabs--vertical {
        border-bottom: none;
        border-right: 1px solid #ddd;
        display: flex;
        flex-flow: column nowrap;
    }

    .about_sideicon {
        width: 30px;
    }

    .nav-item {
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav-item a {
        color: #000;
    }

    .nav-tabs--left {
        margin: 0 15px;
    }

    .nav-tabs--left .nav-item+.nav-item {
        margin-top: .25rem;
    }

    .nav-tabs--left .nav-link {
        transition: border-color .125s ease-in;
        white-space: nowrap;
    }

    .nav-tabs--left .nav-link:hover {
        background-color: #f7f7f7;
        border-color: transparent;
    }

    .nav-tabs--left .nav-link.active {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
        margin-right: -1px;
        background: #BC2535;
        color: #fff;
        padding: 20px 40px;
    }
</style>

<section class="py-lg-4 py-md-3 py-sm-3 py-3" id="#">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title"><b>Our Products</b></h3>
            <div class="">
                <p>Different Type of OOH Advertising</p>
            </div>
        </div>
    </section>
<div class="py-lg-4 py-md-3 py-sm-3 py-3 footer_1" id="contact">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3" style="box-shadow: 0px 0px 5px;">
			<div class="d-flex flex-row mt-2">
				<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
					<li class="nav-item">
						<a href="#Hoarding" class="nav-link active" data-toggle="tab" role="tab" aria-controls="Hoarding"><img
								src="/assets/images/about_icon1.png" class="about_sideicon" alt=""><br> <b>Hoarding</b></a>
					</li>
					<li class="nav-item">
						<a href="#Unipole" class="nav-link" data-toggle="tab" role="tab" aria-controls="Unipole"><img src="/assets/images/about_icon2.png"
								class="about_sideicon" alt=""><br><b>Unipole</b></a>
					</li>
					<li class="nav-item">
						<a href="#Transit" class="nav-link" data-toggle="tab" role="tab" aria-controls="Transit"><img src="/assets/images/about_icon3.png"
								class="about_sideicon" alt=""><br><b>Transit</b></a>
					</li>
					<li class="nav-item">
						<a href="#Airport" class="nav-link" data-toggle="tab" role="tab" aria-controls="Airport"><img src="/assets/images/about_icon4.png"
								class="about_sideicon" alt=""><br><b>Airport</b></a>
					</li>
					<li class="nav-item">
						<a href="#Bus" class="nav-link" data-toggle="tab" role="tab" aria-controls="Bus"><img src="/assets/images/about_icon5.png"
								class="about_sideicon" alt=""><br><b>Bus Shelter</b></a>
					</li>
					<li class="nav-item">
						<a href="#Digital" class="nav-link" data-toggle="tab" role="tab" aria-controls="Digital"><img src="/assets/images/about_icon6.png"
								class="about_sideicon" alt=""><br><b>Digital</b></a>
					</li>
					<li class="nav-item">
						<a href="#Rail" class="nav-link" data-toggle="tab" role="tab" aria-controls="Rail"><img src="/assets/images/about_icon7.png"
								class="about_sideicon" alt=""><br><b>Rail</b></a>
					</li>
					<li class="nav-item">
						<a href="#Retail" class="nav-link" data-toggle="tab" role="tab" aria-controls="Retail"><img src="/assets/images/about_icon8.png"
								class="about_sideicon" alt=""><br><b>Retail</b></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="Hoarding" role="tabpanel">
						<h1>Billboards</h1>
	
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Unipole" role="tabpanel">
						<h1>Unipole</h1>
	
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Transit" role="tabpanel">
						<h1>Transit</h1>
	
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Airport" role="tabpanel">
						<h1>Airport</h1>
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Bus" role="tabpanel">
						<h1>Bus Shelter</h1>
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Digital" role="tabpanel">
						<h1>Digital</h1>
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Rail" role="tabpanel">
						<h1>Rail</h1>
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
					<div class="tab-pane fade" id="Retail" role="tabpanel">
						<h1>Retail</h1>
						<p>A billboard is a large outdoor structure (a billing board), typically found in high-traffic
							areas such as alongside busy roads. Billboards present large advertisements to passing
							pedestrians and drivers.Typically showing large, seemingly amusing slogans, and distinctive
							visuals, billboards are highly visible in the top designated market areas.</p>
						<p>The largest standard-size billboards, known as Bulletins, are located primarily on major
							highways, expressways or principal arterials, and command high-density consumer exposure(mostly
							to vehicular traffic). Bulletins afford greatest visibility due not only to their size, but
							because they allow creative "customizing" through extensions and embellishments.</p>
						<p>Posters are the other common form of billboard advertising, located mostly along primary and
							secondary arterial roads. Posters are a smaller format than bulletins and are viewed
							principally byresidents and commuter traffic, with some pedestrian exposure.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
<div class="py-lg-4 py-md-3 py-sm-3 py-3 footer" id="contact">
		<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h3 class="title">Contact Info</h3>
					<i class="fa fa-home gobalimg" aria-hidden="true"></i>
					<p class="font-weight-bold p3">BBI Advertising Pvt Ltd.</p>
					<p class="p4">People tech group building, Plot No.1, Whitefields<br>
						<span class="span_left">Hitech City Road, Kondapur, Hyderabad,Telangana 500084</span></p>
					<i class="fa fa-envelope-o email" aria-hidden="true"></i>
					<p class="font-weight-bold p3">MAIL US</p>
					<p class="p4">reach@billboardsindia.com</p>
					<i class="fa fa-mobile telephone" aria-hidden="true"></i>
					<p class="font-weight-bold p5">CALL India</p>
					<p class="p5">+ 91 9550224488</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h3 class="title">Leave Message</h3>
					<div class="contact-block-left">
						<form action="#" method="post">
							<input type="text" placeholder="First Name" name="Name" required="">
							<input type="text" placeholder="Last Name" name="Name" required="">
							<input type="text" placeholder="Subject" name="Name" required="">
							<input type="email" class="email" placeholder="Email" name="Email" required="">
							<textarea placeholder="Message" name="message" required=""></textarea>
							<input type="submit" value="Send Message">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //footer -->