<section class="">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title mb-3"><b class="first_word"><span class="first_letter">T</span>eam</b></h3>
    </div>
</section>
 <div class="services text-center py-5" id="" style="background: #ddd;">
    <div class="container py-xl-1 py-lg-1">
        <div class="row our-styles">
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                            <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                                <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                   <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                            <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="abt-block">
                        <div class="dodecagon">
                            <div class="dodecagon-bg">
                                <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <h3>Billboards</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                        <div class="icons-client text-center">
                                <ul class="our_teamul">
                                   <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                   <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                </ul>
                             </div>
                    </div>
                </div>
        </div>
        <div class="row our-styles">
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                            <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                            <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                            <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="abt-block">
                    <div class="dodecagon">
                        <div class="dodecagon-bg">
                            <img src="/assets/images/avatar.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h3>Billboards</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                    <div class="icons-client text-center">
                            <ul class="our_teamul">
                               <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-rss"></span></a></li>
                            </ul>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>