<div layout="column" layout-sm="column" layout-xs="column" class="bbsco" style="margin-top:64px;background: #fff;">
    <div layout="column" layout-align="center center" class="pricing-head">
        <div class="md-display-2 pricing-inner theme-txt">Start your 30-days trail!</div>
        <div>
            <md-button class="md-raised md-primary">Try Standard for free</md-button>
        </div>
    </div>
    <div class="packages flex">
    
        <div layout="column" class="news-inner"  flex-offset-gt-sm="20" flex="60" flex-xs="100" flex-sm="100">
            <div layout="row">
               
                <div flex-xs flex-gt-xs="50" layout="column">
                  <md-card>
                    <md-card-header>
                      
                      <md-checkbox class="green">
                                   
                      </md-checkbox>
                      <md-card-header-text>
                        <div class="md-headline" style="color: #488EDF;">Standarad</div>
                      </md-card-header-text>
                      <md-card-header-text>
                       <div style="color: #19D872;"><span class="md-title">$</span><span class="md-display-1">20</span><span class="md-body-1">/month</span></div>
                      </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                      <p class="md-body-1 main-text">
                         There are many variations of passages of Lorem Ipsum available, but the majority
                        </p>
                    </md-card-content>

                    <img src="assets/images/product/bycle-image.png" class="md-card-image inner-img" alt="Washed Out">
                    
                   
                    <md-card-content layout="column" layout-align="center center">
                      <p class="inner-text">
                        Morbi condimentum nisl eget enim</br>Quisque sit amet nunc eleifend, dignissim </br>Sed sit amet sapien ut nulla pretium blandit
                      </p>
                    </md-card-content>
                     <md-card-actions  layout="column" layout-align="center center">
                      <md-button class="md-raised md-primary">SIGN UP</md-button>
                      
                    </md-card-actions>
                  </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                  <md-card>
                    <md-card-header>
                      
                      <md-checkbox class="green">
                                   
                                </md-checkbox>
                      <md-card-header-text flex layout="column">
                        <div class="md-headline" style="color: #488EDF;">Premium</div>
                      </md-card-header-text>
                      <md-card-header-text>
                       <div style="color: #19D872;"><span class="md-title">$</span><span class="md-display-1">60</span><span class="md-body-1">/month</span></div>
                      </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                      <p class="md-body-1 main-text">
                         There are many variations of passages of Lorem Ipsum available, but the majority
                        </p>
                    </md-card-content>

                    <img src="assets/images/product/car-image.png" class="md-card-image inner-img" alt="Washed Out">
                    
                   
                    <md-card-content layout="column" layout-align="center center">
                      <p class="inner-text">
                        Morbi condimentum nisl eget enim</br>Quisque sit amet nunc eleifend, dignissim </br>Sed sit amet sapien ut nulla pretium blandit
                      </p>
                    </md-card-content>
                     <md-card-actions  layout="column" layout-align="center center">
                      <md-button class="md-raised md-primary md-button">SIGN UP</md-button>
              
                      
                    </md-card-actions>
                  </md-card>
                </div>
                
            </div>

    
        </div>

        <div lauout="column" class="final-class">
            <div class="md-display-2">Confusion!!</div>
            <div class="Confusion-txt">We will help you tochoose a plan appropriate foryour bussiness.</div>
            <md-button class="md-primary md-raised">Contact Us</md-button>
        </div>
    </div>
</div>
