<div class="pricing__section" layout="column" layout-sm="column" layout-xs="column">
    <div class="pricing-head" layout="column" layout-align="center center" >
        <h2 class="md-display-2 theme-txt">Start your 30-days trail!</h2>
        <md-button class="md-raised md-primary">Try Standard for free</md-button>
    </div>
    <div class="_packages flex">
    
        <div class="packages_inner" layout="column" flex="60" flex-xs="100" flex-sm="100">
            <div layout="row" layout-sm="column">
               
                <div flex-sm="100" flex-gt-sm="50" layout="column">
                  <md-card class="md-whiteframe-2dp">
                    <form name="standarad" novalidate="novalidate">
                    <md-card-header>
                      
                      <md-checkbox name="standarad" required="required">           
                      </md-checkbox>
                      <div ng-messages="standarad.standarad.$error">
                          <div ng-message="required">standarad is required.</div>                                    
                      </div>
                      <md-card-header-text>
                        <h2 class="md-headline">Standarad</h2>
                      </md-card-header-text>
                      <md-card-header-text>
                       <h3><span class="md-title">$</span><span class="md-display-1">20</span><span class="md-body-1">/month</span></h3>
                      </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                      <p class="md-body-1 main-text">
                         There are many variations of passages of Lorem Ipsum available, but the majority
                        </p>
                    </md-card-content>
                    <img src="assets/images/product/bycle-image.png" class="md-card-image inner-img" alt="Washed Out">
                    <md-card-content layout="column" layout-align="center center">
                      <p class="inner-text">
                        Morbi condimentum nisl eget enim</br>Quisque sit amet nunc eleifend, dignissim </br>Sed sit amet sapien ut nulla pretium blandit
                      </p>
                    </md-card-content>
                     <md-card-actions  layout="column" layout-align="center center">
                      <md-button class="md-raised md-primary" ng-click="showTabDialog()">LogIn</md-button>
                      
                    </md-card-actions>
                    </form>
                  </md-card>
                </div>
                <div flex-sm="100" flex-gt-sm="50" layout="column">
                  <md-card class="md-whiteframe-2dp">
                    <md-card-header>
                      
                      <md-checkbox class="green">
                                   
                                </md-checkbox>
                      <md-card-header-text flex layout="column">
                        <h2 class="md-headline">Premium</h2>
                      </md-card-header-text>
                      <md-card-header-text>
                       <h3><span class="md-title">$</span><span class="md-display-1">60</span><span class="md-body-1">/month</span></h3>
                      </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                      <p class="md-body-1 main-text">
                         There are many variations of passages of Lorem Ipsum available, but the majority
                        </p>
                    </md-card-content>

                    <img src="assets/images/product/car-image.png" class="md-card-image inner-img" alt="Washed Out">
                    
                   
                    <md-card-content layout="column" layout-align="center center">
                      <p class="inner-text">
                        Morbi condimentum nisl eget enim</br>Quisque sit amet nunc eleifend, dignissim </br>Sed sit amet sapien ut nulla pretium blandit
                      </p>
                    </md-card-content>
                     <md-card-actions  layout="column" layout-align="center center">
                      <md-button class="md-raised md-primary md-button" ng-click="showTabDialog()">LogIn</md-button>
                    </md-card-actions>
                  </md-card>
                </div>
                
            </div>
        </div>

        <div class="packages_bottom" lauout="column" hide-sm>
            <div class="md-display-2">Confusion!!</div>
            <div class="Confusion-txt">We will help you tochoose a plan appropriate foryour bussiness.</div>
            <md-button class="md-primary md-raised">Contact Us</md-button>
        </div>

        <!-- <div class="fab-dail">
			<div class="lock-size" layout="row" layout-align="center center">
				<md-fab-speed-dial md-direction="up" class="md-fling">
					<md-fab-trigger>
						<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
							<md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
						</md-button>
					</md-fab-trigger>
					<md-fab-actions>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
							<md-icon aria-label="Facebook"><i class="material-icons">call</i></md-icon>
						</md-button>
						<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
							<md-icon aria-label="Facebook"><i class="material-icons">chat</i></md-icon>
						</md-button>

					</md-fab-actions>
				</md-fab-speed-dial>
			</div>
		</div> -->
    </div>
    
    <!-- keep in touch html start-->
	<div class="keep_in_touch contbg" layout="column" layout-xs="column" >

		<div class="keep_in_touch_top" layout="column" layout-margin layout-align="center center">
			<h3 class="md-display-1">KEEP IN TOUCH</h3>
			<h4 class="md-subhead">Send us your brief from the contact form, or feel free to give us a call. 
				We look forward to working on your next advertising campaign together.</h4>
		</div>
		<div class="keep_in_touch_bottom" layout="row" layout-xs="column"  layout-sm="column">
			<div class="contsl" layout="column" flex="50" flex-sm="100" flex-xs="100"  layout-align-sm="center">
				<div class="contstS md-whiteframe-2dp" layout="column"  flex-offset-gt-sm="25" layout-margin >
					
					<div class="theme-text md-title"><md-icon><i class="material-icons theme-text">location_on</i></md-icon> Address</div>
					<div class="contsm">
						<div class="md-title">BBI Advertising Pvt Ltd.</div>
						<address class="md-subhead"> 
							People tech group building,<br/>
							Plot No.1, Whitefields <br/>
							Hitech City Road, Kondapur,<br/> 
							Hyderabad,Telangana 500084
						</address>
					</div>

					<div class="theme-text  md-title" ><md-icon><i class="material-icons theme-text">phone</i></md-icon>Contact Us</div>
					<div class="md-subhead">+91 9676107913</div>
					<div class="theme-text  md-title"> <md-icon><i class="material-icons theme-text">email</i></md-icon>Email Us </div>
					<div class="md-subhead">reach@billboardsindia.com</div>

				</div>

			</div>
			<div class="contsr" layout="column" layout-sm="column" flex="50" flex-sm="100" flex-xs="100"  layout-matgin layout-padding>
				<div layout="column" layout-sm="column" class="confor md-whiteframe-2dp">
					<form name="sendquery" novalidate>
						<input type="hidden" ng-model="query.type" value="3" />
						<md-input-container class="md-block">
							<label>Name</label>
							<input ng-model="query.name" name="queryname" required="required"  maxlength="30" />
							<div ng-messages="sendquery.queryname.$error">
								<div class="alret alert-danger" ng-message="required">Name is required.</div>
								<div ng-message="maxlength">Name shouldn't exede 30 characters. </div>
							</div>

						</md-input-container>
						<md-input-container class="md-block">
							<label> Email</label>
							<!-- <input ng-model="query.email" required="required"  /> -->
							<input ng-model="query.email" name="queryemail" type="email" maxlength="30" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
							/>
							<div ng-messages="sendquery.queryemail.$error">
							  <div class="alret alert-danger" ng-message="required">Email is required.</div>
							  <div ng-message="maxlength">username shouldn't exede 30 characters. </div>
							  <div ng-message="pattern">Enter a valied email</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Company Name</label>
							<input ng-model="query.companyName" />
						</md-input-container>
						<md-input-container class="md-block">
							<label>Message</label>
							<input ng-model="query.message" name="querymsg" minlength="10" maxlength="150" required="required"  />
							<div ng-messages="sendquery.querymsg.$error">
								<div class="alret alert-danger" ng-message="required">message is required.</div>
								<div ng-message="maxlength">message shouldn't exede 150 characters. </div>
								<div ng-message="minlength">message should be 10 characters</div>
							  </div>
						</md-input-container>
						<div class="forsubmCon">
							<md-button class="md-raised md-primary forsubm" ng-disabled="sendquery.$invalid" ng-click="sendQuery()">Send Message</md-button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- keep in touch html end-->
</div>  

