<section class="product_list_view m-2">
    <!-- Selected product detail sidenav-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="productDetailsList">
        <md-content class="save_r_excited">
            <div class="inner">
                <div layout="row" class="">
                    <div class="md-body-2 ml-3">BB238</div>
                    <div flex></div>
                    <a class="md-icon-button close-btn" ng-click="productview()">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                <div class="mt-2" ng-click="showProductImagePopup($event, product.image)">
                    <img src="http://104.236.11.252:8001/uploads/images/products/Ibrahimpatnam 30'X30'.jpg" style="width:100%;height:300px;" />
                </div>
                <div class="ml-3 mt-2" layout="column">
                    <div class="md-body-2">Kothaguda</div>
                    <div class="md-caption">Facing:From Kothaguda X Roads,
                        towards Hitech city</div>
                </div>
                <div layout="row" class="mt-2 mb-2">
                    <div flex="33" class="border ml-3 p-1">
                        <p class="md-caption mb-0">No. of Views</p>
                        <h3 class="md-body-2">1,48,000</h3>
                        <div class="md-caption">Per Month</div>
                    </div>
                    <div flex="33" class="border ml-3 mr-3 p-1 ">
                        <p class="md-caption mb-0">Lit</p>
                        <h3 class="md-body-2">Yes</h3>
                        <div class="md-caption">backlit</div>
                    </div>
                    <div flex="33" class="border mr-3 p-1">
                        <p class="md-caption mb-0">Size</p>
                        <h3 class="md-body-2">40ft*40ft</h3>
                        <div class="md-caption"></div>
                    </div>
                </div>
                <div layout="column" class=" mt-2" style="padding:8px">
                    <div class="md-body-2 text-left">Product Availability</div>

                    <form action="">
                        <div class="form-group mb-2 mt-2">
                            <input type="date" class="form-control" id="date" placeholder="select start date and end date">
                        </div>
                    </form>
                </div>
                <div layout="row" class="pb-3" layout-margin layout-align="space-between end">
                    <md-button layout-fill class="md-raised md-warn" ng-if="!alreadyShortlisted" ng-click="shortlistSelected()">Shortlist</md-button>
                    <md-button layout-fill class="md-raised md-primary" ng-click="toggleExistingCampaignSidenav()">Save
                        Campaign</md-button>
                </div>
            </div>
            <div class="prodct_save md-whiteframe-2dp animated slideInDown" ng-if="existingCampaignSidenavVisible">
                <div layout="row">
                    <div flex></div>
                    <a class="md-icon-button close-btn" ng-click="">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                <div class="md-body-2 m-2 ">We are excited to see your Campaign</div>
                <div class="md-title  m-2">Let's work Together!</div>
                <div class="form-group mt-3 mr-2 ml-2">
                    <input type="text" class="form-control" id="text" placeholder="Campaign Name ">
                </div>
                <p class="text-center md-body-2">(OR)</p>
                <div class="form-group mr-2 ml-2">
                    <select class="form-control" ng-model="existingCampaign.id" required="required">
                        <option ng-value="campaign.id" ng-repeat="campaign in activeUserCampaigns">{{campaign.name}}</option>
                    </select>
                </div>
                <div layout="column" class="mr-2 ml-2 mb-3">
                    <md-button class="md-raised md-primary" layout-fill ng-click="addProductToExistingCampaign(existingCampaign.id, product.id)">
                        add to existing or save Campaign
                    </md-button>
                </div>
            </div>
        </md-content>

    </md-sidenav>
    <!-- Selected product detail sidenav ends-->
    <div class="wrapper">
        <div class="product_heading pl-0 pr-0">
            <div id="myProduct" class="map_filters mt-2">
                <div id="mydivheader">
                    <!-- <a href="" class="menu__btn">
                        <md-icon md-svg-icon="assets/images/menu_24px.svg"></md-icon>
                    </a> -->
                    <a href="#/location" class="text_color md-caption"> Switch to map View</a>
                    <span flex></span>
                    <a href="#" class="md-caption float-right text_a"> Clear Filters</a>
                </div>
                <div layout="row" class="mt-2 search_tab md-whiteframe-2dp">
                    <md-autocomplete md-min-length="2" md-selected-item="selectedId" md-selected-item-change="selectFromTabIdSearch(items)"
                        md-search-text="searchId" md-items="items in searchByTabId(searchId)" md-item-text="items.siteNo"
                        placeholder="Search By Tab id" md-clear-button="true" style="min-width: 100% !important">
                        <md-item-template>
                            <span md-highlight-text="searchId">{{items.siteNo}}, ({{items.format_name}})</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
                <div layout="row" class="mt-2 search_area md-whiteframe-2dp">
                    <md-autocomplete md-min-length="2" md-selected-item="selectedId" md-selected-item-change="selectFromTabIdSearch(items)"
                        md-search-text="searchId" md-items="items in searchByTabId(searchId)" md-item-text="items.siteNo"
                        placeholder="Search By Area,Location" md-clear-button="true" style="min-width: 100% !important">
                        <md-item-template>
                            <span md-highlight-text="searchId">{{items.siteNo}}, ({{items.format_name}})</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
                <!-- filters html start-->
                <div layout="column" class="filters md-whiteframe-2dp mt-2" style="padding:8px;background: #fff !important;">
                    <div layout="row">
                        <div class="md-caption text-left">Show products available between</div>
                        <div flex></div>
                        <span> <a href="#" class="text_a"><i class="fa fa-times"></i></a></span>
                    </div>
                    <form action="">
                        <div class="form-group mb-0 mt-2">
                            <input type="date" class="form-control" id="date" placeholder="select start date and end date">
                        </div>
                    </form>
                </div>
                <!-- filters html end-->
                <!-- formats html start-->
                <div layout="column" class="formats_block md-whiteframe-2dp mt-2">
                    <div class="main-part" layout="column" ng-click="formats()" style="cursor:pointer;padding: 8px 10px;">
                        <div layout="row">
                            <div class="md-body-1 text-white txt-mrng">Select Ad Formate</div>
                            <div flex></div>
                            <div>
                                <md-icon ng-hide="format">
                                    <i class="material-icons text-white">keyboard_arrow_down</i>
                                </md-icon>
                                <md-icon ng-show="format">
                                    <i class="material-icons text-white">keyboard_arrow_up</i>
                                </md-icon>
                            </div>
                        </div>
                    </div>
                    <div layout="column" ng-show="format" class="formats-types">
                        <div ng-repeat="formatGroup in formatGrid" class="formatinnerpart">
                            <div class="row" style="margin-left:0px;margin-right:0px">
                                <div class="col-sm-4" style="padding-right:0px;padding-left:0px;text-align:center"
                                    ng-repeat="format in formatGroup track by $index" class="formatgridpart">

                                    <div ng-cloak style="border-right:1px solid #ccc">
                                        <md-button class="md-grid-item-content" ng-click="toggleFormatSelection(format.id)"
                                            ng-class="{'red' : isFormatSelected(format.id)}" ng-if="format" style="margin:0px;padding :0px;">
                                            <!-- <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon> -->
                                            <img ng-src="{{serverUrl + format.image}}" class="img-size">
                                            <div class="md-caption">{{format.name}}</div>
                                        </md-button>
                                        <md-button class="md-grid-item-content" style="padding:36px 0px;" disabled
                                            ng-if="!format">
                                    </div>

                                    <!-- <md-divider hide-xs></md-divider> -->
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>
                    </div>
                </div>
                <!-- formats html end-->
                <!--saved campagin html start -->
                <div layout="column" class="saved_camp_block md-whiteframe-2dp mt-2" >
                    <a class=" main-part" layout="column"  href="#/shortlist-products" style="cursor:pointer;padding: 8px">
                        <div layout="row">
                        <div class="md-body-1 text-white txt-mrng">Shortlisted Product</div>
                        <div flex></div>
                        <div class="md-body-1 text-white">
                            (4)
                        </div>
                        </div>
                    </a>
                </div>
                <!--saved campagin html end -->
            </div>
        </div>
        <div class="product_detalis pl-0 mt-2">
            <!-- <div class="products_list mt-3">
                <div class="row">
                    <div class="col">Image</div>
                    <div class="col">Tab ID</div>
                    <div class="col-md-2">Product Details</div>
                    <div class="col">Views</div>
                    <div class="col">Product Type</div>
                    <div class="col">Size</div>
                    <div class="col">Lit</div>
                    <div class="col-md-2">Address</div>
                    <div class="col">Action</div>
                </div>
                <div  class="product_detls_inner contbg pt-2 pb-2">
                    <div class="row ">
                        <div class="col">
                            <img src="assets/images/product/hoarding.png" alt=" product image" width="77px" height="48px"/>
                        </div>
                        <div class="col">BB238</div>
                        <div class="col-md-2">BB238 - Kothaguda</div>
                        <div class="col">1,48,000</div>
                        <div class="col">Hoarding</div>
                        <div class="col">40ft X 40ft</div>
                        <div class="col">Yes</div>
                        <div class="col-md-2">From Kothaguda X Roads,
                                towards Hitech city</div>
                        <div class="col">
                            <a href="#">View Details</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="wrapper p-2 mb-3 text_color">
                <div class="w-10">Image</div>
                <div class="w-10">Tab ID</div>
                <div class="w-15">Product Details</div>
                <div class="w-10">Views</div>
                <div class="w-10">Product Type</div>
                <div class="w-10">Size</div>
                <div class="w-5">Lit</div>
                <div class="w-20">Address</div>
                <div class="w-10"></div>
            </div>
            <div class="wrapper contbg p-2 md-whiteframe-2dp mt-1">
                <div class="w-10">
                    <img src="assets/images/product/hoarding.png" alt=" product image" width="77px" height="48px" />
                </div>
                <div class="w-10 align-self-center">BB238</div>
                <div class="w-15 align-self-center">BB238 - Kothaguda</div>
                <div class="w-10 align-self-center">1,48,000</div>
                <div class="w-10 align-self-center">Hoarding</div>
                <div class="w-10 align-self-center">40ft X 40ft</div>
                <div class="w-5 align-self-center">Yes</div>
                <div class="w-20">From Kothaguda X Roads,
                    towards Hitech city</div>
                <div class="w-10 align-self-center product_btn">
                    <a href="" ng-click="productview()">View Details</a>
                </div>
            </div>
            <div class="wrapper contbg p-2 md-whiteframe-2dp mt-1">
                <div class="w-10">
                    <img src="assets/images/product/hoarding.png" alt=" product image" width="77px" height="48px" />
                </div>
                <div class="w-10 align-self-center">BB238</div>
                <div class="w-15 align-self-center">BB238 - Kothaguda</div>
                <div class="w-10 align-self-center">1,48,000</div>
                <div class="w-10 align-self-center">Hoarding</div>
                <div class="w-10 align-self-center">40ft X 40ft</div>
                <div class="w-5 align-self-center">Yes</div>
                <div class="w-20">From Kothaguda X Roads,
                    towards Hitech city</div>
                <div class="w-10 align-self-center product_btn">
                    <a href="" ng-click="productview()">View Details</a>
                </div>
            </div>

        </div>
    </div>

</section>