<div class="faq_main cont_bg">
        <section class="product_sec">
          <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title heading_3"><b class="first_word"><span class="first_letter">P</span>rohibited and Restricted Items</b></h3>
          </div>
        </section>
        <section class="pb-3" >
            <div class="user_container">
                <h5>While you can sell and purchase almost any media on BBA, maintaining the safety of our community is a responsibility we take very seriously.</h5>
                <br>
                <h5>For this reason, and to comply with local legal restrictions, some categories of products are restricted, or completely banned from being listed. Sellers will list items that can not be advertised, but ultimately they have the right to reject ads they determine to be prohibited in their best business judgment.</h5>
                <br>
                <h5>If you're not sure if an item you're intending to list is allowed or not, choose the relevant category from the list below to find out.</h5>
                <br>
                <h3>Frequently Asked Questions</h3>
                <br>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">How do I find out what items are allowed on BBA?</p>
                <p>If you're not sure whether your item can be listed on BBA, check our list of prohibited and restricted items below.</p>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">What do I do if I see an item that isn't allowed?</p>
                <p>If you see a listing that violates one of our policies, report it by clicking Report item in the listing.</p>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">BBA prohibited and restricted items</p>
                <p>Adult items policy</p>
                <p>Alcohol policy</p>
                <p>Animals and wildlife products policy</p>
                <p>Digitally delivered goods policy</p>
                <p>Drugs and drug paraphernalia policy</p>
                <p>Embargoed goods and prohibited countries policy</p>
                <p>Encouraging illegal activity policy</p>
                <p>Hazardous, restricted, or regulated materials policy</p>
                <br>
                <br>
                <h3>Read our full policy</h3>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">Was this article helpful for you?</p>
                <p>You might also be interested in:</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Rules and policies for buyers</p>
                <p>To help make buying on BBA a safe and enjoyable experience, we've put in place a number of policies and guidelines.
                        <br>1 min article
                        </p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Feedback policies</p>
                <p>Feedback is an opportunity to leave an honest comment about your experience with a seller, or thank a customer for their purchase.
                        <br>4 min article
                        </p>

            </div>
        </section>
      </div>
      
      