<div layout="column" layout-fill="layout-fill">
	<div>
		<div layout="row" layout-align="center center" layout-fill="layout-fill" class="setting-page">
			<md-whiteframe layout="column" layout-align="center center" flex="40" flex-sm="60" flex-xs="100" flex-md="50"
			 class="login md-whiteframe-3dp" style="margin: 5.5% 0;">
				<md-content layout-fill="layout-fill" class="contbg">
					<!-- <div layout="column" layout-align="center center" layout-margin="layout-margin" layout-padding="layout-padding">
 					 	<img src="assets/images/billboards.png" alt="logo"/>
 					</div> -->
					<div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
						<h4> Reset Password</h4>
					</div>
					<form name="forms.resetPasswordForm" layout-margin="layout-margin" layout-padding novalidate="novalidate">
						<md-input-container class="md-block" ng-if="!typeReset">
							<label> Current Password </label>
							<input ng-model="resetPwdObj.password" type="password" name="password" minlength="6" maxlength="20" required="required" />
							<div ng-messages="forms.resetPasswordForm.password.$error">
								<div ng-message="required">Password is required.</div>
								<div ng-message="minlength">Password must have 6 characters.</div>
								<div ng-message="maxlength">Password shouldn't exceed 20 characters.</div>
								<div ng-message="pattern">Please enter a strong password.</div>
							</div>
						</md-input-container>
						<input type="hidden" ng-model="resetPwdObj.code" ng-if="typeReset" />
						<md-input-container class="md-block">
							<label>New Password </label>
							<input ng-model="resetPwdObj.newPassword" type="password" name="password" minlength="6" maxlength="20" required="required" />
							<div ng-messages="forms.resetPasswordForm.password.$error">
								<div ng-message="required">Password is required.</div>
								<div ng-message="minlength">Password must have 6 characters.</div>
								<div ng-message="maxlength">Password shouldn't exceed 20 characters.</div>
								<div ng-message="pattern">Please enter a strong password.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Confirm Password </label>
							<input ng-model="resetPwdObj.confirmNewPassword" type="password" name="confirm_password" minlength="6" maxlength="20" required="required" />
							<div ng-messages="forms.resetPasswordForm.confirm_password.$error">
								<div ng-message="required">Password is required.</div>
								<div ng-message="minlength">Password must have 6 characters.</div>
								<div ng-message="maxlength">Password shouldn't exceed 20 characters.</div>
								<div ng-message="pattern">Please enter a strong password.</div>
							</div>
						</md-input-container>
						<div class="serverErrors" ng-show="resetPasswordErrors" style="padding-left:0 !important;">
							<ul>
								<li ng-repeat="error in resetPasswordErrors">
									{{error}}
								</li>
							</ul>
						</div> 
						<div layout="row" layout-align="center center">
							<md-button type="submit" class="md-raised  md-primary" ng-disabled="forms.resetPasswordForm.$invalid" ng-click="resetPassword()">SUBMIT</md-button>
						</div>
					</form>
				</md-content>
			</md-whiteframe>
		</div>
	</div>
</div>