<div layout="row" layout-align="center center" layout-fill="layout-fill" class="setting-page">
	<md-whiteframe layout="column" layout-align="center center" flex="45" flex-sm="80" flex-xs="100" flex-md="50" layout-padding="layout-padding"
		class="login md-whiteframe-3" style="margin: 5.5% 0;">
		<md-content layout-fill="layout-fill" class="contbg">
			<div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
				<h4> Reset Password</h4>
			</div>
			<form name="resetPasswordForm" layout-margin="layout-margin" layout-padding novalidate="novalidate">
				<md-input-container class="md-block" ng-if="!typeReset">
					<label> Current Password </label>
					<input ng-model="resetPwdObj.password" type="password" name="password" minlength="6" maxlength="20" required="required" />
					<div ng-messages="resetPasswordForm.password.$error">
						<div ng-message="required">Password is required.</div>
						<div ng-message="minlength">Password must have 6 characters.</div>
						<div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
						<div ng-message="pattern">Please enter a strong password.</div>
					</div>
				</md-input-container>
				<input type="hidden" ng-model="resetPwdObj.code" ng-if="typeReset" />
				<md-input-container class="md-block">
					<label>New Password </label>
					<input ng-model="resetPwdObj.newPassword" type="password" name="password" minlength="6" maxlength="20" required="required" />
					<div ng-messages="resetPasswordForm.password.$error">
						<div ng-message="required">Password is required.</div>
						<div ng-message="minlength">Password must have 6 characters.</div>
						<div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
						<div ng-message="pattern">Please enter a strong password.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Confirm Password </label>
					<input ng-model="resetPwdObj.confirmNewPassword" type="password" name="confirm_password" minlength="6" maxlength="20" required="required" />
					<div ng-messages="resetPasswordForm.confirm_password.$error">
						<div ng-message="required">Password is required.</div>
						<div ng-message="minlength">Password must have 6 characters.</div>
						<div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
						<div ng-message="pattern">Please enter a strong password.</div>
					</div>
				</md-input-container>
				<div layout="row" layout-align="center center">
					<md-button type="submit" class="md-raised  md-primary" ng-click="resetPassword()">SUBMIT</md-button>
					<md-button ng-click="clearData()" class="md-raised">CANCEL</md-button>
				</div>
			</form>
		</md-content>
	</md-whiteframe>
</div>

