

<div layout="column"  layout-fill="layout-fill" ng-controller="settingForm" >  
 	<div>
 		<div layout="row" layout-align="center center" layout-fill="layout-fill" class="setting-page"> 
 			<md-whiteframe layout="column" layout-align="center center" flex="45" flex-sm="60" flex-xs="100" flex-md="50"	layout-padding="layout-padding" class="login md-whiteframe-3" style="margin: 5.5% 0;">	
 				<md-content layout-fill="layout-fill" class="contbg">
 					<!-- <div layout="column" layout-align="center center" layout-margin="layout-margin" layout-padding="layout-padding">
 					 	<img src="assets/images/billboards.png" alt="logo"/>
 					</div> -->
 					<div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
 					 	<h4> Reset Password</h4>
                    </div>
                    <form name="signin" layout-margin="layout-margin" layout-padding novalidate="novalidate">
                

                        <md-input-container class="md-block">
                            <label> CurrentPassword </label>
                            <input ng-model="user.password" type="password" name="password" minlength="6" maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required="required"/>
                            <div ng-messages="signin.password.$error">
                                <div ng-message="required">Password is required.</div>
                                <div ng-message="minlength">Password must have 6 characters.</div>
                            <div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
                            <div ng-message="pattern">Please enter a strong password.</div>
                            </div>
                        </md-input-container>
                                    
                        <md-input-container class="md-block">
                            <label>New Password </label>
                            <input ng-model="user.password" type="password" name="password" minlength="6" maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required="required"/>
                            <div ng-messages="signin.password.$error">
                                <div ng-message="required">Password is required.</div>
                                <div ng-message="minlength">Password must have 6 characters.</div>
                            <div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
                            <div ng-message="pattern">Please enter a strong password.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Confrom Password </label>
                            <input ng-model="user.password" type="password" name="password" minlength="6" maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required="required"/>
                            <div ng-messages="signin.password.$error">
                                <div ng-message="required">Password is required.</div>
                                <div ng-message="minlength">Password must have 6 characters.</div>
                            <div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
                            <div ng-message="pattern">Please enter a strong password.</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center center">
                            <md-button type="submit" class="md-raised  md-primary">SUBMIT</md-button>
                            <md-button ng-click="clearData()" class="md-raised">CANCEL</md-button>
                        </div>
                    </form>
 				</md-content>
 			</md-whiteframe>
         
             <md-whiteframe layout="column" layout-align="center center" flex="45" flex-sm="60" flex-xs="100" flex-md="50"	layout-padding="layout-padding" class="login md-whiteframe-3" style="margin: 5.5% 0;">	
 				<md-content layout-fill="layout-fill" class="contbg">
                    <h1 class="md-display-1">Your Password Successfully Change</h1>
                <p class="md-subhead">Click here To </p>
                <md-button aria-label="login" ng-click="showTabDialog($event)" class="md-raised md-primary">Login</md-button>
 				</md-content>
 			</md-whiteframe>
        </div>
 	</div>
</div>

    