<div class="faq_main cont_bg">
        <section class="product_sec">
          <div class="user_container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title heading_3"><b class="first_word"><span class="first_letter">R</span>ules and Policies for Buyers</b></h3>
          </div>
        </section>
        <section class="pb-3" >
            <div class="user_container">
                <h5>To help make buying on BBA a safe and enjoyable experience, we've put in place a number of policies and guidelines.</h5>
                <br>
                <h5>Many of these are based on local legal requirements, but others are based on our experience of what will help ensure a fair marketplace for everyone. So, before you make a counter-offer (or bid) or buy on BBA, read our policies for buyers listed below.</h5>
                <br>
                <h3>Frequently Asked Questions</h3>
                <br>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">What rules and requirements are there for BBA buyers?</p>
                <p>When you bid on or buy an item, you're agreeing to the rules we've put in place for our community. You can find out more details on these rules in the articles below.</p>
                <p style="font-size: 14px;font-weight: 700;margin-bottom: 0px;">What kind of items are listed on BBA?</p>
                <p>Almost anything you can think of. But there are certain categories of items that we restrict. Check out our list of prohibited and restricted items.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Buying practices policy</p>
                <p>Learn about our expectations for buyer behavior on BBA.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Feedback policies</p>
                <p>Learn about the guidelines and policies around Feedback to ensure it's used constructively and fairly.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Interfering with a transaction policy</p>
                <p>Learn about the rules and guidelines we've established to prevent people from interfering with the completion of transactions.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Invalid bid retraction policy</p>
                <p>Read our guidelines on retracting a bid, and why we have rules in place to prevent members gaining an unfair advantage when buying an item.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Offers to buy or sell outside of BBA</p>
                <p>Learn why buyers and sellers aren't allowed to use information they've obtained on BBA to contact each other to buy or sell off BBA.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Shill bidding policy</p>
                <p>Find out what shill bidding is, and why it isn't allowed on BBA.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Unpaid item policy</p>
                <p>Learn about our rules around paying for items after a buyer has agreed to make a purchase.</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Unwelcome and malicious buying policy</p>
                <p>Learn about the rules we have in place to prevent buyers from attempting to disrupt a listing.</p>
                <br>
                <br>
                <h3>Read our full policy</h3>
                <h4>Was this article helpful for you?</h4>
                <p>You might also be interested in:</p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Prohibited and restricted items</p>
                <p>While you can sell almost any item on BBA, maintaining the safety of our community is a responsibility we take very seriously.
                        <br>1 min article
                        </p>
                <p style="color:#BC2535;font-size: 14px;font-weight: 700;margin-bottom: 0px;">Feedback policies</p>
                <p>Feedback is an opportunity to leave an honest comment about your experience with a seller, or thank a customer for their purchase.
                        <br>4 min article
                        </p>

            </div>
        </section>
      </div>
      
      