<div flex-xs="100" flex="100" show-xs hide-gt-xs ng-controller="GmapCtrl" layout-fill>

		
        <div  layout="column" layout-margin>
            <div class=" md-subhead">Saved Campaigns</div>
        </div>
        <div layout="column" layout-margin>
            <div layout="row">
                <div class="md-body-2" flex="50">Campaign Name</div>
                <div flex="50" layout-align="end center" layout="column">
                    <md-button class="md-icon-button" aria-label="Panel" ng-click="mobilesharepopup()">
                        <md-icon><i class="material-icons">share</i></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Panel" >
                        <md-icon><i class="material-icons">launch</i></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Panel" >
                        <md-icon><i class="material-icons">delete</i></md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="row">
                <div class="md-body-2" flex="50">Campaign Name</div>
                <div flex="50" layout-align="end center" layout="column">
                    <md-button class="md-icon-button" aria-label="Panel" ng-click="mobilesharepopup()">
                        <md-icon><i class="material-icons">share</i></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Panel" >
                        <md-icon><i class="material-icons">launch</i></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Panel" >
                        <md-icon><i class="material-icons">delete</i></md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="row">
                <div class="md-body-2" flex="50">Campaign Name</div>
                <div flex="50" layout-align="end center" layout="column">
                    <md-button class="md-icon-button" aria-label="Panel" ng-click="mobilesharepopup()">
                        <md-icon><i class="material-icons">share</i></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Panel" >
                        <md-icon><i class="material-icons">launch</i></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Panel" >
                        <md-icon><i class="material-icons">delete</i></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
  
	
</div>