<md-dialog flex-xs="100" flex="60" flex-md="60" flex-sm="60" ng-controller="bbMngrCtrl">
  
    <md-dialog-content>
        
        <div layout="row" layout-margin>
            <div flex="40">
                <img src="assets/images/product/Request.jpg" alt="images" width="300px">
            </div>
            <div flex="60">
                <div class="md-display-1 never-miss">Never Miss a Chance To </div>
                <div class="md-display-1 expose-brand">Expose Your Brand</div>
                
            </div>
        </div>
        <div layout="row" layout-margin layout-padding>
            <div class="md-headline" style="font-weight: 500;">Request a call back</div>
        </div>
         <div layout="row" layout-margin layout-padding>
            <form name="signin" method="post" ng-submit="userSignin()" novalidate="novalidate" layout="row" layout-xs="column" flex="70"
			 flex-lg="70" flex-md="70" flex-sm="100" flex-xs="100">
				<div layout-fill="layout-fill" layout-fill="$mdMedia('gt-sm')" class="bbsct">
					<md-input-container class="md-block">
						<label>Drop us your number</label>
						<input type="text" ng-model="contact.RCBack"/>
					</md-input-container>
				</div>
				<div class="bbscont">
					<md-button aria-label="submitRCB" class="md-raised md-primary newbbsub" ng-click="sendcontact(contact)">SUBMIT</md-button>
				</div>
			</form>
        </div>
    </md-dialog-content>

</md-dialog>    