<md-dialog flex-xs="100" flex="35" flex-md="40" flex-sm="60" style="border-radius:0px;background:#BC2535">

  <md-dialog-content>

    <div class="card card-signin m-5" ng-if="!forgotPasswordpage">
      <div class="card-body">
        <div class="mb-4 banner_img">
          <img src="assets/images/core/Adrs_Logo.png" class="login_img" alt="Smiley face">
        </div>
        <hr class="my-4">
        <form class="form-signin mt-4" name="userform" novalidate>
          <div class="form-group row">
            <label for="paymentType" class="col-sm-3 col-form-label md-body-2 user_font">User Name</label>
            <div class="col-sm-9">
              <input ng-model="user.email" class="form-control form_border" name="useremail" type="email" maxlength="50"
                required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
              <div ng-messages="userform.useremail.$error">
                <div class="alret alert-danger" ng-message="required">Email is required.</div>
                <div ng-message="maxlength">username shouldn't exceed 50 characters. </div>
                <div ng-message="pattern">Enter a valid email</div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="paymentType" class="col-sm-3 col-form-label md-body-2 user_font">Password</label>
            <div class="col-sm-9">
              <input ng-model="user.password" class="form-control form_border" type="password" name="userpassword"
                minlength="6" maxlength="20" required="required" />
              <div ng-messages="userform.userpassword.$error">
                <div ng-message="required">Password is required.</div>
                <div ng-message="minlength">Password must have 6 characters.</div>
                <div ng-message="maxlength">Password shouldn't exceed 20 characters.</div>
              </div>
            </div>
          </div>

          <!--<div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>-->

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-sm-6 col-md-6 offset-lg-2 col-lg-4">
                <button class="btn login_margin all_button" type="submit" ng-click="signInUser()"
                  ng-disabled="userform.$invalid" layout-fill="layout-fill" md-autofocus>Login</button>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="forgot">
                  
                    <a class="md-primary udrlin alrhvacc" style="cursor:pointer; float:right;color: #000;" ng-click="showForgotPasswordDialog()">Forgot
                      password ?</a><br>
                  
                    <a class="md-primary udrlin alrhvacc"
                      style="cursor:pointer; text-decoration:none;color: #000;" ng-click="showRegisterDialog()">New User? Register
                      Here</a>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <p class="text-center font-weight-light power_by">Powered By
            Bill Boards India Pvt Ltd</p>
        </form>
      </div>
    </div>
    <div class="card card-signin m-5" ng-if="forgotPasswordpage">
        <div class="card-body">
          <div class="mb-4 banner_img">
            <img src="assets/images/core/Adrs_Logo.png" class="login_img" alt="Smiley face">
          </div>
          <hr class="my-4">
          <form class="form-signin mt-4" name="forgotPassword" novalidate="novalidate">
              <h4 class="text-center mb-3" style="margin-bottom:0px;">Reset Password</h4>
              <div class="form-group row">
                  <label for="paymentType" class="col-sm-3 col-form-label md-body-2 user_font">Email ID</label>
                  <div class="col-sm-9">
                      <input type="email" class="form-control form_border" id="" ng-model="campaignPayment.amount">
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="row">
                      <div class="offset-lg-6 offset-md-6 col-sm-6 col-md-6 col-lg-6">
                          <a ng-href="#/owner/{{clientSlug}}/resetlogin"><button class="btn reset_passowrd all_button"
                                  type="submit">Reset Password</button></a>
                      </div>
                  </div>
              </div>
              <hr class="my-4">
              <p class="text-center font-weight-light power_by">Powered By
                  Bill Boards India Pvt Ltd</p>
          </form>
        </div>
      </div>

      <!-- <div class="card card-signin my-5">
          <div class="card-body">
              <div class="mb-4 banner_img">
                  <img src="assets/images/core/Adrs_Logo.png" class="login_img" alt="Smiley face">
              </div>
              <hr class="my-4">
              <form class="form-signin mt-4">
                  <p class="text-center mb-3 md-title" style="margin-bottom:0px;">Congratulations!<br>
                      Your account has been created.<br>
                      Let's work together
                  </p>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="row">
                          <div class="offset-lg-3 offset-md-3 col-sm-6 col-md-6 col-lg-6">
                              <a ng-href="#/owner/{{clientSlug}}/loginpage"><button class="btn btn-lg btn-danger btn-block text-uppercase"
                                      type="submit">Login</button></a>
                          </div>
                      </div>
                  </div>
                  <hr class="my-4">
                  <p class="text-center font-weight-light power_by">Powered By
                      Bill Boards India Pvt Ltd</p>
              </form>
          </div>
      </div> -->

    </md-dialog-content>
</md-dialog>