<div id="form-container">
  <div class="page-header text-center">
      <!-- <h2>Suggest Campaign</h2> -->
      <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".product-detail"><span>1</span> Product Detail</a>
        <a ui-sref-active="active" ui-sref=".marketing-objectives"><span>2</span> Marketing objectives</a>
        <a ui-sref-active="active" ui-sref=".advertising-objectives"><span>3</span> Advertising objectives</a>
        <a ui-sref-active="active" ui-sref=".other-info"><span>4</span> Other Info</a>
      </div>
  </div>
  <!-- use ng-submit to catch the form submission and use our Angular function -->
  <form id="signup-form" ng-submit="processForm()">
      <!-- our nested state views will be injected here -->
      <div id="suggest-views" ui-view></div>
  </form>

</div>