<div layout="column" layout-sm="column" layout-xs="column" class="bbsco" style="background: #fff;">
    
    <div layout="column" layout-sm="column" layout-xs="column" flex >
        <div class="suggest-header" layout="column" layout-align="center center" style="background: #fff;">
        
            
        <div class="suggest-logo">
            <img ng-src="assets/images/product/billboards.png"  class="logo-img">
        </div>
            
            <div class="md-subhead suggest-inner"  layout="colmun" layout-align="center center">
                we launched a new car in the market that satisfies the middle class people, which also has a fuel effiency, modern sport design, central locking and is very cost effective for the consumer
            </div>
    
        
        </div>
        <div flex>
            <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
                <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
                    <div flex="30" flex-sm="100" flex-xs="100" layout="colmun" >
                    <div class="md-subhead">
                        Name
                    </div>
                    </div>
                    <div flex="70" layout="colmun" flex-sm="100" flex-xs="100">
                    <form name="suggestMeform" novalidate layout-fill>
                        <md-input-container class="md-block">
                            <label>Organisation Name</label>
                            <input md-no-asterisk name="org_name" ng-model="suggestionRequest.org_name" required>
                            <div ng-messages="suggestMeform.org_name.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Product</label>
                            <input md-no-asterisk name="org_name" ng-model="suggestionRequest.org_name" required>
                            <div ng-messages="suggestMeform.org_name.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
                            </div>
                        </md-input-container>
                        <div class="md-body-2">
                            Describe your product, this will help us in innovating your ad campaign:
                        </div>
                        <textarea style="width:100%"></textarea>
                        <div class="md-caption">
                            Tip: we launched a new car in the market that satisfies the middle class people, which also has a fuel effiency, modern sport design, 
                        </div>
                    </form>
                    </div>
                    
                </div>
                
            </div>
            <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
                <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
                    <div flex="30" flex-sm="100" flex-xs="100" layout="colmun">
                        <div class="md-subhead">
                            Marketing objective
                        </div>
                    </div>
                    <div flex="70" flex-sm="100" flex-xs="100">
                        
                        <div class="md-body-2" style="margin-bottom:15px">What is your goal to reach your market?</div>
                        <div>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                What is your goal to reach your market
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                Are you providing a solution for the current problem
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                are you providing cost effective 
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                to increase brand awareness or sales 
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                to increase market value 
                            </md-checkbox>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div layout="colmun"layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
                <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
                    <div flex="30" flex-sm="100" flex-xs="100" layout="colmun">
                        <div class="md-subhead">
                            Advertising objective
                        </div>
                    </div>
                    <div flex="70" flex-sm="100" flex-xs="100">
                        
                        <div class="md-body-2" style="margin-bottom:15px">What is the motive of the ad campaign?</div>
                        <div>
                            <md-checkbox ng-model="data.cb11" aria-label="Checkbox 1">
                                To showcase a new product
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-model="data.cb12" aria-label="Checkbox 1">
                                To market an existing product
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-model="data.cb13" aria-label="Checkbox 1">
                                Any new offers or season specific offers 
                            </md-checkbox>
                        </div>
                        <div class="medias">
                          
                                <div class="md-body-2" style="margin-bottom:15px">
                                    What is the motive of the ad campaign?
                                </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        Unipole
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        Billboards
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        Bus shelter
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        metro pillars
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        center mediums
                                    </md-checkbox>
                                </div>
                                <div flex="35">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        digital screening in metro stations
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        smart bins
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        retail
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        airport
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        transit
                                    </md-checkbox>
                                </div>
                                
                            
                            </div>
                        </div>
                        <div class="people">
                            <div class="md-body-2" style="margin-bottom:15px">
                                
                                    what is the ideal customer/target market for this ad campaign
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        IT people
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        students
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        children
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        logistics and transport 
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        manufacturers
                                    </md-checkbox>
                                </div>
                                <div flex="35">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        dealers
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        cinema
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        real estate
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        event organizers
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        other (specify)
                                    </md-checkbox>
                                </div>
                                
                            
                            </div>
                        </div>
                        <div class="Gender">
                            <div class="md-body-2" style="margin-bottom:15px">
                                Please specify the gender to the whom the ad is intended?
                            </div>
                            <div>
                                <md-checkbox ng-model="male" aria-label="Checkbox 1">
                                    Male
                                </md-checkbox>
                            </div>
                            <div>
                                <md-checkbox ng-model="Female" aria-label="Checkbox 1">
                                    Female
                                </md-checkbox>
                            </div>
                            <div>
                                <md-checkbox ng-model="Other" aria-label="Checkbox 1">
                                    Others
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="Age">
                            <div class="md-body-2" style="margin-bottom:15px">
                                
                                What would be the age group of the people who are interested in this product
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        4-10
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        10-15
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data3" aria-label="Checkbox 1">
                                        15-25
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-checkbox ng-model="data1" aria-label="Checkbox 1">
                                        25-40
                                    </md-checkbox>
                                </div>
                                <div flex="30">
                                    <md-checkbox ng-model="data2" aria-label="Checkbox 1">
                                        40 and above
                                    </md-checkbox>
                                </div>
                                
                            </div>
                            
                        </div>

                    </div>
                    
                </div>
                
            </div>
            <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
                <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
                    <div flex="30" flex-sm="100" flex-xs="100" layout="colmun">
                    <div class="md-subhead">
                        Sample Text
                    </div>
                    </div>
                    <div flex="70" flex-sm="100" flex-xs="100" >
                    
                        
                        <div class="md-body-2" style="margin-bottom:15px">
                            What Geographic region will we be advertising to with this Ad campaign?
                        </div>
                        <textarea style="width:100%"></textarea>
                        <div class="md-caption">
                            Tip:I would to place my advertisements in Hyderabad and Bangalore cities and in these cities I would like to advertise in the commercial areas etc. 
                        </div>
                        <div class="prefer">
                            <div class="md-body-2" style="margin-bottom:15px">
                                Would you prefer your own design for your ad-campaign or would you want us to design it?
                            </div>
                            <md-input-container  layout-fill> 
                                <label>Select</label>
                                <md-select name="favoriteColor" ng-model="favoriteColor" required>
                                    <md-option value="red">Yes</md-option>
                                    <md-option value="blue">No</md-option>
                                
                                </md-select>
                                <div class="errors" ng-messages="myForm.favoriteColor.$error">
                                <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="duration">
                            <div class="md-body-2" style="margin-bottom:15px">
                                what would be your campaign duration?
                            </div>
                            <md-input-container  layout-fill> 
                                <label>Select</label>
                                <md-select name="favoriteColor" ng-model="favoriteColor" required>
                                    <md-option value="red">15 days</md-option>
                                    <md-option value="blue">1 month</md-option>
                                    <md-option value="blue">2 month</md-option>
                                    <md-option value="blue">3 month</md-option>
                                    <md-option value="blue">6 month</md-option>
                                    <md-option value="blue">12 month</md-option>
                                    <md-option value="blue">6 month</md-option>
                                    <md-option value="blue">more than 12 months (specify)</md-option>
                                </md-select>
                                <div class="errors" ng-messages="myForm.favoriteColor.$error">
                                <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="adcamapgin">
                            <div class="md-body-2" style="margin-bottom:15px">
                                when would you like to start your ad campaign
                            </div>
                            <textarea style="width:100%"></textarea>
                            <div class="md-caption">
                                Tip:I would to place my advertisements in Hyderabad and Bangalore cities and in these cities I would like to advertise in the commercial areas etc. 
                            </div>
                        </div>
                        <div class="bugest">
                            <div class="md-body-2" style="margin-bottom:15px">
                                what would be your approximate budget for this campaign? 
                            </div>
                            <div class="caption">
                                Tip:based on your budget we will strategically plan your ad campaign
                            </div>
                            <md-input-container  layout-fill> 
                                <label>Select budget Range</label>
                                <md-select name="favoriteColor" ng-model="favoriteColor" required>
                                    <md-option value="red">below 1 lakh</md-option>
                                    <md-option value="blue">1-5 lakhs</md-option>
                                    <md-option value="blue">5-10 lakhs</md-option>
                                    <md-option value="blue">10-20 lakhs</md-option>
                                    <md-option value="blue">20- 50 lakhs</md-option>
                                    <md-option value="blue">more than 50 lakhs</md-option>
                                   
                                </md-select>
                                <div class="errors" ng-messages="myForm.favoriteColor.$error">
                                <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>
    
    </div>
   
</div>
