<!-- <div layout="column" layout-sm="column" layout-xs="column" class="bbsco md-whiteframe-2dp" style="background: #fff;">
  <div layout="column" layout-sm="column" layout-xs="column" flex >
   
    <div flex>
      <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
        <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
          <div flex="30" flex-sm="100" flex-xs="100" layout="colmun" >
            <div class="md-subhead">
              Product Detail
            </div>
          </div>
          <div flex="70" layout="colmun" flex-sm="100" flex-xs="100">
            <form name="suggestMeform" novalidate layout-fill>
              <md-input-container class="md-block">
                <label>Organisation Name</label>
                <input md-no-asterisk name="org_name" ng-model="suggestionRequest.org_name" required>
                <div ng-messages="suggestMeform.org_name.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Product</label>
                <input md-no-asterisk name="product" ng-model="suggestionRequest.product" required>
                <div ng-messages="suggestMeform.org_name.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
                </div>
              </md-input-container>
              <div class="md-body-2">
                  Describe your product, this will help us in innovating your ad campaign:
              </div>
              <textarea style="width:100%" ng-model="suggestionRequest.product_desc"></textarea>
              <div class="md-caption">
                  Tip: we launched a new car in the market that satisfies the middle class people, which also has a fuel effiency, modern sport design, 
              </div>
            </form>
          </div>
        </div>
      </div>
      <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
        <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
          <div flex="30" flex-sm="100" flex-xs="100" layout="colmun">
            <div class="md-subhead">
              Marketing objective
            </div>
          </div>
          <div flex="70" flex-sm="100" flex-xs="100">
            <div class="md-body-2" style="margin-bottom:15px">What is your goal to reach your market?</div>
         
            <div>
              <md-checkbox ng-model="suggestionRequest.market_reach.solution_to_problem" aria-label="Checkbox 1">
                Are you providing a solution for the current problem
              </md-checkbox>
            </div>
            <div>
              <md-checkbox ng-model="suggestionRequest.market_reach.cost_effective" aria-label="Checkbox 1">
                Are you providing cost effective 
              </md-checkbox>
            </div>
            <div>
              <md-checkbox ng-model="suggestionRequest.market_reach.brand_awareness" aria-label="Checkbox 1">
                To increase brand awareness or sales 
              </md-checkbox>
            </div>
            <div>
              <md-checkbox ng-model="suggestionRequest.market_reach.raise_market_value" aria-label="Checkbox 1">
                To increase market value 
              </md-checkbox>
            </div>
          </div>            
        </div>
      </div>
      <div layout="colmun"layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
        <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
          <div flex="30" flex-sm="100" flex-xs="100" layout="colmun">
            <div class="md-subhead">
              Advertising objective
            </div>
          </div>
          <div flex="70" flex-sm="100" flex-xs="100">
            <div class="md-body-2" style="margin-bottom:15px">What is the motive of the ad campaign?</div>
            <div>
              <md-checkbox ng-model="suggestionRequest.adv_objective.new_product" aria-label="Checkbox 1">
                To showcase a new product
              </md-checkbox>
            </div>
            <div>
              <md-checkbox ng-model="suggestionRequest.adv_objective.market_existing_product" aria-label="Checkbox 1">
                To market an existing product
              </md-checkbox>
            </div>
            <div>
              <md-checkbox ng-model="suggestionRequest.adv_objective.offer" aria-label="Checkbox 1">
                Any new offers or season specific offers 
              </md-checkbox>
            </div>
            <div class="medias">
              <div class="md-body-2" style="margin-bottom:15px">
                What is your preferred medium?
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.unipoles" aria-label="Checkbox 1">
                    Unipole
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.billboards" aria-label="Checkbox 1">
                    Billboards
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.bus_shelter" aria-label="Checkbox 1">
                    Bus shelter
                  </md-checkbox>
                </div>
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.metro_pillers" aria-label="Checkbox 1">
                    Metro pillars
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.center_mediums" aria-label="Checkbox 1">
                    Center mediums
                  </md-checkbox>
                </div>
                <div flex="35">
                  <md-checkbox ng-model="suggestionRequest.medium.digital_screens_metro" aria-label="Checkbox 1">
                    Digital screening in metro stations
                  </md-checkbox>
                </div>
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.smart_bins" aria-label="Checkbox 1">
                    Smart bins
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.retail" aria-label="Checkbox 1">
                    Retail
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.airport" aria-label="Checkbox 1">
                    Airport
                  </md-checkbox>
                </div>
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.medium.transit" aria-label="Checkbox 1">
                    Transit
                  </md-checkbox>
                </div>
              </div>
            </div>
            <div class="people">
              <div class="md-body-2" style="margin-bottom:15px">
                what is the ideal customer/target market for this ad campaign
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.it_people" aria-label="Checkbox 1">
                    IT people
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.students" aria-label="Checkbox 1">
                    Students
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.children" aria-label="Checkbox 1">
                    Children
                  </md-checkbox>
                </div>
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.logistics_transport" aria-label="Checkbox 1">
                    Logistics and transport 
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.manufacturers" aria-label="Checkbox 1">
                    Manufacturers
                  </md-checkbox>
                </div>
                <div flex="35">
                  <md-checkbox ng-model="suggestionRequest.target_audience.dealers" aria-label="Checkbox 1">
                    Dealers
                  </md-checkbox>
                </div>
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.cinema" aria-label="Checkbox 1">
                    Cinema
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.real_state" aria-label="Checkbox 1">
                    Real estate
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.target_audience.event_organizers" aria-label="Checkbox 1">
                    Event organizers
                  </md-checkbox>
                </div>
              </div>
        
            </div>
            <div class="Gender">
              <div class="md-body-2" style="margin-bottom:15px">
                Please specify the gender to the whom the ad is intended?
              </div>
              <div>
                <md-checkbox ng-model="suggestionRequest.gender_group.male" aria-label="Checkbox 1">
                  Male
                </md-checkbox>
              </div>
              <div>
                <md-checkbox ng-model="suggestionRequest.gender_group.female" aria-label="Checkbox 1">
                  Female
                </md-checkbox>
              </div>
              <div>
                <md-checkbox ng-model="suggestionRequest.gender_group.other" aria-label="Checkbox 1">
                  Others
                </md-checkbox>
              </div>
            </div>
            <div class="Age">
              <div class="md-body-2" style="margin-bottom:15px">
                What would be the age group of the people who are interested in this product
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.age_group.four_ten" aria-label="Checkbox 1">
                    4-10
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.age_group.ten_fifteen" aria-label="Checkbox 1">
                    10-15
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.age_group.fifteen_twentyfive" aria-label="Checkbox 1">
                    15-25
                  </md-checkbox>
                </div>
              </div>
              <div layout="row">
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.age_group.twentyfive_fourty" aria-label="Checkbox 1">
                    25-40
                  </md-checkbox>
                </div>
                <div flex="30">
                  <md-checkbox ng-model="suggestionRequest.age_group.fourty_above" aria-label="Checkbox 1">
                    40 and above
                  </md-checkbox>
                </div>                              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
        <div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
          <div flex="30" flex-sm="100" flex-xs="100" layout="colmun">
            <div class="md-subhead">
              Other Info
            </div>
          </div>
          <div flex="70" flex-sm="100" flex-xs="100" >
            <div class="md-body-2" style="margin-bottom:15px">
              What Geographic region will we be advertising to with this Ad campaign?
            </div>
            <textarea style="width:100%" ng-model="suggestionRequest.geo_region"></textarea>
            <div class="md-caption">
              Tip:I would to place my advertisements in Hyderabad and Bangalore cities and in these cities I would like to advertise in the commercial areas etc. 
            </div>
            <div class="prefer">
              <div class="md-body-2" style="margin-bottom:15px">
                Would you prefer your own design for your ad-campaign or would you want us to design it?
              </div>
              <md-input-container layout-fill> 
                <label>Select</label>
                <md-select name="ad_design" ng-model="suggestionRequest.ad_design" required>
                  <md-option value="client">My own</md-option>
                  <md-option value="bbi">You design it</md-option>
                </md-select>
                <div class="errors" ng-messages="suggestMeform.ad_design.$error">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
            <div class="duration">
              <div class="md-body-2" style="margin-bottom:15px">
                what would be your campaign duration?
              </div>
              <md-input-container  layout-fill> 
                <label>Select</label>
                <md-select name="duration" ng-model="suggestionRequest.duration" required>
                  <md-option value="15">15 days</md-option>
                  <md-option value="30">1 month</md-option>
                  <md-option value="60">2 month</md-option>
                  <md-option value="90">3 month</md-option>
                  <md-option value="180">6 month</md-option>
                  <md-option value="360">12 month</md-option>
                  <md-option value="360+">more than 12 months (specify)</md-option>
                </md-select>
                <div class="errors" ng-messages="suggestMeform.duration.$error">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
            <div class="adcamapgin">
              <div class="md-body-2" style="margin-bottom:15px">
                when would you like to start your ad campaign
              </div>
              <textarea style="width:100%" ng-model="suggestionRequest.start_end_date"></textarea>
              <div class="md-caption">
                Tip: In the first quarter of 2018. (OR) 14-jan-2018
              </div>
            </div>
            <div class="bugest">
              <div class="md-body-2" style="margin-bottom:15px">
                what would be your approximate budget for this campaign? 
              </div>
              <div class="caption">
                Tip:based on your budget we will strategically plan your ad campaign
              </div>
              <md-input-container  layout-fill> 
                <label>Select budget Range</label>
                <md-select name="est_budget" ng-model="suggestionRequest.est_budget" required>
                  <md-option value="below 1 lakh">below 1 lakh</md-option>
                  <md-option value="1-5 lakhs">1-5 lakhs</md-option>
                  <md-option value="5-10 lakhs">5-10 lakhs</md-option>
                  <md-option value="10-20 lakhs">10-20 lakhs</md-option>
                  <md-option value="20-50 lakhs">20- 50 lakhs</md-option>
                  <md-option value="more than 50 lakhs">more than 50 lakhs</md-option>    
                </md-select>
                <div class="errors" ng-messages="suggestMeform.est_budget.$error">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout="colmun" layout-margin flex-offset-gt-md="10" flex="80" flex-xs="100" flex-sm="100"flex-md="100" >
        <div layout="row" layout-sm="column" layout-xs="column"  flex layout-align="center center">
          <md-button md-no-ink class="md-raised md-primary" ng-click="sendSuggestionRequest($event)">
            Submit
          </md-button>
          <md-button md-no-ink class="md-raised md-warn" ng-click="resetSuggestionForm()">
            Reset
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div> -->


  <div id="form-container">
  
      <div class="page-header text-center">
          <!-- <h2>Suggest Campaign</h2> -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Product Detail</a>
              <a ui-sref-active="active" ui-sref=".interests"><span>2</span> Marketing objective</a>
              <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Advertising objective</a>
              <a ui-sref-active="active" ui-sref=".otherinfo"><span>4</span> Other Info</a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="suggest-views" ui-view></div>
      </form>
  
  </div>
  


