<div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" >
    <div flex="25" flex-sm="100" flex-xs="100" layout="colmun" >
        <h3 class="md-subhead">Product Detail</h3>
    </div>
    <div flex="70"  flex-sm="100" flex-xs="100">
        <form name="suggestMeform" novalidate layout-fill>
            <md-input-container class="md-block">
            <label>Organisation Name</label>
            <input md-no-asterisk name="org_name" ng-model="suggestionRequest.org_name" required>
            <div ng-messages="suggestMeform.org_name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
            </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>Product</label>
            <input md-no-asterisk name="product" ng-model="suggestionRequest.product" required>
            <div ng-messages="suggestMeform.org_name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
            </div>
            </md-input-container>
            <div class="md-body-2">
                Describe your product, this will help us in innovating your ad campaign:
            </div>
            <textarea style="width:100%;margin:10px 0 5px" ng-model="suggestionRequest.product_desc"></textarea>
            <div class="md-caption">
                Tip: we launched a new car in the market that satisfies the middle class people, which also has a fuel effiency, modern sport design, 
            </div>            
    <div class="form-group row pull-right">
        <a ui-sref="index.suggest.marketingobjects" class="btn btn-block btn-info">
            Next Section 
        </a>
    </div>
 </form>
    </div>
</div>

