<!-- <label>What's Your Console of Choice?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.type" value="xbox" checked>
           I like XBOX
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="ps">
            I like PS4
        </label>
    </div>
</div> -->

<div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
    <form name="suggestMeform" novalidate>
    <div flex="25" flex-sm="100" flex-xs="100" layout="colmun">
    <h3div class="md-subhead">Marketing objective</h3>
    </div>
    <div flex="70" flex-sm="100" flex-xs="100">
    <div class="md-body-2" style="margin-bottom:15px">What is your goal to reach your market?</div>
    
    <div>
        <md-checkbox ng-model="suggestionRequest.market_reach.solution_to_problem" aria-label="Checkbox 1">
        Are you providing a solution for the current problem
        </md-checkbox>
    </div>
    <div>
        <md-checkbox ng-model="suggestionRequest.market_reach.cost_effective" aria-label="Checkbox 1">
        Are you providing cost effective 
        </md-checkbox>
    </div>
    <div>
        <md-checkbox ng-model="suggestionRequest.market_reach.brand_awareness" aria-label="Checkbox 1">
        To increase brand awareness or sales 
        </md-checkbox>
    </div>
    <div>
        <md-checkbox ng-model="suggestionRequest.market_reach.raise_market_value" aria-label="Checkbox 1">
        To increase market value 
        </md-checkbox>
    </div>
    </div>
</form>           
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="index.suggest.productdetail" class="btn btn-block btn-info">
        Back Section 
        </a>
    </div>
    <div flex></div>
    <div class="col-xs-6 col-xs-offset-3 pull-right">
        <a class="btn btn-block btn-info" ng-click="goToAddAdvert($event)">
        Next Section 
        </a>
    </div>
    
</div>