 <div class="md-whiteframe-z2"  md-component-id="suggestMe">
    <!-- <div layout="row">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleSuggestMeSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div> -->
    <md-content layout-align="center center" layout-padding ng-if="!suggestMeRequestSent">
      <h3 class="md-headline">Don't think! Let me help you on your Campaign Needs.. </h3>
      <form name="suggestMeform" novalidate>
        <md-input-container class="md-block">
          <label>Organisation Name</label>
          <input md-no-asterisk name="org_name" ng-model="suggestionRequest.org_name" required>
          <div ng-messages="suggestMeform.org_name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Add your Organisation URL:</label>
          <input  md-no-asterisk name="org_url" ng-model="suggestionRequest.org_url">
          <!-- <div ng-messages="suggestMeform.org_url.$error">
            <div ng-message="required">This is required.</div>
          </div> -->
        </md-input-container>
        <md-input-container class="md-block">
          <label>Industry Sector</label>
          <md-select name="repeatSelect" id="repeatSelect" ng-model="suggestionRequest.industry_sector">
            <md-option ng-repeat="x in industrySectorList " value="{{x.name}}">{{x.name}}</md-option>
          </md-select >
        </md-input-container>
        <md-input-container class="md-block">
          <label>Estimated Budget</label>
          <input md-no-asterisk name="est_budget" ng-model="suggestionRequest.est_budget">
          <!-- <div ng-messages="suggestMeform.est_budget.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The Campaign Name must be less than 30 characters long.</div>
          </div> -->
        </md-input-container>
        
          <div layout="column" flex="100" class="saved-dates">
            <md-input-container>
              <md-datepicker ng-model="suggestionRequest.expected_start_date" md-min-date="newDate" name="expected_start_date" md-placeholder="Campaign Start" required></md-datepicker>
            <div ng-messages="suggestMeform.expected_start_date.$error">
            <div ng-message="required">start date is required.</div>
          </div>
            </md-input-container>
          </div>
          <div layout="column" flex="100" class="saved-dates">
            <md-input-container>
              <md-datepicker ng-model="suggestionRequest.expected_end_date" md-min-date="newDate" name="expected_end_date" md-placeholder="Campaign End" required></md-datepicker>
              <div ng-messages="suggestMeform.expected_end_date.$error">
                  <div ng-message="required">end date is required.</div>
                </div>
            </md-input-container>
          </div>
       
        <div layout="row" layout-margin>
          <md-button type="submit" class="md-raised md-warn" ng-click="sendSuggestionRequest($event)" layout-fill>SUGGEST ME</md-button>
        </div>
      </form>
    </md-content>
    <md-content layout-align="center center" layout-margin layout="column" style="top:10%" ng-if="suggestMeRequestSent">
      <img src="assets/images/core/congrats-star.png" width="150px" height="150px" alt="Congrats Star">
      <h3 class="md-display-1">Thanks !</h3>
      <h4 class="md-subhead" style="opacity:.5;text-align:center">We will work on your Campaign needs and get back soon to your registered e-mail address</h4>
    </md-content>
  </div>