 
<div layout="row" layout-sm="column" layout-xs="column" class="name-suggest" flex>
    <div flex="25" flex-sm="100" flex-xs="100" layout="colmun">
        <h3 class="md-subhead">Other Info</h3>
    </div>
    <div flex="70" flex-sm="100" flex-xs="100" >
    <div class="md-body-2" style="margin-bottom:15px">
        What Geographic region will we be advertising to with this Ad campaign?
    </div>
    <textarea style="width:100%" ng-model="suggestionRequest.geo_region"></textarea>
    <div class="md-caption">
        Tip:I would to place my advertisements in Hyderabad and Bangalore cities and in these cities I would like to advertise in the commercial areas etc. 
    </div>
    <div class="prefer">
        <div class="md-body-2" style="margin-bottom:15px">
        Would you prefer your own design for your ad-campaign or would you want us to design it?
        </div>
        <md-input-container layout-fill> 
        <label>Select</label>
        <md-select name="ad_design" ng-model="suggestionRequest.ad_design" required>
            <md-option value="client">My own</md-option>
            <md-option value="bbi">You design it</md-option>
        </md-select>
        <div class="errors" ng-messages="suggestMeform.ad_design.$error">
            <div ng-message="required">Required</div>
        </div>
        </md-input-container>
    </div>
    <div class="duration">
        <div class="md-body-2" style="margin-bottom:15px">
        what would be your campaign duration?
        </div>
        <md-input-container  layout-fill> 
        <label>Select</label>
        <md-select name="duration" ng-model="suggestionRequest.duration" required>
            <md-option value="15">15 days</md-option>
            <md-option value="30">1 month</md-option>
            <md-option value="60">2 month</md-option>
            <md-option value="90">3 month</md-option>
            <md-option value="180">6 month</md-option>
            <md-option value="360">12 month</md-option>
            <md-option value="360+">more than 12 months (specify)</md-option>
        </md-select>
        <div class="errors" ng-messages="suggestMeform.duration.$error">
            <div ng-message="required">Required</div>
        </div>
        </md-input-container>
    </div>
    <div class="adcamapgin">
        <div class="md-body-2" style="margin-bottom:15px">
        when would you like to start your ad campaign
        </div>
        <textarea style="width:100%" ng-model="suggestionRequest.start_end_date"></textarea>
        <div class="md-caption">
        Tip: In the first quarter of 2018. (OR) 14-jan-2018
        </div>
    </div>
    <div class="bugest">
        <div class="md-body-2" style="margin-bottom:15px">
        what would be your approximate budget for this campaign? 
        </div>
        <div class="caption">
        Tip:based on your budget we will strategically plan your ad campaign
        </div>
        <md-input-container  layout-fill> 
        <label>Select budget Range</label>
        <md-select name="est_budget" ng-model="suggestionRequest.est_budget" required>
            <md-option value="below 1 lakh">below 1 lakh</md-option>
            <md-option value="1-5 lakhs">1-5 lakhs</md-option>
            <md-option value="5-10 lakhs">5-10 lakhs</md-option>
            <md-option value="10-20 lakhs">10-20 lakhs</md-option>
            <md-option value="20-50 lakhs">20- 50 lakhs</md-option>
            <md-option value="more than 50 lakhs">more than 50 lakhs</md-option>    
        </md-select>
        <div class="errors" ng-messages="suggestMeform.est_budget.$error">
            <div ng-message="required">Required</div>
        </div>
        </md-input-container>
    </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-4">
        <a ui-sref="index.suggest.advertisingobjects" class="btn btn-block btn-info">
        Back Section </span>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-info" ng-click="ResetForm()">
        Reset 
        </a>
    </div>
    
    <div class="col-md-4 pull-right">
        <a ng-click="sendSuggestionRequest($event)" class="btn btn-block btn-info">
        Submit 
        </a>
    </div>
    
</div>
