<div ng-if="message" class="md-title mt-2 ml-5">{{message}}</div>
<div layout="column" ng-if = "!message && UserPaymentDetails.length > 0">
  <div class="md-whiteframe-2dp contbg md-caption" layout="row" layout-margin>
    <div class="ml-4 update" style="margin-top:38px;">
      <p class="first">Camapaign ID</p>
      <p class="md-caption second"><b>{{campaignDetails.cid}}</b></p>
    </div>
    <div class="update" style="margin-top:38px;">
      <p>Camapaign Name</p>
      <p class="md-caption"><b>{{campaignDetails.name}}</b></p>
    </div>
    <div class="update" style="margin-top:38px;">
      <p>No of Products</p>
      <p class="md-caption"><b>{{campaignDetails.product_count}}</b></p>
    </div>
    <div flex></div>
    <div>
      <md-list>
        <md-list-item style="padding:5px">
          <div>
            <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
              <span><i class="material-icons">
                  reply_all
                </i></span>
              <div class="md-caption">Share Camapaign</div>
            </md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div>
      <md-list>
        <md-list-item style="padding:5px">
          <div>
            <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
              <span><i class="material-icons">
                  file_copy
                </i></span>
              <div class="md-caption">Download Invoice</div>
            </md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <!-- <div class="disabled">
      <md-list>
        <md-list-item style="padding:5px">
          <div>
            <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0"
              ng-disabled="true">
              <span><i class="material-icons">
                  account_balance_wallet
                </i></span>
              <div class="md-caption">Payment Details</div>
            </md-button>
          </div>
        </md-list-item>
      </md-list>
    </div> -->


  </div>
  <div class="table-responsive">
    <table class="table ">
      <thead class="text_color">
        <tr>
          <th>Date</th>
          <th>Mode of Payment</th>
          <th>Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="contbg">
        <tr ng-repeat="Userpayment in campaignDetails.payment_details">
          <td>{{Userpayment.created_at}}</td>
          <td>NA</td>
          <td>NA</td>
          <td>NA</td>
        </tr>
        <!-- <tr>
          <td>14-08-2018</td>
          <td>through Left</td>
          <td>1,15,000.00</td>
          <td>21-09-2018, 9:00 Am</td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="d-flex bg-light mb-5" style="min-height:100px">
    <div class="p-2 col-md-6">
      <!-- <div class=" chat_box ">
        <ul class="p-0">
          <li class="mt-2"><span class="user_dec">U</span>My budget for this campain is 1,58,000. Can you please
            revision
            BB238 - Kothaguda hoarding price </li>
          <li class="mt-2"><span class="user_dec" style="background:#980000">BI</span>The product price is revised as
            requested</li>
        </ul>
        <form action="/action_page.php">
          <div class="form-group">
            <label for="text" class="text_color">Any questions, Please submit below</label>
            <textarea type="text" class="form-control" id="text" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div> -->
    </div>
    <div class="p-2  col-md-6 align-self-end" ng-if="UserPaymentDetails.status == 700 || UserPaymentDetails.status == 700">
      <div class="d-flex justify-content-end pt-4">
        <div layout="column" class="payment_inner">
          <div layout="row">
            <div class="md-body-1">Total :</div>
            <div class="md-body-1">12,58,000</div>
          </div>
          <div layout="row">
            <div class="md-body-1">paid:</div>
            <div class="md-body-1"> 58,000</div>
          </div>

          <div layout="row">
            <div class="md-title">Balance :</div>
            <div class="md-title">13,05,000</div>
          </div>
          <div layout="row">
            <input type="checkbox" />Request Executive to collect cash / cheque
          </div>
          <md-button class="md-raised md-primary">PAY ONLINE</md-button>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  var loadFile = function (event) {
    var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
  };
</script>