<!-- update payment pages-->
<md-dialog flex-xs="100" flex="50" flex-md="60" flex-sm="60">

  <md-dialog-content>

     <md-content class="md-padding">

      <div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
        <div> Fill below all feilds to Update Payement</div>
      </div>

      <form name="signin" novalidate="novalidate">
        <md-input-container class="md-block">
          <label>Amount</label>
          <input ng-model="user.email" name="amount" type="text" minlength="10" maxlength="30" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
          />

        </md-input-container>
        <md-input-container class="md-block">
          <label>Payment Mode</label>
          <input ng-model="user.password" type="text" name="Payment Mode" minlength="6" maxlength="20" required="required" />

        </md-input-container>

        <div layout="row" layout-xs="column">
          <div layout="column" layout-align="center start" layout-fill="layout-fill" flex="50" flex-xs="100" layout-align-xs="center center">
            <p> Forgot Password </p>
          </div>
          <div layout="column" layout-align="center end" layout-fill="layout-fill" flex="50" flex-xs="100" layout-align-xs="center center">

            <input type="file" fileread="vm.uploadme" />
          </div>
        </div>
        <md-input-container layout-align="center center" layout-fill="layout-fill" class="sinbtn">
          <md-button type="submit" layout-fill="layout-fill" class="md-raised  md-primary regbn">Submit</md-button>
        </md-input-container>

      </form>

    </md-content> 
    <!-- <md-content class="md-padding">

      <div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
        <h5> fill bellow all fields to upload Payment</h5>
      </div>
      <form name="payment" novalidate="novalidate">
        <md-input-container class="md-block">
          <label>Amount</label>
          <input ng-model="user.amount" name="amount" type="email" minlength="5" maxlength="10" required="required" onkeypress="if ((event.keyCode == 32) || (event.keyCode == 47) || (event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 45 || event.which > 57)) event.returnValue = false;"
          />

        </md-input-container>
        <md-input-container class="md-block">
          <label>payment Mode</label>
          <input ng-model="user.payment" type="text" name="password" minlength="6" maxlength="20" required="required" />

        </md-input-container>
        <div layout="row">
          <div layout="column" flex="50"></div>
          <div layout="column" layout-align="center end" class="recaptcham" flex="50" flex-xs="20">
            <md-button type="submit" layout-fill="layout-fill" class="md-raised  md-primary regbn">UploadImg</md-button>
          </div>
        </div>
        <md-input-container layout-align="center center" layout-fill="layout-fill" class="sinbtn">
          <md-button type="submit" layout-fill="layout-fill" class="md-raised  md-primary regbn">Submit</md-button>
        </md-input-container>
      </form>
    </md-content> -->
  </md-dialog-content>



</md-dialog>