<!-- share campaign sidenav -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="shareCampaignSidenav">
    <div layout="row">
      <div class="md-toolbar-tools">
        <div flex></div>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center" layout-margin layout-padding>
      <h3 class="md-headline">Share Campaign</h3>
      <form name="shareCampaignForm">
        <div layout="column">
          <md-input-container class="md-block">
            <label>Name</label>
            <input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required" />
            <div ng-messages="shareCampaignForm.name.$error">
              <div ng-message="required">Name is required.</div>
              <div ng-message="pattern">Enter a valid Name.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="shareCampaign.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
            <div ng-messages="shareCampaignForm.email.$error">
              <div ng-message="required">Email is required.</div>
              <div ng-message="pattern">Enter a valid Email Id.</div>
            </div>
          </md-input-container>
          <md-button class="md-raised md-warn all_button" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentOwnerShareCampaign)">Share
            Campaign</md-button>
        </div>
      </form>
    </md-content>
  </md-sidenav>
  <!-- share campaign sidenav ends -->
<!-- <div ng-if="message" class="md-title mt-2 ml-5">{{message}}</div> -->
<div layout="column">
  <div class="md-whiteframe-2dp contbg md-caption" layout="row" layout-margin>
    <div class="ml-4 update" style="margin-top:38px;">
      <p class="first">Campaign ID</p>
      <p class="md-caption second"><b>{{UserPaymentDetails.campaign_details.cid}}</b></p>
    </div>
    <div class="update" style="margin-top:38px;">
      <p>Campaign Name</p>
      <p class="md-caption"><b>{{UserPaymentDetails.campaign_details.name}}</b></p>
    </div>
    <div class="update" style="margin-top:38px;">
      <p>No of Products</p>
      <p class="md-caption"><b>{{UserPaymentDetails.campaign_details.no_of_products}}</b></p>
    </div>
    <div flex></div>
    <div>
      <md-list>
        <md-list-item style="padding:5px">
            <div style="margin-top:14px;cursor: pointer;">
             <div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="toggleShareCampaignSidenav(UserPaymentDetails.campaign_details.id)">
               <p class="md-caption"><span><i class="material-icons i_icon">
                     reply_all
                   </i></span></p>
               <p class="mob_spanicon share_icon">Share Campaign</p>
             </div>
           </div>
        </md-list-item>
      </md-list>
    </div>
    <div>
      <md-list>
        <md-list-item style="padding:5px">
          <div>
            <md-button class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
              <span><i class="material-icons">
                  file_copy
                </i></span>
              <div class="md-caption">Download Invoice</div>
            </md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table ">
      <thead class="text_color">
        <tr>
          <th>Date</th>
          <th>Mode of Payment</th>
          <th>Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="contbg">
        <tr ng-repeat="Userpayment in UserPaymentDetails.all_payments">
          <td>{{Userpayment.created_at}}</td>
          <td>{{Userpayment.type}}</td>
          <td>{{Userpayment.amount}}</td>
        </tr>
        <!-- <tr>
          <td>14-08-2018</td>
          <td>through Left</td>
          <td>1,15,000.00</td>
          <td>21-09-2018, 9:00 Am</td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="d-flex bg-light mb-5" style="min-height:100px">
    <div class="p-2 col-md-6">      
    </div>
    <div class="p-2  col-md-6 align-self-end">
        <!-- ng-if="UserPaymentDetails.status == 700 || UserPaymentDetails.status == 700" -->
      <div class="d-flex justify-content-end pt-4">
        <div layout="column" class="payment_inner">
          <div layout="row">
            <div class="md-body-1">Total :</div>
            <div class="md-body-1">{{UserPaymentDetails.campaign_details.total_amount}}</div>
          </div>
          <div layout="row">
            <div class="md-body-1">paid:</div>
            <div class="md-body-1"> &nbsp;&nbsp;{{UserPaymentDetails.total_paid}}</div>
          </div>

          <div layout="row">
            <div class="md-title">Balance :</div>
            <div class="md-title">{{balance}}</div>
          </div>
          <!-- <div layout="row">
            <input type="checkbox" />Request Executive to collect cash / cheque
          </div> -->
          <!-- <md-button class="md-raised md-primary">PAY ONLINE</md-button> -->
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  var loadFile = function (event) {
    var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
  };
  function addPayment() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
</script>