<!--userprofie page -->
<div class="profile-details md-whiteframe-3dp contbg"  layout-margin flex-offset-gt-sm="20"
	flex="60" flex-xs="100" flex-sm="100" style=" padding-bottom: 20px">
	<div class="profile_inner" layout="column" layout-xs="column"  flex="100" flex-xs="100" flex-sm="100">
		<div class="edit_profileuser">
			<div ng-if="userProfile.user.profile_pic" style="position:relative">
				<img ng-src="{{serverUrl + userProfile.user.profile_pic}}" alt="team" class="md-avatar profile__img center">
				
				<div type="file" ngf-select="uploadProfilePic()" ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="2MB" required>
					<md-icon class="edit__icon">
						<i class="material-icons" style="color:#fff;">mode_edit</i>
					</md-icon>
				</div>
					
			</div>
			<div ng-if="!userProfile.user.profile_pic" style="position:relative">
				<img src="assets/images/product/user_avatar.png" alt="team" class="md-avatar profile__img">
			
				<div type="file" ngf-select="uploadProfilePic()" ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="2MB" required>
					<md-icon class="edit__icon">
						<i class="material-icons" style="color:#fff;">mode_edit</i>
					</md-icon>
				</div>
			</div>
		</div>
		<div class="prof_name">
			<h3>{{userProfile.user.name}}</h3>
			<h4 class="md-caption email_phone"><span>Email: </span>{{userProfile.user.email}}</h4>
			<h4 class="md-caption email_phone"><span>Phone: </span>(+91) {{userProfile.user.phone}}</h4>
			
			                           
                         <h4 class="md-caption email_phone"><span>GST: </span>  

						<!-- <input type="text" class="" ng-model="user.gst" placeholder="GST" only-numeric
                                ng-if="myfield" style="width: 70px;padding: 8px 5px 2px 5px;" />
                            <span ng-click="myfield = true;" ng-show="!myfield" > 
							<i class="material-icons">edit</i></span>
									
								
                            <button
                                ng-click="myfield = false;changeCampaignProductPrice(campaignDetails.id, product.owner_price, product.id,product.product_id)"
                                ng-disabled="(product.owner_price > 0 && product.owner_price.length !== 0 ) ? false : true"
                                ng-show="myfield"
                                style="border: none;background: #44596D;color: #fff !important;padding: 3px 7px;margin-left: -3px;">
                                <i class="material-icons" style="color: #fff;">check</i></button>-->
								
                  
					</h4>
					
				                            
                          <h4 class="md-caption email_phone"><span>PAN: </span> 
						 <!-- <input type="text" class="md-caption email_phone" ng-model="user.pan" placeholder="PAN" 
                                ng-if="myfield" style="width: 70px;padding: 8px 5px 2px 5px;" />
                            <span ng-click="myfield = true;" ng-show="!myfield"> <i
                                    class="material-icons">edit</i></span>
                            <button
                                ng-click="myfield = false;changeCampaignProductPrice(campaignDetails.id, product.owner_price, product.id,product.product_id)"
                                ng-disabled="(product.owner_price > 0 && product.owner_price.length !== 0 ) ? false : true"
                                ng-show="myfield"
                                style="border: none;background: #44596D;color: #fff !important;padding: 3px 7px;margin-left: -3px;">
                                <i class="material-icons" style="color: #fff;">check</i></button>-->
								</h4>   
								
					<div class="button_leftlast">
                    <div class="dropdown">
                        <md-button onclick="shareOwnerCampaign()" class="dropbtn Upload_font hide-xs">
                            Edit
                        </md-button>
                        <div id="shareownercampDrop" class="dropdown-content contbg animated fadeInDown contant_drop" style="padding:10px; left:5px; width:400px;">
                            <form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
                                <div layout="colmun">
                                    <span flex></span>
                                    <md-button class="md-icon-button" aria-label="Close Side Panel"
                                        onclick="shareOwnerCampaign()">
                                        <md-icon class="md-default-theme">
                                            <i class="material-icons">close</i>
                                        </md-icon>
                                    </md-button>
                                </div>
                                <h3 class="md-title" style="margin-top:0px;margin-left: 11px;">Edit Details
                                <form name="shareCampaignForm">
                                    <div layout="column" style="padding:10px;">
                                        <div class="form-group">
                                            <input ng-model="userProfile.gst" class="form-control"
                                                name="gst" placeholder="GST" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <input ng-model="userProfile.pan" name="pan" class="form-control"
                                                placeholder="PAN" required="required" />
                                            
                                        </div>
                                        <div class="offset-md-7 col-md-5" style="padding-right: 0px;">
                                            <md-button class="md-raised md-warn Upload_font" layout-fill
                                                ng-click="updateProfile($event, userProfile)">
                                                Update</md-button>
                                        </div>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
		</div>
	</div>
	<!-- <div>{{userProfile.user.email}}</div>
	<div class="md-body-2" ng-if="userProfile.user.phone">
		<span></span>
		<md-icon>
			<i class="material-icons">call</i>
		</md-icon>
		<span>Phone:</span>(+91) {{userProfile.user.phone}}
	</div> -->
	<!-- <div class="md-body-2"><span></span>
		<md-icon><i class="material-icons">location_on</i></md-icon>
		<span>Addres:</span>
		<span>K67/68, Sonal Heavy Indl Est,
			<br> Kanchapadaramchandra Lane Extn, Banjara Hills</span>
	</div> -->
	<!-- horizontal start here  -->

	<md-divider></md-divider>
	<div class="md-whiteframe-4dp Campaigns__info" layout="column" flex-offset-gt-sm="5" flex="90" flex-xs="100" flex-sm="100">
		<h1>Campaigns Info</h1>
		<div layout-padding class="profile-icons">
			<md-list flex layout="row" layout-xs="column">
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">autorenew</i>
								</md-icon>
							</span>
							<div class="md-body-1">Running Campaigns</div>
							<h4>{{userProfile.running_campaigns_count}}</h4>
						</div>
					</div>
				</md-list-item>
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">lock_outline</i>
								</md-icon>
							</span>
							<div class="md-body-1">Closed Campaigns</div>
							<h4>{{userProfile.closed_campaigns_count}}</h4>
						</div>
					</div>
				</md-list-item>
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">search</i>
								</md-icon>
							</span>
							<div class="md-body-1"> Total Inventory</div>
							<h4>{{userProfile.product_count}}</h4>
						</div>
					</div>
				</md-list-item>
				<!-- <md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">card_travel</i>
								</md-icon>
							</span>
							<div class="md-body-1"> Invested </div>
							<h4>N/A</h4>

						</div>
					</div>
				</md-list-item> -->
			</md-list>
		</div>
	</div>

</div>
		
<script>
    function shareOwnerCampaign () {
        document.getElementById("shareownercampDrop").classList.toggle("show");
    }
</script>
