<style>
    .unReadNotifications {
        background-color: #f2f3f2;
    }
    </style>
<div layout="column" layout-padding>
    <p class="text_color md-title">Notifications</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="text_color">
                <tr>
                    <th>Details</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notifictaion in getUserNotifictaionss" ng-class ="{unReadNotifications : notifictaion.status == 0}">
                    <td class="table_vertical" >{{notifictaion.message }}</td>
                    <td class="table_vertical">
                        <a style="cursor:pointer;" ng-if="notifictaion.type == 'campaign'"
                        ng-click="updateNotifyStatus(notifictaion.campaign_id,notifictaion.id)">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                    </td>
                    <td class="table_vertical text-right text_color hide-xs">{{notifictaion.created_at | dateFormat}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>