<div layout="column" layout-sm="column" layout-xs="column" class="bbsco" ng-controller="userprofileCtrl" style="margin-top:64px;background: #fff;">
    <div layout="column" layout-align="center center" class="pricing-head">


    </div>
    <div class=" profile-details">

        <div layout="column" class="news-inner md-whiteframe-2dp contbg" layout-align="center center" layout-margin flex-offset-gt-sm="15"
            flex="70" flex-xs="100" flex-sm="100" style="margin-top: -70px">


            <div ><img src="assets/images/product/avatar.jpg" alt="team"></div>
            <div>Shiva Shankar Reddy</div>
            <div>Chalina.Williams@gmail.com</div>
            <div class="md-body-2"><span></span>
                <md-icon><i class="material-icons">call</i></md-icon><span>Phone:</span>(+91)9999999999</div>
            <div class="md-body-2"><span></span>
                <md-icon><i class="material-icons">location_on</i></md-icon>
                <span>Addres:</span>
                <span>K67/68, Sonal Heavy Indl Est, Kanchapadaramchandra Lane Extn, Banjara Hills</span>
            </div>

            <md-divider></md-divider>
            <div><h1>Campagin Profile</h1></div>
            <div layout="column">
                
            </div>

            <div class="fab-dail">
                <div class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-direction="up" class="md-fling">
                        <md-fab-trigger>
                            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                                <md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                                <md-icon aria-label="Facebook"><i class="material-icons">call</i></md-icon>
                            </md-button>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                                <md-icon aria-label="Facebook"><i class="material-icons">chat</i></md-icon>
                            </md-button>

                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>

        </div>
    </div>
</div>