<div layout="column">
	<div layout="row" layout-align="space-between center">
		<div layout="column" layout-padding>
			<h3 class="md-title text_color" style="padding-left:10px;">Payments</h3>
		</div>
		<!-- <div layout="column" layout-padding>
			<a ng-href="#/owner/{{clientSlug}}/update-payments" class="add_paymt_btn">Add new payment</a>
		</div> -->
		<div class="active-cyan-4 mr-2" style="width:20%;">
			<input class="form-control" ng-model="search" type="text" placeholder="Search" aria-label="Search">
		</div>
	</div>
	<div class="table-responsive"> 
		<table class="table table-hover">
				<thead class="text_color text-center">
				  <tr>
					<th>CID</th>
					<th>Campaign Name</th>
					<th>Paid</th>
					<th>Pending</th>
					<th>Total</th>
					<th>Action</th>
					<th></th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
					<tr	class="text-center" ng-repeat="payments in userPayments | filter:search"> 
					<td class="table_vertical">{{payments.cid}}</td>
					<td class="table_vertical">{{payments.name}}</td>
					<td class="table_vertical">{{payments.paid}}</td>
					<td class="table_vertical">{{payments.act_budget - payments.paid}}</td>
					<td class="table_vertical">{{payments.act_budget}}</td>
					<td class="table_vertical">
					  <a style="cursor:pointer;" ng-href="#/update-user-payments/{{payments.id}}">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td class="table_vertical"><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td class="table_vertical">21-09-2018, 9:00 Am</td>
				  </tr>
				  <!-- <tr>
					<td>BB283</td>
					<td>Uber Pvt Ltd</td>
					<td>55,800</td>
					<td>55,850</td>
					<td>55,800</td>
					<td>
					  <a style="cursor:pointer;" ng-click="">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td>21-09-2018, 9:00 Am</td>
				  </tr>
				  <tr>
					<td>BB283</td>
					<td>Uber Pvt Ltd</td>
					<td>55,800</td>
					<td>55,850</td>
					<td>55,800</td>
					<td>
					  <a style="cursor:pointer;" ng-click="">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td>21-09-2018, 9:00 Am</td>
				  </tr>
				  <tr>
					<td>BB283</td>
					<td>Uber Pvt Ltd</td>
					<td>55,800</td>
					<td>55,850</td>
					<td>55,800</td>
					<td>
					  <a style="cursor:pointer;" ng-click="">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td>21-09-2018, 9:00 Am</td>
				  </tr> -->
				</tbody>
			  </table>
	  </div>
</div>