<md-contant class="nopadding" >
	<div layout="row" layout-margin layout-wrap layout-align="center center">
	<md-card class="" style="margin-top: 6%">
  
  <img ng-src="assets/images/product/avatar.jpg" class="userImg" alt="image caption">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Card headline</span>
      <span class="md-subhead">Card subheader</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="start center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="icon">
        <md-icon md-svg-icon="icon"></md-icon>
      </md-button>
    </md-card-icon-actions>
  </md-card-actions>
  <md-divider md-inset ></md-divider>
  <md-card-content>
    <div layout="row" layout-margin layout-wrap layout-align="center center">
     <md-card flex> 
                <img ng-src="assets/images/product/user_avathar.png" class="md-card-img">
                <p> Running </p>
     </md-card>
     <md-card flex> 
      <img ng-src="assets/images/product/user_avathar.png" class="md-card-img">
                <p> Closed </p>
     </md-card>
     <md-card flex> 
      <img ng-src="assets/images/product/user_avathar.png" class="md-card-img">
                <p> No Of Boards </p>
     </md-card>
     <md-card flex> 
      <img ng-src="assets/images/product/user_avathar.png" class="md-avatar">
                <p> Invested </p>
     </md-card>
</div>
  </md-card-content>
</md-card>
</div>
</md-contant>