<!--userprofie page -->
<div class="profile-details md-whiteframe-3dp contbg"  layout-margin flex-offset-gt-sm="15"
	flex="70" flex-xs="100" flex-sm="100" style=" padding-bottom: 20px">
	<div class="profile_inner" layout="row" layout-xs="column" flex-offset-gt-sm="15" flex="70" flex-xs="100" flex-sm="100">
		<div>
			<div ng-if="userProfile.user.profile_pic">
				<img ng-src="{{serverUrl + userProfile.user.profile_pic}}" alt="team" class="md-avatar profile__img center">
			</div>
			<div ng-if="!userProfile.user.profile_pic">
				<img src="assets/images/product/user_avatar.png" alt="team" class="md-avatar profile__img">
			</div>
			<div style="position:relative">
				<div type="file" ngf-select="uploadProfilePic()" ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="2MB" required>
					<md-icon class="edit__icon" style="">
						<i class="material-icons" style="color:#fff;">mode_edit</i>
					</md-icon>
				</div>
			</div>
		</div>
		<div class="prof_name">
			<h3>{{userProfile.user.name}}</h3>
			<h4 class="md-caption"><span>Email:</span>{{userProfile.user.email}}</h4>
			<h4 class="md-caption"><span>Phone:</span>(+91) {{userProfile.user.phone}}</h4>
		</div>
	</div>
	<md-divider></md-divider>
	<div class="md-whiteframe-4dp Campaigns__info" layout="column" flex-offset-gt-sm="15" flex="70" flex-xs="100" flex-sm="100">
		<h1>Campaigns Info</h1>
		<div layout-padding class="profile-icons">
			<md-list flex layout="row" layout-xs="column">
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">autorenew</i>
								</md-icon>
							</span>
							<div class="md-body-1"> Running</div>
							<h4>{{userProfile.running_campaigns_count}}</h4>
						</div>
					</div>
				</md-list-item>
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">lock_outline</i>
								</md-icon>
							</span>
							<div class="md-body-1">Closed </div>
							<h4>{{userProfile.closed_campaigns_count}}</h4>
						</div>
					</div>
				</md-list-item>
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">search</i>
								</md-icon>
							</span>
							<div class="md-body-1"> No. of boards </div>
							<h4>{{userProfile.product_count}}</h4>
						</div>
					</div>
				</md-list-item>
				<md-list-item>
					<div>
						<div class="md-grid-item-content" style="text-align:center" layout="column" layout-xs="row" layout-margin>
							<span>
								<md-icon>
									<i class="material-icons">card_travel</i>
								</md-icon>
							</span>
							<div class="md-body-1"> Invested </div>
							<h4>N/A</h4>

						</div>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>
		

