<div layout="column">
	<div layout="row" layout-align="space-between center">
		<div layout="column" layout-padding>
			<h3 class="md-title text_color" style="padding-left:10px;">Payments</h3>
		</div>
		<!-- <div layout="column" layout-padding>
			<a ng-href="#/owner/{{clientSlug}}/update-payments" class="add_paymt_btn">Add new payment</a>
		</div> -->
		<div class="hide-xs active-cyan-4 mr-2" style="width:20%;">
			<input class="form-control" ng-model="search" type="text" placeholder="Search" aria-label="Search">
		</div>
	</div>
	<div class="table-responsive"> 
		<table class="table table-hover">
				<thead class="text_color">
				  <tr>
					<th>CID</th>
					<th>Campaign Name</th>
					<th class="text-center">Paid</th>
					<th class="text-center">Pending</th>
					<th class="text-center">Total</th>
					<th class="text-center">Action</th>
					<th></th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
					<tr	class="" ng-repeat="payments in userPayments | filter:search"  ng-if="payments.status > 500"> 
					<td class="table_vertical">{{payments.cid}}</td>
					<td class="table_vertical">{{payments.name}}</td>
					<td class="text-center table_vertical">{{payments.paid}}</td>
					<td class="text-center table_vertical">{{payments.act_budget - payments.paid}}</td>
					<td class="text-center table_vertical">{{payments.act_budget}}</td>
					<td class="text-center table_vertical">
					  <a style="cursor:pointer;" ng-href="#/update-user-payments/{{payments.id}}">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td class="text-center table_vertical">									
						<button type="button" class="btn btn-danger" ng-if="payments.paid == 0">Payment Alert</button>
						<!-- <button type="button" class="btn btn-warning" ng-if="(payments.act_budget - payments.paid) != payments.act_budget && (payments.act_budget - payments.paid)!=0">Partial Paid</button>									
						<button type="button" class="btn btn-success" ng-if="(payments.act_budget - payments.paid) == 0 && payments.paid!=0">Amount Paid</button> -->
					</td>
					<!-- <td class="table_vertical"><button type="button" class="btn btn-danger">Payment Alert</button></td> -->
					<td class="text-center table_vertical">{{payments.updated_at}}</td>
				  </tr>
				  <!-- <tr>
					<td>BB283</td>
					<td>Uber Pvt Ltd</td>
					<td>55,800</td>
					<td>55,850</td>
					<td>55,800</td>
					<td>
					  <a style="cursor:pointer;" ng-click="">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td>21-09-2018, 9:00 Am</td>
				  </tr>
				  <tr>
					<td>BB283</td>
					<td>Uber Pvt Ltd</td>
					<td>55,800</td>
					<td>55,850</td>
					<td>55,800</td>
					<td>
					  <a style="cursor:pointer;" ng-click="">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td>21-09-2018, 9:00 Am</td>
				  </tr>
				  <tr>
					<td>BB283</td>
					<td>Uber Pvt Ltd</td>
					<td>55,800</td>
					<td>55,850</td>
					<td>55,800</td>
					<td>
					  <a style="cursor:pointer;" ng-click="">
						  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
							<i class="material-icons">remove_red_eye</i>
						  </md-icon>
						</a>
					</td>
					<td><button type="button" class="btn btn-danger">Payment Alert</button></td>
					<td>21-09-2018, 9:00 Am</td>
				  </tr> -->
				</tbody>
			  </table>
	  </div>
</div>