
   <md-dialog flex-xs="100" flex="50" flex-md="60" flex-sm="60">
  
    <md-dialog-content>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/mOxwWCRaab4" frameborder="0" allowfullscreen></iframe>
    </md-dialog-content>

</md-dialog>     

<!-- <md-dialog flex="50">
    <md-dialog-content ng-show="formUnSubmit" ng-init="formUnSubmit = true">
        <div class="md-dialog-content">
            <form name="userProfile" method="post" ng-submit="addProfile()">
                <div layout="row">
                    <md-input-container flex="flex">
                        <label>Company Name</label>
                        <input ng-model="profile.companyName" type="text" />
                    </md-input-container>
                    <md-input-container flex="flex">
                        <label>User Name</label>
                        <input ng-model="profile.userName" type="text" />
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="flex">
                        <label>Phone No</label>
                        <input ng-model="profile.phoneNo" type="text" />
                    </md-input-container>
                    <md-input-container flex="flex">
                        <label>City </label>
                        <input ng-model="profile.cityName" type="text" />
                    </md-input-container>
                    <md-input-container flex="flex">
                        <label>Pin Code</label>
                        <input ng-model="profile.pinCode" type="text" />
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="profile.Addressgth" />
                </md-input-container>
                <div ng-hide="picFile" layout-margin="layout-margin">
                    <md-menu-item>
                        <md-button ngf-select="ngf-select" name="profileimage" ng-model="picFile" ngf-min-height="500" ngf-min-width="500" accept="image/*" ng-hide="tmpimage" ng-change="selectpick(picFile)" required="required">
                            <md-icon md-svg-icon="images/core/upload-cloud.svg" class="s48"> </md-icon>Select Picture</md-button>
                    </md-menu-item>
                </div>
                <div layout="row" ng-show="picFile">
                    <div flex="90"></div>
                    <div flex="10">
                        <md-button ng-click="picFile = null">
                            <md-icon md-svg-icon="images/core/cancel.svg"> </md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="column">
                    <div ngf-drop="ngf-drop" ng-model="picFile" ngf-pattern="image/*" ng-show="tmpimage" class="cropArea">
                        <img-crop image="picFile  | ngfDataUrl" change-on-fly="changeOnFly" area-min-size="10" result-image-format="image/png" result-image-quality="1" aspect-ratio="1.6" result-image-size="200" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
                    </div>
                    <div layout="row">
                        <md-button ng-show="tmpimage" type="button" ng-click="selectImage()" class="md-raised">OK</md-button>
                        <md-button ng-show="tmpimage" type="button" ng-click="cancelImage()" class="md-raised">Cancel</md-button>
                    </div>
                </div>
                <div layout="row" ng-show="cropImage" layout-align="center center"><img ng-src="{{cropImage}}" class="img-circle" /></div>
                <div layout="row" layout-align="center center">
                    <div>
                        <md-button ng-click="cancel()" class="md-raised">Cancel</md-button>
                    </div>
                    <div>
                        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-content ng-hide="formUnSubmit">
        <div layout="column" layout-align="center center">
            <h1 class="md-display-1">Successfully Submitted Your Product Request</h1>
            <p class="md-subhead">Your Product Will Be Approved BillBoardIndia Shortly</p>
            <P class="md-subhead">For More Detail Contact <a ng-href="mailto:info@billboardsindia.com">info@billboardsindia.com</a></P>
            <md-button ng-click="closeModule()" class="md-raised">Cancel</md-button>
        </div>
    </md-dialog-content>
</md-dialog> -->

<!-- <md-dialog flex="50">
    <md-toolbar class="md-whiteframe-3dp">
        <div class="md-toolbar-tools">
            <h2>Suggest Changes For Your Better Experien</h2><span flex="flex"></span>
            <md-button ng-click="cancel()" class="md-icon-button">
                <md-icon md-svg-src="images/core/close-button.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content >
        <form name="suggestion" ng-submit="suggestionSubmit()" novalidate="novalidate">
            <div layout="column" layout-padding="layout-padding" layout-margin="layout-margin">
                <md-input-container class="md-block">
                    <label>Product Campain Cost</label>
                    <textarea ng-model="suggestionContent" type="text" name="suggestionContent" required="required" md-maxlength="150" rows="5" md-select-on-focus="md-select-on-focus"></textarea>
                    <div ng-messages="suggestion.suggestionContent.$error">
                        <div ng-message="required">Product cost is required.</div>
                    </div>
                </md-input-container>
                <div ng-hide="picFile" layout-margin="layout-margin">
                    <md-menu-item>
                        <md-button type="file" aria-label="upload" ngf-select="ngf-select" accept="image/*" ngf-pattern="'image/*'" ng-model="picFile" ngf-max-height="1000" ngf-max-size="10MB" class="md-button">
                            <md-icon md-svg-icon="images/core/upload-cloud.svg" class="s48"></md-icon>Upload Hording Image</md-button>
                    </md-menu-item>
                </div>
                <div layout="row" ng-show="picFile">
                    <div flex="90"></div>
                    <div flex="10">
                        <md-button ng-click="picFile = null">
                            <md-icon md-svg-icon="images/core/cancel.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="row" ng-show="picFile"><img ng-show="suggestion.file.$valid" ngf-thumbnail="picFile" class="thumb" /></div>
                <md-input-container layout-align="center center">
                    <md-button type="submit" layout-fill="layout-fill" class="md-raised md-primary">Submit</md-button>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-content ng-hide="formUnSubmit">
        <div layout="column" layout-align="center center">
            <h1 class="md-display-1">Thanks For Your Valiable Fead Back</h1>
            <md-button ng-click="closeModule()" class="md-raised">Cancel</md-button>
        </div>
    </md-dialog-content>
</md-dialog> -->

