<!-- whyoutdoor page-->
<!-- <md-content>
  <div class="wod">
      <div layout="column" class="wodpagimg md-whiteframe-1dp"><img ng-src="assets/images/core/whyoutdoor1.jpg" alt="Banner one" class="md-card-image" width="100% " height="100%"/>
      </div>
      <div layout="column" class="wodcotainer md-whiteframe-2dp">
          <div layout="row" layout-xs="row" class="wodhead">
              <md-button aria-label="outdoor" class="md-fab md-primary" hide-sm>
                  <md-icon md-svg-src="assets/images/core/exit.svg"></md-icon>
              </md-button>
              <h1 flex-xs="75">WHY OUTDOOR ADVERTISING.</h1></div>
          <div class="wodheadcon">
              <p style="color:#000;opacity: 0.6;">In today's busy and fast-paced life, outdoor is perfect for reaching people on the go. Mostly people are spending less time at home, and as a result there is less chance to get exposed to traditional media like TV, radio, newspapers and magazines.</p>
          </div>
          <div class="wodmyadi">
              <h2 style="color:#000;opacity: 0.6;">BY ADVERTISING ON OUT-OF-HOME MEDIA YOU CAN:</h2>
              <div class="wodmyadicon" style="color:#000;opacity: 0.6;">
                  <p>Advertise your brand and maintain brand awareness cost-effectively.</p>
                  <p>Create a big Impact and reach audiences widely.</p>
                  <p>Target specific audiences and markets with high frequency - i.e., shoppers, business travelers, AB's, teens, store catchment areas.</p>
                  <p>Multiply the effect of other media, by reinforcing the message over a longer period.</p>
                  <p>Provide a 'path to purchase', converting brand awareness into consumer purchase behavior.</p><b>Branding > Make an impact > Reach Targeted Audience > Compliments > Sustained awareness</b></div>
              <div layout="column" class="wodmycadon ">
                  <div class="cadimgone">
                      <div layout="column"><img ng-src="assets/images/core/Branding.png" alt="SHOWCASE" class="md-card-image" /></div>
                  </div>
                  <h2 style="color:#980000;">BRANDING:</h2>
                  <p style="color:#000;opacity: 0.6;">You can't look past Outdoor for branding power that can be taken from the street right through to retail points-of-purchase.</p>
                  <p style="color:#000;opacity: 0.6;">It has been demonstrated that using a brand icon in an outdoor advertisement makes it 40% more memorable than not using a brand icon, and no other medium can turn a product or service into a brand as cost-effectively as Outdoor.</p>
                  <p style="color:#000;opacity: 0.6;">To get an idea of just how powerful Outdoor is at creating a brand, take a look at the Haka beer case study. Link</p>
              </div>
          </div>
      </div>
      <div layout="column" class="om omwod">
          <div layout="row" layout-sm="column" layout-xs="column" class="md-whiteframe-2dp omc">
              <div flex="25" flex-md="25" flex-sm="100" flex-xs="100" class="omso">
                  <div>Outdoor Media Insight</div>
              </div>
              <div flex="25" flex-md="25" flex-sm="100" flex-xs="100" layout="row" class="omsto">
                <img ng-src="assets/images/core/omi_img1.png" alt="SHOWCASE" class="md-card-image" />
                  <div flex-xs="50">
                      <div class="val">74%</div>
                      <div class="cont">of consumers see Billboards Everyday</div>
                  </div>
              </div>
              <div flex="35" flex-md="35" flex-sm="100" flex-xs="100" layout="row" layout-xs="row" class="omsom">
                <img ng-src="assets/images/core/omi_img2.png" alt="SHOWCASE" class="md-card-image" />
                  <div flex-xs="50" class="omsomOm">
                      <h1>Outdoor Media</h1>
                      <p>is the biggest driver of web traffic for your people</p>
                  </div>
              </div>
              <div flex="15" flex-md="15" flex-sm="15" flex-xs="100" class="omsh">
                <img ng-src="assets/images/core/omi_img3.png" alt="SHOWCASE" class="md-card-image" /></div>
          </div>
      </div>
  </div>

	<div class="keep_in_touch contbg" layout="column" layout-xs="column" >

		<div class="keep_in_touch_top" layout="column" layout-margin layout-align="center center">
			<h3 class="md-display-1">KEEP IN TOUCH</h3>
			<h4 class="md-subhead">Send us your brief from the contact form, or feel free to give us a call. 
				We look forward to working on your next advertising campaign together.</h4>
		</div>
		<div class="keep_in_touch_bottom" layout="row" layout-xs="column"  layout-sm="column">
			<div class="contsl" layout="column" flex="50" flex-sm="100" flex-xs="100"  layout-align-sm="center">
				<div class="contstS md-whiteframe-2dp" layout="column"  flex-offset-gt-sm="25" layout-margin >
					
					<div class="theme-text md-title"><md-icon><i class="material-icons theme-text">location_on</i></md-icon> Address</div>
					<div class="contsm">
						<div class="md-title">BBI Advertising Pvt Ltd.</div>
						<address class="md-subhead"> 
							People tech group building,<br/>
							Plot No.1, Whitefields <br/>
							Hitech City Road, Kondapur,<br/> 
							Hyderabad,Telangana 500084
						</address>
					</div>

					<div class="theme-text  md-title" ><md-icon><i class="material-icons theme-text">phone</i></md-icon>Contact Us</div>
					<div class="md-subhead">+91 9676107913</div>
					<div class="theme-text  md-title"> <md-icon><i class="material-icons theme-text">email</i></md-icon>Email Us </div>
					<div class="md-subhead">reach@billboardsindia.com</div>

				</div>

			</div>
			<div class="contsr" layout="column" layout-sm="column" flex="50" flex-sm="100" flex-xs="100"  layout-matgin layout-padding>
				<div layout="column" layout-sm="column" class="confor md-whiteframe-2dp">
					<form name="sendquery" novalidate>
						<input type="hidden" ng-model="query.type" value="3" />
						<md-input-container class="md-block">
							<label>Name</label>
							<input ng-model="query.name" name="queryname" required="required"  maxlength="30" />
							<div ng-messages="sendquery.queryname.$error">
								<div class="alret alert-danger" ng-message="required">Name is required.</div>
								<div ng-message="maxlength">Name shouldn't exede 30 characters. </div>
							</div>

						</md-input-container>
						<md-input-container class="md-block">
							<label> Email</label>
							<input ng-model="query.email" name="queryemail" type="email" maxlength="30" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
							/>
							<div ng-messages="sendquery.queryemail.$error">
							  <div class="alret alert-danger" ng-message="required">Email is required.</div>
							  <div ng-message="maxlength">username shouldn't exede 30 characters. </div>
							  <div ng-message="pattern">Enter a valied email</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Company Name</label>
							<input ng-model="query.companyName" />
						</md-input-container>
						<md-input-container class="md-block">
							<label>Message</label>
							<input ng-model="query.message" name="querymsg" minlength="10" maxlength="150" required="required"  />
							<div ng-messages="sendquery.querymsg.$error">
								<div class="alret alert-danger" ng-message="required">message is required.</div>
								<div ng-message="maxlength">message shouldn't exede 150 characters. </div>
								<div ng-message="minlength">message should be 10 characters</div>
							  </div>
						</md-input-container>
						<div class="forsubmCon">
							<md-button class="md-raised md-primary forsubm" ng-disabled="sendquery.$invalid" ng-click="sendQuery()">Send Message</md-button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</md-content> -->