<link rel="stylesheet" type="text/css" href="assets/css/owner-main.css" />
<!-- <<<<<<<<<<<<<<<<<<<<<<<New Code>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
<div layout="column" flex style="position:relative;min-height:100%;">
  <md-toolbar class="md-whiteframe-z1 contbg" style="position: fixed;">
    <div class="md-toolbar-tools owner_tool_bar" md-whiteframe="3">
      <md-button aria-label="menu" class="md-icon-button menubtn" ng-click="toggleAdminLeftSidenav()" hide-gt-md>
        <md-icon md-svg-icon="assets/images/menu_24px.svg"> </md-icon>
      </md-button>
      <md-button aria-label="logo" class="md-icon bill_img">
        <img class="png-icon logo_image" src="assets/images/logoamerica.png" alt="images">
      </md-button>
      <span flex></span>

      <div class="profile_details_left">
        <!--notifications of menu start -->
        <ul class="nofitications-dropdown">
          <li class="dropdown head-dpdn"> <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                class="fa fa-bell"></i><span class="badge blue"id="notification-count">0</span></a>
            <ul class="dropdown-menu arrrow_box animated fadeInDown mt-5" style="margin-left: -150px;
            margin-top: 67px !important;">
              <li>
                <div class="notification_header">
                  <h3 class="text_color">You have <span id="notification1-count">0</span> new notification</h3>
                </div>
              </li>
              <li id="notification-id-0"></li>
              <li id="notification-id-1"></li>
              <li id="notification-id-2"></li>
             <!-- <li ng-repeat="notif in ownerNotifs" ng-click="viewNotification(notif)">
                <div class="notification_desc pl-3">
                  <p>{{notif.message}}</p>
                  <p><span>{{notif.updated_at | dateify:'DD-MM-YYYY hh:mm:ss a'}}</span></p>
                </div>
                <div class="clearfix"></div>
              </li>-->
              <div class="notification_bottom"> <a ng-href="#/admin/admin-notifications">See all notifications</a>
              </div>
          </li>
        </ul>
        </li>

        <li class="dropdown head-dpdn">
          <a class="dropdown-toggle saved_campaign" data-toggle="dropdown" aria-expanded="false">{{loggedInUser.firstName.slice(0,1)}}

          <ul class="dropdown-menu drp-mnu pl-4 animated fadeIn delay-.5s" >
            <li> <a ng-href="#/profile">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</a> </li>
            <!-- <li> <a ng-href="#/owner/{{clientSlug}}/campaigns"> Campaigns</a> </li>
            <li> <a ng-href="#/payments"> Payments</a> </li> -->
            <li> <a ng-href="#/reset_password"> Change Password</a> </li>
            <!-- <li> <a ng-href="#/location"> Switch to Map view</a> </li> -->
            <!-- <li> <a ng-href="#"> Team</a> </li> -->
            <li> <a ng-click="logout()" class="logout_color"> Logout</a> </li>
          </ul>

        </li>
        </ul>
        <div class="clearfix"> </div>
      </div>
    </div>
  </md-toolbar>
  <!-- // toolbar -->
  <div layout="row" flex style="position:relative;">
     <!-- sidenav start -->
    <md-sidenav class="md-sidenav-left owner__sidenav  md-whiteframe-z2" md-component-id="adminLeftSidenav"
      md-is-locked-open="$mdMedia('gt-sm')" style="width: 180px;background: #44596D !important;height:100vh;position: fixed;margin-top: 65px;">
      <md-content class="sidenav-content scrollbar__style" style="background: #44596D !important">
        <div style="width: 100% !important;">
          <md-list class="owners-menu">
              <md-menu-item flex layout="column">
                <md-button class="side_navlist" ng-href="#/admin/home" ng-class="{'active-link': currStateName == 'admin.home'}" ng-click="closeMenuSidenavIfMobile()">
                  To-Do List
                </md-button>
              </md-menu-item>
              <!-- campagin start -->
              <md-menu-item flex layout="column">
                <md-button aria-expanded="flase" ng-click="toogelCampagin()" class="md-button-toggle">
                  <div layout="row">
                    <span style="color:#fff">Campaigns</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showLocation"></md-icon>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showLocation"></md-icon>
                    </span>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showCampagin">
                <md-button class="side_navlist" ng-href="#/admin/campaigns" ng-class="{'active-link': currStateName == 'admin.campaign'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                  <div layout="row">
                    <span flex="15"></span>
                    User OOH </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showCampagin">
                <md-button class="side_navlist" ng-href="#/admin/admin-campaigns" ng-class="{'active-link': currStateName == 'admin.admincampaign'}" ng-click="closeMenuSidenavIfMobile()">
                  <div layout="row">
                    <span flex="15"></span>
                    Admin OOH </div>
                </md-button>
              </md-menu-item>
              <!-- <md-menu-item flex layout="column" ng-show="showCampagin">
                <md-button class="side_navlist" ng-href="#/admin/metro-campaigns">
                  <div layout="row">
                    <span flex="15"></span>
                    Metro Campaign</div>
                </md-button>
              </md-menu-item> -->
              <!--campagin end-->
              <!-- listed of locations-->
              <md-menu-item flex layout="column">
                <md-button class="side_navlist" ng-href="#admin/locations" ng-class="{'active-link': currStateName == 'admin.locations'}" ng-click="closeMenuSidenavIfMobile()">
                  Location
                </md-button>
              </md-menu-item>
              <!--inventory list -->
              <md-menu-item flex layout="column">
                <md-button aria-expanded="flase" ng-click="toogelMenu()" class="md-button-toggle">
                  <div layout="row">
                    <span style="color:#fff">Inventory</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showFormats"></md-icon>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showFormats"></md-icon>
                    </span>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#/admin/hoarding-list" ng-class="{'active-link': currStateName == 'admin.hoarding-list'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                <div layout="row">
                <span flex="15"></span>
                Inventory List
                </div>
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/hoarding-list">
                <div layout="row">
                  <span flex="15"></span>
                  Metro</div>
              </md-button>
            </md-menu-item> -->
            <!-- <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/hoarding-list">
                <div layout="row">
                  <span flex="15"></span>
                  Airport</div>
              </md-button>
            </md-menu-item> -->
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/formats" ng-class="{'active-link': currStateName == 'admin.formats'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                <div layout="row">
                  <span flex="15"></span>
                  OOH Formats</div>
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/metro-formats">
                <div layout="row">
                  <span flex="15"></span>
                  Metro Formats</div>
              </md-button>
            </md-menu-item> -->
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#/admin/requested-hoardings" ng-class="{'active-link': currStateName == 'admin.requested-hoardings'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                <div layout="row">
                <span flex="15"></span>
                Requested Inventory
                </div>
              </md-button>
            </md-menu-item>
            <!--inventory list end-->
            <!-- <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/metro-packages" ng-class="{'active-link': currStateName == 'admin.metro-packages'}"
                ng-click="closeMenuSidenavIfMobile()">
                Metro Packages
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/metro-corridors" ng-class="{'active-link': currStateName == 'admin.metro-corridors'}"
                ng-click="closeMenuSidenavIfMobile()">
                Metro Corridors
              </md-button>
            </md-menu-item> -->
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/user-management" ng-class="{'active-link': currStateName == 'admin.user-management'}"
                ng-click="closeMenuSidenavIfMobile()">
                User Management
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/companies" ng-class="{'active-link': currStateName == 'admin.companies'}"
                ng-click="closeMenuSidenavIfMobile()">
                Companies
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/callcenterinfo" ng-class="{'active-link': currStateName == 'admin.callcenterinfo'}"
                ng-click="closeMenuSidenavIfMobile()">
                Call Center info
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/subscribers" ng-class="{'active-link': currStateName == 'admin.subscribers'}"
                ng-click="closeMenuSidenavIfMobile()">
                Subscribers
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/floating-campaign" ng-class="{'active-link': currStateName == 'admin.floating-campaign'}"
                ng-click="closeMenuSidenavIfMobile()">
                Floating Campaign
              </md-button>
            </md-menu-item> -->
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/paid-payment" ng-class="{'active-link': currStateName == 'admin.paid-payment'}"
                ng-click="closeMenuSidenavIfMobile()">
                Payments
              </md-button>
            </md-menu-item>
            <!-- Do Not Delet this Code --------------------------------------------------------------------------------------------------------->

            <!-- <md-menu-item flex layout="column">
                <md-button aria-expanded="flase" ng-click="toogelPayments()" class="md-button-toggle">
                  <div layout="row">
                    <span style="color:#fff">Payments</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showPayments"></md-icon>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showPayments"></md-icon>
                    </span>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showPayments">
                <md-button class="side_navlist" ng-href="#/admin/paid-payment" ng-class="{'active-link': currStateName == 'admin.paid-payment'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                  <div layout="row">
                    <span flex="15"></span>
                    Paid </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showPayments">
                <md-button class="side_navlist" ng-href="#/admin/received-payment" ng-class="{'active-link': currStateName == 'admin.received-payment'}" ng-click="closeMenuSidenavIfMobile()">
                  <div layout="row">
                    <span flex="15"></span>
                    Received </div>
                </md-button>
              </md-menu-item> -->

              <!-- Do Not Delet this Code --------------------------------------------------------------------------------------------------------->
              
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/admin-feeds" ng-class="{'active-link': currStateName == 'admin.admin-feeds'}"
                ng-click="closeMenuSidenavIfMobile()">
                FeedBack
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/productfull-details" ng-class="{'active-link': currStateName == 'admin.productfull-details'}"
                ng-click="closeMenuSidenavIfMobile()">
                Team
              </md-button>
            </md-menu-item> -->
          </md-list>
        </div>
      </md-content>
    </md-sidenav>
     <!-- //sidenav start -->
    <!-- main content -->
    <ui-view class="main_view" flex></ui-view>
    <!-- //main content -->
    <!-- footer content -->
    <div layout="column" layout-align="center center" style="position:absolute; bottom: 0px;width: 100%;background: #CCC">
      <div style="padding: 5px 0;">Powered by BBI Advertising Pvt Ltd</div>
    </div>
    <!-- //footer content -->
  </div>
</div>
<script>
        var i = 1;
        var user = localStorage.getItem("loggedInUser");
        var parsedData = JSON.parse(user);
        var user_type = parsedData.user_type;
        if (user_type == 'bbi') {
            var user_id = '-superAdmin';
        } else if (user_type == 'basic') {
            var user_id = parsedData.user_id;
        } else if (user_type == 'owner') {
            var user_id = '-' + parsedData.mong_id;
        }
        var arrayText = [];
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('c8b414b2b7d7c918a011', {
            cluster: 'ap2',
            forceTLS: true
        });
        var channel = pusher.subscribe('CampaignLaunch' + user_id);
        var channel1 = pusher.subscribe('campaignClosed' + user_id);
        var channel2 = pusher.subscribe('CampaignLaunchRequested' + user_id);
        var channel3 = pusher.subscribe('CampaignQuoteProvided' + user_id);
        var channel4 = pusher.subscribe('CampaignQuoteRequested' + user_id);
        var channel5 = pusher.subscribe('CampaignQuoteRevision' + user_id);
        var channel6 = pusher.subscribe('CampaignSuggestionRequest' + user_id);
        var channel7 = pusher.subscribe('CampaignSuspended' + user_id);
        var channel8 = pusher.subscribe('ProductApproved' + user_id);
        var channel9 = pusher.subscribe('ProductRequested' + user_id);
        var channel10 = pusher.subscribe('metroCampaignClosed' + user_id);
        var channel11 = pusher.subscribe('metroCampaignLaunched' + user_id);
        var channel12 = pusher.subscribe('metroCampignLocked' + user_id);

        channel.bind('CampaignLaunchEvent', function (data) {
            arrayText.push(data);
            /* $('#notification-count').html(arrayText.length);
             $('#notification1-count').html(arrayText.length);*/
            notificationText(arrayText);

        });
        channel1.bind('campaignClosedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel2.bind('CampaignLaunchRequestedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel3.bind('CampaignQuoteProvidedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel4.bind('CampaignQuoteRequestedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel5.bind('CampaignQuoteRevisionEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText)
        });
        channel6.bind('CampaignSuggestionRequestEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel7.bind('CampaignSuspendedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel8.bind('ProductApprovedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel9.bind('ProductRequestedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel10.bind('metroCampaignClosedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel11.bind('metroCampaignLaunchedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });
        channel12.bind('metroCampignLockedEvent', function (data) {
            arrayText.push(data);
            notificationText(arrayText);
        });

        function notificationText(arrayText) {
            $('#notification-count').html(arrayText.length);
            $('#notification1-count').html(arrayText.length);
            arrayText.forEach(function (element) {
                var j = i % 3;
                $('#notification-id-' + j).html('<div class ="notification_desc md-whiteframe-2dp pl-3"><p>' + element.desc + '</p></div>');
                i++;
            });
        }
    </script>