<link rel="stylesheet" type="text/css" href="assets/css/main.css" />

<div  layout="column" style="position:relative;min-height:100%;">
  <md-toolbar class="md-menu-toolbar header md-whiteframe-2dp">
    <div class="md-toolbar-tools">
      <md-button ng-click="closeSidenav()" ng-if="hidelocations" aria-label="menu" show-sm hide-xs hide-gt-sm class="md-icon-button">
        <md-icon md-svg-icon="assets/images/core/menu.svg"> </md-icon>
      </md-button>
       <md-button aria-label="locations" href="#/" md-no-ink class="logo" style="margin-left:2.5%">
         <img ng-src="assets/images/product/billboards.png"  class="logo-img"> 
      </md-button> 
        <!-- <md-button aria-label="locations" href="#/" md-no-ink style="background:transparent" class="logo">
          <img ng-src="assets/images/menu/orgnl.png" width="160" >
        </md-button> -->
      <span flex class=""></span>
      <md-menu-bar class="main-menu">
        <md-button aria-label="whyoutdoor" ng-click="whatwedo()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn what-we">what we do</md-button>
        <md-button aria-label="formats" ng-click="formate()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">our services</md-button>
        <md-button aria-label="locations" ng-click="whyOutdoor()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">why outdoor</md-button>
        <md-button aria-label="about" ng-click="contactus()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">contact</md-button>
        <!-- <md-button aria-label="pricing" href="#/pricing">pricing</md-button> --> 
        <!-- browse-->
        <md-button hide-xs aria-label="location" class="browse-btn" ng-href="#/location" ng-show="isAuthenticated && !footerhide">
          <!-- <a  style="padding:10px 0px;text-decoration:none;"> -->
            Browse BillBoards</a>
        </md-button>
        <!--sugg -->
        <md-button hide-xs aria-label="location" ng-if="footerhide && isAuthenticated" ng-href="#/suggest/productdetail">
          suggest me
        </md-button>
         <!--search button -->
        <md-button aria-label="notifications" class="md-icon-button search-btn" ng-click="" ng-show="isAuthenticated" hide-gt-xs>
          <md-icon><i class="material-icons">search</i></md-icon>
        </md-button>
        <!--notification button -->
        <md-button aria-label="notifications" class="md-icon-button notiftn-btn" ng-click="closeSideNavPanel()" ng-show="isAuthenticated">
          <md-icon><i class="material-icons">notifications</i></md-icon>
        </md-button>
        <!-- profile button start-->
        <md-menu ng-show="isAuthenticated" class="profile-menu">
 
          <md-button class="md-secondary md-mini md-button profile-img" type="button" ng-transclude="" aria-label="personimage" ng-click="$mdOpenMenu($event)" >
              <img ng-if="!loggedInUser.profile_pic" ng-src="assets/images/man.png" class="md-avatar ng-scope" style="margin: 4px 0 0 0;">
              <img ng-if="loggedInUser.profile_pic" ng-src="{{serverUrl + loggedInUser.profile_pic}}" class="md-avatar ng-scope" style="margin: 4px 0 0 0; width:32px;height:32px;">
          </md-button>
          <md-menu-content width="3" style="z-index:99">
            <md-menu-item>
              <md-button ng-href="#/profile">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</md-button>
            </md-menu-item>
            <md-menu-item ng-if="isUserBasic()">
              <md-button aria-label="campagins" ng-href="#/campaigns">Campaigns</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/reset_password">Reset Password</md-button>
            </md-menu-item>
            <md-menu-item ng-if="!isUserBasic()">
              <md-button ng-click="switchView()">Switch View</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="logout()">Sign Out</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <!-- profile button end-->
   
        <md-button aria-label="location" class=" md-primary md-raised" ng-click="showSignInDialog($event)" ng-show="!isAuthenticated" style="color:#fff !important">
          BOOK NOW
        </md-button>

      </md-menu-bar>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left" hide-gt-sm>
    <header layout="column" layout-padding layout-margin>
      <a ng-href="#/"><img ng-src="assets/images/core/billboards1.png" style="margin-top:15px"></a>
    </header>
    <md-content flex layout="column" role="navigation">
      <md-menu-item flex layout="column">
        <md-button  ng-click="whatwedo()">WHAT WE DO</md-button>
      </md-menu-item>

      <md-menu-item flex layout="column">
        <md-button ng-click="formate()">FORMATS</md-button>
      </md-menu-item>
      <md-menu-item flex layout="column">
        <md-button ng-click="whyOutdoor()">WHY OUTDOOR</md-button>
      </md-menu-item>
      <md-menu-item flex layout="column">
        <md-button ng-click="contactus()">CONTACT</md-button>
      </md-menu-item>
      <!-- <md-menu-item flex layout="column">
        <md-button href="#/pricing">PRICING</md-button>
      </md-menu-item> -->

  </md-sidenav>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 notofication-sidnav" id="Notification" md-component-id="right">
    <md-content>
      <ul style="padding:0px;margin:0px">
        <li>
          <div class="notification_header">
            <h3>You have {{notifs.length}} new notification<span style="margin: 0 0 0 40px;">
              <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                <md-icon class="md-default-theme" ><i class="material-icons" style="font-size:18px">close</i></md-icon>
            </md-button>
            
            <div class="clearfix"></div>
          </div>
        </li>
        <li ng-repeat="notif in notifs" style="border-bottom:1px solid #bbbbbb; padding-left:8px;" ng-class="{'unread-notif' : notif.status == 0, 'read-notif' : notif.status == 1}">
          <a ng-click="viewNotification(notif)" style="cursor:pointer;text-decoration:none;">
            <div class="notification_desc">
              <p>{{ notif.desc }}</p>
              <p><span>{{ notif.message }}</span></p>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <!-- <li style="    position: fixed;bottom: 0px;width: 100%;">
            <div class="notification_bottom"> <a href="#">See all notifications</a> </div>
        </li> -->
      </ul>
      <!-- <div ng-repeat="notif in notifs" style="border-bottom:1px solid #bbbbbb; padding-left:8px;" 
      ng-class="{'unread-notif' : notif.status == 0, 'read-notif' : notif.status == 1}">
        <a ng-click="showCampaignDetails(notif.id)" style="cursor:pointer;text-decoration:none;">
          <h4 style="margin-top:0px;padding-top:15px;">{{ notif.desc }}</h4>
          <p>{{ notif.message }}</p>
        </a>
      </div> -->
    </md-content>
  </md-sidenav>
 
  <!-- Content section-->
  <!-- <div ui-view ng-cloak></div> -->
  <ui-view>

  </ui-view>

  <!-- Footer Section-->
  <footer style="position:absolute; bottom: -45px;width: 100%;">
    <div  hide-xs show-gt-xs layout="row" layout-sm="column" align="center center" class="footmain" ng-if="!footerhide">
      <div flex="50" flex-md="50" flex-sm="100" flex-xs="100"   layout-align-sm="center center" layout-sm="row" class="footer_social_icons">
        <div class="" style="margin-left:5%">
          <md-button class="md-icon-button fabicon" aria-label="facebook" href="https://www.facebook.com/billboardsind/?fref=ts" target="_blank">
            <md-icon md-svg-src="assets/images/icons/facebook.svg" class="fab-icon"></md-icon>
          </md-button>

          <md-button class="md-icon-button  fabicon" aria-label="instagram" href="https://www.instagram.com/billboards_india/" target="_blank">
            <md-icon md-svg-src="assets/images/icons/instagram.svg"></md-icon>
          </md-button>

          <md-button class="md-icon-button  fabicon" aria-label="linkedin" href="https://www.linkedin.com/company/13259222/" target="_blank">
            <md-icon md-svg-src="assets/images/icons/linkedin.svg"></md-icon>
          </md-button>

          <md-button class="md-icon-button  fabicon" aria-label="twitter" href="https://twitter.com/billboardsindia" target="_blank">
            <md-icon md-svg-src="assets/images/icons/twitter-letter-logo.svg"></md-icon>
          </md-button>
        </div>
      </div>
      <div flex="50" flex-md="50" flex-sm="100" flex-xs="100" layout-align-sm="center center" layout-align="center end" layout-xs="column"
        layout="column">
        <p class="md-body-2 text">BBI Advertising pvt Ltd @Copyrights 2018. All rights reserved.</p>
      </div>
    </div> 
  </footer>
 
</div>

