
<div layout="column" style="position:relative;min-height:100%;">
    <!-- main nav section-->
    <a id="myBtn" class="move-top text-center"></a>

    <header class="main__header">
        <nav class="air_d_header air_d_2019">
            <div class="aire_d_bar">
                <div class="aire_d_bar_inner">
                    <button class="menu_toggler mobile_btn d-block d-sm-block d-md-block d-lg-none d-xl-none"
                        id="mobileBtn">
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                    <!-- <button class="mobile_btn_close d-block d-sm-block d-md-block d-lg-none d-xl-none" id="closeBtn">
                        <span><i class="fas fa-times"></i></span>
                    </button> -->
                    <a href="#/home" class="air_d_logo">
                        <img src="assets/images/logoamerica.png" alt="logo" width="140px" />
                    </a>
                </div>
                <div class="aire_d_sub">
                    <ul class="air_d__sub-nav air_main_menu d-none d-sm-none d-md-none d-lg-block d-xl-block ">
                        <li class="s-depth1-wrap"><a ng-href="#/aboutbbi" ng-if="!footerhide"
                                class="s-btn-toggler">about bba</a></li>
                        <li class="s-depth1-wrap"><a ng-href="#/ourproduct" ng-if="!footerhide"
                                class="s-btn-toggler">our product</a></li>
                        <li class="s-depth1-wrap"><a ng-href="#/faq" ng-if="!footerhide" class="s-btn-toggler">faq's</a>
                        </li>
                        <li class="s-depth1-wrap"
                            ng-show="isAuthenticated && loggedInUser.user_role=='basic' && currStateName != 'index.suggest.product-detail'">
                            <a ng-href="#/suggest/product-detail" class="s-btn-toggler">Request Me</a></li>
                        <li class="s-depth1-wrap" ng-show="!isAuthenticated"><a ng-click="showSignInDialog($event)"
                                style="color: #fff">Request Me</a></li>
                        <li class="s-depth1-wrap"
                            ng-show="isAuthenticated && currStateName != 'index.location' && loggedInUser.user_role!='bbi'">
                            <a ng-href="#/location" class="s-btn-toggler">roadside</a></li>
                        <!-- <li class="s-depth1-wrap" ng-show="!isAuthenticated"><a ng-click="showSignInDialog($event)" class="metro_btn">Metro</a></li>
                        <li class="s-depth1-wrap" ng-show="isAuthenticated && currStateName != 'index.metro'&& loggedInUser.user_role!='bbi'"><a ng-href="#/metro" class="s-btn-toggler">Metro</a></li> -->
                        <li class="s-depth1-wrap" ng-show="!isAuthenticated" style=" margin-left:10px;">
                            <a ng-click="showSignInDialog($event)" class="s-btn-toggler login_btn">login</a>
                        </li>
                    </ul>
                    <ul class="air_d__sub-nav air_main_menu d-block d-sm-block d-md-block d-lg-none d-xl-none "
                        style="margin-right:10px">
                        <li class="s-depth1-wrap" ng-show="!isAuthenticated"><a ng-click="showSignInDialog($event)"
                                class="metro_btn">Metro</a></li>
                        <li class="s-depth1-wrap mobile_login_btn" ng-show="!isAuthenticated"
                            style=" margin-left:10px;">
                            <a ng-click="showSignInDialog($event)" class="s-btn-toggler login_btn">login</a>
                        </li>
                    </ul>
                    <ul class="air_d__utility" ng-if="isAuthenticated">

                        <div class="dropdown s_login">
                            <button type="button" class=" saved_campaign dropdown-toggle d-none d-sm-block"
                                data-toggle="dropdown">
                                Saved Campaign ({{userSavedCampaigns.length}})
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" style="width: 180px;">
                                <div class="notification_header ">
                                    <h3 class="text_color">You have {{userSavedCampaigns.length}} Campaigns</h3>
                                </div>
                                <div ng-repeat="activeUserCampaign in userSavedCampaigns.slice(0, 3)"><a
                                        ng-href="#/campaign-details/{{activeUserCampaign.id}}">
                                        <div class="notification_desc pl-3">
                                            <p>{{activeUserCampaign.name}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>
                                <div class="notification_bottom"> <a ng-href="#/user-saved-campaigns"> See all
                                        campaigns</a> </div>

                            </div>
                        </div>
                        <div class="dropdown s_login">
                             <button type="button" class="dropdown-toggle bell_icon" data-toggle="dropdown" style="position:relative">
                                <span class="s-ico-login" style="color: #000"><i class="fa fa-bell"
                                    aria-hidden="true"></i><span class="badge blue"id="notification-count" style="position:absolute;top:0px;right:0px;background:#e52435;color:#fff;border-radius: 50%">{{unReadNotify.length || 0}}</span></span>
                            </button>
							
                            <div class="dropdown-menu dropdown-menu-right" style="width: 190px;">
                                <div class="notification_header">
                                    <h3 class="" style="font-size:12px"><b>You have <span
                                                id="notification1-count">{{unReadNotify.length || 0}}</span> new notification</b></h3>
                                </div>
                                <div style="padding:10px;" id="notification-id-0" ng-repeat = "notificationItem in unReadNotify.slice(0,3)">{{notificationItem.desc}}</div>
                                <div class="notification_bottom">
                                    <a href="#/user-notifications"
                                        ng-show="isAuthenticated &&loggedInUser.user_role=='basic'">See all
                                        notifications</a>
                                    <a href="#/owner/{{loggedInUser.clientSlug}}/owner-notifications"
                                        ng-show="isAuthenticated &&loggedInUser.user_role == 'owner'">See all
                                        notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown s_login">
                            <button type="button" class=" fst_letter dropdown-toggle" data-toggle="dropdown">
                                {{loggedInUser.firstName.slice(0, 1)}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" style="padding:10px 0  20px">
                                <a class="dropdown-item" ng-href="#/profile">{{loggedInUser.firstName}}
                                    {{loggedInUser.lastName}}</a>
                                <a class="dropdown-item" ng-href="#/campaigns"
                                    ng-show="isAuthenticated && loggedInUser.user_role=='basic'"> Campaigns</a>
                                <a class="dropdown-item" ng-href="#/owner/{{clientSlug}}/campaigns"
                                    ng-show="isAuthenticated && loggedInUser.user_role=='owner'"> Campaigns</a>
                                <a class="dropdown-item" ng-href="#/shortlisted-products" ng-if="isUserBasic()">
                                    Shortlisted Inventory
                                    ({{shortListedProductsLength}})</a>
                                <a class="dropdown-item" ng-href="#/user-payments"
                                    ng-show="isAuthenticated && loggedInUser.user_role=='basic'"> Payments</a>
                                <a class="dropdown-item" ng-href="#/owner/{{clientSlug}}/payments"
                                    ng-show="isAuthenticated && loggedInUser.user_role=='owner'"> Payments</a>
                                <a class="dropdown-item" ng-if="!isUserBasic()" ng-click="switchView()"> Switch view</a>
                                <a class="d-block d-sm-none dropdown-item" ng-href="#/user-saved-campaigns">Saved
                                    Campaign</a>
                                <a class="dropdown-item" ng-href="#/reset_password" style="margin-bottom:15px"> Change
                                    Password</a>
                                <a ng-click="logout()" class="logout_color" style="    margin: 0 0 0 18px;"> Logout</a>
                            </div>
                        </div>
                    </ul>
                    <div class=""></div>
                </div>
                <div class="aire_d_drop-mobile d-lg-none d-xl-none " id="mobileMenu">
                    <ul>
                        <li class=""><a ng-href="#/aboutbbi" class="s-btn-toggler">about bbi</a></li>
                        <li class=""><a ng-href="#/ourproduct" class="s-btn-toggler">our product</a></li>
                        <li class=""><a ng-href="#/faq" class="s-btn-toggler">faq</a></li>
                        <li class=""
                            ng-show="isAuthenticated && loggedInUser.user_role=='basic' && currStateName != 'index.suggest.product-detail'">
                            <a ng-href="#/suggest/product-detail" class="s-btn-toggler border_right">suggestme</a></li>
                        <li class="" ng-show="!isAuthenticated"><a ng-click="showSignInDialog($event)">suggestme</a>
                        </li>
                        <li class=""
                            ng-show="isAuthenticated && currStateName != 'index.location' && loggedInUser.user_role!='bbi'">
                            <a ng-href="#/location" class="s-btn-toggler">roadside</a></li>
                        <li class="" ng-show="!isAuthenticated"><a ng-click="showSignInDialog($event)"
                                class="metro_btn">Metro</a></li>
                        <li class=""
                            ng-show="isAuthenticated && currStateName != 'index.metro'&& loggedInUser.user_role!='bbi'">
                            <a ng-href="#/metro" class="s-btn-toggler">Metro</a></li>
                        <li class="" ng-show="!isAuthenticated">
                            <a ng-click="showSignInDialog($event)" class="s-btn-toggler login_btn">login</a>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </header>
    <script>
        $("#mobileBtn").click(function(){
            $("#mobileBtn").hide();
            $("#mobileMenu").toggle();
            $("#closeBtn").show();
        });
        $("#closeBtn").click(function () {
            $("#mobileBtn").show();
            $("#mobileMenu").toggle();
            $("#closeBtn").hide();
        });
    </script>
    <!--// main nav section-->
    <!-- Content section-->
    <ui-view></ui-view>
    <!-- //Content section-->

    <!-- Footer Section -->
    <footer class="footer_home py-lg-4 py-md-3 py-sm-3 py-3 contbg" ng-if="!footerhide">
        <div class="py-lg-4 py-md-3 py-sm-3 py-3 footer">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3 class="title mb-3 heading_3"><b class="first_word"><span class="first_letter">C</span>ontact
                                Info</b></h3>
                        <i class="fa fa-home gobalimg" aria-hidden="true"></i>
                        <p class="font-weight-bold p3">BBA Advertising Pvt Ltd.</p>
                        <p class="p4">US West Coast 1110 112th Avenue NE, <br>
                            <span class="span_left">Suite 300C, Bellevue, WA. 98004</span></p>
                        <i class="fa fa-envelope-o email" aria-hidden="true"></i>
                        <p class="font-weight-bold p3">MAIL US</p>
                        <p class="p4">reach@billboardsamerica.com</p>
                        <i class="fa fa-mobile telephone" aria-hidden="true"></i>
                        <p class="font-weight-bold p5">CALL</p>
                        <p class="p5">+ 91 9550224488</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 leave_form">
                        <h3 class="title mb-3 heading_3"><b class="first_word"><span class="first_letter">L</span>eave
                                Message</b></h3>
                        <h5 class="blog-title card-title font-weight-bold m-0">If you Need Quick Support</h5>
                        <div class="contact-block-left">
                            <form name="sendquery" ng-submit="sendQuery(query)" novalidate>
                                <div class="form-group form_inputnameleft"
                                    ng-class="{ 'has-error' : sendquery.name.$invalid && !sendquery.name.$pristine }">
                                    <input type="text" name="name" placeholder="Name" class="form-control"
                                        ng-model="query.name" required>
                                    <p ng-show="sendquery.name.$invalid && !sendquery.name.$pristine"
                                        class="help-block form_inputnameleft" style="color: red;">Your name is required.
                                    </p>
                                </div>
                                <div class="form-group form_inputnameright"
                                    ng-class="{ 'has-error' : sendquery.name.$invalid && !sendquery.name.$pristine }">
                                    <input type="email" name="email" placeholder="Email" class="form-control"
                                        ng-model="query.email" required>
                                    <p ng-show="sendquery.email.$invalid && !sendquery.email.$pristine"
                                        class="help-block form_inputnameright" style="color: red;">Email Id is required.
                                    </p>
                                </div>
                                <div class="form-group form_inputnameleft"
                                    ng-class="{ 'has-error' : sendquery.name.$invalid && !sendquery.name.$pristine }">
                                    <select ng-model="query.subject" name="Subject" class="form-control">
                                        <option value="" disabled selected>Subject*</option>
                                        <option>Payment</option>
                                        <option>Requisted Inventory</option>
                                        <option>Campaign</option>
                                        <option>Other</option>
                                    </select>
                                    <p ng-show="sendquery.Subject.$invalid && !sendquery.Subject.$pristine"
                                        class="help-block form_inputnameleft" style="color: red;">Subject is required.
                                    </p>
                                </div>
                                <div class="form-group form_inputnameright"
                                    ng-class="{ 'has-error' : sendquery.name.$invalid && !sendquery.name.$pristine }">
                                    <input type="text" name="contact" placeholder="Contact No" class="form-control"
                                        ng-model="query.contactno" only-numeric required maxlength="10">
                                    <p ng-show="sendquery.contact.$invalid && !sendquery.contact.$pristine"
                                        class="help-block form_inputnameright" style="color: red;">Contact No. is
                                        required.</p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Text Area"
                                        ng-model="query.message"></textarea>
                                </div>
                                <md-button class="all_button" type="submit" ng-disabled="sendquery.$invalid">Send
                                    Message</md-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-lg-3 py-md-3 py-sm-3 py-3">
                <a ng-href="#home" class="move-top text-center"></a>
                <div class="row py-2 d-flex align-items-center">
                    <div class="col-md-8 col-lg-9 col-sm-12 col-12">
                        <h6 class="mb-0"><span style="color:#BC2535;margin-right: 10px;"><b>Privacy &
                                    Terms</b></span>BBA Advertising
                            pvt Ltd @ Copyrights 2019. All rights reserved.</h6>
                    </div>
                    <div
                        class="col-lg-3 col-md-4 col-sm-12 col-12 text-lg-right text-md-right text-sm-center footersocial_icon">
                        <a href="https://www.facebook.com/billboardsind/" target="_blank"><i
                                class="fa fa-facebook white-text mr-4" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/billboards_india/" target="_blank"><i
                                class="fa fa-instagram white-text mr-4" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/company/billboards-india/?viewAsMember=true"
                            target="_blank"><i class="fa fa-linkedin white-text mr-4" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/billboardsindia" target="_blank"><i
                                class="fa fa-twitter white-text mr-4" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube-play white-text mr-4" aria-hidden="true"></i></a>
                    </div>
    </footer>
    <!-- //Footer Section -->
</div>

<script>
    // window.onscroll = function () {
    //     scrollFunction()
    // };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script>
    $(window).scroll(function () {
        var height = $(window).scrollTop();
        if (height > 20) {
            $('#myBtn').fadeIn();
        } else {
            $('#myBtn').fadeOut();
        }
    });
    $(document).ready(function () {
        $("#myBtn").click(function (event) {
            event.preventDefault();
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });

    });
</script>