<link rel="stylesheet" type="text/css" href="assets/css/main.css" />

<div  layout="column" ng-cloak ng-controller="bbMngrCtrl">
  <md-toolbar class="md-menu-toolbar header">
    <div class="md-toolbar-tools">
      <md-button ng-click="closeSidenav()" ng-if="!footerhide" aria-label="menu" show-sm hide-xs hide-gt-sm class="md-icon-button">
        <md-icon md-svg-icon="assets/images/core/menu.svg"> </md-icon>
      </md-button>
       <md-button aria-label="locations" href="#/" md-no-ink class="logo" >
         <img ng-src="assets/images/product/billboards.png"  class="logo-img"> 
        
      </md-button> 
        <!-- <md-button aria-label="locations" href="#/" md-no-ink style="background:transparent" class="logo">
          <img ng-src="assets/images/menu/orgnl.png" width="160" >
        </md-button> -->
      <span flex class=""></span>
      <md-menu-bar class="main-menu">
        <md-button aria-label="whyoutdoor" ng-click="whatwedo()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">what we do</md-button>
        <md-button aria-label="formats" ng-click="formate()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">formats</md-button>
        <md-button aria-label="locations" ng-click="whyOutdoor()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">why outdoor</md-button>
        <md-button aria-label="about" ng-click="contactus()" ng-if="!footerhide" hide-xs hide-sm class="toolbar-btn">contact</md-button>
        <!-- <md-button aria-label="pricing" href="#/pricing">pricing</md-button> --> 
        <!-- browse-->
        <md-button hide-xs aria-label="location" class="browse-btn" ng-href="#/location" ng-show="isAuthenticated && !footerhide">
          <!-- <a  style="padding:10px 0px;text-decoration:none;"> -->
            Browse BillBoards</a>
        </md-button>
        <!--sugg -->
        <md-button hide-xs aria-label="location" ng-if="footerhide && isAuthenticated" ng-click="toggleSuggestMeSidenav()">
          suggest me
        </md-button>
         <!--search button -->
        <md-button aria-label="notifications" class="md-icon-button search-btn" ng-click="" ng-show="isAuthenticated" hide-gt-xs>
          <md-icon><i class="material-icons">search</i></md-icon>
        </md-button>
        <!--notification button -->
        <md-button aria-label="notifications" class="md-icon-button notiftn-btn" ng-click="closeSideNavPanel()" ng-show="isAuthenticated">
          <md-icon><i class="material-icons">notifications</i></md-icon>
        </md-button>
        <!-- profile button start-->
        <md-menu ng-show="isAuthenticated" class="profile-menu">
 
          <md-button class="md-secondary md-mini md-button profile-img" type="button" ng-transclude="" aria-label="personimage" ng-click="$mdOpenMenu($event)" >
              <img ng-src="assets/images/man.png" class="md-avatar ng-scope" style="margin: 4px 0 0 0;">
          </md-button>
          <md-menu-content width="3" style="z-index:99">
            <md-menu-item>
              <md-button ng-href="#/profile">{{loggedInUser.first_name}} {{loggedInUser.last_name}}</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="campagins" ng-href="#/campaign">Campaigns</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#">Account</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="logout()">Sign Out</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <!-- profile button end-->
   
        <md-button aria-label="location" class=" md-primary md-raised" ng-click="showTabDialog($event)" ng-show="!isAuthenticated" style="color:#fff !important">
          BOOK NOW
        </md-button>
        
        <!-- <md-button aria-label="location" class=" md-primary md-raised" ng-show="isAuthenticated && footerhide" ng-click="toggleTraffic()">
          <span ng-show="!trafficOn">Show</span><span ng-show="trafficOn">Hide</span> Live Impression
        </md-button> -->

      </md-menu-bar>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left" hide-gt-sm>
    <header layout="column" layout-padding layout-margin>
      <a ng-href="#/"><img ng-src="assets/images/core/billboards1.png" style="margin-top:15px"></a>
    </header>
    <md-content flex layout="column" role="navigation">
      <md-menu-item flex layout="column">
        <md-button  ng-click="whatwedo()">WHAT WE DO</md-button>
      </md-menu-item>

      <md-menu-item flex layout="column">
        <md-button ng-click="formate()">FORMATS</md-button>
      </md-menu-item>
      <md-menu-item flex layout="column">
        <md-button ng-click="whyOutdoor()">WHY OUTDOOR</md-button>
      </md-menu-item>
      <md-menu-item flex layout="column">
        <md-button ng-click="contactus()">CONTACT</md-button>
      </md-menu-item>
      <!-- <md-menu-item flex layout="column">
        <md-button href="#/pricing">PRICING</md-button>
      </md-menu-item> -->

  </md-sidenav>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Notifications</span>
        </h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">X</md-icon>
        </md-button>-->

        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
            <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding="">
      Notifications Panel
    </md-content>
  </md-sidenav>

  <!-- Content section-->
  <!-- <div ui-view ng-cloak></div> -->
  <ui-view>
    
  </ui-view>

  <!-- Footer Section-->
  <footer>
    <div  hide-xs show-gt-xs layout="row" layout-sm="column" align="center center" class="footmain" style="background: #202020" ng-if="!footerhide">
      <div flex="40" flex-md="50" flex-sm="100" flex-xs="100"  flex-offset-lg="10" layout-align-sm="center center" layout-sm="row" class="fmson">
        
        <md-button class="md-icon-button fabicon" aria-label="facebook" href="https://www.facebook.com/billboardsind/?fref=ts" target="_blank">
          <md-icon md-svg-src="assets/images/icons/facebook.svg" class="fab-icon"></md-icon>
        </md-button>

        <md-button class="md-icon-button  fabicon" aria-label="instagram" href="https://www.instagram.com/billboards_india/" target="_blank">
          <md-icon md-svg-src="assets/images/icons/instagram.svg"></md-icon>
        </md-button>

        <!-- <md-button class="md-icon-button  fabicon" aria-label="skype">
          <md-icon md-svg-src="assets/images/icons/skype.svg"></md-icon>
        </md-button> -->

        <md-button class="md-icon-button  fabicon" aria-label="linkedin" href="https://www.linkedin.com/company/13259222/" target="_blank">
          <md-icon md-svg-src="assets/images/icons/linkedin.svg"></md-icon>
        </md-button>

        <!-- <md-button class="md-icon-button  fabicon" aria-label="vimeo">
          <md-icon md-svg-src="assets/images/icons/vimeo.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button  fabicon" aria-label="vimeo">
          <md-icon md-svg-src="assets/images/icons/rss.svg"></md-icon>
        </md-button>

         <md-button class="md-icon-button fabicon" aria-label="tumblr">
          <md-icon md-svg-src="assets/images/icons/tumblr.svg"></md-icon>
        </md-button>  -->

        <md-button class="md-icon-button  fabicon" aria-label="twitter" href="https://twitter.com/billboardsindia" target="_blank">
          <md-icon md-svg-src="assets/images/icons/twitter-letter-logo.svg"></md-icon>
        </md-button>

      </div>
      <div flex="50" flex-md="50" flex-sm="100" flex-xs="100" layout-align-sm="center center" layout-align="end center" layout-xs="column"
        layout="column">
        <p class="md-body-2 text">BBI Advertising pvt Ltd @Copyrights 2017. All rights reserved.</p>
      </div>

    </div>
    <!-- <md-button hide-xs class="goToTop md-fab md-mini bottom-btn" style="display:none;background-color:rgb(198, 40, 40)">
      <md-icon><i class="material-icons">keyboard_arrow_up</i></md-icon>
    </md-button> -->
  
    <!-- <div layout="row" class="bottom-mobilebtn" show-xs hide-gt-xs  layout-align="space-around center">
      <div style="margin:0 0 0 10px">
        <a ng-click="Home()" class="" href="#/location">
        <span ng-hide="isactive"><img src="assets/mobile-icons/home.png" alt="home" /></span>
        <span ng-show="isactive"><img src="assets/mobile-icons/home-clicked.png" alt="home" /></span>
        </a>
      </div>
      <div>
        <a ng-click="shortlisted()" href="#/shortlist-mobile">
          <span ng-hide="isshortlisted"> <img src="assets/mobile-icons/shortlisted.png" alt="shortlisted"/></span>
          <span ng-show="isshortlisted"> <img src="assets/mobile-icons/shortlisted-clicked.png" alt="shortlisted"/></span>
        </a>
      </div>
      <div>
        <a ng-click="campaigns()" href="#/savedcamapign-mobile">
          <span ng-hide="iscampaigns"><img src="assets/mobile-icons/campaigns.png" alt="campaigns"/></span>
          <span ng-show="iscampaigns"><img src="assets/mobile-icons/campaign-clicked.png" alt="campaigns"/></span>
        </a>
      </div>
      <div>
        <a ng-click="formatmobile()" href="#/formats-mobile">
          <span ng-hide="isformats" ><img src="assets/mobile-icons/formats.png" alt="home"/></span>
          <span ng-show="isformats"><img src="assets/mobile-icons/formats-clicked.png" alt="home"/></span>
        </a>
      </div>
      <div>
        <a ng-click="suggestme()" href="#/suggest-mobile">
          <span ng-hide="issuggestme"><img src="assets/mobile-icons/suggestme.png" alt="home"></span>
          <span ng-show="issuggestme"><img src="assets/mobile-icons/suggest-clicked.png" alt="home"/></span>
        </a>
      </div>
  
    </div> -->
  </footer>

 
</div>

