
<link rel="stylesheet" type="text/css" href="assets/css/owner-main.css" /> 
<!-- <<<<<<<<<<<<<<<<<<<<<<<New Code>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools owner_tool_bar" md-whiteframe="3">
            <md-button aria-label="menu" class="md-icon-button menubtn" hide-gt-sm ng-click="ownerSidenav()">
                <md-icon md-svg-icon="assets/images/menu_24px.svg"> </md-icon>
            </md-button>
            <md-button aria-label="logo" class="md-icon ">
                <img src="assets/images/product/billboards.png" alt="logo_owner" width="160px">
            </md-button> 
            
            <span flex></span>

            <md-button aria-label="notifications" class="md-icon-button" ng-href="#/owner/settings">
                <img src= "assets/images/owner/setting.png" />
            </md-button>
            <md-button aria-label="notifications" class="md-icon-button" ng-click="ownerRightSidenav()">
                <md-icon md-svg-icon="assets/images/notification_24px.svg" ></md-icon>
            </md-button>
            <md-button class="md-raised md-primary" ng-href="#/owner/createCampaign">
                Create Campagin
            </md-button>
            <!-- <md-menu  class="profile-menu mrng-top">
                <md-button class="md-secondary md-mini md-button profile-img" type="button" ng-transclude="" aria-label="personimage" ng-click="$mdOpenMenu($event)">
                    <img ng-src="assets/images/man.png" class="md-avatar ng-scope" style="margin: 4px 0 0 0;">
                </md-button>
                <md-menu-content width="3" style="z-index:99;top:17.5% !important;">
                    <md-menu-item>
                        <md-button ng-href="#/owner/profile">Srikanth B</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button aria-label="edit profile" ng-click="editProfieSidenav()">Edit Profile</md-button>
                    </md-menu-item> 
                    
                    <md-menu-item>
                        <md-button ng-click="logout()">Sign Out</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu> -->
        </div>
    </md-toolbar>
    <!--toolbar end -->
    <!-- sidenav start -->
    <div layout="row">
        <!-- Menu Sidenav start-->
        <md-sidenav class="md-sidenav-left owner__sidenav scrollbar__style" md-component-id="ownerLeft" md-is-locked-open="$mdMedia('gt-sm')">
            <!-- <md-toolbar  style="background-color: #FFFFFF;min-height: 65px !important;" hide-gt-sm>
                <img class="png-icon" src="assets/images/billboards.png">
            </md-toolbar> -->
            <!-- <md-divider></md-divider> -->
            <md-content  class="sidenav-content scrollbar__style">
                <div style="width: 100% !important;">
                    <md-list class="owners-menu">
                        <!-- user menu-->
                        <md-list-item class="md-2-line" ng-click="userMenu()">
                            <img ng-src="assets/images/team.png" class="md-avatar" />
                            <div class="md-list-item-text">
                                <h3 class="md-body-1">Srikanth</h3>
                                <p class="md-capation">Marketing Manager</p>
                            </div>
                            <span flex></span>
                            <span>
                            <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="userMenuItems"></md-icon>
                            <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="userMenuItems"></md-icon>
                            </span>
                        </md-list-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                            <md-button ng-href="#">
                            <div layout="row">
                                <span flex="5"></span>
                                <span>
                                <md-icon>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </md-icon>
                                </span>Add Product</div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                            <md-button ng-href="#">
                            <div layout="row">
                                <span flex="5"></span>
                                <span>
                                <md-icon>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </md-icon>
                                </span>Delete Product</div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                                <md-button ng-href="#/owner/addPaymentDetails" ng-class="{'active-link': currStateName == 'owner.addPaymentDetails'}">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>Add Payment Details</div>
                                </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                                <md-button ng-href="#/owner/createUser" ng-class="{'active-link': currStateName == 'owner.createUser'}">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>Create User</div>
                                </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                            <md-button ng-href="#">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>Team Members
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                            <md-button ng-href="#">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>My Details
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="userMenuItems">
                            <md-button ng-href="#/owner/settings" ng-class="{'active-link': currStateName == 'owner.settings'}">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>Change Password
                                </div>
                            </md-button>
                        </md-menu-item>
                        <!-- Campagin Menu Start-->
                        <md-menu-item class="nv-nav-item">
                            <md-button aria-expanded="flase" ng-click="toogelMenu()" class="md-button-toggle">
                            <div layout="row">
                                <md-icon class="md-default-theme" class="material-icons">&#xE050;</md-icon>
                                <span style="color:#fff">Campaigns</span>
                                <span flex></span>
                                <span>
                                <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showFormats"></md-icon>
                                <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showFormats"></md-icon>
                                </span>
                            </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="showFormats">
                            <md-button ng-href="#/owner/ownerCampaign" ng-class="{'active-link': currStateName == 'owner.ownerCampaign'}">
                            <div layout="row">
                                <span flex="5"></span>
                                <span>
                                <md-icon>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </md-icon>
                                </span>Proposals</div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="showFormats">
                            <md-button ng-href="#/owner/runningCampaign" ng-class="{'active-link': currStateName == 'owner.runningCampaign'}">
                            <div layout="row">
                                <span flex="5"></span>
                                <span>
                                <md-icon>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </md-icon>
                                </span>Running Campaigns</div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="showFormats">
                                <md-button ng-href="#/owner/sheduledCampaigns" ng-class="{'active-link': currStateName == 'owner.sheduledCampaigns'}">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>Sheduled Campaigns</div>
                                </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item" ng-show="showFormats">
                                <md-button ng-href="#/owner/closedCampaignsList" ng-class="{'active-link': currStateName == 'owner.closedCampaignsList'}">
                                <div layout="row">
                                    <span flex="5"></span>
                                    <span>
                                    <md-icon>
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </md-icon>
                                    </span>Closed Campaigns</div>
                                </md-button>
                        </md-menu-item>
                        <!-- Campagin Menu End-->
                        <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#/owner/hoarding-list" ng-class="{'active-link': currStateName == 'owner.hoardinglist'}">
                                <md-icon class="md-default-theme" class="material-icons">&#xE8D2;</md-icon>
                                Inventory
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#/owner/requestHoarding" ng-class="{'active-link': currStateName == 'owner.requestHoarding'}">
                                <md-icon class="md-default-theme" class="material-icons">&#xE896;</md-icon>
                                Add New Inventory
                            </md-button>
                        </md-menu-item>
                        <!-- <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#/owner/outsourcingagent" ng-click="changeAgent()" ng-class="{'active-link': currStateName == 'owner.outsourcingagent'}">
                                <md-icon class="md-default-theme" class="material-icons">&#xE8D3;</md-icon>
                                Outsourcing Agents
                            </md-button>
                        </md-menu-item> -->
                        <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#owner/allCampaignPayment" ng-class="{'active-link': currStateName == 'owner.allCampaignPayment'}">
                                <md-icon class="md-default-theme" class="material-icons">&#xE850;</md-icon>
                                Payments
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#/owner/teamPage" ng-class="{'active-link': currStateName == 'owner.teamPage'}" ng-click="">
                                <md-icon class="md-default-theme" class="material-icons">&#xE7FB;</md-icon>
                                Team
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#/owner/cliect-list" ng-class="{'active-link': currStateName == 'owner.cliect-list'}">
                                <md-icon class="md-default-theme" class="material-icons">&#xE7FB;</md-icon>
                                Client list
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#" >
                                <md-icon class="md-default-theme" class="material-icons">&#xE7FB;</md-icon>
                                BBI Support
                            </md-button>
                        </md-menu-item>
                        <!-- <md-menu-item class="nv-nav-item">
                            <md-button ng-href="#/owner/dashboard" ng-class="{'active-link': currStateName == 'owner.dashboard'}" ng-click="">
                                <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                                Feeds
                            </md-button>
                        </md-menu-item> -->
                        <md-menu-item class="nv-nav-item">
                                
                                <md-button ng-click="logout()" style="color:#fff">
                                        <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                                    Sign Out
                                </md-button>
                        </md-menu-item>
                        <!-- <md-menu-item class="nv-nav-item">
                        <md-button ng-href="#/owner/feedBack" ng-class="{'active-link': currStateName == 'owner.feedBack'}">
                            <md-icon class="md-default-theme" class="material-icons">&#xE8B8;</md-icon>
                            Help
                        </md-button>
                    </md-menu-item> -->
                    </md-list>
                </div>
            </md-content>
        </md-sidenav>
        <!-- Menu Sidenav end-->
        <!--Notofication Sidenav start-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2 scrollbar__style" md-component-id="ownerRight">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools bg_main_color">
                <h2>
                    <span>Notifications</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="ownerRightSidenav()">
                    <md-tooltip>Close Side Panel</md-tooltip>
                    <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
                </md-button>
                </div>
            </md-toolbar> 
            <md-content layout-padding="">
                <md-list-item class="md-3-line md-long-text">
                    <img ng-src="assets/images/man.png" class="md-avatar" alt="images" />
                    <div class="md-list-item-text">
                        <h3>Campaigns Created</h3>
                        <p>
                        Secondary line text Lorem ipsum dolor sit amet, 
                        </p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-content> 
        </md-sidenav>
        <!--Notofication Sidenav End-->
        <!--Edit Profile  Sidenav End-->
        <!-- <md-sidenav class="md-sidenav-right md-whiteframe-z2 scrollbar__style" md-component-id="ownereditProfile">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools bg_main_color">
                <h2>
                    <span>Edit Profile</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="">
                    <md-tooltip>Close Side Panel</md-tooltip>
                    <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
                </md-button>
                </div>
            </md-toolbar> 
            <md-content layout-padding="">
                <form  role="form">
                    <div class="form-group">
                        <label class="control-label"> Name</label>
                        <br>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Company Name</label>
                        <br>
                        <input class="form-control"  type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Phone Number</label>
                        <br>
                        <input class="form-control"  type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Address</label>
                        <br>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> City</label>
                        <br>
                        <input class="form-control" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                <input type="file" id="imgInp">
                            </span>
                        </span>
                        
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label class="col-md-3 control-label"></label>
                        <input class="btn btn-primary" value="Save" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                    
                </form>
            </md-content> 
        </md-sidenav> -->
        <!--Edit Profile  Sidenav End-->
        <ui-view flex ></ui-view>

    </div>
    <!-- sidenav end -->
    
    <div layout="column" layout-align="center center" style="background: #CCC">
    <div style="padding: 5px 0;">Powered By Billboards India</div>
    </div>
</div>

