<div layout="column" layout-fill="layout-fill" ng-controller="dataTable">
    <md-tabs  md-dynamic-height >
      <md-tab label="Proposals">
            <div  layout-padding="layout-padding">
                <div layout="row" layout-padding="layout-padding" hide-xs hide-sm show-lg show-md class="contbg">
                    <md-list-item>
                        <div flex="15">Campaign Name</div>
                        <div flex="15">Client Contact</div>
                        <div flex="15">Start Date</div>
                        <div flex="15">EndDate</div>
                        <div flex="10">Status</div>
                        <div flex="10">Price</div>
                        <div flex="10">products</div>
                        <div flex="10">Actions</div>
                    </md-list-item>
                </div>
                <div layout="column" layout-lg="column" layout-md="column" layout-xs="column" layout-sm="column"  ng-repeat="item in myData | limitTo:limit" class="contbg">
                    
                    <md-divider hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg></md-divider>
                    <div layout="row" layout-lg="row" layout-md="row" layout-xs="column" layout-sm="column" layout-padding="layout-padding">
                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row">

                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                        <md-icon md-svg-icon="images/c1.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-sm="85"><div class="md-body-1">{{item.campaignname}}</div></div> 
                        <div hide-gt-sm show-xs show-sm flex-xs="5" flex-sm="5">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                                    <md-icon md-svg-icon="images/c7.svg" class="icsize"></md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-href="#">Edit</md-button>
                                    </md-menu-item>
                                     <md-menu-item>
                                        <md-button>Share</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>Delete</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div> 
                    </div>

                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="column" layout-sm="column" hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg>
                       
                        <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c2.svg" ></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientcomapanyname}}</div>
                            </div> 
                        </div>
                        <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c3.svg"></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientname}}</div>
                            </div> 
                        </div>
                         <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c4.svg" ></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientcontent}}</div>
                            </div> 
                        </div>
                    </div>
                    <!-- hide in lg -->
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientcomapanyname}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientname}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientcontent}}</div>
                        </div> 
                    </div>

                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c5.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85" hide-gt-sm show-xs>
                            <div class="md-body-1">{{item.startdate}} To {{item.enddate}}</div>
                        </div> 
                        <div hide-xs hide-sm class="md-body-1">{{item.startdate}}</div>
                    </div>
                    <div flex="15" hide-xs hide-sm>
                      <div class="md-body-1">{{item.enddate}}</div>
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.status}}</div>
                        </div> 
                    </div>
                     <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.price}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.products}}</div>
                        </div> 
                    </div>
                      
                    <div flex="10" hide-xs hide-sm> 
                        <span>
                        <a ng-href="#/campaignedit" ng-click="">
                        <md-tooltip md-direction="top" md-visible="tooltipEdit">Edit</md-tooltip>
                        <md-icon md-svg-icon="images/edit_new.svg"  class="icsz"></md-icon></a>
                        </span>
                        <span> 
                        <a ng-href="#" ng-click="">
                        <md-tooltip md-direction="top" md-visible="tooltipShare">Share</md-tooltip>
                        <md-icon md-svg-icon="images/share_new.svg"  class="icsz"></md-icon></a>
                        </span>
                        <span> 
                        <a  ng-click="removeItem($index)">
                        <md-tooltip md-direction="top" md-visible="tooltipDelete">Delete</md-tooltip>
                        <md-icon md-svg-icon="images/delete_new.svg"  class="icsz"></md-icon></a>
                        </span>
                    </div>
                </div>  
                </div>
            </div>  
            <div layout="column" layout-align="center start"  hide-xs hide-sm show-gt-sm>
                <md-button class="md-primary" ng-click='loadMore()'>Load More</md-button>
            </div>
            <!-- <md-button aria-label="Addacategory" ng-click="openOffscreen($event)" class="md-fab md-fab-bottom-right" style="position:fixed !important;">
                <md-icon md-svg-icon="images/add_plus.svg" id="left"></md-icon>
            </md-button> -->
      </md-tab>
      <md-tab label="Running">
       
        <div class="md-padding">
            <div layout="row" layout-padding="layout-padding" hide-xs hide-sm class="contbg">
                <md-list-item>
                    <div flex="15">Campaign Name</div>
                    <div flex="15">Client Contact</div>
                    <div flex="15">Start Date</div>
                    <div flex="15">EndDate</div>
                    <div flex="10">Status</div>
                    <div flex="10">Price</div>
                    <div flex="10">products</div>
                    <div flex="10">Actions</div>
                </md-list-item>
            </div>
            <div layout="column" layout-lg="column" layout-md="column" layout-xs="column" layout-sm="column"  ng-repeat="item in myData | limitTo:limit" class="contbg">
                
                <md-divider hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg></md-divider>
                <div layout="row" layout-lg="row" layout-md="row" layout-xs="column" layout-sm="column" layout-padding="layout-padding">
                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row">

                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                        <md-icon md-svg-icon="images/c1.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-sm="85"><div class="md-body-1">{{item.campaignname}}</div></div> 
                        <div hide-gt-sm show-xs show-sm flex-xs="5" flex-sm="5">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                                    <md-icon md-svg-icon="images/c7.svg" class="icsize"></md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-href="#">View</md-button>
                                    </md-menu-item>
                                     <md-menu-item>
                                        <md-button>Share</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div> 
                    </div>

                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="column" layout-sm="column" hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg>
                       
                        <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c2.svg" ></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientcomapanyname}}</div>
                            </div> 
                        </div>
                        <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c3.svg"></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientname}}</div>
                            </div> 
                        </div>
                         <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c4.svg" ></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientcontent}}</div>
                            </div> 
                        </div>
                    </div>
                    <!-- hide in lg -->
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientcomapanyname}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientname}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientcontent}}</div>
                        </div> 
                    </div>

                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c5.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85" hide-gt-sm show-xs>
                            <div class="md-body-1">{{item.startdate}} To {{item.enddate}}</div>
                        </div> 
                        <div hide-xs hide-sm class="md-body-1">{{item.startdate}}</div>
                    </div>
                    <div flex="15" hide-xs hide-sm>
                      <div class="md-body-1">{{item.enddate}}</div>
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">Running</div>
                        </div> 
                    </div>
                     <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.price}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.products}}</div>
                        </div> 
                    </div>
                      
                    <div flex="10" hide-xs hide-sm> 
                        <span>
                        <a ng-href="#" ng-click="">
                        <md-tooltip md-direction="top" md-visible="tooltipEdit">Edit</md-tooltip>
                        <md-icon md-svg-icon="assets/images/image-view.svg" ></md-icon></a>
                        </span>
                        <span> 
                        <a ng-href="#" ng-click="">
                        <md-tooltip md-direction="top" md-visible="tooltipShare">Share</md-tooltip>
                        <md-icon md-svg-icon="assets/images/share.svg"  ></md-icon></a>
                        </span>
                        
                    </div>
                </div>  
            </div>
        </div> 
        <div layout="column" layout-align="center start" hide-xs hide-sm show-gt-sm>
            <md-button class="md-primary " ng-click='loadMore()'>Load More</md-button>
        </div>
      </md-tab>
      <md-tab label="Closed">
        <div class="md-padding">
                <div layout="row" layout-padding="layout-padding" hide-xs hide-sm class="contbg">
                    <md-list-item>
                        <div flex="15">Campaign Name</div>
                        <div flex="15">Client Contact</div>
                        <div flex="15">Start Date</div>
                        <div flex="15">EndDate</div>
                        <div flex="10">Status</div>
                        <div flex="10">Price</div>
                        <div flex="10">products</div>
                        <div flex="10">Actions</div>
                    </md-list-item>
                </div>
                <div layout="column" layout-lg="column" layout-md="column" layout-xs="column" layout-sm="column"  ng-repeat="item in myData | limitTo:limit" class="contbg">
                    
                    <md-divider hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg></md-divider>
                    <div layout="row" layout-lg="row" layout-md="row" layout-xs="column" layout-sm="column" layout-padding="layout-padding">
                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row">

                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                        <md-icon md-svg-icon="images/c1.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-sm="85"><div class="md-body-1">{{item.campaignname}}</div></div> 
                        <div hide-gt-sm show-xs show-sm flex-xs="5" flex-sm="5">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                                    <md-icon md-svg-icon="images/c7.svg" class="icsize"></md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-href="#">Edit</md-button>
                                    </md-menu-item>
                                     <md-menu-item>
                                        <md-button>Share</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>Delete</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div> 
                    </div>

                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="column" layout-sm="column" hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg>
                       
                        <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c2.svg" ></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientcomapanyname}}</div>
                            </div> 
                        </div>
                        <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c3.svg"></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientname}}</div>
                            </div> 
                        </div>
                         <div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
                            <div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
                                <div><md-icon md-svg-icon="images/c4.svg" ></md-icon></div>
                            </div>
                            <div flex-xs="80" flex-gt-xs="85" >
                                <div class="md-body-1">{{item.clientcontent}}</div>
                            </div> 
                        </div>
                    </div>
                    <!-- hide in lg -->
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientcomapanyname}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientname}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-gt-lg hide-md hide-gt-md>
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.clientcontent}}</div>
                        </div> 
                    </div>

                    <div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c5.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85" hide-gt-sm show-xs>
                            <div class="md-body-1">{{item.startdate}} To {{item.enddate}}</div>
                        </div> 
                        <div hide-xs hide-sm class="md-body-1">{{item.startdate}}</div>
                    </div>
                    <div flex="15" hide-xs hide-sm>
                      <div class="md-body-1">{{item.enddate}}</div>
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">Close</div>
                        </div> 
                    </div>
                     <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.price}}</div>
                        </div> 
                    </div>
                    <div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
                        <div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
                            <md-icon md-svg-icon="images/c6.svg" ></md-icon>
                        </div> 
                        <div flex-xs="80" flex-gt-xs="85">
                            <div class="md-body-1">{{item.products}}</div>
                        </div> 
                    </div>
                      
                    <div flex="10" hide-xs hide-sm> 
                        <span>
                        <a ng-href="#" ng-click="">
                        <md-tooltip md-direction="top" md-visible="tooltipEdit">Edit</md-tooltip>
                        <md-icon md-svg-icon="images/edit_new.svg"  class="icsz"></md-icon></a>
                        </span>
                        <span> 
                        <a ng-href="#" ng-click="">
                        <md-tooltip md-direction="top" md-visible="tooltipShare">Share</md-tooltip>
                        <md-icon md-svg-icon="images/share_new.svg"  class="icsz"></md-icon></a>
                        </span>
                        <span> 
                        <a  ng-click="removeItem($index)">
                        <md-tooltip md-direction="top" md-visible="tooltipDelete">Delete</md-tooltip>
                        <md-icon md-svg-icon="images/delete_new.svg"  class="icsz"></md-icon></a>
                        </span>
                    </div>
                </div>  
                </div>
        </div> 
      </md-tab>
    </md-tabs>

</div>