<!-- <link rel="stylesheet" type="text/css" href="assets/css/admin-main.css" />
<div layout="row" style="position:relative;min-height:100%;" flex>
  <md-sidenav md-component-id="left" id="admin-sidenav-menu" class="md-sidenav-left md-whiteframe-z2" style="width: 250px;background: #51b3d6;height:100vh;position: fixed;" md-is-locked-open="$mdMedia('gt-sm')">
    <header layout="column" layout-padding style="min-height:90px !important">

      <md-button aria-label="" href="#admin/home" md-no-ink style="background:transparent" class="logo">
        <img ng-src="assets/images/menu/orgnl.png" width="160">
      </md-button>
    </header>
    <md-list style="overflow: auto;height: 100%;">
      <md-menu-item>
        <md-button ng-href="#/admin/home">
          <md-icon md-svg-icon="assets/images/menu/home.svg"></md-icon>Feeds</md-button>
      </md-menu-item>

      <md-menu-item flex layout="column">
        <md-button aria-expanded="flase"  ng-click="toogelCampagin()" class="md-button-toggle">
          <div layout="row">
            <md-icon md-svg-icon="assets/images/menu/profile.svg"></md-icon>
            <span style="color:#fff">Campaigns</span>
            <span flex></span>
            <span>
              <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showLocation"></md-icon>
              <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showLocation"></md-icon>
            </span>
          </div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showCampagin">
          <md-button ng-href="#/admin/campaigns">
            <div layout="row">
              <span flex="15"></span>
              <span>
                <md-icon>
                  <i class="material-icons">keyboard_arrow_right</i>
                </md-icon>
              </span>OOH Campaign</div>
          </md-button>
        </md-menu-item>
        <md-menu-item flex layout="column" ng-show="showCampagin">
          <md-button ng-href="#/admin/metro-campaigns">
            <div layout="row">
              <span flex="15"></span>
              <span>
                <md-icon>
                  <i class="material-icons">keyboard_arrow_right</i>
                </md-icon>
              </span>Metro Campaign</div>
          </md-button>
        </md-menu-item>

      <md-menu-item flex layout="column">
        <md-button aria-expanded="flase" ng-click="toogelLocation()" class="md-button-toggle" ng-href="#admin/locations">
          <div layout="row">
            <md-icon md-svg-icon="assets/images/menu/profile.svg"></md-icon>
            <span style="color:#fff">Location</span>
            <span flex></span>
            <span>
              <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showLocation"></md-icon>
              <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showLocation"></md-icon>
            </span>
          </div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showArea">
        <md-button ng-href="#admin/locations-country" ng-click="changeRequest()">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>Country</div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showArea">
        <md-button ng-href="#admin/locations-state">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>State</div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showArea">
        <md-button ng-href="#admin/locations-city">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>City</div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showArea">
        <md-button ng-href="#admin/locations-area">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>Area</div>
        </md-button>
      </md-menu-item>
   
      <md-menu-item flex layout="column">
        <md-button aria-expanded="flase" ng-click="toogelMenu()" class="md-button-toggle">
          <div layout="row">
            <md-icon md-svg-icon="assets/images/menu/hoarding.svg"> </md-icon>
            <span style="color:#fff">Billboard</span>
            <span flex></span>
            <span>
              <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showFormats"></md-icon>
              <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showFormats"></md-icon>
            </span>
          </div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showFormats">
        <md-button ng-href="#admin/hoarding-list" ng-click="changeRequest()">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>Hoarding List</div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showFormats">
        <md-button ng-href="#admin/formats">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>OOH Formats</div>
        </md-button>
      </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showFormats">
          <md-button ng-href="#admin/metro-formats">
            <div layout="row">
              <span flex="15"></span>
              <span>
                <md-icon>
                  <i class="material-icons">keyboard_arrow_right</i>
                </md-icon>
              </span>Metro Formats</div>
          </md-button>
        </md-menu-item>
      <md-menu-item flex layout="column" ng-show="showFormats">
        <md-button ng-href="#admin/requested-hoardings">
          <div layout="row">
            <span flex="15"></span>
            <span>
              <md-icon>
                <i class="material-icons">keyboard_arrow_right</i>
              </md-icon>
            </span>Requested Hoardings</div>
        </md-button>
      </md-menu-item>
      <md-menu-item>
          <md-button ng-href="#/admin/hoarding-list" ng-click="changeRequest()" >
              <md-icon md-svg-icon="assets/images/menu/hoarding.svg"> </md-icon>Billboards</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/admin/metro-packages">
          <md-icon md-svg-icon="assets/images/menu/hoarding.svg"> </md-icon>Metro Packages</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/admin/metro-corridors">
          <md-icon md-svg-icon="assets/images/menu/profile.svg"> </md-icon>Metro Corridors</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/admin/user-management">
          <md-icon md-svg-icon="assets/images/menu/profile.svg"> </md-icon>User Management</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/admin/companies">
          <md-icon md-svg-icon="assets/images/menu/help.svg"> </md-icon>Companies</md-button>
      </md-menu-item>
      <md-menu-item ng-if="showMenus || (manage_queries != -1)">
        <md-button ng-href="#/admin/callcenterinfo" ng-click="callCenterInfo()" >
          <md-icon md-svg-icon="assets/images/menu/call.svg"></md-icon>Call Center info</md-button>
      </md-menu-item>
      <md-menu-item ng-if="showMenus || (manage_queries != -1)">
        <md-button ng-href="#/admin/queries" ng-click="">
          <md-icon md-svg-icon="assets/images/menu/question.svg"></md-icon>Coustomer Care</md-button>
      </md-menu-item>
      <md-menu-item ng-if="showMenus || (manage_queries != -1)">
        <md-button ng-href="#/admin/subscribers" ng-click="">
          <md-icon md-svg-icon="assets/images/menu/mail.svg"></md-icon>Subscribers</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#">
          <md-icon md-svg-icon="assets/images/menu/help.svg"></md-icon>Offers</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/admin/floating-campaign">
          <md-icon md-svg-icon="assets/images/menu/help.svg"></md-icon>Floating Campaign</md-button>
      </md-menu-item>
    </md-list>
  </md-sidenav>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 scrollbar__style" md-component-id="right">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>
          <span>Notifications</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme">
              <i class="material-icons">close</i>
            </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content>
      <div ng-repeat="notif in adminNotifs" style="border-bottom:1px solid #bbbbbb; padding-left:8px;" 
      ng-class="{'unread-notif' : notif.status == 0, 'read-notif' : notif.status == 1}">
        <a ng-click="viewNotification(notif)" style="cursor:pointer;text-decoration:none;">
          <h4 class="text_color md-title" style="margin-top:0px;padding-top:15px;">{{ notif.desc }}</h4>
          <p class="md-body-1">{{ notif.message }}</p>
        </a>
      </div>
    </md-content>
  </md-sidenav>
  <div layout="column" flex style="min-height:100%; position:relative;">
    <md-toolbar class="md-whiteframe-z1 contbg" style="position: fixed;">
      <div class="md-toolbar-tools">
        <md-button aria-label="menu" class="md-icon-button menubtn" hide-gt-sm ng-click="closeSidenav()">
          <md-icon md-svg-icon="assets/images/menu_24px.svg"></md-icon>
        </md-button>
        <md-button aria-label="logo" class="md-icon">
          <img ng-src="images/logo.png" alt="logo" class="mrgn">
        </md-button>
        <h2 style="color: #52b2d7">{{currentTitle}}</h2>
        <span flex></span>
        <div class="message">
          <md-button aria-label="notifications" class="md-icon-button" ng-click="closeSideNavPanel()">
            <md-icon md-svg-icon="assets/images/notification_24px.svg"></md-icon>
          </md-button>
          <p style="background:#fac306">
            <span style="line-height: 26px;">{{adminNotifs.length || 0}}</span>
          </p>
        </div>
        <div class="message">
          <md-button aria-label="message" class="md-icon-button">
            <md-icon md-svg-icon="assets/images/message_black_24px.svg"></md-icon>
          </md-button>
          <p>
            <span style="line-height: 26px;">34</span>
          </p>
        </div>
        <md-button class=" md-secondary md-mini" aria-label="personimage">
            <img ng-src="images/person.png" class="md-avatar" style="margin: 12px 0 0 0;">
        </md-button>  
        <md-menu>
          
          <md-button ng-click="$mdOpenMenu($event)" aria-label="" class="md-secondary md-mini">
            <img ng-src="assets/images/man.png" ng-if="!loggedInUser.profile_pic" class="md-avatar ng-scope" style="margin: 4px 0 0 0; width:40px; height:40px;">
            <img ng-src="{{serverUrl + loggedInUser.profile_pic}}" ng-if="loggedInUser.profile_pic" class="md-avatar ng-scope" style="margin: 4px 0 0 0; width:40px; height:40px;">
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button href="#" ng-click="$mdMenu.hide()">Srikanth</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="#" ng-click="$mdMenu.hide()">Account</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/home">Switch View</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="#" ng-click="$mdMenu.hide()">Signout</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu md-offset="0 50">
          <md-button class="md-secondary md-mini md-button profile-img" type="button" aria-label="personimage" ng-click="$mdOpenMenu($event)">
            <img ng-if="!getAvatar().present" ng-src="assets/images/man.png" class="md-avatar ng-scope" style="margin: 4px 0 0 0;">
            <img ng-if="getAvatar().present" ng-src="{{serverUrl + getAvatar().profile_pic}}" class="md-avatar ng-scope" style="margin: 4px 0 0 0; width:32px;height:32px;">
          </md-button>
          <md-menu-content width="3" style="z-index:99">
            <md-menu-item>
              <md-button ng-href="#/profile">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/location">Switch View</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/reset_password">Reset Password</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="logout()">Sign Out</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>


    <ui-view style="margin-bottom:40px;padding: 65px 0 40px 250px;"></ui-view>

    <div layout="column" layout-align="center center" style="background: #CCC;padding: 5px 0;position:absolute;bottom:0px;width:100%; margin-top:40px;">
      <div >Copyright  BILLBOARDS INDIA. All rights reserved </div>
    </div> 
  </div>
</div> -->

<link rel="stylesheet" type="text/css" href="assets/css/owner-main.css" />
<!-- <<<<<<<<<<<<<<<<<<<<<<<New Code>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
<div layout="column" flex style="position:relative;min-height:100%;">
  <md-toolbar class="md-whiteframe-z1 contbg" style="position: fixed;">
    <div class="md-toolbar-tools owner_tool_bar" md-whiteframe="3">
      <md-button aria-label="menu" class="md-icon-button menubtn" ng-click="toggleAdminLeftSidenav()" hide-gt-md>
        <md-icon md-svg-icon="assets/images/menu_24px.svg"> </md-icon>
      </md-button>
      <md-button aria-label="logo" class="md-icon bill_img">
        <img class="png-icon logo_image" src="assets/images/owner/logo.png" alt="images">
      </md-button>
      <span flex></span>

      <div class="profile_details_left">
        <!--notifications of menu start -->
        <ul class="nofitications-dropdown">
          <li class="dropdown head-dpdn"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                class="fa fa-bell"></i><span class="badge blue">{{ownerNotifs.length}}</span></a>
            <ul class="dropdown-menu arrrow_box animated fadeInDown mt-5">
              <li>
                <div class="notification_header">
                  <h3 class="text_color">You have {{ownerNotifs.length}} new notification</h3>
                </div>
              </li>
              <li ng-repeat="notif in ownerNotifs" ng-click="viewNotification(notif)">
                <div class="notification_desc pl-3">
                  <p>{{notif.message}}</p>
                  <p><span>{{notif.updated_at | dateify:'DD-MM-YYYY hh:mm:ss a'}}</span></p>
                </div>
                <div class="clearfix"></div>
              </li>
              <div class="notification_bottom"> <a ng-href="#/owner/{{clientSlug}}/notifications">See all notifications</a>
              </div>
          </li>
        </ul>
        </li>

        <li class="dropdown head-dpdn">
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/man.png" class="hide-xs" />
            <i class="fa fa-ellipsis-v lnr"></i>
          </a> -->
          <a href="#" class="dropdown-toggle saved_campaign" data-toggle="dropdown" aria-expanded="false">A

          <ul class="dropdown-menu drp-mnu pl-4 animated fadeIn delay-.5s">
            <li> <a ng-href="#/profile">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</a> </li>
            <!-- <li> <a ng-href="#/owner/{{clientSlug}}/campaigns"> Campaigns</a> </li>
            <li> <a ng-href="#/payments"> Payments</a> </li> -->
            <li> <a ng-href="#/reset_password"> Change Password</a> </li>
            <!-- <li> <a ng-href="#/location"> Switch to Map view</a> </li> -->
            <!-- <li> <a ng-href="#"> Team</a> </li> -->
            <li> <a ng-click="logout()"> Logout</a> </li>
          </ul>

        </li>
        </ul>
        <div class="clearfix"> </div>
      </div>
    </div>
  </md-toolbar>
  <!--toolbar end -->
  <!-- sidenav start -->
  <div layout="row" flex style="position:relative;">
    <md-sidenav class="md-sidenav-left owner__sidenav scrollbar__style md-whiteframe-z2" md-component-id="adminLeftSidenav"
      md-is-locked-open="$mdMedia('gt-sm')" style="width: 180px;background: #44596D !important;height:100vh;position: fixed;margin-top: 65px;">
      <md-content class="sidenav-content" style="background: #44596D !important">
        <div style="width: 100% !important;">
          <md-list class="owners-menu">
            <!-- <md-menu-item class="nv-nav-item">
									<md-button class="side_navlist" ng-href="#/owner/{{clientSlug}}/feeds" ng-class="{'active-link': currStateName == 'owner.feeds'}" ng-click="closeMenuSidenavIfMobile()">
										To-Do List
									</md-button>
                </md-menu-item> -->
              <md-menu-item flex layout="column">
                <md-button class="side_navlist" ng-href="#/admin/home">
                  To-Do List
                </md-button>
              </md-menu-item>
              <!-- campagin start -->
              <md-menu-item flex layout="column">
                <md-button aria-expanded="flase" ng-click="toogelCampagin()" class="md-button-toggle">
                  <div layout="row">
                    <span style="color:#fff">Campaigns</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showLocation"></md-icon>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showLocation"></md-icon>
                    </span>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showCampagin">
                <md-button class="side_navlist" ng-href="#/admin/campaigns">
                  <div layout="row">
                    <span flex="15"></span>
                    User OOH </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showCampagin">
                <md-button class="side_navlist" ng-href="#/admin/admin-campaigns">
                  <div layout="row">
                    <span flex="15"></span>
                    Admin OOH </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showCampagin">
                <md-button class="side_navlist" ng-href="#/admin/metro-campaigns">
                  <div layout="row">
                    <span flex="15"></span>

                    Metro Campaign</div>
                </md-button>
              </md-menu-item>
              <!--campagin end-->
              <!-- listed of locations-->
              <md-menu-item flex layout="column">
                <md-button aria-expanded="flase" ng-click="toogelLocation()" class="md-button-toggle side_navlist" ng-href="#admin/locations">
                  <div layout="row">
                    <span >Location</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showLocation"></md-icon>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showLocation"></md-icon>
                    </span>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showArea">
                <md-button class="side_navlist" ng-href="#admin/locations-country" ng-click="changeRequest()">
                  <div layout="row">
                    <span flex="15"></span>
                    Country</div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showArea">
                <md-button class="side_navlist" ng-href="#admin/locations-state">
                  <div layout="row">
                    <span flex="15"></span>
                    State
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showArea">
                <md-button class="side_navlist" ng-href="#admin/locations-city">
                  <div layout="row">
                    <span flex="15"></span>
                    City</div>
                </md-button>
              </md-menu-item>
              <md-menu-item flex layout="column" ng-show="showArea">
                <md-button class="side_navlist" ng-href="#admin/locations-area">
                  <div layout="row">
                    <span flex="15"></span>
                    Area
                  </div>
                </md-button>
              </md-menu-item>
              <!-- listed of location end-->
              <!--inventory list -->
              <md-menu-item flex layout="column">
                <md-button aria-expanded="flase" ng-click="toogelMenu()" class="md-button-toggle">
                  <div layout="row">
                    <span style="color:#fff">Inventory</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_down_white_24px.svg" ng-hide="showFormats"></md-icon>
                      <md-icon md-svg-src="assets/images/core/ic_keyboard_arrow_up_white_24px.svg" ng-show="showFormats"></md-icon>
                    </span>
                </div>
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button ng-href="#admin/hoarding-list" ng-click="changeRequest()">
                <div layout="row">
                  <span flex="15"></span>
                  Hoarding List</div>
              </md-button>
            </md-menu-item> -->
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#/admin/hoarding-list" ng-class="{'active-link': currStateName == 'admin.hoarding-list'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                <div layout="row">
                <span flex="15"></span>
                Hoarding List
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/hoarding-list">
                <div layout="row">
                  <span flex="15"></span>
                  Metro</div>
              </md-button>
            </md-menu-item>
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/hoarding-list">
                <div layout="row">
                  <span flex="15"></span>
                  Airport</div>
              </md-button>
            </md-menu-item>
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/formats">
                <div layout="row">
                  <span flex="15"></span>
                  OOH Formats</div>
              </md-button>
            </md-menu-item>
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#admin/metro-formats">
                <div layout="row">
                  <span flex="15"></span>
                  Metro Formats</div>
              </md-button>
            </md-menu-item>
            <md-menu-item flex layout="column" ng-show="showFormats">
              <md-button class="side_navlist" ng-href="#/admin/requested-hoardings" ng-class="{'active-link': currStateName == 'admin.requested-hoardings'}" ng-click="changeRequest(); closeMenuSidenavIfMobile()">
                <div layout="row">
                <span flex="15"></span>
                Requested Hoardings
                </div>
              </md-button>
            </md-menu-item>
            <!--inventory list end-->
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/metro-packages" ng-class="{'active-link': currStateName == 'admin.metro-packages'}"
                ng-click="closeMenuSidenavIfMobile()">
                Metro Packages
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/metro-corridors" ng-class="{'active-link': currStateName == 'admin.metro-corridors'}"
                ng-click="closeMenuSidenavIfMobile()">
                Metro Corridors
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/user-management" ng-class="{'active-link': currStateName == 'admin.user-management'}"
                ng-click="closeMenuSidenavIfMobile()">
                User Management
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/companies" ng-class="{'active-link': currStateName == 'admin.companies'}"
                ng-click="closeMenuSidenavIfMobile()">
                Companies
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/callcenterinfo" ng-class="{'active-link': currStateName == 'admin.callcenterinfo'}"
                ng-click="closeMenuSidenavIfMobile()">
                Call Center info
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/subscribers" ng-class="{'active-link': currStateName == 'admin.subscribers'}"
                ng-click="closeMenuSidenavIfMobile()">
                Subscribers
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/floating-campaign" ng-class="{'active-link': currStateName == 'admin.floating-campaign'}"
                ng-click="closeMenuSidenavIfMobile()">
                Floating Campaign
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/admin-payment" ng-class="{'active-link': currStateName == 'admin.admin-payment'}"
                ng-click="closeMenuSidenavIfMobile()">
                Payments
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/admin-feeds" ng-class="{'active-link': currStateName == 'admin.admin-feeds'}"
                ng-click="closeMenuSidenavIfMobile()">
                Feeds
              </md-button>
            </md-menu-item>
            <md-menu-item class="nv-nav-item">
              <md-button class="side_navlist" ng-href="#/admin/productfull-details" ng-class="{'active-link': currStateName == 'admin.productfull-details'}"
                ng-click="closeMenuSidenavIfMobile()">
                Team
              </md-button>
            </md-menu-item>

          </md-list>
        </div>
      </md-content>
    </md-sidenav>
    <ui-view class="main_view" flex></ui-view>
    <div layout="column" layout-align="center center" style="position:absolute; bottom: 0px;width: 100%;background: #CCC">
      <div style="padding: 5px 0;">Powered by PeopleTech Group</div>
    </div>
  </div>
</div>