html,body{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    background: none !important;
}
/* global css start*/
.user_container{
	max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
}
.heading_2{
    /*font-family: "Playfair Display",serif;*/
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #548d9e;
    line-height: 2.5rem;
    font-style: normal;
    padding: 3.625rem 0 1.25rem 0;
    position: relative;
}
.heading_3 {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: capitalize;
    color: #BC2535;
    line-height: 2.5rem;
    font-style: normal;
    /* padding: 0.5rem 0; */
}
.paragraph{
    font-size: 1.3rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: none;
    color: #2d2d2d;
    line-height: 1.875rem;
    font-style: normal;
    font-family: 'Lato', sans-serif;
}
.contbg,.item{
    background: #fff !important;
}
.theme-txt{
    color: #FFF;
} 
.theme-text{
    color: #E85647;
}
.text_color{
    color: #DD1853;
}
.md-backdrop {
    background-color: none !important; 
}
md-backdrop.md-sidenav-backdrop {
    z-index: -1 !important;
}
md-backdrop.md-opaque {
    opacity: 1;
}
md-backdrop {
    z-index: 0 !important;
}
/* global css start end*/
/*home page css start*/
.home_banner{
    background: url(../images/banner-1920-usa.jpg) no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    display: flex;
    height:90vh;
    min-height: 90vh;
    background-position: center center;
}
.home_banner .banner_text{
    position: absolute;
    top: 50%;
    bottom: auto;
    right: 0;
    left: 24px;
    z-index: 1;
    width: 100%;
    letter-spacing: .05rem;
    transform: translateY(-50%);
    -webkit-transition: all .3s;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}
.etc_camapgin{
    padding: 4rem 0 !important;
    position: relative;
}
.etc_camapgin .etc_camapgin_process{
    position: relative;
    margin: 1rem 0;
}
.etc_camapgin .etc_camapgin_process .process_inner{
    padding: 5rem 1rem;
}
.etc_camapgin_process .process_inner .process-txt-info{
    margin-top: 2rem !important;
}
/* .formats::before{
    background: url(../assets/images/Kiosks_icon.png) no-repeat;
}
.formats::after{
    background: url(../assets/images/Kiosks_icon.png) no-repeat;
} */
/*home page css end*/