html,body{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.md-backdrop {
    background-color: none !important; 
}
md-backdrop.md-sidenav-backdrop {
    z-index: -1 !important;
}
md-backdrop.md-opaque {
    opacity: 1;
}
md-backdrop {
    z-index: 0 !important;
}
body{
    background: none !important;
}
/* .row {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
} */

.contbg,.item{
    background: #fff
}
.theme-txt{
    color: #FFF;
} 
.theme-text{
    color: #E85647;
}
.text_color{
    color: #DD1853;
}
/* ============= header css start ============*/
.logo-img {
    width: 160px;
    margin: 5px 0 0 0;
}
md-toolbar.md-default-theme.md-menu-toolbar, md-toolbar.md-menu-toolbar {
    /* background-color: #980000; */
    background-color: #BC2535;
    color: #fff;
}
.main-menu .md-button{
    margin: 1.5em 0;
    color: #fff !important;
    text-transform: capitalize;
}
/* =========header css end==================*/
/* ========= fotter css start ========= */
.footmain{
    background-color: #202020;
    padding: 5px 0;
    width: 100%;
    bottom: 0px;
    z-index: 9;
}
.footmain .text{
    color: #fff;
    margin-bottom: 4px;
    margin-right: 5%;
}
.footer_social_icons .fabicon md-icon{
    color: #FFF;
    min-height: 18px;
    max-height: 18px;
    min-width: 18px;
    max-width: 18px;
}
.footer_social_icons .fabicon md-icon:hover,.footer_social_icons .fabicon md-icon:active,.footer_social_icons .fabicon md-icon:visited{
    color: #980000 !important;
} 
/* .bottom-btn{
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.goToTop{
  background-color:rgb(198, 40, 40) !important;
  margin-bottom: 1%;
} */
/* ========= fotter css end ========= */

/* ============= home css start ==============*/
/*banner css start*/
.banner{
  width:100%;
  position: relative;
} 
.banner img{
    width: auto;
    max-width: 100%; 
} 
.banner .banner-text11{
    position: absolute;
    top: 20%;
    left: 4.5%;
}
.banner .banner-text11 .getstart-btn{
    padding: 0px 30px 0 30px;
    border-radius: 0;
}
/*fab dail*/
.fab_dail{
    position: fixed;
    right: 10px;
    z-index: 99;
    bottom: 16%;
}
.fab_dail .call-btn{
    background: #488edf !important;
    width: 50px !important;
    height: 50px !important;
}
/* banner css end*/
/* what we do css start*/
.what_we_do {
    background: #eee;
    width: 100%;
} 
.what_we_do .whtwedo{
  padding-top: 100px;
  padding-bottom: 130px;
  background: rgba(238, 238, 238, 0.36);
} 
.what_we_do .whtwedo h2{
  font-weight: 900 !important;  
  text-transform: capitalize;
}
.what_we_do .whtwedo p{
  width: 50%;
  text-align: center;
  font-size: 14px !important;
  /* font-weight: 300 !important;
  opacity: .8; */
}
.whtwedo_inner_text .mrgn-top{
  margin-top: 10px !important;
  width: 50px;
}
.whtwedo_inner_text .fnt-weight{
  font-weight: 600!important;
}
/* what we do css end*/
/* search billboards css start*/
/* .bbsco {
    background: #eee;
}  */
.search__billboard{
  width: 100%;
}
.search__billboard .search__inner__left{
    padding: 30px;
}
.search__billboard .search__inner__left h3{
  color: #E74C3C; 
  font-size: 30px;
}
.search__billboard .search__inner__left h4{
  font-size: 30px;
}
.search__billboard .search__inner__right{
  margin-top: 55px;
}
.search__inner__right .search__inner__right__btn{
  margin: 8px 0 0 0;
}
.search__inner__right .search__inner__right__btn .newbbsub{
  padding-right: 30px;
  padding-left: 30px;
}
/* search billboards css end*/
/*our servies css start*/
#recentActivities{
	margin:50px 0 10px 0;
}
.recent-activities{
    background: #e6eeee;
    padding: 40px 0px 70px;
}
.recent-activities h1{
  text-align: center;
  margin-top:50px;
  font-weight: 900;
}
.recent-img img{
  width: 100%;
}
.recent-img, .recent-text{
	padding-left: 0px;
	padding-right: 0px;
	text-align: justify;
}
.recent-text{
  padding: 0px 50px 10px 10px;
}
.recent-text h2{
    color: #16578F;
}
.recent-text .p-tag{
  margin: 20px 0 30px;
}
.view-more{
  padding: 0px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  background: #E85647 !important;
} 
.view-more:hover{
	color: #525252;
	text-decoration: none; 
}
.recent-activities .carousel-control-next, .recent-activities .carousel-control-prev{
  width:0% !important;
  color: #757575;
  cursor: pointer;
} 
.arrow-icon{
  font-size: 40px !important;
}
/*our servies css end*/
/*we make outdoor ad css start*/
.we__make__outdoor{
  width: 100%;
}
.we__make__outdoor .wemake-outdoor{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 80px;
}
.we__make__outdoor .wemake-outdoor .wemake-inner-text{
  font-weight: normal;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}
.we__make__outdoor .wemake-outdoor .border{
  border: 2px solid #E85647 !important;
  padding: 10px 40px;
  margin: 0px 25px 0 0px;
}
.outdoor__media{
  width: 100%;
}
.outdoor__media .part-one,.outdoor__media .part-four{
  background: #fff;
  padding: 50px;
}
.outdoor__media .part-two,.outdoor__media .part-three{
  background: #eee;
  padding: 50px;
}
.outdoor__media .part-two img{
  width:270px;
}
.outdoor__media .part-three img{
  width:320px
}
/* .outdoor__media .outdoormedia{
    padding: 30px;
} */
/*we make outdoor ad css end*/
/*keep in touch css start*/
.keep_in_touch{
  padding-top: 65px;
  padding-bottom: 60px;
}
.keep_in_touch .keep_in_touch_top h4{
  width: 50%;
  text-align: center;
}
.keep_in_touch .keep_in_touch_bottom{
  padding-top:50px;
}
.keep_in_touch_bottom .confor{
  width: 70%;
  background: #eee;
  padding: 52px 30px;
}
.keep_in_touch_bottom .contstS{
  padding: 71px 40px;
  width: 70%;
}
/*keep in touch css end*/
/*news letter css start*/
.new_letter_section{
  width: 100%;
  background:#000;
}
.new_letter_section .newletter_section_inner{
  width:85%;
  margin:0 auto;
}
.newletter_section_inner .outdoormedia{
    padding: 30px;
}
.newletter_section_inner .outdoormedia h3{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 22px;
}
.newletter_section_inner .outdoormedia h4{
    padding-top: 5px;
    /* padding-bottom: 30px; */
    font-size: 1rem;
    line-height: 28px;
    color: #FFF;
    text-align: justify;
}
.newletter_section_inner .outdoormedia .line-sub{
     margin-bottom: 15px; 
}
.newletter_section_inner .outdoormedia .subscribe-form {
    position: relative;
    width: auto; 
}
.newletter_section_inner .outdoormedia .subscribe-form input {
    background-color: #f3f3f3;
    border: 0;
    padding: 8px;
    width: 100%;
    font-size: 1.1rem;
}
.newletter_section_inner .outdoormedia .subscribe-form button {
    font-size: 1rem;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 0;
    color: #000;
    background: #ffcd34;
    padding: 8px 8px;
    width: 50px;
    cursor: pointer;
    letter-spacing: 1px;
}
/*news letter css end*/
/* contact form  css start */
.rquest-width {
    width: 85%;
}
.never-miss{
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 0px;
}
.expose-brand{
    font-weight: 700;
    margin: 0 0 0 8px;
}
/* contact form  css start */
/* ============= home css end ==============*/

/* ============= pricing  page css start ================*/
.pricing__section{
    width: 100%;
}
.pricing__section .pricing-head{
    background: #488EDF;
    width: 100%;
    height: 200px;
}
/* .pricing__section .pricing-head h2{
    line-height: 50px;
} */
.pricing__section ._packages{
    padding: 60px 0;
    position: relative;
    width: 100%;
    background: #eee;
}
.pricing__section ._packages .packages_inner{
  margin: 0 auto;
  width: 100%;
}
/* ._packages .packages_inner md-card{
  padding: 30px 0;
} */
._packages .packages_inner md-checkbox .md-icon{
    border-radius: 50% ! important;
}
._packages .packages_inner h2{
  color: #488EDF; 
}
._packages .packages_inner h3{
  color: #19D872;
}
._packages .packages_inner .main-text{
    color: #AFC5DF;
    line-height: 25px;
}
._packages .packages_inner .inner-img{
    width: 190px;
    height: 130px;
    text-align: center;
    margin: 15px auto;
    display: block;
}
._packages .packages_inner .inner-text{
    text-align: center;
    line-height: 30px;
    color: #95989A;
    font-size: 18px;
}
._packages .packages_bottom{
    position: absolute;
    bottom: 65px;
    right: 0px;
    width: 250px;
}
._packages .packages_bottom .Confusion-txt{
    font-size: 20px;
    line-height: 30px;
    font-family: regluar;
    margin-bottom: 10px;
}
/* ============= pricing  page css end ================*/
/*==================== why outdoor page css start ==================*/
.wod {
    overflow: hidden;
}
.wod .wodpagimg {
    position: absolute;
    width: 100%;
}
.wod .wodcotainer {
    background: #fff none repeat scroll 0 0;
    margin: 0 33px;
    padding: 58px 47px 58px 50px;
    position: relative;
    top: 289px;
}
.wod .wodcotainer h1 {
    font-size: 32px;
    font-weight: 500;
    margin-left: 18px;
    margin-top: 13px;
    color: #980000;
}
.wod .wodcotainer .wodheadcon {
    margin-left: 6px;
    margin-top: 55px;
}
.wod .wodcotainer .wodmyadi {
    margin-left: 6px;
    margin-top: 15px;
}
.wod .wodcotainer .wodmyadi h2 {
    font-size: 24px;
    font-weight: 500;
}
.wod .wodcotainer .wodmyadi .wodmyadicon {
    margin-left: 2px;
    margin-top: 26px;
}
.wod .wodcotainer .wodmyadi .wodmyadicon p {
    font-size: 16px;
    font-weight: 400;
}
.wod .wodcotainer .wodmyadi .wodmyadicon b {
    font-size: 16px;
    font-weight: bold;
}
.wod .wodcotainer .wodmyadi .wodmycadon {
    margin-top: 20px;
    padding-bottom: 26px;
}
.wod .wodcotainer .wodmyadi .wodmycadon .cadimgone img {
    width: 100%;
}
.wod .wodcotainer .wodmyadi .wodmycadon h2 {
    border-bottom: 1px solid;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 35px;
    padding-left: 18px;
    padding-top: 13px;
}
.wod .wodcotainer .wodmyadi .wodmycadon p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    padding: 15px 9px 0 20px;
}
.wod .omwod {
    margin: 309px 30px 0 33px;
}
.om {
    background-color: #980000;
    margin: 25px 0;
}
.om .omc {
    min-height: 219px;
    padding: 2px 104px 0 0;
}
.om .omc .omso {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-top: 83px;
    text-align: center;
}
.om .omc .omso {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-top: 83px;
    text-align: center;
}
.om .omc .omsto {
    padding: 46px 0 32px 23px;
}
.om .omc .omsto .val {
    color: #fff;
    font-size: 53px;
    font-weight: 500;
    margin-left: 13px;
}
.om .omc .omsto .cont {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 12px;
}
.om .omc .omsom {
    padding: 31px 0 28px 54px;
}
.om .omc .omsom .omsomOm {
    color: #fff;
    padding: 75px 0 0 26px;
}
.om .omc .omsom .omsomOm h1 {
    margin: 0px;
}
.om .omc .omsom .omsomOm p {
    margin: 0px;
}
.om .omc .omsh {
    padding: 23px 0 0 56px;
}
/*==================== why outdoor page css end ==================*/

/*====================formats page css start ====================*/
.hoarding-btn:hover,.hoarding-btn:active,.hoarding-btn:focus{
  color: #980000;
}
.formats-page .frt-head{
  text-transform: capitalize;
  color: #980000;
  margin: 10px 10px;
  font-size: 30px;
  font-family: sans-serif;
}
.formats-page{
  background: #fff;
  margin-top: 20px;
  margin-bottom: 70px
}
.formats-page .frt-text{
  font-size: 16px;
  line-height: 28px;
  font-family: sans-serif;
  padding: 10px;
}
/*new slider css start (formats page)*/
.assets-section {
    position: relative;
}
.assets-section .section-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    background-color: #f3f3f3;
    height: 66%;
}
.assets-section .assets-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1160px;
    position: relative;
}
.p-0 {
    padding: 0 !important;
}
.assets-section .assets-container .carousel-container {
    position: relative;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.assets-section .assets-container .carousel-container .control-prev {
    right: 46px !important;
}
.assets-section .assets-container .carousel-container .control-prev, .assets-section .assets-container .carousel-container .control-next {
    background-color: #fff;
    color: #737373;
    padding: .3rem .88rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.assets-section .assets-container .carousel-container .yellow-btn {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
}
.yellow-btn {
    background-color: #ffcd34 !important;
    color: #000;
}
.white-btn, .yellow-btn {
    background-color: #fff;
    padding: 15px 30px;
    color: #000;
    font-family: "proxima-nova";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: .75rem;
    display: inline-block;
}
 .yellow-btn:hover {
    text-decoration: none;
    background-color: #496377 !important;
    color: #FFF;
    transition: all ease .5s;
}  
.assets-section .assets-container .carousel-container h5 {
    letter-spacing: 1px;
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.assets-section .assets-container .carousel-container .control-prev:hover, .assets-section .assets-container .carousel-container .control-next:hover {
    background-color: #737373;
    color: #fff;
} 
/*new slider css end*/
/* ============= formats page css end =============*/
/* ============= user profile css start =============*/
/* .user_profile_section{
      margin: 18px auto;
} */
.profile__details {
    text-align: center;
    padding: 50px 0 20px;
    width: 100%;
    margin-bottom: 0 !important;
}
 .profile__details .profile__img img{
  width:120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}
 .profile__details h3{
    font-size: 24px;
    margin: 10px;
}
.profile__details h4{
    font-size: 16px;
    color: #980000;
}
 .profile-icons{
    width: 100%;
    border-bottom: 5px solid #6bd4bf;
    border-top: 2px dashed #980000;
    margin: 0;
} .profile-icons h1{
  text-align: center;
    margin: 20px;
    color: #4a484a;
}
.profile_inner{
    padding: 25px 0;
}
.profile__img{
    width:120px;height:120px;border-radius:50%;margin-top:15px;border: 1px solid #ccc;
}
.edit__icon{
    position: absolute;
    top: -50px;
    right: 0px;
    cursor: pointer;
    background: #980000;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
}
.prof_name {
    margin-left: 40px;
}
.prof_name h3{
    margin-top: 20px;
    color: #980000;
}
.prof_name h4{
    background: #ccc;
    padding: 10px 15px 10px 0px;
}
.prof_name h4 span{
    background: #6bd4bf;
    padding: 9px 17px;
    color: #fff;
    margin-right: 10px;
}
.Campaigns__info{
    margin-top: 20px;
    padding: 20px 0 0;
}
.Campaigns__info h1{
    margin-left: 30px;
}
/* ============= user profile css start =============*/
/* ============= reset password css start =============*/
/* .setting-page{
    background-image: url('/assets/images/banner-setting.png');
    background-position: center center;
    background-size: cover;
} */
/* ============= reset password css start =============*/

/*======= location page search css start ============*/
/*==search css start==*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    /* border-radius: 6px; */
    background-color: #fff;
    width: 262%;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;
}
#custom-search-input .input-group{
    height: 30px;
}
#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 4px 8px 0 10px;
    border-left: solid 1px #ccc;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
#custom-search-input .material-icons{
    font-size: 23px;
}
/* =====scroll bar coustom css start  =====*/
.scrollbar__style::-webkit-scrollbar
{
	width: 4px !important;
    background-color: #F5F5F5;
    height: 200px !important;
}
.scrollbar__style::-webkit-scrollbar-thumb
{
    background-color: #eee !important;
    height: 200px !important;
}
/* ===== scroll bar coustam css end =====*/
/*==search css start==*/
.side-navpadding{
  padding-top:2px !important;
  padding-bottom:2px !important;
  padding-right: 0px;
}
/*==side nav ===*/
.main__sidenav{
    position: absolute !important;
    top: 1px !important;
    /* background: rgb(245, 245, 245,.6); */
    /* background: rgba(201, 201, 201,.6); */
    background: none;
}
.sidemenu__button{
    width: 25px;
    height: 48px;
    cursor: pointer;
    padding: 0px;
    background: rgba(255,255,255,0.9);
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.sidenav__ineer{
  max-height: 610px;
  overflow-y: auto;
}
/*======= location page css end ============*/

/*Notification demo css*/
.shrtlst{
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 20px;
}
.shrt-pdng {
    margin: 0 5px 0 5px;
}
.saved-border{
    border: 1px solid #adaeb0;  
    padding: 4px;
}
.saved-date{
    margin: 8px 0px 0 0px
}
.campagin-name{
    opacity: .8;
}
.saved-btn{
    font-size: 12px !important;
    margin: 0px !important;
}
.remm-btn{
    font-size: 12px !important;
}
/*this for Campaign page  */
.search{
    height: 32px;
    border-radius: 4px;
    padding: 14px;
}
/* .inputDiv {
    padding: 13px;
} */
/* md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
    color: #488edf;
}
.md-raised md-primary{
    background-color: #488edf;
    color: #fff;
} */
md-card.md-default-theme .md-card-image, md-card .md-card-image:first-child {
    border-radius: 2px 2px 0 0;
}
/* .userImg {
    border-radius: 2px 2px 0 0;
    height: 200px;
    border-radius: 65px 63px 66px;
    width: 200px;
    align-content: center;
    float: right;
    margin: 0% 40% 2% 45%;
} */
/*favicon images here*/
.fabSpeedDial .text-capitalize {
    text-transform: capitalize; 
}       
.fabSpeedDial .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; 
}    
.fabSpeedDial p.note {
    font-size: 1.2rem; 
}       
.fabSpeedDial .lock-size{
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; 
} 
.header.active {
    position: fixed;
    z-index: 1030;
    background:  #980000 !important; 
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    /* transition: all 2s ; 
    -webkit-transition:all 2s;
    animation-name: example;
    animation-duration: 0.8s; */
    transition: all .8s ease-in-out;
}  
.active-one{
  color: #000!important;
} 
.active-two{
  background: #980000 !important;
}
/* formats */
.digital-board{
    position: relative;
}
.digital-inner{
    position: absolute;
    top: 100%;
    background: #fff;
    z-index: 9;
}
/* profile page */
.profile-campagin md-tabs-canvas {
    background: #fff
}
.inputDiv{
    background: #ccc;
}
.inputDiv .search{
    background: rgb(204, 204, 204) none repeat scroll 0% 0%;
    width: 25%;
    height: 0px;
    margin: 5px 0 5px 0;
    border-radius: 0;
}
/* campagin edit page css */
.bg-part{
    position: relative;
}
.line-bar{
    width:100%;
    height: 150px;
    background: #488EDF;
}
.client_info,.Campaign_summary{
    padding: 0px 50px 10px;
}
/* .client-summay{
    margin: -90px 0 0 0;
}  */
/*saved campagin popup*/
.saved-dates.md-button.md-icon-button{
    padding: 0px;
}
/* pointer on click popup*/
/* .map-img{
    position: relative;
} */
/* .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background:#fff;
} */
/*map css start*/

/* map search fileds */
/* .search-field md-input-container .md-errors-spacer{
    min-width: 0px;
} */
/* .search-part{
  top:0%;
  position:absolute;
  width:350px;
} */
/* .search-field .search-bg{
    height: 40px !important;
    background-image: url('/assets/images/maps/search.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 320px !important;
    background-color: #fff;
    padding: 10px
}
.search-field {
     padding: 0px;
}
.search-input{
    height: 35px !important;
} */
/* .map-sidenav{
  top: 12%;
} */

.formats-types,.short-list,.saved-campagin{
   background: #FFF !important;
   /* width: 320px !important; */
  padding: 0px;  
}
.formats-types md-list-item{
  padding: 0px;
}
.img-size{
   width:30px;
   height:30px;
}
/* filters*/
.main-icon img{
    width: 14px;
    margin-right: 8px;
}
.main-part{
  /* width:320px; */
  /* background:#2C3E50; */
      background:#44596D;
   /* opacity: .8;  */
  /* height: 35px; */
}
/* .float_color a{
    color:#000;
} */
.filters{
  background: #FFF !important;
  /* width: 320px !important; */
}
.filter-form{
  height: 40px;
  padding: 0 0px 0 4px;
  margin-bottom: 20px;
}
md-input-container.pstcde {
    width: 100%;
    height: 35px;
    margin: 0px 0 15px 0 !important;
}
.select-value md-select-value {
  border-bottom-width: 0px !important;
  border-bottom-style: none !important;
}
.armrgn{
margin: 2px;
}
.armrgn md-input-container{
  margin: 5px 0 !important;
  width: 100%;
} 
.slider-part{
  margin: 0 0 10px 0;
}
.slider-range{
  margin-top: -10px;
}
.rnge{
    margin: 4px 0 0 0;
    opacity: .5;
}

.list-name{
    margin: 25px 15px 0 0;
}
.list-name span{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 15px;
    margin: 0px 0 0 0;
}
.list-item-text h3{
    margin-bottom: 10px !important;
}
.list-checkbox{
    margin: 10px 0 0 10px !important;
}
.btn-margin-saved{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.btn-margin-saved .md-icon-button{
    margin: 0 30px 0 30px !important;
}
/* shortlited popup*/
.plane-size{
    border: 2px solid #ccc;
    padding: 3px;
}
.margin-con{
    margin: 0 10px 0 0px;
}
.suggtn{
    text-align: center;
}
.suggtn .suggtn-one{
    font-size: 12px;
    opacity: .5;
}
.suggtn-two a{
    text-decoration: none;
    color: #ff5722;
}
/*saved campagin popup*/
.saved-dates .md-datepicker-triangle-button.md-button.md-icon-button,
.sug-dates .md-datepicker-triangle-button.md-button.md-icon-button{ display: none}
.saved-dates .md-icon-button+.md-datepicker-input-container{margin-left:0px;}
/*suggation*/
.sug-dates .md-icon-button+.md-datepicker-input-container{
  width: 80%;
}
/*main site css start*/
/* homepage css start*/
/* md-toolbar.md-default-theme.md-menu-toolbar, md-toolbar.md-menu-toolbar {
  background-color:#fff !important;
}
md-menu-bar.md-default-theme>button.md-button, md-menu-bar>button.md-button,{
color: #3c3a3b !important;
} */
.watch-btn{
    color: #fff !important;
    padding: 0 30px 0 30px !important;
    border-radius: 0 !important;
    background-color:#000 !important; 
}
/*weekly site case*/
.weekly-case{
  padding-top: 50px;
  background: #fff
}
/* .logo{
    background:transparent;
    margin-left: 50px;
} */
  /*slider*/
.fontfamily{
    font-family: roboto !important; 
}
  /*map*/
.red {
    color:#488edf; 
}
.light,.moderate,.havey,.extrem {
    height: 20px;
    width: 80px;
}
.light{
    background: #7fcb56;
}
.moderate{
    background: #ea821e;
}
.havey{
    background: #e02615;
}
.extrem{
    background: #330B09;
}

.goto-top{
  width: 50px !important;
  height: 50px !important;
}
  /*loader*/
.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1  image width / 2 */
  margin-top: -32px; /* -1  image height / 2 */
  display: block;
}
#mydiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: grey;
  opacity: .8;
}
/*Vasu .CSS*/
#shortlistscrollbar-style::-webkit-scrollbar
{
	width: 6px;
  background-color: #F5F5F5;
}
#shortlistscrollbar-style::-webkit-scrollbar-thumb
{
	background-color: #eee;
}
.shortlistscrollbar {
    max-height: 240px;
    overflow-y: auto;
}
#filterscrollbar-style::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
#filterscrollbar-style::-webkit-scrollbar-thumb
{
	  background-color: #eee;
}
/* .filterscrollbar {
    max-height: 240px;
    overflow-y: auto;
} */
/* .filterscrollbar:hover {
overflow-y:scroll;
} */
#savecamp-style::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
#savecamp-style::-webkit-scrollbar-thumb
{
	  background-color: #eee;
}
.savescrollbar {
    max-height: 325px;
    overflow-y: auto;
}
 
/* .force-overflow
{
	min-height: 130px;
} */
/*Vasu .CSS End*/
.txt-mrng{
    margin-top: 2px;
    /* margin-left: 5px; */
    font-size: 12px;
}
.color-theme{
  color:#a8a8a8;
}
.top-toolbar{
    background: #7b7878;
    color: #fff;
}
.filters-text{
  margin-top: 10px;
}
.formats-bottom-btn{
  position: absolute;
  bottom: 1px;
}
.shortlist-mobile{
  bottom: 2px !important;
}

.red-one{
  display: hide;
}

.blue-one{
  display: show;
}
.rquest-width{
  width:100%;
}
.fliterside-btn{
      background: #2C3E50 !important;
}
.sidenav-width_map{
 width: 350px !important; 
  z-index: 9 !important;
  height: 90vh;
  margin-top:0px;
}
.sidenav-width{
  width: 350px !important; 
  z-index: 9 !important;
}
.sidenav-width_productlist{
    width: 350px !important; 
    z-index: 9 !important;
    height: 90vh;
    margin-top:65px;
  }
 .short_imagecenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 2px solid #ddd;
    padding: 30px;
 } 
 
/* suggest me css start*/
.suggest-inner{
  width: 70%;
    text-align: center;
    margin: 20px 0;
}
.suggest-logo{
    margin: 30px 0;
}
.name-suggest{
  padding: 10px 0 30px;
  /* border-bottom: 1px solid #ccc; */
}

/* .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

/*suggestme page new css*/
/* form styling */
#form-container                { background:#FFF; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#00BC8C; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:418px; overflow:hidden; padding:30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}
/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}
md-checkbox .md-icon {
    border-radius: 50% ! important;
}
/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}

/*=========================
/////////////// L&T CSS///////
============================*/
.c-name{
    margin: 30px 10px 0 0;
}
.c-name span{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    margin: 0px 0 0 0;
}
.one_week{    
    padding: 8px;
    /* background: #3bab8ce0; */
    margin: 0;
    color: #fff;
}
/* #mapContainer{
    background-image: url(../images/maps/Map_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%; 
    height: auto;
} */
/* .metro_package_bg0{
    background: linear-gradient(to right, #8AFFB5  ,#00CC88);
}
.metro_package_bg1{
    background: linear-gradient(to right,#479DFF  ,#35EEE1);
} 
.metro_package_bg2{
    background: linear-gradient(to right, #479DFF  , #35EEE1);
} 
.metro_package_bg3{
    background: linear-gradient(to right, #FEC180  ,#FF8993);
}
.metro_package_bg4{
    background: linear-gradient(to right, #FF85F3  ,#887BFF);
}
.metro_package_bg5{
    background: linear-gradient(to right, #FE80CC  ,#FF8993);
} */
.slect_btn{
    background: #556472 !important;
    margin-left: 0px;
    text-transform: capitalize;
}
.right_side_pack p{
    margin-bottom: 0;
    text-transform: capitalize;
}
.slect_slot{
    margin-top: 20px;
}
/* ========================
    //////media qureys//////////
==============================*/
/*============================
  //////// v2 version css start /////
=============================*/
/* .daterangepicker{
    top: 40% !important;
    left: auto !important;
    right: 1% !important;
}
.daterangepicker:before,.daterangepicker:after{
    display: none !important;
}
.daterangepicker {
    width: 340px !important;
}
.daterangepicker .calendar-table td, .daterangepicker .calendar-table th{
    min-width: 21px !important;
    width: 21px !important;
} */
.map_filters_intro{
    display: block;
}
/*=====tablet media qureys start =====*/
@media screen and (min-width: 600px) and (max-width: 750px){
   .what_we_do .whtwedo {
    padding-top: 50px;
     padding-bottom: 50px; 
  }
}
@media screen and (min-width: 751px) and (max-width: 959px){
  .what_we_do .whtwedo {
    padding-top: 50px;
     padding-bottom: 50px; 
  }
}
/*formats  slider css start*/
@media (min-width: 992px){
  .assets-section .assets-container .carousel-container {
      padding-right: 10px;
  }
}
@media (min-width: 768px){
  .rooms-image-asbg {
      height: 650px;
  }
  .subscribe-form {
    width: auto !important;
  }
} 
@media (min-width: 992px){
  .assets-section .assets-container .carousel-container .yellow-btn {
      padding: 0px 7px;
      /* right: -96px; */
      width: 96px;
      height: 96px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .assets-section .assets-container .carousel-container h5 {
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform: rotate(-90deg) translateX(100%);
    -ms-transform: rotate(-90deg) translateX(100%);
    -webkit-transform: rotate(-90deg) translateX(100%);
    -moz-transform: rotate(-90deg) translateX(100%);
    position: absolute;
    right: 0;
    bottom: -32px;
  }
  
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  /* header n banner start*/
  .logo {
    margin: 0 0 0 0 !important;
  }
  .logo .logo-img{
     width:130px;
  }
  .notofication-sidnav{
    margin-top: 50px !important;
  }
  .fab_dail .call-btn{
    background: #488edf !important;
    width: 40px !important;
    height: 40px !important;
 }
  .main-slider {
    margin-top: 0;
  }
  .banner{
    width:auto;
  }
  
  .browse-btn{font-size: 12px !important}
  .bannertet-top{font-size: 18px !important; }
  .bannertet-bottm{ font-size: 20px !important; }
  .getstart-btn {
    padding: 0px 10px 0 10px;
    margin: 0px;
  }
  /* header n banner end*/
  /*what we do start*/
  /* .whtwedo {
    margin: 120px 0 0 0;
     padding-bottom: 50px; 
  } */
  .what_we_do .whtwedo h2{
    font-size: 20px !important;
  }
  .what_we_do .whtwedo p{
    font-size: 16px !important;
  }
  .campagin-name {
    font-size: 16px !important;
  }
  .search__billboard .search__inner__left h3 {
    font-size: 24px !important;
  }
  .search__billboard .search__inner__left h4{
    font-size: 24px !important;
  }
  .search__billboard .search__inner__right{
      margin-top: 0px;
  }
  .search__billboard .search__inner__left {
      padding: 30px 0 0 10px;
  }
  .we__make__outdoor .wemake-outdoor .wemake-text{
    font-size: 30px !important;
  }
  .we__make__outdoor .wemake-outdoor .wemake-inner-text{
    font-size: 14px !important;
  }
  .we__make__outdoor .wemake-outdoor .border {
        padding: 5px 20px !important;
  }
  .contact-text{
    font-size: 20px !important;
  }
  .what_we_do .whtwedo p{width: 100%;}
  /*what we do end*/
  /*formats*/
  .recent-text {
    padding: 0px 30px 10px 30px;
  }
  .recent-img img {
    margin: 12px 0 0 0px;
    padding: 10px;
}
.recent-img img {
    width: 93%;
}
  .recent-text .p-tag {
    margin: 20px 0 20px;
  }
  .view-more{
    float: right;
  }
  /*what we do*/
  .we__make__outdoor .wemake-outdoor {
    text-align: center;
    width: 100%;
    margin-bottom: 2px !important;
  }
  .outdoor-text{
    font-size: 30px !important;
  }
  .outdoor-inner{
    font-size: 40px !important;
  }
  keep_in_touch .keep_in_touch_top h3{
    font-size: 24px !important;
  }
  /*keep in tounch*/
  .keep_in_touch_bottom .contstS{
    margin: 0 auto;  
  }
  .keep_in_touch .keep_in_touch_top h4{
    text-align: center;
    width: 90%;
  }
  .keep_in_touch_bottom .confor {
    width: 70%;
    margin: 20px auto;
  }
  .outdoor__media .part-three {
    border-top: 1px solid #fff;
  }
  .keep_in_touch_bottom .contsr{
    padding:0px !important;
  }
  /*news letter css*/
  .new_letter_section{
    padding: 25px 0px;
  }
  .new_letter_section .newletter_section_inner {
    width: 95%;
    margin: 0 auto;
  }
  .newletter_section_inner .outdoormedia {
    padding: 5px 0;
  }
  .newletter_section_inner .outdoormedia h4{
    padding-bottom: 0px;
  }
  .newletter_section_inner .outdoormedia .subscribe-form input{
    width: 50%;
  }
  .newletter_section_inner .outdoormedia .subscribe-form button{
    right:51%;
  }
  /*pricing page*/
  .pricing__section ._packages .packages_inner {
    margin: 0 auto;
    width: 75%;
  }
  /*whyoutdoor page css start*/
   .wod .wodpagimg {
    position: static !important;
  }
  .wod .wodcotainer {
    position: static !important;
      margin:33px;
      top: 0px !important;
      padding: 30px;
  }
  .wod .wodcotainer h1 {
    font-size: 24px;
    margin-left: 0px;
  }
  .wod .wodcotainer .wodheadcon {
    margin-top: 20px;
  }
  .wod .omwod {
    margin: 33px;
  }
  .om .omc {
    min-height: 219px;
    padding: 20px 0;
  }
  .om .omc .omso {
    margin-top: 20px;
  }
  .om .omc .omsto {
    padding: 46px 0 32px 40px;
  }
  .om .omc .omsom .omsomOm {
    color: #fff;
    padding: 45px 0 0 26px;
  }
  .inputDiv .search{
    width: 89%;
    height: 0px;
  }
  .inputDiv {
    padding: 0px;
  }
  /* .outdoorwidth {
  width: 100% !important;
  } */
  .sidenav-width{
  width: 350px !important;
  }
  .never-miss {
    margin-top: 0px;
    font-size: 22px !important;
  }
  .expose-brand{
    font-size: 24px !important;
  }
  .rquest-text{
    font-size: 20px !important;
  }
  .sugggest-heading{
    color: #980000;
    margin: 20px 0;
    font-size: 22px;
    font-weight: 500;
  }
  .sugggest-name{
    font-size: 22px;
    font-weight: 500;
    color: #980000;
  }
}
/*=====tablet media qureys end =====*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

  .logo {
    margin: 0px 0 0 0 !important;
  }
  .outdoorwidth {
    width: 100% !important;
  }
  /*  */
  .logo-img{
    width:130px;
    margin: 0 0 0 0;
  }
  .main-slider {
    margin-top: 0;
  }
  .banner{
    width:auto;
    max-width: auto !important;
  }
  .toolbar-btn{
    margin: 0px;
  }
  .browse-btn{font-size: 14px !important}
  .bannertet-top{font-size: 20px !important; }
  .bannertet-bottm{ font-size: 28px !important; }
  .getstart-btn {
    padding: 0px 15px 0 15px;
    margin: 0px;
  }
  /* header n banner end*/
  /*what we do start*/
  .what_we_do .whtwedo {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .search__billboard .search__inner__left h3{
    font-size: 24px !important;
  }
  .search__billboard .search__inner__left h4{
    font-size: 22px !important;
  }
  .search__inner__right .search__inner__right__btn .newbbsub {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .search__billboard .search__inner__right {
    margin-top: 36px;
    }
  .we__make__outdoor .wemake-outdoor .wemake-inner-text{
    font-size: 16px !important;
  }
  .border {
    padding: 6px;
  }
  .contact-text{
    font-size: 20px !important;
  }
  .outdoor-text{
    font-size: 26px !important;
  }
  .what_we_do .whtwedo p{
    font-size: 16px !important;
  }
  .keep_in_touch .keep_in_touch_top h3{
    font-size: 28px !important;
  }
  .what_we_do .whtwedo h2{
    font-size: 22px !important; 
  }
  .what_we_do .whtwedo p{width: 100%;}
  /*what we do end*/
  /*slick slider*/
  .item-home {
    padding: 10px !important;
  }
  .item-home {
    height: 250px !important;
  }
  .slider-text{font-size: 12px !important;
  }
  .item .caption {
    font-size: 24px;}
  /*what we do*/
  .we__make__outdoor .wemake-outdoor {
    text-align: center;
    width: 100%;
  }
  /*keep in tounch*/
  /* .conts {
    background:none;
    padding-top: 30px;
  } */
  /* .keepin-text{
    text-align: center;
  } */
  .keep_in_touch_bottom .confor {
    width: 70%;
  }
  .keep_in_touch .keep_in_touch_top h4 {
    width: 60%;
    text-align: center;
  }
  .recent-text {
    padding: 0px 20px 10px 30px;
   }
  .outdoor__media .part-three {
    border-top: 1px solid #fff;
  }
  .part-four {
    padding: 30px !important;
  }
  .inputDiv .search{
    width: 90%;
    height: 0px;
    margin: 0px 0 0px 0;
  }
  .inputDiv {
    padding: 10px;
  }
  .sidenav-width{
  width: 350px !important;
  }
  .never-miss{
    font-size: 24px !important;
  }
  .rquest-width{
    width:90%;
  }
}

.serverErrors {
    color : red;
    padding-left: 14em;
}
.serverErrors div {
    padding-left: 1em;
    padding-bottom: 1em;
}

.serverErrors li  {
    list-style-type: none;
}
.trains_nbr {

    width: 50px;
    float: right;

}



/*==========================
************new css*********
============================*/

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    
    border: 1px solid #d3d3d3;
    width: 300px;
    top:10px;
    left: 0;
    height:auto; 
    padding: 5px;
    opacity: 1;
}
#mydivheader {
    z-index: 10;
    text-align: left;
}
#mydivheader .menu__btn{
    cursor: move;
}
.menu_move{
    margin-top: 1px !important;
}
.close-btn {
    top: 0;
    right: 0px;
    background: #eee;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.save_r_excited{
  position: relative
}
.prodct_save{
  position: absolute;
  bottom: 0px;
  background: #fff;
  width: 100%;
  z-index: 9;;
}
#myProduct{
    background-color: #fff;
    border: 1px solid #d3d3d3;
    width: 98%;
    top:10px;
    height:auto; 
    padding: 5px;
}
/* #myProduct {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    width: 22%;
    top: 10px;
    height: auto;
    padding: 5px;
    position: fixed;
} */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0;
}
.product_heading{
    flex: 0 0 23%;
    max-width: 23%; 
}
.product_detalis{
    flex: 0 0 77%;
    max-width: 77%; 
}
.product_btn a{
    background: #BC2535;
    color: #fff;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: .25rem !important;
}
.saved_search_user{
    margin-top: 10px;
    margin-right: 14px;
    width: 93%;
}
.w-5 {
    flex: 0 0 5%;
    max-width: 5%;
}
.w-10{
    flex: 0 0 10%;
    max-width: 10%;
}
.w-15 {
    flex: 0 0 15%;
    max-width: 15%;
}
.w-20 {
    flex: 0 0 20%;
    max-width: 20%;
}
.w-25 {
    flex: 0 0 25%;
    max-width: 25%;
}
.w-30{
    flex: 0 0 30%;
    max-width: 30%;
}
.chat_box ul li{
    list-style: none;
}
.user_dec{
    background: #000;
    padding: 5px 11px;
    color: #fff;
    margin-right: 15px;
}
.user_bi{
    background: #BC2535;
    padding: 5px 10px;
    color: #fff;
    margin-right: 15px;
}
/*========================
=======metro new design=============
=======================*/
.metro_new {
    background-color: #ffffff38 !important;
    /* min-height:180px !important;  */
    height: auto !important;
}
.metro_pkgs{
    /* position: absolute;
    min-width: 45%;
    width: auto;
    top: 3%;
    left: 25%;
    background: #ffffffba !important;
    padding: 15px 0px;
    border-radius: 15px; */
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 45%;
    top: 10%;
    left: 31%;
    padding: 10px 10px 0px 10px;
    z-index: 99 !important;
    

}
.metro_pkg_btn{
    /*margin: 0px 36px 0px 65px; */
    background: #fff;
    color: #FE0000;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    /* text-align: center; */
    font-weight: 500;
}
.m_button_group{
    position: relative;
}
.m_button_group input{
    padding: 2px;
    text-align: center;
}
#mSubtract{
    position: absolute;
    top: 2px;
    left: 3px;
    background: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 0px 4px;
}
#mAdd{
    position: absolute;
    top: 0;
    margin: 2px  3px 0 -28px;
    background: #000;
    border: 2px solid #000;
    color: #fff;
    right: 0;
    padding: 0px 4px;
}
.fa_font_size{
    font-size: 12px !important;
}
/*side nave*/

.right-cls1{
	background: url(../images/left_icon.png) no-repeat #fff 5px 10px;
    left: 300px;
    background-size: 50% 40%;
}
.left-cls1{
	background: url(../images/right-icon.png) no-repeat #fff  5px 10px;
	left:  0;
	background-size: 50% 40%;
}
.slide-button-map-1 {
    width: 20px;
    height: 35px;
    outline: 0;
    border: 1px solid #fff;
    position: absolute;
    top: 12px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*--push-menu-css--*/
.active{
    /* display: none; */
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}   
.active_open{
    display: block;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media screen and (max-width:575px){
    .hide-xs{
        display: none
    }
    .product_heading{
        flex: 0 0 100%;
        max-width: 100%; 
    }
    .product_detalis{
        flex: 0 0 100%;
        max-width: 100%; 
    }
    .keep_in_touch_bottom .contstS {
        padding: 16px 40px;
        width: 95%;
    }
    .keep_in_touch_bottom .confor {
        width: 100%;
        background: #eee;
        padding: 7px 30px;
    }
    .keep_in_touch {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .newletter_section_inner .outdoormedia {
        padding: 0px;
    }
    .keep_in_touch .keep_in_touch_bottom {
        padding-top: 0px;
    }
    .keep_in_touch .keep_in_touch_top h4 {
        width: 100%;
        text-align: center;
    }
    .we__make__outdoor .wemake-outdoor .border {
        padding: 10px 10px;
        margin: 5px;
    }
    .outdoor__media .part-one, .outdoor__media .part-four {
        padding: 10px 50px 50px 50px;
    }
    .we__make__outdoor .wemake-outdoor {
        width: 100%;
        padding: 25px 0 25px;
    }
    .recent-activities {
        padding: 0px 0px 25px;
    }
    .recent-text {
        padding: 0px 22px 10px 24px;
    }
    .recent-activities h1 {
        margin-top: 40px;
    }
    .search__billboard .search__inner__right {
        margin-top: 5px;
    }
    .search__billboard .search__inner__left {
        padding: 0px;
    }
    .what_we_do .whtwedo {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .what_we_do .whtwedo p {
        width: 100%;
        text-align: -webkit-auto;
        font-size: 14px !important;
    }
    .banner .banner-text11 .getstart-btn {
        padding: 0px 10px 0 10px;
    }
    .png-icon{
        margin-left: -10%;
    }
    .fa-ellipsis-v:before {
        content: "\f142";
        margin-left: 17px;
    }
    .layout-fill {
        margin: 0;
        width: 100%;
        min-height: 0%;
        height: 100%;
        padding:0px;
    }
    .md-button.md-icon-button.social_font {
        margin: 0px 5px;
    }
    .footmain .text {
        margin-bottom: 4px;
        margin-right: 0%;
        text-align: center;
    }
    .footmain {
        margin-bottom: -110px;
    }
    md-dialog md-dialog-content {
        border: 2px solid #BC2535;
    }
    .edit__icon {
        right: 90px;
    }
    .prof_name {
        margin-left: 0px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:576px){
    .hide-gt-xs{
        display: none;
    }
    
}
@media screen and (min-width:576px) and (max-width: 767px){
    .hide-sm{
        display: none;
    } 
}
@media screen and (min-width:768px){
    .hide-gt-sm{
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:  991px){
    .hide-md{
        display: none;
    }
    .footmain {
        margin-bottom: -57px;
    }
}
@media screen and (min-width:992px){
    .hide-gt-md{
        display: none;
    }
}
@media screen and (min-width:992px) and (max-width:  1199px){
    .hide-lg{
        display: none;
    }
}
@media screen and (min-width:1200px){
    .hide-gt-lg{
        display: none;
    }
}
@media screen and (min-width:1200px) {
    .hide-xl {
        display: none;
    }
}

@media screen and (max-width:600px){
    .suggest__me{
        display: none;
    }
}