html,body{
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/*menu css start*/
.md-toolbar-tools a{
  color: #fff;
}
/*campaign css start*/
.contbg,.item{
  background: #fff
}
.theme-txt{
  color: #FFF;
}
.theme-text{
  color: #E85647;
}
/* home css start*/
.border{
  border: 2px solid #980000;
  padding: 10px;
  margin: 0px 10px 0 0px;
}
.banner,.nocompany{
  position: relative;
}
.banner img{
  width: auto;
  max-width: 100%;
}
.banner-text11{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 5%;
}
/* what we do css start*/
.whatwetext{
  width: 55%;
  text-align: center;
  opacity: 0.5;
}
.margin-left{
  margin-left: 15px;
}
/* what we do css end*/
/* search billboards*/
.bbsco{
  background: #eee;
}
.bbscb{
  color: #980000;
  font-size: 24px;
}
.bbscl{
font-size: 30px;
}
/* india no ad css start*/
.nocompany img{
  width: auto;
  max-width: 100%;
}
.banner-two{
  position: absolute;
  top: auto;
  bottom: 25%;
  left: 40%;
}
/* india no ad css start*/
/*slick slide*/
.slick-next {
  right: 0 !important;
  z-index: 9 !important;
}
.slick-prev {
  left: 0 !important;
  z-index: 9 !important;
}
/* grid*/
.fabicon md-icon:hover{
  color: #980000;
}
/* footer*/
.text{
  color: #999;
  font-family: semibold;
}
.bottom-btn{
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.line-bi{
  line-height:48px; 
}
.line-text{
  line-height: 35px;
}
.line-sub{
  line-height: 31px;
}
/*pricing page css start*/
.packages{
   margin: -80px 0 0 0 !important;
   position: relative;
}
.main-text{
  color: #AFC5DF;
  line-height: 25px;

}
.pricing-head{
  background: #488EDF;
  padding: 50px 0px 100px;
}
.pricing-inner{
  line-height: 57px;
}
.md-checkbox.md-checked.green .md-icon {
 background-color: rgba(72, 142, 223);
}
md-checkbox .md-icon{
  border-radius: 50% ! important;
}
.inner-text{
  text-align: center;
line-height: 50px;
color: #95989A;
font-size: 20px;
font-family: regular;

}
.inner-img{
  width: 190px;
height: 130px;
text-align: center;
margin: 15px auto;
}
.final-class{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
}
.Confusion-txt{
  font-size: 20px;
line-height: 30px;
font-family: regluar;
margin-bottom: 10px;
}
/*formats page css start*/
.frt-head{
  font-family: regular;
  line-height: 57px;
}
.frt-text{
  font-size: 20px;
line-height: 27px;
font-family: regluar;
margin-bottom: 10px;
}
.slick-prev::before, .slick-next::before {
    content: '←';
    z-index: 9;
    color: red;
    width: 40px;
    height: 40px;
}
.slick-next::before{
 content: '→' !important;
}
.item{
  text-align: center;
  padding: 50px;
  color: #fff;
}
.item-home{
  color: #000;
}
.item h4{
  font-size: 42px;
text-transform: uppercase;
line-height: 52px;
font-family: light;

}
.item .item-inner{
font-size: 20px;
font-family: light;
line-height: 27px;
}
.item-1{
background: #6050B1;
}
.item-2{
background: #D95C4D;
}
.item-3{
background: #010203;
}
.item-4{
background: #4545c6;
}
.item-5{
background: #478947;
}
.item-6{
background: #2fc5cb;
}
.item-7{
background: #635f5f;
}
.item-8{
background: #e99d11;
}
/*formats page css end*/

/*Notification demo css*/
.shrtlst{
  border: 1px solid #ccc;
padding: 8px;
border-radius: 20px;
}
.shrt-pdng {
    margin: 0 5px 0 5px;
}
.saved-border{
  border: 1px solid #adaeb0;  
  padding: 8px;
}
.saved-date{
 padding: 8px;
}
.saved-btn{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}


/*transition effects here  */
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

/* map search fileds */
.search-filed md-input-container .md-errors-spacer{
min-width: 0px;
}
.search-icon{
  margin: 18px 0 0 0;
  background: #fff;
  height: 23px;
}
.locate-me i{
  color: #980000;
  
}
.locate-me {
  border-left: 1px solid #999;
background: #fff;
margin: 18px 0 0 0 !important;
border-radius: 0px;
height: 39px !important;
border-radius: 0  !important;
}
.md-icon-button.locate-me.md-button.md-ink-ripple:hover {
    background: #fff;
}

/* formats */
.digital-board{
  position: relative;
}
.digital-inner{
  position: absolute;
top: 100%;

background: #fff;
z-index: 9;
}
/*fab dail*/
.fab-dail{
  position: fixed;

right: 10px;
z-index: 99;
bottom: 5%;

}
/* profile page */
.profile-campagin md-tabs-canvas {
background: #fff
}
.inputDiv{
background: #ccc;
}
.inputDiv .search{
background: rgb(204, 204, 204) none repeat scroll 0% 0%;
width: 25%;
height: 25px;
margin: 5px 0 5px 0;
}
/* campagin edit page css */
.bg-part{
  position: relative;
}
.line-bar{
  width:100%;
  height: 150px;
  background: #488EDF;
}
.client-summay{
  margin: -90px 0 0 0;
}