
.contbg{
  background: #fff;
}
.profile-menu{
    margin-top: 12px;
}

.png-icon {
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}
#similar {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
.profile-menu{
     margin-top: 12px !important;
}
.md-toolbar-tools{
    background: #fff !important;
}
.inputDiv {
    background: #ccc;
/* padding: 13px; */
}
.inputDiv .search {
    background: rgb(204, 204, 204) none repeat scroll 0% 0%;
    width: 25%;
    height: 0px;
    margin: 5px 0 5px 0;
}
.search {
    height: 32px;
    border-radius: 4px;
    padding: 14px;
}
.contbg{
    background: #fff;
}
.bg-part {
    position: relative;
}
.line-bar {
    width: 100%;
    height: 150px;
    background: #488EDF;
}
.client-summay {
    margin: -90px 0 0 0;
}
.admin-img {
    position: relative;
}
.adminimg-content {
    position: absolute;
    bottom: 0px;
    color: #fff;
    background: #51b3d6;
    width: 100%;
}
.pricing-head {
    background: #488EDF;
    width: 100%;
    height: 280px;
}
.profile-icons {
    width: 100%;
    padding-left: 9%;
    background: #fff;
    border-bottom: 5px solid #488edf;
    margin: 0;
}