.png-icon {
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

#similar {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}