/* body.md-default-theme, body, html.md-default-theme, html{
    background-color: #fff !important;
} */
/*===========global css start====================*/
html,body{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body a {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration:none;
}
body a:hover {
    text-decoration:none;
    cursor: pointer;
}
.contbg{
    background: #fff;
}
.margin_left_0{
    margin-left: 0px;
}
.margin_right_0{
    margin-right: 0px;
}
padding_left_0{
    padding-left: 0px;
}
padding_right_0{
    padding-right:0px;
}
pdding_zero{
    padding: 0px;
}
.bg_main_color{
    background:#414143 !important;
}
.text-center{
	text-align: center !important;
}
.text_color{
    color: #DD1853;
}
.md-backdrop {
     background-color: none !important; 
}
md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque{
    background: none !important;
}
/*scroll bar coustom css start */
.scrollbar__style::-webkit-scrollbar
{
	width: 4px;
    background-color: #F5F5F5;
    height: 200px;
}
.scrollbar__style::-webkit-scrollbar-thumb
{
    background-color: #414143 !important;
    height: 200px;
}
/* scroll bar coustam css end*/
/* ====================cehck box css start=========================*/
.owner_container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owner_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #ccc; 
}
.owner_container:hover input ~ .checkmark {
    background-color: #ccc;
}
.owner_container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.owner_container input:checked ~ .checkmark:after {
    display: block;
}
.owner_container .checkmark:after {
    left: 4px;
    top: 0.5px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*============== check box css stop =========================*/
/*===========global css start====================*/


/*======================= toolbar bar css start====================*/
.owner_tool_bar{
    background: #fff !important;
}
/* .profile-menu{
    margin-top: 12px;
} */
 .owners-menu md-menu-item a{
    color: #fff;
}  
.active-link{
    border-left: 5px solid #547df9;
    color: #fff;
    background: #28282a;
} 
.active-link:hove{
    color: #fff !important;
}
.owners-menu md-icon{
    color: #fff;
}
.owner__sidenav{
    width:250px !important;
}
.owner__sidenav .sidenav-content{
    height: 85.9vh;
    overflow-x: auto;
    background: #414143 !important;
    padding-top: 25px;
}
.main__page__search{
    width: 25%;
    /* border: 1px solid #ccc; */
    /* height: 35px; */
    border-radius: 20px;
    /* padding: -1px 0; */
    position: relative;
}
.main__page__search input{
    font-size: 15px;
    /* margin: 35px 20px 0 5px; */
    width: 100%;
    padding: 0 0 0 13px;
    /* height: 30px; */
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 25px;
}
.main__page__search input:focus{
    outline: none;
}
.main__page__search span{
    float: right;
    /* padding: 4px 13px 0 3px; */
}
.main__page__search a{
    /* background: #fff; */
    border: none;
    color: #000 !important; 
        position: absolute;
    top: 6px;
    /* right: 10px; */
    margin: 0 0 0 -35px;
     /* margin: 1px 0 0 0px;
    padding: 0;  */
}

/*======================= toolbar bar css end====================*/
/*==================== home page css start ======================*/
.ava-hdng{
    background: #4285f4;
    /* opacity: .8; */
    color: #fff;
}
.book-hdng{
    background: #db4437;
    color: #fff;
}
.tottal-hdng{
    background: #f4b400;
    color: #fff;
}
.proposal-hdng{
    background: #413e40;
    color: #fff;
}
.homepage__title{
     color: #fff;
    background: #547df9;
    width: 100%;
    height: 65px;
}
.homepage__title h3{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 8px;
}
.sales__report__inner,.hoarding__map,.to__do__inner,.activity__summary{
    height: 400px;
    overflow: auto;
}
.sales__report__hdng{
        border-bottom: 1px solid #eee;
}
.sales__report__hdng h3{
    font-size: 16px;
    float: left;
    margin: 5px 0 10px 0;
}
.sales__report__hdng .viewall__btn{
    float: right;
    border: 1px solid #007bff;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 12px;
    cursor: pointer;
}
.hoarding__map__hdng,.to__do__hdng,.activity__list__hdng{
    border-bottom: 1px solid #eee;
}
.hoarding__map__hdng h3,.to__do__hdng h3,.activity__list__hdng h3{
    font-size: 16px;
    margin: 5px 0 10px 0;
}
.to__do__btn{
    margin: 0 8px;
}
.activity__list h3{
    font-size: 15px !important;
    font-weight: 500;
}
.activity__list h3 span{
    font-size: 14px;
    color: #ccc;
    font-weight: normal;
}
/*==================== home page css end ======================*/
/*==================== campagin page css start ======================*/
.campagin__summarys .proposal__hedng{
    border-bottom: 1px solid #ccc;
}
.campagin__summarys .proposal__hedng h3{
    margin: 15px 15px;
    float: left;
}
.campagin__summarys .proposal__actions{
    float: right;
    margin: 15px 8px 15px 15px;
    cursor: pointer;
}
.proposal__actions a{
    margin: 8px;
}
.share__campaign{
    width: 35%;
    background: #fff;
    position: absolute;
    top: 93px;
    z-index: 99;
    right: 15px;
    padding: 8px;
}
.share__campaign .share__person{
    border-bottom: 1px solid #ccc;
}
.share__campaign .share__person h3{
    font-size: 18px;
    margin: 8px;
}
.share__campaign .share__details{
    margin: 15px 0;
}
.share__campaign .share__details p{
    font-size: 14px;
    color: #000;
    margin-left: 8px;
    margin-top: 5px;
}
.share__campaign .send__person {
    padding: 0px 8px;
}
/* .table__heading .table_headig_title{
    font-size: 16px;
    font-family: roboto sans-serif;
} */
/*==================== campagin page css end ======================*/
/*==================== hoarding list page css start ======================*/
.owner_hoarding_list .main__title{
    background: #547df9;
    color: #fff;
    padding:15px;
}
.owner_hoarding_list .main__title .shortlist__btn{
    font-size: 15px;
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 20px;
}
.hoarding__card__owner .card__img{
    width:100%;
    height:200px;
    position:relative;
}
.hoarding__card__owner .card-title{
      position: relative;
    /* margin-top: 35%; */
    background: #414143;
    color: #fff;
    margin: -35px 0 0 0;
    padding: 5px 16px 6px;
}
.hoarding__card__owner .content_inner .hoarding__location{
    padding:0px;
    height:110px
}
/*sidenav css start*/
.product__content{
    padding-top: 25px;
}
/*==================== hoarding list page css end ======================*/
/*==================== Request hoarding page css start ======================*/
.owner__request__hoarding .req_hrdg_title{
    margin-top: 20px;
    /* border-bottom: 3px solid #547df9; */
}
.req_hrdg_title #customSsearchInput {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 320px;
}
.req_hrdg_title #customSsearchInput .input-group {
    height: 30px;
}
.req_hrdg_title #customSsearchInput input {
    border: 0;
    box-shadow: none;
}
.req_hrdg_title #customSsearchInput  button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 4px 8px 0 10px;
    border-left: solid 1px #ccc;
}
.owner__request__hoarding .hrndg__action a {
    margin: 0 10px;
}
/*==================== Request hoarding page css end ======================*/
/*==================== signIN page css end ======================*/
.sigin__bg{
    background: url('/assets/images/owner/bg_1.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
/*==================== signIn page css end ======================*/


.png-icon {
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}
#similar {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
/* .profile-menu{
     margin-top: 12px !important;
} */
/* .inputDiv {
    background: #ccc;
     padding: 13px; 
} */

/* .inputDiv .search {
    background: rgb(204, 204, 204) none repeat scroll 0% 0%;
    width: 25%;
    height: 0px;
    margin: 5px 0 5px 0;
}
.search {
    height: 32px;
    border-radius: 4px;
    padding: 14px;
} */
/* .contbg{
    background: #fff !important;
}
.bg-part {
    position: relative;
}
.line-bar {
    width: 100%;
    height: 150px;
    background: #488EDF;
}
.client-summay {
    margin: -90px 0 0 0;
} */
.admin-img {
    position: relative;
}
.adminimg-content {
    position: absolute;
    bottom: 0px;
    color: #fff;
    background: #51b3d6;
    width: 100%;
}
.pricing-head {
    background: #488EDF;
    width: 100%;
    height: 280px;
}
.profile-icons {
    width: 100%;
    padding-left: 9%;
    background: #fff;
    border-bottom: 5px solid #488edf;
    margin: 0;
}
.temimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
.popup-btn{
    position: fixed !important;
    right: 10px !important;
    z-index: 99 !important;
    bottom: 30% !important;
}
.inner-content{
    background: #eee !important;
    margin-bottom: 16px;
    padding: 20px;
}
.temimg-inner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
/* .card-text{
    position: relative;
     margin-top: 35%; 
    background: #447bde;
    color: #fff;
    margin: -35px 0 0 0;
    padding: 5px 16px 6px;
} */
button.freshwidget-customimage.md-fab.md-fab-bottom-right.md-button.md-ink-ripple {
    background: none;
    box-shadow: none;
}
/* help page popup css start*/
.help-page.layout-padding.layout-row {
    background:#414143 !important;
    color: #fff;
}
/* help page popup css end*/

.freshwidget-customimage{
    position: fixed !important;
}
.help-btn{
     background:#404348 !important;
}
.nv-nav-item {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    color: #000000;
}
 /* .nv-nav-item:active,.nv-nav-item:focus,.nv-nav-item:visited{
    border-left: 2px solid #980000 !important;
} */
/* .nv-nav-item.active, .nv-nav-item.active a {
    color: blue !important;
    font-weight: 600 !important;
    background: #FFFFFF !important;
}  */

/*media qureys*/
@media screen and (max-width: 959px) {
    .pdding_zero{
        padding: 8px;
    }
}

.serverErrors {
    color : red;
    padding-left: 14em;
}
.serverErrors div {
    padding-left: 1em;
    padding-bottom: 1em;
}

.serverErrors li  {
    list-style-type: none;
}
.message {
    position: relative;
}
.message p{
    color: #fff;
    position: absolute;
    top: -5%;
    right: 5%;
    background: #b6c647;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
}
.red-text{
    color: #DD1853;
}