<div layout="column" class="owner_hoarding_list">
  <div layout="row" layout-margin class="md-whiteframe-3dp">
    <p class="mb-0 mt-3">Campaign Name:<span class="text_color"> Uber Pvt Ltd</span></p>
    <p class="mb-0 mt-2">Product Added:<span class="text_color md-title"> 3</span></p>
    <p class="mb-0 mt-3">Estimated Budget : 158,000</p>
    <p class="mb-0 mt-3 text_color"> Total Budget : 190,000</p>
    <p class="mb-0 mt-3"><span class="text_color">Created On</span> :12-08-2018 - 11.30 am</p>
    <span flex></span>
    <md-button class="md-raised md-primary">VIEW CAMPAIGN</md-button>
  </div>
  
  <!-- filters-->
  <form class="form-inline camp_filters" action="">

    <input type="search" placeholder="Tab ID, Area, Location" class="form-control" id="">
    <label for="pwd">Filter By:</label>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Format</option>
        <option>Hoarding</option>
        <option>Unipole</option>
        <option>Airport</option>
      </select>
    </div>

    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available From">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available To">
    </div>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Budget High to Low</option>
        <option>Budget Low to High </option>
      </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Show Only Available
      </label>
    </div>
    <md-button class="md-raised md-primary" style="background-color:#44596D">Apply Filters</md-button>
  </form>
  <!-- product list -->
  <div class="table-responsive" style="margin-bottom:115px !important">
    <table class="table">
      <thead class="text_color">
        <tr>
          <th>Product Details</th>
          <th></th>
          <th>Views</th>
          <th>Lit</th>
          <th>Shortlisted in</th>
          <th>Price</th>
          <th>Calender</th>
          
          <th>
            <!-- <md-button  class="md-raised md-primary" style="background:#6888F3;">Add Another Product</md-button> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in productList">
          <td>
            <img ng-src="{{config.serverUrl +product.image}}" alt="Smiley face" height="100" width="100">
          </td>
          <td>
            <p class=""><b>{{product.siteNo}} - {{product.area_name}} ({{product.panelSize}})</b>
              <br> {{product.address}}
              <br>Facing: {{product.direction}}
          </td>
          <td class="table_vertical">{{product.views || "N/A"}}</td>
          <td class="table_vertical">
            <span class="md-caption" ng-if="product.lighting == 1">Yes</span>
            <span class="md-caption" ng-if="product.lighting == 0">No</span>
          </td>
          <td class="table_vertical">
            <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a>
          </td>
          <td class="table_vertical">
            <div class="input-group">
              <input type="text" class="" placeholder="Somete" style="width: 70px;padding: 4px 5px;" value="{{product.default_price}}" />
              <span href="#"><i class="material-icons">edit</i></span>
            </div>
          </td>
          <td class="table_vertical">
            <a href="#"><i class="material-icons">
                calendar_today
              </i></a>
          </td>
          
          <td class=" table_vertical">
            <md-button class="md-raised md-primary">Add to campaign</md-button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>