<div layout="column" class="owner_hoarding_list">
  <div layout="row" layout-margin class="md-whiteframe-3dp">
    <p class="mb-0 mt-4">Campaign Name:<span class="text_color">{{selectedOwnerCampaign.name}}</span></p>
    <p class="mb-0 mt-4">Product Added:<span class="text_color md-title">{{selectedOwnerCampaign.no_of_products ||
        "0"}}</span></p>
    <p class="mb-0 mt-4">Estimated Budget : {{selectedOwnerCampaign.est_budget || "N/A"}}</p>
    <p class="mb-0 mt-4 text_color"> Total Budget : {{selectedOwnerCampaign.total_budget || "N/A"}}</p>
    <p class="mb-0 mt-4"><span class="text_color">Created On</span> :{{selectedOwnerCampaign.created_at || "N/A"}}</p>
    <span flex></span>    
    <md-button class="md-raised md-primary" ng-href="#/owner/{{clientSlug}}/campaign-details/{{selectedOwnerCampaign.id}}/{{selectedOwnerCampaign.type}}">view campaign</md-button>
  </div>

  <!-- filters-->
  <form class="form-inline camp_filters" action="">
    <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText"
      md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)" md-item-text="item.siteNo"
      md-min-length="4" placeholder="Search..." md-clear-button="true">
      <md-item-template>
        <span class="item-title">
          <span> {{item.siteNo}} </span>
        </span>
        <span class="item-metadata">
          <span>
            <strong>{{item.address}}</strong>
          </span>
        </span>
      </md-item-template>
    </md-autocomplete>
    <label for="pwd">Filter By:</label>
    <div class="form-group">
      <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
      class="form-control md-whiteframe-3dp" ng-change="getProductByFormat(product.type)"  data-md-container-class="selectdemoSelectHeader" required="required"
      name="productType">
      <option value="" disabled selected>Site Type</option>
    </select>
    </div>

    <div class="form-group form_cal">
      <md-datepicker  class="form-control" name="startDate" ng-model="product.start_date" onkeydown="return false" md-placeholder="Available From"  layout-fill></md-datepicker>
    </div>
    <div class="form-group form_cal">
      <md-datepicker  class="form-control" name="endDate" ng-model="product.end_date" onkeydown="return false" md-placeholder="Available To" md-min-date="product.start_date"  layout-fill></md-datepicker>
    </div>
    <div class="form-group form_cal">
      <select class="form-control" ng-model="product.budgetprice" id="sel1" ng-change="getBudget(product.budgetprice)">
        <option selected value="1">Budget High to Low</option>
        <option value="0">Budget Low to High </option>
      </select>
    </div>
    <!-- <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Show Only Available
      </label>
    </div> -->
    <md-button class="md-raised md-primary" style="background-color:#44596D" ng-click="applymethod(product)">Apply Filters</md-button>
  </form>
  <!-- product list -->
  <div class="table-responsive" style="margin-bottom:115px !important">
    <table class="table">
      <thead class="text_color">
        <tr>
          <th>Product Details</th>
          <th></th>
          <th>Views</th>
          <th>Lit</th>
          <th>Shortlisted in</th>
          <th>Price</th>
          <th>Calender</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ownerProduct in productList">
          <td class="image_tdwidth">
            <input type="hidden" name="suggestedProduct.id" ng-model="suggestedProduct.id" ng-init="suggestedProduct.id = ownerProduct.id" />
            <img ng-src="{{serverUrl + ownerProduct.image}}" alt="Smiley face" class="requ_size">
          </td>
          <td>
            <p class=""><b>{{ownerProduct.siteNo}} - {{ownerProduct.area_name}} ({{ownerProduct.panelSize}})</b>
              <br> {{ownerProduct.address}}
              <br>Facing: {{ownerProduct.direction}}
              <br>Type:{{ownerProduct.format_name}}
          </td>
          <td class="table_vertical">{{ownerProduct.impressions}}</td>
          <td class="table_vertical">
            <span class="md-caption">{{ownerProduct.lighting | boolToYesNo}}</span>
          </td>
          <td class="table_vertical">
            <!-- <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a> -->
            <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin/{{ownerProduct.id}}">{{ownerProduct.camapigns_count}} Campaigns</a>
          </td>
          <td class="table_vertical">
            <!-- <div class="input-group">
              <input ng-model="suggestedProduct.price" type="text" only-numeric name="price" required="required"
                ng-pattern="/[0-9]+/" ng-disabled="!enabledPrice" ng-init="suggestedProduct.price = ownerProduct.default_price"
                style="width: 70px;padding: 4px 5px;" />
              <input type="text" class="" placeholder="Somete" style="width: 70px;padding: 4px 5px;" />
              <span ng-click="enabledPrice = true;" ng-show="!enabledPrice"><i class="material-icons">edit</i></span>
            </div> -->
            <div class="input-group">
            
              {{(!myfield)?ownerProduct.default_price:''}}
              <input type="text" class="" ng-model="ownerProduct.default_price" placeholder="Price" ng-if="myfield" style="width: 70px;padding: 4px 5px;" />
              <span ng-click="myfield=true;" ng-show="!myfield"> <i class="material-icons">edit</i></span>
              <span ng-click="myfield=false;changeProductPrice(ownerProduct)"  ng-show="myfield"> <i class="material-icons">check</i></span>
            
            </div>
          </td>
          <td class="table_vertical">
            <input date-range-picker ng-model="ownerProduct.booking_dates" class="form-control md-whiteframe-3dp date-picker"
              placeholder="Product date" type="text" name="date" readonly options="suggestProductOpts" id="booking_dates_picker"
              style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
            <a ng-click="getProductUnavailableDates(ownerProduct.id, $event);">
              <i class="material-icons">
                calendar_today
              </i>
            </a>
          </td>

          <td class=" table_vertical">
            <md-button class="md-raised md-primary" ng-click="suggestProductForOwnerCampaign(ownerProduct)">Add to
              campaign</md-button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>