<!-- <div layout="column" class="owner_hoarding_list">
  <div layout="row" layout-margin class="md-whiteframe-3dp">
    <p class="mb-0 mt-3">Campaign Name:<span class="text_color"> Uber Pvt Ltd</span></p>
    <p class="mb-0 mt-2">Product Added:<span class="text_color md-title"> 3</span></p>
    <p class="mb-0 mt-3">Estimated Budget : 158,000</p>
    <p class="mb-0 mt-3 text_color"> Total Budget : 190,000</p>
    <p class="mb-0 mt-3"><span class="text_color">Created On</span> :12-08-2018 - 11.30 am</p>
    <span flex></span>
    <md-button class="md-raised md-primary">VIEW CAMPAIGN</md-button>
  </div>

  
  <form class="form-inline camp_filters" action="">

    
    <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText"
      md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)" md-item-text="item.siteNo"
      md-min-length="4" placeholder="Search..." md-clear-button="true">
      <md-item-template>
        <span class="item-title">
          <span> {{item.siteNo}} </span>
        </span>
        <span class="item-metadata">
          <span>
            <strong>{{item.address}}</strong>
          </span>
        </span>
      </md-item-template>
    </md-autocomplete>
    <label for="pwd">Filter By:</label>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Format</option>
        <option>Hoarding</option>
        <option>Unipole</option>
        <option>Airport</option>
      </select>
    </div>

    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available From">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available To">
    </div>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Budget High to Low</option>
        <option>Budget Low to High </option>
      </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Show Only Available
      </label>
    </div>
    <md-button class="md-raised md-primary" style="background-color:#44596D">Apply Filters</md-button>
  </form>
  
  <div class="table-responsive" style="margin-bottom:115px !important">
    <table class="table">
      <thead class="text_color">
        <tr>
          <th>Product Details</th>
          <th></th>
          <th>Views</th>
          <th>Lit</th>
          <th>Shortlisted in</th>
          <th>Price</th>
          <th>Calender</th>

          <th>
            
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in productdetails">
          <td>
            <img src="assets/images/hoarding2.png" alt="Smiley face" height="100" width="100">
          </td>
          <td>
              <p class=""><b>{{product.siteNo}} - {{product.area_name}} {{product.panelSize}}</b>
                <br> {{product.address}}
                <br>Facing: {{product.direction || "N/A"}}
                <br>Type: {{product.format_name}}
            </td>
            <td class="table_vertical">{{product.impressions}}</td>
            <td class="table_vertical" ng-if="product.lighting == 1">Yes</td>
            <td class="table_vertical" ng-if="product.lighting == 0">No</td>
            <td class="table_vertical">
              <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a>
            </td>
          <td class="table_vertical">
            <div class="input-group">
          <td>
            <span ng-show="!product.edit">{{product.price}}</span>
            <input ng-show="product.edit" type="text" ng-model="product.price" class="form-control" placeholder="Name" />
            <i class="material-icons" style="cursor: pointer;" id="{{product.id}}" ng-click="editUtterance(product)">edit</i>
            <i class="material-icons" style="cursor: pointer;" id="{{product.id}}" ng-click="save(product)">done</i>
          </td>
          </td>
          <td class="table_vertical">
            <a href="#"><i class="material-icons">
                calendar_today
              </i></a>
          </td>

          <td class=" table_vertical">
            <md-button class="md-raised md-primary">Add to campaign</md-button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div layout="column" class="owner_hoarding_list">
    <div layout="row" layout-margin class="md-whiteframe-3dp">
      <p class="mb-0 mt-3">Campaign Name:<span class="text_color"> Uber Pvt Ltd</span></p>
      <p class="mb-0 mt-2">Product Added:<span class="text_color md-title"> 3</span></p>
      <p class="mb-0 mt-3 hide-xs">Estimated Budget : 158,000</p>
      <p class="mb-0 mt-3 text_color hide-xs"> Total Budget : 190,000</p>
      <p class="mb-0 mt-3 hide-xs"><span class="text_color">Created On</span> :12-08-2018 - 11.30 am</p>
      <span class="hide-md" flex></span>
      <md-button class="md-raised md-primary hide-xs add_font">VIEW CAMPAIGN</md-button>
    </div>
    
    <!-- filters-->
    <div class="" >
      <form class="form-inline camp_filters" action="" >
        <input type="search" placeholder="Tab ID, Area, Location" class="form-control form_hoarding" id="">
        <label for="pwd">Filter By:</label>
        <div class="form-group form_up">
          <select class="form-control" id="sel1">
            <option selected>Format</option>
            <option>Hoarding</option>
            <option>Unipole</option>
            <option>Airport</option>
          </select>
        </div>
    
        <div class="form-group form_cal">
          <input type="date" class="form-control" placeholder=" Available From">
        </div>
        <div class="form-group form_cal">
          <input type="date" class="form-control" placeholder=" Available To">
        </div>
        <div class="form-group form_cal">
          <select class="form-control" id="sel1">
            <option selected>Budget High to Low</option>
            <option>Budget Low to High </option>
          </select>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Show Only Available
          </label>
        </div>
        <md-button class="md-raised md-primary" style="background-color:#44596D">Apply Filters</md-button>
      </form>
    </div>
    <!-- product list -->
    <div class="table-responsive" style="margin-bottom:115px !important">
      <table class="table">
        <thead class="text_color">
          <tr>
            <th>Product Details</th>
            <th></th>
            <th>Views</th>
            <th class="hide-xs">Lit</th>
            <th class="hide-xs">Shortlisted in</th>
            <th class="hide-xs">Price</th>
            <th class="hide-xs">Calender</th>
            
            <th class="hide-xs">
              <!-- <md-button  class="md-raised md-primary" style="background:#6888F3;">Add Another Product</md-button> -->
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="assets/images/hoarding2.png" alt="Smiley face" height="100" width="100">
            </td>
            <td>
              <p class=""><b>BB238 - Kothaguda (40Ft X 40Ft)</b>
                <br> Kothaguda X Roads
                <br>Facing: From Kothaguda to Hitech
                city road,
                <br>beside ICICI Bank
            </td>
            <td class="table_vertical">1,48,000</td>
            <td class="table_vertical hide-xs">
              <span class="md-caption">Yes</span>
            </td>
            <td class="table_vertical hide-xs">
              <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a>
            </td>
            <td class="table_vertical hide-xs">
              <div class="input-group">
                <!-- <input type="text" class="" placeholder="Somete" style="width: 70px;padding: 4px 5px;" />
                <span href="#"><i class="material-icons">edit</i></span> -->
                <span ng-show="!product.edit">{{product.price}}</span>
            <input ng-show="product.edit" type="text" ng-model="product.price" class="form-control" placeholder="Somete" style="width: 70px;padding: 4px 5px;"/>
            <i class="material-icons" style="cursor: pointer;" id="{{product.id}}" ng-click="editUtterance(product)">edit</i>
            <i class="material-icons" style="cursor: pointer;" id="{{product.id}}" ng-click="save(product)">done</i>
              </div>
            </td>
            <td class="table_vertical hide-xs">
              <a href="#"><i class="material-icons">
                  calendar_today
                </i></a>
            </td>
            
            <td class=" table_vertical hide-xs">
              <md-button class="md-raised md-primary">Add to campaign</md-button>
            </td>
  
          </tr>
        </tbody>
      </table>
    </div>
  </div>