<div layout="column"  flex="100" flex-xs="100" flex-sm="100" flex-md="100" style="background: #eee">
	<div layout="column" layout-margin flex>
		<h2 class="md-title text_color"> Add Payment Details</h2>
    </div>
    <div layout="row" layout-margin >
		<div layout="column" flex="50" flex-xs="100" class="md-whiteframe-2dp contbg" layout-padding style="height: 100vh;">
            <form style="padding-top:50px">
                <div class="form-group row">
                    <label for="paymentType"class="col-sm-4 col-form-label md-body-2">Mode Of Payment :</label>
                    <div class="col-sm-7">
                        <select id="paymentType" class="form-control">
                        <option selected>Select Payment Type</option>
                        <option>By Cash</option>
                        <option>IMPS</option>
                        <option>NFTS/RTGS</option>
                        <option>NFTS/RTGS</option>
                        <option>Cheques</option>
                        <option>Other</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="amount" class="col-sm-4 col-form-label md-body-2">Amount:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="amount" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="campaignId" class="col-sm-4 col-form-label md-body-2">Campaign ID:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="campaignId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="paidBy" class="col-sm-4 col-form-label md-body-2">Comments:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="paidBy">
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="comments" class="col-sm-4 col-form-label md-body-2">Paid By:</label>
                    <div class="col-sm-7">
                        <textarea type="text" class="form-control" id="comments"></textarea>
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for=""class="col-sm-4 col-form-label md-body-2">Upload Image</label>
                    <div class="col-sm-8">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                    <input type="file" id="imgInp" style="width:100%">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class=" col-sm-7">
                        <md-button class="md-raised md-primary">Submit</md-button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</div>