<md-dialog flex="40" style="border-radius: 0 ;">
	<!-- <md-toolbar layout-padding >
		<div>
			<h3>Out Sourcing Agents</h3>
		</div>
	</md-toolbar> -->
	<md-dialog-content>
		<div layout="column" layout-padding>
			<div layout="row">
				<span  class="md-title">OutSourcing Agents</span>
				<span flex="flex" hide-xs="hide-xs" show-gt-xs="show-gt-xs" class="hide-xs show-gt-xs flex"></span>
      			<button class="md-icon-button md-button show-gt-xs md-ink-ripple hide-xs" type="button" ng-transclude="" ng-click="cancel()" hide-xs="hide-xs" show-gt-xs="show-gt-xs">X<div class="md-ripple-container"></div></button>
			</div>
		 	<md-divider></md-divider>
			<div layout="column" layout-fill="layout-fill">
				<form name="signin" novalidate="novalidate">
				<md-input-container class="md-block">
					<label>Out Sourcing Company Name</label>
					<input ng-model="user.userName" type="text" name="uname" minlength="3" maxlength="30" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/"/>
					<div ng-messages="signin.uname.$error">
						<div ng-message="required">User Name is required.</div>
						<div ng-message="minlength">User Name must have 3 characters.</div>
						<div ng-message="maxlength">User Name shouldn't exede 30 characters. </div>
						<div ng-message="pattern">User Name should contain only Alpha Numeric and _ - . symbols.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Type Of Company Name</label>
					<input ng-model="user.companyName" type="text" name="cname" minlength="5" maxlength="30" required="required"/>
					<div ng-messages="signin.cname.$error">
						<div ng-message="required">Company Name is required.</div>
						<div ng-message="minlength">Company Name must have 2 characters.</div>
						<div ng-message="maxlength">Company Name shouldn't exede 30 characters.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Agent Name</label>
					<input ng-model="user.companyName" type="text" name="cname" minlength="5" maxlength="30" required="required"/>
					<div ng-messages="signin.cname.$error">
						<div ng-message="required">Company Name is required.</div>
						<div ng-message="minlength">Company Name must have 2 characters.</div>
						<div ng-message="maxlength">Company Name shouldn't exede 30 characters.</div>
					</div>
				</md-input-container>	
				<md-input-container class="md-block">
					<label>Email</label>
					<input ng-model="user.email" name="email" type="email" minlength="10" maxlength="30" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"/>
					<div ng-messages="signin.email.$error">
						<div ng-message="required">Email is required.</div>
						<div ng-message="minlength">Email must have 10 characters.</div>
						<div ng-message="maxlength">Email shouldn't exede 30 characters. </div>
						<div ng-message="pattern">Enter a valied Email Id.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Phone No</label>
					<input ng-model="user.phoneNo" type="text" name="pno" minlength="10" maxlength="10" ng-pattern="/^[0-9]{10}$/" required="required"/>
					<div ng-messages="signin.pno.$error">
						<div ng-message="required">Phone No is required.</div>
						<div ng-message="minlength">Phone No must have 10 characters.</div>
						<div ng-message="maxlength">Phone No shouldn't exede 10 characters.</div>
						<div ng-message="pattern">Phone No should be only numbe.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Address</label>
					<input ng-model="user.address" type="text" name="address" required="required"/>
					<div ng-messages="signin.address.$error">
						<div ng-message="required">Addressis required.</div>
					</div>
				</md-input-container>
				</form>			
			</div>
		</div>
		<div layout="column" layout-align="center center">
			<div layout="row" >
				<md-button Class="md-raised md-primary" ng-click="save()">Sumbmit</md-button>
          		<md-button Class="md-raised" ng-click="save()">	CANCEL</md-button>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>