<div layout="column">
    <div layout="column" layout-padding class="homepage__title">
        <h3 class="md-title text_color">Welcome to Billboards India</h3>
    </div>
    <!-- status of hoarding list html start-->
    <div layout-xs="column" layout-gt-xs="row" flex-gt-xs="100" flex-xs="100"  style="text-align: center;">
        <div layout-xs="row" flex-xs="100" layout-gt-xs="row" flex-gt-xs="100">
            <div flex-xs="50" flex-gt-xs="50" >
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="ava-hdng">
                        <md-card-title-text>
                            <div class="md-body-2">Total (238) campaigns </div>
                            <div class="md-headline text_color">Rs.2,14,85,855</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="50" flex-gt-xs="50" >
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="book-hdng">
                        <md-card-title-text>
                            <div class="md-body-2">Running Campaigns</div>
                            <div class="md-headline text_color">Rs.2,14,85,855</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div layout-xs="row" flex-xs="100" layout-gt-xs="row" flex-gt-xs="100">
            <div flex-xs="50" flex-gt-xs="50">
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="tottal-hdng">
                        <md-card-title-text>
                            <div class="md-body-2">Received Payments</div>
                                <div class="md-headline text_color">Rs.2,14,85,855</div>
                                
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="50" flex-gt-xs="50">
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="proposal-hdng">
                        <md-card-title-text>
                            <div class="md-body-2">Pending Payments</div>
                                <div class="md-headline text_color">Rs.2,14,85,855</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card >
            </div>
            
        </div>
    </div>
    <!-- status of hoarding list html start-->
    <div layout="column" layout-margin flex>
            <div class="table-responsive">
                    <table class="table table-hover table-striped" style="width: 100%;">
                        <thead class="contbg">
                            <tr class="text_color">
                                <th>C.ID</th>
                                <th>Campaign Name</th>
                                <th hide-sm>Contact Name</th>
                                <th hide-sm hide-md>Contact No</th>
                                <th> Date</th>
                                <th hide-sm hide-md>Total Budget</th>
                                <th>Received</th>
                                <th>Pending</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BB01</td>
                                <td>Ford</td>
                                <td hide-sm>Jhon</td>
                                <td hide-sm hide-md>9966991111</td>
                                <td>12/02/2018 </td>
                                <td>2,00,000</td>
                                <td>1,00,000</td>
                                <td>1,00,000</td>
                                <td style="padding: 0px;">
                                    <md-button class="btn btn-default btn-primary" ng-href="#/owner/proposalProducts">
                                        Details
                                    </md-button>
                                </td>   
                            </tr>
                            <tr>
                                <td>BB01</td>
                                <td>Ford</td>
                                <td hide-sm>Jhon</td>
                                <td hide-sm hide-md>9966991111</td>
                                <td>12/02/2018 </td>
                                <td>2,00,000</td>
                                <td>1,00,000</td>
                                <td>1,00,000</td>
                                <td style="padding: 0px;">
                                    <md-button class="btn btn-default btn-primary" ng-href="#/owner/proposalProducts">
                                        Details
                                    </md-button>
                                </td>   
                            </tr>
                            <tr>
                                <td>BB01</td>
                                <td>Ford</td>
                                <td hide-sm>Jhon</td>
                                <td hide-sm hide-md>9966991111</td>
                                <td>12/02/2018 </td>
                                <td>2,00,000</td>
                                <td>1,00,000</td>
                                <td>1,00,000</td>
                                <td style="padding: 0px;">
                                    <md-button class="btn btn-default btn-primary" ng-href="#/owner/proposalProducts">
                                        Details
                                    </md-button>
                                </td>   
                            </tr>
                        </tbody>
                    </table>
            </div>
    </div>
</div>