<div ng-cloak  flex="100" flex-xs="100" flex-sm="100" flex-md="100">
    <md-tabs  md-border-bottom class="campagin__summarys" md-dynamic-height>
        <!-- planed tab start-->
        <md-tab label="Revised Praposals">
            <div class="table-responsive">
                <table class="table table-hover table-striped" style="width: 100%;height:100%">
                    <thead class="">
                        <tr>
                            <th>C.ID</th>
                            <th>Campaign Name</th>
                            <th hide-sm>Contact Name</th>
                            <th hide-sm hide-md>Contact No</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th hide-sm hide-md>No.Of<br> Product</th>
                            <th>Price</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>BB01</td>
                            <td>{{item.campaignname}}</td>
                            <td hide-sm>{{item.clientname}}</td>
                            <td hide-sm hide-md>{{item.clientcontent}}</td>
                            <td>{{item.startdate}} </td>
                            <td>{{item.enddate}}</td>
                            <td hide-sm hide-md>10</td>
                            <td>{{item.price}}</td>
                            <td>
                                <a class="md-icon-button" ng-href="#/owner/proposalProducts">
                                    <img src="assets/images/owner/eye.png">
                                </a>
                            </td>
                            <td style="padding: 0px;">
                                <md-button class="btn btn-default btn-primary">
                                    Approve
                                </md-button>
                            </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
        <!-- running campaign start-->
        <md-tab label="New Praposals">
            <div class="table-responsive">
                    <table class="table table-hover table-striped" style="width: 100%;height:100%">
                        <thead class="">
                            <tr>
                                <th>C.ID</th>
                                <th>Campaign Name</th>
                                <th hide-sm>Contact Name</th>
                                <th hide-sm hide-md>Contact No</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th hide-sm hide-md>No.Of<br> Product</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>BB01</td>
                                <td>{{item.campaignname}}</td>
                                <td hide-sm>{{item.clientname}}</td>
                                <td hide-sm hide-md>{{item.clientcontent}}</td>
                                <td>{{item.startdate}} </td>
                                <td>{{item.enddate}}</td>
                                <td hide-sm hide-md>10</td>
                                <td>{{item.price}}</td>
                                <td style="padding: 0px;">
                                    <md-button class="btn btn-default btn-primary" ng-href="#/owner/proposalProducts">
                                        Details
                                    </md-button>
                                </td>   
                            </tr>
                        </tbody>
                    </table>
            </div>
        </md-tab>
    </md-tabs>
</div>
