<div class="ow_campaign_details">
	<md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
		<img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
	</md-button>
	<div ng-cloak flex="100" flex-xs="100" flex-sm="100" class="contbg">
		<!-- <div layout="column" layout-sm="column" layout-xs="column">
			<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="ClientRequest">
				<md-toolbar layout="row" style="    background: #48869c;">
					<div class="md-toolbar-tools">
						<h2>
							<span>Client Request</span>
						</h2>
						<span flex></span>
						<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeInputPanel()">
							<md-icon>
								<i class="material-icons">clear</i>
							</md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<div class="md-whiteframe-z2 md-body-1">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy
						text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
						book.
						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
						It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
						recently
						with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
				</md-content>
			</md-sidenav>
		</div> -->
		<!-- share campaign sidenav -->
		<!-- <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="shareCampaignSidenav">
			<div layout="row">
				<div class="md-toolbar-tools">
					<div flex></div>
					<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
						<md-tooltip>Close Side Panel</md-tooltip>
						<md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
					</md-button>
				</div>
			</div>
			<md-content layout-align="center center" layout-margin layout-padding>
				<h3 class="md-headline">Share Campaign</h3>
				<form name="shareCampaignForm">
					<div layout="column">
						<md-input-container class="md-block">
							<label>Name</label>
							<input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required" />
							<div ng-messages="shareCampaignForm.name.$error">
								<div ng-message="required">Name is required.</div>
								<div ng-message="pattern">Enter a valid Name.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Email</label>
							<input ng-model="shareCampaign.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
							<div ng-messages="shareCampaignForm.email.$error">
								<div ng-message="required">Email is required.</div>
								<div ng-message="pattern">Enter a valid Email Id.</div>
							</div>
						</md-input-container>
						<md-button class="md-raised md-warn all_button" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentOwnerShareCampaign)">Share
							Campaign</md-button>
					</div>
				</form>
			</md-content>
		</md-sidenav> -->
		<!-- share campaign sidenav ends -->
		<div class="ml-2 mr-2 mt-2 mb-2 md-whiteframe-2dp contbg mobile_campdetails">
			<div class="row" style="margin-left:0px; margin-right:0px;">
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 payment_mng"
				 style="margin-top:14px;">
					<p class="cmp_bottom">Campaign ID</p>
					<p class="md-caption mob_span"><b>{{campaignDetails.cid}}</b></p>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-3 payment_mng"
				 style="margin-top:14px;">
					<p class="cmp_bottom">Campaign Name</p>
					<p class="md-caption mob_span"><b>{{campaignDetails.name | capitalize}}</b></p>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-5 payment_nng"
				 style="margin-top:14px;">
					<p class="cmp_bottom">No of Products</p>
					<p class="md-caption mob_span mob_5"><b>{{campaignDetails.products.length}}</b></p>
				</div>
				<!-- <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_nng"
				 style="margin-top:14px;cursor: pointer;">
					<div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="toggleShareCampaignSidenav(campaignDetails.id)">
						<p data-toggle="modal" data-target="#myModal" class="cmp_bottom md-caption"><span><i class="material-icons i_icon">
									reply_all
								</i></span></p>
						<p data-toggle="modal" data-target="#myModal" class="mob_spanicon share_icon">Share Campaign</p>
					</div>
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Share Campaign</h4>
							  <button type="button" class="close" data-dismiss="modal" ng-click="closeDialog()">&times;</button>
							</div>
							<div class="modal-body">
								<form name="shareCampaignForm">
									<div layout="column">
										<md-input-container class="md-block">
											<label>Name</label>
											<input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required" />
											<div ng-messages="shareCampaignForm.name.$error">
												<div ng-message="required">Name is required.</div>
												<div ng-message="pattern">Enter a valid Name.</div>
											</div>
										</md-input-container>
										<md-input-container class="md-block">
											<label>Email</label>
											<input ng-model="shareCampaign.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
											<div ng-messages="shareCampaignForm.email.$error">
												<div ng-message="required">Email is required.</div>
												<div ng-message="pattern">Enter a valid Email Id.</div>
											</div>
										</md-input-container>
										<md-button class="md-raised md-warn all_button" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentOwnerShareCampaign)">Share
											Campaign</md-button>
									</div>
								</form>
							</div>
						  </div>
						</div>
					  </div>
				</div> -->
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_nng">
					<div class="dropdown">
						<md-button onclick="shareCampaign()" class="dropbtn drop_width">
								<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icon">
										reply_all
									</i></span></p>
							<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Share Campaign</p>
						</md-button>
						<div id="myDropdown" class="dropdown-content contbg animated fadeInDown contant_drop" style="padding:10px;">
						<form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
							<div layout="colmun">
							<span flex></span>
							<md-button class="md-icon-button" aria-label="Close Side Panel" onclick="shareCampaign()">
								<md-icon class="md-default-theme">
								<i class="material-icons">close</i>
								</md-icon>
							</md-button>
							</div>
							<h3 class="md-title" style="margin-top:-28px;margin-left: 11px;">Share Campaign</h3><br>
							<form name="shareCampaignForm">
								<div layout="column" style="padding:10px;">
									<div class="form-group">
										<input ng-model="shareCampaign.receiver_name" class="form-control" name="receiver_name" placeholder="Name" required="required" />
										<div ng-messages="shareCampaignForm.name.$error">
											<div ng-message="required">Name is required.</div>
											<div ng-message="pattern">Enter a valid Name.</div>
										</div>
									</div>
									<div class="form-group">
										<input ng-model="shareCampaign.email" name="email" class="form-control" placeholder="Email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
										<div ng-messages="shareCampaignForm.email.$error">
											<div ng-message="required">Email is required.</div>
											<div ng-message="pattern">Enter a valid Email Id.</div>
										</div>
									</div>
									<div class="offset-md-7 col-md-5" style="padding-right: 0px;">
											<md-button class="md-raised md-warn Upload_font" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentOwnerShareCampaign)">Share
													Campaign</md-button>
									</div>
									
								</div>
							</form>
						</form>
						</div>
					</div>
					</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_nng"
				 style="cursor: pointer;">
					<!-- <div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
						<a href="assets/images/owner/owner_logo.png" download>
							<p class="cmp_bottom md-caption"><span><i class="material-icons i_icondown">
										file_copy
									</i></span></p>
							<p class="mob_spanicon share_icon">Download Quotation</p>
						</a>
					</div> -->
					<div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
							<a href="assets/images/owner/owner_logo.png" download>
					<md-button class="dropbtn drop_width">
							<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icondown">
									file_copy
								</i></span></p>
						<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Download Quotation</p>
					</md-button>
				</a>
				</div>
				</div>
				<!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-6" style="margin-top:23px;">
				  <p class="md-caption"><span><i class="material-icons">
					  account_balance_wallet
					</i></span></p>
					<p class="">Payment Details</p>
			  </div> -->
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 payment_nng hide-xs"
				 style="margin-top:2em;text-align: end" ng-if="campaignDetails.products.length == 0">
					<!-- <md-button class="md-raised Upload_font">
						<md-icon>
							<i class="material-icons material_iconscloud">
								cloud_upload
							</i>
						</md-icon>
						Upload Art Work
					</md-button> -->
					<md-button class="md-raised add_blue" ng-click="addNewProductToCampaign()">Add Products
					</md-button>
				</div>
			</div>
		</div>
		<!-- table grid start -->
		<div class="table-responsive">
			<table class="table">
				<div ng-if="campaignDetails.products.length == 0" style="margin:0 auto;width: 50%;">
					<img src="assets/images/owner/Group 383.png" alt="short" />
				</div>
				<thead class="text_color" ng-if="campaignDetails.products.length != 0">
					<tr>
						<th style="width:250px;">Product Details</th>
						<th class="hide-xs"></th>
						<th class="">Size</th>
						<th class="">Booked From</th>
						<th class="">Booked To</th>
						<th class="">Price</th>
						<th class="">Default Price</th>
						<th class=" text-right">
							<md-button class="md-raised add_blue" ng-if="campaignDetails.type!=0" ng-click="addNewProductToCampaign()">Add
								Another Product
							</md-button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in campaignDetails.products">
						<td class="hide-xs image_tdwidth">
							<img ng-src="{{config.serverUrl + product.image}}" alt="Smiley face" class="requ_size">
						</td>
						<td class="table_address">
							<p><b>{{product.siteNo}} - {{product.area_name}} (40Ft X 40Ft)</b><br>Address: {{product.address
								||
								"N/A"}}<br>Views : {{product.impressions || "N/A"}}
								<br>Type:{{product.format_name || "N/A"}}
						</td>
						<td class="table_vertical ">{{product.panelSize}}</td>
						<td class="table_vertical">
							{{product.booked_from | dateify | date: "dd-MMM-yyyy"}}
						</td>
						<td class="table_vertical">{{product.booked_to | dateify | date: "dd-MMM-yyyy"}}
						</td>

						<td class="table_vertical table_price">
							<!-- ng-if="campaignDetails.status==300 && product.owner_price" -->
							{{(!myfield && product.owner_price)?product.owner_price:''}}
							<input type="text" class="" ng-model="product.owner_price" placeholder="Price" ng-if="myfield" style="width: 70px;padding: 4px 5px;" />
							<span ng-click="myfield = true;" ng-show="!myfield"> <i class="material-icons">edit</i></span>
							<span ng-click="myfield = false;changeCampaignProductPrice(campaignDetails.id,product.owner_price,product.id)"
							 ng-show="myfield"> <i class="material-icons">check</i></span>
						</td>
						
						<td class="table_vertical">
							<!-- ng-if="campaignDetails.type == 0 && campaignDetails.status!=300" -->
							{{product.default_price || "NA"}}</td>
						<td class="table_vertical ">
							<a><i class="material-icons" ng-if="campaignDetails.type!=0 && campaignDetails.status!=700" ng-click="deleteProductFromCampaign($event, product.id)">delete_forever</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //table grid end -->
		<!-- <div class="md-whiteframe-3dp campaign_payment hide-xs" layout="row" layout-margin ng-if="campaignDetails.products.length > 0 && campaignDetails.type == 2">
			<div layout="column" class="payment_inner">
				<div layout="row">
					<div class="md-body-1">Total :</div>
					<div class="md-body-1">{{campaignDetails.act_budget}}</div>
				</div>
				<div layout="row">
					<div class="md-body-1">18% GST :</div>
					<div class="md-body-1"> {{campaignDetails.gst}}</div>
				</div>
				<div layout="row">
					<div class="md-body-1">Sub Total :</div>
					<div class="md-body-1">{{campaignDetails.subTotal}}</div>
				</div>
				<div layout="row">
					<div class="md-title">Grand Total :</div>
					<div class="md-title">{{campaignDetails.grandTotal}}</div>
				</div>
				<md-button class="md-raised md-primary" ng-click="bookOwnerCampaign(campaignDetails.id,$event)" ng-if="campaignDetails.status != 700">Book
					Campaign</md-button>
				<button class="" ng-if="campaignDetails.status == 700" style="cursor:none">Booked</button>
			</div>
		</div> -->
		<div class="row" style="border-top: 1px solid #ddd; margin-right:20px;">
				<div class="col-md-4">
					<div class="mt-3 ml-2 form-group">
						<label for="text" class="text_color">Any questions, Please submit below</label>
						<textarea type="text" ng-model="campaignDetails.message" class="form-control" id="text" rows="3"></textarea>
					</div>
					<button type="submit" class="btn user_submit float-right" ng-click="changeQuoteRequest(campaignDetails.id, campaignDetails.message)">Submit</button>
						
				</div>
				<div class="col-md-8">
					<div class="mt-3 pull-right" style="font-size: 13px;">
						<p class="font-weight-light" style="text-indent: 53px;"><b>Total : <spam class="float-right">{{campaignDetails.act_budget}}</b></spam>
						</p>
						<!-- <p class="text_color" style="text-indent: 31px;">18% GST : <spam class="float-right">{{campaignDetails.gst}}</spam></p> -->
						<p class="text_color" style="text-indent: 17px;"><input type="checkbox" ng-model="checked" ng-init="checked=true"
							 ng-change="uncheck()" />18% GST : <span class="float-right">{{ GST ||"N/A" }}</span></p>
						<p class="" style="text-indent: 28px;">Sub Total : <spam class="float-right">{{campaignDetails.subTotal}}</spam>
						</p>
						<p class="" style="font-size: 15px;font-weight: 500;">Grand Total : <spam class="float-right">{{campaignDetails.grandTotal}}</spam>
						</p>
						<md-button class="md-raised md-primary all_button" ng-click="bookOwnerCampaign(campaignDetails.id,$event)" ng-if="campaignDetails.status != 700">Book
							Campaign</md-button>
						<md-button class="md-raised md-primary booked_campdetails Upload_font" ng-disabled="campaignDetails.status == 700">Booked</md-button>
					</div>
				</div>
		</div>
	</div>
</div>


<script>
		function shareCampaign() {
		  document.getElementById("myDropdown").classList.toggle("show");
		}
		function shareCampaigns() {
		  document.getElementById("myDropdownView").classList.toggle("show");
		}
	  </script>