<div ng-cloak flex="100" flex-xs="100" flex-sm="100">
	<div layout="column" layout-sm="column" layout-xs="column">
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="ClientRequest">
			<md-toolbar layout="row" style="    background: #48869c;">
				<div class="md-toolbar-tools">
					<h2>
						<span>Client Request</span>
					</h2>
					<span flex></span>
					<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeInputPanel()">
						<md-icon>
							<i class="material-icons">clear</i>
						</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content layout-padding>
				<div class="md-whiteframe-z2 md-body-1">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
					text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
					with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</div>
			</md-content>
		</md-sidenav>
		<div class="md-title" style="background: #447bde;color: #fff;" layout-padding>
			Proposal
		</div>
		<div class="Planned">
			<div class="bg-part">
				<div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-margin="layout-margin" class="client-summay">
					<div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
					 layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
						<div layout="column" layout-align="center center">
							<div>
								<span>
									<img src="assets/images/client_details.png">
								</span>
							</div>
							<h3>Client Details</h2>
						</div>
						<div layout="row" layout-align="center center">
							<div flex="50">Campaign Name:</div>
							<div flex="50">{{campaignDetails.name}}</div>
						</div>
						<div layout="row" layout-align="center center">
							<div flex="50">Client Name:</div>
							<div flex="50" ng-if="campaignDetails.type == 2">{{campaignDetails.org_contact_name}}</div>
							<div flex="50" ng-if="campaignDetails.type != 2">N/A</div>
						</div>
						<div layout="row" layout-align="center center">
							<div flex="50">Contact:</div>
              <div flex="50" ng-if="campaignDetails.type == 2">{{campaignDetails.org_contact_phone || "N/A"}}</div>
              <div flex="50" ng-if="campaignDetails.type != 2">N/A</div>
						</div>
						<div layout="row" layout-align="center center">
							<div flex="50">Email:</div>
              <div flex="50" ng-if="campaignDetails.type == 2">{{campaignDetails.org_contact_email || "N/A"}}</div>
              <div flex="50" ng-if="campaignDetails.type != 2">N/A</div>
						</div>
					</div>
					<div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
					 layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
						<div layout="column" layout-align="center center">
							<div>
								<img src="assets/images/capaign_details.png">
							</div>
							<h3>Campaign Summary</h2>
						</div>
						<div layout="row">
							<div flex="50">Starting:</div>
							<div flex="50">From {{ campaignDetails.start_date | dateify | date: "dd-MMM-yyyy" }} To {{ campaignDetails.end_date | dateify | date:
								"dd-MMM-yyyy" }}</div>
						</div>
						<div layout="row">
							<div flex="50">Estimated Budget:</div>
							<div flex="50">
								<span ng-if="campaignDetails.est_budget">Rs.</span>{{campaignDetails.est_budget || "N/A"}}</div>
						</div>
						<div layout="row">
							<div flex="50">Actual Budget:</div>
							<div flex="50">
								<span ng-if="campaignDetails.act_budget">Rs.</span>{{campaignDetails.act_budget || "N/A"}}</div>
						</div>
						<div layout="row">
							<div flex="50">Status:</div>
							<div flex="50">
								<span layout-align="center center">{{campaignDetails.status | stringifyCampaignStatus }}</span>
								<!-- <span layout-align="center center" ng-if="campaignDetails.status == 5">
									<i class="material-icons">info_outline</i>
								</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-margin>
			<div flex="30">
				<div style="margin: 30px 0 0 0;font-size: 20px;">Products({{campaignDetails.products.length || 0}})</div>
			</div>
			<div flex="70" layout="row" layout-align="end center">
				<div>
					<!-- <md-button class="md-raised md-warn" ng-disabled="!campaignDetails || !campaignDetails.products || (campaignDetails.status >= 4 && campaignDetails.status != 5)"
					 ng-click="finalizeCampaign()">
						Finalize
						<span>
							<md-icon md-svg-icon="assets/images/finalise.svg"></md-icon>
						</span>
					</md-button> -->
					<md-button class="md-raised md-warn" ng-click="toggleShareCampaignSidenav()" ng-if="campaignDetails.type == 2">
						Share
						<span>
							<md-icon md-svg-icon="assets/images/finalise.svg"></md-icon>
						</span>
					</md-button>
					<md-button class="md-raised md-warn" ng-disabled="campaignDetails.status >= 6" ng-click="addNewProductToCampaign()" ng-if="campaignDetails.type == 2">
						Add New Product
						<span>
							<md-icon md-svg-icon="assets/images/finalise.svg"></md-icon>
						</span>
					</md-button>
					<md-button class="md-raised md-primary" ng-disabled="!campaignDetails.products || campaignDetails.status >= 6" ng-click="launchOwnerCampaign(campaignDetails.id, $event)" ng-if="campaignDetails.type == 2">
						Launch
						<span>
							<md-icon md-svg-icon="assets/images/finalise.svg"></md-icon>
						</span>
					</md-button>
					<md-button class="md-raised" ng-disabled="campaignDetails.status < 6 || campaignDetails.status == 8"
					 ng-click="closeCampaign(campaignDetails.id, $event)" ng-if="campaignDetails.type == 2">
						Close Campaign
						<span>
							<md-icon md-svg-icon="assets/images/finalise.svg"></md-icon>
						</span>
					</md-button>
				</div>
			</div>
		</div>
		<!-- <div ui-grid="gridCampaignProducts" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav
			 ui-grid-move-columns ui-grid-auto-resize class="grid"> -->
	</div>
	<!-- share campaign sidenav -->
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="shareCampaignSidenav">
		<div layout="row">
		  <div class="md-toolbar-tools">
			<div flex></div>
			<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
			  <md-tooltip>Close Side Panel</md-tooltip>
			  <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
			</md-button>
		  </div>
		</div>
		<md-content layout-align="center center" layout-margin layout-padding>
		  <h3 class="md-headline">Share Campaign</h3>
		  <form name="shareCampaignForm">
			<div layout="column">
			  <md-input-container class="md-block">
				<label>Name</label>
				<input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required"/>
				<div ng-messages="shareCampaignForm.name.$error">
				  <div ng-message="required">Name is required.</div>
				  <div ng-message="pattern">Enter a valid Name.</div>
				</div>
			  </md-input-container>
			  <md-input-container class="md-block">
				<label>Email</label>
				<input ng-model="shareCampaign.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
				<div ng-messages="shareCampaignForm.email.$error">
				  <div ng-message="required">Email is required.</div>
				  <div ng-message="pattern">Enter a valid Email Id.</div>
				</div>
			  </md-input-container>
			  <md-button class="md-raised md-warn" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign)">SHARE CAMPAIGN</md-button>
			</div>
		  </form>
		</md-content>
	</md-sidenav>
	<!-- share campaign sidenav ends -->
	<!-- table grid start  -->
	<div style="margin-top: 1em;">
		<div class="table-responsive">
			<table class="table table-striped table-bordered ">
				<thead>
					<tr>
						<th>Tab Id</th>
						<th>Type</th>
						<th>Area</th>
						<th>Size</th>
						<th>Lighting</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Image</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="campaignProduct in campaignDetails.products | limitTo:limit" ng-class="{'striked-out': campaignProduct.unavailable}">
						<td>{{campaignProduct.siteNo}}</td>
						<td>{{campaignProduct.format_name}}</td>
						<td>{{campaignProduct.area_name}}</td>
						<td>{{campaignProduct.panelSize}}</td>
						<td>{{campaignProduct.lighting | boolToYesNo}}</td>
						<td>{{campaignProduct.from_date | date }}</td>
						<td>{{campaignProduct.to_date | date }}</td>
						<td>
							<md-button ng-click="viewProductImage(campaignProduct.image)" class="md-icon-button">
								<md-icon>
									<i class="material-icons">remove_red_eye</i>
								</md-icon>
							</md-button>
						</td>
						<td>{{campaignProduct.price}}</td>
						<td>
							<span>
								<a style="cursor:pointer;" ng-click="editProposedProduct(campaignProduct.id, campaignProduct.from_date, campaignProduct.to_date, campaignProduct.price)" ng-if="campaignDetails.status < 3 || campaignDetails.status == 4">
									<md-icon>
										<i class="material-icons">mode_edit</i>
									</md-icon>
								</a>
							</span>
							<span>
								<a style="cursor:pointer;" ng-click="deleteProductFromCampaign(campaignDetails.id, campaignProduct.id)" ng-if="campaignDetails.type == 2 && (campaignDetails.status < 3 || campaignDetails.status == 4)">
									<md-icon>
										<i class="material-icons">delete</i>
									</md-icon>
								</a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div layout="colmun" layout-align="end center" layout-margin>
      <button style="width:120px;" class="more btn btn-primary btn-block" ng-click="loadMore()">Load More!</button>
    </div> -->
	</div>
	<!-- table grid end -->
</div>
</div>
</div>