<div layout="column"  flex="100" flex-xs="100" flex-sm="100" flex-md="100" style="background: #eee">
        <div layout="column" layout-margin flex>
            <h2 class="md-title text_color"> Change Password</h2>
        </div>
        <div layout="row" layout-margin >
            <div flex="50" class="md-whiteframe-2dp contbg" layout-padding style="height: 70vh;">
                <form style="padding-top:50px">
                    <div class="form-group row">
                        <label for="opwd" class="col-sm-4 col-form-label md-body-2">Old Password:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="opwd" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="npwd" class="col-sm-4 col-form-label md-body-2">New Password:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="npwd">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cpwd" class="col-sm-4 col-form-label md-body-2">Conform Password:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cpwd">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class=" col-sm-7">
                            <md-button class="md-raised md-primary">Submit</md-button>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>