<!-- ============ add clent list side nav start ============ -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2 scrollbar__style" md-component-id="addClientList" style="width:400px !important">
		<md-toolbar layout="row">
				<div class="md-toolbar-tools bg_main_color" >
				<h2>
					<span>Add Client List</span>
				</h2>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="addClient()">
						<md-tooltip>Close Side Panel</md-tooltip>
						<md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
				</md-button>
				</div>
		</md-toolbar> 
		<md-content layout-padding="">
            <form  role="form">
                    <div class="form-group row">
                        <label for="Cname"class="col-sm-4 col-form-label">Company Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Cname" >
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="cperson"class="col-sm-4 col-form-label">Contact Person</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="cperson">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Designation"class="col-sm-4 col-form-label">Designation</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Designation">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phonenum"class="col-sm-4 col-form-label">Phone <Noscript></Noscript></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="phonenum">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email"class="col-sm-4 col-form-label">Email <Noscript></Noscript></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address"class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" id="address"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for=""class="col-sm-4 col-form-label">Companie Logo</label>
                        <div class="col-sm-8">
                            <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                            <input type="file" id="imgInp" style="width:100%">
                                    </span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin:10px 0">
                            <label class="col-md-3 control-label"></label>
                            <input class="btn btn-primary" value="Save" type="button">
                            <span></span>
                            <input class="btn btn-default" value="Cancel" type="reset">
                    </div> 

            </form>
		</md-content> 
</md-sidenav>
<!-- ============ add clientlist side nav end ============ -->
<div flex="100" flex-xs="100" flex-sm="100" flex-md="100">
    <div layout="row" layout-margin="layout-margin">
        <h3 class="md-headline text_color">Client List</h3>
        <div flex></div>
        
        <div layout="column">
            <md-button aria-label="add" class=" md-fab md-mini" ng-click="addClient()">
                <md-icon><i class="material-icons">&#xE145;</i></md-icon>
            </md-button>
        </div>  
    </div>
    <div class="client_list">
        <div class="row margin_left_0 margin_right_0">
            <div class="col-md-3">
                <div class="client_details contbg" >
                    <!-- if logo id not there it shows company name-->
                    <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                    <!-- logo is there -->
                    <md-divider></md-divider>
                    <table class="client__data">
                        <tbody>
                            
                            <tr class="md-body-2">
                                <td>Contact Name</td>
                                <td>:Jhon</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Contact No</td>
                                <td>:9966016152</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Designation</td>
                                <td>:Marketing Manager</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Email</td>
                                <td>:xyz@gmail.com</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="client_details contbg" >
                    <!-- if logo id not there it shows company name-->
                    <!-- <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4> -->
                    <!-- logo is there -->
                    <img src="assets/images/owner/amazon-logo.jpg" alt="amezon" width="30%"/>
                    <md-divider></md-divider>
                    <table class="client__data">
                        <tbody>
                            
                            <tr class="md-body-2">
                                <td>Contact Name</td>
                                <td>:Jhon</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Contact No</td>
                                <td>:9966016152</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Designation</td>
                                <td>:Marketing Manager</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Email</td>
                                <td>:xyz@gmail.com</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="client_details contbg" >
                        <!-- if logo id not there it shows company name-->
                        <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                        <!-- logo is there -->
                        <md-divider></md-divider>
                        <table class="client__data">
                            <tbody>
                                
                                <tr class="md-body-2">
                                    <td>Contact Name</td>
                                    <td>:Jhon</td>
                                </tr>
                                <tr class="md-body-2">
                                    <td>Contact No</td>
                                    <td>:9966016152</td>
                                </tr>
                                <tr class="md-body-2">
                                    <td>Designation</td>
                                    <td>:Marketing Manager</td>
                                </tr>
                                <tr class="md-body-2">
                                    <td>Email</td>
                                    <td>:xyz@gmail.com</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="client_details contbg" >
                    <!-- if logo id not there it shows company name-->
                    <!-- <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4> -->
                    <!-- logo is there -->
                    <img src="assets/images/owner/amazon-logo.jpg" alt="amezon" width="30%"/>
                    <md-divider></md-divider>
                    <table class="client__data">
                        <tbody>
                            
                            <tr class="md-body-2">
                                <td>Contact Name</td>
                                <td>:Jhon</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Contact No</td>
                                <td>:9966016152</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Designation</td>
                                <td>:Marketing Manager</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Email</td>
                                <td>:xyz@gmail.com</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>