<div flex="100" flex-xs="100" flex-sm="100" flex-md="100">
        <div layout="column" layout-margin flex>
            <h2 class="md-title text_color"> 149 Campaigns Closed</h2>
        </div>
        <div class="runing_campaign_list">
            <div class="row margin_left_0 margin_right_0">
                <div class="col-md-3">
                    <div class="running_campgn_details contbg" >
                        <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                        <md-divider></md-divider>
                        <table class="campagin__data">
                            <tbody>
                                <!-- <tr class="md-body-2">
                                    <td >Campign Name </td>
                                    <td>:Uber Cabs</td>
                                </tr> -->
                                <tr class="md-body-2">
                                    <td>Contact Name</td>
                                    <td>:UBER</td>
                                </tr>
                                <tr class="md-body-2">
                                    <td>Contact No</td>
                                    <td>:9966016152</td>
                                </tr>
                                <tr class="md-body-2">
                                    <td>Start Date</td>
                                    <td>:9-02-2018</td>
                                </tr>
                                <tr class="md-body-2">
                                    <td>End Date</td>
                                    <td>:9-02-2018</td>
                                </tr>
                                
                                <tr class="md-body-2">
                                    <td>Email</td>
                                    <td>:xyz@gmail.com</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="running_campgn_details contbg">
                            <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                            <md-divider></md-divider>
                            <table class="campagin__data">
                                <tbody>
                                    <!-- <tr class="md-body-2">
                                        <td >Campign Name </td>
                                        <td>:Uber Cabs</td>
                                    </tr> -->
                                    <tr class="md-body-2">
                                        <td>Contact Name</td>
                                        <td>:UBER</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Contact No</td>
                                        <td>:9966016152</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Start Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>End Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    
                                    <tr class="md-body-2">
                                        <td>Email</td>
                                        <td>:xyz@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="running_campgn_details contbg">
                            <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                            <md-divider></md-divider>
                            <table class="campagin__data">
                                <tbody>
                                    <!-- <tr class="md-body-2">
                                        <td >Campign Name </td>
                                        <td>:Uber Cabs</td>
                                    </tr> -->
                                    <tr class="md-body-2">
                                        <td>Contact Name</td>
                                        <td>:UBER</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Contact No</td>
                                        <td>:9966016152</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Start Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>End Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    
                                    <tr class="md-body-2">
                                        <td>Email</td>
                                        <td>:xyz@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="running_campgn_details contbg">
                            <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                            <md-divider></md-divider>
                            <table class="campagin__data">
                                <tbody>
                                    <!-- <tr class="md-body-2">
                                        <td >Campign Name </td>
                                        <td>:Uber Cabs</td>
                                    </tr> -->
                                    <tr class="md-body-2">
                                        <td>Contact Name</td>
                                        <td>:UBER</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Contact No</td>
                                        <td>:9966016152</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Start Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>End Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    
                                    <tr class="md-body-2">
                                        <td>Email</td>
                                        <td>:xyz@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="running_campgn_details contbg">
                                <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                                <md-divider></md-divider>
                                <table class="campagin__data">
                                    <tbody>
                                        <!-- <tr class="md-body-2">
                                            <td >Campign Name </td>
                                            <td>:Uber Cabs</td>
                                        </tr> -->
                                        <tr class="md-body-2">
                                            <td>Contact Name</td>
                                            <td>:UBER</td>
                                        </tr>
                                        <tr class="md-body-2">
                                            <td>Contact No</td>
                                            <td>:9966016152</td>
                                        </tr>
                                        <tr class="md-body-2">
                                            <td>Start Date</td>
                                            <td>:9-02-2018</td>
                                        </tr>
                                        <tr class="md-body-2">
                                            <td>End Date</td>
                                            <td>:9-02-2018</td>
                                        </tr>
                                        
                                        <tr class="md-body-2">
                                            <td>Email</td>
                                            <td>:xyz@gmail.com</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
                </div>
                <div class="col-md-3">
                    <div class="running_campgn_details contbg">
                            <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                            <md-divider></md-divider>
                            <table class="campagin__data">
                                <tbody>
                                    <!-- <tr class="md-body-2">
                                        <td >Campign Name </td>
                                        <td>:Uber Cabs</td>
                                    </tr> -->
                                    <tr class="md-body-2">
                                        <td>Contact Name</td>
                                        <td>:UBER</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Contact No</td>
                                        <td>:9966016152</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Start Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>End Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    
                                    <tr class="md-body-2">
                                        <td>Email</td>
                                        <td>:xyz@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="running_campgn_details contbg">
                            <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                            <md-divider></md-divider>
                            <table class="campagin__data">
                                <tbody>
                                    <!-- <tr class="md-body-2">
                                        <td >Campign Name </td>
                                        <td>:Uber Cabs</td>
                                    </tr> -->
                                    <tr class="md-body-2">
                                        <td>Contact Name</td>
                                        <td>:UBER</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Contact No</td>
                                        <td>:9966016152</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Start Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>End Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    
                                    <tr class="md-body-2">
                                        <td>Email</td>
                                        <td>:xyz@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="running_campgn_details contbg">
                            <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                            <md-divider></md-divider>
                            <table class="campagin__data">
                                <tbody>
                                    <!-- <tr class="md-body-2">
                                        <td >Campign Name </td>
                                        <td>:Uber Cabs</td>
                                    </tr> -->
                                    <tr class="md-body-2">
                                        <td>Contact Name</td>
                                        <td>:UBER</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Contact No</td>
                                        <td>:9966016152</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>Start Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    <tr class="md-body-2">
                                        <td>End Date</td>
                                        <td>:9-02-2018</td>
                                    </tr>
                                    
                                    <tr class="md-body-2">
                                        <td>Email</td>
                                        <td>:xyz@gmail.com</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>