<div layout="column"  flex="100" flex-xs="100" flex-sm="100" flex-md="100" style="background: #eee">
	<div layout="column" layout-margin flex>
		<h2 class="md-title text_color"> Create User</h2>
    </div>
    <div layout="row" layout-margin >
		<div flex="50" class="md-whiteframe-2dp contbg" layout-padding style="height: 70vh;">
            <form style="padding-top:50px">
                <div class="form-group row">
                    <label for="hoardingId" class="col-sm-4 col-form-label md-body-2">Employee / User Name:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="hoardingId" placeholder="User Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="hoardingId" class="col-sm-4 col-form-label md-body-2">Designation:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="hoardingId" placeholder="Enter YourDesignation">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="hoardingId" class="col-sm-4 col-form-label md-body-2">Dash Board Permission:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="hoardingId">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class=" col-sm-7">
                        <md-button class="md-raised md-primary">create user</md-button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</div>