<style>
    input{
        width: 68% !important;
    }
</style>
<div layout="row" layout-xs="column">
    <div flex="30"></div>
    <div flex="100" layout-align="center center">
        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
            <md-card flex="100">
                <div>
                    <md-button style="margin-top: 2.7em;margin-left: 39%;">
                        <img class="png-icon1" src="assets/images/person.png" style="border-radius: 7em;height: 10em;">
                    </md-button>
                    <p style="font-size:25px;margin-top: 4px;margin-left: 35%;margin-bottom: 0px;">Siva Shankar Reddy &nbsp
                        <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 21px;">&#xE254;</i>
                    </p>
                </div>
                <form class="owner_form">
                    <div class="md-padding" layout-align="center">
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Company Name &nbsp
                                    <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 11px;">&#xE254;</i>
                                </label>
                                <input>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>Owner Name &nbsp
                                    <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 11px;">&#xE254;</i>
                                </label>
                                <input>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Phone Number &nbsp
                                    <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 11px;">&#xE254;</i>
                                </label>
                                <input>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>City &nbsp
                                    <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 11px;">&#xE254;</i>
                                </label>
                                <input>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Pincode &nbsp
                                    <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 11px;">&#xE254;</i>
                                </label>
                                <input>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>Address &nbsp
                                    <i class="material-icons" style="background-color: #2196F3;border-radius: 15px;color: #F9FCFF;font-size: 11px;">&#xE254;</i>
                                </label>
                                <input>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </md-card>
        </md-content>
    </div>
</div>