<div class="md-whiteframe-2dp contbg md-caption mt-5" layout="row" layout-margin>
    <div class="table-responsive">
        <table class="table upper_head">
            <!-- <thead class="text_color">
                <tr>
                    <th>Product Details</th>
                    <th></th>
                    <th>Size</th>
                    <th>Views</th>
                    <th>Lit</th>
                    <th>Price</th>
                    <th class="text-center">Calender</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <td class="upper_line">
                        <img src="assets/images/addnewproduct.png" alt="Smiley face" height="100" width="150">
                    </td>
                    <td class="upper_line">
                        <p class="md-title mb-0"><span>{{product.siteNo}}</span> - <span>Kothaguda</span>
                            <span>(40Ft X 40Ft)</span></p>                        
                        <p class="mb-0">Kothaguda X Roads</p>
                        <p class="mb-0"> <span class="text_color">Facing:</span>From Kothaguda to
                            Hitech city road, beside ICICI Bank</p>
                    </td>
                    <td class="table_vertical upper_line">
                      <label><b>Views</b></label>
                        1,48,000
                    </td>
                    <td class="table_vertical upper_line">
                            <label><b>Lit</b></label>
                        Yes</td>
                    <td class="table_vertical upper_line">
                            <label><b>Price</b></label>
                        58,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="contbg md-caption layout-row" layout="column">
    <div class="md-whiteframe-2dp layout-margin col-md-6">
        <div class="col-md-12">
            <h4 class="mt-1" style="margin-left:-20px;">Update product details</h4><br>
            <form role="form" name="updateProductForm" novalidate>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input ng-model="product.siteNo" type="text" name="siteNo" placeholder="Product ID" required="required"
                            ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/"
                            class="form-control md-whiteframe-3dp" />
                        <div ng-messages="updateProductForm.siteNo.$error" ng-if="updateProductForm.siteNo.$touched"
                            style="color:red">
                            <div ng-message="required">Product Id is required.</div>
                            <div ng-message="pattern">Product id should contain only Alpha Numeric and _ - . symbols.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <select id="productType" ng-options="format.id as format.name for format in formatList"
                            ng-model="product.type" class="form-control md-whiteframe-3dp" data-md-container-class="selectdemoSelectHeader"
                            required="required" name="productType">
                            <option value="" disabled selected>Site Type</option>
                        </select>
                        <div ng-messages="updateProductForm.productType.$error" ng-if="updateProductForm.productType.$touched"
                            style="color:red">
                            <div ng-message="required">Site type is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select name="country" class="form-control md-whiteframe-3dp" id="country" required="required"
                            ng-model="product.country" ng-change="getStateList()" ng-options="country.id as country.name for country in countryList">
                            <option value="" disabled selected>Select Country</option>
                        </select required>
                        <div ng-messages="updateProductForm.country.$error" ng-if="updateProductForm.country.$touched"
                            style="color:red">
                            <div ng-message="required">Country is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <select name="state" class="form-control md-whiteframe-3dp" id="state" ng-model="product.state"
                            required="required" ng-change="getCityList()" ng-options="state.id as state.name for state in stateList">
                            <option value="" disabled selected>Select State</option>
                        </select required>
                        <div ng-messages="updateProductForm.state.$error" ng-if="updateProductForm.state.$touched"
                            style="color:red">
                            <div ng-message="required">state is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select name="city" class="form-control md-whiteframe-3dp" id="city" ng-model="product.city"
                            required="required" ng-change="getAreaList()" ng-options="city.id as city.name for city in cityList">
                            <option value="" disabled selected>Select City</option>
                        </select required>
                        <div ng-messages="updateProductForm.city.$error" ng-if="updateProductForm.city.$touched" style="color:red">
                            <div ng-message="required">city is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input ng-model="product.address" class="form-control  md-whiteframe-3dp" placeholder="address"
                            type="text" name="address" required="required" />
                        <div ng-messages="updateProductForm.address.$error" ng-if="updateProductForm.address.$touched"
                            style="color:red">
                            <div ng-message="required">Address is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input ng-model="product.direction" class="form-control md-whiteframe-3dp" placeholder="direction"
                            type="text" name="direction" required="required" />
                        <div ng-messages="updateProductForm.direction.$error" ng-if="updateProductForm.direction.$touched"
                            style="color:red">
                            <div ng-message="required">direction is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="product.lighting" required="required" name="light" class="form-control md-whiteframe-3dp"
                            md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-init="product.lighting = product.lighting || ''"
                            placeholder="Has lighting?">
                            <option value="" disabled selected>Has lighting?</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <div ng-messages="updateProductForm.light.$error" ng-if="updateProductForm.light.$touched"
                            style="color:red">
                            <div ng-message="required">light is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input ng-model="product.panelSize" class="form-control md-whiteframe-3dp" required="required"
                            placeholder="Panel Size" type="text" name="panelSize" required="required" />
                        <div ng-messages="updateProductForm.panelSize.$error" ng-if="updateProductForm.panelSize.$touched"
                            style="color:red">
                            <div ng-message="required">Panel size is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input ng-model="product.cost" class="form-control md-whiteframe-3dp" required="required"
                            placeholder="Product Cost" type="text" name="cost" required="required" />
                        <div ng-messages="updateProductForm.cost.$error" ng-if="updateProductForm.cost.$touched" style="color:red">
                            <div ng-message="required">Cost is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input ng-model="product.date" class="form-control md-whiteframe-3dp" required="required"
                            placeholder="Product date" type="date" name="date" required="required" />
                        <div ng-messages="updateProductForm.date.$error" ng-if="updateProductForm.date.$touched" style="color:red">
                            <div ng-message="required">Date is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <textarea ng-model="product.strength" class="form-control md-whiteframe-3dp" required="required"
                            placeholder="Product strength" type="strength" name="strength" required="required" rows="2"></textarea>
                        <div ng-messages="updateProductForm.strength.$error" ng-if="updateProductForm.strength.$touched"
                            style="color:red">
                            <div ng-message="required">{{product.strength}}</div>
                        </div>
                    </div>
                    <div flex></div>
                    <div class="col-sm-6">
                        <md-button class="md-raised md-primary btn-block" ng-click="updateOwnerCampaignPayment()" style=" background:#44596c; margin: 0px"
                            ng-disabled="updateProductForm.$invalid">Save
                            Changes</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layout-margin col-md-5">
        <img src="assets/images/updatedetails.png" alt="Smiley face">
        <label for="files" class="btn bottom-right">Change Image</label>
        <input id="files" style="visibility:hidden;" type="file">
    </div>
</div>