<div class="md-whiteframe-2dp contbg md-caption mt-5" layout="row" layout-margin>
    <div class="table-responsive">
        <table class="table table-hover upper_head">
            <!-- <thead class="text_color">
                <tr>
                    <th>Product Details</th>
                    <th></th>
                    <th>Size</th>
                    <th>Views</th>
                    <th>Lit</th>
                    <th>Price</th>
                    <th class="text-center">Calender</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <td class="upper_line">
                        <img src="assets/images/addnewproduct.png" alt="Smiley face" height="100" width="150">
                    </td>
                    <td class="table_vertical upper_line">
                        <p><b>BB238 - Kothaguda (40Ft X 40Ft)</b><br>Kothaguda X Roads<br>Facing: From Kothaguda to
                            Hitech<br>city
                            road, beside ICICI Bank</p>
                    </td>
                    <td class="table_vertical upper_line">1,48,000</td>
                    <td class="table_vertical upper_line">Yes</td>
                    <td class="table_vertical upper_line">58,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="contbg md-caption layout-row" layout="column">
    <div class="md-whiteframe-2dp layout-margin col-md-6">
        <div class="col-md-12">
            <h4 class="mt-1" style="margin-left:-20px;">Update product details</h4><br>
            <form>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Product ID">
                    </div>
                    <div class="col-sm-6">
                        <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                            <option value="" selected>Product Type</option>
                            <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                            <option value="" selected>Country</option>
                            <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                            <option value="" selected>City</option>
                            <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                            <option value="" selected>Area</option>
                            <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Direction">
                    </div>
                    <div class="col-sm-3">
                        <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                            <option value="" selected>Lit - Yes</option>
                            <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Size">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Product Cost">
                    </div>
                    <div class="col-sm-6">
                        <input type="date" name="bday" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Product Calender">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <textarea class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                            placeholder="Product Strength" rows="3"></textarea>
                    </div>

                    <div class="col-sm-6">
                        <md-button class="md-raised text-white md-primary btn-block" ng-click="updateOwnerCampaignPayment()" style="margin:0px;">Save
                            Changes</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layout-margin col-md-5">
        <img src="assets/images/updatedetails.png" alt="Smiley face" height="" width="520px">
        <label for="files" class="btn bottom-right">Change Image</label>
        <input id="files" style="visibility:hidden;" type="file">
    </div>
</div>

