<div ng-cloak  flex="100" flex-xs="100" flex-sm="100" flex-md="100">
	<md-content layout="column" layout-sm="column" layout-xs="column">
		<!-- <div class="inputDiv">
			<md-button ng-href="#/owner/ownerCampaign" class="md-icon-button">
				<md-icon>
					<i class="material-icons">keyboard_backspace</i>
				</md-icon>
			</md-button>
		</div> -->
		<div class="bg-part">
			<!-- <div class="line-bar">
			</div> -->
			<div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-margin="layout-margin" >
				<div layout="column" style="padding:20px" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
					layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
					<div layout="column" layout-align="center center">
						<!-- <div><span><md-icon md-svg-icon="assets/images/icons/megaphone.svg"></md-icon></span></div> -->
						<h3>Cleient Details</h2>
					</div>
					<div layout="row">
						<div flex="50">Campaign Name:</div>
						<div flex="50">Paytm</div>
					</div>
					<div layout="row">
						<div flex="50">Client Name:</div>
						<div flex="50">Srikanth Bijjala</div>
					</div>
					<div layout="row">
						<div flex="50">Content:</div>
						<div flex="50">9999999999</div>
					</div>
					<div layout="row">
						<div flex="50">Email:</div>
						<div flex="50">srikanthbijjala1990@gmail.com</div>
					</div>
				</div>
				<div layout="column" style="padding:20px" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
					layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
					<div layout="column" layout-align="center center">
						<!-- <div><span><md-icon md-svg-icon="assets/images/icons/handshake.svg"></md-icon></span></div> -->
						<h3>Campaign Summery</h2>
					</div>
					<div layout="row">
						<div flex="50">Staring:</div>
						<div flex="50">From 20-Feb-17 To 28-Feb-2017</div>
					</div>
					<div layout="row">
						<div flex="50">Estimated Budget:</div>
						<div flex="50">Rs.2,00,000</div>
					</div>
					<div layout="row">
						<div flex="50">Actul Budget:</div>
						<div flex="50">Rs.2,00,000</div>
					</div>
					<div layout="row">
						<div flex="50">Status:</div>
						<div flex="50">Running</div>
					</div>
				</div>
			</div>
			<div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row">
				<div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
					layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
					<div layout="column" layout-align="center center">
						<!-- <div><span><md-icon md-svg-icon="assets/images/icons/wallet.svg"></md-icon></span></div> -->
						<h3>Payment Details</h2>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">Total amount:</div>
						<div flex="50" layout="column" layout-align="center center">Rs. 2,30,000</div>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">Paid Amount:</div>
						<div flex="50" layout="column" layout-align="center center">Rs. 1,30,000</div>
					</div>
				</div>
				<div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
					layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
					<div layout="column" layout-align="center center">
						<!-- <div><span><md-icon md-svg-icon="assets/images/icons/credit-card.svg"></md-icon></span></div> -->
						<h3>Recently Updated Payments</h2>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">Date</div>
						<div flex="50" layout="column" layout-align="center center">Amount</div>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">23/07/17</div>
						<div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">23/07/17</div>
						<div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">23/07/17</div>
						<div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
					</div>
					<div layout="row">
						<div flex="50" layout="column" layout-align="center center">23/07/17</div>
						<div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
					</div>
				
				</div>
			</div>
		</div>

		<div layout="row">
			<div flex="50">
				<div style="margin: 30px 0 0 10px;font-size: 20px;">Products({{campaignDetails.products.length}})</div>
			</div>
			<div flex="50">
				<md-list flex layout="row" layout-align="end center">
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span>
									<md-icon md-svg-icon="assets/images/icons/share.svg"></md-icon>
								</span>
								<div class="md-caption"> share </div>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span>
									<md-icon md-svg-icon="assets/images/icons/finalized.svg"></md-icon>
								</span>
								<div class="md-caption"> Finalize </div>
							</md-button>
						</div>
					</md-list-item>
					<md-list-item>
						<div>
							<md-button class="md-grid-item-content">
								<span>
									<md-icon md-svg-icon="assets/images/icons/add.svg"></md-icon>
								</span>
								<div class="md-caption"> Add Product </div>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
			</div>
		</div>
		<div class="campagintable">
			<div layout="row" layout-padding="layout-padding" hide-xs hide-sm show-lg show-md>
				<md-list-item>
					<div flex="10" flex-gt-sm="10">ID</div>
					<div flex="10" flex-gt-sm="10">Type</div>
					<div flex="10" flex-gt-sm="10">Area</div>
					<div flex="10" flex-gt-sm="10"> Size</div>
					<div flex="10" flex-gt-sm="10">illumination</div>
					<div flex="15" flex-gt-sm="15">Start Date</div>
					<div flex="15" flex-gt-sm="15">End Date</div>
					<div flex="10" flex-gt-sm="10">Price</div>
					<div flex="10" flex-gt-sm="10">Image</div>
				</md-list-item>
			</div>
			<div layout="column" layout-margin layout-lg="column" layout-md="column" layout-xs="column" layout-sm="column" ng-repeat="hoarding in hoardingitems | limitTo:limit"
				class="contbg md-whiteframe-3dp">
				<div layout="row" layout-lg="row" layout-md="row" layout-xs="column" layout-sm="column" layout-padding="layout-padding">
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c1.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-sm="85">
							<div class="md-body-1">{{hoarding.id}}</div>
						</div>
						<div hide-gt-sm show-xs show-sm flex-xs="5" flex-sm="5">
							<md-menu>
								<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
									<md-icon>
										<i class="material-icons">more_vert</i>
									</md-icon>
								</md-button>
								<md-menu-content>
									<md-menu-item>
										<md-button ng-href="#">View Image</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button>Delete</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
					</div>
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="column" layout-sm="column" hide-xs hide-gt-xs hide-sm
						hide-gt-sm show-md show-gt-md show-lg show-gt-lg>
						<div layout-align-xs="start center" layout-xs="row" flex-xs="100" layout-align-sm="start center" layout-gt-xs="row">
							<div flex-xs="10" flex-gt-xs="10" layout="column" hide-md hide-lg>
								<div>
									<md-icon md-svg-icon="assets/images/c2.svg"></md-icon>
								</div>
							</div>
							<div flex-xs="80" flex-gt-xs="85">
								<div class="md-body-1">{{hoarding.type}}</div>
							</div>
						</div>
					</div>
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">{{hoarding.area}}</div>
						</div>
					</div>
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">{{hoarding.size}}</div>
						</div>
					</div>
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">{{hoarding.light}}</div>
						</div>
					</div>
					<div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row" hide-xs hide-sm show-md show-lg>
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">{{hoarding.sdate}}</div>
						</div>
					</div>
					<div flex="15" flex-xs="100" flex-sm="100" flex-gt-sm="15" layout-xs="row" layout-sm="row" hide-xs hide-sm show-md show-lg>
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">{{hoarding.edate}}</div>
						</div>
					</div>
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row" hide-lg hide-md show-xs show-sm>
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">From{{hoarding.sdate}}To{{hoarding.edate}}</div>
						</div>
					</div>
					<div flex="10" flex-xs="100" flex-sm="100" flex-gt-sm="10" layout-xs="row" layout-sm="row">
						<div hide-gt-sm show-xs show-sm flex-xs="10" flex-sm="10">
							<md-icon md-svg-icon="assets/images/c6.svg"></md-icon>
						</div>
						<div flex-xs="80" flex-gt-xs="85">
							<div class="md-body-1">{{hoarding.price}}</div>
						</div>
					</div>
					<div flex="10" hide-xs hide-sm>
						<div layout="row">
							<md-button class="md-icon-button">
								<md-icon>
									<i class="material-icons">remove_red_eye</i>
								</md-icon>
							</md-button>
							<md-button class="md-icon-button">
								<md-icon>
									<i class="material-icons">delete</i>
								</md-icon>
							</md-button>
						</div>
					</div>
				</div>
			</div>
			<div layout="column" layout-align="center end" class="loadmore">
				<md-button class="md-primary loadmorebtn" ng-click='loadMore()'>Load More</md-button>
			</div>
		</div>
	</md-content>
</div>