<md-dialog flex-xs="100" flex="50" flex-md="60" flex-sm="60">
	<md-dialog-content>
		<md-content class="md-padding">
			<div layout="column" layout-align="center center">
				<!-- <div class="md-title">
					<h3>Enter Formats Details</h3>
				</div> -->
			</div>
			<form name="editProposedProductForm" novalidate="novalidate">			
        <div>
          <label>Start date</label>
          <md-datepicker ng-model="product.from_date" ng-init="product.from_date = OwnerProposalStartDate" onkeydown="return false"
            md-placeholder="Enter date" md-min-date="OwnerProposalFromMinDate" md-max-date="OwnerProposalFromMaxDate"></md-datepicker>        
          <label>End Date</label>
          <md-datepicker ng-model="product.to_date" ng-init="product.to_date = OwnerProposalEndDate" onkeydown="return false"
            md-placeholder="Enter date" md-min-date="product.from_date" md-max-date="OwnerProposalToMaxDate"></md-datepicker>
        </div>
        <md-input-container class="md-block margin-input">
          <label>Price:</label>
          <input ng-model="product.price" type="text" name="price" only-numeric required="required" />
          <div ng-messages="editProposedProductForm.price.$error">
            <div ng-message="required">Format Name is required.</div>
          </div>
        </md-input-container>
				<div layout="row" layout-align="center center">
					<md-button type="submit" Class="md-raised md-primary" ng-click="updateProposedProduct(product)">SAVE</md-button>
					<md-button Class="md-raised" ng-click="closeMdDialog()">CANCEL</md-button>
				</div>
			</form>
		</md-content>
	</md-dialog-content>
</md-dialog>