<!-- <div layout="column" flex>
  <div class="md-title" style="background: #447bde;color: #fff;" layout-padding>Your Daily feed</div>
  <md-content layout="column" layout-sm="column" layout-xs="column" class="contbg">
    <div layout="column" layout-margin layout-padding ng-if="requestList.length == 0">
      <h3>No new feeds. Please check at a later time.</h3>
    </div>
    <div layout="column" layout-margin layout-padding ng-repeat="request in requestList">
     
      <div class="row" style="margin-left:0px;margin-right:0px;margin-top:10px">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="request in requestList" style="margin-bottom:10px">
          <div style="padding:20px 0;" class="md-whiteframe-3dp contbg owner_feeds">
            <div layout="column" layout-fill layout-margin>
              <div layout="column" layout-align="center center" flex>
                <img ng-src="{{serverUrl + request.avatar}}"style="width:50px;height:50px;border-radius:50%;" class="md-avatar face" ng-if="request.avatar">
                <img src="assets/images/man_new.png" style="width:50px;height:50px;border-radius:50%; " class="md-avatar face" ng-if="!request.avatar">
              </div>
              <div layout="column" layout-align="center start" flex class="feed-hdng">
                <h3 ng-show="request.status == 2" style="text-transform: capitalize">A user has asked for a quote for your products.</h3>
                <h3 ng-show="request.status == 5" style="text-transform: capitalize">A campaign with your products has been requested to launch.</h3> -->
                <!-- <h3 ng-show="request.status == 5">{{request.contact_name}} has requested for the launch of their campaign.</h3> -->
              <!-- </div>
            </div>
            <div layout="colmun" style="margin: 0 0 0 8px;">
              <span class="text_color">Date:{{request.updated_at | datetimeify}}</span>
            </div>
            <div layout="colmun" layout-align="center center">
              <md-button class="md-raised md-primary" ng-click="showCampaignDetails($event, request)">View Details</md-button>
            </div>
          </div>
        </div>
      </div>
      
    </md-content>
</div> -->


<div class="table-responsive"> 
  <div ng-if="requestList.length < 0">
    <h3>There is no campaigns available</h3>
    </div>
  <table class="table table-hover" ng-if="requestList.length > 0">
          <thead class="text_color">
            <tr>
              <th>CID</th>
              <th class="feeds_width">Camapaign Name</th>
              <th>Details</th>
              <th>Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="request in requestList">
            <tr>
              <td class="table_vertical">BB283</td>
              <td class="table_vertical">{{request.name}}</td>
              <td class="table_vertical">
                <span ng-show="request.status == 2" >A user has asked for a quote for your products.</span>
                <span ng-show="request.status == 5" >A campaign with your products has been requested to launch.</span>
              </td>
              <td>
                <a style="cursor:pointer;"ng-click="showCampaignDetails($event, request)">
                    <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                      <i class="material-icons">remove_red_eye</i>
                    </md-icon>
                  </a>
              </td>
              <td class="table_vertical">{{request.updated_at | datetimeify}}</td>
            </tr>
            <!-- <tr>
              <td>BB283</td>
              <td>BBI Pvt Ltd</td>
              <td>Client requested to add one more productmore product more product more product</td>
              <td>
                <a style="cursor:pointer;" ng-click="">
                    <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                      <i class="material-icons">remove_red_eye</i>
                    </md-icon>
                  </a>
              </td>
              <td>21-09-2018, 9:00 Am</td>
            </tr>
            <tr>
              <td>BB283</td>
              <td>BBI Pvt Ltd</td>
              <td>Client requested to add one more productmore product more product more product</td>
              <td>
                <a style="cursor:pointer;" ng-click="">
                    <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                      <i class="material-icons">remove_red_eye</i>
                    </md-icon>
                  </a>
              </td>
              <td>21-09-2018, 9:00 Am</td>
            </tr>
            <tr>
              <td>BB283</td>
              <td>BBI Pvt Ltd</td>
              <td>Client requested to add one more productmore product more product more product</td>
              <td>
                <a style="cursor:pointer;" ng-click="">
                    <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                      <i class="material-icons">remove_red_eye</i>
                    </md-icon>
                  </a>
              </td>
              <td>21-09-2018, 9:00 Am</td>
            </tr> -->
          </tbody>
        </table>
</div>



