<div class="ow_feeds contbg">
  <md-button aria-label="" ng-href="#/owner/{{clientSlug}}/feeds" md-no-ink class="logo hs-lg hide-gt-md">
    <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
  </md-button>
  <div class="owner_feeds">
    <div class="table-responsive">
      <div ng-if="!requestList || requestList.length == 0">
        <h3>There is no campaigns available</h3>
      </div>
      <table class="table table-hover" ng-if="requestList.length > 0">
        <thead class="text_color">
          <tr>
            <th>CID</th>
            <th class="feeds_width">Camapaign Name</th>
            <th>Details</th>
            <th>Action</th>
            <th class="hide-xs"></th>
          </tr>
        </thead>
        <tbody ng-repeat="request in requestList">
          <tr>
            <td class="table_vertical">{{request.cid}}</td>
            <td class="table_vertical">{{request.name}}</td>
            <td class="table_vertical">
              <span>{{request.status | stringifyCampaignStatus}}</span>
            </td>
            <td class="table_vertical">
              <a style="cursor:pointer;" ng-click="showCampaignDetails($event, request)">
                <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                  <i class="material-icons">remove_red_eye</i>
                </md-icon>
              </a>
            </td>
            <td class="table_vertical hide-xs mr-5" style="text-align:end">{{request.updated_at | datetimeify}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>