<!-- <style>
    .main_view {
  margin-bottom: 0px;
  background: #c12a3a;
}
  </style>
<div class="container">
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
              <div class="card-body">
                  <div class="mb-4 banner_img">
                      <img src="assets/images/core/Adrs_Logo.png" class="" alt="Smiley face">
                  </div>
                  <hr class="my-4">
                  <form class="form-signin mt-4">
                      <h4 class="text-center mb-3" style="margin-bottom:0px;">Reset Password</h4>
                      <div class="form-group row">
                          <label for="paymentType" class="col-sm-3 col-form-label md-body-2">Email ID</label>
                          <div class="col-sm-9">
                              <input type="email" class="form-control md-whiteframe-3dp" id="" ng-model="campaignPayment.amount">
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12">
                          <div class="row">
                              <div class="offset-lg-6 offset-md-6 col-sm-6 col-md-6 col-lg-6">
                                  <a ng-href="#/owner/{{clientSlug}}/resetlogin"><button class="btn btn-lg btn-danger btn-block text-uppercase"
                                          type="submit">Reset Password</button></a>
                              </div>
                          </div>
                      </div>
                      <hr class="my-4">
                      <p class="text-center font-weight-light" style="margin-bottom:0px; font-size:10px;">Powered By
                          Bill Boards India Pvt Ltd</p>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div> -->