<md-dialog flex="40" style="border-radius:0;border:1px solid #eee;">
	<md-dialog-content>
        <div  layout="row" layout-padding class="md-whiteframe-4dp help-page">
            <span  class="md-title">Help & Support</span>
            <span flex="flex" hide-xs="hide-xs" show-gt-xs="show-gt-xs" class="hide-xs show-gt-xs flex"></span>
            <button class="md-icon-button md-button show-gt-xs md-ink-ripple hide-xs " type="button" ng-transclude="" ng-click="closeMdDialog()" hide-xs="hide-xs" show-gt-xs="show-gt-xs">X<div class="md-ripple-container"></div></button>
        </div>
		<div layout="column" layout-padding>
			<md-content layout-fill="layout-fill" class="contbg" >
							
				<form name="feedback" novalidate="novalidate">
					<div layout="column" layout-padding>
						
						<input type="email" placeholder="Enter your Email" style="margin-bottom:10px"/>
						<input type="text" placeholder="Enter phone number" style="margin-bottom:10px"/>
						
						<textarea placeholder="Write your comments" rows="5"></textarea>
 						
						<div layout="row" layout-align="center center" style="margin-top:10px;    border: 1px solid rgb(169, 169, 169);">
							<div flex="20"><label for="files.image" class="md-title">Image</label></div>
							<div flex>
								<input type="file" ngf-select ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="10MB" required></div>
						</div> 
					</div>
				</form>	
				<div layout="column"  layout-margin>
					<div layout="row"  layout-fill layout-align="end center">
						<md-button Class="md-raised md-primary help-btn" ng-click="save()">Send Feedback</md-button>
						<!-- <md-button Class="md-raised" ng-click="closeMdDialog()">CANCEL</md-button>
					</div> -->
				</div>
				
			</md-content>
		</div>
	</md-dialog-content>
</md-dialog>