<div layout="column" class="owner_hoarding_list">
  <div layout="row" class="" layout-padding>

    <div class="md-caption text_color">Total Products</div>
    <div class="md-caption">: 2845</div>
    <div flex></div>
    <div>
      <md-button class="md-raised md-primary">ADD NEW PRODUCT</md-button>
    </div>
  </div>
  <!-- filters-->
  <form class="form-inline camp_filters" action="">

    <input type="search" placeholder="Tab ID, Area, Location" class="form-control" id="">
    <label for="pwd">Filter By:</label>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Format</option>
        <option>Hoarding</option>
        <option>Unipole</option>
        <option>Airport</option>
      </select>
    </div>

    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available From">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available To">
    </div>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Budget High to Low</option>
        <option>Budget Low to High </option>
      </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Show Only Available
      </label>
    </div>
    <md-button class="md-raised md-primary" style="background-color:#44596D">Apply Filters</md-button>
  </form>
  <!-- product list -->
  <div class="table-responsive" style="margin-bottom:115px !important">
    <table class="table">
      <thead class="text_color">
        <tr>
          <th>Product Details</th>
          <th></th>
          <th>Views</th>
          <th>Lit</th>
          <th>Shortlisted in</th>
          <th>Price</th>
          <th>Calender</th>
          <th>Visible on Map</th>
          <th>
            <!-- <md-button  class="md-raised md-primary" style="background:#6888F3;">Add Another Product</md-button> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="assets/images/hoarding2.png" alt="Smiley face" height="100" width="100">
          </td>
          <td>
            <p class=""><b>BB238 - Kothaguda (40Ft X 40Ft)</b>
              <br> Kothaguda X Roads
              <br>Facing: From Kothaguda to Hitech
              city road,
              <br>beside ICICI Bank
          </td>
          <td class="table_vertical">1,48,000</td>
          <td class="table_vertical">
            <span class="md-caption">Yes</span>
          </td>
          <td class="table_vertical">
            <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a>
          </td>
          <td class="table_vertical">
            <!-- <input type="text"   style="width: 65px;"/> -->
            <div class="input-group mb-3">

              <input type="text" class="form-control" placeholder="Somete" style="width: 65px;" />
              <div class="input-group-prepend">

                <a href=""><i class="material-icons">
                    edit
                  </i></a>

              </div>
            </div>
          </td>
          <td class="table_vertical">
            <a href="#"><i class="material-icons">
                calendar_today
              </i></a>
          </td>
          <td class=" table_vertical">
            <div class="form-group">
              <select class="form-control" style="width: 60px;">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
          </td>
          <td class=" table_vertical">
            <md-button class="md-raised md-primary" style="background-color:#858A8E">Edit Details</md-button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>