<div layout="column" class="owner_hoarding_list">
  
  <div layout="row"  layout-margin>
    <p class="mt-4">Total Products<span class="text_color">: 2845</span></p>
    <div flex></div>
    <div class="dropdown">
        <md-button class="md-raised md-primary" onclick="addnewProduct()" class="dropbtn">Add New Product</md-button>
        <div id="myDropdown" class="dropdown-content contbg animated fadeInDown" style="width:600px;">
          <form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
            <div layout="colmun">
              <span flex></span>
              <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="addnewProduct()">
                <md-icon class="md-default-theme">
                  <i class="material-icons">close</i>
                </md-icon>
              </md-button>
            </div>
            <h3 class="md-body-2" style="margin-top:-31px !important;">Great, <span class="md-title">Let's add new product</span></h3>
            <br>
            <li>
    
              <div class="col-md-12">
                <form>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                       placeholder="Product ID">
                    </div>
                    <div class="col-sm-6">
                      <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                        <option value="" selected>Product Type</option>
                        <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                        <option value="" selected>Country</option>
                        <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                        <option value="" selected>City</option>
                        <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                        <option value="" selected>Area</option>
                        <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                       placeholder="Address">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                       placeholder="Direction">
                    </div>
                    <div class="col-sm-3">
                      <select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
                        <option value="" selected>Lit - Yes</option>
                        <!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                       placeholder="Size">
                    </div>
                  </div>
    
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                       placeholder="Product Cost">
                    </div>
                    <div class="col-sm-6">
                      <input type="date" name="bday" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
                       placeholder="Product Calender">
                    </div>
                  </div>
    
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <textarea class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount" placeholder="Product Strength"
                       rows="3"></textarea>
                    </div>
    
                    <div class="col-sm-6">
                      <label for="paymentType" class="col-sm-6 md-body-2">Upload Image</label>
                      <span class="input-group-btn">
                        <span class="">
                          <input type="file" class="form-control md-whiteframe-3dp" required="required" ngf-select ng-model="files.image"
                           name="imageFile" accept="image/*" ngf-max-size="10MB">
                        </span>
                      </span>
                      <div ng-messages="addProductForm.imageFile.$error" ng-if="addProductForm.imageFile.$touched" style="color:red">
                        <div ng-message="required">Image is required.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div flex></div>
                    <div class="col-sm-6">
                      <md-button class="md-raised md-primary text-white pull-right" ng-click="updateOwnerCampaignPayment()">Submit</md-button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </form>
        </div>
      </div>
  </div>
  <!-- filters-->
  <form class="form-inline camp_filters" action="">

    <input type="search" placeholder="Tab ID, Area, Location" class="form-control" id="">
    <label for="pwd">Filter By:</label>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Format</option>
        <option>Hoarding</option>
        <option>Unipole</option>
        <option>Airport</option>
      </select>
    </div>

    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available From">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" placeholder=" Available To">
    </div>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option selected>Budget High to Low</option>
        <option>Budget Low to High </option>
      </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Show Only Available
      </label>
    </div>
    <md-button class="md-raised md-primary" style="background-color:#44596D">Apply Filters</md-button>
  </form>
  <!-- product list -->
  <div class="table-responsive" style="margin-bottom:115px !important">
    <table class="table">
      <thead class="text_color">
        <tr>
          <th>Product Details</th>
          <th></th>
          <th>Views</th>
          <th>Lit</th>
          <th>Shortlisted in</th>
          <th>Price</th>
          <th>Calender</th>
          <th>Visible on Map</th>
          <th>
            <!-- <md-button  class="md-raised md-primary" style="background:#6888F3;">Add Another Product</md-button> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="assets/images/hoarding2.png" alt="Smiley face" height="100" width="100">
          </td>
          <td>
            <p class=""><b>BB238 - Kothaguda (40Ft X 40Ft)</b>
              <br> Kothaguda X Roads
              <br>Facing: From Kothaguda to Hitech
              city road,
              <br>beside ICICI Bank
          </td>
          <td class="table_vertical">1,48,000</td>
          <td class="table_vertical">
            <span class="md-caption">Yes</span>
          </td>
          <td class="table_vertical">
            <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a>
          </td>
          <td class="table_vertical">
            <div class="input-group">
              <input type="text" class="" placeholder="Somete" style="width: 70px;padding: 4px 5px;" />
              <span href="#"> <i class="material-icons">edit</i></span>
            </div>
          </td>
          <td class="table_vertical">
            <a href="#"><i class="material-icons">
                calendar_today
              </i></a>
          </td>
          <td class=" table_vertical">
            <div class="form-group">
              <select class="form-control" style="width: 60px;">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
          </td>
          <td class=" table_vertical">
            <md-button class="md-raised md-primary" style="background-color:#858A8E">Edit Details</md-button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  function addnewProduct() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
</script>