<div class="ow_hoarding_list">
    <md-button aria-label="" ng-href="#/owner/{{clientSlug}}/feeds" md-no-ink class="logo hs-lg hide-gt-md">
        <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
    </md-button>

    <div class="md-whiteframe-2dp contbg md-caption hide-xs" layout="row" layout-margin>
        <p class="mt-4">Total Products<span class="text_color">: {{productList.length}}</span></p>
        <div flex></div>

        <!-- Add New Product -->
        <div class="dropdown hide-xs">
            <md-button class="md-raised md-primary" onclick="addnewProduct()" class="dropbtn">Add New Product</md-button>
            <div id="myDropdown" class="dropdown-content contbg animated fadeInDown" style="width:680px;">
                <form name="hordinglistform" novalidate="novalidate">
                    <div layout="colmun">
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="addnewProduct()">
                            <md-icon class="md-default-theme">
                                <i class="material-icons">close</i>
                            </md-icon>
                        </md-button>
                    </div>
                    <h3 class="md-body-2" style="margin-top:-31px !important;">Great, <span class="md-title">Let's add
                            new
                            product</span></h3>
                    <br>
                    <li>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control md-whiteframe-3dp" name="siteNo" ng-model="product.siteNo"
                                        placeholder="Product ID*" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/">
                                    <div ng-messages="hordinglistform.siteNo.$error" ng-if="hordinglistform.siteNo.$touched"
                                        style="color:red">
                                        <div ng-message="required">Product Id is required.</div>
                                        <div ng-message="pattern">Product id should contain only Alpha Numeric and _ -
                                            . symbols.</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <select id="productType" ng-options="format.id as format.name for format in formatList"
                                        ng-model="product.type" class="form-control md-whiteframe-3dp"
                                        data-md-container-class="selectdemoSelectHeader" required="required" name="productType">
                                        <option value="" disabled selected>Product Type*</option>
                                    </select>
                                    <div ng-messages="hordinglistform.productType.$error" ng-if="hordinglistform.productType.$touched"
                                        style="color:red">
                                        <div ng-message="required">Site type is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <md-autocomplete md-min-length="3" md-selected-item="areaObj"
                                        md-selected-item-change="selectSearchedArea(item)" md-search-text="searchedArea"
                                        md-items="item in searchableAreas(searchedArea)" md-item-text="item.name"
                                        placeholder="Search Areas" md-clear-button="true" style="min-width: 100% !important"
                                        md-menu-class="form-control md-whiteframe-3dp">
                                        <md-item-template>
                                            <span class="item-title">
                                                <span> {{item.name}} </span>
                                            </span>
                                            <span class="item-metadata">
                                                <span>
                                                    <strong>{{item.city_name}}</strong>
                                                </span>
                                                <span>
                                                    <strong>{{item.state_name}}</strong>
                                                </span>
                                                <span>
                                                    <strong>{{item.country_name}}</strong>
                                                </span>
                                            </span>
                                        </md-item-template>
                                        <md-not-found>
                                            No matches found.
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <div class="col-sm-2">
                                    <select ng-model="product.lighting" required="required" name="light" class="form-control md-whiteframe-3dp"
                                        md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                                        ng-init="product.lighting = product.lighting || ''" placeholder="Has lighting?*">
                                        <option value="" disabled selected>Light*</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div ng-messages="hordinglistform.light.$error" ng-if="hordinglistform.light.$touched"
                                        style="color:red">
                                        <div ng-message="required">light*.</div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control md-whiteframe-3dp" name="height" ng-model="product.height"
                                        placeholder="Height*" required="required">
                                    <div ng-messages="hordinglistform.height.$error" ng-if="hordinglistform.height.$touched"
                                        style="color:red">
                                        <div ng-message="required">height*.</div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control md-whiteframe-3dp" name="width" ng-model="product.width"
                                        placeholder="Width*" required="required">
                                    <div ng-messages="hordinglistform.width.$error" ng-if="hordinglistform.width.$touched"
                                        style="color:red">
                                        <div ng-message="required">width*.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <input type="text" class="form-control md-whiteframe-3dp" name="Address" ng-model="product.address"
                                        placeholder="Address*" required="required">
                                    <div ng-messages="hordinglistform.Address.$error" ng-if="hordinglistform.Address.$touched"
                                        style="color:red">
                                        <div ng-message="required">Address is required.</div>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <input ng-model="product.nearlandmark" class="form-control md-whiteframe-3dp"
                                        required="required" placeholder="Near Land Mark*" type="text" name="nearlandmark"
                                        required="required" />
                                    <div ng-messages="hordinglistform.nearlandmark.$error" ng-if="hordinglistform.nearlandmark.$touched"
                                        style="color:red">
                                        <div ng-message="required">LandMark is required.</div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <input class="form-control md-whiteframe-3dp" ng-model="product.default_price" name="default_price"
                                        type="text" placeholder="Estimated Product Cost*" only-numeric required="required">
                                    <div ng-messages="hordinglistform.default_price.$error" ng-if="hordinglistform.default_price.$touched"
                                        style="color:red">
                                        <div ng-message="required">Cost is required.</div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <!--                                        <input class="form-control md-whiteframe-3dp" type="file" placeholder="Upload Product Image" multiple>-->
                                        <input type="file" class="form-control md-whiteframe-3dp" required="required"
                                            ngf-select ng-model="files.image" name="imageFile" accept="image/*"
                                            ngf-max-size="20MB" placeholder="Upload Product Image*" multiple>
                                        <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-picture-o"
                                                aria-hidden="true"></i></span>
                                        <div ng-messages="hordinglistform.imageFile.$error" ng-if="hordinglistform.imageFile.$touched"
                                            style="color:red">
                                            <div ng-message="required">image is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input ng-model="product.direction" class="form-control md-whiteframe-3dp" required="required"
                                        placeholder="Direction / Facing*" type="text" name="cost" required="required" />
                                    <div ng-messages="hordinglistform.cost.$error" ng-if="hordinglistform.cost.$touched"
                                        style="color:red">
                                        <div ng-message="required">Direction is required.</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input class="form-control md-whiteframe-3dp" type="text" placeholder="Upload Product Video if Any"
                                            name="videoUrl" ng-model="product.videoUrl">
                                        <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-caret-square-o-up"
                                                aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input date-range-picker ng-model="product.dates" class="form-control md-whiteframe-3dp date-picker"
                                            placeholder="Product date" type="text" name="date" readonly options="rqstHrdngsOpts" />
                                        <div ng-messages="addProductForm.date.$error" ng-if="addProductForm.date.$touched"
                                            style="color:red">
                                            <div ng-message="required">Date is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="md-body-2"><span class="md-title">Product Strengths</span></h3>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input class="form-control md-whiteframe-3dp" type="text" name="impressionsperweek"
                                            ng-model="product.impressionsperweek" placeholder="Impressions Per Week*"
                                            only-numeric>
                                        <div ng-messages="hordinglistform.impressionsperweek.$error" ng-if="hordinglistform.impressionsperweek.$touched"
                                            style="color:red">
                                            <div ng-message="required">impression.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <select name="visibility" class="form-control md-whiteframe-3dp" id="Visibility"
                                        required="required" ng-model="product.visibility">
                                        <option value="" disabled selected> Visibility Score</option>
                                        <option>Score - 0-5 Good</option>
                                        <option>Score - 5-8 Good</option>
                                        <option>Score - 8-10 Good</option>
                                    </select required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <select name="audience" class="form-control md-whiteframe-3dp" id="Audience"
                                        required="required" ng-model="product.audience">
                                        <option value="" disabled selected>Targeted Audience</option>
                                        <option>College Students</option>
                                        <option>ABC</option>
                                        <option>XYZ</option>
                                    </select required>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input class="form-control md-whiteframe-3dp" type="text" name="targetedaudience"
                                            ng-model="product.targetedaudience" placeholder="Targeted Audience">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8" style="opacity:0.5;">
                                    Note: You can change price / details any time you want.<br>
                                    * Select only booked dates remaining dates consider as available
                                </div>
                                <div class="col-sm-4">
                                    <md-button type="submit" Class="md-raised md-primary register_btn" ng-click="requestAddProduct(product)"
                                        ng-disabled="hordinglistform.$invalid">Submit</md-button>

                                    <!-- <md-button class="md-raised md-primary all_button text-white pull-right" ng-click="requestAddProduct(product)" ng-disabled="hordinglistform.$invalid"
                                            >Submit</md-button> -->
                                </div>
                            </div>
                        </div>
                    </li>
                </form>
            </div>
        </div>
        <!-- Add New Product End -->

    </div>
    <!-- filters-->
    <div class="product__filter hide-xs">
        <form class="form-inline camp_filters d-flex" action="">
            <!-- <input type="search" placeholder="Tab ID, Area, Location" class="form-control form_hoarding" id=""> -->
            <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem"
                md-search-text="searchText" md-selected-item-change="viewSelectedProduct(item)" md-search-text-change="viewSearchText(searchText)"
                md-items="item in productSearch(searchText)" md-item-text="item.siteNo" md-min-length="3" placeholder="Search..."
                md-clear-button="true">
                <md-item-template>
                    <span class="item-title">
                        <span> {{item.siteNo}} </span>
                    </span>
                    <span class="item-metadata">
                        <span>
                            <strong>{{item.company_name}}</strong>
                        </span>
                        <span>
                            <strong>{{item.address}}</strong>
                        </span>
                    </span>
                </md-item-template>
            </md-autocomplete>
            <label for="pwd">Filter By:</label>
            <div class="form-group form_up">
                <!-- <select class="form-control form_format" id="sel1">
              <option selected>Format</option>
              <option>Hoarding</option>
              <option>Unipole</option>
              <option>Airport</option>
            </select> -->
                <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                    class="form-control md-whiteframe-3dp" ng-change="getProductByFormat(product.type)"
                    data-md-container-class="selectdemoSelectHeader" required="required" name="productType">
                    <option value="" disabled selected>Site Type</option>
                </select>
            </div>

            <!-- <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText"
        md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)" md-item-text="item.siteNo"
        md-min-length="4" placeholder="Search..." md-clear-button="true">
        <md-item-template>
          <span class="item-title">
            <span> {{item.siteNo}} </span>
          </span>
          <span class="item-metadata">
            <span>
              <strong>{{item.address}}</strong>
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>
      <label for="pwd">Filter By:</label>
      <div class="form-group">
        <select id="productType" ng-options="format.id as format.name for format in formatList" ng-change="someFunction()"
          ng-model="product.type" class="form-control md-whiteframe-3dp" data-md-container-class="selectdemoSelectHeader"
          name="productType">
          <option value="" disabled selected>Site Type</option>
        </select>
      </div> -->

            <div class="form-group form_cal">
                <md-datepicker class="form-control" name="startDate" ng-model="product.start_date" onkeydown="return false"
                    md-placeholder="Available From" layout-fill></md-datepicker>
            </div>
            <div class="form-group form_cal">
                <md-datepicker class="form-control" name="endDate" ng-model="product.end_date" onkeydown="return false"
                    md-placeholder="Available To" md-min-date="product.start_date" layout-fill></md-datepicker>
            </div>
            <div class="form-group form_cal">
                <select class="form-control" ng-model="product.budgetprice" id="sel1" ng-change="getBudget(product.budgetprice)">
                    <option value="" disabled selected>Budget</option>
                    <option selected value="1">Budget High to Low</option>
                    <option value="0">Budget Low to High </option>
                </select>
            </div>
            <!--<div class="form-check">
          <label class="form-check-label" style="font-size:10px">
            <input class="form-check-input" type="checkbox"> Show Only Available
          </label>
        </div>-->
            <md-button class="md-raised apply_filter" ng-click="applymethod(product)">Apply Filters</md-button>
        </form>
    </div>
    <!-- //filters-->

    <!-- product list -->
    <div class="table-responsive" style="margin-bottom:115px !important">
        <table class="table contbg">
            <thead class="text_color">
                <tr>
                    <th>Product Details</th>
                    <th></th>
                    <th class="hide-xs">Views</th>
                    <th class="hide-xs">Lit</th>
                    <th class="hide-xs">Shortlisted in</th>
                    <th class="hide-xs">Price</th>
                    <th class="hide-xs">Calender</th>
                    <th class="hide-xs">Visible on Map</th>
                    <th class="">
                        <!-- <md-button  class="md-raised md-primary" style="background:#6888F3;">Add Another Product</md-button> -->
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in productList">
                    <td class="image_tdwidth">
                        <img src="{{config.serverUrl + product.image}}" alt="Smiley face" class="requ_size">

                    </td>
                    <td>
                        <p class="mb-0"><b>{{product.siteNo}} - {{product.area_name}} {{product.panelSize}}</b>
                            <br> {{product.address}}
                            <br>Facing: {{product.direction|| "N/A"}}
                            <br>Type: {{product.format_name}}
                            <br>
                        </p>
                        <p class="hide-gt-xs mb-0">views:{{product.impressionsperweek}}</p>
                    </td>
                    <td class="table_vertical hide-xs">{{product.impressionsperweek}}</td>
                    <td class="table_vertical hide-xs" ng-if="product.lighting == 1">Yes</td>
                    <td class="table_vertical hide-xs" ng-if="product.lighting == 0">No</td>
                    <td class="table_vertical hide-xs">
                        <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin/{{product.id}}">{{product.camapigns_count}}
                            Campaigns</a>
                    </td>
                    <td class="table_vertical">
                        <div class="input-group pric_edit">

                            {{(!myfield)?product.default_price:''}}
                            <input type="text" class="" ng-model="product.default_price" placeholder="Price" ng-if="myfield"
                                style="width: 70px;padding: 4px 5px;" />
                            <span class="edit_btn" ng-click="myfield = true;" ng-show="!myfield"> <i class="material-icons">edit</i></span>
                            <span ng-click="myfield = false;changeProductPrice(product)" ng-show="myfield"> <i class="material-icons">check</i></span>

                        </div>
                    </td>
                    <td class="table_vertical hide-xs">
                        <!-- <a href="#"><i class="material-icons">
                      date_range
                      </i></a> -->
                        <input date-range-picker ng-model="product.booking_dates" class="form-control md-whiteframe-3dp date-picker"
                            placeholder="Product date" type="text" name="date" readonly options="rqstHrdngsOpts" id="booking_dates_picker"
                            style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
                        <a ng-click="getProductUnavailableDates(ownerProduct.id, $event);">
                            <i class="material-icons">
                                calendar_today
                            </i>
                        </a>
                    </td>
                    <td class="table_vertical hide-xs">
                        <div class="form-group form_yes" ng-init="(product.product_visibility == 'undefined' || product.product_visibility == '') ? '1' : '0'">
                            <select class="form-control" style="width: 70px;" ng-model="product.product_visibility"
                                ng-change="product_visibility(product.product_visibility, product.id)">
                                <option ng-selected="(product.product_visibility == 1) ? true : false" value="1">Yes</option>
                                <option ng-selected="(product.product_visibility == 0) ? true : false" value="0">No</option>
                            </select>
                        </div>
                    </td>
                    <td class="table_vertical hide-xs">
                        <md-button class="md-raised inv_details" ng-href="#/owner/{{clientSlug}}/editproduct-details/{{product.id}}">Edit
                            Details</md-button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <!-- //product list -->
</div>
<script>
    function addnewProduct() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>