<div layout="column">
    <div layout-xs="column" layout-gt-xs="row" flex-gt-xs="100" flex-xs="100"  style="text-align: center;">
        <div layout-xs="row" flex-xs="100" layout-gt-xs="row" flex-gt-xs="100">
            <a flex-xs="50" flex-gt-xs="50" href="#">
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="ava-hdng">
                        <md-card-title-text>
                            <div class="md-title">Available Hoardings </div>
                            <div class="md-subhead">1000</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </a>
            <a flex-xs="50" flex-gt-xs="50" href="#">
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="book-hdng">
                        <md-card-title-text>
                            <div class="md-title">Booked Hoardings</div>
                            <div class="md-subhead">1500</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </a>
        </div>
        <div layout-xs="row" flex-xs="100" layout-gt-xs="row" flex-gt-xs="100">
            <div flex-xs="50" flex-gt-xs="50">
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="tottal-hdng">
                        <md-card-title-text>
                            <div class="md-title">Total Hoardings </div>
                            <div class="md-subhead">2500</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="50" flex-gt-xs="50">
                <md-card class="md-whiteframe-5dp">
                    <md-card-title class="proposal-hdng">
                        <md-card-title-text>
                            <div class="md-title">Proposal Hoardings</div>
                            <div class="md-subhead"> 100</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card >
            </div>
            
        </div>
    </div>
    <div  class="contbg" layout-margin="layout-margin" style="margin-top:30px">
        <div google-chart chart="myChart" style="width: 100%; height: 400px;"></div>
    </div>
    <div ng-controller="OwnerHomeController">
        <fusioncharts 
        width="600" 
        height="400"
        type="column2d"
        datasource="{{myDataSource}}"
    ></fusioncharts>
    </div>
   
   <!-- <div class="button-bar">
        <a class="button button-energized" id="weak" 
        ng-class="{active: $parent.selected=='weak'}" ng-click="$parent.selected='weak'">
        weak
        </a>
        <a class="button button-energized" id="normal" 
        ng-class="{active: selected=='normal'}" ng-click="selected='normal'">
            normal
        </a>
        <a class="button button-energized" id="strong" 
        ng-class="{active: selected=='strong'}" ng-click="selected='strong'">
            strong
        </a>
    </div> -->
</div>