<!-- ============ add hoarding list side nav end ============ -->
<div ng-cloak flex-xs="100" flex-sm="100" flex-md="100">
        <div class="md-whiteframe-2dp contbg md-caption" layout="row" layout-margin>
                <div class="ml-4" style="margin-top:28px;">
                    <p>Camapaign ID</p>
                    <p class="md-body-2">BB-001</p>
                </div>
                <div style="margin-top:28px;">
                    <p>Camapaign Name</p>
                    <p class="md-body-2">Uber Ptv Ltd</p>
                </div>
                <div style="margin-top:28px;">
                    <p>No of Products</p>
                    <p class="md-body-2">5</p>
                </div>
                <div flex></div>
                <div>
                    <md-button class="share_btn">
                        <md-icon style="width:1.5vw">
                            <i class="material-icons">
                                reply_all
                            </i>
                        </md-icon>
                        Share Camapaign
                    </md-button>
                </div>
                <div>
        
                    <md-button class="share_btn">
                        <md-icon style="width:1.5vw">
                            <i class="material-icons">
                                file_copy
                            </i>
                        </md-icon>
                        Download Quotetation
                    </md-button>
                </div>
                
                <div style="margin-top:35px;">
                    <!-- <button type="button" class="btn" style="background:#44596D; color:#fff;"><span><i class="material-icons mt-2" style="">
                                cloud_upload
                            </i></span> Upload Art Work</button> -->
                    <md-button class="md-raised md-primary" style="background:#44596D;">
                        <md-icon style="width:1.5vw; margin-right: 5px;margin-top: -4px;">
                            <i class="material-icons">
                                cloud_upload
                            </i>
                        </md-icon>
                        Upload video
                    </md-button>
        
                </div>
        
            </div>
    <md-content layout="column" layout-sm="column" layout-xs="column">

        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="width: 100%; margin:5px 0 50px 0;">
                <thead class="text_color" style="text-align: center">
                    <tr>
                        <th>Product Type</th>
                        <th>Corridor</th>
                        <th>No.of Trains</th>
                        <th>No.of Slots</th>
                        <th>Start Date</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    <tr>
                        <td>Monthly</td>
                        <td>corridor-1</td>
                        <td>2</td>
                        <td>2</td>
                        <td>12-08-2018</td>
                        <td>10000</td>
                        <td>
                            <md-button class="md-icon-button" ng-disabled="metroCampaignDetails.status != 101 || metroCampaignDetails.type ==0"
                                ng-click="deleteProductFromCampaign(metroCampaignDetails.id, pkg.package_id)">
                                <md-icon>
                                    <i class="material-icons">delete</i>
                                </md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="md-whiteframe-3dp campaign_payment" layout="row" layout-margin>
                <div layout="column" class="payment_inner">
                    <div layout="row">
                        <div class="md-body-1">Total :</div>
                        <div class="md-body-1">12,58,000</div>
                    </div>
                    <div layout="row">
                        <div class="md-body-1">18% GST :</div>
                        <div class="md-body-1"> 58,000</div>
                    </div>
                    <div layout="row">
                        <div class="md-body-1">Sub Total :</div>
                        <div class="md-body-1">13,05,000</div>
                    </div>
                    <div layout="row">
                        <div class="md-title">Grand Total :</div>
                        <div class="md-title">13,05,000</div>
                    </div>
                    <md-button class="md-raised md-primary">Book Campaign</md-button>
                </div>
            </div>
    </md-content>
    
</div>