<!-- ============ add hoarding list side nav end ============ -->
<!-- <div ng-cloak flex-xs="100" flex-sm="100" flex-md="100">  
    <div class="ml-2 mr-2 mt-2 mb-2 md-whiteframe-2dp contbg mobile_campdetails">
			<div class="row" style="margin-left:0px; margin-right:0px;">
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 payment_mng"
				 style="margin-top:14px;">
					<p class="cmp_bottom">Campaign ID</p>
					<p class="md-caption mob_span"><b>{{metroCampaginDetails.cid}}</b></p>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-3 payment_mng"
				 style="margin-top:14px;">
					<p class="cmp_bottom">Campaign Name</p>
					<p class="md-caption mob_span"><b>{{metroCampaginDetails.name}}</b></p>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-5 payment_nng"
				 style="margin-top:14px;">
					<p class="cmp_bottom">No of Products</p>
					<p class="md-caption mob_span mob_5"><b>{{metroCampaginDetails.no_product}}</b></p>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_nng">
					<div class="dropdown">
						<md-button onclick="shareCampaign()" class="dropbtn drop_width">
								<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icon">
										reply_all
									</i></span></p>
							<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Share Campaign</p>
						</md-button>
						<div id="myDropdown" class="dropdown-content contbg animated fadeInDown contant_drop" style="padding:10px;">
						<form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
							<div layout="colmun">
							<span flex></span>
							<md-button class="md-icon-button" aria-label="Close Side Panel" onclick="shareCampaign()">
								<md-icon class="md-default-theme">
								<i class="material-icons">close</i>
								</md-icon>
							</md-button>
							</div>
							<h3 class="md-title" style="margin-top:-28px;margin-left: 11px;">Share Campaign</h3><br>
							<form name="shareCampaignForm">
								<div layout="column" style="padding:10px;">
									<div class="form-group">
										<input ng-model="shareCampaign.receiver_name" class="form-control" name="receiver_name" placeholder="Name" required="required" />
										<div ng-messages="shareCampaignForm.name.$error">
											<div ng-message="required">Name is required.</div>
											<div ng-message="pattern">Enter a valid Name.</div>
										</div>
									</div>
									<div class="form-group">
										<input ng-model="shareCampaign.email" name="email" class="form-control" placeholder="Email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
										<div ng-messages="shareCampaignForm.email.$error">
											<div ng-message="required">Email is required.</div>
											<div ng-message="pattern">Enter a valid Email Id.</div>
										</div>
									</div>
									<div class="offset-md-7 col-md-5" style="padding-right: 0px;">
											<md-button class="md-raised md-warn Upload_font" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentOwnerShareCampaign)">Share
													Campaign</md-button>
									</div>
									
								</div>
							</form>
						</form>
						</div>
					</div>
					</div>
				<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_nng"
				 style="cursor: pointer;">
					<div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
							<a href="assets/images/owner/owner_logo.png" download>
					<md-button class="dropbtn drop_width">
							<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icondown">
									file_copy
								</i></span></p>
						<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Download Quotation</p>
					</md-button>
				</a>
				</div>
				</div>
			</div>
		</div>
    
    <div class="row m-0">
        <div class="col-2">
            <div class="">
                <img src="assets/images/metro_img.png" alt="Smiley face" width="100%" />
            </div>
        </div>
        <div class="col-6">
            <div class="m_prdt_details ml-4">
                <p class="mb-0"><span class="md-body-2 text_color">Product</span> <span class="ml-2">: <b>Digital
                            Signage
                            Inside Metro Train</b></span></p>
                <p class="mb-0"><span class="md-body-2 text_color">Corridor</span> <span class="ml-2">: <b>Nagole to
                            Miyapur - Corridor 1</b></span></p>
                <p class="mb-0"><span class="md-body-2 text_color">Package</span> <span class="ml-2">: <b>6-Month, 1
                            Train,
                            2080 Spots</b></span></p>
                <p class="mb-0 mb-5"><span class="md-body-2 text_color">Date</span> <span class="ml-5">:12-08-2018 to
                        12-02-2019</span></p>

            </div>
        </div>
    </div>
    <div class="d-flex  row m-0 justify-content-between" >
        <div class="p-2  col-4">
            <div class="metro__details ml-4">
                <p class="mb-0 md-body-2 text_color">Details:</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>1 Slot Duration 30 sec</p>
                <p class="mb-0"> <i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>Ad Played in 12 Screens at a time</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>Ad Played in 12 Screens at a time</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>Ad Played 17 Times per Day</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>18 Trains per Corridor</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>Each Train have 12 screens</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>Bright, Vivid, Attention grabbing 24 Inches LED Displays</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>High Impact Powerfull Media</p>
                <p class="mb-0"><i class="fa fa-check-square-o fa_font_size" aria-hidden="true"></i>Metro Rail Network will cover 72km Across Three Corridors</p>
                
            </div>
        </div>
        <div class="p-2 mr-4 col-4  align-self-end justify-content-end" style="text-align:end">
        
           
                <p class="md-body-1 mb-0">Total : <span>12,58,000</span></p>
                
            
        
                <p class="md-body-1 mb-0">18% GST :<span>58,000</span></p>
    
                <p class="md-body-1 mb-0">Sub Total : <span>13,05,000</span></p>
         
            
                <p class="md-title mb-0">Grand Total :<span>13,05,000</span></p>
            
            <md-button class="md-raised md-primary all_button">Book Campaign</md-button>
        
        </div>
        
    </div>
</div> -->

<!-- <style>
	.md-button {
		min-width: 64px !important;
	}

	md-list-item {
		padding: 0 0px !important;
	}
</style>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 scrollbar__style" md-component-id="add-metro-product-sidenav" style="width:400px !important">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools bg_main_color" style="background:#414143 !important">
			<h2>
				<span>Add Product</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleAddMetroProductSidenav()">
				<md-tooltip>Close Side Panel</md-tooltip>
				<md-icon class="md-default-theme">
					<i class="material-icons">close</i>
				</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout-padding="">
		<form role="form">
			<div class="form-group row">
				<label for="productType" class="col-sm-4 col-form-label">Product Type</label>
				<div class="col-sm-8">
						<select name="package" class="form-control" id="package" ng-model="selectedFormat" ng-options="foramt as format.name for format in formatList" required>
						</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="area" class="col-sm-4 col-form-label">Select Corridor</label>
				<div class="col-sm-8">
					<select name="corridor" class="form-control" id="corridor" ng-model="selectedCorridor" ng-options="corr as corr.name for corr in metroCorridors" ng-change="getMetroPackages(selectedCorridor.id)" required>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="pack" class="col-sm-4 col-form-label">Packages</label>
				<div class="col-sm-8">
						<select name="corridor" class="form-control"  ng-model="selectedPackage" ng-options="pkg as pkg.name for pkg in metroPackages"  required>
						</select>
				</div>
			</div>
			<div class="form-group row">
					<label for="pack" class="col-sm-4 col-form-label">Duration</label>
					<div class="col-sm-8">
							<select  class="form-control"  ng-model="selectedPackage.months" ng-options="opt.label for opt in monthoptions"   required>
								
							</select>
					</div>
				</div>
			
			<div class="form-group row">
				<label for="hoardingLight" class="col-sm-4 col-form-label">No. Of Trains</label>
				<div class="col-sm-8">
					<input class="form-control" type='number' ng-model="selectedPackage.selected_trains" max="{{selectedPackage.max_trains}}" min="1" />
				</div>
			</div>
			<div class="form-group row">
				<label for="" class="col-sm-4 col-form-label">Select Date</label>
				<div flex-gt-xs="">
					<md-datepicker ng-model="selectedPackage.start_date" onkeydown="return false" md-placeholder="Start date" md-min-date="today1"></md-datepicker>
				</div>
			</div>
			<div class="form-group row">
				<label for="productId" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					 
					<div style="padding-top:6px;">{{ selectedPackage.price_new = (selectedPackage.price * selectedPackage.months.value * selectedPackage.selected_trains) || "N/A"}} </div>
				</div>
			</div>
			<div class="form-group" style="margin:10px 0">
				<label class="col-md-3 control-label"></label>
				<input class="btn btn-primary" value="Add" type="button" ng-click="addPackageInMetroCampaign()">
				<span></span>
				<input class="btn btn-default" value="Cancel" type="button" ng-click="toggleAddMetroProductSidenav()">
			</div>
		</form>
	</md-content>
</md-sidenav>


<div ng-cloak flex-xs="100" flex-sm="100" flex-md="100">
	<md-content layout="column" layout-sm="column" layout-xs="column">
		<div class="bg-part">
			<div layout="row" flex-offset-gt-md="10" flex="80" flex-sm="100" flex-xs="100" flex-md="100" layout-xs="column" layout-sm="column" layout-gt-sm="row"
			 layout-margin="layout-margin" class="client-summay">
				<div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
				 layout-margin="layout-margin" class="contbg md-whiteframe-3dp client_info">
					<div layout="column" layout-align="center center" layout-margin>
						<div>
							<img src="assets/images/client_details.png" width="70%">
						</div>
						<h3 class="text_color">Client Details
							</h2>
					</div>					
					<table class="table table-striped table-bordered" style="width: 98%;">
						<tbody>
							<tr>
								<td>Campaign Name</td>
								<td>{{metroCampDetails.name}}</td>
							</tr>
							<tr>
								<td>Client Name</td>
								<td>{{metroCampDetails.user_details.first_name || "N/A"}} {{metroCampDetails.user_details.last_name}}</td>
							</tr>
							<tr>
								<td>Contact</td>
								<td>{{metroCampDetails.user_details.phone || "N/A"}}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>{{metroCampDetails.user_details.email || "N/A"}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
				 layout-margin="layout-margin" class="contbg md-whiteframe-3dp Campaign_summary">
					<div layout="column" layout-align="center center" layout-margin>
						<div>
							<img src="assets/images/capaign_details.png" width="70%">
						</div>
						<h3 class="text_color">Campaign Summary
							</h2>
					</div>
					<table class="table table-striped table-bordered" style="width: 98%;">
						<tbody>
							<tr>
								<td>Starting From</td>
								<td>{{(metroCampDetails.start_date | date: "dd-MM-yyyy") || "N/A"}}</td>
							</tr>
							<tr>
								<td>Actual Budget</td>
								<td>
									<span ng-if="metroCampDetails.act_budget">Rs.</span>{{metroCampDetails.act_budget || "N/A"}}
								</td>
							</tr>
							<tr>
								<td>Pending payment</td>
								<td>
									<span ng-if="metroCampDetails.pending_payment">Rs.</span>{{metroCampDetails.pending_payment || "N/A"}}
								</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>{{metroCampDetails.status | stringifyCampaignStatus }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div layout="row" layout-sm="column" layout-padding>
			<div flex="50" flex-sm="100">
				<div class="text_color" style="margin: 30px 0 0 0;font-size: 20px;">Packages ({{metroCampDetails.packages.length}})</div>
			</div>
			<div flex="50" flex-sm="100" layout="row" layout-align="end center">
					<div class="dropdown">
						<md-button onclick="sharemetroCampaign()" class="dropbtn drop_width">
							<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icon">
										reply_all
									</i></span></p>
							<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Share Campaign</p>
						</md-button>
						<div id="sharecampmetroDrop" class="dropdown-content contbg animated fadeInDown contant_drop" style="padding:10px;">
							<form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
								<div layout="colmun">
									<span flex></span>
									<md-button class="md-icon-button" aria-label="Close Side Panel" onclick="sharemetroCampaign()">
										<md-icon class="md-default-theme">
											<i class="material-icons">close</i>
										</md-icon>
									</md-button>
								</div>
								<h3 class="md-title" style="margin-top:-28px;margin-left: 11px;">Share Campaign</h3><br>
								<form name="shareCampaignForm">
									<div layout="column" style="padding:10px;">
										<div class="form-group">
											<input ng-model="shareCampaign.receiver_name" class="form-control" name="receiver_name" placeholder="Name" required="required" />
											<div ng-messages="shareCampaignForm.name.$error">
												<div ng-message="required">Name is required.</div>
												<div ng-message="pattern">Enter a valid Name.</div>
											</div>
										</div>
										<div class="form-group">
											<input ng-model="shareCampaign.email" name="email" class="form-control" placeholder="Email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
											<div ng-messages="shareCampaignForm.email.$error">
												<div ng-message="required">Email is required.</div>
												<div ng-message="pattern">Enter a valid Email Id.</div>
											</div>
										</div>
										<div class="offset-md-7 col-md-5" style="padding-right: 0px;">
											<md-button class="md-raised md-warn Upload_font" layout-fill ng-click="shareMetroCampaignToEmail($event, shareCampaign, metroCampDetails.id)">
											Share Campaign</md-button>
										</div>
					
									</div>
								</form>
							</form>
						</div>
					</div>
				<md-button class="md-grid-item-content" ng-disabled="!metroCampDetails || metroCampDetails.status > 1101" ng-click="toggleAddMetroProductSidenav()">
					<span>
						<md-icon md-svg-icon="assets/images/icons/add_circle_outline.svg"></md-icon>
					</span>
					<div class="md-caption">Add Package</div>
				</md-button>
				<md-button class="md-grid-item-content" ng-disabled="metroCampDetails.status != 1101" ng-click="checkoutMetroCampaign($event, metroCampDetails.id)">
					<span>
						<md-icon md-svg-icon="assets/images/icons/RP.svg"></md-icon>
					</span>
					<div class="md-caption">Checkout</div>
				</md-button>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead class="text_color">
					<tr>
						<th>Product Type</th>
						<th>Corridor</th>
						<th>No.of Trains</th>
						<th>Durations</th>
						<th>Start Date</th>
						<th>Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pkg in metroCampDetails.packages">
						<td>{{pkg.package_name}}</td>
						<td>{{pkg.corridor_name}}</td>
						<td>{{pkg.selected_trains}}</td>
						<td>{{((pkg.months == 0.5) ? '15 Days' : pkg.months+'Months')  }}</td>
						<td>{{pkg.start_date | date: "dd-MM-yyyy"}}</td>
						<td>{{pkg.price}}</td>
						<td>
							<md-button class="md-icon-button" ng-disabled="metroCampDetails.status != 1101" ng-click="deleteProductFromCampaign(metroCampDetails.id, pkg.package_id)">
								<md-icon>
									<i class="material-icons">delete</i>
								</md-icon> -->
<!-- <a><i class="material-icons" ng-if="campaignDetails.type != 0 && campaignDetails.status != 700" ng-click="deleteProductFromCampaign($event, product.id)">delete_forever</i></a>
							</md-button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</md-content> -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2 scrollbar__style" md-component-id="add-metro-product-sidenav"
 style="width:400px !important">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools bg_main_color" style="background:#414143 !important">
			<h2>
				<span>Add Package</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleAddMetroProductSidenav()">
				<md-tooltip>Close Side Panel</md-tooltip>
				<md-icon class="md-default-theme">
					<i class="material-icons">close</i>
				</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout-padding="">
		<form role="form">
			<div class="form-group row">
				<label for="productType" class="col-sm-4 col-form-label">Product Type</label>
				<div class="col-sm-8">
					<select name="package" class="form-control" id="package" ng-model="selectedFormat" ng-options="foramt as format.name for format in formatList"
					 required>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="area" class="col-sm-4 col-form-label">Select Corridor</label>
				<div class="col-sm-8">
					<select name="corridor" class="form-control" id="corridor" ng-model="selectedCorridor" ng-options="corr as corr.name for corr in metroCorridors"
					 ng-change="getMetroPackages(selectedCorridor.id)" required>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="pack" class="col-sm-4 col-form-label">Packages</label>
				<div class="col-sm-8">
					<select name="corridor" class="form-control" ng-model="selectedPackage" ng-options="pkg as pkg.name for pkg in metroPackages"
					 required>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="pack" class="col-sm-4 col-form-label">Duration</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="selectedPackage.months" ng-options="opt.label for opt in monthoptions"
					 required>

					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="hoardingLight" class="col-sm-4 col-form-label">No. Of Trains</label>
				<div class="col-sm-8">
					<input class="form-control" type='number' ng-model="selectedPackage.selected_trains" max="{{selectedPackage.max_trains}}"
					 min="1" />
				</div>
			</div>
			<div class="form-group row">
				<label for="" class="col-sm-4 col-form-label">Select Date</label>
				<div flex-gt-xs="">
					<md-datepicker ng-model="selectedPackage.start_date" onkeydown="return false" md-placeholder="Start date"
					 md-min-date="today1"></md-datepicker>
				</div>
			</div>
			<div class="form-group row">
				<label for="productId" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">

					<div style="padding-top:6px;">{{ selectedPackage.price_new = (selectedPackage.price * selectedPackage.months.value
						* selectedPackage.selected_trains) || "N/A"}} </div>
				</div>
			</div>
			<div class="form-group" style="margin:10px 0">
				<label class="col-md-3 control-label"></label>
				<input class="btn btn-primary" value="Add" type="button" ng-click="addPackageInMetroCampaign()">
				<span></span>
				<input class="btn btn-default" value="Cancel" type="button" ng-click="toggleAddMetroProductSidenav()">
			</div>
		</form>
	</md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="shortlistSharingSidenav">
	<div layout="row">
		<div class="md-toolbar-tools">
			<div flex></div>
			<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareShortlistedSidenav()">
				<md-tooltip>Close Side Panel</md-tooltip>
				<md-icon class="md-default-theme">
					<i class="material-icons">close</i>
				</md-icon>
			</md-button>
		</div>
	</div>
	<md-content layout-align="center center" layout-margin layout-padding>
		<h3 class="md-headline">Share Shortlisted Products</h3>
		<form name="shareShortlistedForm">
			<div layout="column">
				<md-input-container class="md-block">
					<label>Name</label>
					<input ng-model="shareShortlisted.name" name="name" required="required" />
					<div ng-messages="shareShortlistedForm.name.$error">
						<div ng-message="required">Name is required.</div>
						<div ng-message="pattern">Enter a valid Name.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Email</label>
					<input ng-model="shareShortlisted.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
					<div ng-messages="shareShortlistedForm.email.$error">
						<div ng-message="required">Email is required.</div>
						<div ng-message="pattern">Enter a valid Email Id.</div>
					</div>
				</md-input-container>
				<md-button class="md-raised md-warn" layout-fill ng-click="shareShortlistedProducts(shareShortlisted)">SHARE
					PRODUCT
					LIST</md-button>
			</div>
		</form>
	</md-content>
</md-sidenav>
</div>


<div class="ow_campaign_details">
	<md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
		<img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
	</md-button>
	<div class="bg-part">
		<div layout="row" flex="100" flex-sm="100" flex-xs="100" flex-md="100" layout-xs="column" layout-sm="column"
		 layout-gt-sm="row" layout-margin="layout-margin" class="client-summay">
			<div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100"
			 flex-gt-sm="50" layout-margin="layout-margin" class="contbg md-whiteframe-3dp client_info">
				<!-- <div layout="column" layout-align="center center" layout-margin>
						<div>
							<img src="assets/images/client_details.png" width="70%">
						</div>
						<h3 class="text_color">Client Details
							</h2>
					</div> -->
				<table class="table table-striped table-bordered" style="width: 98%;">
					<tbody>
						<tr>
							<td><b>Campaign ID</b></td>
							<td>{{metroCampDetails.cid}}</td>
						</tr>
						<tr>
							<td><b>Campaign Name</b></td>
							<td>{{metroCampDetails.name}}</td>
						</tr>
						<tr>
							<td><b>Client Name</b></td>
							<td>{{metroCampDetails.user_details.first_name || "N/A"}} {{metroCampDetails.user_details.last_name}}</td>
						</tr>
						<tr>
							<td><b>Contact</b></td>
							<td>{{metroCampDetails.user_details.phone || "N/A"}}</td>
						</tr>
						<tr>
							<td><b>Email</b></td>
							<td>{{metroCampDetails.user_details.email || "N/A"}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column"
			 layout-gt-sm="column" layout-margin="layout-margin" class="contbg md-whiteframe-3dp Campaign_summary">
				<!-- <div layout="column" layout-align="center center" layout-margin>
						<div>
							<img src="assets/images/capaign_details.png" width="70%">
						</div>
						<h3 class="text_color">Campaign Summary
							</h2>
					</div> -->
				<table class="table table-striped table-bordered" style="width: 98%;">
					<tbody>
						<tr>
							<td><b>Products</b></td>
							<td>Metro Digital Screens</td>
						</tr>
						<tr>
							<td><b>Starting From</b></td>
							<td>{{(metroCampDetails.start_date | date: "dd-MM-yyyy") || "N/A"}}</td>
						</tr>
						<tr>
							<td><b>Actual Budget</b></td>
							<td>
								<span ng-if="metroCampDetails.act_budget">Rs.</span>{{metroCampDetails.act_budget || "N/A"}}
							</td>
						</tr>
						<tr>
							<td><b>Pending payment</b></td>
							<td>
								<span ng-if="metroCampDetails.pending_payment">Rs.</span>{{metroCampDetails.pending_payment || "N/A"}}
							</td>
						</tr>
						<tr>
							<td><b>Status</b></td>
							<td>{{metroCampDetails.status | stringifyCampaignStatus }}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div layout="row" flex-offset-gt-md="70" flex="30" flex-xs="100" flex-sm="100" flex-gt-sm="50" layout-margin="layout-margin"
		 style="float: right;">

			<div class="">
				<div class="dropdown">
					<md-button onclick="sharemetroCampaign()" class="dropbtn Upload_font">
						<!-- <p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icon">
											reply_all
										</i></span></p> -->
						<!-- <p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Share Campaign</p> -->
						Share Campaign
					</md-button>
					<div id="sharemetroDrop" class="dropdown-content contbg animated fadeInDown contant_drop" style="padding:10px;">
						<form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
							<div layout="colmun">
								<span flex></span>
								<md-button class="md-icon-button" aria-label="Close Side Panel" onclick="sharemetroCampaign()">
									<md-icon class="md-default-theme">
										<i class="material-icons">close</i>
									</md-icon>
								</md-button>
							</div>
							<h3 class="md-title" style="margin-top:-28px;margin-left: 11px;">Share Campaign</h3><br>
							<form name="shareCampaignForm">
								<div layout="column" style="padding:10px;">
									<div class="form-group">
										<input ng-model="shareCampaign.receiver_name" class="form-control" name="receiver_name" placeholder="Name"
										 required="required" />
										<div ng-messages="shareCampaignForm.name.$error">
											<div ng-message="required">Name is required.</div>
											<div ng-message="pattern">Enter a valid Name.</div>
										</div>
									</div>
									<div class="form-group">
										<input ng-model="shareCampaign.email" name="email" class="form-control" placeholder="Email" type="email"
										 required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
										<div ng-messages="shareCampaignForm.email.$error">
											<div ng-message="required">Email is required.</div>
											<div ng-message="pattern">Enter a valid Email Id.</div>
										</div>
									</div>
									<div class="offset-md-7 col-md-5" style="padding-right: 0px;">
										<md-button class="md-raised md-warn Upload_font" layout-fill ng-click="shareMetroCampaignToEmail($event, shareCampaign, metroCampDetails.id)">Share
											Campaign</md-button>
									</div>
								</div>
							</form>
						</form>
					</div>
				</div>
			</div>
			<div class="" style="cursor: pointer;">
				<div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
					<md-button class="dropbtn Upload_font" ng-click="downloadOwnerQuote(metroCampDetails.id)" download>
						<!-- <p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icondown">
												file_copy
											</i></span></p>
									<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Download Quotation</p> -->
						Download Quotation
					</md-button>
				</div>
			</div>
			<div class="">
				<div class="md-grid-item-content hoarding-btn">
					<md-button class="md-grid-item-content add_blue" ng-click="toggleAddMetroProductSidenav()" ng-disabled="metroCampDetails.status == 1121">
						<!-- ng-disabled="!metroCampDetails || metroCampDetails.status > 1101" -->
						<!-- <span>
									<md-icon md-svg-icon="assets/images/icons/add_circle_outline.svg"></md-icon>
								</span>
								<div class="md-caption">Add Package</div> -->
						Add Package
					</md-button>
				</div>
			</div>
		</div>
	</div>
	<!-- <div ng-cloak flex="100" flex-xs="100" flex-sm="100" class="contbg"> -->
	<!-- <div class="ml-2 mr-2 mt-2 mb-2 md-whiteframe-2dp contbg mobile_campdetails">
			<div class="row" style="margin-left:0px; margin-right:0px;">
				<div class="row col-xl-6 col-lg-6 col-md-12 col-sm-6 col-12">
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 payment_mng"
					 style="margin-top:14px;">
						<p class="cmp_bottom">Campaign ID</p>
						<p class="md-caption mob_span"><b>{{metroCampDetails.cid}}</b></p>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_mng"
					 style="margin-top:14px;">
						<p class="cmp_bottom">Client Name</p>
						<p class="md-caption mob_span"><b>{{metroCampDetails.user_details.first_name || "N/A"}}</b></p>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-3 payment_mng"
					 style="margin-top:14px;">
						<p class="cmp_bottom">Campaign Name</p>
						<p class="md-caption mob_span"><b>{{metroCampDetails.name| capitalize}}</b></p>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_mng"
					 style="margin-top:14px;">
						<p class="cmp_bottom">Contact</p>
						<p class="md-caption mob_span"><b>{{metroCampDetails.user_details.phone}}</b></p>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-12 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-6 payment_mng"
					 style="margin-top:14px;">
						<p class="cmp_bottom">Email</p>
						<p class="md-caption mob_span"><b>{{metroCampDetails.user_details.email}}</b></p>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-12 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-5 payment_nng"
					 style="margin-top:14px;">
						<p class="cmp_bottom">Products</p>
						<p class="md-caption mob_span mob_5"><b>Metro Digital Screens</b></p>
					</div>
				</div>
				<div class="row col-xl-6 col-lg-6 col-md-12 col-sm-6 col-12 metro_cmpnew">
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_nng">
						<div class="dropdown">
							<md-button onclick="sharemetroCampaign()" class="dropbtn drop_width">
								<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icon">
											reply_all
										</i></span></p>
								<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Share Campaign</p>
							</md-button>
							<div id="sharemetroDrop" class="dropdown-content contbg animated fadeInDown contant_drop" style="padding:10px;">
								<form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
									<div layout="colmun">
										<span flex></span>
										<md-button class="md-icon-button" aria-label="Close Side Panel" onclick="sharemetroCampaign()">
											<md-icon class="md-default-theme">
												<i class="material-icons">close</i>
											</md-icon>
										</md-button>
									</div>
									<h3 class="md-title" style="margin-top:-28px;margin-left: 11px;">Share Campaign</h3><br>
									<form name="shareCampaignForm">
										<div layout="column" style="padding:10px;">
											<div class="form-group">
												<input ng-model="shareCampaign.receiver_name" class="form-control" name="receiver_name" placeholder="Name"
												 required="required" />
												<div ng-messages="shareCampaignForm.name.$error">
													<div ng-message="required">Name is required.</div>
													<div ng-message="pattern">Enter a valid Name.</div>
												</div>
											</div>
											<div class="form-group">
												<input ng-model="shareCampaign.email" name="email" class="form-control" placeholder="Email" type="email"
												 required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
												<div ng-messages="shareCampaignForm.email.$error">
													<div ng-message="required">Email is required.</div>
													<div ng-message="pattern">Enter a valid Email Id.</div>
												</div>
											</div>
											<div class="offset-md-7 col-md-5" style="padding-right: 0px;">
												<md-button class="md-raised md-warn Upload_font" layout-fill ng-click="shareMetroCampaignToEmail($event, shareCampaign, metroCampDetails.id)">Share
													Campaign</md-button>
											</div>
										</div>
									</form>
								</form>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_nng"
					 style="cursor: pointer;">
						<div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
							<a ng-click="downloadOwnerQuote(metroCampDetails.id)" download>
								<md-button class="dropbtn drop_width">
									<p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icondown">
												file_copy
											</i></span></p>
									<p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Download Quotation</p>
								</md-button>
							</a>
						</div>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_nng"
					 style="cursor: pointer;">
						<div class="md-grid-item-content hoarding-btn">
							<md-button class="md-grid-item-content" ng-disabled="!metroCampDetails || metroCampDetails.status > 1101"
							 ng-click="toggleAddMetroProductSidenav()">
								<span>
									<md-icon md-svg-icon="assets/images/icons/add_circle_outline.svg"></md-icon>
								</span>
								<div class="md-caption">Add Package</div>
							</md-button>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	<!-- table grid start -->
	<div class="table-responsive">
		<table class="table">
			<div ng-if="metroCampDetails.products.length == 0" style="margin:0 auto;width: 50%;">
				<img src="assets/images/owner/Group 383.png" alt="short" />
			</div>
			<thead class="text_color" ng-if="metroCampDetails.products.length != 0">
				<tr>
					<th style="width:250px;">Product Details</th>
					<th class="hide-xs"></th>
					<th class="">Booked From</th>
					<th class="">Booked To</th>
					<th class="">Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="package in metroCampDetails.packages">
					<td class="hide-xs image_tdwidth">
						<img src="assets/images/digital_s.jpg" alt="Smiley face" class="requ_size">
					</td>
					<td class="table_vertical table_address">
						<p>Corridor Name: {{package.corridor_name || "N/A"}}<br>Duration : {{package.months|| "N/A"}}
							<br>No of Trains:{{package.selected_trains|| "N/A"}}
					</td>
					<td class="table_vertical">
						{{package.start_date| dateify | date: "dd-MMM-yyyy"}}
					</td>
					<td class="table_vertical">{{package.end_date| dateify | date: "dd-MMM-yyyy"}}
					</td>
					<td class="table_vertical">{{package.price}}
					</td>
					<td class="table_vertical ">
						<a><i class="material-icons" ng-hide="metroCampDetails.status == 1121" ng-click="deleteProductFromCampaign( metroCampDetails.id,metroCampDetails.packages[0].package_id)">delete_forever</i></a>
						<!-- ng-if="metroCampDetails.type != 0 && metroCampDetails.status != 700" -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row" style="border-top: 1px solid #ddd; margin-right:0px;">
		<div class="col-md-4">
			<!--				<div class="mt-3 ml-2 form-group">
					<label for="text" class="text_color">Any questions, Please submit below</label>
					<textarea type="text" ng-model="metroCampDetails.message" class="form-control" id="text" rows="3"></textarea>
				</div>
				<button type="submit" class="btn user_submit float-right" ng-click="changeQuoteRequest(metroCampDetails.id, metroCampDetails.message)">Submit</button>-->

		</div>
		<div ng-if="metroCampDetails.status < 1121">
			<p class="font-weight-light" style="text-indent: 193px;"><b>Total : <span class="float-right">{{metroCampDetails.act_budget}}</b></span>
			</p>
			<p class="text_color" style="text-indent: 161px;"><input type="checkbox" ng-model="checked" ng-init="checked = true"
				 ng-change="uncheck(checked)" />18% GST : <span class="float-right">{{ GST |number : 2 ||"N/A" }}</span></p>
			<p class="" style="text-indent: 143px;font-size: 15px;font-weight: 500;">Grand Total : <span class="float-right">{{
					TOTAL | number : 2}}</span>
			</p>
		</div>
		<div class="col-md-8" ng-if="metroCampDetails.status < 1121">
			<div class="mt-3">
				<md-button class="md-grid-item-content pull-right all_button" ng-disabled="metroCampDetails.status != 1101"
				 ng-click="checkoutMetroCampaign($event, metroCampDetails.id)">					
					Checkout
				</md-button>
			</div>
		</div>
		<div class="col-md-8" ng-if="metroCampDetails.status >= 1121">
			<!-- ng-if="metroCampDetails.type != 0" -->
			<div class="mt-3 pull-right" style="font-size: 13px;">
				<p class="font-weight-light" style="text-indent: 193px;"><b>Total : <span class="float-right">{{metroCampDetails.act_budget}}</b></span>
				</p>
				<p class="text_color" style="text-indent: 161px;">18% GST : <span class="float-right">{{ GST |number : 2 ||"N/A" }}</span></p>

				<!-- ng-hide="metroCampDetails.gststatus == 1" -->
				<!-- <p class="" style="text-indent: 166px;">Sub Total : <span class="float-right">{{metroCampDetails.subTotal| number : 2}}</span>
					</p> -->
				<p class="font-weight-light" style="text-indent: 172px;"><b>Pending : <span class="float-right">{{metroCampDetails.pending_payment}}</b></span>
				</p>
				<p class="" style="text-indent: 143px;font-size: 15px;font-weight: 500;">Grand Total : <span class="float-right">{{
						TOTAL | number : 2}}</span>
				</p>
				<!-- <p><input type="checkbox" ng-model="request_execute"/><span>Request Executive to collect cash / cheque</span> -->

				<!-- <md-button class="md-raised md-primary" ng-disabled="!request_execute" ng-click="confirmCampaignBooking($event, metroCampDetails.id)">Pay & Launch Campaign</md-button></p> -->
			</div>
		</div>
		<style>
			.ng-cloak {
				display: none !important;
			}
		</style>
	</div>
	<!-- </div> -->
</div>

<script>
	function sharemetroCampaign() {
		document.getElementById("sharemetroDrop").classList.toggle("show");
	}
</script>