<md-dialog flex="50"  flex-lg="50" flex-md="50" flex-xs="100" flex-sm="70"  style="border-radius: 0 ">
	 <md-toolbar >
		<div  class="md-toolbar-tools md-whiteframe-1dp">
			<!-- <button class="md-icon-button md-button show-xs md-ink-ripple hide-gt-xs" type="button" ng-transclude="" ng-click="cancel()" show-xs="show-xs" hide-gt-xs="hide-gt-xs"><md-icon md-svg-icon="images/1493121180_Arrow_Back.svg" class="ng-scope" aria-hidden="true"></md-icon></button> -->
			<span  class="md-title" style="color:#000">Change Your Password</span>
			<span flex="flex" hide-xs="hide-xs" show-gt-xs="show-gt-xs" class="hide-xs show-gt-xs flex"></span>
			<button class="md-icon-button md-button"  ng-click="closepopup()">
				<md-icon style="color:#000"><i class="material-icons">close</i></md-icon>
			</button>
		</div>
	</md-toolbar> 
	<md-dialog-content>
		
		<md-content layout-fill="layout-fill" class="contbg" style="padding:30px">
 					
			<!-- <div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
				<h4> Change Your Password</h4>
			</div>
			<div layout="column" layout-align="center center" layout-margin="layout-margin" ng-if="errors" class="md-block">
				<p ng-repeat="error in errors" class="md-body-2">{{error}}</p>
			</div> -->
			<form name="reset" novalidate="novalidate">
				<md-input-container class="md-block">
					<label>Current  Password</label>
					<input ng-model="user.password" type="password" name="password" minlength="6" maxlength="20" required="required"/>
					<div ng-messages="reset.password.$error">
					<div ng-message="required">Current is required.</div>
					<div ng-message="minlength">Current must have 6 characters.</div>
					<div ng-message="maxlength">Current shouldn't exede 20 characters.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label> New Password</label>
					<input ng-model="user.verfiypassword" type="password" name="password" minlength="6" maxlength="20" required="required"/>
					<div ng-messages="reset.password.$error">
					<div ng-message="required">Password is required.</div>
					<div ng-message="minlength">Password must have 6 characters.</div>
					<div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
					</div>
					</md-input-container>
				<md-input-container class="md-block">
					<label> Conform Password</label>
					<input ng-model="user.verfiypassword" type="password" name="password" minlength="6" maxlength="20" required="required"/>
					<div ng-messages="reset.password.$error">
					<div ng-message="required">Password is required.</div>
					<div ng-message="minlength">Password must have 6 characters.</div>
					<div ng-message="maxlength">Password shouldn't exede 20 characters.</div>
					</div>
				</md-input-container>
				<div layout="row">
					<md-input-container layout-align="center center" layout-fill="layout-fill" class="sinbtn">
						<md-button type="submit" layout-fill="layout-fill" class="md-raised md-primary regbn">Submit</md-button>
					</md-input-container>
					<md-input-container layout-align="center center" layout-fill="layout-fill" class="sinbtn">
						<md-button type="submit" layout-fill="layout-fill" class="md-raised md-primary regbn">Cancle</md-button>
					</md-input-container>
								
				</div>
				
			</form>
		</md-content>
 		
	</md-dialog-content>
</md-dialog>