<!-- <div layout="column" layout-padding>
    <p class="text_color md-title">Notifications</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="text_color">
                <tr>
                    <th>Details</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Client requested to add one more product</td>
                    <td>
                        <a style="cursor:pointer;" ng-click="">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                    </td>
                    <td class="text-right text_color">21-09-2018, 9:00 Am</td>
                </tr>
                <tr>

                    <td>Client requested to add one more productmore product more product more product</td>
                    <td>
                        <a style="cursor:pointer;" ng-click="">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                    </td>
                    <td class="text-right text_color">21-09-2018, 9:00 Am</td>
                </tr>
                <tr>

                    <td>Client requested to add one more productmore product more product more product</td>
                    <td>
                        <a style="cursor:pointer;" ng-click="">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                    </td>
                    <td class="text-right text_color">21-09-2018, 9:00 Am</td>
                </tr>

            </tbody>
        </table>
    </div>
</div> -->