<div layout="column"  flex="100" flex-xs="100" flex-sm="100" flex-md="100" style="background: #eee">
        <div layout="row" layout-margin flex>
            <h2 class="md-title text_color" flex> Uber Cabs Pvt. Ltd</h2>
            <md-button class="md-fab md-mini md-primary md-hue-1" aria-label="Use Share">
                <md-icon style="color: #fff;">
                        <i class="fa fa-share-alt"></i>
                </md-icon>
            </md-button>
        </div>
        <div layout="row" layout-margin flex>
            <div flex="30" class="md-whiteframe-2dp contbg">
                <div layout="column"  class="campagin__details">
                    <div class="campagin__inner" layout-padding>
                        <h4 class="md-title text_color"><span>U</span> Uber Cabs</h4>
                        <md-divider></md-divider>
                        <table class="campagin__data">
                            <tbody>
                                <tr class="md-body-2 text_color">
                                    <td>Location: </td>
                                </tr>
                                <tr class="md-subhead">
                                    <td>Begumpet, Opposite Old Airport </td>
                                </tr>
                                <tr class="md-body-2 text_color">
                                    <td>Facing:</td>
                                </tr>
                                <tr class="md-subhead">
                                    <td>Begumpet to secunderabad facing </td>
                                </tr>
                                <tr class="md-body-2 text_color">
                                    <td>Material:</td>
                                </tr>
                                <tr class="md-subhead">
                                    <td>Vinayl  </td>
                                </tr>
                                <tr class="md-body-2 text_color">
                                    <td>Print & Mounting: </td>
                                </tr>
                                <tr class="md-subhead">
                                    <td>By BBI Advertising Pvt Ltd  </td>
                                </tr>
                               
                            </tbody>
                        </table>
                        <div class="products_map">
                            <span class="text_color">Live Trafic</span>
                            <img src="assets/images/owner/map@2x.png" alt="product_images" width="100%"/>
                          
                            <div class="expand_map">
                                <a href="#" class="text_color md-caption">Expand Map</a>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <!-- <fusioncharts 
                            width="100%" 
                            height="400"
                            type="column2d"
                            datasource="{{myDataSource}}"
                        ></fusioncharts> -->
                    
                    </div>
                </div>
            </div>
            <div flex="70" >
                <div class="row margin_left_0 margin_right_0 contbg md-padding"  flex>
                   
                    <div class="Product__img">
                        <p class="md-subhead">ID: BBA 27 - Airport Road</p>
                        <img src="assets/images/owner/product_image.png" width="100%"  alt="product images"/>
                        <div layout="row" layout-margin class="product_details">
                            <div>
                                <p class="md-caption">Size :</p>
                                <h4 class="md-body-2">40 ft x 40 ft</h4>
                            </div>
                            <div>
                                <p class="md-caption">Lit  :</p>
                                <h4 class="md-body-2">Yes, 6 lights</h4>
                            </div>
                            <div>
                                <p class="md-caption">End Date:</p>
                                <h4 class="md-body-2">15-11-2018</h4>
                            </div>
                            <div>
                                <p class="md-caption">Impressions :</p>
                                <h4 class="md-body-2">7,56,250</h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>