<md-dialog flex="50"  flex-lg="50" flex-md="50" flex-xs="100" flex-sm="70"  style="border-radius: 0 ">
	 <md-toolbar >
		<div  class="md-toolbar-tools md-whiteframe-1dp">
			<!-- <button class="md-icon-button md-button show-xs md-ink-ripple hide-gt-xs" type="button" ng-transclude="" ng-click="cancel()" show-xs="show-xs" hide-gt-xs="hide-gt-xs"><md-icon md-svg-icon="images/1493121180_Arrow_Back.svg" class="ng-scope" aria-hidden="true"></md-icon></button> -->
			<span  class="md-title" style="color:#000">Request A Hoarding</span>
			<span flex="flex" hide-xs="hide-xs" show-gt-xs="show-gt-xs" class="hide-xs show-gt-xs flex"></span>
			<button class="md-icon-button md-button"  ng-click="cancel()">
				<md-icon><i class="material-icons">&#xE5CD;</i></md-icon>
			</button>
		</div>
	</md-toolbar> 
	<md-dialog-content>
		

		<div layout="row" layout-sm="row" layout-lg="row" layout-md="row" layout-xs="column" layout-margin="layout-margin">
	        <div layout="column" flex="50" flex-xs="100" flex-sm=50 flex-md="50" flex-lg="50">
	        
				<md-input-container class="md-block">
					<label>Hoarding Id</label>
					<input ng-model="user.hoardingId" type="text" name="hoardingid" minlength="2" md-maxlength="60" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/"/>
					<div ng-messages="requestform.hoardingid.$error">
						<div ng-message="required">hoarding Id is required.</div>
						<div ng-message="minlength">hoarding Id must have 2 characters.</div>
						<div ng-message="maxlength">hoarding Id shouldn't exede 60 characters. </div>
						<div ng-message="pattern">hoarding Id should contain only Alpha Numeric and _ - . symbols.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Panel Size</label>
					<input ng-model="user.panelSize" type="text" name="panelsize" minlength="3" md-maxlength="60" ng-pattern="/^[0-9]{10}$/" required="required"/>
					<div ng-messages="requestform.panelsize.$error">
						<div ng-message="required">panel Size is required.</div>
						<div ng-message="minlength">panel Size must have 3 characters.</div>
						<div ng-message="maxlength">panel Size shouldn't exede 60 characters.</div>
						<div ng-message="pattern">should contain only Alpha Numeric and _ - . symbols.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Price</label>
					<input ng-model="user.price" type="text" name="price" ng-pattern="/^[0-9]{10}$/" required="required"/>
					<div ng-messages="requestform.price.$error">
						<div ng-message="required">price is required.</div>
						<div ng-message="minlength">price must have 3 characters.</div>
						<div ng-message="pattern">price should be only numbe.</div>
					</div>
				</md-input-container>
				<!-- <md-input-container>
					<label>Sub Area</label>
					<input ng-model="user.subarea" type="text" name="subarea" required="required" minlength="3" md-maxlength="60"/>
					<div ng-messages="requestform.subarea.$error">
						<div ng-message="required">subarea is required.</div>
						<div ng-message="minlength">subarea must have 3 characters.</div>
						<div ng-message="maxlength">subarea shouldn't exede 60 characters.</div>
					</div>
				</md-input-container> -->
				<md-input-container>
					<label>Faceing To</label>
					<input ng-model="user.faceingto" type="text" name="faceingto" required="required" minlength="3" md-maxlength="60"/>
					<div ng-messages="requestform.faceingto.$error">
						<div ng-message="required">faceing to is required.</div>
						<div ng-message="minlength">faceing to must have 3 characters.</div>
						<div ng-message="maxlength">faceing to shouldn't exede 60 characters.</div>
					</div>
				</md-input-container>
				<!-- <md-input-container>
					<label>Advertising Strength</label>
					<input ng-model="user.advertisingstrength" type="text" name="advstrength" required="required" minlength="3" md-maxlength="60"/>
					<div ng-messages="requestform.advstrength.$error">
						<div ng-message="required">advertising strength is required.</div>
						<div ng-message="minlength">advertising strength  must have 3 characters.</div>
						<div ng-message="maxlength">advertising strength  shouldn't exede 60 characters.</div>
					</div>
				</md-input-container>		 -->
	        </div>

	        <div layout="column" flex="50" flex-xs="100" flex-sm=50 flex-md="50" flex-lg="50">
	          <md-input-container>
		          <label>Hoarding Type</label>
			          <md-select ng-model="user.hoardingtype" name="hoardingtype">
			            <md-option value="Billboard"> Billboard</md-option>
			            <md-option value="Unipole">Unipole</md-option>
			            <md-option value="Digital">Digital</md-option>
			          </md-select>
			          <div ng-messages="requestform.advstrength.$error">
						<div ng-message="required">hoarding type  is required.</div>
					</div>
		        </md-input-container>
		        <md-input-container style="margin-top: 42px">
		         <label>Lighting</label>
			          <md-select ng-model="user.lighting" name="lighting">
			            <md-option value="Yes">Yes</md-option>
			            <md-option value="No">No</md-option>
			          </md-select>
			          <div ng-messages="requestform.lighting.$error">
						<div ng-message="required">lighting type  is required.</div>
					</div>
		        </md-input-container>
		        <md-input-container style="margin-top: 42px">
					<label>Area Name</label>
					<input ng-model="user.subarea" type="text" name="areaname" required="required" minlength="3" maxlength="60"/>
					<div ng-messages="requestform.subarea.$error">
						<div ng-message="required">area name is required.</div>
						<div ng-message="minlength">area name must have 3 characters.</div>
						<div ng-message="maxlength">area name shouldn't exede 60 characters.</div>
					</div>
				</md-input-container>
				
				<!-- <md-input-container class="md-block">
					<label>Address</label>
					<input ng-model="user.address" type="text" name="address" required="required"/>
					<div ng-messages="signin.address.$error">
						<div ng-message="required">Addressis required.</div>
					</div>
				</md-input-container> -->
				<md-input-container>
					<label>Faceing From</label>
					<input ng-model="user.faceingfrom" type="text" name="faceingfrom" required="required" minlength="3" md-maxlength="60"/>
					<div ng-messages="requestform.faceingfrom.$error">
						<div ng-message="required">faceing to is required.</div>
						<div ng-message="minlength">faceing to must have 3 characters.</div>
						<div ng-message="maxlength">faceing to shouldn't exede 60 characters.</div>
					</div>
				</md-input-container>
				<!-- <md-input-container class="md-block">
					<label>Hoarding Image</label>
					<input ng-model="user.hoardingimage" type="file" name="hoardingimage" required="required"/>
					<div ng-messages="requestform.hoardingimage.$error">
						<div ng-message="required">hoardingimage is required.</div>
					</div>
				</md-input-container> -->
	        
			</div>
			
      	</div>
		<div layout="row" layout-align="center center">
			
				<label for="files.image">Image</label>
			
				<input type="file" ngf-select ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="10MB" required></input>
				<br /><br />
			
		</div>
		<div layout="column" layout-padding layout-margin layout-align="center center">
			<div layout="row" >
				<md-button Class="md-raised md-primary" ng-click="save()">Submit</md-button>
          		<md-button Class="md-raised" ng-click="cancel()">	CANCEL</md-button>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>