
<div class="m-4">
	<div class="contbg md-caption" layout="row" layout-margin>
		<div flex></div>
		<div class="dropdown">
			<md-button class="md-raised md-primary" onclick="addPayment()" class="dropbtn">Add New Product</md-button>
			<!-- <a ng-href="#/owner/{{clientSlug}}/loginpage"><button type="button" class="btn btn-secondary">login</button></a> -->
			<div id="myDropdown" class="dropdown-content contbg animated fadeInDown requested_popup">
				<form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
					<div layout="colmun">
						<span flex></span>
						<md-button class="md-icon-button" aria-label="Close Side Panel" onclick="addPayment()">
							<md-icon class="md-default-theme">
								<i class="material-icons">close</i>
							</md-icon>
						</md-button>
					</div>
					<h3 class="md-body-2" style="margin-top:-31px !important;">Great, <span class="md-title">Let's add new product</span></h3>
					<br>
					<li>

						<div class="col-md-12">
							<form>
								<div class="form-group row">
									<div class="col-sm-6 input_bottom">
										<input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
										 placeholder="Product ID">
									</div>
									<div class="col-sm-6">
										<select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
											<option value="" selected>Product Type</option>
											<!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6">
										<select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
											<option value="" selected>Country</option>
											<!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
										</select>
									</div>
									<div class="col-sm-6">
										<select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
											<option value="" selected>City</option>
											<!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6">
										<select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
											<option value="" selected>Area</option>
											<!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
										</select>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
										 placeholder="Address">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6">
										<input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
										 placeholder="Direction">
									</div>
									<div class="col-sm-3">
										<select id="paymentType" ng-model="campaignPayment.type" class="form-control md-whiteframe-3dp">
											<option value="" selected>Lit - Yes</option>
											<!-- <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">{{paymentType.name}}</option> -->
										</select>
									</div>
									<div class="col-sm-3">
										<input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
										 placeholder="Size">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-6">
										<input type="text" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
										 placeholder="Product Cost">
									</div>
									<div class="col-sm-6">
										<input type="date" name="bday" class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount"
										 placeholder="Product Calender">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-6">
										<textarea class="form-control md-whiteframe-3dp" id="amount" ng-model="campaignPayment.amount" placeholder="Product Strength"
										 rows="3"></textarea>
									</div>

									<div class="col-sm-6">
										<label for="paymentType" class="col-sm-6 md-body-2">Upload Image</label>
										<span class="input-group-btn">
											<span class="">
												<input type="file" class="form-control md-whiteframe-3dp" required="required" ngf-select ng-model="files.image"
												 name="imageFile" accept="image/*" ngf-max-size="10MB">
											</span>
										</span>
										<div ng-messages="addProductForm.imageFile.$error" ng-if="addProductForm.imageFile.$touched" style="color:red">
											<div ng-message="required">Image is required.</div>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div flex></div>
									<div class="col-sm-6">
										<md-button class="md-raised md-primary text-white pull-right" ng-click="updateOwnerCampaignPayment()">Submit</md-button>
									</div>
								</div>
							</form>
						</div>
					</li>
				</form>
			</div>
		</div>
	</div>

<!-- <div class="" style="margin-bottom:115px !important">
		<table class="table-hover requested_hoardings" style="width: 100%;border-collapse: collapse;">
			<thead class="text_color">
				<tr class="">
					<th class="w_10">Product Details</th>
					<th class="w_30"></th>
					<th class="w_10">Size</th>
					<th class="w_10">Views</th>
					<th class="w_10 hide_te">Lit</th>
					<th class="w_10 hide_te">Price</th>
					<th class="text-center w_5 hide_te hide_tete">Calender</th>
					<th class="w_5 hide_te"></th>
					<th class="w_10 hide_te "></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in productList" class="border border-right border-left md-whiteframe-1dp">
					<td>
						<img ng-src="{{config.serverUrl + product.image}}" alt="Smiley face" class="requested_image" style="border-radius: 5px;">
					</td>
					<td>
						<p class=""><b>{{product.siteNo}} - {{product.area_name}}</b><br>{{product.address}}<br>Facing:
							{{product.faacing || "N/A"}}</p>
					</td>
					<td class="table_vertical">{{product.panelSize}}</td>
					<td class="table_vertical">{{product.impressions}}</td>
					<td class="table_vertical hide_te" ng-if="product.lighting == 1">Yes</td>
					<td class="table_vertical hide_te" ng-if="product.lighting == 0">No</td>
					<td class="table_vertical hide_te">{{product.default_price}}</td>
					<td class="text-center table_vertical hide_te hide_tete"><a href="#"><i class="fa fa-calendar"></i></a></td>
					<td class="table_vertical hide_te"></td>
					<td class="text-center table_vertical hide_te ">
						<a ng-href="#/owner/{{clientSlug}}/editproduct-details">
							<button type="button" class="btn btn-secondary">Edit Details</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div> -->
	<div class="req_hording_grid">
		<div layout="row" layout-margin class="req_hording_inner">

			<div class="w_10">Product Details</div>
			<div class="w_25"></div>
			<div  class="text-center w_10">Size</div>
			<div  class="text-center w_10">Views</div>
			<div class="text-center w_5">Lit</div>
			<div class="text-center w_10">Price</div>
			<div  class="text-center w_5">Calender</div>
			<div  class="text-center w_15"></div>
			<div  class="text-center w_10"></div>
		</div>
		<div layout="row" layout-margin ng-repeat="product in productList" class="md-whiteframe-2dp border-right border-left req_hording_inner">
			<div class="w_10">
				<img ng-src="{{config.serverUrl + product.image}}" alt="Smiley face" height="100" width="130">
			</div>
			<div class="w_25">
				<p class=""><b>{{product.siteNo}} - {{product.area_name}}</b><br>{{product.address}}<br>Facing:
					{{product.faacing || "N/A"}}</p>
			</div>
			<div  class="align-self-center text-center w_10">{{product.panelSize}}</div>
			<div class="align-self-center text-center w_10">{{product.impressions}}</div>
			<div class="align-self-center text-center w_5">Yes</div>
			<div  class="align-self-center text-center w_10">{{product.default_price}}</div>
			<div  class="align-self-center text-center w_5"><a href="#"><i class="fa fa-calendar"></i></a></div>
			<div  class="align-self-center text-center w_15"></div>
			<div  class="align-self-center text-center w_10"><a ng-href="#/owner/{{clientSlug}}/editproduct-details">
				<button type="button" class="btn btn-secondary">Edit Details</button>
			</a></div>
		</div>
	</div>


</div>

<script>
	function addPayment() {
		document.getElementById("myDropdown").classList.toggle("show");
	}
	function addPayments() {
		document.getElementById("myDropdownView").classList.toggle("show");
	}
</script>