<style>
    .daterangepicker option.disabled,
    .daterangepicker td.disabled {
        color: #fff;
        cursor: not-allowed;
        background: #ddd;
        border: 1px solid #fff;
        border-radius: 0px;
        /* text-decoration: line-through; */
    }

    .gray-blocked {
        background: #ddd;
    }

    .red-blocked {
        background: #f00 !important;
    }
    .daterangepicker {
    /* position: absolute; */
    color: inherit;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 340px !important;
    max-width: none;
    padding: 0;
    margin-top: 7px;
    top: 0px;
    left: 0px;
    right: 18% !important;
    z-index: 1;
    display: none;
    font-family: arial;
    font-size: 15px;
    line-height: 1em;
}
@media screen and (min-width:320px) and (max-width: 563px){
    .daterangepicker {
    /* position: absolute; */
    color: inherit;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 280px !important;
    max-width: none;
    padding: 0;
    margin-top: 7px;
    top: 0px;
    left: 10px;
    right: 8% !important;
    z-index: 1;
    display: none;
    font-family: arial;
    font-size: 15px;
    line-height: 1em;
}
.daterangepicker.opensright:before {
    left: 240px;
}
.daterangepicker.opensright:after {
    left: 241px;
}
}


</style>
<div class="">
    <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent"
        class="logo hs-lg hide-gt-md hide-md">
        <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
    </md-button>
    <div class="">
        <div class="md-whiteframe-2dp contbg md-caption hide-xs" layout="row" layout-margin>
            <div flex></div>
            <!-- Add New Product -->
            <div class="dropdown hide-xs">
                <md-button class="md-raised md-primary all_button" onclick="addnewProduct()" class="dropbtn">Add New
                    Product</md-button>
                <div id="myDropdown" class="dropdown-content contbg animated fadeInDown"
                    style="width:680px;height: 500px;overflow: auto;">
                    <form name="hordinglistform" novalidate="novalidate">
                        <div layout="colmun">
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="addnewProduct()">
                                <md-icon class="md-default-theme">
                                    <i class="material-icons">close</i>
                                </md-icon>
                            </md-button>
                        </div>
                        <h3 class="md-body-2" style="margin-top:-31px !important;">Great, <span class="md-title">Let's
                                add
                                new
                                product</span></h3>
                        <br>
                        <li>

                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Product ID*</label>
                                        <input type="text" class="form-control md-whiteframe-3dp" name="siteNo"
                                            ng-model="product.siteNo" required="required"
                                            ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/">
                                        <div ng-messages="hordinglistform.siteNo.$error"
                                            ng-if="hordinglistform.siteNo.$touched" style="color:red">
                                            <div ng-message="required">Product Id is required.</div>
                                            <div ng-message="pattern">Product id should contain only Alpha Numeric and _
                                                - .
                                                symbols.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Product Type*</label>
                                        <select id="productType"
                                            ng-options="format.id as format.name for format in formatList"
                                            ng-model="product.type" class="form-control md-whiteframe-3dp"
                                            data-md-container-class="selectdemoSelectHeader" required="required"
                                            name="productType">
                                            <option value="" disabled selected></option>
                                        </select>

                                        <div ng-messages="hordinglistform.productType.$error"
                                            ng-if="hordinglistform.productType.$touched" style="color:red">
                                            <div ng-message="required">Site type is required.</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Search DMA</label>
                                        <md-autocomplete md-min-length="3" md-selected-item="areaObj"
                                            md-selected-item-change="selectSearchedArea(item)"
                                            md-search-text="searchedArea"
                                            md-items="item in searchableAreas(searchedArea)" md-item-text="item.name"
                                            placeholder="Search DMA" md-clear-button="true"
                                            style="min-width: 100% !important"
                                            md-menu-class="form-control md-whiteframe-3dp">
                                            <md-item-template>
                                                <span class="item-title">
                                                    <span> {{item.name}} </span>
                                                </span>
                                                <span class="item-metadata">
                                                    <span>
                                                        <strong>{{item.city_name}}</strong>
                                                    </span>
                                                    <span>
                                                        <strong>{{item.state_name}}</strong>
                                                    </span>
                                                    <span>
                                                        <strong>{{item.country_name}}</strong>
                                                    </span>
                                                </span>
                                            </md-item-template>
                                            <md-not-found>
                                                No matches found.
                                            </md-not-found>
                                        </md-autocomplete>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Lit </label>
                                        <select ng-model="product.lighting" required="required" name="light"
                                            class="form-control md-whiteframe-3dp" md-on-close="clearSearchTerm()"
                                            data-md-container-class="selectdemoSelectHeader"
                                            ng-init="product.lighting = product.lighting || ''"
                                            placeholder="Has lighting?*">
                                            <option value="" disabled selected>Light*</option>
                                            <!-- <option value="1">yes</option>
                                        <option value="0">No</option> -->
                                            <option>Front</option>
                                            <option>Rear</option>
                                            <option>No</option>
                                        </select>

                                        <div ng-messages="hordinglistform.light.$error"
                                            ng-if="hordinglistform.light.$touched" style="color:red">
                                            <div ng-message="required">light*.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Height(Ft)</label>
                                        <input type="text" class="form-control md-whiteframe-3dp" only-numeric
                                            name="height" ng-model="product.height" required="required">
                                        <div ng-messages="hordinglistform.height.$error"
                                            ng-if="hordinglistform.height.$touched" style="color:red">
                                            <div ng-message="required">height*.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Width(Ft)</label>
                                        <input type="text" class="form-control md-whiteframe-3dp" only-numeric
                                            name="width" ng-model="product.width" placeholder="Width*"
                                            required="required">
                                        <div ng-messages="hordinglistform.width.$error"
                                            ng-if="hordinglistform.width.$touched" style="color:red">
                                            <div ng-message="required">width*.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Latitude*</label>
                                        <input type="text" class="form-control md-whiteframe-3dp" name="lat"
                                            ng-model="product.lat" required="required">
                                        <div ng-messages="hordinglistform.lat.$error"
                                            ng-if="hordinglistform.lat.$touched" style="color:red">
                                            <div ng-message="required">Latitude is required.</div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>Longitude*</label>
                                        <input type="text" class="form-control md-whiteframe-3dp" name="lat"
                                            ng-model="product.long" required="required">
                                        <div ng-messages="hordinglistform.long.$error"
                                            ng-if="hordinglistform.long.$touched" style="color:red">
                                            <div ng-message="required">Longitude is required.</div>
                                        </div>

                                    </div>


                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Product Cost per month*</label>
                                        <input class="form-control md-whiteframe-3dp" ng-model="product.default_price"
                                            name="default_price" type="text" only-numeric required="required">
                                        <div ng-messages="hordinglistform.default_price.$error"
                                            ng-if="hordinglistform.default_price.$touched" style="color:red">
                                            <div ng-message="required">Cost is required.</div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>Nearest Land Mark*</label>

                                        <input ng-model="product.nearlandmark" class="form-control md-whiteframe-3dp"
                                            required="required" type="text" name="nearlandmark" required="required" />
                                        <div ng-messages="hordinglistform.nearlandmark.$error"
                                            ng-if="hordinglistform.nearlandmark.$touched" style="color:red">
                                            <div ng-message="required">Nearest LandMark is required.</div>
                                        </div>

                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Facing*</label>
                                        <input ng-model="product.direction" class="form-control md-whiteframe-3dp"
                                            required="required" type="text" name="cost" required="required" />
                                        <div ng-messages="hordinglistform.cost.$error"
                                            ng-if="hordinglistform.cost.$touched" style="color:red">
                                            <div ng-message="required">Facing is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Select Product Date</label>
                                        <div class="input-group">
                                            <!-- <input date-range-picker ng-model="product.dates" class="form-control md-whiteframe-3dp date-picker" placeholder="Product date"
                                                   type="text" name="date" readonly options="rqstHrdngsOpts"/>
                                            <div ng-messages="addProductForm.date.$error" ng-if="addProductForm.date.$touched" style="color:red">
                                            </div> -->

                                            <input date-range-picker ng-model="product.dates"
                                                class="form-control md-whiteframe-3dp date-picker"
                                                placeholder="Product date" type="text" name="date" readonly
                                                options="rqstHrdngsOpts" id="booking_dates_picker" />
                                            <a class="input-group-addon md-whiteframe-3dp"
                                                ng-click="getProductUnavailableDates(product.id,$event);"
                                                style="padding: 4px 16px;">
                                                <i class="material-icons">
                                                    calendar_today
                                                </i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-6 ">
                                        <label>Product Images</label>

                                        <div class="input-group" style="width: 100%;">

                                            <!--                                        <input class="form-control md-whiteframe-3dp" type="file" placeholder="Upload Product Image" multiple>-->
                                            <input type="file" class="form-control md-whiteframe-3dp"
                                                required="required" ngf-select ng-model="files.image" name="imageFile"
                                                accept="image/*" ngf-max-size="20MB" placeholder="Upload Product Image*"
                                                multiple>
                                            <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-picture-o"
                                                    aria-hidden="true"></i></span>
                                            <!-- <div ng-messages="hordinglistform.imageFile.$error" ng-if="hordinglistform.imageFile.$touched" style="color:red">
                                                <div ng-message="required">Image is required.</div>
                                            </div> -->
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>Upload Product Video if Any</label>
                                        <div class="input-group">
                                            <input class="form-control md-whiteframe-3dp" type="text" placeholder=""
                                                name="videoUrl" ng-model="product.videoUrl">
                                            <span class="input-group-addon md-whiteframe-3dp"><i
                                                    class="fa fa-caret-square-o-up" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="md-body-2"><span class="md-title">Product Strengths</span></h3>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Average Impressions Per Week*</label>
                                        <div class="input-group">

                                            <input class="form-control md-whiteframe-3dp" type="text"
                                                name="impressionsperweek" ng-model="product.impressionsperweek"
                                                only-numeric>
                                            <div ng-messages="hordinglistform.impressionsperweek.$error"
                                                ng-if="hordinglistform.impressionsperweek.$touched" style="color:red">
                                                <div ng-message="required">impression.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Read Direction</label>
                                        <select name="Visibility" class="form-control md-whiteframe-3dp" id="Visibility"
                                            required="required" ng-model="product.visibility">
                                            <option value="" disabled selected>Read Direction</option>
                                            <option>Right-Hand Read</option>
                                            <option>Left-Hand Read</option>
                                            <option>Other</option>
                                        </select required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!-- <div class="col-sm-6">
                                    <label> Demographics</label>
                                    <select name="audience" class="form-control md-whiteframe-3dp" id="Audience" required="required"
                                            ng-model="product.audience">
                                        <option value="" disabled selected>Targeted Audience</option>
                                        <option>College Students</option>
                                        <option>ABC</option>
                                        <option>XYZ</option>
                                    </select required>
                                </div> -->
                                    <div class="col-sm-3">
                                        <label>Demographics</label>
                                        <div class="input-group">
                                            <input class="form-control md-whiteframe-3dp" type="text" placeholder="Age"
                                                name="Age" ng-model="product.audience" only-numeric>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Eyes on Impression</label>
                                        <div class="input-group">
                                            <input class="form-control md-whiteframe-3dp" type="text" placeholder="Eyes on Impression"
                                                name="Eyes on Impression" ng-model="product.eyeimpression" only-numeric>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Demographics</label>
                                        <div class="input-group">

                                            <input class="form-control md-whiteframe-3dp" type="text" placeholder="Ethnicity"
                                                name="Ethnicity" ng-model="product.targetedaudience">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8" style="opacity:0.5;">
                                        Note: You can change price / details any time you want.<br>
                                        * Select only booked dates remaining dates consider as available
                                    </div>
                                    <div class="col-sm-4">
                                        <md-button type="submit" Class="md-raised md-primary register_btn"
                                            ng-click="requestAddProduct(product)"
                                            ng-disabled="hordinglistform.$invalid">
                                            Submit</md-button>

                                        <!-- <md-button class="md-raised md-primary all_button text-white pull-right" ng-click="requestAddProduct(product)" ng-disabled="hordinglistform.$invalid"
                                               >Submit</md-button> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </form>
                </div>
            </div>
            <!-- Add New Product End -->
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="text_color">
                    <tr>
                        <th>Product Details</th>
                        <th class="hide-xs"></th>
                        <th class="">Size</th>
                        <th class="">Views</th>
                        <th class="">Lit</th>
                        <th class="">Price</th>
                        <th class="text-center">Calender</th>
                        <th class=""></th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in requestedProductList">
                        <td class="image_tdwidth hide-xs">
                            <img ng-src="{{config.serverUrl + product.image[0]}}" alt="Smiley face"
                                class="requ_size img-thumbnail">
                        </td>
                        <td class="table_address">
                            <p><b>{{product.siteNo}} -
                                    {{product.area_name}}</b><br>{{product.address | capitalize}}<br>Facing :
                                {{product.direction|| "N/A" | capitalize}}
                                <br>Type : {{product.format_name|| "N/A" | capitalize}}
                            </p>
                        </td>
                        <td class="table_vertical">{{product.panelSize}}</td>
                        <td class="table_vertical">{{product.impressionsperweek}}</td>
                        <td class="table_vertical" ng-if="product.lighting == 1">Yes</td>
                        <td class="table_vertical" ng-if="product.lighting == 0">No</td>
                        <td class="table_vertical" ng-if="product.lighting != 0 && product.lighting != 1">
                            {{product.lighting}}</td>

                        <td class="table_vertical">{{product.default_price}}</td>
                        <td class="text-center table_vertical">
                            <input date-range-picker ng-model="product.dates"
                                class="form-control md-whiteframe-3dp date-picker" placeholder="Product date"
                                type="text" name="date" readonly options="rqstHrdngsOpts" id="booking_dates_picker"
                                style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
                            <a ng-click="getProductUnavailableDates(product.id,$event);">
                                <i class="material-icons">
                                    calendar_today
                                </i>
                            </a>
                        </td>
                        <td class="table_vertical"></td>
                        <td class="text-right table_vertical">
                            <a ng-href="#/owner/{{clientSlug}}/editproduct-details/{{product.id}}"><button type="button"
                                    class="btn edit_details">Edit
                                    Details</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function addnewProduct() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>