 <!-- <div layout="column"  layout-margin="layout-margin" layout-fill="layout-fill">
    
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="member in teammembers" >
            <div class="inner-content">
                <div layout="column" layout-align="center center">
                    <img src="assets/images/{{member.image}}.png" alt="team" class="temimg">
                </div>

                <div layout="column" layout-align="center center" layout-margin="layout-margin">
                    <div class="md-title">{{member.name}}</div>
                    <div class="md-body-1">Designation:{{member.designation}}</div>
                    <div class="md-body-1">Mobile:{{member.phone}}</div>
                    <div class="md-body-1">Email:{{member.email}}</div>
                </div>
                <div layout="column"   layout-align="center center">
                    
                    <md-button aria-label="Facebook" class="md-button md-raised" ng-click="ownerTeamprofile($event)">
                        Task
                    </md-button>
                </div>
            </div>
            
        </div>
    </div>

     <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right popup-btn" >
        <md-fab-trigger>
            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini md-warn">
                <md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)">
                <md-icon aria-label="Facebook"><i class="material-icons">edit</i></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="ownerProfilesetting($event)">
                <md-icon aria-label="Facebook"><i class="material-icons">settings</i></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="openAddteam($event)">
                
                <md-icon aria-label="Facebook"><i class="material-icons">add</i></md-icon>
            </md-button>

        </md-fab-actions>
    </md-fab-speed-dial> 
	
</div> 


 -->
