 <div layout="column"  layout-margin="layout-margin" layout-fill="layout-fill">
    <!-- <md-divider></md-divider> -->
    <div class="row margin_left_0 margin_right_0">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="member in teammembers" >
            <div class="inner-content contbg">
                <div layout="column" layout-align="center center" layout-padding>
                    <img src="assets/images/{{member.image}}.png" alt="team" class="temimg">
                </div>
                <md-divider></md-divider>
                <div layout="column" laout-padding layout-margin="layout-margin">
                    <!-- <h3 class="md-title">{{member.name}}</h3>
                    <h3 class="md-body-2">Designation:{{member.designation}}</h3>
                    <h3 class="md-body-2">Mobile:{{member.phone}}</h3>
                    <h3 class="md-body-2">Email:{{member.email}}</h3> -->
                    <table>
                        <tbody>
                            <tr class="md-title">
                                <td>Name:</td>
                                <td>{{member.name}}</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Designation:</td>
                                <td>{{member.designation}}</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Mobile:</td>
                                <td>{{member.phone}}</td>
                            </tr>
                            <tr class="md-body-2">
                                <td>Email:</td>
                                <td>{{member.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div layout="column"   layout-align="center center">
                    <md-button aria-label="Facebook" class="md-button md-raised" ng-click="ownerTeamprofile($event)">
                        Task
                    </md-button>
                </div> -->
            </div>
            
        </div>
    </div>

     <!-- <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right popup-btn" >
        <md-fab-trigger>
            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini md-warn">
                <md-icon aria-label="Google Hangout"><i class="material-icons">favorite</i></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="showContact($event)">
                <md-icon aria-label="Facebook"><i class="material-icons">edit</i></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="ownerProfilesetting($event)">
                <md-icon aria-label="Facebook"><i class="material-icons">settings</i></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="openAddteam($event)">
                
                <md-icon aria-label="Facebook"><i class="material-icons">add</i></md-icon>
            </md-button>

        </md-fab-actions>
    </md-fab-speed-dial>  -->
	
</div> 



