<!-- //////////// show image start \\\\\\\\\\\\\\\\\\\\ -->
<md-dialog flex="50"  flex-lg="60" flex-md="65" flex-xs="100" flex-sm="70"  style="border-radius: 0;" ng-class="{'layout-fill':mdMedia('xs')  }">
	 <md-toolbar layout="row">
		<div  class="md-toolbar-tools md-whiteframe-4dp"  style="background:#414143 !important">
			<h3>Product Image</h3n>
			<span flex ></span>
			<button class="md-icon-button md-button show-gt-xs md-ink-ripple hide-xs" type="button"  ng-click="closeMdDialog()" hide-xs="hide-xs" show-gt-xs="show-gt-xs">X<div class="md-ripple-container"></div></button>
		</div>
	</md-toolbar> 
	<md-dialog-content>
		
		<div layout="column">
            <div>
                <img ng-src="assets/images/product/Image 11.png" alt="image" style="width: 100%;">
            </div>
		</div>
		
	</md-dialog-content>
</md-dialog>

<!-- //////////// share shortlist end \\\\\\\\\\\\\\\\\\\\ -->
