<md-dialog flex-xs="100" flex="35" flex-md="40" flex-sm="60">
	<md-dialog-content>
		<md-content class="md-padding contbg">
			<div layout="row" layout-margin >
				<h4>Edit Client Details</h4>
				<div flex></div>
				<md-button class="md-icon-button md-button" ng-click="closeMdDialog()" type="button">
					<i class="material-icons">close</i>
					<div class="md-ripple-container"></div>
				</md-button>
			</div>
			<form name="addClientForm" novalidate="novalidate">
				<div layout="column" layout-xs="column" layout-padding flex="100">
					<div class="form-group">
						<label>Client Name</label>
						<input ng-model="client.name" class="form-control" type="text" name="name" minlength="5" maxlength="60" required="required" />
						<div ng-messages="addClientForm.name.$error">
							<div ng-message="required">Company Name is required.</div>
							<div ng-message="minlength">Company Name must have 2 characters.</div>
							<div ng-message="maxlength">Company Name shouldn't exceed 30 characters.</div>
						</div>
					</div>
					<div class="form-group">
						<label>Client Type</label>
						<select ng-model="client.type"  class="select-value form-control" required="required" name="clientType">
							<option ng-repeat="type in clientTypes" ng-value="type.id">{{type.type}}</option>
						</select>
						<div ng-messages="addClientForm.clientType.$error">
							<div ng-message="required">Company Type is required.</div>
							<!-- <div ng-message="minlength">Company Type must have 2 characters.</div>
							<div ng-message="maxlength">Company Type shouldn't exceed 30 characters.</div> -->
						</div>
					</div>
					<div class="form-group">
						<label>Contact Name</label>
						<input ng-model="client.contact_name" class="form-control" type="text" name="contactName" minlength="3" maxlength="60" required="required"/>
						<div ng-messages="addClientForm.contactName.$error">
							<div ng-message="required">Owner Name is required.</div>
							<div ng-message="minlength">Owner Name must have 3 characters.</div>
							<div ng-message="maxlength">Owner Name shouldn't exceed 30 characters. </div>
							<div ng-message="pattern">Owner Name should contain only Alpha Numeric and _ - . symbols.</div>
						</div>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input ng-model="client.phone" class="form-control" type="text" name="phone" minlength="10" maxlength="10" ng-pattern="/^[0-9]{10}$/" required="required" />
						<div ng-messages="addClientForm.phone.$error">
							<div ng-message="required">Phone No is required.</div>
							<div ng-message="minlength">Phone No must have 10 characters.</div>
							<div ng-message="maxlength">Phone No shouldn't exceed 10 characters.</div>
							<div ng-message="pattern">Phone No should be only numbe.</div>
						</div>
					</div>
					<div class="form-group">
						<label>Contact Email</label>
						<input ng-model="client.contact_email" class="form-control" name="email" type="email" maxlength="60" required="required" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+$/" />
						<div ng-messages="addClientForm.email.$error">
							<div ng-message="required">Email is required.</div>
							<!-- <div ng-message="minlength">Email must have 10 characters.</div> -->
							<div ng-message="maxlength">Email shouldn't exceed 30 characters. </div>
							<div ng-message="pattern">Enter a valid EmailId.</div>
						</div>
					</div>

					<div class="form-group">
						<label> Address </label>
						<input ng-model="client.address" class="form-control" type="text" name="address" />
						<div ng-messages="addClientForm.address.$error">
							<div ng-message="required">No. of hordings is required.</div>
						</div>
					</div>
					<div class="registeredEmailErrors" ng-if ="addHordingErrors">
							<ul>
								<li ng-repeat="error in addHordingErrors">
									{{error}}
								</li>
							</ul>
						</div>
				</div>
				<div layout="row" layout-align="center center">
					<md-button type="submit" Class="md-raised all_button" ng-click="addClient(client)" ng-disabled="addClientForm.$invalid">Submit</md-button>
					<md-button Class="md-raised Upload_font" ng-click="closeMdDialog()">Cancel</md-button>
				</div>
			</form>
		</md-content>
	</md-dialog-content>
</md-dialog>