<md-dialog flex-xs="100" flex="60" flex-md="70" flex-sm="60">
	<md-dialog-content>
		<md-content class="">
			<!-- <div layout="column" layout-align="center center">
				<img ng-src="assets/images/billboard_popup.png">
			</div> -->
			<!-- <div layout="column" layout-align="center center">
				 <div class="md-title">
					<h3>Enter Product Details</h3>
				</div> 
			</div> -->
			<div layout="row" layout-margin>
				<h4>Enter Product Details</h4>
				<div flex></div>
				<button class="md-icon-button md-button show-gt-xs md-ink-ripple hide-xs" style="position: absolute;right: 0em;" type="button"  ng-click="cancel()" hide-xs="hide-xs" show-gt-xs="show-gt-xs">X</button>
			</div>
			<div layout="column" layout-align="center center">
				<!-- <ul>
					<li ng-repeat="(key, errors) in addProductForm.$error track by $index"> <strong>{{ key }}</strong> errors
						<ul>
							<li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
						</ul>
					</li>
				</ul> -->
			</div>
			   <!-- <form name="addProductForm" novalidate="novalidate">
				<input type="hidden" ng-model="list.id" />
				<div layout="row" layout-xs="column" layout-padding>
					<div layout="column" flex="50">
						<md-input-container class="md-block margin-input">
							<label>Site No</label>
							<input ng-model="product.siteNo" type="text" name="siteNo" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/"
							/>
							<div ng-messages="addProductForm.siteNo.$error">
								<div ng-message="required">Site number is required.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block margin-input">
							<label>Site Type</label>
							<md-select ng-model="product.type" class="select-value"	data-md-container-class="selectdemoSelectHeader" required="required" name="productType">
								<md-option ng-repeat="format in formatList" ng-value="format.id">{{format.name}}</md-option>
							</md-select>
							<div ng-messages="addProductForm.productType.$error">
								<div ng-message="required">Product type is required.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block margin-input">
							<label>Hoarding Cost</label>
							<input ng-model="product.hoardingcost" type="text" name="hoardingcost" />
						</md-input-container>
						<md-input-container class="md-block margin-input">
							<label>Hoarding Company Name</label>
							<md-select ng-model="product.company" class="select-value">
								<md-option ng-repeat="hoardingCompany in hoardingCompaniesList" ng-value="hoardingCompany.id">{{hoardingCompany.name}}</md-option>
							</md-select>
						</md-input-container>
						<div layout="row">
							<div flex="50" class="armrgn">
								<md-input-container>
									<label>Select Country </label>
									<md-select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="list.country" ng-change="getStateList()">
										<md-select-header class="demo-select-header">
											<input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
										</md-select-header>
										<md-option ng-repeat="country in countryList | filter:searchTerm" value="{{country.id}}">{{country.name}}</md-option>
									</md-select required>
								</md-input-container>
							</div>
							<div flex="50" class="armrgn">
								<md-input-container>
									<label> Select State</label>
									<md-select ng-model="product.state" class="select-value" ng-disabled="!list.country" md-on-close="clearSearchTerm()"
									 data-md-container-class="selectdemoSelectHeader" ng-change="getCityList()">
										<md-select-header class="demo-select-header">
											<input ng-model="searchTerm" type="search" placeholder="Search for a state.." class="demo-header-searchbox md-text">
										</md-select-header>
										<md-optgroup label="states">
											<md-option ng-value="state.id" ng-repeat="state in stateList | filter:searchTerm">{{state.name}}</md-option>
										</md-optgroup>
									</md-select>
								</md-input-container>
							</div>
						</div>
						<textarea placeholder="Address" ng-model="product.address"></textarea>
						<div layout="row">
							<div flex="50" class="armrgn">
									<md-input-container>
										<label> Select City</label>
										<md-select ng-model="product.city" class="select-value" ng-disabled="!list.state" md-on-close="clearSearchTerm()"
											data-md-container-class="selectdemoSelectHeader" ng-change="getAreaList()">
											<md-select-header class="demo-select-header">
												<input ng-model="searchTerm" type="search" placeholder="Search for a city.." class="demo-header-searchbox md-text">
											</md-select-header>
											<md-optgroup label="cities">
												<md-option ng-value="city.id" ng-repeat="city in cityList | filter:searchTerm">{{city.name}}</md-option>
											</md-optgroup>
										</md-select>
									</md-input-container>
									<md-input-container>
										<label> Select Area</label>
										<md-select ng-model="product.area" class="select-value" ng-disabled="!list.city" md-on-close="clearSearchTerm()"
											data-md-container-class="selectdemoSelectHeader">
											<md-select-header class="demo-select-header">
												<input ng-model="searchTerm" type="search" placeholder="Search for a area.." class="demo-header-searchbox md-text">
											</md-select-header>
											<md-optgroup label="areas">
												<md-option ng-value="area.id" ng-repeat="area in areaList | filter:searchTerm">{{area.name}}</md-option>
											</md-optgroup>
										</md-select>
									</md-input-container>
							</div>
						</div>
					</div>
					<div layout="column" flex="50">
						<md-input-container class="md-block margin-input">
							<label>No. of Views</label>
							<input ng-model="product.impressions" type="text" name="impressions" required="required" />
							<div ng-messages="addProductForm.impressions.$error">
								<div ng-message="required">Impression is required.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block margin-input">
							<label>Panel Size</label>
							<input ng-model="product.panelSize" type="text" name="panelSize" required="required" />
							<div ng-messages="addProductForm.panelSize.$error">
								<div ng-message="required">Panel Size is required.</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>Lighting</label>
							<md-select ng-model="product.lighting" class="select-value" md-on-close="clearSearchTerm()"
								data-md-container-class="selectdemoSelectHeader">
								<md-option ng-value="1">Yes</md-option>
								<md-option ng-value="0">No</md-option>
							</md-select>
						</md-input-container>
						<md-input-container class="md-block margin-input">
							<label>Direction</label>
							<input ng-model="product.direction" type="text" name="direction" required="required" />
							<div ng-messages="addProductForm.direction.$error">
								<div ng-message="required">Direction is required.</div>
							</div>
						</md-input-container>
						<div layout="row">
							<div flex="50">
								<md-input-container class="md-block margin-input">
									<label>Latitude</label>
									<input ng-model="product.lat" type="text" name="lat" required="required" />
									<div ng-messages="addProductForm.lat.$error">
										<div ng-message="required">Latitude is required.</div>
									</div>
								</md-input-container>
							</div>
							<div flex="50">
								<md-input-container class="md-block margin-input">
									<label>Longitude</label>
									<input ng-model="product.lng" type="text" name="lng" required="required" />
									<div ng-messages="addProductForm.lng.$error">
										<div ng-message="required">Longitude is required.</div>
									</div>
								</md-input-container>
							</div>
						</div>
						<div layout="row">
							<div flex="50"> <label for="dob">Direction Image</label></div>
							<div>
								<input type="file" ngf-select ng-model="files.symbol" name="files.symbol" accept="image/*" ngf-max-size="100KB" ng-required="!product.id"></input>
								<br /><br />
							</div>
						</div>
						<md-input-container class="md-block ">
							<label>Advertising Strengths</label>
							<input ng-model="product.adStrength" type="text" name="adStrength" required="required" />
							<div ng-messages="addProductForm.adStrength.$error">
								<div ng-message="required">Area Name is required.</div>
							</div>
						</md-input-container>
						<div layout="row">
							<div flex="50"> 
								<label for="files.image">Image</label>
							</div>
							<div>
								<input type="file" ngf-select ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="300KB" ng-required="!product.id"></input>
								<br /><br />
							</div>
						</div>
					</div>
				</div>
				<div layout="row" layout-align="center center">
				<ul>
					<li ng-repeat="(key, errors) in addProductForm.$error track by $index">
						<strong>{{ key }}</strong> errors
						<ul>
							<li style="color:#f00;" ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
						</ul>
					</li>
				</ul>
			</div>
				<div layout="row" layout-align="center center">
					<md-button type="submit" Class="md-raised md-primary" ng-click="addProduct()"  ng-disabled="addProductForm.$invalid">SUBMIT</md-button>
					<md-button Class="md-raised" ng-click="cancel()">CANCEL</md-button>
				</div>
			</form>    -->

			<!--new form add product start -->
			<div table-responsive>
				<table class="table table-striped table-bordered addproduct-table">
					<tbody flex="100">
						<tr >
							<td flex="33">
								<input ng-model="product.siteNo" type="text" name="siteNo" placeholder="Site No" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/"
								/>
							</td>
							<td flex="33">
								
								<select  id="productType" ng-options ="format.name for format in formatList  track by format.id"  ng-model="product.type" class="select-value" data-md-container-class="selectdemoSelectHeader" required="required" name="productType">
									<option value="" disabled selected>Site Type</option>
									<!-- <option ng-value="format.id">{{format.name}}</option> -->
								</select>
								 <!-- <select name="mySelect" id="mySelect"
								ng-options="option.name for option in refData track by option.id"
								ng-model="selectedOption">
								<option value="" disabled selected>view current values</option>
								</select> -->
							</td>
							<td flex="33">
								<input ng-model="product.hoardingcost" placeholder="Hoarding Cost" type="text" name="hoardingcost" />
							</td>
							
						</tr>
						<tr >
							<td flex="33">
								<select ng-model="product.company" class="select-value" ng-options ="hoardingCompany.name for hoardingCompany in hoardingCompaniesList  track by hoardingCompany.id" >
									<!-- <option ng-repeat="hoardingCompany in hoardingCompaniesList"  ng-value="hoardingCompany.id">{{hoardingCompany.name}}</option> -->
									<option value="" disabled selected>Company Name</option>
								</select>
							</td>
							<td flex="33">
								<select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="product.country" ng-change="getStateList(product)" ng-options ="country.name for  country in  countryList   track by country.id | filter:product.country">
									<!-- <option ng-repeat="country in countryList | filter:searchTerm" value="{{country.id}}">{{country.name}}</option> -->
									<option value="" disabled selected>Country</option>
									<!-- <option value="{{}}" >Country</option> -->
								</select required>
							</td>
							<td flex="33">
								<select ng-model="product.state" class="select-value" ng-disabled="!product.country" md-on-close="clearSearchTerm()"
										data-md-container-class="selectdemoSelectHeader" ng-change="getCityList()" ng-options ="state.name for state in stateList  track by state.id | filter:product.state">
									 <!-- <option ng-value="state.id" ng-repeat="state in stateList | filter:searchTerm">{{state.name}}</option>  -->
									<option value="" disabled selected>view 	 values</option>
								</select required>
							</td>
							
						</tr>
						<tr>
							<td flex="33">
								<select ng-model="product.city" class="select-value" ng-disabled="!product.state" md-on-close="clearSearchTerm()"
												data-md-container-class="selectdemoSelectHeader" ng-change="getAreaList()" ng-options ="city.name for city in cityList  track by city.id">
									<!-- <option ng-value="city.id"  ng-repeat="city in cityList | filter:searchTerm">{{city.name}}</option> -->
									<option value="" disabled selected>view current values</option>
								</select>
							</td>
							<td flex="33">
								<select ng-model="product.area" class="select-value" ng-disabled="!product.city" md-on-close="clearSearchTerm()"
										data-md-container-class="selectdemoSelectHeader" ng-options ="area.name for area in areaList  track by area.id">
									<!-- <option ng-value="area.id" ng-repeat="area in areaList | filter:searchTerm">{{area.name}}</option> -->
									<option value="" disabled selected>view current values</option>
								</select>
							</td>
							<td>
								<textarea  class="table-address" placeholder="Address" rows="3" ng-model="product.address"></textarea>
							</td>
						</tr>
						<tr>
							<td flex="33">
								<input ng-model="product.impressions" placeholder="impressions" type="text" name="impressions" required="required" />
							</td>
							<td flex="33">
								<input ng-model="product.panelSize"  placeholder="Panel Size" type="text" name="panelSize" required="required" />
							</td>
							<td flex="33">
								<select ng-model="product.lighting" class="select-value" md-on-close="clearSearchTerm()"
								data-md-container-class="selectdemoSelectHeader">
									<option ng-value="1">Yes</option>
									<option ng-value="0">No</option>
								</select>
							</td>
						</tr>
						<tr>
							<td flex="33">
								<input ng-model="product.direction" placeholder="Direction" type="text" name="direction" required="required" />
							</td>
							<td flex="33">
								<input ng-model="product.lat" placeholder="Latitude" type="text" name="lat" required="required" />
							</td>
							<td flex="33">
								<input ng-model="product.lng" placeholder="Longitude" type="text" name="lng" required="required" />
							</td>
						</tr>
						<tr>
							<td flex="33">
								<div > <label for="dob">Direction Image</label></div>
						
								<input type="file" ngf-select ng-model="files.symbol" name="files.symbol" accept="image/*" ngf-max-size="2MB" ng-required="!product.id"></input>
							
							
							</td>
							<td flex="33">
								
								<label for="files.image">Image</label>
								<input type="file" ngf-select ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="10MB" ng-required="!product.id"></input>

							</td>
							<td flex="33">
								<textarea ng-model="product.adStrength"  placeholder="Advertising Strengths" type="text" name="adStrength" required="required" ></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div> 
			<div layout="row" layout-align="center center">
					<md-button type="submit" Class="md-raised md-primary" ng-click="addProduct()"  ng-disabled="addProductForm.$invalid">SUBMIT</md-button>
					<md-button Class="md-raised" ng-click="cancel()">CANCEL</md-button>
			</div>
			<!--new form add product end -->
		</md-content>
	</md-dialog-content>
</md-dialog>