<style>
       .daterangepicker {
        /* position: absolute; */
        color: inherit;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 340px !important;
        max-width: none;
        padding: 0;
        margin-top: 7px;
        top: 0px;
        left: 0px;
        right: 29% !important;
        z-index: 1111;
        display: none;
        font-family: arial;
        font-size: 15px;
        line-height: 1em;
    }
    @media screen and (min-width:768px) and (max-width:  991px){
        .daterangepicker {
        right: 14% !important;
        }
        .daterangepicker.opensright:before {
            left: 316px;
        }
        .daterangepicker.opensright:after {
            left: 317px;
        }
    }
    @media screen and (min-width:320px) and (max-width: 563px){
        .daterangepicker {
        /* position: absolute; */
        color: inherit;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 280px !important;
        max-width: none;
        padding: 0;
        margin-top: 7px;
        top: 0px;
        left: 10px;
        right: 8% !important;
        z-index: 1;
        display: none;
        font-family: arial;
        font-size: 15px;
        line-height: 1em;
    }
    .daterangepicker.opensright:before {
        left: 240px;
    }
    .daterangepicker.opensright:after {
        left: 241px;
    }
    }
    .radio-inline {
                float: left;
                clear: none;
                display: block;
                padding: 2px 1em 0 0;
        }
    
    </style>
<md-dialog flex-xs="100" flex="50" flex-md="70" flex-sm="60">
    <md-dialog-content>
        <md-content class="add_productbgcol">
            <div layout="row" layout-margin>
                <h4>Edit Product Details</h4>
                <div flex></div>
                <md-button class="md-icon-button md-button" type="button" ng-click="closeMdDialog()">
                    <i class="material-icons">close</i>
                    <div class="md-ripple-container"></div>
                </md-button>
            </div>
            <div layout="column" layout-align="center center">
            </div>
            <!-- <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Product ID*</label>
                                <input type="text" class="form-control md-whiteframe-3dp" name="siteNo"
                                    ng-model="product.siteNo" required="required"
                                    ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/">
                                <div ng-messages="hordinglistform.siteNo.$error"
                                    ng-if="hordinglistform.siteNo.$touched" style="color:red">
                                    <div ng-message="required">Product Id is required.</div>
                                    <div ng-message="pattern">Product id should contain only Alpha Numeric and _
                                        - .
                                        symbols.</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Product Type*</label>
                                <select id="productType"
                                ng-options="format.id as format.name for format in formatList"
                                    ng-model="product.type" class="form-control md-whiteframe-3dp"
                                    data-md-container-class="selectdemoSelectHeader" required="required"
                                    name="productType">
                                    <option value="" disabled selected></option>
                                </select>

                                <div ng-messages="hordinglistform.productType.$error"
                                    ng-if="hordinglistform.productType.$touched" style="color:red">
                                    <div ng-message="required">Site type is required.</div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Search DMA</label>
                                <md-autocomplete md-min-length="3" md-selected-item="areaObj"
                                    md-selected-item-change="selectSearchedArea(item)"
                                    md-search-text="searchedArea"
                                    md-items="item in searchAreas(searchedArea)" md-item-text="item.name"
                                    placeholder="Search DMA" md-clear-button="true"
                                    style="min-width: 100% !important"
                                    md-menu-class="form-control md-whiteframe-3dp">
                                    <md-item-template>
                                        <span class="item-title">
                                            <span> {{item.name}} </span>
                                        </span>
                                        <span class="item-metadata">
                                            <span>
                                                <strong>{{item.city_name}}</strong>
                                            </span>
                                            <span>
                                                <strong>{{item.state_name}}</strong>
                                            </span>
                                            <span>
                                                <strong>{{item.country_name}}</strong>
                                            </span>
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No matches found.
                                    </md-not-found>
                                </md-autocomplete>                                
                            </div>
                            <div class="col-sm-2">
                                <label>Lit </label>
                                <select ng-model="product.lighting" required="required" name="light"
                                    class="form-control md-whiteframe-3dp" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader"
                                    ng-init="product.lighting = product.lighting || ''"
                                    placeholder="Has lighting?*">
                                    <option value="" disabled selected>Light*</option>                                    
                                    <option>Front</option>
                                    <option>Rear</option>
                                    <option>No</option>
                                </select>

                                <div ng-messages="hordinglistform.light.$error"
                                    ng-if="hordinglistform.light.$touched" style="color:red">
                                    <div ng-message="required">light*.</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Height(Ft)</label>
                                <input type="text" class="form-control md-whiteframe-3dp" only-numeric
                                    name="height" ng-model="product.panelSize.split('*')[0]""  required="required">
                                <div ng-messages="hordinglistform.height.$error"
                                    ng-if="hordinglistform.height.$touched" style="color:red">
                                    <div ng-message="required">height*.</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Width(Ft)</label>
                                <input type="text" class="form-control md-whiteframe-3dp" only-numeric
                                    name="width" ng-model="product.panelSize.split('*')[1]"" placeholder="Width*"
                                    required="required">
                                <div ng-messages="hordinglistform.width.$error"
                                    ng-if="hordinglistform.width.$touched" style="color:red">
                                    <div ng-message="required">width*.</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Latitude*</label>
                                <input type="text" class="form-control md-whiteframe-3dp" name="lat" only-numeric
                                    ng-model="product.lat" required="required">
                                <div ng-messages="hordinglistform.lat.$error"
                                    ng-if="hordinglistform.lat.$touched" style="color:red">
                                    <div ng-message="required">Latitude is required.</div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <label>Longitude*</label>
                                <input type="text" class="form-control md-whiteframe-3dp" name="lat" only-numeric
                                    ng-model="product.lng" required="required">
                                <div ng-messages="hordinglistform.long.$error"
                                    ng-if="hordinglistform.long.$touched" style="color:red">
                                    <div ng-message="required">Longitude is required.</div>
                                </div>

                            </div>


                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Product Cost per month*</label>
                                <input class="form-control md-whiteframe-3dp" ng-model="product.default_price"
                                    name="default_price" type="text" only-numeric required="required">
                                <div ng-messages="hordinglistform.default_price.$error"
                                    ng-if="hordinglistform.default_price.$touched" style="color:red">
                                    <div ng-message="required">Cost is required.</div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <label>Nearest Land Mark*</label>

                                <input ng-model="product.nearlandmark" class="form-control md-whiteframe-3dp"
                                    required="required" type="text" name="nearlandmark" required="required" />
                                <div ng-messages="hordinglistform.nearlandmark.$error"
                                    ng-if="hordinglistform.nearlandmark.$touched" style="color:red">
                                    <div ng-message="required">Nearest LandMark is required.</div>
                                </div>

                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Facing*</label>
                                <input ng-model="product.direction" class="form-control md-whiteframe-3dp"
                                    required="required" type="text" name="cost" required="required" />
                                <div ng-messages="hordinglistform.cost.$error"
                                    ng-if="hordinglistform.cost.$touched" style="color:red">
                                    <div ng-message="required">Facing is required.</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Select Product Date</label>
                                <div class="input-group1">

                                    <input date-range-picker ng-model="product.dates"
                                        class="form-control md-whiteframe-3dp date-picker"
                                        placeholder="Product date" type="text" name="date" readonly
                                        options="rqstHrdngsOpts" id="booking_dates_picker" />
                                    <a class="input-group-addon md-whiteframe-3dp"
                                        ng-click="getProductUnavailableDates(product.id,$event);"
                                        style="padding: 4px 16px;">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">

                            <div class="col-sm-6 ">
                                <label>Product Images</label>
   
                                <div class="input-group" style="width: 100%;">                                   
                                    <input type="file" class="form-control md-whiteframe-3dp"
                                        required="required" ngf-select ng-model="files.image" name="imageFile"
                                        accept="image/*" ngf-max-size="20MB" placeholder="Upload Product Image*"
                                        multiple>
                                    <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-picture-o"
                                            aria-hidden="true"></i></span>                                   
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <label>Upload Product Video if Any</label>
                                <div class="input-group">
                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder=""
                                        name="videoUrl" ng-model="product.videoUrl">
                                    <span class="input-group-addon md-whiteframe-3dp"><i
                                            class="fa fa-caret-square-o-up" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6 ">
                                    <label>Direction</label>
                                    <div class="input-group" style="width: 100%;">                                   
                                        <input type="file" class="form-control md-whiteframe-3dp"
                                            required="required" ngf-select ng-model="files.symbol" name="imageFile"
                                            accept="image/*" ngf-max-size="20MB" placeholder="Upload Product Image*">
                                            <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-picture-o"
                                                aria-hidden="true"></i></span>                                      
                                    </div>
                                </div>
                                        <div class="col-sm-6 ">
                                                <p style="font-size: 12px;letter-spacing: .02em;">
                                                        Cancelation:</p>
                                                <form>
                                                        <label class="radio-inline">
                                                                <input type="radio"
                                                                        ng-model="product.cancelation"
                                                                        value="Yes">&nbsp;Yes
                                                        </label>
                                                        <label class="radio-inline">
                                                                <input type="radio"
                                                                        ng-model="product.cancelation"
                                                                        value="No" checked>&nbsp;No
                                                        </label>
                                                </form>
                                        </div>
                            </div>
                        <h3 class="md-body-2"><span class="md-title">Product Strengths</span></h3>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Average Impressions Per Week*</label>
                                <div class="input-group">

                                    <input class="form-control md-whiteframe-3dp" type="text"
                                        name="impressions" ng-model="product.impressions"
                                        only-numeric>
                                    <div ng-messages="hordinglistform.impressions.$error"
                                        ng-if="hordinglistform.impressions.$touched" style="color:red">
                                        <div ng-message="required">impression.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Read Direction</label>
                                <select name="Visibility" class="form-control md-whiteframe-3dp" id="Visibility"
                                    required="required" ng-model="product.visibility">
                                    <option value="" disabled selected>Read Direction</option>
                                    <option>Right-Hand Read</option>
                                    <option>Left-Hand Read</option>
                                    <option>Other</option>
                                </select required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label>Demographics</label>
                                <div class="input-group">
                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Age"
                                        name="Age" ng-model="product.audience" only-numeric>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Eyes on Impression</label>
                                <div class="input-group">
                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Eyes on Impression"
                                        name="Eyes on Impression" ng-model="product.eyeimpression" only-numeric>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Demographics</label>
                                <div class="input-group">

                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Ethnicity"
                                        name="Ethnicity" ng-model="product.targetedaudience">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8" style="opacity:0.5;">
                                Note: You can change price / details any time you want.<br>
                                * Select only booked dates remaining dates consider as available
                            </div>
                            <div class="col-sm-4">
                                <md-button type="submit" Class="md-raised md-primary register_btn"
                                ng-click="addProduct(product)" ng-disabled="addProductForm.$invalid">
                                    Submit</md-button>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Product Type</label>
                                        <!-- <select id="productType"
                                                ng-options="productType.name for productType in ProductTypes"
                                                ng-model="product.type" name="type"
                                                ng-change="getdetails()"
                                                class="form-control md-whiteframe-3dp" required>
                                                <option value="{{productType[0].name}}">                                                     
                                                        {{productType.name}}</option>
                                        </select> -->
                                        <input type="text" class="form-control md-whiteframe-3dp" name="title" disabled
                                        ng-model="product.type">
                                </div>
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Product Title</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="title" ng-model="product.title" required>
                                        <span ng-messages="hordinglistform.title.$error"
                                                ng-if="hordinglistform.title.$touched"
                                                style="color:red">
                                                <span ng-message="required">Title
                                                        required</span>
                                        </span>
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Search DMA</label>
                                        <!-- <md-autocomplete md-min-length="3"
                                                md-selected-item="areaObj"
                                                md-selected-item-change="selectSearchedArea(item)"
                                                md-search-text="searchedArea"
                                                md-items="item in searchableAreas(searchedArea)"
                                                md-item-text="item.name"
                                                placeholder="Search DMA" md-clear-button="true"
                                                style="min-width: 100% !important" name="Area"
                                                md-menu-class="form-control md-whiteframe-3dp"
                                                required>
                                                <md-item-template>
                                                        <span class="item-title">
                                                                <span> {{item.name}} </span>
                                                        </span>
                                                        <span class="item-metadata">
                                                                <span>
                                                                        <strong>{{item.city_name}}</strong>
                                                                </span>
                                                                <span>
                                                                        <strong>{{item.state_name}}</strong>
                                                                </span>
                                                                <span>
                                                                        <strong>{{item.country_name}}</strong>
                                                                </span>
                                                        </span>
                                                </md-item-template>
                                                <md-not-found>
                                                        No matches found.
                                                </md-not-found>
                                                <span style="color:red"
                                                        ng-show="hordinglistform.searchedArea.$dirty && hordinglistform.searchedArea.$invalid">
                                                        <span
                                                                ng-show="hordinglistform.searchedArea.$error.required">Product
                                                                Area is
                                                                required.</span>
                                                </span>
                                        </md-autocomplete> -->
                                        <input type="text" class="form-control md-whiteframe-3dp" name="title" disabled
                                        ng-model="product.area_name">
                                </div>                                
                                <div class="col-sm-2">
                                        <label class="font-weight-bold">Height(Ft)</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="height" only-numeric
                                                ng-model="product.panelSize.split('*')[1]" required>
                                        <div ng-messages="hordinglistform.height.$error"
                                                ng-if="hordinglistform.height.$touched"
                                                style="color:red">
                                                <div ng-message="required">Height required</div>
                                        </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="font-weight-bold">Width(Ft)</label>
                                    <input type="text"
                                            class="form-control md-whiteframe-3dp"
                                            name="width" ng-model="product.panelSize.split('*')[0]"
                                            only-numeric required>
                                    <div ng-messages="hordinglistform.width.$error"
                                            ng-if="hordinglistform.width.$touched"
                                            style="color:red">
                                            <div ng-message="required">Width required</div>
                                    </div>
                            </div>
                                <div class="col-sm-2" ng-show='bulletinresult'>
                                        <label class="font-weight-bold">Lit </label>
                                        <select ng-model="product.lighting" name="light"
                                                class="form-control md-whiteframe-3dp"
                                                md-on-close="clearSearchTerm()"
                                                data-md-container-class="selectdemoSelectHeader"
                                                ng-init="product.lighting = product.lighting || ''"
                                                placeholder="Has lighting?" required>
                                                <option value="" disabled selected>Light
                                                </option>
                                                <option>Yes</option>
                                                <option>No</option>
                                        </select>
                                        <div ng-messages="hordinglistform.light.$error"
                                                ng-if="hordinglistform.light.$touched"
                                                style="color:red">
                                                <div ng-message="required">Light required</div>
                                        </div>
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Street Address 1</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="addressone" ng-model="product.addressone"
                                                required>
                                        <div ng-messages="hordinglistform.addressone.$error"
                                                ng-if="hordinglistform.addressone.$touched"
                                                style="color:red">
                                                <div ng-message="required">Address required
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Street Address 2</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="addresstwo" ng-model="product.addresstwo"
                                                required>
                                        <div ng-messages="hordinglistform.addresstwo.$error"
                                                ng-if="hordinglistform.addresstwo.$touched"
                                                style="color:red">
                                                <div ng-message="required">Address required
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Zipcode</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="zipcode" ng-model="product.zipcode"
                                                required>
                                        <div ng-messages="hordinglistform.zipcode.$error"
                                                ng-if="hordinglistform.zipcode.$touched"
                                                style="color:red">
                                                <div ng-message="required">Zipcode required
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-6" ng-show='bulletinresult || DigitalResult'>
                                        <label>Image Direction*</label>
                                        <input type="file"
                                                class="form-control md-whiteframe-3dp"
                                                required="required" ngf-select
                                                ng-model="files.symbol" name="symbolFile"
                                                accept="image/*" ngf-max-size="20MB"
                                                placeholder="Upload Product Image*"
                                                required="required">
                                        <div ng-messages="hordinglistform.symbolFile.$error"
                                                ng-if="hordinglistform.symbolFile.$touched"
                                                style="color:red">
                                                <div ng-message="required">Image Direction</div>
                                        </div>
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Latitude</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="lat" ng-model="product.lat" required>
                                        <div ng-messages="hordinglistform.lat.$error"
                                                ng-if="hordinglistform.lat.$touched"
                                                style="color:red">
                                                <div ng-message="required">Latitude is required.
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Longitude</label>
                                        <input type="text"
                                                class="form-control md-whiteframe-3dp"
                                                name="lng" ng-model="product.lng" required>
                                        <div ng-messages="hordinglistform.lng.$error"
                                                ng-if="hordinglistform.lng.$touched"
                                                style="color:red">
                                                <div ng-message="required">Longitude is
                                                        required.</div>
                                        </div>
                                </div>
                        </div>

                        <div class="form-group row">
                                <div class="col-sm-3" ng-show='bulletinresult || DigitalResult'>
                                        <label class="font-weight-bold">Face Direction</label>
                                        <input ng-model="product.direction"
                                                class="form-control md-whiteframe-3dp"
                                                type="text" name="direction" required />
                                        <div ng-messages="hordinglistform.direction.$error"
                                                ng-if="hordinglistform.direction.$touched"
                                                style="color:red">
                                                <div ng-message="required">Direction is
                                                        required.</div>
                                        </div>
                                </div>
                                <div class="col-sm-3" ng-show='bulletinresult'>
                                        <label class="font-weight-bold">Price for 28
                                                Days</label>
                                        <input ng-model="product.default_price"
                                                class="form-control md-whiteframe-3dp"
                                                type="text" name="pricess" required />
                                        <div ng-messages="hordinglistform.pricess.$error"
                                                ng-if="hordinglistform.pricess.$touched"
                                                style="color:red">
                                                <div ng-message="required">Price is required.
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-3"
                                        ng-show='bulletinresult || trasitResult || DigitalResult '>
                                        <label class="font-weight-bold">Select Product
                                                Date</label>
                                        <div class="input-group">
                                                <input ng-model="product.dates | jsonConvert"
                                                        class="form-control md-whiteframe-3dp"
                                                        type="text" name="date" readonly
                                                        id="booking_dates_picker" required />
                                                <a class="input-group-addon md-whiteframe-3dp"
                                                        ng-click="slotsClosed = true;"
                                                        style="padding: 4px 8px;">
                                                        <i class="fa fa-calendar"
                                                                aria-hidden="true"></i>
                                                </a>
                                        </div>
                                        <div ng-messages="hordinglistform.date.$error"
                                                ng-if="hordinglistform.date.$touched"
                                                style="color:red">
                                                <div ng-message="required">Date is required.
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-3" ng-show='bulletinresult'>
                                        <label class="font-weight-bold">Cancellation</label>
                                        <select ng-model="product.cancellation"
                                                name="cancellation"
                                                class="form-control md-whiteframe-3dp"
                                                md-on-close="clearSearchTerm()"
                                                data-md-container-class="selectdemoSelectHeader"
                                                ng-init="product.cancellation = product.cancellation || ''"
                                                placeholder="Has cancellation?" required>
                                                <option value="" disabled selected>Cancellation
                                                </option>
                                                <option>Yes</option>
                                                <option>No</option>
                                        </select>
                                        <div ng-messages="hordinglistform.cancellation.$error"
                                                ng-if="hordinglistform.cancellation.$touched"
                                                style="color:red">
                                                <div ng-message="required">Cancellation required
                                                </div>
                                        </div>
                                </div>
                                <!----Transit Start------------------->
                                <div class="col-sm-6" ng-show='trasitResult'>
                                        <label class="font-weight-bold">Price for 28 days for 30
                                                Buses</label>
                                        <input ng-model="product.default_price"
                                                class="form-control md-whiteframe-3dp"
                                                type="text" name="prices" required />
                                        <div ng-messages="hordinglistform.prices.$error"
                                                ng-if="hordinglistform.prices.$touched"
                                                style="color:red">
                                                <div ng-message="required">Price is required.
                                                </div>
                                        </div>
                                </div>
                                <!----Transit End------------------->
                                <!----Digital Bulletin Start------------------->
                                <div class="col-sm-3" ng-show='DigitalResult'>
                                        <label class="font-weight-bold">Price for 1 Week</label>
                                        <input ng-model="product.default_price"
                                                class="form-control md-whiteframe-3dp"
                                                type="text" name="price" required />
                                        <div ng-messages="hordinglistform.price.$error"
                                                ng-if="hordinglistform.price.$touched"
                                                style="color:red">
                                                <div ng-message="required">Price is required.
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-3" ng-show='DigitalResult || trasitResult'>
                                        <label class="font-weight-bold">No of Slots per
                                                hour</label>
                                        <input ng-model="product.slots"
                                                class="form-control md-whiteframe-3dp"
                                                type="text" name="Slots" required />
                                        <div ng-messages="hordinglistform.slots.$error"
                                                ng-if="hordinglistform.slots.$touched"
                                                style="color:red">
                                                <div ng-message="required">Slots is required.
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-3" ng-show='DigitalResult || trasitResult'>
                                        <label class="font-weight-bold">Play hours in a
                                                day</label>
                                        <input ng-model="product.hour"
                                                class="form-control md-whiteframe-3dp"
                                                type="text" name="hour" required />
                                        <div ng-messages="hordinglistform.hour.$error"
                                                ng-if="hordinglistform.hour.$touched"
                                                style="color:red">
                                                <div ng-message="required">Hour is required.
                                                </div>
                                        </div>
                                </div>
                                <!----Digital Bulletin End------------------->
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Average Impressions Per
                                                Week*</label>
                                        <div class="input-group">

                                                <input class="form-control md-whiteframe-3dp"
                                                        type="text" name="impressionsperweek"
                                                        ng-model="product.impressions"
                                                        required>
                                                <div ng-messages="hordinglistform.impressionsperweek.$error"
                                                        ng-if="hordinglistform.impressionsperweek.$touched"
                                                        style="color:red">
                                                        <div ng-message="required">Impression.
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-3">
                                        <label class="font-weight-bold">Demographics Age</label>
                                        <div class="input-group">
                                                <input class="form-control md-whiteframe-3dp"
                                                        type="text" placeholder="Age" name="Age"
                                                        ng-model="product.demographicsage"
                                                        required>
                                        </div>
                                        <div ng-messages="hordinglistform.Age.$error"
                                                ng-if="hordinglistform.Age.$touched"
                                                style="color:red">
                                                <div ng-message="required">Age is required.
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-3">
                                        <label class="font-weight-bold">Ethinicity</label>
                                        <div class="input-group">
                                                <input class="form-control md-whiteframe-3dp"
                                                        type="text" placeholder="Ethnicity"
                                                        name="Ethnicity"
                                                        ng-model="product.ethnicity" required>
                                        </div>
                                        <div ng-messages="hordinglistform.Ethnicity.$error"
                                                ng-if="hordinglistform.Ethnicity.$touched"
                                                style="color:red">
                                                <div ng-message="required">Ethnicity is
                                                        required.</div>
                                        </div>
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                        <label class="font-weight-bold">Product Video ( YouTube
                                                embedded code)</label>
                                        <div class="input-group">
                                                <input class="form-control md-whiteframe-3dp"
                                                        type="text" placeholder=""
                                                        name="videoUrl"
                                                        ng-model="product.videoUrl" required>
                                                <span
                                                        class="input-group-addon md-whiteframe-3dp"><i
                                                                class="fa fa-caret-square-o-up"
                                                                aria-hidden="true"></i></span>
                                        </div>
                                        <div ng-messages="hordinglistform.videoUrl.$error"
                                                ng-if="hordinglistform.videoUrl.$touched"
                                                style="color:red">
                                                <div ng-message="required">video Url is
                                                        required.</div>
                                        </div>
                                </div>
                                <div class="col-sm-6 ">
                                        <label class="font-weight-bold">Upload Product
                                                Images</label>
                                        <div class="input-group" style="width: 100%;">
                                                <input type="file"
                                                        class="form-control md-whiteframe-3dp"
                                                        ngf-select ng-model="files.image"
                                                        name="imageFile" accept="image/*"
                                                        ngf-max-size="20MB"
                                                        placeholder="Upload Product Image*"
                                                        multiple required>
                                                <span
                                                        class="input-group-addon md-whiteframe-3dp"><i
                                                                class="fa fa-picture-o"
                                                                aria-hidden="true"></i></span>
                                        </div>
                                        <div ng-messages="hordinglistform.imageFile.$error"
                                                ng-if="hordinglistform.imageFile.$touched"
                                                style="color:red">
                                                <div ng-message="required">Image is required.
                                                </div>
                                                <div ng-message="required"
                                                        ng-if="files.image.length > 2">Select
                                                        only 2 Images.
                                                </div>
                                        </div>
                                        <p class="text-right mt-2"><b>Upto 2 Images</b></p>
                                </div>
                        </div>

                        <div class="form-group row">
                                <div class="col-sm-8" style="opacity:0.5;">
                                        Note: You can change price / details any time you
                                        want.<br>
                                        * Select only booked dates remaining dates consider as
                                        available
                                </div>
                                <div class="col-sm-4">
                                        <md-button type="submit"
                                                Class="md-raised md-primary register_btn"
                                                ng-click="addProduct(product)">
                                                Submit</md-button>
                                </div>
                        </div>
                </div>
                <div class="owner_blocked_date_popup box__shadow" ng-if="slotsClosed">
                                <div class="owner_blocked_header">
                                    <div layout="row">
                                        <div>
                                            <h3>select the blocked dates-52/2 week calender </h3>
                                            <p>Campaign start with frist day of week end with last day of week</p>
                                        </div>
        
                                        <div flex></div>
                                        <a class="" ng-click="slotedDatesPopupClosed()">
                                            <i class="material-icons" style="color:white !important">close</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="owner_blocked_body">
                                    <div class="row" class="mt-2  mb-2">
                                        <div class="border col-2 mb-2 p-1 text-center cal_divcolor"
                                            ng-repeat="week in weeksArray" ng-click="selectUserWeeks(week,$index,$event)"
                                            ng-class="{selectedWeek : week.selected == true}">
                                            <div class="md-caption">Week of {{week.twoWeeks}}</div>
                                            <h3 class="md-body-2 setect_padbottom">{{week.startDay | dateslots}}</h3>
                                        </div>
                                        <div class="col-md-8 mt-3">
                                            <md-button Class="md-raised md-primary all_button float-right" ng-click="blockedSlotesbtn(weeksArray)">Block Dates</md-button>
                                        </div>
                                    </div>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>