<md-dialog flex-xs="100" flex="60" flex-md="70" flex-sm="60">
	<md-dialog-content>
		<md-content class="">
			<!-- <div layout="column" layout-align="center center">
				<img ng-src="assets/images/billboard_popup.png">
			</div> -->
			<!-- <div layout="column" layout-align="center center">
				 <div class="md-title">
					<h3>Enter Product Details</h3>
				</div> 
			</div> -->
			<div layout="row" layout-margin>
				<h4>Enter Product Details</h4>
				<div flex></div>
				<md-button class="md-icon-button md-button" type="button" ng-click="closeMdDialog()">
					<i class="material-icons">close</i>
					<div class="md-ripple-container"></div>
				</md-button>
			</div>
			<div layout="column" layout-align="center center">
				<!-- <ul>
					<li ng-repeat="(key, errors) in addProductForm.$error track by $index"> <strong>{{ key }}</strong> errors
						<ul>
							<li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
						</ul>
					</li>
				</ul> -->
			</div>
			
			<!--new form add product start -->
			<div table-responsive>
				<table class="table table-striped table-bordered addproduct-table">
					<tbody flex="100">
						<tr >
							<td flex="33">
								<input type="hidden" ng-model="product.id" />
								<input ng-model="product.siteNo" type="text" name="siteNo" placeholder="Site No" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/" ng-disabled="product.status == 0"
								/>
							</td>
							<td flex="33">
								<select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type" class="select-value" data-md-container-class="selectdemoSelectHeader" required="required" name="productType" ng-disabled="product.status == 0">
									<option value="" disabled selected>Site Type</option>
								</select>
							</td>
							<td flex="33">
								<input ng-model="product.default_price" placeholder="Default Price" type="text" name="hoardingcost" ng-disabled="product.status == 0" />
							</td>
						</tr>
						<tr >
							<td flex="33">
								<select ng-model="product.client" class="select-value" ng-options ="cl.id as cl.name for cl in allClients" ng-if="product.status != 0">
									<option value="" disabled selected>Select Owner</option>
								</select>
								<input ng-model="product.country_name" placeholder="Country Name" type="text" name="country_name" ng-if="product.status == 0" ng-disabled="true"/>
							</td>
							<td flex="33">
								<select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="product.country" ng-change="getStateList()" ng-options ="country.id as country.name for country in countryList" ng-if="product.status != 0">									
									<option value="" disabled selected>Select Country</option>
								</select required>
								<input ng-model="product.country_name" placeholder="Country Name" type="text" name="country_name" ng-if="product.status == 0" ng-disabled="true"/>
							</td>
							<td flex="33">
								<select ng-model="product.state" class="select-value" ng-disabled="!product.country" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-change="getCityList()" ng-options ="state.id as state.name for state in stateList" ng-if="product.status != 0">
									<option value="" disabled selected>Selected State</option>
								</select required>
								<input ng-model="product.state_name" placeholder="State Name" type="text" name="state_name" ng-if="product.status == 0" ng-disabled="true" />
							</td>
						</tr>
						<tr>
							<td flex="33">
								<select ng-model="product.city" class="select-value" ng-disabled="!product.state" md-on-close="clearSearchTerm()"	data-md-container-class="selectdemoSelectHeader" ng-change="getAreaList()" ng-options ="city.id as city.name for city in cityList" ng-if="product.status != 0">
									<option value="" disabled selected>Select City</option>
								</select>
								<input ng-model="product.city_name" placeholder="City Name" type="text" name="city_name" ng-if="product.status == 0" ng-disabled="true" />
							</td>
							<td flex="33">
								<select ng-model="product.area" class="select-value" ng-disabled="!product.city" md-on-close="clearSearchTerm()"	data-md-container-class="selectdemoSelectHeader" ng-options ="area.id as area.name for area in areaList" ng-if="product.status != 0">
									<option value="" disabled selected>Select Area</option>
								</select>
								<input ng-model="product.area_name" placeholder="Area Name" type="text" name="area_name" ng-if="product.status == 0" ng-disabled="true" />
							</td>
							<td>
								<textarea  class="table-address" placeholder="Address" rows="3" ng-model="product.address"></textarea>
							</td>
						</tr>
						<tr>
							<td flex="33">
								<input ng-model="product.impressions" placeholder="impressions" type="text" name="impressions" required="required" />
							</td>
							<td flex="33">
								<input ng-model="product.panelSize"  placeholder="Panel Size" type="text" name="panelSize" required="required" ng-disabled="product.status == 0" />
							</td>
							<td flex="33">
								<select ng-model="product.lighting" class="select-value" md-on-close="clearSearchTerm()"
								data-md-container-class="selectdemoSelectHeader" ng-init="product.lighting = product.lighting || ''" ng-disabled="product.status == 0">
									<option value="" disabled>Has lighting?</option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</td>
						</tr>
						<tr>
							<td flex="33">
								<input ng-model="product.direction" placeholder="Direction" type="text" name="direction" required="required" />
							</td>
							<td flex="33">
								<input ng-model="product.lat" placeholder="Latitude" type="text" name="lat" required="required" />
							</td>
							<td flex="33">
								<input ng-model="product.lng" placeholder="Longitude" type="text" name="lng" required="required" />
							</td>
						</tr>
						<tr>
							<td flex="33">
								<div><label for="dob">Direction Image</label></div>
								<input type="file" ngf-select ng-model="files.symbol" name="files.symbol" accept="image/*" ngf-max-size="2MB" ng-required="!product.id"></input>
							</td>
							<td flex="33">
								<label for="files.image">Image</label>
								<input type="file" ngf-select ng-model="files.image" name="files.image" accept="image/*" ngf-max-size="10MB" ng-required="!product.id" ng-disabled="product.status == 0"></input>
							</td>
							<td flex="33">
								<textarea ng-model="product.adStrength" placeholder="Advertising Strengths" type="text" name="adStrength" required="required" ></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="serverErrors" ng-show="addProductErrors">
				<ul>
					<li ng-repeat="error in addProductErrors">
						{{error}}
					</li>
				</ul>
			</div> 
			<div layout="row" layout-align="center center">
				<md-button type="submit" Class="md-raised md-primary" ng-click="addProduct()" ng-disabled="addProductForm.$invalid">SUBMIT</md-button>
				<md-button Class="md-raised" ng-click="closeMdDialog()">CANCEL</md-button>
			</div>
			<!--new form add product end -->
		</md-content>
	</md-dialog-content>
</md-dialog>