<md-dialog flex="30" flex-lg="35" flex-md="35" flex-xs="100" flex-sm="70">
  <form ng-cloak name="addEmptyCampaignForm" novalidate>
    <!-- <md-toolbar>
      <div  class="md-toolbar-tools md-whiteframe-4dp">
      <button class="md-icon-button md-button show-xs md-ink-ripple hide-gt-xs" type="button" ng-click="closeMdDialog()" show-xs="show-xs" hide-gt-xs="hide-gt-xs"><md-icon md-svg-icon="images/1493121180_Arrow_Back.svg" class="ng-scope" aria-hidden="true"></md-icon></button>
      <span  class="md-title">Add Campaign</span>
      <span flex="flex" hide-xs="hide-xs" show-gt-xs="show-gt-xs" class="hide-xs show-gt-xs flex"></span>
      <button class="md-icon-button md-button show-gt-xs md-ink-ripple hide-xs" type="button" ng-click="openOffscreen()" hide-xs="hide-xs" show-gt-xs="show-gt-xs">X<div class="md-ripple-container"></div></button>
    </div>
    </md-toolbar> -->
    <div layout="row" layout-margin>
      <h4>Enter New Campaign Details</h4>
      <div flex></div>
				<md-button class="md-icon-button md-button" type="button" ng-click="close()">
          <i class="material-icons">close</i>
          <div class="md-ripple-container"></div>
        </md-button>
    </div>
    <md-dialog-content>
      <div layout="row" layout-sm="row" layout-lg="row" layout-md="row" layout-xs="column" layout-margin="layout-margin">
        <!-- <div layout="column" flex="5" flex-xs="100" flex-sm=50 flex-md="50" flex-lg="50"></div> -->
        <div layout="column" flex="90" flex-xs="100" flex-sm=50 flex-md="50"  layout-fill>
          <md-input-container class="md-block">
            <label>Campaign Name</label>
            <input ng-model="campaignFromSuggestionRequest.name" type="text" name="name" minlength="2" md-maxlength="30" ng-pattern="/[A-Za-z0-9\-]$/" required/>
            <div ng-messages="addEmptyCampaignForm.name.$error">
              <div ng-message="required">Campaign Name is required.</div>
              <div ng-message="minlength">Campaign Name must have 2 characters.</div>
              <div ng-message="maxlength">Campaign Name shouldn't exceed 20 characters. </div>
              <div ng-message="pattern">Campaign Name should contain only Alpha Numeric and _ - . symbols.</div>
            </div>
          </md-input-container>
          <!-- <md-input-container>
            <md-datepicker name="startDate" ng-model="campaignFromSuggestionRequest.start_date" ng-change="updateEndDateValidations()" onkeydown="return false" md-placeholder="Start Date" md-min-date="dateLimits.minStartDate" required layout-fill></md-datepicker>
            <div ng-messages="addEmptyCampaignForm.startDate.$error">
              <div ng-message="required">Start Date required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <md-datepicker name="endDate" ng-model="campaignFromSuggestionRequest.end_date" onkeydown="return false" md-placeholder="End date" md-min-date="campaignFromSuggestionRequest.start_date" required layout-fill></md-datepicker>
            <div ng-messages="addEmptyCampaignForm.endDate.$error">
              <div ng-message="required">End Date required.</div>
            </div>
          </md-input-container> -->
        
        </div>
        <!-- <div layout="column" flex="5"></div> -->
        
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
      <md-button Class="md-raised md-primary all_button" type="submit" ng-click="saveCampaign()">
        SUBMIT
      </md-button>
      <md-button Class="md-raised Upload_font" ng-click="close()">
        CANCEL
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>