<div class="">
    <div layout="column">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="text_color">
                    <tr>
                        <th>Name</th>
                        <th class="">Email ID</th>
                        <th class="">Comments</th>
                        <th class="">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Queries in QueriesData | limitTo:limit">
                      <td>{{Queries.name}}</td>
                      <td>{{Queries.email}}</td>
                      <td class="">{{Queries.message}}</td>
                      <td class="table_vertical">{{Queries.updated_at |timeify | date:'HH:mm a'}}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>