<div class="">
    <div layout="column">
        <div class="table-responsive">
            <table class="table">
                <thead class="text_color">
                    <tr>
                        <th>Name</th>
                        <th class="">Email ID</th>
                        <th>Subject</th>
                        <th class="">Comments</th>
                        <th>Contact No.</th>
                        <th class="">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Queries in QueriesData | limitTo:limit">
                      <td>{{Queries.name | capitalize}}</td>
                      <td>{{Queries.email | capitalize}}</td>
                      <td>{{Queries.subject | capitalize}}</td>
                      <td class="">{{Queries.message | capitalize}}</td>
                      <td>{{Queries.contactno}}</td>
                      <td class="table_vertical">{{Queries.updated_at | dateFormat}}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>