 <!-- <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
        <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
    </md-button> -->
    <div class="">
        <div layout="column">
            <!-- status of hoarding list html start-->
            
            <div class="table-responsive"> 
                <table class="table table-hover call_center">
                        <thead class="text_color">
                          <tr>
                            <th>Date</th>
                            <th>Phone Number</th>
                            <th>Comments</th>
                            <th class="hide-xs">By</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="table_vertical ">04-01-2018</td>
                            <td class="table_vertical ">9876543210</td>
                            <td class="table_vertical ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td class="table_vertical ">Madhuri</td>
                            <td class="table_vertical">11:30 am</td>
                          </tr>
                          <tr>
                            <td class="table_vertical">04-01-2018</td>
                            <td class="table_vertical">9876543210</td>
                            <td class="table_vertical"></td>
                            <td class="table_vertical">Madhuri</td>
                            <td class="table_vertical">11:30 am</td>
                          </tr>
                          <tr>
                            <td class="table_vertical">04-01-2018</td>
                            <td class="table_vertical">9876543210</td>
                            <td class="table_vertical"></td>
                            <td class="table_vertical">Madhuri</td>
                            <td class="table_vertical">11:30 am</td>
                          </tr>
                          <tr>
                            <td class="table_vertical">04-01-2018</td>
                            <td class="table_vertical">9876543210</td>
                            <td class="table_vertical">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                            <td class="table_vertical">Madhuri</td>
                            <td class="table_vertical">11:30 am</td>
                          </tr>
                        </tbody>
                      </table>
              </div>
        </div>
        </div>