<!-- share campaign sidenav -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="shareCampaignSidenav">
  <div layout="row">
      <div class="md-toolbar-tools">
          <div flex></div>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
              <md-tooltip>Close Side Panel</md-tooltip>
              <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
          </md-button>
      </div>
  </div>
  <md-content layout-align="center center" layout-margin layout-padding>
      <h3 class="md-headline">Share Campaign</h3>
      <form name="shareCampaignForm">
          <div layout="column">
              <md-input-container class="md-block">
                  <label>Name</label>
                  <input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required" />
                  <div ng-messages="shareCampaignForm.name.$error">
                      <div ng-message="required">Name is required.</div>
                      <div ng-message="pattern">Enter a valid Name.</div>
                  </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Email</label>
                  <input ng-model="shareCampaign.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
                  <div ng-messages="shareCampaignForm.email.$error">
                      <div ng-message="required">Email is required.</div>
                      <div ng-message="pattern">Enter a valid Email Id.</div>
                  </div>
              </md-input-container>
              <md-button class="md-raised md-warn all_button" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentAdminShareCampaign)">Share Campaign</md-button>
          </div>
      </form>
  </md-content>
</md-sidenav>
<div layout="column" layout-fill="layout-fill" class="campagin_page">

  <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
    <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
  </md-button>
  <div layout="colmun" layout-align="end center" class="campaign_search hide-xs">
      <input type="text" ng-model="search" placeholder="Search by Campaign Name..." class="md-whiteframe-2dp mt-3 mr-2" style="width:30%;padding: 4px;" />
  </div>
  <md-tabs md-dynamic-height class="padding_cmp">
        <md-tab label="Proposals">
          <div style="margin-top: 1em;">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="text_color">
                    <th class="width_1">CID</th>
                    <th class="">Campaign Name</th>
                    <th class="width_2">Start Date</th>
                    <th class="text-center hide-xs">No of Products </th>
                    <th class="text-center hide-xs">Paid</th>
                    <th class="text-center hide-xs">Total Budget</th>
                    <th class=""></th>
                    <th class="hide-xs"></th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr ng-repeat="campaign in plannedCampaigns | filter: search | limitTo:limit">
                    <td class="table_vertical">{{campaign.cid}}</td>
                    <td class="table_vertical">{{campaign.name | capitalize}}</td>
                    <td class="table_vertical">{{campaign.start_date | dateify | date:'dd-MM-yyyy' }}</td>
                    <td class="table_vertical text-center hide-xs">{{campaign.product_count|| "N/A"}}</td>
                    <td class="text-center table_vertical hide-xs">{{campaign.total_paid || "N/A"}}</td>
                    <td class="text-center table_vertical hide-xs">{{campaign.est_budget}}</td>
                    <td class="text-center table_vertical ">
                      <md-menu md-position-mode="target-right target" id="width_popup">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                          <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                        </md-button>
                        <md-menu-content width="2">
                          <md-menu-item>
                            <md-button class="pop_view" ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                              <div layout="row">
                                <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                <p style="margin:0 4px;font-size:11px;">View Details</p>
                              </div>
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>                        
                            <md-button class="pop_view" ng-click="toggleShareCampaignSidenav(campaign.id)">
                              <div layout="row">
                                <md-icon><i class="material-icons">share</i></md-icon>
                                <p style="margin:0 4px;font-size:11px;">Share Campaign</p>
                              </div>
                            </md-button>
                          </md-menu-item>                         
                        </md-menu-content>
                      </md-menu>
                    </td>
                    <td class="text-center table_vertical hide-xs">
                      <span class="text_color md-caption">{{campaign.updated_at |timeify | date:'HH:mm a'}}</span>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            
          </div>
        </md-tab>
        <md-tab label="Scheduled">
            <div style="margin-top: 1em;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text_color">
                                <th>CID</th>
                                <th class="">Campaign Name</th>
                                <th>Start Date</th>
                                <th class="text-center hide-xs">No of Products </th>
                                <th class="text-center hide-xs">Paid</th>
                                <th class="text-center hide-xs">Total Budget</th>
                                <th></th>
                                <th class="hide-xs"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr ng-repeat="campaign in scheduledCampaigns | filter: search" >
                                <td class="table_vertical">{{campaign.cid}}</td>
                                <td class="table_vertical">{{campaign.name | capitalize}}</td>
                                <td class="table_vertical">{{campaign.start_date | date}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.total_paid || "N/A"}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.est_budget || "N/A"}}</td>
                                <td class="text-center table_vertical">
                        <md-menu md-position-mode="target-right target">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>                                    
                                    <md-button class="pop_view" ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                                        <div layout="row">
                                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">View Details</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                                        <div layout="row">
                                            <md-icon><i class="material-icons">share</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">Share Campaign</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>                             
                                <md-menu-item>
                                    <md-button ng-href="#/admin/campaign-payment-details/{{campaign.id}}">
                                        <div layout="row">
                                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">Payment Details</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        </td>
                        <td class="text-center table_vertical hide-xs">
                            <span class="text_color md-caption">{{campaign.updated_at| datetimeify}}</span>
                        </td>
                        </tr>
                        </tbody> 
                    </table>
                </div>
            </div>

        </md-tab>
        <md-tab label="Running">
            <div style="margin-top: 1em;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text_color">
                                <th>CID</th>
                                <th class="text-left">Campaign Name</th>
                                <th>Start Date</th>
                                <th class="text-center hide-xs">No of Products </th>
                                <th class="text-center hide-xs">Paid</th>
                                <th class="text-center hide-xs">Total Budget</th>
                                <th></th>
                                <th class="hide-xs"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr ng-repeat="campaign in runningCampaigns| limitTo:limit | filter: search" >
                                <td class="table_vertical">{{campaign.cid}}</td>
                                <td class="table_vertical">{{campaign.name | capitalize}}</td>
                                <td class="table_vertical">{{campaign.start_date| date }}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.total_paid || "N/A"}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.est_budget}}</td>
                                <td class="text-center table_vertical">
                        <md-menu md-position-mode="target-right target">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                                        <div layout="row">
                                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">View Details</p>
                                        </div>
                                    </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                      <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                                        <div layout="row">
                                          <md-icon><i class="material-icons">share</i></md-icon>
                                          <p style="margin:auto 10px auto 10px">Share Campaign</p>
                                        </div>
                                      </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                      <md-button ng-href="#/admin/campaign-payment-details/{{campaign.id}}">
                                        <div layout="row">
                                          <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                          <p style="margin:auto 10px auto 10px">Payment Details</p>
                                        </div>
                                      </md-button>
                                    </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        </td>
                        <td class="text-center table_vertical hide-xs">
                            <span class="text_color md-caption">{{campaign.updated_at| datetimeify}}</span>
                        </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </md-tab> 
        <md-tab label="Closed" >
            <div style="margin-top: 1em;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text_color">
                                <th>CID</th>
                                <th class="">Campaign Name</th>
                                <th>Start Date</th>
                                <th class="text-center hide-xs">No of Products </th>
                                <th class="text-center hide-xs">Paid</th>
                                <th class="text-center hide-xs">Total Budget</th>
                                <th></th>
                                <th class="hide-xs"></th>
                            </tr>
                        </thead>
                        <tbody class="" >
                            <tr ng-repeat="campaign in closedCampaigns| limitTo:limit | filter: search">
                                <td class="table_vertical">{{campaign.cid}}</td>
                                <td class="text-left table_vertical">{{campaign.name | capitalize}}</td>
                                <td class="table_vertical">{{campaign.start_date| date }}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.total_paid || "N/A"}}</td>
                                <td class="text-center table_vertical hide-xs">{{campaign.est_budget|| "N/A"}}</td>
                                <td class="text-center table_vertical">
                        <md-menu md-position-mode="target-right target">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button class="pop_view" ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">                          <div layout="row">
                                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">View Details</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                                        <div layout="row">
                                            <md-icon><i class="material-icons">share</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">Share Campaign</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-href="#/admin/campaign-payment-details/{{campaign.id}}">
                                        <div layout="row">
                                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                            <p style="margin:auto 10px auto 10px">Payment Details</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        </td>
                        <td class="text-center table_vertical hide-xs">
                            <span class="text_color md-caption">{{campaign.updated_at| datetimeify}}</span>
                        </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </md-tab>
        <!-- share campaign sidenav -->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="shareCampaignSidenav">
            <div layout="row">
                <div class="md-toolbar-tools">
                    <div flex></div>
                    <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
                        <md-tooltip>Close Side Panel</md-tooltip>
                        <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
                    </md-button>

                    <md-menu-content width="2">
                      <md-menu-item>
                        <md-button ng-href="#/owner/{{clientSlug}}/campaign-details/{{campaign.id}}/{{campaign.type}}">
                          <div layout="row">
                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                            <p style="margin:auto 10px auto 10px">View Details</p>
                          </div>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                          <div layout="row">
                            <md-icon><i class="material-icons">share</i></md-icon>
                            <p style="margin:auto 10px auto 10px">Share Campaign</p>
                          </div>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-href="#/owner/{{clientSlug}}/campaign-details/{{campaign.id}}/{{campaign.type}}">
                          <div layout="row">
                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                            <p style="margin:auto 10px auto 10px">Pay Now</p>
                          </div>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-href="#/owner/{{clientSlug}}/campaign-details/{{campaign.id}}/{{campaign.type}}">
                          <div layout="row">
                            <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                            <p style="margin:auto 10px auto 10px">Payment Details</p>
                          </div>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
                <td class="table_vertical hide-xs">
                  <span class="text_color md-caption">{{campaign.updated_at | datetimeify}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </md-tab>   
  </md-tabs>  
</div>
