<div ng-cloak ng-controller="campaignSuggestionCtrl" flex="100" flex-xs="100" flex-sm="100">
    <div layout="column" layout-sm="column" layout-xs="column">

        <div class="md-title" style="background: #447bde;color: #fff;"  layout-margin><h3>Proposal</h3></div>

        <div class="Planned">

            <div class="bg-part">

                <div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-margin="layout-margin" class="client-summay">

                    <div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
                        layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
                        <div layout="column" layout-align="center center">
                            <div><span><img src="assets/images/client_details.png"></span></div>
                            <h3>Cleient Details</h2>
                        </div>

                        <div layout="row" layout-align="center center">
                            <div flex="50">Campaign Name:</div>
                            <div flex="50">Paytm</div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="50">Client Name:</div>
                            <div flex="50">Srikanth Bijjala</div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="50">Content:</div>
                            <div flex="50">9999999999</div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="50">Email:</div>
                            <div flex="50">srikanthbijjala1990@gmail.com</div>
                        </div>

                    </div>

                    <div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
                        layout-margin="layout-margin" class="contbg md-whiteframe-3dp">

                        <div layout="column" layout-align="center center">
                            <div><img src="assets/images/capaign_details.png"></div>
                            <h3>Campaign Summery</h2>
                        </div>
                        <div layout="row">
                            <div flex="50">Staring:</div>
                            <div flex="50">From 20-Feb-17 To 28-Feb-2017</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Estimated Budget:</div>
                            <div flex="50">Rs.2,00,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Actul Budget:</div>
                            <div flex="50">Rs.2,00,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Status:</div>
                            <div flex="50">Draft</div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-margin>
                <div flex="50">
                    <div style="margin: 30px 0 0 0;font-size: 20px;">Products(15)</div>
                </div>
                <div flex="50" layout="row" layout-align="end center">

                    <div>
                        <md-button class="md-raised md-warn">
                           Finalized <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
                        </md-button>
                        <md-button class="md-raised md-primary">
                           Add New Product <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
                        </md-button>
                    </div>
                </div>
            </div>
            <div ui-grid="gridProposalSummary"  ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
        </div>


    </div>
</div>