<!-- Campaign details pages-->
<md-dialog flex-xs="100" flex="50" flex-md="60" flex-sm="60">
  <md-dialog-content>
    <md-content class="md-padding">
      <div layout="column" layout-align="center center">
        <img ng-src="assets/images/campaign_popup_icon.png" >
      </div>
      <div layout="column" layout-align="center center" layout-margin="layout-margin" class="md-block">
        <h3> Campaign Details</h3>
      </div>
      <div class="md-dialog-content" layout="row" layout-align="center center" layout-margin="layout-margin">
        <div  layout="column" layout-margin="layout-margin" layout-align="center end">
          <div>Organization:</div>
          <div>ClientName:</div>
          <div>Mobile no:</div>
          <div>Start Date:</div>
          <div>End Date:</div>
          <div>Client Email:</div>
          <div>Estimate Budget:</div>
        </div>
        <div  layout="column" layout-margin="layout-margin">
        <div>{{campaign.org_name}}</div>
        <div>{{campaign.user_full_name}}</div>
        <div>{{campaign.phone}}</div>
        <div>{{campaign.start_date | dateify | date:'dd-MM-yyyy'}}</div>
        <div>{{campaign.end_date | dateify | date:'dd-MM-yyyy'}}</div>
        <div>{{campaign.email}}</div>
        <div>{{campaign.est_budget}}</div>
        </div>
      </div>
      <div layout-align="center center" layout="column">
        <md-input-container >
          <md-button type="submit" layout-fill="layout-fill" class="md-raised  md-primary regbn" ng-href="#/admin/feeds" ng-click="closeCampaignRequestDetails()">Suggest</md-button>
        </md-input-container>     
      </div>
    </md-content>
  </md-dialog-content>
</md-dialog>