<style>
  /* .md-button{
            min-width: 64px!important;
        }
        md-list-item{
            padding: 0 0px !important;
        } */
</style>
<div ng-cloak flex="100" flex-xs="100" flex-sm="100" class="contbg">

  <!-- share campaign sidenav -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-width" md-component-id="shareCampaignSidenav">
    <div layout="row">
      <div class="md-toolbar-tools">
        <div flex></div>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
          <md-tooltip>Close Side Panel</md-tooltip>
          <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </div>
    <md-content layout-align="center center" layout-margin layout-padding>
      <h3 class="md-headline">Share Campaign</h3>
      <form name="shareCampaignForm">
        <div layout="column">
          <md-input-container class="md-block">
            <label>Name</label>
            <input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required" />
            <div ng-messages="shareCampaignForm.name.$error">
              <div ng-message="required">Name is required.</div>
              <div ng-message="pattern">Enter a valid Name.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="shareCampaign.email" name="email" type="email" required="required"
              ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
            <div ng-messages="shareCampaignForm.email.$error">
              <div ng-message="required">Email is required.</div>
              <div ng-message="pattern">Enter a valid Email Id.</div>
            </div>
          </md-input-container>
          <md-button class="md-raised md-warn all_button" layout-fill
            ng-click="shareCampaignToEmail($event, shareCampaign)">Share Campaign</md-button>
        </div>
      </form>
    </md-content>
  </md-sidenav>
  <!-- share campaign sidenav ends -->
  <div class="ml-2 mr-2 mt-2 mb-2 md-whiteframe-2dp contbg">
    <div class="row" style="margin-left:0px; margin-right:0px;">
      <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 payment_mng"
        style="margin-top:14px;">
        <p class="">Campaign ID</p>
        <p class="md-caption mob_span"><b>{{campaignDetails.cid}}</b></p>
      </div>
      <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_mng"
        style="margin-top:14px;">
        <p class="">Campaign Name</p>
        <p class="md-caption mob_span"><b>{{ campaignDetails.name | capitalize}}</b></p>
      </div>
      <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_nng"
        style="margin-top:14px;">
        <p class="">No of Products</p>
        <p class="md-caption mob_span mob_5"><b>{{ campaignDetails.no_of_products }}</b></p>
      </div>
      <div
        class="col-xl-6 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_nng"
        style="margin-top:1em;">
        <!--<input class="check_payment" type="checkbox" /><span class="text-muted">Request Executive to collect cash / cheque</span> -->
        <div class="dropdown" style="float: right;">
          <md-button class="md-raised all_button" onclick="addPayment()" ng-hide="(campaignDetails.totalamount - campaignDetails.total_paid==0)?true:false">Add
            Payment
          </md-button>
          <div id="myDropdown" class="dropdown-content contbg animated fadeInDown">
            <form name="forms.campPayment" role="form" novalidate="novalidate">
              <div layout="colmun">
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="addPayment()">
                  <md-icon class="md-default-theme">
                    <i class="material-icons">close</i>
                  </md-icon>
                </md-button>
              </div>
              <h3 class="md-title" style="margin-top:-28px;">Grand Total : Rs.
                {{campaignDetails.totalamount}}</h3><br>
              <li>
                <div class="">
                  <div class="col-md-12">
                    <!-- <form name="PaymentForm" role="form" novalidate="novalidate"> -->
                    <div class="form-group row">
                      <label for="amount" class="col-sm-4 col-form-label md-body-2">Mode *:</label>
                      <div class="col-sm-8">
                        <select id="paymentType" ng-model="campaignPayment.type" name="mode"
                          class="form-control md-whiteframe-3dp" required="required">
                          <option ng-repeat="paymentType in paymentTypes" ng-value="{{paymentType.name}}">
                            {{paymentType.name}}</option>
                        </select>
                        <span ng-show="forms.campPayment.mode.$error.required" style="color:red"
                          ng-if="forms.campPayment.mode.$touched">
                          Mode Is required!!
                        </span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="paymentType" class="col-sm-4 col-form-label md-body-2">Amount</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control md-whiteframe-3dp" required="required" only-numeric
                          name="amount" id="amount" ng-model="campaignPayment.amount">
                        <div ng-messages="forms.campPayment.amount.$error" style="color:red"
                          ng-if="forms.campPayment.amount.$touched">
                          <div ng-message="required">Amount is required.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="paymentType" class="col-sm-4 col-form-label md-body-2">Reference No:</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control md-whiteframe-3dp" only-numeric name="reference"
                          required="required" id="reference" ng-model="campaignPayment.reference_no">
                        <div ng-messages="forms.campPayment.reference.$error" style="color:red"
                          ng-if="forms.campPayment.reference.$touched">
                          <div ng-message="required">Reference No is required.</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="paymentType" class="col-sm-4 col-form-label md-body-2">Received By *:</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control md-whiteframe-3dp" only-letters-input name="recived"
                          id="recived" required="required" ng-model="campaignPayment.received_by">
                        <div ng-messages="forms.campPayment.recived.$error" style="color:red"
                          ng-if="forms.campPayment.recived.$touched">
                          <div ng-message="required">Received By is required.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="paymentType" class="col-sm-4 col-form-label md-body-2">Comments</label>
                      <div class="col-sm-8">
                        <textarea class="form-control md-whiteframe-3dp" rows="5" id="comment" name="text"
                          placeholder="Type Your Massage" ng-model="campaignPayment.comment"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="paymentType" class="col-sm-4 col-form-label md-body-2">Upload Image</label>
                      <div class="col-sm-8">
                        <span class="input-group-btn">
                          <span class="">
                            <input type="file" ngf-select ng-model="files.image" name="files.image" name="image"
                              class="form-control md-whiteframe-3dp" accept="image/*" ngf-max-size="1MB">
                            <!-- <div ng-messages="forms.campPayment.image.$error" style="color:red" ng-if="forms.campPayment.image.$touched">
                                          <div ng-message="required">Image is required.</div>
                                        </div> -->
                          </span>
                        </span>
                        <!-- <div ng-messages="addProductForm.imageFile.$error" ng-if="addProductForm.imageFile.$touched"
                                    style="color:red">
                                    <div ng-message="required">Image is required.</div>
                                  </div> -->
                      </div>
                    </div>
                    <div class="form-group row">
                      <div flex></div>
                      <div class="col-sm-4">
                        <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                                             <p><label for="file" style="cursor: pointer;">Upload Image</label></p> -->
                      </div>
                      <div class="col-sm-4">
                        <md-button class="md-raised all_button pull-right text-white"
                          ng-click="updateCampaignPayment(campaignDetails.id)">Submit</md-button>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                </div>
              </li>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="text_color">
        <tr>
          <th>Mode of Payment</th>
          <th>Paid</th>
          <th>Reference</th>
          <th>Received By</th>
          <th>Comments</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payment in campaignPayments.all_payments">
          <td class="table_vertical">{{payment.type}}</td>
          <td class="table_vertical">{{payment.amount}}</td>
          <td class="table_vertical">{{payment.reference_no}}</td>
          <td class="table_vertical">{{payment.received_by}}</td>
          <td class="table_vertical">{{payment.comment}}</td>
          <td class="table_vertical">{{ payment.created_at | date}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- table grid end -->
  <div class="row border_quest">
    <div class="p-2 pl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12 comment_mob">
      <div class="ml-2 form-group">
          <form action="/action_page.php">
            <div class="chat_box">
              <div class="form-group">
                  <label for="text" class="text_color">Any questions, Please submit below</label>
                  <textarea type="text" class="form-control" id="text" rows="3"></textarea>
                </div>
                <button type="submit" class="btn submit_payment float-right">Submit</button>
            </div>
          </form>
      </div>
    </div>
    <div class="p-2 col-xl-8 col-lg-8 col-md-6 col-sm-6 col-xs-12 col-12">
        <div class="small-wrapper mt0">
        <div class="smallContainer">
          <div class="payment-summary">
          <ul id="double">
            <li class="col1">Total :</li>
            <li class="col2">{{campaignDetails.total_amount}}</li>
            <li class="col1 text_color">18% GST :</li>
            <li class="col2 text_color">{{ GST |number : 2 ||"N/A" }}</li>
            <li class="col1">Grand Total :</li>
            <li class="col2">{{campaignDetails.totalamount}}</li>
            <li class="col1">Paid :</li>
            <li class="col2">{{campaignDetails.total_paid || "0"}}</li>
          </ul>
          <ul id="total">
            <li class="col1">Balance :</li>
            <li class="col2">{{campaignDetails.totalamount - campaignDetails.total_paid || "0"}}</li>
          </ul>
          </div>
        </div>
        </div>
      </div>
      <!-- <div class="p-2 col-md-8">
        <div class="d-flex justify-content-end pt-4 align-self-end">
          <div layout="column" class="payment_inner">
            <p class="font-weight-light" style="text-indent: 53px;">Total : <span
                class="float-right">{{campaignDetails.total_amount}}</span></p>
            <p class="text_color" style="text-indent: 6px;">18% GST : <span
                class="float-right">{{ GST |number : 2 ||"N/A" }}</span></p>
                <p class="" style="text-indent: 30px;">Grand Total : <span class="float-right">{{campaignDetails.totalamount}}</span></p>
            <p class="" style="text-indent: 30px;">Paid : <span class="float-right">{{campaignDetails.total_paid || "0"}}</span></p>
            <p class="" style="font-size: 15px;font-weight: 500;">Balance : <span
                class="float-right">{{campaignDetails.totalamount - campaignDetails.total_paid || "0"}}</span></p>
          </div>
        </div>
      </div> -->
      <div class="p-2 col-xl-8 col-lg-8 col-md-6 col-sm-6 col-xs-12 col-12" ng-if="campaignDetails.status == 600">
          <div layout="column" class="payment_inner" style="float: right;">
            <div layout="row">
              <div class="md-body-1">We have received your request and working on blocking the products you
                have selected.</div>
            </div>
            <div layout="row">
              <div class="md-body-1">You'll soon hear from us.</div>
            </div>
          </div>
      </div>
  </div>
</div>
<script>
  function addPayment() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  function addPayments() {
    document.getElementById("myDropdownView").classList.toggle("show");
  }
</script>