<div layout="column" layout-fill="layout-fill">
    

  <md-tabs md-dynamic-height>
    <md-tab label="Proposals">
       <!-- <div ui-grid="gridPreLaunch" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns
        ui-grid-auto-resize class="grid"></div>  -->
      <div layout="colmun">
        <span flex></span>
        <md-button class="md-raised md-warn" ng-click="showAddCampaignPopup()">
          Add New Campaign
          <span>
            <md-icon md-svg-icon="assets/images/finalise.svg"></md-icon>
          </span>
        </md-button>
      </div>
      <div style="margin-top: 1em;">
        <div class="table-responsive">    
          <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                  <th>Created</th>
                  <th>Campagin Name</th>
                  <th>Client Name</th>
                  <th>Client contact</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th>No.of<br> Product</th>
                  <th>Estimated <br>Budget</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="campagin in personalcampsdata | limitTo:limit">
                <td>{{campagin.created_by}}</td>
                <td>{{campagin.name}}</td>
                <td>{{campagin.user_full_name}}</td>
                <td>{{campagin.user_phone}}</td>
                <td>{{campagin.start_date | date }}</td>
                <td>{{campagin.end_date | date }}</td>
                <td>{{campagin.status | stringifyCampaignStatus }}</td>
                <td>{{campagin.products.length}}</td>
                <td>{{campagin.est_budget}}</td>
                <td>
                  <span><md-button ng-href="#/admin/campaign-proposal-summary/{{campagin.id}}" ng-click="editCampagin(campagin)" ng-if="campagin.status < 4"><md-icon><i class="material-icons">mode_edit</i></md-icon></md-button></span>
                  <!-- <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">done</i></md-icon></a></span>
                  <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">share</i></md-icon></a></span> -->
                  <span><md-button ng-href="#" ng-click=""><md-icon><i class="material-icons">delete</i></md-icon></md-button></span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div layout="colmun" layout-align="end center" layout-margin>
          <button style="width:120px;" class="more btn btn-primary btn-block" ng-click="loadMore()">Load More!</button>
        </div>
      </div>
    </md-tab>

    <md-tab label="Running">
      <!-- <div ui-grid="gridRunning" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns
        ui-grid-auto-resize class="grid"></div> -->
      <div style="margin-top: 1em;">
          <div class="table-responsive">    
            <table class="table table-striped table-bordered ">
              <thead>
                  <tr>
                    <th>Created</th>
                    <th>Campagin Name</th>
                    <th>Client Name</th>
                    <th>Client contact</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>No.of<br> Product</th>
                    <th>Estimated <br>Budget</th>
                    <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in personalcampsdata | limitTo:limit">
                  <td>{{list.created_by}}</td>
                  <td>{{list.name}}</td>
                  <td>{{list.user_full_name}}</td>
                  <td>{{list.user_phone}}</td>
                  <td>{{list.start_date | date }}</td>
                  <td>{{list.end_date | date }}</td>
                  <td>{{list.status | stringifyCampaignStatus }}</td>
                  <td>{{list.products.length}}</td>
                  <td>{{list.est_budget}}</td>
                  <td>
                    <!-- <span><a ng-href="#/admin/campaign-proposal-summary/{{row.entity.id}}" ng-click="" ng-if="row.entity.status != 0"><md-icon><i class="material-icons">mode_edit</i></md-icon></a></span> -->
                    <!-- <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">done</i></md-icon></a></span>
                    <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">share</i></md-icon></a></span> -->
                    <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">delete</i></md-icon></a></span>
                  </td>
                </tr>      
              </tbody>
            </table>
          </div>
          <div layout="colmun" layout-align="end center" layout-margin>
            <button style="width:120px;" class="more btn btn-primary btn-block" ng-click="loadMore()">Load More!</button>
          </div>
      </div>
    </md-tab>

    <md-tab label="Closed">
      <!-- <div ui-grid="gridClosed" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns
        ui-grid-auto-resize class="grid"></div> -->
      <div style="margin-top: 1em;">
        <div class="table-responsive">    
          <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                  <th>Created</th>
                  <th>Campagin Name</th>
                  <th>Client Name</th>
                  <th>Client contact</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th>No.of<br> Product</th>
                  <th>Estimated <br>Budget</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="list in personalcampsdata | limitTo:limit">
                <td>{{list.created_by}}</td>
                <td>{{list.name}}</td>
                <td>{{list.user_full_name}}</td>
                <td>{{list.user_phone}}</td>
                <td>{{list.start_date | date }}</td>
                <td>{{list.end_date | date }}</td>
                <td>{{list.status | stringifyCampaignStatus }}</td>
                <td>{{list.products.length}}</td>
                <td>{{list.est_budget}}</td>
                <td>
                  <!-- <span><a ng-href="#/admin/campaign-proposal-summary/{{row.entity.id}}" ng-click="" ng-if="row.entity.status != 0"><md-icon><i class="material-icons">mode_edit</i></md-icon></a></span> -->
                  <!-- <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">done</i></md-icon></a></span>
                  <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">share</i></md-icon></a></span> -->
                  <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">delete</i></md-icon></a></span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div layout="colmun" layout-align="end center" layout-margin>
          <button style="width:120px;" class="more btn btn-primary btn-block" ng-click="loadMore()">Load More!</button>
        </div>
      </div>
    </md-tab>
  </md-tabs>
</div>