<div ng-cloak ng-controller="campaignSuggestionCtrl" flex="100" flex-xs="100" flex-sm="100">
    <md-content layout="column" layout-sm="column" layout-xs="column">
        <!-- running campaign start-->
        <div class="Running">
            <div class="md-title" layout="column" style="background: #447bde;color: #fff;" layout-margin>Running</div>
            <div class="bg-part">

                <div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-margin="layout-margin" class="client-summay">

                    <div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
                        layout-margin="layout-margin" class="contbg md-whiteframe-3dp">

                        <div layout="column" layout-align="center center">
                            <div><img src="assets/images/capaign_details.png"></div>
                            <h3>Cleient Details</h2>
                        </div>

                        <div layout="row">
                            <div flex="50">Campaign Name:</div>
                            <div flex="50">Paytm</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Client Name:</div>
                            <div flex="50">Srikanth Bijjala</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Content:</div>
                            <div flex="50">9999999999</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Email:</div>
                            <div flex="50">srikanthbijjala1990@gmail.com</div>
                        </div>

                    </div>

                    <div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
                        layout-margin="layout-margin" class="contbg md-whiteframe-3dp">

                        <div layout="column" layout-align="center center">
                            <div><img src="assets/images/capaign_details.png"></div>
                            <h3>Campaign Summery</h2>
                        </div>
                        <div layout="row">
                            <div flex="50">Staring:</div>
                            <div flex="50">From 20-Feb-17 To 28-Feb-2017</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Estimated Budget:</div>
                            <div flex="50">Rs.2,00,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Actul Budget:</div>
                            <div flex="50">Rs.2,00,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50">Status:</div>
                            <div flex="50">Running</div>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row">

                    <div layout="column" layuot-xs="column" layout-sm="column" layout-gt-sm="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50"
                        layout-margin="layout-margin" class="contbg md-whiteframe-3dp">
                        <div layout="column" layout-align="center center">
                            <div><img src="assets/images/capaign_details.png"></div>
                            <h3>Payment Details</h2>
                        </div>

                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">Total amount:</div>
                            <div flex="50" layout="column" layout-align="center center">Rs. 2,30,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">Paid Amount:</div>
                            <div flex="50" layout="column" layout-align="center center">Rs. 1,30,000</div>
                        </div>


                    </div>

                    <div layout="column" flex="50" flex-xs="100" flex-sm="100" flex-gt-sm="50" layuot-xs="column" layout-sm="column" layout-gt-sm="column"
                        layout-margin="layout-margin" class="contbg md-whiteframe-3dp">

                        <div layout="column" layout-align="center center">
                            <div><img src="assets/images/capaign_details.png"></div>
                            <h3>Recently Updated Payments</h2>
                        </div>
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">Date</div>
                            <div flex="50" layout="column" layout-align="center center">Amount</div>
                        </div>
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">23/07/17</div>
                            <div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">23/07/17</div>
                            <div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">23/07/17</div>
                            <div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
                        </div>
                        <div layout="row">
                            <div flex="50" layout="column" layout-align="center center">23/07/17</div>
                            <div flex="50" layout="column" layout-align="center center">Rs 50,000</div>
                        </div>


                        <div layout="row" layout-align="center center">
                            <md-button class="md-button md-primary md-raised" ng-click="showPaymentdailog()">UPDATE PAYMENT</md-button>
                        </div>
                    </div>
                </div>

            </div>
            <div layout="row">
                <div flex="50">
                    <div style="margin: 30px 0 0 0;font-size: 20px;">Products(15)</div>
                </div>
                <div flex="50" layout="column" layout-align="center end">
                    <md-button class=" md-primary">
                        close <span><md-icon><i class="material-icons">cancel</i></md-icon></span>

                    </md-button>
                </div>
            </div>

            <div ui-grid="gridProposalSummary" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav
                ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
        </div>
    </md-content>
</div>