<!-- share campaign sidenav -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="shareCampaignSidenav">
  <div layout="row">
      <div class="md-toolbar-tools">
          <div flex></div>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleShareCampaignSidenav()">
              <md-tooltip>Close Side Panel</md-tooltip>
              <md-icon class="md-default-theme"><i class="material-icons">close</i></md-icon>
          </md-button>
      </div>
  </div>
  <md-content layout-align="center center" layout-margin layout-padding>
      <h3 class="md-headline">Share Campaign</h3>
      <form name="shareCampaignForm">
          <div layout="column">
              <md-input-container class="md-block">
                  <label>Name</label>
                  <input ng-model="shareCampaign.receiver_name" name="receiver_name" required="required" />
                  <div ng-messages="shareCampaignForm.name.$error">
                      <div ng-message="required">Name is required.</div>
                      <div ng-message="pattern">Enter a valid Name.</div>
                  </div>
              </md-input-container>
              <md-input-container class="md-block">
                  <label>Email</label>
                  <input ng-model="shareCampaign.email" name="email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
                  <div ng-messages="shareCampaignForm.email.$error">
                      <div ng-message="required">Email is required.</div>
                      <div ng-message="pattern">Enter a valid Email Id.</div>
                  </div>
              </md-input-container>
              <md-button class="md-raised md-warn all_button" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,currentAdminShareCampaign)">Share Campaign</md-button>
          </div>
      </form>
  </md-content>
</md-sidenav>
<!-- share campaign sidenav ends -->
<div layout="column" layout-fill="layout-fill" class="campagin_page">
    <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
      <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
    </md-button>
    <div layout="colmun" layout-align="end center" class="campaign_search">
      <div id="CampaignSsearchInput" layout-align="center start" layout="column" flex class="hide-xs hide-md">
        <md-autocomplete ng-disabled="isDisabled" md-selected-item="campaignSelectedItem" md-search-text-change="campaignSearchTextChange(campaignSearchText)"
          md-search-text="campaignSearchText" md-selected-item-change="viewSelectedCampaign(campaign)" md-items="campaign in campaignSearch(campaignSearchText)"
          md-item-text="campaign.name" md-min-length="4" placeholder="Search..." style="width:100%" md-clear-button="true">
          <md-item-template>
            <span class="item-title">
              <span> {{campaign.name}} </span>
            </span>
            <span class="item-metadata">
              <span>
                <strong>{{campaign.first_name}} {{campaign.last_name}}</strong>
              </span>
              <span>
                <strong>{{campaign.email}}</strong>
              </span>
              <span>
                <strong>{{campaign.phone}}</strong>
              </span>
            </span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>
      </div>
      <!-- <md-button class="md-raised md-warn" ng-click="toggleAddCamapginSidenav()">
              CREATE CAMPAIGN
          </md-button> -->
      <div class="dropdown hide-xs">
        <md-button class="md-raised all_button" onclick="myFunction()">Create Campaign</md-button>
        <div id="myDropdown" class="dropdown-content contbg animated fadeInDown">
          <form name="forms.AdminownerCampaignForm" role="form" novalidate="novalidate">
              <div layout="colmun">
                  <span flex></span>
                  <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="myFunction()">
                    <md-icon class="md-default-theme">
                      <i class="material-icons">close</i>
                    </md-icon>
                  </md-button>
                </div>
            <!-- <div layout="colmun">
              <span flex></span>
              <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="myFunction()">
                <md-icon class="md-default-theme">
                  <i class="material-icons">close</i>
                </md-icon>
              </md-button>
            </div>
            <h3 class="md-body-2" style="margin-top:-31px !important;">Great,</h3>
            <h3 class="md-title">Let's start Campaign</h3>
  
            
            <div layout="row" layout-margin layout-align="center center" class="">
              <div id="dvPassport" style="width:100%;">
                <li>
                  <div class="form-group">
                    <input ng-model="ownerCampaign.name" name="name" class="form-control md-whiteframe-3dp" type="text"
                      minlength="3" maxlength="60" required="required" ng-pattern="/^[A-Za-z]+[\sA-Za-z0-9._-]*$/"
                      placeholder="Campaign Name*">
                    <div ng-messages="forms.ownerCampaignForm.name.$error" style="color:red" ng-if="forms.ownerCampaignForm.name.$touched">
                      <div ng-message="required">Campaign Name is required.</div>
                      <div ng-message="minlength">Campaign Name must have 3 characters.</div>
                      <div ng-message="maxlength">Campaign Name shouldn't exceed 30 characters. </div>
                      <div ng-message="pattern">Campaign Name should contain only Alpha Numeric and _ - . symbols.</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group ">
                    <input ng-model="ownerCampaign.org_name" name="org_name" class="form-control md-whiteframe-3dp" type="text"
                      minlength="3" maxlength="60" required="required" placeholder="Client Name">
                    <div ng-messages="forms.ownerCampaignForm.org_name.$error" style="color:red" ng-if="forms.ownerCampaignForm.org_name.$touched">
                      <div ng-message="required">Client Name is required.</div>
                      <div ng-message="minlength">Client Name must have 3 characters.</div>
                      <div ng-message="maxlength">Client Name shouldn't exceed 30 characters. </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group ">
                    <input ng-model="ownerCampaign.org_contact_phone" name="phone" only-numeric class="form-control md-whiteframe-3dp"
                      type="text" maxlength="10" required="required" placeholder="Phone Number">
                    <div ng-messages="forms.ownerCampaignForm.phone.$error" style="color:red" ng-if="forms.ownerCampaignForm.phone.$touched">
                      <div ng-message="required">Phone No is required.</div>
                      <div ng-message="maxlength">Phone No must have 10 characters.</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group ">
                    <input ng-model="ownerCampaign.org_contact_email" name="email" class="form-control md-whiteframe-3dp"
                      type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
                      placeholder="Email ID">
                    <div ng-messages="forms.ownerCampaignForm.email.$error" style="color:red" ng-if="forms.ownerCampaignForm.email.$touched">
                      <div ng-message="required">Email is required.</div>
                      <div ng-message="pattern">Enter a valid EmailId.</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group ">
                    <input ng-model="ownerCampaign.org_contact_refered" name="refered" class="form-control md-whiteframe-3dp"
                      type="text" maxlength="10" required="required" placeholder="Refered By">
                    <div ng-messages="forms.ownerCampaignForm.refered.$error" style="color:red" ng-if="forms.ownerCampaignForm.refered.$touched">
                      <div ng-message="required">Reference Name is required.</div>
                      <div ng-message="maxlength">Refered No must have 10 characters.</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <input ng-model="ownerCampaign.org_contact_Budget" name="Budget" only-numeric class="form-control  md-whiteframe-3dp"
                      type="text" maxlength="10" required="required" placeholder="Estimated Budget">
                    <div ng-messages="forms.ownerCampaignForm.Budget.$error" style="color:red" ng-if="forms.ownerCampaignForm.Budget.$touched">
                      <div ng-message="required">Budget is required.</div>                      
                    </div>
                  </div>
                </li> -->
                <!-- <li>
                  <div class="form-group">
                    <input ng-model="ownerCampaign.org_contact_Budget" name="Budget" only-numeric class="form-control  md-whiteframe-3dp"
                      type="text" maxlength="10" required="required" placeholder="Campaign Start Date">
                    <div ng-messages="forms.ownerCampaignForm.Budget.$error" style="color:red" ng-if="forms.ownerCampaignForm.Budget.$touched">
                      <div ng-message="required">Budget No is required.</div>
                      <div ng-message="maxlength">Phone No must have 10 characters.</div>
                    </div>
                  </div>
                </li> -->
              <!-- </div>
            </div>
            <md-button class="md-raised md-primary register_btn" layout-fill ng-click="saveOwnerCampaign()" ng-disabled="forms.ownerCampaignForm.$invalid">
              Create Campaign
            </md-button> -->
            <div layout="row" layout-margin layout-align="center center" class="" >
              <div id="dvPassport" style="width:100%;">
                  <li>
                      <div class="form-group ">
          
                        <input ng-model="AdminownerCampaign.name" name="name" class="form-control md-whiteframe-3dp" type="text"
                          minlength="3" maxlength="60" required="required" ng-pattern="/^[A-Za-z]+[\sA-Za-z0-9._-]*$/"
                          placeholder="Campaign Name">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.name.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.name.$touched">
                          <div ng-message="required">Campaign Name is required.</div>
                          <div ng-message="minlength">Campaign Name must have 3 characters.</div>
                          <div ng-message="maxlength">Campaign Name shouldn't exceed 30 characters. </div>
                          <div ng-message="pattern">Campaign Name should contain only Alpha Numeric and _ - . symbols.</div>
                        </div> -->
                      </div>
                    </li>
                    <li>
                      <div class="form-group ">
          
                        <input ng-model="AdminownerCampaign.org_name" name="org_name" class="form-control md-whiteframe-3dp" type="text"
                          minlength="3" maxlength="60" required="required" placeholder="Company Name">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.org_name.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.org_name.$touched">
                          <div ng-message="required">Company Name is required.</div>
                          <div ng-message="minlength">Company Name must have 3 characters.</div>
                          <div ng-message="maxlength">Company Name shouldn't exceed 30 characters. </div>
                        </div> -->
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
          
                        <input ng-model="AdminownerCampaign.org_contact_name" name="contact_name" class="form-control  md-whiteframe-3dp"
                          type="text" required="required" placeholder="Contact Name">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.org_name.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.contact_name.$touched">
                          <div ng-message="required">Contact Name is required.</div>
                        </div> -->
                      </div>
                    </li>
                    <li>
                      <div class="form-group ">
          
                        <input ng-model="AdminownerCampaign.org_contact_email" name="email" class="form-control md-whiteframe-3dp"
                          type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/"
                          placeholder="Email">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.email.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.email.$touched">
                          <div ng-message="required">Email is required.</div>
                          <div ng-message="pattern">Enter a valid EmailId.</div>
                        </div> -->
                      </div>
                    </li>
                    <li>
                      <div class="form-group ">
          
                        <input ng-model="AdminownerCampaign.org_contact_phone" name="phone" only-numeric class="form-control md-whiteframe-3dp"
                          type="text" maxlength="10" required="required" placeholder="Phone Number">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.phone.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.phone.$touched">
                          <div ng-message="required">Phone No is required.</div>
                          <div ng-message="maxlength">Phone No must have 10 characters.</div>
                        </div> -->
                      </div>
                    </li>
                    <li>
                      <div class="form-group ">
          
                        <input ng-model="AdminownerCampaign.org_contact_refered" name="refered" class="form-control md-whiteframe-3dp"
                          type="text" maxlength="10" required="required" placeholder="Refered By">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.refered.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.refered.$touched">
                          <div ng-message="required">Refered No is required.</div>
                          <div ng-message="maxlength">Refered No must have 10 characters.</div>
                        </div> -->
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input ng-model="AdminownerCampaign.est_budget" name="Budget" only-numeric class="form-control  md-whiteframe-3dp"
                          type="text" maxlength="10" required="required" placeholder="Estimated Budget">
                        <!-- <div ng-messages="forms.AdminownerCampaignForm.Budget.$error" style="color:red" ng-if="forms.AdminownerCampaignForm.Budget.$touched">
                          <div ng-message="required">Budget No is required.</div>
                          <div ng-message="maxlength">Phone No must have 10 characters.</div>
                        </div> -->
                      </div>
                    </li>
                    <md-button class="md-raised md-primary register_btn" layout-fill ng-click="saveCampaignByAdmin(AdminownerCampaign)">
                      Create Campaign
                    </md-button>
              </div>            
            </div>
          </form>
        </div>
      </div>
    </div>
    <md-tabs md-dynamic-height class="padding_cmp">
      <md-tab label="Proposals">
        <div style="margin-top: 1em;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="text_color">
                  <th class="width_1">CID</th>
                  <th class="">Campaign Name</th>
                  <th class="width_2">Start Date</th>
                  <th class="text-center hide-xs">No of Products </th>
                  <th class="text-center hide-xs">Paid</th>
                  <th class="text-center hide-xs">Total Budget</th>
                  <th class=""></th>
                  <th class="hide-xs"></th>
                </tr>
              </thead>
              <tbody class="">
                <tr ng-repeat="campaign in adminCampaigns | limitTo:limit">
                  <td class="table_vertical">{{campaign.cid}}</td>
                  <td class="table_vertical">{{campaign.name | capitalize}}</td>
                  <td class="table_vertical">{{campaign.created_at | dateify | date:'dd-MM-yyyy'}}</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.npaid || "N/A"}}</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.est_budget}}</td>
                  <td class="table_vertical text-center">
                    <md-menu md-position-mode="target-right target" id="width_popup">
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button class="pop_view" ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                            <div layout="row">
                              <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                              <p style="margin:0 4px;font-size:11px;">View Details</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button class="pop_view" ng-click="toggleShareCampaignSidenav(campaign.id)">
                            <div layout="row">
                              <md-icon><i class="material-icons">share</i></md-icon>
                              <p style="margin:0 4px;font-size:11px;">Share Campaign</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        
                          <!-- <md-button class="pop_view" ng-href="#">
                            <div layout="row">
                              <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                              <p style="margin:0 4px;font-size:11px;">Payment Details</p>
                            </div>
                          </md-button>
                        </md-menu-item> -->
                      </md-menu-content>
                    </md-menu>
                  </td>
                  <td class="table_vertical text-center hide-xs">
                    <span class="text_color md-caption">{{campaign.updated_at| timeify | date:'HH:mm a' || "N/A"}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-tab>
      <md-tab label="Scheduled">
        <div style="margin-top: 1em;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="text_color">
                  <th>CID</th>
                  <th class="text-left">Campaign Name</th>
                  <th>Start Date</th>
                  <th class="text-center hide-xs">No of Products </th>
                  <th class="text-center hide-xs">Paid</th>
                  <th class="text-center hide-xs">Total Budget</th>
                  <th></th>
                  <th class="hide-xs"></th>
                </tr>
              </thead>
              <tbody class="">
                <tr ng-repeat="campaign in scheduledCampaigns | limitTo:limit" >
                  <td class="table_vertical">{{campaign.cid}}</td>
                  <td class="text-left table_vertical">{{campaign.name | capitalize}}</td>
                  <td class="table_vertical">{{campaign.start_date | date }}</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                  <td class="text-center table_vertical hide-xs">N/A</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.est_budget}}</td>
                  <td class="text-center table_vertical">
                    <md-menu md-position-mode="target-right target">
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                            <div layout="row">
                              <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                              <p style="margin: -6px 10px 0px 10px;">View Details</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                            <div layout="row">
                              <md-icon><i class="material-icons">share</i></md-icon>
                              <p style="margin:auto 10px auto 10px">Share Campaign</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-href="#/admin/campaign-payment-details/{{campaign.id}}">
                              <div layout="row">
                                  <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                  <p style="margin:auto 10px auto 10px">Payment Details</p>
                              </div>
                          </md-button>
                      </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                  <td class="text-center table_vertical hide-xs">
                    <span class="text_color md-caption">{{campaign.updated_at | datetimeify}}</span>
                  </td>
                </tr>
              </tbody>
             
            </table>
          </div>
        </div>
  
      </md-tab>
      <md-tab label="Running">
        <div style="margin-top: 1em;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="text_color">
                  <th>CID</th>
                  <th class="">Campaign Name</th>
                  <th>Start Date</th>
                  <th class="text-center hide-xs">No of Products </th>
                  <th class="text-center hide-xs">Paid</th>
                  <th class="text-center hide-xs">Total Budget</th>
                  <th></th>
                  <th class="hide-xs"></th>
                </tr>
              </thead>
              <tbody class="">
                <tr ng-repeat="campaign in runningCampaigns | limitTo:limit" >
                  <td class="table_vertical">{{campaign.cid}}</td>
                  <td class="table_vertical">{{campaign.name | capitalize}}</td>
                  <td class="table_vertical">{{campaign.start_date | date }}</td>
                  <td class="table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                  <td class="text-center table_vertical hide-xs">N/A</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.est_budget}}</td>
                  <td class="text-center table_vertical">
                    <md-menu md-position-mode="target-right target">
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                            <div layout="row">
                              <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                              <p style="margin: -6px 10px 0px 10px;">View Details</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                            <div layout="row">
                              <md-icon><i class="material-icons">share</i></md-icon>
                              <p style="margin:auto 10px auto 10px">Share Campaign</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-href="#/admin/campaign-payment-details/{{campaign.id}}">
                              <div layout="row">
                                  <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                  <p style="margin:auto 10px auto 10px">Payment Details</p>
                              </div>
                          </md-button>
                      </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                  <td class="text-center table_vertical hide-xs">
                    <span class="text_color md-caption">{{campaign.updated_at | datetimeify}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </md-tab> 
      <md-tab label="Closed" >
        <div style="margin-top: 1em;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="text_color">
                  <th>CID</th>
                  <th class="">Campaign Name</th>
                  <th>Start Date</th>
                  <th class="text-center hide-xs">No of Products </th>
                  <th class="text-center hide-xs">Paid</th>
                  <th class="text-center hide-xs">Total Budget</th>
                  <th></th>
                  <th class="hide-xs"></th>
                </tr>
              </thead>
              <tbody class="" >
                <tr ng-repeat="campaign in closedCampaigns | limitTo:limit">
                  <td class="table_vertical">{{campaign.cid}}</td>
                  <td class="table_vertical">{{campaign.name | capitalize}}</td>
                  <td class="table_vertical">{{campaign.start_date | date }}</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.product_count || "N/A"}}</td>
                  <td class="text-center table_vertical hide-xs">N/A</td>
                  <td class="text-center table_vertical hide-xs">{{campaign.Total_budget || "N/A"}}</td>
                  <td class="text-center table_vertical">
                    <md-menu md-position-mode="target-right target">
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button ng-href="#/admin/campaign-proposal-summary/{{campaign.id}}">
                            <div layout="row">
                              <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                              <p style="margin:auto 10px auto 10px">View Details</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="toggleShareCampaignSidenav(campaign.id)">
                            <div layout="row">
                              <md-icon><i class="material-icons">share</i></md-icon>
                              <p style="margin:auto 10px auto 10px">Share Campaign</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-href="#/admin/campaign-payment-details/{{campaign.id}}">
                              <div layout="row">
                                  <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                  <p style="margin:auto 10px auto 10px">Payment Details</p>
                              </div>
                          </md-button>
                      </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </td>
                  <td class="text-center table_vertical hide-xs">
                    <span class="text_color md-caption">{{campaign.updated_at | datetimeify}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </md-tab>
    </md-tabs>
  </div>
  
  <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    function myFunctions() {
      document.getElementById("myDropdownView").classList.toggle("show");
    }
  </script>
