<div layout="column" layout-fill="layout-fill">
    <div class="md-title" style="background: #447bde;color: #fff;" layout="row">
        <div flex="50"><h3>Companies</h3></div>
        <!-- <div layout-align="center end" layout="column" flex="50">
            <md-button class="md-raised md-warn" ng-click="companiesPopup()">
                 Add New Companies <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
            </md-button>
        </div> -->
    </div>
    <div layout-margin layout="column">
    <md-tabs  md-dynamic-height class="contbg">
      <md-tab label="Companies">
          
          <div layout-align="center end" layout="column" flex="100">
            <md-button class="md-raised md-warn" ng-click="companiesPopup()">
                 Add New Companies <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
            </md-button>
        </div>
          <div ui-grid="gridCompany"  ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
          
      </md-tab>


       <md-tab label="Hoarding Companies " >
        <div layout-align="center end" layout="column" flex="100">
            <md-button class="md-raised md-warn" ng-click="hoardingCompanies()">
                 Add New Hoarding Companies <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
            </md-button>
        </div>

        <div ui-grid="gridHoardingCompany"  ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
      </md-tab> 
     
    </md-tabs>
    </div>
</div>