<!-- <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
        <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
    </md-button> -->
<div class="m-4">
	<div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <!-- Name input-->
            <div class="form-group row">
              <label class="col-md-2 control-label text_color md-title" for="name">Name</label>
              <div class="col-md-10">
                <p class="">James</p>
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group row">
              <label class="col-md-2 control-label text_color md-title" for="email">Email ID</label>
              <div class="col-md-10">
                    <p class="">Email@gmail.com</p>
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group row">
              <label class="col-md-2 control-label text_color md-title" for="message">Comments</label>
              <div class="col-md-10">
                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
            <div class="form-group row">
                    <div class="col-md-12">
                            <textarea class="form-control" id="message" name="message" placeholder="" rows="5"></textarea>
                    </div>
                  </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <!-- <button type="submit" class="btn all_button btn-lg">Reply</button> -->
                <md-button class="md-raised all_button pull-right">Reply</md-button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>