<!-- <div layout="column" layout-fill="layout-fill">
        <div class="md-title" layout="row">
                <div flex></div>
                <div flex="20" flex-sm="35">
                        <div id="customSsearchInput" layout-align="center end" layout="row" class="margin_search">
                                <md-autocomplete class="hording_search" style="width:100%" ng-disabled="isDisabled" md-selected-item="selectedItem"
                                 md-search-text="searchText" md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)"
                                 md-item-text="item.siteNo" md-min-length="4" placeholder="Search..." md-clear-button="true">
                                        <md-item-template>
                                                <span class="item-title">
                                                        <span> {{item.siteNo}} </span>
                                                </span>
                                                <span class="item-metadata">
                                                        <span>
                                                                <strong>{{item.company_name}}</strong>
                                                        </span>
                                                        <span>
                                                                <strong>{{item.address}}</strong>
                                                        </span>
                                                </span>
                                        </md-item-template>
                                </md-autocomplete>
                                <md-button class="md-raised register_btn" ng-click="getProductList()">
                                        Cancel
                                </md-button>
                        </div>
                </div>
                <div class="hide-xs" layout="row">
                        <div flex></div>
                        <div class="dropdown">
                                <md-button class="md-raised all_button" onclick="addnewProduct()">Add New Product</md-button>
                                <div id="myDropdown" class="dropdown-content contbg animated fadeInDown" style="width:700px;">
                                        <md-content class="md-padding" style="background: #fff;">
                                                <div layout="row" layout-margin>
                                                        <h4>Enter Product Details</h4>
                                                        <div flex></div>
                                                        <md-button class="md-icon-button md-button" type="button" ng-transclude="" onclick="addnewProduct()">
                                                                <i class="material-icons">close</i>
                                                                <div class="md-ripple-container"></div>
                                                        </md-button>
                                                </div>
                                                <div class="col-md-12">
                                                        <div class="form-group row">
                                                                <div class="col-sm-4">
                                                                        <input ng-model="product.siteNo" type="text" name="siteNo" placeholder="Site No" required="required"
                                                                         ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/" ng-disabled="product.status == 0" class="form-control md-whiteframe-3dp" />
                                                                </div>
                                                                <div class="col-sm-4">
                                                                        <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                                                                         data-md-container-class="selectdemoSelectHeader" required="required" name="productType" ng-disabled="product.status == 0"
                                                                         class="form-control md-whiteframe-3dp">
                                                                                <option value="" disabled selected>Site Type</option>
                                                                        </select>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                        <input ng-model="product.default_price" placeholder="Default Price" type="text" name="hoardingcost"
                                                                         ng-disabled="product.status == 0" class="form-control md-whiteframe-3dp" />
                                                                </div>
                                                        </div>
                                                </div>
                                        </md-content>
                                </div>
                        </div>
                </div>
        </div>
        <div layout="column">
                <div style="margin-top: 1em;">
                        <div class="table-responsive">
                                <table class="table table-hover">
                                        <thead>
                                                <tr class="text_color camp-text">
                                                        <th class="text-left">Site No</th>
                                                        <th>Site type</th>
                                                        <th>Ad Space Owner</th>
                                                        <th>Address</th>
                                                        <th>Impression</th>
                                                        <th>Area</th>
                                                        <th>Panel Size</th>
                                                        <th>lighting</th>
                                                        <th>Direction</th>
                                                        <th>Image</th>
                                                        <th>Symbol</th>
                                                        <th>Actions</th>
                                                </tr>
                                        </thead>
                                        <tbody class="camp-text">
                                                <tr ng-repeat="product in productList">
                                                        <td class="table_vertical text-left">{{product.siteNo}}</td>
                                                        <td class="table_vertical">{{product.format_name}}</td>
                                                        <td class="table_vertical">{{product.client_name}}</td>
                                                        <td class="table_vertical">{{product.address}}</td>
                                                        <td class="table_vertical">{{product.impressions}}</td>
                                                        <td class="table_vertical">{{product.area_name }}</td>
                                                        <td class="table_vertical">{{product.panelSize }}</td>
                                                        <td class="table_vertical">{{product.lighting}}</td>
                                                        <td class="table_vertical">{{product.direction}}</td>
                                                        <td class="table_vertical"><img ng-src="{{serverUrl + product.image}}" style="width:60px; height:40px;" ng-click="viewProductImage(product.image)" /></td>
                                                        <td class="table_vertical"><img ng-src="{{serverUrl + product.symbol}}" style="width:30px; height:30px;" /></td>
                                                        <td class="table_vertical">
                                                                <span>
                                                                        <a style="cursor:pointer;" ng-click="editProduct(product)">
                                                                                <md-icon>
                                                                                        <i class="material-icons">mode_edit</i>
                                                                                </md-icon>
                                                                        </a>
                                                                </span>
                                                                <span>
                                                                        <a style="cursor:pointer;" ng-click="deleteProduct(product)">
                                                                                <md-icon>
                                                                                        <i class="material-icons">delete</i>
                                                                                </md-icon>
                                                                        </a>
                                                                </span>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>
</div>

<script>
        function addnewProduct() {
                document.getElementById("myDropdown").classList.toggle("show");
        }
</script> -->






<div class="hoarding_list">
    <div class="md-whiteframe-2dp contbg md-caption hide-xs" layout="row" layout-margin>
        <p class="mt-4">Total Products<span class="text_color">: 2845</span></p>
        <div flex></div>
        <div class="dropdown hide-xs">
            <md-button class="md-raised all_button" onclick="addnewProduct()">Add New Product</md-button>
            <div id="myDropdown" class="dropdown-content contbg animated fadeInDown" style="width:600px;">
                <form name="hordinglistform" role="form" novalidate="novalidate">
                    <div layout="row" layout-margin>
                        <h4>Enter Product Details</h4>
                        <div flex></div>
                        <md-button class="md-icon-button md-button" type="button" onclick="addnewProduct()">
                            <i class="material-icons">close</i>
                            <div class="md-ripple-container"></div>
                        </md-button>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.siteNo" type="text" name="siteNo" placeholder="Site No"
                                       required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/" ng-disabled="product.status == 0" />
                            </div>
                            <div class="col-sm-4">
                                <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                                        class="form-control md-whiteframe-3dp select-value" data-md-container-class="selectdemoSelectHeader" required="required"
                                        name="productType" ng-disabled="product.status == 0">
                                    <option value="" disabled selected>Site Type</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.default_price" placeholder="Default Price" type="text"
                                       name="hoardingcost" ng-disabled="product.status == 0" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <select ng-model="product.client" class="form-control md-whiteframe-3dp select-value" ng-options="cl.id as cl.name for cl in allClients"
                                        ng-if="product.status != 0">
                                    <option value="" disabled selected>Select Owner</option>
                                </select>
                                <input class="form-control md-whiteframe-3dp" ng-model="product.client_name" placeholder="Client Name" type="text"
                                       name="client_name" ng-if="product.status == 0" ng-disabled="true" />
                            </div>
                            <div class="col-sm-4">
                                <select name="repeatSelect" class="form-control md-whiteframe-3dp select-value" id="repeatSelect" ng-model="product.country"
                                        ng-change="getStateList()" ng-options="country.id as country.name for country in countryList" ng-if="product.status != 0">
                                    <option value="" disabled selected>Select Country</option>
                                </select required>
                                <input class="form-control md-whiteframe-3dp" ng-model="product.country_name" placeholder="Country Name" type="text"
                                       name="country_name" ng-if="product.status == 0" ng-disabled="true" />
                            </div>
                            <div class="col-sm-4">
                                <select ng-model="product.state" class="form-control md-whiteframe-3dp select-value" ng-disabled="!product.country"
                                        md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-change="getCityList()"
                                        ng-options="state.id as state.name for state in stateList" ng-if="product.status != 0">
                                    <option value="" disabled selected>Selected State</option>
                                </select required>
                                <input class="form-control md-whiteframe-3dp" ng-model="product.state_name" placeholder="State Name" type="text"
                                       name="state_name" ng-if="product.status == 0" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <select ng-model="product.city" class="form-control md-whiteframe-3dp select-value" ng-disabled="!product.state"
                                        md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-change="getAreaList()"
                                        ng-options="city.id as city.name for city in cityList" ng-if="product.status != 0">
                                    <option value="" disabled selected>Select City</option>
                                </select>
                                <input class="form-control md-whiteframe-3dp" ng-model="product.city_name" placeholder="City Name" type="text"
                                       name="city_name" ng-if="product.status == 0" ng-disabled="true" />
                            </div>
                            <div class="col-sm-4">
                                <select ng-model="product.area" class="form-control md-whiteframe-3dp select-value" ng-disabled="!product.city"
                                        md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-options="area.id as area.name for area in areaList"
                                        ng-if="product.status != 0">
                                    <option value="" disabled selected>Select Area</option>
                                </select>
                                <input class="form-control md-whiteframe-3dp" ng-model="product.area_name" placeholder="Area Name" type="text"
                                       name="area_name" ng-if="product.status == 0" ng-disabled="true" />
                            </div>
                            <div class="col-sm-4">
                                <textarea class="form-control md-whiteframe-3dp table-address" placeholder="Address" rows="1" ng-model="product.address"
                                          ng-disabled="product.status == 0"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.impressions" placeholder="Impressions" type="text"
                                       name="impressions" required="required" />
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.panelSize" placeholder="Panel Size" type="text"
                                       name="panelSize" required="required" ng-disabled="product.status == 0" />
                            </div>
                            <div class="col-sm-4">
                                <select ng-model="product.lighting" class="form-control md-whiteframe-3dp select-value" md-on-close="clearSearchTerm()"
                                        data-md-container-class="selectdemoSelectHeader" ng-init="product.lighting = product.lighting || ''"
                                        ng-disabled="product.status == 0">
                                    <option value="" disabled>Has lighting?</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.direction" placeholder="Direction" type="text"
                                       name="direction" required="required" ng-disabled="product.status == 0" />
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.lat" placeholder="Latitude" type="text" name="lat"
                                       required="required" />
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control md-whiteframe-3dp" ng-model="product.lng" placeholder="Longitude" type="text" name="lng"
                                       required="required" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div><label for="dob">Direction Image</label></div>
                                <input class="form-control md-whiteframe-3dp" type="file" ngf-select ng-model="files.symbol" name="files.symbol"
                                       accept="image/*" ngf-max-size="2MB" ng-required="!product.id" />
                            </div>
                            <div class="col-sm-4">
                                <label for="files.image">Image</label>
                                <input class="form-control md-whiteframe-3dp" type="file" ngf-select ng-model="files.image" name="files.image"
                                       accept="image/*" ngf-max-size="10MB" ng-required="!product.id" ng-if="product.status != 0" />
                                <img ng-src="{{serverUrl + product.image}}" style="width: 100px;height: 60px;" ng-if="product.image && product.status == 0" />
                            </div>
                            <div class="col-sm-4">
                                <textarea class="form-control md-whiteframe-3dp" ng-model="product.adStrength" placeholder="Advertising Strengths"
                                          rows="3" type="text" name="adStrength" required="required" ng-disabled="product.status == 0"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <li>

                                    <div class="col-md-12">
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <input type="text" class="form-control md-whiteframe-3dp" name="siteNo" ng-model="product.siteNo"
                                                    placeholder="Product ID" required="required" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]$/">
                                              <div ng-messages="hordinglistform.siteNo.$error" ng-if="hordinglistform.siteNo.$touched" style="color:red">
                                                    <div ng-message="required">Product Id is required.</div>
                                                    <div ng-message="pattern">Product id should contain only Alpha Numeric and _ - . symbols.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                                                    class="form-control md-whiteframe-3dp" data-md-container-class="selectdemoSelectHeader" required="required"
                                                    name="productType">
                                                    <option value="" disabled selected>Product Type</option>
                                              </select>
                                              <div ng-messages="hordinglistform.productType.$error" ng-if="hordinglistform.productType.$touched"
                                                    style="color:red">
                                                    <div ng-message="required">Site type is required.</div>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <select name="country" class="form-control md-whiteframe-3dp" id="country" required="required"
                                                    ng-model="product.country" ng-change="getStateList()" ng-options="country.id as country.name for country in countryList">
                                                    <option value="" disabled selected>Area Eg: Kotha Guda</option>
                                              </select required>
                                              <div ng-messages="hordinglistform.country.$error" ng-if="hordinglistform.country.$touched" style="color:red">
                                                    <div ng-message="required">Country is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <select name="state" class="form-control md-whiteframe-3dp" id="state" ng-model="product.state"
                                                    required="required" ng-change="getCityList()" ng-options="state.id as state.name for state in stateList">
                                                    <option value="" disabled selected>Not found your type? Type here</option>
                                              </select required>
                                              <div ng-messages="hordinglistform.state.$error" ng-if="hordinglistform.state.$touched" style="color:red">
                                                    <div ng-message="required">state is required.</div>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <input class="form-control md-whiteframe-3dp" type="text" placeholder="Address">
                                            </div>
                                            <div class="col-sm-2">
                                              <input type="text"  class="form-control md-whiteframe-3dp" name="width" ng-model="product.siteNo"
                                                    placeholder="Width" required="required" ng-model-options="{ updateOn: 'blur' }">
                                              <div ng-messages="hordinglistform.siteNo.$error" ng-if="hordinglistform.siteNo.$touched" style="color:red">
                                                    <div ng-message="required">Width Id is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-2">
                                              <input type="text" class="form-control md-whiteframe-3dp" name="siteNo" ng-model="product.siteNo"
                                                    placeholder="Height" required="required" ng-model-options="{ updateOn: 'blur' }" >
                                              <div ng-messages="hordinglistform.siteNo.$error" ng-if="hordinglistform.siteNo.$touched" style="color:red">
                                                    <div ng-message="required">Height is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-2">
                                              <select ng-model="product.lighting" required="required" name="light" class="form-control md-whiteframe-3dp"
                                                    md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-init="product.lighting = product.lighting || ''"
                                                    placeholder="Has lighting?">
                                                    <option value="" disabled selected>Lit-Yes</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                              </select>
                                              <div ng-messages="hordinglistform.light.$error" ng-if="hordinglistform.light.$touched" style="color:red">
                                                    <div ng-message="required">Light is required.</div>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <input ng-model="product.direction" class="form-control md-whiteframe-3dp" required="required"
                                                    placeholder="Near Land Mark" type="text" name="direction" required="required" />
                                              <div ng-messages="hordinglistform.direction.$error" ng-if="hordinglistform.direction.$touched" style="color:red">
                                                    <div ng-message="required">direction is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <div class="input-group">
                                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Estimated Product Cost">
                                              </div>
                                            </div>
                                      </div>
            
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <input ng-model="product.cost" class="form-control md-whiteframe-3dp" required="required" placeholder="Direction / Facing"
                                                    type="text" name="cost" required="required" />
                                              <div ng-messages="hordinglistform.cost.$error" ng-if="hordinglistform.cost.$touched" style="color:red">
                                                    <div ng-message="required">Cost is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <div class="input-group">
                                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Upload Product Video if Any">
                                                    <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></span>
                                              </div>
                                            </div>
                                      </div>
            
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <select name="country" class="form-control md-whiteframe-3dp" id="country" required="required"
                                                    ng-model="product.country" ng-change="getStateList()" ng-options="country.id as country.name for country in countryList">
                                                    <option value="" disabled selected>City</option>
                                              </select required>
                                              <div ng-messages="hordinglistform.country.$error" ng-if="hordinglistform.country.$touched" style="color:red">
                                                    <div ng-message="required">Country is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <div class="input-group">
                                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Upload Product Image">
                                                    <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                                              </div>
                                            </div>
                                      </div>
            
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <select name="country" class="form-control md-whiteframe-3dp" id="country" required="required"
                                                    ng-model="product.country" ng-change="getStateList()" ng-options="country.id as country.name for country in countryList">
                                                    <option value="" disabled selected>Country</option>
                                              </select required>
                                              <div ng-messages="hordinglistform.country.$error" ng-if="hordinglistform.country.$touched" style="color:red">
                                                    <div ng-message="required">Country is required.</div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <div class="input-group">
                                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Product Calender">
                                                    <span class="input-group-addon md-whiteframe-3dp"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                                              </div>
                                            </div>
                                      </div>
            
                                      <h3 class="md-body-2"><span class="md-title">Product Strengths</span></h3>
            
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <div class="input-group">
                                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Impressions Per Week">
                                              </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <select name="country" class="form-control md-whiteframe-3dp" id="country" required="required"
                                                    ng-model="product.country" ng-change="getStateList()" ng-options="country.id as country.name for country in countryList">
                                                    <option value="" disabled selected>Visibility Score - 0-5 Good</option>
                                              </select required>
                                            </div>
                                      </div>
            
                                      <div class="form-group row">
                                            <div class="col-sm-6">
                                              <select name="country" class="form-control md-whiteframe-3dp" id="country" required="required"
                                                    ng-model="product.country" ng-change="getStateList()" ng-options="country.id as country.name for country in countryList">
                                                    <option value="" disabled selected>Targeted Audience</option>
                                              </select required>
                                            </div>
                                            <div class="col-sm-6">
                                              <div class="input-group">
                                                    <input class="form-control md-whiteframe-3dp" type="text" placeholder="Targeted Audience">
                                              </div>
                                            </div>
                                      </div>
                                      <div class="form-group row">
                                            <div class="col-sm-12" style="opacity:0.5;">
                                              Note: You can change price / details any time you want.<br>
                                              * Select only booked dates remaining dates consider as available
                                            </div>
                                      </div>
                                    </div>
                              </li> -->
                    <div class="serverErrors" ng-show="addProductErrors">
                        <ul>
                            <li ng-repeat="error in addProductErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button type="submit" Class="md-raised md-primary register_btn" ng-click="addProduct()" ng-disabled="addProductForm.$invalid">Submit</md-button>
                        <md-button Class="md-raised register_btn" onclick="addnewProduct()">Cancel</md-button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="hoarding_list_filters">
            <form class="form-inline camp_filters d-flex justify-content-between" action=""> -->
    <!-- <input type="search" placeholder="Tab ID, Area, Location" class="form-control form_hoarding" id=""> -->
    <!-- <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText" md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)" md-item-text="item.siteNo" md-min-length="4" placeholder="Search..."  md-clear-button="true">
                    <md-item-template>
                            <span class="item-title">
                                    <span> {{product.siteNo}} </span>
                            </span>
                            <span class="item-metadata">
                                    <span>
                                            <strong>{{product.company_name}}</strong>
                                    </span>
                                    <span>
                                            <strong>{{product.address}}</strong>
                                    </span>
                            </span>
                    </md-item-template>
            </md-autocomplete>
    <label class="filter_by" for="pwd">Filter By:</label>
    <div class="form-group form_up form_select"> -->
    <!-- <select class="form-control form_format" id="sel1">
            <option selected>Format</option>
            <option>Hoarding</option>
            <option>Unipole</option>
            <option>Airport</option>
    </select> -->
    <!-- <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                    class="form-control md-whiteframe-3dp" ng-change="getProductByFormat(product.type)"  data-md-container-class="selectdemoSelectHeader" required="required"
                    name="productType">
                    <option value="" disabled selected>Site Type</option>
</select>

</div>
<div class="form-group form_cal">
    <input type="date" class="form-control" placeholder=" Available From">
</div>
<div class="form-group form_cal">
    <input type="date" class="form-control" placeholder=" Available To">
</div>
<div class="form-group form_cal">
            <select class="form-control" ng-model="product.budgetprice" id="sel1" ng-change="getBudget(product.budgetprice)">
                    <option selected value="1">Budget High to Low</option>
                    <option value="0">Budget Low to High </option>
            </select>
    </div> -->
    <!-- <div class="form-group form_cal">
            <select class="form-control" id="sel1">
                    <option selected>Budget High to Low</option>
                    <option>Budget Low to High </option>
            </select>
    </div> -->
    <!-- <div class="form-check">
            <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Show Only Available
            </label>
    </div>
    <md-button class="md-raised apply_filter" ng-click="applymethod(product)">Apply Filters</md-button>
</form>
</div> -->
    <div class="">
        <form class="form-inline camp_filters d-flex justify-content-between" action="">
            <!-- <input type="search" placeholder="Tab ID, Area, Location" class="form-control form_hoarding" id=""> -->
            <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText" md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)" md-item-text="item.siteNo" md-min-length="4" placeholder="Search..."  md-clear-button="true">
                <md-item-template>
                    <span class="item-title">
                        <span> {{product.siteNo}} </span>
                    </span>
                    <span class="item-metadata">
                        <span>
                            <strong>{{product.company_name}}</strong>
                        </span>
                        <span>
                            <strong>{{product.address}}</strong>
                        </span>
                    </span>
                </md-item-template>
            </md-autocomplete>
            <label for="pwd">Filter By:</label>
            <div class="form-group form_up">
                <!-- <select class="form-control form_format" id="sel1">
                        <option selected>Format</option>
                        <option>Hoarding</option>
                        <option>Unipole</option>
                        <option>Airport</option>
                </select> -->
                <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                        class="form-control md-whiteframe-3dp" ng-change="getProductByFormat(product.type)"  data-md-container-class="selectdemoSelectHeader" required="required"
                        name="productType">
                    <option value="" disabled selected>Site Type</option>
                </select>
            </div>

            <!-- <md-autocomplete class="md-whiteframe-3dp" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText"
            md-selected-item-change="viewSelectedProduct(item)" md-items="item in productSearch(searchText)" md-item-text="item.siteNo"
            md-min-length="4" placeholder="Search..." md-clear-button="true">
            <md-item-template>
                    <span class="item-title">
                            <span> {{item.siteNo}} </span>
                    </span>
                    <span class="item-metadata">
                            <span>
                                    <strong>{{item.address}}</strong>
                            </span>
                    </span>
            </md-item-template>
    </md-autocomplete>
    <label for="pwd">Filter By:</label>
    <div class="form-group">
            <select id="productType" ng-options="format.id as format.name for format in formatList" ng-change="someFunction()"
                    ng-model="product.type" class="form-control md-whiteframe-3dp" data-md-container-class="selectdemoSelectHeader"
                    name="productType">
                    <option value="" disabled selected>Site Type</option>
            </select>
    </div> -->

            <div class="form-group form_cal">
                <md-datepicker  class="form-control" name="startDate" ng-model="product.start_date" onkeydown="return false" md-placeholder="Available From"  layout-fill></md-datepicker>
            </div>
            <div class="form-group form_cal">
                <md-datepicker  class="form-control" name="endDate" ng-model="product.end_date" onkeydown="return false" md-placeholder="Available To" md-min-date="product.start_date"  layout-fill></md-datepicker>
            </div>
            <div class="form-group form_cal">
                <select class="form-control"  ng-model="product.budgetprice" id="sel1" ng-change="getBudget(product.budgetprice)">
                    <option value="" disabled selected>Budget</option>
                    <option selected value="1">Budget High to Low</option>
                    <option value="0">Budget Low to High </option>
                </select>
            </div>
            <!-- <div class="form-check">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Show Only Available
                    </label>
            </div> -->
            <md-button class="md-raised apply_filter" ng-click="applyFiltersmethod(product)">Apply Filters</md-button>
        </form>
    </div>
    <div class="table-responsive" style="margin-bottom:50px !important">
        <table class="table">
            <thead class="text_color">
                <tr>
                    <th>Product Details</th>
                    <th></th>
                    <th>Views</th>
                    <th class="hide-xs">Lit</th>
                    <th class="hide-xs">Shortlisted in</th>
                    <th class="hide-xs">Price</th>
                    <th class="hide-xs">Calender</th>
                    <th class="hide-xs">
                    </th>
                </tr>
            </thead>
            <tbody class="contbg">
                <tr ng-repeat="product in productList">
                    <td class="image_tdwidth">
                        <img ng-src="{{serverUrl + product.image}}" alt="Smiley face" class="requ_size">
                    </td>
                    <td>
                        <p class=""><b>{{product.siteNo}} - {{product.area_name}} {{product.panelSize}}</b>
                            <br> {{product.address}}
                            <br>Facing: {{product.direction|| "N/A"}}
                            <br>Type: {{product.format_name}}</p>
                    </td>
                    <td class="table_vertical">{{product.impressions}}</td>
                    <td class="table_vertical hide-xs" ng-if="product.lighting == 1">Yes</td>
                    <td class="table_vertical hide-xs" ng-if="product.lighting == 0">No</td>
                    <td class="table_vertical hide-xs">
                        <!-- <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin">14 Campaigns</a> -->
                        <a ng-href="#/admin/product-shortlist-campagin/{{product.id}}">{{product.camapigns_count}} Campaigns</a>
                    </td>
                    <td class="table_vertical hide-xs">
                        <!-- <div class="input-group">
                                <input class="md-whiteframe-2dp" ng-model="suggestedProduct.price" type="text" only-numeric name="price"
                                 required="required" ng-pattern="/[0-9]+/" ng-disabled="!enabledLat" ng-init="suggestedProduct.price = ownerProduct.default_price"
                                 style="width:70px; padding: 4px 5px;" />
                                <span ng-click="enabledLat = true;" ng-show="!enabledLat"><i class="material-icons">edit</i></span>
                        </div> -->
                        {{product.default_price}}
                    </td>
                    <td class="text-center table_vertical hide-xs">
                        <input date-range-picker ng-model="product.booking_dates" class="form-control md-whiteframe-3dp date-picker"
                               placeholder="Product date" type="text" name="date" readonly options="rqstHrdngsOpts" id="booking_dates_picker"
                               style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
                        <a ng-click="getProductUnavailableDates(ownerProduct.id, $event);">
                            <i class="material-icons">
                                calendar_today
                            </i>
                        </a>
                    </td>
                    <td class="table_vertical hide-xs">
            <md-button class="md-raised inv_details" ng-click="editProduct(product)">Edit Details</md-button>
            </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="container" style="margin-top:20px;" ng-if="pagination.pageCount > 1">
        <ul class="pagination">
            <li class="pageResults" ng-repeat="i in pagination.pageArray track by $index" style="margin:auto;">
                <a ng-click="pagination.pageNo = i; getProductList();" 
                   ng-class="{'selected-pagelink' : pagination.pageNo == i}" 
                   style="padding:10px; font-size:18px; font-weight:bold;color:#447bde;cursor:pointer;" class="ng-binding">
                    {{i}}
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
            function addnewProduct() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
</script>