<div layout="column" layout-fill="layout-fill">
    <div class="md-title" style="background: #447bde;color: #fff;" layout="row">
        <div flex="50">
            <div class="md-title" style="margin: 10px 0 0 15px;">Hoarding List</div>
        </div>
         <div layout-align="center end" layout="column" flex="50">
            <md-button class="md-raised md-warn" ng-click="showProductForm()">
                 Add New Product <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
            </md-button>
        </div> 
    </div>
    <div  layout="column">
  
     <!-- <div ui-grid="gridProducts"  ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
    </div>  -->

    <div style="margin-top: 1em;">
        <div class="table-responsive">    
          <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                  <th>Site No</th>
                  <th>Site type</th>
                  <th>Company</th>
                  <th>Address</th>
                  <th>Impression</th>
                  <th>Area</th>
                  <th>Panel Size</th>
                  <th>lighting</th>
                  <th>Direction</th>
                  <th>Image</th>
                  <th>Symbol</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>                 
              <tr ng-repeat="product in hoardinglistdata | limitTo:limit">
                <td>{{product.siteNo}}</td>
                <td>{{product.format_name}}</td>
                <td>{{product.company_name}}</td>
                <td>{{product.address}}</td>
                <td>{{product.impressions}}</td>
                <td>{{product.area_name }}</td>
                <td>{{product.panelSize }}</td>
                <td>{{product.lighting}}</td>
                <td>{{product.direction}}</td>
                <td>{{image}}</td>
                <td>{{symbol}}</td>
                <td>
                    <span><a href="" ng-click="editProduct(product)"><md-icon><i class="material-icons">mode_edit</i></md-icon></a></span>
                    <span><a ng-href="" ng-click=""><md-icon><i class="material-icons">done</i></md-icon></a></span>
                    <span><a href="" ng-click="deleteProduct(product)"><md-icon><i class="material-icons">delete</i></md-icon></a></span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div layout="colmun" layout-align="end center" layout-margin>
          <button style="width:120px;" class="more btn btn-primary btn-block" ng-click="loadMore()">Load More!</button>
        </div>
    </div>
</div>