<div layout="column" layout-fill="layout-fill"  ng-controller="ProductCtrl">
    <div class="md-title" style="background: #447bde;color: #fff;" layout="row">
        <div flex="50">
            <div class="md-title">Hoarding List</div>
        </div>
         <div layout-align="center end" layout="column" flex="50">
            <md-button class="md-raised md-warn" ng-click="addNewProduct()">
                 Add New Product <span><md-icon md-svg-icon="assets/images/finalise.svg"></md-icon></span> 
            </md-button>
        </div> 
    </div>
    <div layout-margin layout="column">
  
    <div ui-grid="gridHoarding"  ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
    </div>
</div>