<md-tabs md-dynamic-height class="contbg">
  <md-tab label="Metro Campaign Feeds">
      <div ng-if="requestList.metroCampaignFeeds.length < 1">
          <h3 class="m-2">There is no metro campaign requests</h3>
        </div>
      <div style="margin-top: 1em;" ng-if="requestList.metroCampaignFeeds.length > 0">
          <div class="table-responsive">
              <table class="table" >
                <thead class="text_color">
                  <tr>
                    <th>CID</th>
                    <th class="">Campaign Name</th>
                    <th>Details</th>
                    <th>Action</th>
                    <th class=""></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="request in requestList.metroCampaignFeeds">
                    <td class="table_vertical">{{request.cid}}</td>
                    <td class="table_vertical">{{request.name | capitalize}}</td>
                    <td class="table_vertical">
                      <span ng-show="request.status == 1121">{{request.contact_name}} has checked out a metro campaign.</span>
                    </td>
                    <td class="table_vertical">
                      <a style="cursor:pointer;" ng-click="showCampaignDetailsPopup($event, request)" >
                          <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                            <i class="material-icons">remove_red_eye</i>
                          </md-icon>
                        </a>
                    </td>
                    <td class="table_vertical">{{request.updated_at | dateFormat}}</td>
                  </tr>
                  
                </tbody>
              </table>
          </div>
      </div>
  </md-tab>
  <md-tab label="OOH Campaign Feeds">
      <div ng-if="requestList.otherCampaignFeeds.length < 1" > 
          <h3 class="m-2">There is no OOH campaigns available</h3>
        </div>
        <div style="margin-top: 1em;" ng-if="requestList.otherCampaignFeeds.length > 0">
          <div class="table-responsive">
            <table class="table">
              <thead class="text_color">
                <tr>
                  <th>CID</th>
                  <th class="">Campaign Name</th>
                  <th>Details</th>
                  <th>Action</th>
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                <tr  ng-repeat="request in requestList.otherCampaignFeeds">
                  <td class="table_vertical">{{request.cid}}</td>
                  <td class="table_vertical">{{request.name | capitalize}}</td>
                  <td class="table_vertical">
                    <span ng-show="request.status == 200">{{request.contact_name}} has requested for a campaign proposal.</span>
                    <span ng-show="request.status == 300">{{request.contact_name}} has requested for Quote.</span>
                    <span ng-show="request.status == 400">{{request.contact_name}} has requested for a change in provided quote.</span>
                    <span ng-show="request.status == 500">{{request.contact_name}} has requested for the launch of their campaign.</span>
                  </td>
                  <td class="table_vertical">
                    <a style="cursor:pointer;"  ng-click="showCampaignDetailsPopup($event, request)">
                        <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                          <i class="material-icons">remove_red_eye</i>
                        </md-icon>
                      </a>
                  </td>
                  <td class="table_vertical">{{request.updated_at | dateFormat}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
  </md-tab>
  <md-tab label="SuggestMe Campaign">
      <div ng-if="requestList.campaignSuggestionRequests.length < 1">
          <h3 class="m-2">There is no suggest requests</h3>
        </div>

        <!-- Campaign suggestion requests -->
  
        <div style="margin-top: 1em;" ng-if="requestList.campaignSuggestionRequests.length > 0">
          <div class="table-responsive">
            <table class="table">
              <thead class="text_color">
                <tr>
                  <!-- <th>CID</th>
                  <th class="feeds_width">Camapaign Name</th> -->
                  <th>Details</th>
                  <th>Action</th>
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                <tr  ng-repeat="request in requestList.campaignSuggestionRequests">
                  <td class="table_vertical">
                    <span class="">{{request.user_full_name}} has requested for campaign suggestion.</span>
                  </td>
                  <td class="table_vertical">
                    <a style="cursor:pointer;" ng-click="showCampaignSuggestionRequestPopup($event, request)">
                        <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                          <i class="material-icons">remove_red_eye</i>
                        </md-icon>
                      </a>
                  </td>
                  <td class="table_vertical">{{request.updated_at | dateFormat}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
  </md-tab>
</md-tabs>