<div class="contbg" layout="column" flex>
  <div class="feed-section">
    <div class="section-inner">
      <div style="margin-top: 1em;">
          <div class="table-responsive">
              <table class="table" ng-if="requestList.metroCampaignFeeds.length > 0">
                <thead class="text_color">
                  <tr>
                    <th>CID</th>
                    <th class="">Campaign Name</th>
                    <th>Details</th>
                    <th>Action</th>
                    <th class=""></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="request in requestList.metroCampaignFeeds">
                    <td class="table_vertical">{{request.cid}}</td>
                    <td class="table_vertical">{{request.name | capitalize}}</td>
                    <td class="table_vertical">
                      <span ng-show="request.status == 1121">{{request.contact_name}} has checked out a metro campaign.</span>
                    </td>
                    <td class="table_vertical">
                      <a style="cursor:pointer;" ng-click="showCampaignDetailsPopup($event, request)" >
                          <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                            <i class="material-icons">remove_red_eye</i>
                          </md-icon>
                        </a>
                    </td>
                    <td class="table_vertical">{{request.updated_at | datetimeify}}</td>
                  </tr>
                  
                </tbody>
              </table>
          </div>
      </div>
      <!-- Metro feeds end -->

      <div class="clearfix"></div>
        <h4 class="text_color" layout-padding>OOH Campaign Feeds</h4>
      
        <!-- Campaign Proposals, Launch requests etc -->
      <div ng-if="requestList.otherCampaignFeeds.length < 1" > 
        <h3>There is no OOH campaigns available</h3>
      </div>
      <div style="margin-top: 1em;">
          <div class="table-responsive">
       <table class="table">
        <thead class="text_color">
          <tr>
            <th>CID</th>
            <th class="">Campaign Name</th>
            <th>Details</th>
            <th>Action</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          <tr  ng-repeat="request in requestList.otherCampaignFeeds">
            <td class="table_vertical">{{request.cid}}</td>
            <td class="table_vertical">{{request.name | capitalize}}</td>
            <td class="table_vertical">
              <span ng-show="request.status == 200">{{request.contact_name}} has requested for a campaign proposal.</span>
              <span ng-show="request.status == 300">{{request.contact_name}} has requested for Quote.</span>
              <span ng-show="request.status == 400">{{request.contact_name}} has requested for a change in provided quote.</span>
              <span ng-show="request.status == 500">{{request.contact_name}} has requested for the launch of their campaign.</span>
            </td>
            <td class="table_vertical">
              <a style="cursor:pointer;"  ng-click="showCampaignDetailsPopup($event, request)">
                  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                    <i class="material-icons">remove_red_eye</i>
                  </md-icon>
                </a>
            </td>
            <td class="table_vertical">{{request.updated_at | datetimeify}}</td>
          </tr>
          
        </tbody>
      </table>
      </div>
      </div>
      <!-- Campaign Proposals, Launch requests etc end-->
      <div ng-if="requestList.campaignSuggestionRequests.length < 1">
        <h3>There is no suggest requests</h3>
      </div>
      <div class="clearfix"></div>
      <hr ng-if="requestList.campaignSuggestionRequests.length > 0" /><br />
      <h4 class="text_color" layout-padding ng-if="requestList.campaignSuggestionRequests.length > 0">Suggestion Requests</h4>
      <br />

      <!-- Campaign suggestion requests -->

      <div style="margin-top: 1em;">
          <div class="table-responsive">
      <table class="table">
        <thead class="text_color">
          <tr>
            <!-- <th>CID</th>
            <th class="feeds_width">Camapaign Name</th> -->
            <th>Details</th>
            <th>Action</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          <tr  ng-repeat="request in requestList.campaignSuggestionRequests">
            <td class="table_vertical">
              <span class="">{{request.user_full_name}} has requested for campaign suggestion.</span>
            </td>
            <td class="table_vertical">
              <a style="cursor:pointer;" ng-click="showCampaignSuggestionRequestPopup($event, request)">
                  <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                    <i class="material-icons">remove_red_eye</i>
                  </md-icon>
                </a>
            </td>
            <td class="table_vertical">{{request.updated_at | datetimeify}}</td>
          </tr>
          
        </tbody>
      </table>
      </div>
      </div>
      <!-- Campaign suggestion requests end -->
    </div>
  </div>
</div>