<div layout="column" layout-fill="layout-fill">
	<div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
		<div class="md-title">
			List Of Location
    </div>
  </div>
	<div layout-margin layout="column">
		 <!-- <div ui-grid="gridLocation" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns
		 ui-grid-auto-resize class="grid"></div>  -->
		<div style="margin-top: 1em;">
          <div class="table-responsive">    
            <table class="table table-striped table-bordered ">
              <thead>
                  <tr>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Area</th>
                    <th>Pincode</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    
                    <!-- <th>Actions</th> -->
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="locations in listoflocationdata | limitTo:locPaginationLimit:locPageIndex">
                  <td>{{locations.country_name}}</td>
                  <td>{{locations.state_name}}</td>
                  <td>{{locations.city_name}}</td>
                  <td>{{locations.name}}</td>
                  <td>{{locations.pincode }}</td>
                  <td>{{locations.lat }}</td>
                  <td>{{locations.lng }}</td>
                  <!-- <td>
                    <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">mode_edit</i></md-icon></a></span>
                    <span><a ng-href="#" ng-click=""><md-icon><i class="material-icons">delete</i></md-icon></a></span>
                  </td> -->
                </tr>      
              </tbody>
            </table>
          </div>
          <!-- <div layout="colmun" layout-align="end center" layout-margin>
            <button style="width:120px;" class="more btn btn-primary btn-block" ng-click="AllLocationsloadMore()">Load More!</button>
          </div> -->
          <div class="container" ng-if ="listoflocationdata.length > 0">
            <ul class="pagination">
                <li class="page-item" ng-click="allLocationPrev()">
                     <a class="page-link" ng-class="{'disable-pagination': (locPageIndex <= 0)}">Prev</a>
                </li>
                <li class = "pageResults">
                    {{locPageIndex + 1 + ' - ' + (locPaginationLimit + locPageIndex > listoflocationdata.length?listoflocationdata.length:locPaginationLimit + locPageIndex)}} of {{listoflocationdata.length}}
                </li>
                <li class="page-item" ng-click="AllLocationsloadMore()">
                    <a class="page-link" ng-class="{'disable-pagination': (locPageIndex + locPaginationLimit >= listoflocationdata.length)}">Next</a>
                </li>
              </ul>
          </div>
      	</div>
	</div>
</div>