<div layout="column" layout-fill="layout-fill">

    <div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
        <div>
            <h3>Add Area</h3>
        </div>
    </div>

<form name="areaform" novalidate>
    <div layout="column" layout-margin layout-padding flex="50">
        <div layout="column" layout-margin layout-padding flex="50">
            <md-input-container>
                <label>Select Country </label>
                <md-select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="area.country_id" ng-change="getStateList(area.country_id)"required>
                    <md-select-header class="demo-select-header">
                        <input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-option ng-repeat="country in countryList | filter:searchTerm" value="{{country.id}}">{{country.name}}</md-option>
                </md-select required>

            </md-input-container>
            <md-input-container>
                <label>Select State </label>
                <md-select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="area.state_id" ng-change="getCityList(area.state_id)"required>
                    <md-select-header class="demo-select-header">
                        <input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-option ng-repeat="state in stateListForCountry | filter:searchTerm" value="{{state.id}}">{{state.name}}</md-option>
                </md-select required>

            </md-input-container>

            <md-input-container>
                <label>Select City </label>
                <md-select name="repeatSelect" class="select-value" id="repeatSelect" ng-model="area.city_id"required>
                    <md-select-header class="demo-select-header">
                        <input ng-model="searchTerm" type="search" placeholder="Search for a Country.." class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-option ng-repeat="city in cityListForState | filter:searchTerm" value="{{city.id}}">{{city.name}}</md-option>
                </md-select required>

            </md-input-container>
            <md-input-container class="md-block">
                <label>Enter Area Name</label>
                <input ng-model="area.area_name" type="text" name="area_name" required />
                <div ng-messages="areaform.area_name.$error">
                    <div ng-message="required">Area Name is required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block ">
                <label>Enter Pincode</label>
                <input ng-model="area.pincode" type="text" name="pincode" required />
                <div ng-messages="areaform.pincode.$error">
                    <div ng-message="required">Pincode is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block margin-input">
                <label>Latitude</label>
                <input ng-model="area.lat" type="text" name="lat" required />
                <div ng-messages="areaform.lat.$error">
                    <div ng-message="required">Latitude is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block margin-input">
                <label>Longitude</label>
                <input ng-model="area.lng" type="text" name="lng" required />
                <div ng-messages="areaform.lng.$error">
                    <div ng-message="required">Longitude is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button Class="md-raised md-primary" type="submit" ng-click="saveArea()">SUBMIT</md-button>
            <md-button Class="md-raised" ng-click="resetAreaForm()">CANCEL</md-button>
        </div>
    </div>
</form>
    <div ui-grid="gridArea" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns
        ui-grid-auto-resize class="grid"></div>
</div>

</div>