<div layout="column" layout-fill="layout-fill" ng-controller="adminLocationCtrl">

    <div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
        <div>
            Add Countery
        </div>
    </div>

    
    <div layout="column" layout-margin layout-padding flex="50">
        <div layout="column" layout-margin layout-padding flex="50">
            <md-input-container class="md-block" >
                <label>Enter Countery Name</label>
                <input ng-model="country.name" type="text" name="counteryname" required="required" />
                <div ng-messages="country.$error">
                    <div ng-message="required">Counter Name is required</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button Class="md-raised md-primary" ng-click="saveCountry()">SUBMIT</md-button>
            <md-button Class="md-raised" ng-click="cancel()">CANCEL</md-button>
        </div>
    </div>

     <div ui-grid="gridCountery"  ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
    </div>
    
</div>