<div layout="column" layout-fill="layout-fill">

	<div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
		<div class="md-title">
			Metro packages
		</div>
	</div>

	<form role="form" style="margin: 1em"   name="metroPackage">
		<input type="hidden" ng-model="package.id" />
		<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-5">
					<input ng-model="package.name" type="text" name="name" placeholder="Name" class="form-control" maxlength="30" required="required" />
					<div ng-messages="metroPackage.name.$error" ng-if="!metroPackage.name.$untouched" style="color: red">
						<p ng-message="required"> Name is required</p>
					  </div>
				</div>
			</div>
		<div class="form-group row">
			<label for="area" class="col-sm-2 col-form-label">Select Corridor</label>
			<div class="col-sm-5">
					<select name="corridor" class="form-control" id="corridor" ng-model="package.corridor_id" ng-options="corr.id as corr.name for corr in metroCorridorList" required="required" placeholder="Select Corridor" >
						
					</select>
					
			</div>
		</div>
		<div class="form-group row">
			<label for="productType" class="col-sm-2 col-form-label">Format Type</label>
			<div class="col-sm-5">
				<select name="format" class="form-control" id="format" ng-model="package.format_id" ng-options="format.id as format.name for format in formatList" required="required" placeholder="Select Format">
					
				</select>
				
			</div>
		</div>
	<!--	<div class="form-group row">
			<label for="duration" class="col-sm-2 col-form-label">Duration</label>
			
			<div class="col-sm-3">
					<select name="day" class="form-control" id="day44" ng-model="package.days"  required="required" placeholder="Select days" >
							<option value = "" disabled>Select days</option>
						 <option value = "7">7</option>
						 <option value = "14">14</option>
						 <option value = "28">28</option>
						 <option value = "60">60</option>
						 <option value = "90">90</option>
					</select>
				
				<div ng-messages="metroPackage.day.$error" ng-if="!metroPackage.day.$untouched" style="color: red">
					<p ng-message="required"> Day is required</p>
				  </div>
			</div>
		</div>-->
		
		<div class="form-group row">
			<label for="max_trains" class="col-sm-2 col-form-label">Max. Trains</label>
			<div class="col-sm-5">
					<select name="max_trains" class="form-control" id="day11" ng-model="package.max_trains"  required="required" placeholder="Select Trains" >
							<option value = "" disabled>Select Trains</option>
						 <option value = "5" ng-selected="package.max_trains==5">5</option>
						 <option value = "10" ng-selected="package.max_trains==10">10</option>
						 <option value = "15" ng-selected="package.max_trains==15">15</option>
						 <option value = "20" ng-selected="package.max_trains==20">20</option>
						 <option value = "25" ng-selected="package.max_trains==25">25</option>
						 <option value = "30" ng-selected="package.max_trains==30">30</option>
						 <option value = "35" ng-selected="package.max_trains==35">35</option>
					</select>
				<div ng-messages="metroPackage.max_trains.$error" ng-if="!metroPackage.max_trains.$untouched" style="color: red">
					<p ng-message="required"> Max trains is required</p>
				  </div>
			</div>
		</div>
		<div class="form-group row">
			<label for="max_slots" class="col-sm-2 col-form-label">Max. Slots</label>
			<div class="col-sm-5">

				<input ng-model="package.max_slots" type="number"  name="max_slots" placeholder="Max no. of slots allowed a day" class="form-control"  min="0" required="required" />
				<div ng-messages="metroPackage.max_slots.$error" ng-if="!metroPackage.max_slots.$untouched" style="color: red">
					<p ng-message="required"> Max slots is required</p>
				  </div>
			</div>
		</div>
		<div class="form-group row">
				<label for="price" class="col-sm-2 col-form-label">Price</label>
				<div class="col-sm-5">
					<input ng-model="package.price" type="number" name="price" placeholder="price" class="form-control" min="1" required="required"/>
					<div ng-messages="metroPackage.price.$error" ng-if="!metroPackage.price.$untouched" style="color: red">
						<p ng-message="required"> Price is required</p>
						</div>
				</div>
			</div>
		<div class="serverErrors" ng-show="stateErrors && !addPackageErrors.length == 0">
			<ul>
				<li ng-repeat="error in addPackageErrors">
					{{error}}
				</li>
			</ul>
		</div>
		<div class="form-group" style="margin:10px 0">
			<label class="col-md-3 control-label"></label>
			<input class="btn btn-primary" ng-click="savePackage(package)" value="Save" type="button" ng-disabled="metroPackage.$invalid">
			<span></span>
			<input class="btn btn-default" value="Cancel" type="reset" ng-click="package = {};">
		</div>
	</form>
	<!-- tables grid html start-->
	<div style="margin: 1em;">
		<div class="table-responsive">
			<table class="table table-striped table-bordered ">
				<thead>
					<tr>
						<th>Name</th>
						<th>Corridor</th>
						<th>Format</th>
						<th>Price</th>
						<th>Max. Trains</th>
						<th>Slots</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="metroPackage in metroPackageList">
						<td>{{metroPackage.name}}</td>
						<td>{{metroPackage.corridor}}</td>
						<td>{{metroPackage.format}}</td>
						<td>{{metroPackage.price}}</td>
						<td>{{metroPackage.max_trains}}</td>
						<td>{{metroPackage.max_slots}}</td>
						<td>
							<span>
								<a style="cursor:pointer;" ng-click="editPackage(metroPackage)">
									<md-icon>
										<i class="material-icons">mode_edit</i>
									</md-icon>
								</a>
							</span>
							<span>
								<a style="cursor:pointer;" ng-click="deletePackage(metroPackage.id)">
									<md-icon>
										<i class="material-icons">delete</i>
									</md-icon>
								</a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- tables grid html end-->
</div>