<div layout="column">
        <div layout="row" class="" layout-padding>
    
            <div class="md-caption text_color">This Product Shortlisted In - {{adminprod.camapigns_count}} Campaigns </div>
            <div flex></div>
            <!-- <div>
                <md-button class="md-raised md-primary">ADD NEW PRODUCT</md-button>
            </div> -->
        </div>
        <section class="product_">
            <div class="row mr-0 ml-0 product_ineer">
                <div class="col-md-7">
                    <div class="produt_img">
                        <img src="assets/images/owner/hoardings2.png" alt="produt_img" />
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="product_detailes">
                        <p class="mb-0 md-body-2">{{shortlistedproduct.product_detail.siteNo}} - {{shortlistedproduct.product_detail.area_name}} ({{shortlistedproduct.product_detail.panelSize}})</p>
                        <p class="mb-0">{{shortlistedproduct.product_detail.address}}</p>
                        <p class="mb-0">Facing:{{shortlistedproduct.product_detail.direction}}</p>
                        <p class="mb-0">Type:{{shortlistedproduct.product_detail.format_name}}</p>
    
                    </div>
                </div>
            </div>
            <div style="margin-top: 2em;">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr class="text_color text-center">
                                <th>CID</th>
                                <th>Campaign Name</th>
                                <th>Start Date</th>
                                <th>No of Products </th>
                                <th>Paid</th>
                                <th>Total Budget</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                
                            <tr ng-repeat="product in shortlistedproduct.campaign_list">
                                <td>{{product.cid}}</td>
                                <td>Billboards</td>
                                <td>15-08-2018</td>
                                <td>10</td>
                                <td>10,1000</td>
                                <td>10,10001</td>
                                <td>
                                    <md-menu md-position-mode="target-right target">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                            <md-icon md-menu-origin><i class="fa fa-ellipsis-v"></i></md-icon>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-href="#">
                                                    <div layout="row">
                                                        <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                                        <p style="margin:auto 10px auto 10px">View Details</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <!-- <md-menu-item>
                                                <md-button ng-href="#">
                                                    <div layout="row">
                                                        <md-icon><i class="material-icons">share</i></md-icon>
                                                        <p style="margin:auto 10px auto 10px">Share Campaign</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-href="#">
                                                    <div layout="row">
                                                        <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                                        <p style="margin:auto 10px auto 10px">Pay Now</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-href="#/owner/{{clientSlug}}/campaign-details/{{campaign.id}}/{{campaign.type}}">
                                                    <div layout="row">
                                                        <md-icon><i class="material-icons">remove_red_eye</i></md-icon>
                                                        <p style="margin:auto 10px auto 10px">Payment Details</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item> -->
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                                <td>
                                    <span class="text_color md-caption">26-09-2018,09:10Am</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </section>
    </div>