<style>
  .querieview{
    color:limegreen;
  }
</style>
<div layout="column" layout-fill="layout-fill">
    <div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
        <divstyle="margin: 5px 0 0 15px;">Queries</div>
    </div>
    <!-- <div layout-margin layout="column"  style="background: #fff;color:#000;" class="md-whiteframe-2dp">
        <div class="md-title">List Of Queries</div>
    </div> -->
    <!-- <div layout-margin layout="column">
        <div ui-grid="gridQueries" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
    </div> -->
    <div style="margin-top: 1em;">
        <div class="table-responsive">
          <table class="table table-striped table-bordered ">
            <thead>
              <tr>
                <th>Sr.no</th>
                <th>Name</th>
                <th>Email Id</th>
                <th>Company name</th>
                <th>Message</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="Queries in QueriesData | limitTo:limit">
                <td>{{$index +1}}</td>
                <td>{{Queries.name}}</td>
                <td>{{Queries.email}}</td>
                <td>{{Queries.companyName}}</td>
                <td>{{Queries.message}}</td>
                <td><span><a ng-click=""><md-icon style="cursor: pointer;">
                  <i class="material-icons" ng-click="showConfirm(Queries)" ng-class="{querieview: Queries.viewed || qerieviewed}">remove_red_eye</i></md-icon></a></span></td>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>