<div layout="column" layout-fill="layout-fill" >
    <div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
        <div><h3>Subscribers</h3></div>
    </div>
    <div layout-margin layout="column"  style="background: #fff;color:#000;" class="md-whiteframe-2dp">
        <div><h3>List Of Subscribers</h3></div>
    </div>
    <div layout-margin layout="column">
        <div ui-grid="gridSubscribers" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
    </div>
</div>