<div layout="column" layout-fill="layout-fill">
    <div class="md-title" style="background: #447bde;color: #fff;padding:5px" layout="row">
        <divstyle="margin: 5px 0 0 15px;">Queries</div>
    </div>
    <div layout-margin layout="column"  style="background: #fff;color:#000;" class="md-whiteframe-2dp">
        <div class="md-title">List Of Queries</div>
    </div>
    <div layout-margin layout="column">
        <div ui-grid="gridQueries" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-move-columns ui-grid-auto-resize class="grid"></div>
    </div>
</div>