<style>
        .daterangepicker option.disabled, .daterangepicker td.disabled {
          color: #fff;
          cursor: not-allowed;
          background: #ddd;
          border: 1px solid #fff;
          border-radius: 0px;
          /* text-decoration: line-through; */
        }
        .gray-blocked{
          background:#ddd;
        }
        .red-blocked{
          background:#f00 !important;
        }
        .daterangepicker {
          /* position: absolute; */
          color: inherit;
          background-color: #fff;
          border-radius: 4px;
          border: 1px solid #ddd;
          width: 340px !important;
          max-width: none;
          padding: 0;
          margin-top: 7px;
          top: 0px;
          left: 0px;
          right: 14% !important;
          z-index: 1;
          display: none;
          font-family: arial;
          font-size: 15px;
          line-height: 1em;
      }
      @media screen and (min-width:320px) and (max-width: 563px){
          .daterangepicker {
          /* position: absolute; */
          color: inherit;
          background-color: #fff;
          border-radius: 4px;
          border: 1px solid #ddd;
          width: 280px !important;
          max-width: none;
          padding: 0;
          margin-top: 7px;
          top: 0px;
          left: 10px;
          right: 8% !important;
          z-index: 1;
          display: none;
          font-family: arial;
          font-size: 15px;
          line-height: 1em;
      }
      .daterangepicker.opensright:before {
          left: 240px;
      }
      .daterangepicker.opensright:after {
          left: 241px;
      }
      }
      </style>
      <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
          <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
      </md-button>
      
      <div class="product__filter">
          <form class="form-inline camp_filters d-flex"  action="">
              <md-autocomplete class="md-whiteframe-3dp add_mobile" ng-disabled="isDisabled" md-selected-item="selectedItem" md-search-text="searchText" md-selected-item-change="viewSelectedProduct(item)" md-search-text-change="viewSearchText(searchText)"  md-items="item in productSearch(searchText)" md-item-text="item.siteNo" md-min-length="3" placeholder="Search..."  md-clear-button="true">
                  <md-item-template>
                      <span class="item-title">
                          <span> {{item.siteNo}} </span>
                      </span>
                      <span class="item-metadata">
                          <span>
                              <strong>{{item.company_name}}</strong>
                          </span>
                          <span>
                              <strong>{{item.address}}</strong>
                          </span>
                      </span>
                  </md-item-template>
              </md-autocomplete>
              <label for="pwd" class="hide-xs add_filterby">Filter By:</label>
              <div class="form-group form_up hide-xs">
                  <select id="productType" ng-options="format.id as format.name for format in formatList" ng-model="product.type"
                          class="form-control md-whiteframe-3dp add_filtermobile" ng-change="getProductByFormat(product.type)"  data-md-container-class="selectdemoSelectHeader" required="required"
                          name="productType">
                      <option value="" disabled selected>Site Type</option>
                  </select>
              </div>
              <div class="form-group form_cal hide-xs">
                  <md-datepicker  class="form-control" name="startDate" ng-model="product.start_date" onkeydown="return false" md-placeholder="Available From"  layout-fill style="border: none;"></md-datepicker>
              </div>
              <div class="form-group form_cal hide-xs">
                  <md-datepicker  class="form-control" name="endDate" ng-model="product.end_date" onkeydown="return false" md-placeholder="Available To" md-min-date="product.start_date"  layout-fill style="border: none;"></md-datepicker>
              </div>
              <div class="form-group form_cal hide-xs">
                  <select class="form-control"  ng-model="product.budgetprice" id="sel1" ng-change="getBudget(product.budgetprice)">
                      <option value="" disabled selected>Budget</option>
                      <option selected value="1">Budget High to Low</option>
                      <option value="0">Budget Low to High </option>
                  </select>
              </div>
              <md-button class="md-raised apply_filter hide-xs" ng-click="applymethod(product)">Apply Filters</md-button>
          </form>
      </div>
      
      
      <!-- product list -->
      <div class="table-responsive" style="margin-bottom:115px !important">
          <table class="table">
              <thead class="text_color">
                  <tr>
                      <th>Product Details</th>
                      <th class="hide-xs"></th>
                      <th class="">Views</th>
                      <th class="">Lit</th>
                      <th class="text-center">Shortlisted in</th>
                      <th class="">Price</th>
                      <th class="text-center">Calender</th>
                      <th class="">Visible on Map</th>
                      <th class="">
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="image_tdwidth hide-xs">
                          <img src="{{config.serverUrl + product.image}}" alt="Smiley face" class="requ_size img-thumbnail">
      
                      </td>
                      <td class="table_address">
                          <p class=""><b>{{product.siteNo}} - {{product.area_name}} {{product.panelSize}}</b>
                              <br> {{product.address | capitalize}}
                              <br>Facing : {{product.direction|| "N/A" | capitalize}}
                              <br>Type : {{product.format_name | capitalize}}
                      </td>
                      <td class="table_vertical">{{product.impressionsperweek}}</td>
                      <td class="table_vertical" ng-if="product.lighting == 1">Yes</td>
                      <td class="table_vertical" ng-if="product.lighting == 0">No</td>
                       <td class="table_vertical" ng-if="product.lighting != 0 && product.lighting != 1">{{product.lighting}}</td>
                      <td class="text-center table_vertical">
                          <a ng-href="#/owner/{{clientSlug}}/product-shortlist-campagin/{{product.id}}">{{product.camapigns_count}} Campaigns</a>
                      </td>
                      <td class="text-center table_vertical table_price">
                          <div class="input-group">
      
                              {{(!myfield)?product.default_price:''}}
                              <input type="text" class="" ng-model="product.default_price" placeholder="Price" ng-if="myfield" style="width: 70px;padding: 4px 5px;" />
                              <span ng-click="myfield = true;" ng-show="!myfield"> <i class="material-icons">edit</i></span>
                              <span ng-click="myfield = false;changeProductPrice(product)"  ng-show="myfield"> <i class="material-icons">check</i></span>
      
                          </div>
                      </td>
                      <td class="text-center table_vertical text-center">
                          <input date-range-picker ng-model="product.booking_dates" class="form-control md-whiteframe-3dp date-picker"
                                 placeholder="Product date" type="text" name="date" readonly options="rqstHrdngsOpts" id="booking_dates_picker"
                                 style="visibility: hidden; margin-bottom: -20px; width:2px; height:2px;" />
                          <a ng-click="getProductUnavailableDates(product.id, $event);">
                              <i class="fa fa-calendar" aria-hidden="true" ng-if="product.booking_dates == 0"></i>
                            </a>
                            <a ng-click="getProductUnavailableDates(product.id, $event);">
                              <i class="fa fa-calendar material-Cal" aria-hidden="true" ng-if="product.booking_dates != 0"></i>
                            </a>
                      </td>
                      <td class="text-center table_vertical">
                          <div class="form-group form_yes" ng-init="(product.product_visibility == 'undefined' || product.product_visibility == '') ? '1' : '0'">
                              <select class="form-control" style="width: 70px;" ng-model="product.product_visibility" ng-change="product_visibility(product.product_visibility, product.id)" >
                                  <option ng-selected="(product.product_visibility == 1) ? true : false" value = "1">Yes</option>
                                  <option ng-selected="(product.product_visibility == 0) ? true : false" value = "0">No</option>
                              </select>
                          </div>
                      </td>
                      <td class="table_vertical text-right">
              <md-button class="md-raised inv_details" ng-href="#/agency/aeditproduct-details">Edit Details</md-button>
              </td>
      
              </tr>
              </tbody>
          </table>
      </div>
      </div>
      <script>
                  function addnewProduct() {
                      document.getElementById("myDropdown").classList.toggle("show");
                  }
      </script>