<div layout="column" layout-fill="layout-fill" class="campagin_page">
    <md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
        <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
    </md-button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text_color">
                    <th>CID</th>
                    <th class="feeds_width">Campaign Name</th>
                    <th>Paid</th>
                    <th class="">Pending</th>
                    <th class="">Total</th>
                    <th>Action</th>
                    <th class=""></th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <td class="table_vertical">BB-864976</td>
                    <td class="table_vertical">Sample</td>
                    <td class="table_vertical">59,000.00</td>
                    <td class="table_vertical">300,000.00</td>
                    <td class="table_vertical">300,000.00</td>
                    <td class="table_vertical">
                        <a style="cursor:pointer;" ng-href="#/agency/aupdatepayment">
                            <md-icon class="material-icons" role="img" aria-label="remove_red_eye">
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                        </a>
                    </td>
                    <td class="text-center table_vertical">
            <md-button class="md-raised md-primary all_button" ng-if="campaign.total_paid == 0">Payment Alert</md-button>
            
            </td>
            <td class="text-center table_vertical">2019-05-14 14:51:32</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
