<md-button aria-label="" ng-href="#owner/home" md-no-ink style="background:transparent" class="logo hs-lg hide-gt-md hide-md">
    <img ng-src="assets/images/owner/owner_logo.png" width="140" alt="owner logo">
  </md-button>
  <div class="ml-2 mr-2 mt-2 mb-2 md-whiteframe-2dp contbg mobile_campdetails">
    <div class="row" style="margin-left:0px; margin-right:0px;">
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 payment_mng"
        style="margin-top:14px;">
        <p class="cmp_bottom">Campaign ID</p>
        <p class="md-caption mob_span"><b>{{campaignPaymentDetails.cid || "N/A"}}</b></p>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-3 payment_mng"
        style="margin-top:14px;">
        <p class="cmp_bottom">Campaign Name</p>
        <p class="md-caption mob_span"><b>{{campaignPaymentDetails.name | capitalize}}</b></p>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-5 payment_nng"
        style="margin-top:14px;">
        <p class="cmp_bottom">No of Products</p>
        <p class="md-caption mob_span mob_5"><b>{{campaignPaymentDetails.product_count || "N/A"}}</b></p>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2 payment_nng">
          <div class="dropdown">
            <md-button onclick="shareownerCampaign()" class="dropbtn drop_width">
                <p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icon">
                    reply_all
                  </i></span></p>
              <p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Share Campaign</p>
            </md-button>
            <div id="ownerupdatepaymentDrop" class="dropdown-content contbg animated fadeInDown contant_drop share_detailsmob" style="padding:10px;">
            <form name="forms.ownerCampaignForm" role="form" novalidate="novalidate">
              <div layout="colmun">
              <span flex></span>
              <md-button class="md-icon-button" aria-label="Close Side Panel" onclick="shareownerCampaign()">
                <md-icon class="md-default-theme">
                <i class="material-icons">close</i>
                </md-icon>
              </md-button>
              </div>
              <h3 class="md-title" style="margin-top:-28px;margin-left: 11px;">Share Campaign</h3><br>
              <form name="shareCampaignForm">
                <div layout="column" style="padding:10px;">
                  <div class="form-group">
                    <input ng-model="shareCampaign.receiver_name" class="form-control" name="receiver_name" placeholder="Name" required="required" />
                    <div ng-messages="shareCampaignForm.receiver_name.$error">
                      <div ng-message="required">Name is required.</div>
                      <div ng-message="pattern">Enter a valid Name.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input ng-model="shareCampaign.email" name="email" class="form-control" placeholder="Email" type="email" required="required" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._-]+[A-Za-z0-9]+@[a-z0-9]+.[A-Za-z]{2,4}$/" />
                    <div ng-messages="shareCampaignForm.email.$error">
                      <div ng-message="required">Email is required.</div>
                      <div ng-message="pattern">Enter a valid Email Id.</div>
                    </div>
                  </div>
                  <div class="offset-md-7 col-md-5" style="padding-right: 0px;">
                      <md-button class="md-raised md-warn Upload_font" layout-fill ng-click="shareCampaignToEmail($event, shareCampaign,campaignPaymentDetails.id)">Share
                          Campaign</md-button>
                  </div>
                  
                </div>
              </form>
            </form>
            </div>
          </div>
          </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-4 payment_nng"
      style="cursor: pointer;">			
       <div class="md-grid-item-content hoarding-btn" ng-class="{'red':selectedFormatIndex == 0}" ng-click="selectedFormatIndex = 0">
           <a ng-click="downloadOwnerQuote(campaignPaymentDetails.id)" download>
       <md-button class="dropbtn drop_width">
           <p class="cmp_bottom md-caption" style="margin-bottom: 0px;"><span><i class="material-icons i_icondown">
               file_copy
             </i></span></p>
         <p class="mob_spanicon share_icon" style="margin-bottom: 0px;">Download Quotation</p>
       </md-button>
     </a>
     </div>
     </div>
    </div>
  </div>
  
  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="text_color">
        <tr>
          <th>Image</th>
          <th>Mode of Payment</th>
          <th>Reference No.</th>
          <th>Paid</th>
          <th>Received By</th>
          <th>Comment</th>        
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td class="image_tdwidth">
                <img ng-src="{{config.serverUrl + payment.image}}" alt="Smiley face"
                class="requ_size img-thumbnail" style="width: 165px !important;height: 100px !important;"></td>
          <td class="table_vertical">{{payment.type || "N/A" | capitalize}}</td>
          <td class="table_vertical">{{payment.reference_no || "N/A"}}</td>
          <td class="table_vertical">{{payment.amount || "N/A"}}</td>
          <td class="table_vertical">{{payment.received_by || "N/A"}}</td>
          <td class="table_vertical">{{payment.comment}}</td>        
          <td class="table_vertical">{{payment.updated_at | dateify | date: "dd-MMM-yyyy" || "N/A"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <div class="row border_quest">
  </div>
  
  
  
  <div class="small-wrapper mt0">
    <div class="smallContainer">
      <div class="payment-summary">
        <ul id="double">
          <li class="col1">Total :</li>
          <li class="col2">{{campaignPaymentDetails.act_budget |number : 2}}</li>
          <li class="col1 text_color">18% GST :</li>
          <li class="col2 text_color">{{ campaignPaymentDetails.gst_price |number : 2 ||"N/A" }}</li>
          <li class="col1">Grand Total :</li>
          <li class="col2">{{campaignPaymentDetails.totalamount |number : 2}}</li>
          <li class="col1">Paid :</li>
          <li class="col2">{{campaignPaymentDetails.total_paid |number : 2}}</li>
        </ul>
        <div class=""></div>
        <ul id="total">
          <li class="col1">Balance :</li>
          <li class="col2">{{campaignPaymentDetails.totalamount-campaignPaymentDetails.total_paid |number : 2}}</li>
        </ul>
        <div class=""></div>
      </div>
    </div>
  </div>
  
  
  
  <script>
    function shareownerCampaign() {
      document.getElementById("ownerupdatepaymentDrop").classList.toggle("show");
    }
    function addPayment() {
      document.getElementById("addpaymentdrop").classList.toggle("show");
    }
  </script>
  
  <script>
    var loadFile = function (event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>